<div class="document-upload">
    <form class="form-field-inline" ng-submit="save()">
        <div class="form-field">
            <div>
                <label>Visit Type<span class="asterick">*</span></label>
            </div>
            <div class="field-value">
                <select ng-model="visitType" ng-options="vt.display for vt in visitTypes" required>
                    <option value></option>
                </select>
            </div>
        </div>
        <div class="form-field">
            <div>
                <label class="form-attribute">Start Date<span class="asterick">*</span></label></div>
            <div class="field-value">
                <input type="text" ng-model="startDate" datepicker required class="field-value"/></div>
        </div>
        <div class="form-field">
            <div>
                <label class="form-attribute">End Date</label></div>
            <div class="field-value">
                <input type="text" ng-model="endDate" datepicker class="field-value"/></div>
        </div>
        <div class="upload-inline-buttons">
            <input id="file-browse" type="file" accept="image/*" capture="camera" file-upload required/>

            <label for="file-browse" class="icon-camera">SCAN</label>
            <button type="submit" class="icon-save">SAVE</button>
        </div>
        <div id="visitDiv" class="clear">
            <img ng-repeat="img in images" ng-src="{{img}}" width="100"/>
        </div>
    </form>
    <div id="messages">
        <p class="success" ng-show="success"><i class="icon-ok-circle white small"></i>File(s) uploaded successfully</p>
    </div>
</div>
