.provider-notifications-next-ui {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;

    .provider-notification-headers {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      color: black;
      font-weight: 500;
    }
  }

  