<section class="bacteriology-dashboard" confirm-on-exit>
    <h2 class="section-title">{{section | titleTranslate}}</h2>
    <div>
        <div ng-include src="'../common/ui-helper/messages.html'"></div>
        <section class="block hierarchy">
            <ul class="form-field">
                <li ng-repeat="specimen in specimens" >
                <span class="tree-list-item">
                    <span class="specimen-info">
                        <span class="specimenSource toggle-container"   toggle="specimen.isOpen">
                            <i class="fa fa-caret-right"></i>
                            <i class="fa fa-caret-down"></i>
                            {{getDisplayName(specimen)}} :
                            <span class="specimenId">{{specimen.specimenId}}</span>
                        </span>

                        <span class="specimenCollectionDate fr">
                            <i show-if-privilege="app:clinical:bacteriologyTab" class="fa fa-pencil fl" ng-click="editBacteriologySample(specimen)"></i>
                            {{specimen.specimenCollectionDate | bahmniDate}}
                        </span>
                    </span>

                </span>

                    <ul ng-show="specimen.isOpen">
                        <show-observation patient="patient" observation="specimen.sampleResult"></show-observation>
                    </ul>
                    <div ng-show="!hasResults(specimen.sampleResult) && specimen.isOpen">
                        <div class="placeholder-text"><p translate="NO_SPECIMEN_RESULT_FOUND_MESSAGE"></p></div>
                    </div>
                </li>
                <li ng-show="!isDataPresent()">
                    <div class="placeholder-text"><p translate="NO_SPECIMEN_FOUND_MESSAGE"></p></div>
                </li>
            </ul>
        </section>
    </div>
</section>
