<section class="block section-grid">
    <h2 ng-click="toggleChart()" class="section-title row-click">
        <i class="fa fa-caret-right" ng-hide="showChart"></i>
        <i class="fa fa-caret-down" ng-show="showChart"></i>
        {{'INVESTIGATION_CHART_KEY' | translate }}
    </h2>
    <div>
        <div class="hidden-print">
            <!-- Always hide this table on print -->
            <table class="ipd-investigation h-scroll" bindonce="accessions" bm-show="showChart">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <td class="normal" ng-repeat="testOrderLabel in accessions.getTestOrderLabels()">
                        <span bo-text="testOrderLabel.testName"></span>
                                <span ng-show="accessions.hasRange(testOrderLabel)" class="range">
                                    <span bo-text="'(' + testOrderLabel.minNormal + ' - ' + testOrderLabel.maxNormal + ')'"></span>
                                    <span bo-text="testOrderLabel.testUnitOfMeasurement"></span>
                                </span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dateLabel in accessions.getDateLabels()">
                    <td ng-if="!displayNepaliDates">{{dateLabel.date | bahmniDate}}</td>
                    <td ng-if="displayNepaliDates">{{dateLabel.date | npDate}}</td>
                    <td ng-repeat="testOrderLabel in accessions.getTestOrderLabels()"
                        ng-class="{'has-uploaded-file': accessions.hasUploadedFiles(dateLabel, testOrderLabel)}">
                        <span ng-init="results = accessions.getResult(dateLabel, testOrderLabel)">
                            <span bm-pop-over autoclose="true" class="test-result" ng-repeat="res in results">
                                <span ng-class="{'referred-out': res.referredOut}">
                                    <span class="referred">R</span>
                                </span>
                                <span ng-if="res.result" bm-pop-over-trigger
                                      ng-class="{'is-abnormal': res.abnormal, 'one-result': results.length==1}"
                                      class="ipd-test-results fl" bo-text="res.result">
                                </span>
                                <span ng-if="res.uploadedFileName" class="upload-file-url">
                                    <a class="uploaded-file" href="{{getUploadedFileUrl(res.uploadedFileName)}}"
                                       stop-event-propagation="click" target="_blank">
                                        <i class="fa fa-paperclip"></i>
                                    </a>
                                </span>
                                <span class="tooltip" bm-pop-over-target>
                                    <i class="fa fa-caret-left"></i>
                                    <span ng-class="{'is-abnormal': res.abnormal}">{{res.result}}</span>
                                </span>
                            </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="visible-print">
            <!-- show this table ONLY on print -->
            <table class="ipd-investigation-print" bindonce="accessions" >
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="normal" ng-repeat="dateLabel in accessions.getDateLabels()">
                        <span ng-if="!displayNepaliDates">{{dateLabel.date | bahmniDate}}</span>
                        <span ng-if="displayNepaliDates">{{dateLabel.date | npDate}}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="testOrderLabel in accessions.getTestOrderLabels()">
                    <th>
                        <span bo-text="testOrderLabel.testName"></span>
                        <span ng-show="accessions.hasRange(testOrderLabel)" class="range">
                            <span bo-text="'(' + testOrderLabel.minNormal + ' - ' + testOrderLabel.maxNormal + ')'"></span>
                            <span bo-text="testOrderLabel.testUnitOfMeasurement"></span>
                        </span>
                    </th>
                    <td ng-repeat="dateLabel in accessions.getDateLabels()"
                        ng-class="{'has-uploaded-file': accessions.hasUploadedFiles(dateLabel, testOrderLabel)}">
                        <span ng-init="results = accessions.getResult(dateLabel, testOrderLabel)">
                            <span bm-pop-over autoclose="true" class="test-result" ng-repeat="res in results">
                                <span ng-class="{'referred-out': res.referredOut}">
                                    <span class="referred">R</span>
                                </span>
                                <span ng-if="res.result" bm-pop-over-trigger
                                      ng-class="{'is-abnormal': res.abnormal, 'one-result': results.length==1}"
                                      class="ipd-test-results fl" bo-text="res.result">
                                </span>
                                <span ng-if="res.uploadedFileName"  class="upload-file-url">
                                    <a class="uploaded-file" href="{{getUploadedFileUrl(res.uploadedFileName)}}"
                                       stop-event-propagation="click" target="_blank">
                                        <i class="fa fa-paperclip"></i>
                                    </a>
                                </span>
                                <span class="tooltip" bm-pop-over-target>
                                    <i class="fa fa-caret-left"></i>
                                    <span ng-class="{'is-abnormal': res.abnormal}">{{res.result}}</span>
                                </span>
                            </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>