<tr bo-if="test.isPanel" class="header">
    <td colspan="3"><strong>{{::getLocaleSpecificNameForPanel(test)}}</strong></td>
</tr>

<tr bo-if="!test.isPanel" ng-class="{'test-notes-parent': test.notes, 'notes-open': test.showDetails}">
    <td class="testUnderPanel" bo-class="{'has-uploaded-file': test.uploadedFileName}">
        <span ng-if="!test.uploadedFileName" bo-text="::getLocaleSpecificNameForTest(test)" ng-style="{'padding-left': test.panelName ? '20px' : ''}"></span>
        <span ng-if="test.labReportUrl">
            <a  href="{{test.labReportUrl}}" stop-event-propagation="click" target="_blank">{{::getLocaleSpecificNameForTest(test)}}
            </a>
        </span>
        <span bo-show="test.hasRange" class="range">
            <span bo-text="getFormattedRange(test)"></span>
        </span>
        <span bo-show="test.testUnitOfMeasurement" class="range" bo-text="test.testUnitOfMeasurement"></span>
    </td>
    <td class="value has-toggle-btn">
        <span bo-class="{'referred-out': test.referredOut}">
            <span class="referred">R</span>
        </span>
        <span ng-show="::isValidResultToShow(test.result)" bo-class="{'is-abnormal': test.abnormal}" class="value"
              bo-text="test.result"></span>
        <span ng-if="test.labReportUrl">
            <a class="uploaded-file" href="{{test.labReportUrl}}" target="_blank"><i class="fa fa-paperclip"></i></a>
        </span>
    </td>
    <td class="toggle-btn" toggle="test.showDetails" ng-if="test.showDetailsButton && !test.notes">
        <button class="toggle fr">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
        </button>
    </td>
</tr>
<tr ng-if="test.notes" ng-class="{'has-test-notes': test.notes}">
    <td colspan="3" class="notes test-notes">
        <i class="fa fa-comments left"></i>
        <pre class="left">{{ test.notes }}</pre>
        <div class="footer-note right">
            <span ng-show="test.provider" bo-text="test.provider">&nbsp;</span>
            <span>{{ test.resultDateTime | bahmniDateTime}}</span>
        </div>
    </td>
</tr>
<tr ng-if="test.showDetails">
    <td colspan="3" class="notes inline-notes">
        <div class="footer-note right">
            <span ng-show="test.provider" bo-text="test.provider">&nbsp;</span>
            <span>{{ test.resultDateTime | bahmniDateTime}}</span>
        </div>
    </td>
</tr>
