<section class="block section-grid expand-investigation-chart">
    <h2 class="section-title row-click">
        <span>{{'LAB_ORDERS_KEY' | translate }}</span>
    </h2>
    <div>
        <div>
            <div ng-if="accessions.tabularResult.orders.length == 0">
                <p class="placeholder-text">{{'NO_LAB_ORDERS_FOR_PATIENT_MESSAGE_KEY' | translate}}</p>
            </div>
            <table class="investigation-chart" bindonce="accessions">
                <thead ng-if="::!params.hideResultsColumn">
                    <tr>
                        <th nowrap>&nbsp;</th>
                        <td nowrap ng-repeat="dateLabel in accessions.getDateLabels()">{{::dateLabel.date | bahmniDate}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="testOrderLabel in accessions.getTestOrderLabels()">
                        <td class="normal fixed-column">
                            <span ng-if="!testOrderLabel.isPanel" bo-text="testOrderLabel.testName" ng-style="{'padding-left': params.chartConfig.groupByPanel && testOrderLabel.panelName ? '20px' : ''}"></span>
                            <span ng-if="testOrderLabel.isPanel" bo-text="testOrderLabel.orderName" class="labPanel"></span>
                            <span ng-show="::accessions.hasRange(testOrderLabel)" class="range">
                                <span bo-text="'(' + testOrderLabel.minNormal + ' - ' + testOrderLabel.maxNormal + ')'"></span>
                            </span>
                            <span ng-if="::!params.showOrders" bo-text="testOrderLabel.testUnitOfMeasurement" ng-show="::accessions.hasUnits(testOrderLabel)" class="range" ></span>
                        </td>
                        <td ng-repeat="dateLabel in accessions.getDateLabels()"
                            ng-class="::{'has-uploaded-file': accessions.hasUploadedFiles(dateLabel, testOrderLabel)}"
                            ng-if="::!params.hideResultsColumn">
                            <span ng-init="results = accessions.getResult(dateLabel, testOrderLabel)">
                                <span bm-pop-over autoclose="true" class="test-result" ng-repeat="res in results">
                                    <span ng-class="::{'referred-out': res.referredOut}">
                                        <span class="referred">R</span>
                                    </span>
                                    <span ng-if="::res.result" bm-pop-over-trigger
                                          ng-class="::{'is-abnormal': res.abnormal, 'one-result': results.length==1}"
                                          class="ipd-test-results fl" bo-text="res.result">1
                                    </span>
                                    <span ng-if="::res.uploadedFileName" class="upload-file-url">
                                        <a class="uploaded-file" href="{{::getUploadedFileUrl(res.uploadedFileName)}}"
                                           stop-event-propagation="click" target="_blank">
                                            <i class="fa fa-paperclip"></i>
                                        </a>
                                    </span>
                                    <span class="tooltip" bm-pop-over-target>
                                        <i class="fa fa-caret-left"></i>
                                        <span ng-class="::{'is-abnormal': res.abnormal}">{{::res.result}}</span>
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>