.adt {

    .adt-disposition-action {
        margin: 5px 5px 0 0;
    }
    select.disposition-action {
        color: #363463;
        display: block;
        padding: 5px 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        background-color: #FFF;
        border: 1px solid $lighterGray;
    }
    .patient-disposition-status {
        color: green;
        padding-top: 10px;
    }
    .form-horizontal fieldset label {
        text-align: left;
        margin-left: 0;
        padding-bottom: 5px;
    }
    .form-group .field-value textarea {
        width: 98%;
        margin:0 0 5px 0;
    }
    .submit-btn-container{
        .admit_btn{
            margin:0 5px; 
        }
    }
}

.patient-attributes {
    label {
        color: #65645F;
        font-weight: 600;
    }
    padding-bottom: 5px;
}

div[ng-app="ipd"] {
    .non-icon-back-btn {
        padding: 12px 10px;
    }
}

div[ng-app="adt"] {
    .ward-list {
        .section-grid {
            margin-bottom: 10px;
        }
        .section-title {
            cursor: pointer;
            padding: 0;
            small {
                color: beige;
            }
            span.ward-header{
              display: inline-block;
              width:90%;
              height: 37px;
              padding: 10px;
            }
        }
      .quick-links{
        padding: 10px 0;
      }
    }
    .ward-details-cell {
        padding: 0;
    }
    .ward-details-container {
        width: 100%;
        max-width: $max-page-width;
        overflow-x: auto;
        table {
            font-size: 14px;
            thead tr th{
                border: 1px solid #bebebe;
                color:$black;
                background: rgba(232, 232, 232, 1);
                padding: 7px 10px;
                &.bed-detail-column{
                    width: 60px;
                }
            }
            tbody tr:nth-child(even) {
              background: $clinicalFormFocusBg;
            }
        }
        .no-data-info{
            font-family: openSansBold;
            padding: 10px 0;
            display: inline-block;
            text-align: center;
            width: 100%;
        }
    }
    .box {
        @media screen and (max-width: 859px) {
            margin-bottom: 15px;
        }
    }
}
.drug-details{
    margin-top:15px;
}

.left-pane {
    position: fixed;
    float: left;
    left: 66px;
    margin-right: 20px;
    width: 295px;
    border: 1px solid #ddd;
    padding: 20px;
    word-wrap: break-word;
}

.action-button {
    padding: 10px 0;
}

.ipd-button-group {
    text-align: center;
    margin-top: 15px;
}

.transfer-container {
    text-align: center;

    span {
        font-weight: 600;
    }
}

.ipd-transfer-container {
    margin: 30px 20px 0;

    i {
        font-size: 3em;
        color: #65645F;
    }
}

.transfer-wrapper {
    width: auto;
}

.discharge-wrapper {
    width: 500px;
}

.transfer-section {
    margin: 20px;
}

.right-pane {
    float: right;
    border: 1px solid #ddd;
    width: calc(100% - 335px);

    .clearfix {
        padding: 10px 20px;
    }

    ward {
        padding: 10px 20px;
    }
}

.selected {
    font-weight: 600;
}

#bedLayout {
    display: block;
    margin-top: 30px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

.room {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.total-details {
    &:hover {
        cursor: default !important;
        background-color: #fafafa !important;
    }
}

#beds {
    display: block;
}

.room-details {
    padding: 20px;
    font-size: 12px;
    margin-right: 20px;
    &:hover {
        cursor: pointer;
        background-color: #ddd;
    }
}

.room-selected {
    background-color: #ddd !important;
}

.floor-header {
    color: #1223A1;
    font-weight: 600;
    text-align: center;
}

.bed-status {
    margin-top: 5px;
    color: #fff;
    text-align: center;

    span {
        padding: 3px;
    }
}

.available {
    background: #0cbc3d;

}

.occupied {
    background: #DFB831;
}

.cell {
    background: white;
    border: 1px solid blue;
}

.bed-tag {
    width: 40px;
    height: 25px;
    border-radius: 7px;
    display: inline-block;
    float: left;
    margin: 2px;
    box-sizing: border-box;
    position: relative;

    .bed-space {
        width: 5px;
        height: 12px;
        box-sizing: border-box;
    }
}

.bed {
    width: 110px;
    height: 50px;
    border-radius: 7px;
    float: left;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
}

.bed-space {
    width: 10px;
    height: 36px;
    margin: 7px;
    border-radius: 10px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}

.bed-details {
    display: inline-block;
    margin: 10px 10px;
    font-size: 10px;
}

.OCCUPIED {
    background: #0cbc3d;
    color: white;
    .bed-space {
        background: white;
    }
}

.AVAILABLE {
    border: 1px solid #0cbc3d;
    .bed-space {
        border: 1px solid #0cbc3d;
    }
}

.highlight-bed:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid blue;
}

.highlight-old-bed:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid grey;
}

.ngdialog.ngdialog-theme-default.ng-dialog-adt-popUp{
    .ngdialog-content{
        width:auto;
        display: table;
        .form-horizontal {
            fieldset label {
                width: auto;
            }
            textarea{
                min-width:66%;
            }
        }
    }
}