<div class="reg-body-wrapper">

    <div class="simple-form-ui new-patient">
        <form name="myForm" class="form-horizontal well" ng-submit="create()">
            <legend class="mylegend"><span><strong>Emergency Patient Registration (Patient Profile Information)</strong></span></legend>
            <section class="clearfix">
                <article class="form-field">
                    <div class="field-attribute">
                        <label class="control-label" for="center">Center</label>
                    </div>

                    <div class="field-value">
                        <select id="center" ng-model="patient.centerID" ng-options="c.name for c in centers"
                                required> </select>
                    </div>
                </article>
            </section>
            <section>
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="patientName">Patient Name</label>
                    </div>

                    <div class="field-value" id="patientName">
                        <input type="text" id="givenName" ng-model="patient.givenName" placeholder="First Name"
                               title="Enter patient's first name.">
                        <input type="text" id="familyName" ng-model="patient.familyName"
                               placeholder="Last Name" title="Enter patient's last name.">
                    </div>
                </article>
            </section>
            <section class="form-field-inline form-field-gender">
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="gender">Gender <span class="asterick">*</span></label>
                    </div>

                    <div class="field-value">
                        <select id="gender" ng-model="patient.gender" required="required" title="Select Gender" required="required">
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>
                </article>
            </section>
            <section class="form-field-inline">
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="ageYears">Age</label>
                    </div>

                    <div class="field-value age-field">
                        <div class="input-prepend">
                            <span class="add-on">Years</span>
                            <input type="number" id="ageYears" name="ageYear" max="120" ng-model="patient.age.years" min="0"
                                   ng-required="patient.age.isEmpty()" title="Enter a numeric value for Years.">
                        </div>
                    </div>
                </article>
            </section>
            <div class="submit-btn-container">
                <div class="right">
                    <button type="submit" class="confirm">Next</button>
                </div>
            </div>
        </form>
        <br>
    </div>
</div>