<article class="patient-dashboard visit">
    <div class="pgContainer">
        <article>
            <div ng-repeat="sections in sectionGroups" class="dashboard-sections-wrapper">
                <div ng-if="::isFullPageSection(sections)" ng-repeat="section in sections" class="dashboard-sections fullpage-container">
                    <section id="{{section.id}}"
                             class="dashboard-section"
                             ng-class="{'visible-print': section.showOnlyInPrint}"
                             ng-include="::section.viewName">
                    </section>
                </div>

                <div ng-if="::(isHalfPageSection(sections) || (isOneFourthPageSection(sections) && (!hasThreeFourthPageSection(sections,1))&&!hasThreeFourthPageSection(sections,0)))">
                    <div class="dashboard-sections halfpage-container dashboard-sections-left">
                        <div ng-repeat="section in sections | filter:filterOdd(0)">
                            <section id="{{section.id}}" class="dashboard-section {{section.displayType}}"
                                     ng-include="::section.viewName" ng-class="{'visible-print': section.showOnlyInPrint}">
                            </section>
                        </div>
                    </div>

                    <div class="dashboard-sections halfpage-container dashboard-sections-right">
                        <div ng-repeat="section in sections | filter:filterEven(0)">
                            <section id="{{section.id}}" class="dashboard-section {{section.displayType}}"
                                     ng-class="{'visible-print': section.showOnlyInPrint}">
                                <ng-include src="::section.viewName"></ng-include>
                            </section>
                        </div>
                    </div>
                </div>
                <div ng-if="::containsThreeFourthPageSection(sections)" class="dashboard-sections three-fourth-page-container">
                    <div ng-repeat="section in sections" class="three-fourth-page section-{{::$index}} {{section.displayType}}">
                        <section id="{{section.id}}" ng-include="::section.viewName" class="dashboard-section"
                                 ng-class="{'visible-print': section.showOnlyInPrint}"></section>
                    </div>
                </div>
            </div>
        </article>
    </div>
</article>