<article class="patient-dashboard visit">
    <div class="pgContainer">
        <article>
            <div ng-repeat="sections in sectionGroups"class="dashboard-section-wrapper">
                <div ng-if="isFullPageSection(sections)" ng-repeat="section in sections" class="dashboard-sections" ng-class="{'dashboard-section-fullpage': isFullPageSection([section])}" >
                    <section id="{{section.title.toValidId()}}"
                             class="dashboard-section"
                             ng-include="section.viewName">
                    </section>
                </div>

                <div ng-if="!isFullPageSection(sections)"class="dashboard-section-wrapper">
                    <div class="dashboard-sections dashboard-sections-left">
                        <div ng-repeat="section in sections | filter:filterOdd(0)">
                            <section id="{{section.title.toValidId()}}" class="dashboard-section"
                                     ng-include="section.viewName">
                            </section>
                        </div>
                    </div>

                    <div class="dashboard-sections dashboard-sections-right">
                        <div ng-repeat="section in sections | filter:filterEven(0)">
                            <section id="{{section.title.toValidId()}}" class="dashboard-section">
                                <ng-include src="section.viewName"></ng-include>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</article>
