@charset "UTF-8";

body{}

.box {
    background-color: #ffffff;
    border: 4px solid #000000;
    border-radius: 19px;
    padding: 10px;
    margin: 5px;
}
.box-gradient{
    height: 50px;
    background-color: #e3fff5;
    border: 2px solid #c2b7b0;
    background-image: -webkit-linear-gradient(top, #848a7d, #fff9f7);
    background-image: linear-gradient(top, #848a7d, #fff9f7);
    background-clip: padding-box;
}
.button{
    height: 40px;
    width: 150px;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;

}
.centeredDiv{
    width: 140px;
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}
.roundedInput{
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    width: 450px;
    height: 40px;
    font-size: 25px
}
.leftBox{
    display:block;
    float:left;
    width:50%;
}
.rightBox{
    display:block;
    float:right;
    width:50%;
}
.centered{
    text-align: center;
}
.smallImages{
    max-height: 100px;
    width: 100px;
}