/* column view container */
.column-view-container {
    // width: 695px;
    height: 350px;
    margin-top:20px;
    border: 1px solid #ccc;
    background: #FFF;
    display: block;

    overflow-x: auto;
    overflow-y: hidden;
}

/* the composition div for colums */
.column-view-composition { 
    display: table;
    white-space: nowrap;
}

/**/
.column {
    display: table-cell;
}

.column:last-child {
    border-right: 0;
    margin-top:10px;
}

.column:only-child {
    border-right: 1px solid #999;
    padding-top:10px;
    padding-bottom:10px;

}

/* for error messages */
.column > p {
    margin: 10px;

    font-size: 15px;
    color: #666;
}

/* for column listing */
.column ul {
    margin: 0;

    height: 350px;
    width: 305px;

    overflow-y: auto;

    list-style: none;
    padding: 0px
}

.column ul li {
    margin: 0;
    padding: 1px 10px;
    margin-bottom: 8px;
    font-size: 16px;
    button{
        padding:8px 15px
    }
    span.icon-ok{
        padding:10px 10px;
        margin-right:18px;

    }
    span.column-row-label{
    padding:11px 10px;
    display: inline-block;
}
}

.column ul li:hover {
    cursor: pointer;
}

.column ul li i {
    float: right;
}

.focus {
    background-color: #999999;
    color: WHITE;
}

.activeColumn .focus {
    background-color: #f1f1f1;
    color: #000;
}

.addButton{
  font-size: 25px;
  margin-left: 110px;
}

.disabled {
    background-color: #f1f1f1;
    color: #000;
}

.opd-tree-selector {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom:10px;
}
