<div class="template-container">
    <h6>{{ 'ALL_KEY' | translate }} {{section | titleTranslate}}</h6>
    <div class="concept-set-container">
        <div pivot-table patient-uuid="patient.uuid" config="section.expandedViewConfig.pivotTable" display-name="section.title"></div>
        <observation-graph visit-uuid="visit.uuid" params="section.expandedViewConfig.observationGraph" patient-uuid="patient.uuid"></observation-graph>
        <section id="observationControlSection" class="block observation dashboard-section" >
            <bahmni-observation patient="patient" config="config" section="section" section-title="section | titleTranslate" is-on-dashboard="false" has-no-hierarchy="true"></bahmni-observation>
        </section>
    </div>
</div>
