<!-- <header class="template-header">
    <button id="backButton" class="ngdialog-close back-btn" ng-click="closeThisDialog()">
        <i class="fa fa-arrow-circle-left"></i>
    </button>
    <h5>
        <i class="fa fa-user"></i> 
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    
</header> -->
<div class="template-container">
    <h6>{{ 'ALL_KEY' | translate }} {{section.translationKey | translate}}</h6>
	<div pivot-table patient-uuid="patient.uuid" config="section.allObservationDetails.pivotTable" display-name="section.title"></div>
    <observation-graph visit-uuid="visit.uuid" params="section.allObservationDetails.observationGraph" patient-uuid="patient.uuid"></observation-graph>
    <section id="observationControlSection" class="block observation dashboard-section" >
        <bahmni-observation patient="patient" config="config" section="section" section-title="section.translationKey" is-on-dashboard="false"></bahmni-observation>
    </section>
</div>
