<header class="template-header">
    <button class="ngdialog-close back-btn" ng-click="closeThisDialog()">
        <i class="icon-circle-arrow-left"></i> Back
    </button>
    <h5>
        <i class="icon-user"></i> 
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    <h6>All {{section.title}}</h6>
</header>
<div class="template-container">
	<div pivot-table patient-uuid="patient.uuid" config="section.allObservationDetails.pivotTable" display-name="section.title"></div>
    <section class="block observation dashboard-section" >
        <bahmni-observation patient="patient" config="config" section="section" section-title="section.title" is-on-dashboard="false"></bahmni-observation>
    </section>

</div>
