<div class="block " ng-class="{'hidden-print': noObsMessage}">
    <h2 ng-if="!isClickable()" class="section-title">{{title}}</h2>
    <div ng-if="isClickable()" class="dashboard-observations-section">
        <h2 ng-dialog="../common/displaycontrols/observation/views/allObservationDetails.html"
        ng-dialog-controller="AllObservationDetailsController"
        ng-dialog-data="{{dialogData}}"
        class="section-title has-link">
            <span class="title-link"> {{title}} </span>
            <i class="icon-external-link"></i>
        </h2>
    </div>
    <section class="block hierarchy">
        <ul class="form-field">
            <li ng-repeat="obsGroup in ::bahmniObservations">
                <span class="tree-list-item row-click" ng-click="toggle(obsGroup)">
                    <i class="icon-caret-right" ng-hide="obsGroup.isOpen"></i>
                    <i class="icon-caret-down" ng-show="obsGroup.isOpen"></i>
                    <span class="obs-date">
                        {{obsGroup.date | date: 'dd MMM yy hh:mm a'}}
                    </span>
                </span>
                <ul bm-show="obsGroup.isOpen">
                    <show-observation show-details-button="config.showDetailsButton" patient="patient"
                                      observation="observation" ng-repeat="observation in obsGroup.value"
                                      level="2"></show-observation>
                </ul>
            </li>
        </ul>
        <div ng-show="noObsMessage">
            <div class="placeholder-text">No {{title}} for this patient.</div>
        </div>
    </section>
</div>
