.document-upload {
  font-size: 14px;
  header {
    .header-logo {
      position: static;
    }
    ul:first-child {
//      display: none;
    }
  }
  // p.success {
  //   color: #f8f8ff;
  //   padding: 5px;
  //   background: #333;
  //   margin-bottom: 10px;
  //   @include transition-property(display);
  //   @include transition-duration(0.15s);
  //   @include transition-timing-function(ease-in-out);
  // }
  .main {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    h1 {
      height: 40px;
      line-height: 40px;
      @include background(linear-gradient(top, #fff, #ddd));
      border: 1px solid #CCC;
      padding: 0 5px;
      cursor: pointer;
      i.state {
        color: #999;
        font-size: 18px;
        padding: 0;
      }
      small {
        font-size: 90%;
        color: #5A9993;
      }
      .currentVisitMarker {
        color: #E8A000;
        float: right;
      }
    }
    .reg-srch-btn {
      margin-right: 0;
    }
    .tab-content {
      padding-right: 0;
    }
    .containsImageMarker {
      color: #0099cc;
      float: right;
    }
    .visit-content {
        padding: 10px 10px 15px 10px;
        label.btn {
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          border-radius: 3px;
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
          background: -webkit-linear-gradient(top, #ffffff, #dddddd);
          background: -moz-linear-gradient(top, #ffffff, #dddddd);
          background: -o-linear-gradient(top, #ffffff, #dddddd);
          background: linear-gradient(top, #ffffff, #dddddd);
          background-color: #dddddd;
          border: #dddddd 1px solid;
          padding: 21px 30px;
          display: inline-block;
          line-height: 1.2em;
          color: #363463;
          cursor: pointer;
          min-width: 0;
          max-width: 300px;
          text-decoration: none;
          @media screen and (max-width: 480px) {
            width: 49%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            padding: 20px 0;
            margin-top: 8px;
          }
        }
        button[disabled] {
          position: relative;
          top: 1px;
          color: #EEE;
        }
        .btn {
          padding: 20px 30px;
          &.btn-primary {
            background: #447772;
            color: #FFF;

            &[disabled] {
              background: grey;
            }
          }
          @media screen and (max-width: 480px) {
            width: 49%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            padding: 20px 0;
            margin-top: 8px;
          }
        }
        .files > li {
          clear: both;
          overflow: auto;
          padding: 10px 0;
          border-bottom: 1px solid #eee;
          &:last-child {
            border-bottom: 0;
          }
          .upload-inline-buttons {
            float: left;
          }
          img {
            float: left;
            width: 50px;
            height: 50px;
            background: #ccc;
            padding: 5px;
            margin-right: 10px;
          }
          .concept-name {
            min-width: 200px;
            margin: 0;
          }
          .concept-name.saved {
            font-family: OpenSansBold;
            border: 1px solid #efefef;
            width: 200px;
          }
          .placeholder {
            // border: 3px dashed #ddd;
            width: 50px;
            height: 50px;
            // background: #fefefe;
            padding: 2px;
            float: left;
            margin: 5px 20px 5px 2px;
            text-align: center;
            i {
              color: green;
              font-size: 20px;
              line-height: 55px;
              width: 40px;
            }
          }
          .file {
            overflow: auto;
            float: left;
            @media screen and (max-width: 480px) {
              width: 80%;
            }
          }
          .file-actions {
            clear: right;
            float: right;
            padding: 10px 0;
            @media screen and (max-width: 480px) {
              width: 100%;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }
          }
          .file-remove {
            float: right;
            .row-remover span.icon-undo {
              color: #333;
            }
          }
        }
    }
    input:invalid {
      border: solid 2px #FF9494; 
    }
    select:invalid {
      border: solid 2px #FF9494;
    }

    @media screen and (max-width: 480px) {
      .field-value, form select {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
    .form-field {
      clear: both;
    }
  }

  .reg-search-wrapper {
    h1 {
      font-size: 18px;
      padding: 0 5px;
      margin-bottom: 20px;
    }
    label {
      display: none;
    }
    input[type="text"] {
      height: 23px;
    }
    .reg-srch-btn {
      margin: 4px 0 0 5px;
    }
    h2 {
      font-size: 16px;
      margin: 10px 0 0 0;
      padding: 10px 5px;
      border-top: 1px solid #AAA;
      border-bottom: 1px solid #CCC;
      background: #F2F2F2;
    }
    .patients {
      li {
        display: block;
        position: relative;
        border-bottom: 1px solid #CCC;
        height: 65px;
        &:hover, &:focus, &:active {
          cursor: pointer;
          background: #f8f8f8;
          .icon-user, h3 {
            color: #009384;
          }
        }
        i {
          position: absolute;
          left: 5px;
          top: 10px;
          color: #999;
          & + div {
            position: absolute;
            left: 35px;
            top: 12px;
            h3 {
              font-size: 18px;
              margin-bottom: 7px;
            }
            .id {
              margin-right: 5px;
            }
            .name {
              margin-right: 5px;
            }
            .village {
              font-size: 14px;
            }
            .gender, .age {
              font-size: 14px;
              display: inline-block;
              padding: 3px;
              background: #EEE;
              @include border-radius(3);
              width: 20px;
              text-align: center;
            }
          }
        }
        .registration {
          font-size: 12px;
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }
}
.doc-upload-accordion {
  margin: 5px;
}
button.mfp-close {
  font-size: 50px;
  color: #fff;
  opacity: 1!important;
  &:before {
    content: "Close";
    font-size: 24px;
    position: relative;
    bottom: 10px;
    right: 10px;
  }
}
button.mfp-close:hover {
  background: none!important;
  cursor: pointer!important;
}
.white-popup {
  button.mfp-close {
    width: auto;
  }
}
.mfp-arrow {
  top: initial;
}
.mfp-arrow-left, .mfp-arrow-right {
  bottom: 40%;
  background: #4D9B92!important;
  opacity: 1!important;
}
.mfp-title, .mfp-counter {
  color: #fff;
  opacity: 1!important;
  font-size: 16px;
}
.visit-content form p {
  margin-bottom: 0;}
.messages {
  .error-message, .info-message {
    width: 35%;
    top: 100px;
    margin: 5px auto;
    color: #333;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 0px 8px -1px #ccc;
    font-size: 14px;
    font-family: OpenSansBold;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 32%;
    z-index: 1;
    @include transition-property(display);
    @include transition-duration(2s);
    @include transition-timing-function(ease-in-out);
  }
  .error-message {
    background: #ffcccc;
    border: 1px solid #ff9999;
  }
  .info-message {
    background: #f9edbe;
    border: 1px solid #f0c36d;
    color: green;
    p:before {
      content: "\f00c";
      font-family: FontAwesome;
      margin-right: 5px;
      font-size: 18px;
    }
  }
}

.document-upload {
    .patient-details {
        top: 17px;
        color: #eee;
    }
}

@media screen and (max-width: 768px) {
    .document-upload {
	    .doc-upload-accordion {
		    padding-top: 20px;
	    }
	    .patient-details {
		    top: 50px;
		    color: #555;
		    background: #fff;
		    padding: 5px;
		    width: 100%;
		    text-align: right;
		    right: 0;
	    }
	    .messages {
		    .error-message, .info-message {
			    top: 70px;
		    }
	    }
    }
}