<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../lib/jquery/jquery-ui-1.10.3.custom.min.css">
        <!-- build:css consultation.min.css -->
        <link rel="stylesheet" href="../styles/styles.css"/>
        <link rel="stylesheet" href="../styles/treeSelector.css"/>
        <!-- endbuild -->
        <title>OPD</title>
    </head>
    <body>

        <div ng-app="consultation" >
            <div class="opd-header-wrapper">
            <header class="reg-header" ng-controller="ConsultationNavigationController">
                        <ul class="header-tabs">
                            <li ng-repeat="board in availableBoards"> 
                                <button ng-click="showBoard(board.name)" class="button" ng-class="{'tabs-selected':currentBoard.name==board.name}">
                                    {{board.name}}
                                </button>
                            </li>
                        </ul>
                         <ul class="patient-info">
                            <li><img class="roundImages" ng-src="{{patient.image}}"  onerror="this.onerror=null;this.src='../images/blank-user.gif';"></li>
                             <li class="logoff">
                                <button ng-click="logout()"><i class="icon-off icon-white small"></i></button>
                            </li>
                        </ul>

                        <div class="patient-detail">
                            <ul>
                                <li>{{patient.identifier}}</li>
                                <li><span>{{patient.name}},</span></li>
                                <li>{{patient.gender | gender }}, {{patient.age}}</li>
                                <li>{{bed.bedNumber}}</li>
                            </ul>
                        </div>
                </header>
                </div>
                <div class="opd-wrapper">
                <div ng-view id="view-content" class="opd-content-wrapper"></div>
                </div>
            <script src="../components/jquery/jquery.js"></script>
            <script src="../lib/jquery/jquery-ui-1.10.3.custom.min.js"></script>
            <script src="../components/keyboardjs/keyboard.js"></script>
            <script src="../components/angular/angular.js"></script>
            <script src="../components/angular-cookies/angular-cookies.js"></script>

            <!-- build:js consultation.min.js -->
            <script src="../common/constants.js"></script>
            <script src="../common/modules/infrastructure/init.js"></script>
            <script src="../common/modules/infrastructure/services/configurationService.js"></script>
            
            <script src="../common/modules/patient/init.js"></script>
            <script src="../common/modules/patient/mappers/patientMapper.js"></script>
            <script src="../common/modules/patient/services/patientService.js"></script>
            <script src="../common/modules/patient/filters/gender.js"></script>

            <script src="constants.js"></script>
            <script src="app.js"></script>
            
            <script src="modules/tree-select/init.js"></script>
            <script src="modules/tree-select/models/column.js"></script>
            <script src="modules/tree-select/models/node.js"></script>
            <script src="modules/tree-select/models/explorer.js"></script>
            <script src="modules/tree-select/services/conceptTreeService.js"></script>
            <script src="modules/tree-select/directives/keyboardNavigation.js"></script>
            <script src="modules/tree-select/directives/treeSelector.js"></script>

            <script src="modules/consultation/init.js"></script>
            <script src="modules/consultation/encounterConfig.js"></script>
            <script src="modules/consultation/initialization.js"></script>

            <script src="modules/consultation/models/treatmentDrug.js"></script>
            <script src="modules/consultation/mappers/consultationMapper.js"></script>
            <script src="modules/consultation/mappers/dispositionMapper.js"></script>
            <script src="modules/consultation/controllers/consultationController.js"></script>
            <script src="modules/consultation/controllers/diagnosisController.js"></script>
            <script src="modules/consultation/controllers/investigationController.js"></script>
            <script src="modules/consultation/controllers/treatmentController.js"></script>
            <script src="modules/consultation/services/treatmentService.js"></script>
            <script src="modules/consultation/services/diagnosisService.js"></script>
            <script src="modules/consultation/services/consultationService.js"></script>
            <script src="modules/consultation/services/visitService.js"></script>
            <script src="modules/consultation/controllers/dispositionController.js"></script>
            <script src="modules/consultation/services/dispositionService.js"></script>
            <script src="modules/consultation/controllers/navigationController.js"></script>
            <script src="modules/consultation/models/diagnosis.js"></script>

            <script src="modules/bed-management/init.js"></script>
            <script src="modules/bed-management/controllers/wardsListController.js"></script>
            <script src="modules/bed-management/controllers/wardLayoutController.js"></script>
            <script src="modules/bed-management/services/wardsListService.js"></script>
            <script src="modules/bed-management/services/wardLayoutService.js"></script>
            <!-- endbuild -->
        </div>
    </body>
</html>