<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../lib/jquery/jquery-ui-1.10.3.custom.min.css">
        <link rel="stylesheet" href="/openmrs/moduleResources/uicommons/styles/styleguide/index.css"/>
        <!-- build:css consultation.min.css -->
        <link rel="stylesheet" href="../styles/.css/styles.css"/>
        <link rel="stylesheet" href="../styles/.css/treeSelector.css"/>
        <!-- endbuild -->
        <title>OPD</title>
    </head>
    <body>
        <div ng-app="consultation" class="opd-wrapper">
                <div class="opd-inner-wrapper">
                <aside class="sliding-panel" ng-controller="ConsultationNavigationController">
                        <div class="login">Signout</div>
                        <ul>
                            <li>
                            <div class="patient-info">
                                <img src="../images/blank-user.gif">
                                <ul>
                                    <li>Name : {{patient.name}}</li>
                                    <li>Age: {{patient.age}}years</li>
                                    <li>Village: {{patient.village}} </li>
                                 </ul>
                            </div>

                            </li>
                            <li><button ng-click="investigation()" class="button">Investigations</button></li>
                            <li><button ng-click="diagnosis()" class="button">Diagnosis</button></li>
                            <li><button ng-click="treatment()" class="button">Treatment</button></li>
                            <li><button ng-click="templates()" class="button">Templates</button></li>
                        </ul>
                </aside>
                <div ng-view id="view-content" class="opd-right-panel"></div>
            </div>
            <script src="../components/jquery/jquery.js"></script>
            <script src="../lib/jquery/jquery-ui-1.10.3.custom.min.js"></script>
            <script src="../components/keyboardjs/keyboard.js"></script>
            <script src="../components/angular/angular.js"></script>
            <script src="../components/angular-cookies/angular-cookies.js"></script>

            <!-- build:js consultation.min.js -->
            <script src="../common/constants.js"></script>
            <script src="../common/modules/infrastructure/init.js"></script>
            <script src="../common/modules/infrastructure/services/configurationService.js"></script>

            <script src="constants.js"></script>
            <script src="app.js"></script>
            
            <script src="modules/tree-select/init.js"></script>
            <script src="modules/tree-select/models/column.js"></script>
            <script src="modules/tree-select/models/node.js"></script>
            <script src="modules/tree-select/models/explorer.js"></script>
            <script src="modules/tree-select/services/conceptTreeService.js"></script>
            <script src="modules/tree-select/services/nodeSelectionService.js"></script>
            <script src="modules/tree-select/directives/keyboardNavigation.js"></script>
            <script src="modules/tree-select/directives/treeSelector.js"></script>
            

            <script src="modules/consultation/init.js"></script>
            <script src="modules/consultation/encounterConfig.js"></script>
            <script src="modules/consultation/initialization.js"></script>

            <script src="modules/consultation/controllers/consultationController.js"></script>
            <script src="modules/consultation/controllers/diagnosisController.js"></script>
            <script src="modules/consultation/controllers/investigationController.js"></script>
            <script src="modules/consultation/controllers/treatmentController.js"></script>
            <script src="modules/consultation/services/diagnosisService.js"></script>
            <script src="modules/consultation/services/consultationService.js"></script>
            <script src="modules/consultation/controllers/navigationController.js"></script>
            <!-- endbuild -->
        </div>
    </body>
</html>