.patient-list-tile-content {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;

    .patient-info {
        display: flex;
        flex-flow: row;
        justify-content: start;
        align-items: center;
        margin-left: 15px;
        font-size: .875rem;
    }

    a.bx--link.patient-id {
        color: #2b95ff;
        font-size: .875rem;
        margin-right: 5px;
    }
}

.warning {
    display: flex;
    color: red;
    align-items: center;
}
