.patient-list-tile-content {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;

    .patient-info { 
        display: flex;
        flex-flow: row;
        justify-content: start;
        align-items: center;
        margin-left: 20px;
        font-size: .875rem;
    }

    a.bx--link.patient-id {
        color: #2b95ff;
        font-size: .875rem;
    }
}