<section class="block hierarchy visit-dashboard">
    <h2 class="section-title has-link"
        ng-dialog="../common/displaycontrols/forms/views/allForms.html"
        ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page"
        ng-dialog-controller="patientDashboardAllFormsController" ng-dialog-data="{{dialogData}}"
        ng-show="isOnDashboard">
        <span class="title-link"> {{section | titleTranslate}}</span>
        <i class="fa fa-external-link"></i>
    </h2>
    <div>
        <p class="placeholder-text" ng-if="formsNotFound">{{ 'NO_FORM_FOUND_FOR_PATIENT' | translate }}</p>
        <ul class="form-field" class="ng-isolate-scope" id="visitDisplayTable">
            <li>
                <div class="placeholder-text" ng-if="formData.length == 0">
                    <p>{{'NO_DATA_MESSAGE' | translate}}</p>
                </div>
                <div>
                    <ul>
                        <li ng-repeat="data in formData" class="clearfix">
                            <span>{{getDisplayName(data)}}</span>
                       <span class="fr formDataTime" ng-class="{'formDataDate': showFormsDate }">
                            <span ng-hide="::showFormsDate">{{data.obsDatetime || data.encounterDateTime | bahmniDateTime}}</span>
                            <span ng-show="::showFormsDate">{{
                                data.obsDatetime || data.encounterDateTime | bahmniDate}}</span>
                            <span ng-show="doesUserHaveAccessToTheForm(data ,'view')"class="has-link fl formDataEdit"
                                  ng-dialog="../common/displaycontrols/forms/views/showObservationFormData.html"
                                  ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page ng-dialog-view"
                                  ng-dialog-data="{{getConfigToFetchDataAndShow(data)}}">
                                <i class="fa fa-eye"></i>
                            </span>
                            <span ng-show="doesUserHaveAccessToTheForm(data ,'edit') && retrospectiveDateCheck(data)"class="has-link fl formDataEdit"
                                  ng-dialog="dashboard/views/dashboardSections/editObservationForm.html"
                                  ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page ng-dialog-edit"
                                  ng-dialog-data="{{getEditObsData(data)}}"
                                  ng-dialog-scope="this"
                                  ng-dialog-controller="EditObservationFormController"
                                  ng-dialog-pre-close-callback="directivePreCloseCallback">
                                <i class="fa fa-pencil"></i>
                            </span>
                        </span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

