ecmaFeatures:
  modules: true
  jsx: true

env:
  amd: true
  browser: true
  es6: true
  jquery: true
  node: true

extends:
  - semistandard
  - angular

globals:
  AndroidConfigDbService: false
  AndroidOfflineService: false
  Bahmni: true
  CryptoJS: false
  EncounterConfig: true
  FastClick: false
  Modernizr: false
  _: false
  angular: false
  c3: false
  d3: false
  defaults: true
  describe: false
  expect: false
  it: false
  keyboardJS: false
  lf: false
  moment: false
  purl: false
  window: false

rules:
  indent:
    - error
    - 4
  quotes:
    - off
