.DS_Store
nbproject
manifest.mf
build.xml
*.log
*.iml
.project
.settings
test/output
target
output
.sass-cache
ui/.css/
.tmp
ui/node_modules
ui/app/components
ui/dist
ui/cacheAndroidDist
ui/cacheChromeDist
ui/app/styles/**/*.css
ui/app/styles/*.css
**/.DS_Store
test_out
omod/src/main/webapp/*
coverage
ui/style-guide
node_modules
*.tern-port
**/.idea/*
ui/common.background.min.js
ui/dist.zip
