.DS_Store
nbproject
manifest.mf
build.xml
*.log
*.iml
.project
.settings
.idea/*
test/output
target
output
.sass-cache
ui/.css/
.tmp
ui/node_modules
ui/app/components
ui/dist
ui/app/styles/**/*.css
**/.DS_Store
test_out
omod/src/main/webapp/*
