<article class="form-field form-field-ipad" id="age">
    <div class="field-attribute">
        <label for="ageYears">{{ ::'REGISTRATION_LABEL_AGE' | translate}}<span class="asterick" ng-hide="::dobMandatory ">*</span></label>
    </div>

    <div class="field-value age-field">
        <div class="input-prepend">
            <span class="add-on">{{ ::'REGISTRATION_LABEL_YEARS' | translate}}</span>
            <input type="number" id="ageYears" name="ageYear" max="120" ng-model="patient.age.years" min="0"
                   ng-required="::!dobMandatory" title="{{ ::'REGISTRATION_LABEL_NUMERIC_YEARS' | translate}}"
                   ng-change="patient.calculateBirthDate()" ng-blur="handleUpdate('age')">
        </div>
        <div class="input-prepend">
            <span class="add-on">{{ ::'REGISTRATION_LABEL_MONTHS' | translate}}</span>
            <input type="number" id="ageMonths" name="ageMonths" max="12" ng-model="patient.age.months" min="0"
                   title="{{ ::'REGISTRATION_LABEL_NUMERIC_MONTHS' | translate}}"
                   ng-change="patient.calculateBirthDate()">
        </div>
        <div class="input-prepend">
            <span class="add-on">{{ ::'REGISTRATION_LABEL_DAYS' | translate}}</span>
            <input type="number" id="ageDays" name="ageDays" max="31" ng-model="patient.age.days" min="0"
                   title="{{ ::'REGISTRATION_LABEL_NUMERIC_DAYS' | translate}}"
                   ng-change="patient.calculateBirthDate()">
        </div>

    </div>

</article>