<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
    <div class="drug-details">
        <p>
            You are entering an ID which is <strong>{{ngDialogData.sizeOfTheJump}}</strong> ahead of the Sequence.
            It will create a gap of {{ngDialogData.sizeOfTheJump}} in the Sequence. Do you want to continue?
        </p>
    </div>

    <div class="dialog-button-group">
        <button id="modal-refill-button" class="secondary-button" ng-click="yes()" >Yes</button>
        <button id="modal-revise-button" class="secondary-button" ng-click="no()" focus-on="{{true}}">No</button>
    </div>
</div>


