<div class="reg-body-wrapper">
<div class="edit-patient simple-form-ui">
    <form name="myForm"  ng-submit="update()">
        <legend class="mylegend">
            <span><strong>Patient : {{patient.identifier}}</strong></span>
            <span ng-show= "isDigitized" class="right"><strong>Scanned</strong></span>
            <span ng-show= "!isDigitized" class="right"><strong>Paper</strong></span>
        </legend>
        <div>
            <span class="photo-container-wrapper">
                <span class="photo-container">
                        <img id="patient-image" ng-src="{{patient.image}}"
                             onerror="this.onerror=null;this.src='../images/blank-user.gif';"/>
                        <div ng-model="patient.image" capture-photo class="capture-photo-btn"></div>
                 </span>
            </span>
        </div>
        <article class="form-field">
                <div class="field-attribute">
                <label class="control-label">Registration Date</label>
                </div>

                <div class="field-value">
                    <span class="uneditable-input text-only">{{patient.registrationDate | date:'dd-MM-yyyy'}}</span>
               </div>
        </article>
        <ng-include src="patientCommon()" ng-controller="PatientCommonController"></ng-include>

        <div class="submit-btn-container">
            <div>
                <span ng-repeat="extn in editActions">
                    <span ng-switch="extn.extensionParams.action" >
                        <div ng-switch-when="startVisit" split-button options="visitControl.visitTypes"
                             primary-option="visitControl.defaultVisitType"
                             option-text="visitControl.startButtonText" option-click="visitControl.startVisit" class="right"></div>
                        <button ng-switch-default type="submit" class="right" ng-click="setSubmitSource(extn.extensionParams.action)" ng-class="{'confirm':extn.order === 1}">
                            {{extn.extensionParams.display}}
                        </button>
                    </span>
                </span>
                <button type="button" class="right" ng-click="back()" ng-show="showBackButton()">Back to Search Results</button>
            </div>
        </div>
    </form>
    <br>
</div>
</div>