<div class="reg-body-wrapper">
<div class="edit-patient simple-form-ui">
    <form name="myForm"  single-submit="update()">
        <div class="box-container box-container-default">
            <legend class="registraion_legend first-registraion_legend" ng-class="{'removeLegend': patient.primaryIdentifier == undefined}">
                <span class="mylegend"><strong>{{patient.primaryIdentifier.identifierType.name}}: <span id="patientIdentifierValue">{{patient.primaryIdentifier.identifier}}</span></strong></span>
                <span ng-show= "isDigitized" class="right"><strong>{{::'REGISTRATION_LABEL_SCANNED' | translate}}</strong></span>
            </legend>
            <div class="photo-container-wrapper" ng-if="!disablePhotoCapture">
                <div class="photo-container">
                        <div ng-model="patient.image" capture-photo class="capture-photo-btn"></div>
                        <img class="patient-image" ng-src="{{patient.image}}" fallback-src="../images/blank-user.gif">
                 </div>
            </div>
            <article class="form-field">
                <div class="field-attribute">
                <label class="control-label">{{::'REGISTRATION_LABEL_REGISTRATION_DATE' | translate}}</label>
                </div>

                <div class="field-value">
                    <span class="uneditable-input text-only">{{patient.registrationDate | bahmniDate}}</span>
                </div>
                <div ng-if="showRelatedIdentifierOption" class="field-value field-value-has-identifier">
                    <div class="fl">
                        <div class="field-attribute hasOldIdentifier-field-attribute">
                            <label for="related-identifier-attribute" class="control-label related-identifier-label">{{::'RELATED_PATIENT_IDENTIFIER_LABEL' | translate}}</label>
                        </div>
                        <div class="field-value">
                            <input class="input-label-inline" type="checkbox" id="related-identifier-attribute" ng-model="patient[relatedIdentifierAttribute.name]"
                                ng-change="patient[relatedIdentifierAttribute.name].handleUpdate()" ng-disabled="showDisabledAttrOption" ng-style="{'opacity' : showDisabledAttrOption ? '0.4':'unset'}">
                        </div>
                    </div>
            </article>
        </div>
        <ng-include src="'views/patientcommon.html'"></ng-include>
        <patient-action></patient-action>
    </form>
    <br>
</div>
</div>