<header class="reg-header" ng-controller="NavigationController">
        <button class="btn-user-info">
            <i class="fa fa-user-md fa-white small"></i>
            <i class="fa fa-caret-down fa-white mini"></i>
        </button>
        <ul>
            <li>
                <a><i class="fa fa-user fa-white small"></i><span ng-bind="currentUser.username"></span></a>
            </li>
            <li>
                <i class="fa fa-map-marker fa-white small"></i><span ng-bind="currentUser.currentLocation"></span>
            </li>
            <li>
                <a log-out><i class="fa fa-power-off fa-white small"></i><span class="nav-link">{{'REGISTRATION_LABEL_LOGOUT' | translate}}</span></a>
            </li>
        </ul>
        <ul class="top-nav">
            <a class="back-btn" href="../home/"><i class="fa fa-home"></i></a>  
            <li ng-repeat="extension in extensions">
                <a ng-click="goTo(extension.url)" accesskey="{{extension.shortcutKey | translate}}"><i class="{{extension.icon}} fa fa-white small"></i><span class="nav-link" ng-bind-html="extension.translationKey | translate"></span></a>
            </li>
        </ul>
        <div ui-view="headerExtension" class="print-action-items"></div>
</header>
