<header class="reg-header" ng-controller="NavigationController">
        <ul class="top-nav" ng-class="{'has-print' : hasPrint}">
            <a class="back-btn" accesskey="h" href="../home/index.html" ng-click="onHomeNavigate($event)"><i class="fa fa-home"></i></a>
            <li ng-repeat="extension in ::extensions">
                <a ng-click="goTo(extension.url)" accesskey="{{::extension.shortcutKey | translate}}"><i class="{{::extension.icon}} fa fa-white small"></i>
                    <span class="nav-link" ng-bind-html="::extension | titleTranslate"></span></a>
            </li>
        </ul>
        <div class="reg-header-right">
            <div ui-view="headerExtension" class="print-action-items"></div>

            <button class="btn-user-info">
                <i class="fa fa-user-md fa-white small"></i>
                <i class="fa fa-caret-down fa-white mini"></i>
            </button>
            <ul>
                <li>
                    <a><i class="fa fa-user fa-white small"></i><span>{{:: currentUser.username}}</span></a>
                </li>
                <li>
                    <i class="fa fa-map-marker fa-white small"></i><span>{{:: currentUser.currentLocation | translate}}</span>
                </li>
                <li>
                    <a log-out><i class="fa fa-power-off fa-white small"></i><span class="nav-link">{{::'REGISTRATION_LABEL_LOGOUT' | translate}}</span></a>
                </li>
            </ul>
        </div>
</header>
