<section class="form-field-inline" ng-repeat="addressLevels in ::addressLevelsChunks">
    <article class="form-field" ng-repeat="addressLevel in ::addressLevels"
             ng-class="::{'right-form-field': $index % 2 != 0 }">
        <div ng-if="addressLevel.name === 'HF_NAME' || addressLevel.name === 'HF_DISTRICT' || addressLevel.name === 'HF_PROVINCE'">
        <div class="field-attribute"><label for="{{::addressLevel.addressField}}">{{::addressLevel.name | translate}}<span
                class="asterick">*</span></label>
        </div>
        <div class="field-value" ng-if="addressLevel.name === 'HF_PROVINCE'">
            <input type="text"
                   autocomplete="off"
                   id="{{::addressLevel.addressField}}"
                   pattern-validate
                   non-blank="::addressLevel.required"
                   ng-model="healthFacilityProvince"
                   bahmni-autocomplete
                   source="getAddressEntryList(addressLevel.addressField)"
                   response-map="getAddressDataResults"
                   on-select="addressFieldSelected(addressLevel.addressField)"
                   ng-change="clearFields(addressLevel.addressField)"
                   min-length="1"
                   strict-select="addressLevel.isStrictEntry"
                   initial-value="selectedValue[addressLevel.addressField]"
                   is-invalid="addressFieldInvalid"
                   ng-class="{'illegalValue': addressFieldInvalid}"
                   on-edit="removeAutoCompleteEntry(addressLevel.addressField)"
                   required/>
        </div>



            <div class="field-value" ng-if="addressLevel.name === 'HF_NAME'">
                <input type="text"
                       autocomplete="off"
                       id="{{::addressLevel.addressField}}"
                       pattern-validate
                       non-blank="::addressLevel.required"
                       ng-model="healthFacilityName"
                       bahmni-autocomplete
                       source="getAddressEntryList(addressLevel.addressField)"
                       response-map="getAddressDataResults"
                       on-select="addressFieldSelected(addressLevel.addressField)"
                       ng-change="clearFields(addressLevel.addressField)"
                       min-length="1"
                       strict-select="addressLevel.isStrictEntry"
                       initial-value="selectedValue[addressLevel.addressField]"
                       is-invalid="addressFieldInvalid"
                       ng-class="{'illegalValue': addressFieldInvalid}"
                       on-edit="removeAutoCompleteEntry(addressLevel.addressField)"
                       required/>
            </div>


            <div class="field-value" ng-if="addressLevel.name === 'HF_DISTRICT'">
                <input type="text"
                       autocomplete="off"
                       id="{{::addressLevel.addressField}}"
                       pattern-validate
                       non-blank="::addressLevel.required"
                       ng-model="healthFacilityDistrict"
                       bahmni-autocomplete
                       source="getAddressEntryList(addressLevel.addressField)"
                       response-map="getAddressDataResults"
                       on-select="addressFieldSelected(addressLevel.addressField)"
                       ng-change="clearFields(addressLevel.addressField)"
                       min-length="1"
                       strict-select="addressLevel.isStrictEntry"
                       initial-value="selectedValue[addressLevel.addressField]"
                       is-invalid="addressFieldInvalid"
                       ng-class="{'illegalValue': addressFieldInvalid}"
                       on-edit="removeAutoCompleteEntry(addressLevel.addressField)"
                       required/>
            </div>


        </div>
    </article>
</section>