<div class="reg-body-wrapper">
    <div class="simple-form-ui new-patient">
        <form name="myForm" class="form-horizontal well" ng-submit="create()">
            <legend class="mylegend"><span><strong>New Patient Registration (Patient Profile
                Information)</strong></span></legend>
            <section class="clearfix">
                <div class="photo-container-wrapper">
                    <span class="pull-right photo-container">
                        <img id="patient-image" ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif'">
                        <div ng-model="patient.image" capture-photo="" class="capture-photo-btn"></div>
                    </span>
                </div>
            </section>
            <section>
                <article class="form-field">
                    <div class="field-attribute">
                        <label class="control-label" for="patientID">Patient Identifier </label>
                    </div>
                    <div class="field-value" id="patientID">
                        <span>
                        <select id="identifierPrefix" ng-model="patient.identifierPrefix"
                                ng-options="identifierSource.prefix for identifierSource in identifierSources" ng-change="patient.generateIdentifier()"
                                required> </select>
                        </span>
                        <span>
                        <input type="text" id="registrationNumber" ng-model="patient.registrationNumber"
                               placeholder="Registration Number" non-blank="hasOldIdentifier" title="Enter patient's registration number" pattern-validate
                               ng-change="patient.generateIdentifier()" ng-show="hasOldIdentifier" focus-on="hasOldIdentifier">
                        </span>
                        <span class="input-label-inline" ng-show="showEnterID">
                            <input type="checkbox" id="hasOldIdentifier" ng-model="$parent.hasOldIdentifier"
                               ng-change="patient.clearRegistrationNumber()">
                            <label for="hasOldIdentifier" class="control-label">Enter ID</label>
                        </span>
                    </div>
                </article>
            </section>
            <div ng-include="'views/patientcommon.html'"></div>
            <div ng-include="'views/patientAction.html'"></div>
        </form>
        <br>
    </div>
</div>