<div>
    <div  ng-controller="PatientCommonController" ng-include="'views/duplicatePatientTable.html'"></div>
</div>
<div class="reg-body-wrapper">
    <div class="simple-form-ui new-patient">
        <form name="myForm" class="form-horizontal well" single-submit="create()">
            <div class="box-container box-container-default">
                <legend class="registraion_legend first-registraion_legend">
                    <span class="mylegend"><strong>{{::'REGISTRATION_PATIENT_DETAILS' | translate}}</strong></span>
                </legend>
                <span class="form-field-inline clearfix" ng-repeat="attribute in ::patientConfiguration.attributeTypes">
                    <article class="form-field" ng-if="attribute.name == 'TYPE_OF_REGISTRATION'" 
                    ng-class="::{'right-form-field' : $index%2 != 0}">
                            <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation" 
                                is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList" 
                                on-change="checkDuplicatePatients()"
                                get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                    </article>
                 </span>
                <section class="clearfix">
                    <div class="photo-container-wrapper" ng-if="!disablePhotoCapture">
                        <span class="pull-right photo-container">
                            <img class="patient-image" ng-src="{{patient.image}}" fallback-src="../images/blank-user.gif">
                            <div ng-model="patient.image" capture-photo="" class="capture-photo-btn"></div>
                        </span>
                    </div>
                </section>
                <section>
                    <article class="form-field existing-patient">
                        <div class="field-attribute">
                            <label class="control-label" for="patientID">{{'REGISTRATION_LABEL_PATIENT_ENTER_ID' | translate}}
                                <span ng-show="::patient.primaryIdentifier.identifierType.required && !patient.primaryIdentifier.hasIdentifierSources()" class="asterick">*</span>
                            </label>
                        </div>
                        <div class="input-prepend">
                            <span class="add-on">{{ ::'REGISTRATION_HEALTH_FACILITY_CODE' | translate}}</span>
                            <input type="text" id="registrationNumber" ng-model="NID.healthFacilityCode"
                                   pattern-validate
                                   focus-on="patient.primaryIdentifier.hasOldIdentifier"
                                   ng-blur="buildFinalNID()" minlength="8" maxlength="8" size=8 required>
                        </div>

                        <div class="input-prepend">
                            <span class="add-on">{{ ::'REGISTRATION_SERVICE_CODE' | translate}}</span>
                            <input type="text" id="registrationNumber" ng-model="NID.serviceCode"
                                   pattern-validate
                                   focus-on="patient.primaryIdentifier.hasOldIdentifier"
                                   disabled size="2" ng-init="NID.serviceCode='01'">
                        </div>

                        <div class="input-prepend">
                            <span class="add-on">{{ ::'REGISTRATION_NID_YEAR' | translate}}</span>
                            <input type="number" ng-model="NID.year"
                                   pattern-validate
                                   focus-on="patient.primaryIdentifier.hasOldIdentifier"
                                   ng-blur="buildFinalNID()" min="0" max="{{currentYear}}" required>
                        </div>

                        <div class="input-prepend">
                            <span class="add-on">{{ ::'REGISTRATION_SEQUENTIAL_CODE' | translate}}</span>
                            <input type="text" id="registrationNumber" ng-model="NID.sequentialCode"
                                   pattern-validate
                                   focus-on="patient.primaryIdentifier.hasOldIdentifier"
                                   ng-blur="buildFinalNID()" minlength="5" maxlength="5" size="5" required>
                        </div>

                    </article>
                </section>
            </div>
            <div ng-include="'views/patientcommon.html'"></div>
            <patient-action></patient-action>
        </form>
        <br>
    </div>
</div>
