<div class="relationships">
    <div id="selectedNodesArea">
        <div class="table history-relationship" ng-show="patient.relationships.length > 0">
            <div class="row table-header">
                <div class="col col1"><span>Type</span></div>
                <div class="col col2"><span>Related To</span></div>
                <div class="col col3"><span>End Date</span></div>
            </div>
            <div class="table-body">
                <div class="row" ng-repeat="relationship in patient.relationships" ng-hide="relationship.voided">
                    <div class="col col1">
                        <span>{{getRelationshipType(relationship.relationshipType.uuid).aIsToB}}</span>
                    </div>
                    <div class="col col2">
                        <span>{{relationship.personB.display}}</span>
                        <span ng-if="isPatientRelationship(relationship)"><a ng-click="openPatientDashboardInNewTab(relationship)"><i class="fa fa-external-link"></i></a></span>
                    </div>
                    <div class="col col3">
                        <span style="display:block">{{relationship.endDate | bahmniDate}}</span>
                    </div>
                    <div class="col col4">
                        <button type="button" class="small-btn row-remover" ng-confirm-click="removeRelationship(relationship)" id="relationRemoveBtn-{{$index}}">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="new-relationship">
            <div class="row table-header">
                <div class="col col1"><span>Type</span></div>
                <div class="col col2"><span>Related To</span></div>
                <div class="col col3"><span>End Date</span></div>
            </div>
            <div class="row" ng-repeat="newRelationship in patient.newlyAddedRelationships">
                <div class="col col1">
                    <select ng-model="newRelationship.relationshipType.uuid" ng-options="type.uuid as type.aIsToB for type in relationshipTypes" ng-change="clearRelationshipRow(newRelationship, $index);">
                        <option value=""></option>
                    </select>
                    <span class="asterick">*</span>
                </div>
                <div class="col col2">
                    <input type="text" ng-if="isEmpty(newRelationship)" ng-model-options="{updateOn: 'blur'}" ng-model="newRelationship.patientIdentifier"
                           ng-change="searchByPatientIdentifier(newRelationship)" ng-disabled="!newRelationship.relationshipType.uuid">

                    <input type="text" ng-if="isPatientRelationship(newRelationship)"ng-model-options="{updateOn: 'blur'}" ng-model="newRelationship.patientIdentifier"
                           validate-on="newRelationship.personB.uuid" validation-message="Please enter a valid patient identifier" ng-change="searchByPatientIdentifier(newRelationship)">

                    <input type="text" ng-if="isProviderRelationship(newRelationship)" bahmni-autocomplete is-invalid="!newRelationship.personB.uuid" validation-message="Please select a provider from the autocomplete list" on-edit="onEditProviderName(newRelationship)"
                           ng-model="newRelationship.providerName" response-map="getProviderDataResults" source="getProviderList(relationship)" ng-change="clearProvider(newRelationship)" on-select="providerSelected(newRelationship)">
                    <span class="asterick">*</span>
                    <span class="no-person" ng-show="showPersonNotFound(newRelationship)">Person not found</span>
                    <span ng-show="!showPersonNotFound(newRelationship)">{{newRelationship.content}}</span>
                    <input type="hidden" ng-model="newRelationship.personB.uuid"/>
                </div>
                <div class="col col3">
                    <input type="date" ng-model="newRelationship.endDate" ng-disabled="!newRelationship.relationshipType.uuid"/>
                </div>
                <div class="col col4">
                    <button type="button" class="small-btn row-remover" ng-if="!isEmpty(newRelationship)" ng-click="removeRelationship(newRelationship, $index)">
                        <span class="fa fa-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
