<div class="field-attribute">
    <label for="{{attribute.name}}">{{attribute.description}}<span class="asterick" ng-show="{{attribute.required}}">*</span></label>
</div>
<div class="field-value" data-ng-switch on="attribute.format">
    <div data-ng-switch-when="java.lang.String">
        <span data-ng-switch="isAutoComplete(attribute.name)">
            <input data-ng-switch-when="true"
                   type="text" id="{{$parent.attribute.name}}"
                   placeholder="{{$parent.attribute.description}}"
                   ng-model="$parent.patient[$parent.attribute.name]" data-item-type="personAttribute"
                   my-autocomplete source="getAutoCompleteList" response-map="getDataResults" ng-required="{{attribute.required}}">

            <input data-ng-switch-default
                   type="text" pattern-validate id="{{attribute.name}}" placeholder="{{attribute.description}}"
                   ng-model="patient[attribute.name]" data-item-type="personAttribute" ng-required="{{attribute.required}}">
        </span>
    </div>
    <div class="left" data-ng-switch-when="org.openmrs.Concept">
        <select id="{{attribute.name}}" ng-model="patient[attribute.name]"
                ng-options="a.conceptId as a.description for a in attribute.answers" ng-required="{{attribute.required}}">
            <option value=""></option>
        </select>
    </div>
    <div class="left" data-ng-switch-when="java.lang.Integer">
        <input id="{{attribute.name}}" type="number" pattern-validate placeholder="{{attribute.description}}"
               ng-model="patient[attribute.name]" data-item-type="personAttribute" ng-required="{{attribute.required}}"/>
    </div>
    <div class="left" data-ng-switch-when="java.lang.Float">
        <input type="number" pattern-validate step="any" id="{{attribute.name}}" placeholder="{{attribute.description}}"
               ng-model="patient[attribute.name]" data-item-type="personAttribute" ng-required="{{attribute.required}}"/>
    </div>
    <div class="left" data-ng-switch-when="java.lang.Boolean">
        <input id="isUrban" type="checkbox" ng-model="patient[attribute.name]" ng-required="{{attribute.required}}"/>
    </div>
</div>
