<section ng-controller="PatientCommonController">
    <div ng-if="patient.uuid != undefined">
        <article ng-repeat="identifier in patient.extraIdentifiers" class="form-field existing-patient">
            <div class="field-attribute">
                <label class="control-label" for="patientID">{{:: getTranslatedPatientControls(identifier.identifierType.name)}}
                    <span ng-show=":: identifier.identifierType.required && !identifier.hasIdentifierSources()"
                          class="asterick">*</span>
                </label>
            </div>
            <div class="field-value">
                <input type="text" ng-model="identifier.identifier" disabled
                       ng-if="identifier.hasIdentifierSources()"/>

                <input type="text" id="{{identifier.identifierType.name}}" ng-model="identifier.registrationNumber"
                       ng-if="!identifier.hasIdentifierSources()"
                       non-blank="identifier.identifierType.required && !identifier.hasIdentifierSources()"
                       pattern-validate ng-change="identifier.generate()"
                       ng-disabled="readOnlyExtraIdentifiers.indexOf(identifier.identifierType.name)>-2">
                    <div class="extension-btn" ng-show="showIdentifierVerificationButton(identifier.identifierType.name,identifier.registrationNumber)">
                         <span ng-repeat="extButton in getExtButtons(identifier.identifierType.name)">
                            <span> {{:: extButton.link}} </span>
                            <button type="button"
                                    ng-click="openIdentifierPopup(identifier.identifierType.name, extButton.action)">{{:: extButton.display}}
                            </button>
                        </span>
                    </div>
            </div>
        </article>
    </div>
    <div ng-if="patient.uuid == undefined">
        <article ng-repeat="identifier in patient.extraIdentifiers"
                 class="form-field existing-patient">
            <div class="field-attribute">
                <label class="control-label" for="patientID">{{:: getTranslatedPatientControls(identifier.identifierType.name)}}
                    <span ng-show="::identifier.identifierType.required && !identifier.hasIdentifierSources()"
                          class="asterick">*</span>
                </label>
            </div>
            <div ng-show="::(identifier.hasIdentifierSources() && !identifier.hasIdentifierSourceWithEmptyPrefix())"
                 class="field-value" id="patientID">
                <select id="identifierPrefix" ng-model="identifier.selectedIdentifierSource"
                        ng-options="identifierSource.prefix for identifierSource in ::identifier.identifierType.identifierSources"
                        ng-change="patient.generateIdentifier(identifier)"
                        required>
                </select>
            </div>
            <div class="field-value" ng-if="!identifier.hasIdentifierSources()">
                <input type="text" id="{{identifier.identifierType.name}}" ng-model="identifier.registrationNumber"
                       non-blank="identifier.isIdentifierRequired()" pattern-validate
                       ng-change="identifier.generate()" focus-on="identifier.hasOldIdentifier"
                       ng-show="identifier.hasOldIdentifier || !identifier.hasIdentifierSources()"
                       ng-disabled="readOnlyExtraIdentifiers.indexOf(identifier.identifierType.name)>-1">
                    <div class="extension-btn" ng-show="showIdentifierVerificationButton(identifier.identifierType.name,identifier.registrationNumber)">
                        <span ng-repeat="extButton in getExtButtons(identifier.identifierType.name)">
                            <span> {{:: extButton.link}} </span>
                            <button type="button"
                                    ng-click="openIdentifierPopup(identifier.identifierType.name, extButton.action)">{{:: extButton.display}}
                            </button>
                        </span>
                    </div>
            </div>

            <div class="field-value field-value-has-identifier"  ng-show="::identifier.hasIdentifierSources()">
                <input type="text" id="{{identifier.identifierType.name}}" ng-model="identifier.registrationNumber"
                       non-blank="identifier.isIdentifierRequired()" pattern-validate
                       ng-change="identifier.generate()" focus-on="identifier.hasOldIdentifier"
                       ng-show="identifier.hasOldIdentifier || !identifier.hasIdentifierSources()"
                       ng-disabled="readOnlyExtraIdentifiers.indexOf(identifier.identifierType.name)>-1">

                <div class="fl">
                    <div class="field-attribute hasOldIdentifier-field-attribute">
                        <label for="hasOldIdentifier" ng-show="::showEnterID" class="control-label">{{::'REGISTRATION_LABEL_ENTER_ID' |
                            translate}}</label>
                    </div>
                    <div class="field-value">
                        <input class="input-label-inline" ng-show="::showEnterID" type="checkbox"
                               id="hasOldIdentifier" ng-model="identifier.hasOldIdentifier"
                               ng-change="identifier.clearRegistrationNumber()">
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>