<div class="submit-btn-container clearfix">
    <span ng-switch="forwardActionKey">
        <span data-ng-switch-when="enterVisitDetails">
            <button type="submit" class="right confirm"
                ng-click="setSubmitSource('enterVisitDetails')"
                accesskey="{{ ::'REGISTRATION_ENTER_VISIT_DETAILS_ACCESS_KEY' | translate }}"
                ng-bind-html="::'REGISTRATION_LABEL_ENTER_VISIT' | translate">
            </button>
        </span>
        <span data-ng-switch-when="forwardAction">
                <button type="submit" class="right confirm"
                        ng-click="setSubmitSource('forwardAction')"
                        accesskey="{{ ::activeVisitConfig.shortcutKey | translate }}"
                        ng-bind-html="::activeVisitConfig.translationKey | translate">
                </button>
        </span>
        <span ng-if="::showStartVisitButton()" data-ng-switch-when="startVisit">
            <div split-button options="::visitControl.visitTypes"
                 primary-option="::visitControl.defaultVisitType"
                 option-text="visitControl.startButtonText"
                 option-click="visitControl.startVisit"
                 class="right">
             </div>
        </span>
        <span data-ng-switch-when="configAction">
            <button type="submit" class="right confirm" ng-click="setSubmitSource('configAction')"
                    accesskey="{{::actionConfig.extensionParams.shortcutKey}}"
                    ng-bind-html="::actionConfig.extensionParams.display">
            </button>
        </span>
    </span>
    <button type="submit" class="right submit-btn" ng-click="setSubmitSource('save')"
            accesskey="{{ ::'REGISTRATION_SAVE_ACCESS_KEY' | translate}}" ng-bind-html="::'REGISTRATION_LABEL_SAVE' | translate"></button>
    <span class="right" style="margin-right:10px" ng-click="notifyOnWhatsAapp()" ng-show="enableWhatsAppButton"><img src="../images/whatsapp.png" height="35" size="35">
    </span>
</div>
