<div class="death">
    <div class="row">
        <div class="col col1">
            <strong class="till-text">{{ 'REGISTRATION_LABEL_DATE_DEATH' | translate}}</strong>
            <input type="date" ng-model="patient.deathDate" ng-change="selectIsDead()" max="{{today}}"/>
        </div>
        <div class="col col2" ng-init="getDeathConcepts()">
            <strong class="till-text">{{ 'REGISTRATION_LABEL_REASON_FOR_DEATH' | translate}}</strong>
            <span class="asterick" ng-if="patient.dead">*</span>
            <select ng-model="patient.causeOfDeath"
                    ng-options="concept.display for concept in deathConcepts track by concept.uuid"
                    ng-change="selectIsDead()" ng-required="patient.dead">
                <option value="">{{ 'REGISTRATION_LABEL_CHOOSE_VALUE' | translate}}</option>
            </select>
        </div>
        <div class="col col3">
            <input type="checkbox" id="isDead" ng-model="patient.dead" ng-disabled="disableIsDead()"/>
            <label for="isDead"><strong>{{ 'REGISTRATION_LABEL_IS_DEAD' | translate}}</strong></label>
        </div>
    </div>
</div>