<section>
    <div ng-if="controllerScope.patient.uuid != undefined">
        <article ng-repeat="identifier in controllerScope.patient.extraIdentifiers" class="form-field existing-patient">
            <div class="field-attribute">
                <label class="control-label" for="patientID">{{:: controllerScope.getTranslatedPatientControls(identifier.identifierType.name)}}
                    <span ng-show=":: identifier.identifierType.required && !identifier.hasIdentifierSources()"
                          class="asterick">*</span>
                </label>
            </div>
            <div class="field-value">
                <input type="text" ng-model="identifier.identifier" disabled
                       ng-if="identifier.hasIdentifierSources()"/>
                <input type="text" id="{{identifier.identifierType.name}}" ng-model="identifier.registrationNumber"
                       ng-if="!identifier.hasIdentifierSources()"
                       non-blank="identifier.identifierType.required && !identifier.hasIdentifierSources()"
                       pattern-validate ng-change="identifier.generate()"
                       ng-disabled="controllerScope.readOnlyExtraIdentifiers.indexOf(identifier.identifierType.name)>-2">
                <div class="extension-btn" ng-show="controllerScope.showIdentifierVerificationButton(identifier.identifierType.name,identifier.registrationNumber)">
                    <span ng-switch="controllerScope.showOnlyCreateButton(controllerScope.patient.extraIdentifiers)" ng-repeat="extButton in controllerScope.getExtButtons(identifier.identifierType.name)">
                        <span ng-switch-when="true">
                            <button type="button" ng-if="extButton.link"
                                ng-click="controllerScope.openIdentifierPopup(identifier.identifierType.name, extButton.action)">{{:: extButton.display}}
                            </button>
                        </span>
                        <span ng-switch-default>
                            <span> {{:: extButton.link}} </span>
                            <button type="button"
                                ng-click="controllerScope.openIdentifierPopup(identifier.identifierType.name, extButton.action)">{{:: extButton.display}}
                            </button>
                        </span>
                    </span>
                </div>
            </div>
        </article>
    </div>
    <div ng-if="controllerScope.patient.uuid == undefined">
        <article ng-repeat="identifier in controllerScope.patient.extraIdentifiers"
                 class="form-field existing-patient">
            <div class="field-attribute">
                <label class="control-label" for="patientID">{{:: controllerScope.getTranslatedPatientControls(identifier.identifierType.name)}}
                    <span ng-show="::identifier.identifierType.required && !identifier.hasIdentifierSources()"
                          class="asterick">*</span>
                </label>
            </div>
            <div ng-show="::(identifier.hasIdentifierSources() && !identifier.hasIdentifierSourceWithEmptyPrefix())"
                 class="field-value" id="patientID">
                <select id="identifierPrefix" ng-model="identifier.selectedIdentifierSource"
                        ng-options="identifierSource.prefix for identifierSource in ::identifier.identifierType.identifierSources"
                        ng-change="controllerScope.patient.generateIdentifier(identifier)"
                        required>
                </select>
            </div>
            <div class="field-value" ng-if="!identifier.hasIdentifierSources()">
                <input type="text" id="{{identifier.identifierType.name}}" ng-model="identifier.registrationNumber"
                       non-blank="identifier.isIdentifierRequired()" pattern-validate
                       ng-change="identifier.generate()" focus-on="identifier.hasOldIdentifier"
                       ng-show="identifier.hasOldIdentifier || !identifier.hasIdentifierSources()"
                       ng-disabled="controllerScope.readOnlyExtraIdentifiers.indexOf(identifier.identifierType.name)>-1">
                    <div class="extension-btn" ng-show="controllerScope.showIdentifierVerificationButton(identifier.identifierType.name,identifier.registrationNumber)">
                        <span ng-repeat="extButton in controllerScope.getExtButtons(identifier.identifierType.name)">
                            <span> {{:: extButton.link}} </span>
                            <button type="button"
                                    ng-click="controllerScope.openIdentifierPopup(identifier.identifierType.name, extButton.action)">{{:: extButton.display}}
                            </button>
                        </span>
                    </div>
            </div>

            <div class="field-value field-value-has-identifier"  ng-show="::identifier.hasIdentifierSources()">
                <input type="text" id="{{identifier.identifierType.name}}" ng-model="identifier.registrationNumber"
                       non-blank="identifier.isIdentifierRequired()" pattern-validate
                       ng-change="identifier.generate()" focus-on="identifier.hasOldIdentifier"
                       ng-show="identifier.hasOldIdentifier || !identifier.hasIdentifierSources()"
                       ng-disabled="controllerScope.readOnlyExtraIdentifiers.indexOf(identifier.identifierType.name)>-1">

                <div class="fl">
                    <div class="field-attribute hasOldIdentifier-field-attribute">
                        <label for="hasOldIdentifier" ng-show="::controllerScope.showEnterID" class="control-label">{{::'REGISTRATION_LABEL_ENTER_ID' |
                            translate}}</label>
                    </div>
                    <div class="field-value">
                        <input class="input-label-inline" ng-show="::controllerScope.showEnterID" type="checkbox"
                               id="hasOldIdentifier" ng-model="identifier.hasOldIdentifier"
                               ng-change="identifier.clearRegistrationNumber()">
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="identifier-ui"  ng-hide="!controllerScope.showExtIframe">
        <div class="identifier-iframe">
            <span class="close" ng-click="controllerScope.closeIdentifierPopup()">&times;</span>
            <iframe id="extension-popup" height="95%" width="100%"></iframe>
        </div>
    </div>
</section>