  <div ng-controller="PatientCommonController">
    <div class="box-container box-container-patient-info patient-common-info-container">
      <div ng-repeat="section in ::patientConfiguration.getOrderedPatientAttributesSections()"
         class="additional-info-wrapper">
        <div ng-if="section.canShow && section.order == 1">
            <div class="box-container form" ng-if="::(section.attributes.length > 0 && section.title)">
                <legend toggle="section.expand">
              <span>
                  <i class="fa fa-caret-down" ng-show="!section.expand"></i>
                  <i class="fa fa-caret-right" ng-show="section.expand"></i>
                  <strong>
                      <a ng-if="::section.translationKey" href accesskey="{{::section.shortcutKey | translate}}"
                         ng-bind-html="::section.translationKey | translate">
                      </a>
                      <a ng-if="::(section.title && !section.translationKey)" href>{{::section.title | translate}}</a>
                  </strong>
              </span>
                </legend>
                <section class="form-field-inline clearfix" ng-show="!section.expand">
                    <article class="form-field" ng-repeat="attribute in ::section.attributes"
                             ng-class="::{'right-form-field' : $index%2 != 0}">
                        <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                         is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                         get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                    </article>
                </section>
            </div>
        </div>
        <div class="box-container form" ng-if="section.canShow && (section.order == 2 || section.order == 3)">
                <legend toggle="section.expand" ng-if="section.order == 2">
                   <span>
                       <i class="fa fa-caret-right" ng-show="section.expand"></i>
                       <i class="fa fa-caret-down" ng-show="!section.expand"></i>
                       <strong>
                          <a ng-if="::section.translationKey" href accesskey="{{::section.shortcutKey | translate}}"
                             ng-bind-html="::section.translationKey | translate">
                          </a>
                          <a ng-if="::(section.title && !section.translationKey)" href>{{::section.title | translate}}</a>
                        </strong>
                   </span>
                </legend>
                <section class="form-field-inline clearfix" ng-show="!section.expand">
                    <article class="form-field" ng-repeat="attribute in ::section.attributes" ng-if="::(section.attributes.length > 0 && section.order == 2)"
                             ng-class="::{'right-form-field' : $index%2 != 0}">
                        <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                         is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                         get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                    </article>

                    <div ng-if="::(section.order == 2)">
                    <article class="form-field patient-name-wrapper">
                        <div class="field-attribute">
                            <label for="patientName">{{ ::'REGISTRATION_LABEL_PATIENT_NAME' | translate}}<span class="asterick">*</span></label>
                        </div>

                        <div id="patientName">
                          <span data-ng-switch="::isAutoComplete('givenName')"
                                ng-if="::patientConfiguration.local()['showNameField']">
                              <input data-ng-switch-when="true"
                                     type="text" id="givenName" ng-model="$parent.patient.givenName" non-blank pattern-validate
                                     my-autocomplete source="getAutoCompleteList" response-map="getDataResults"
                                     data-item-type="personName" minlength="2"
                                     placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}"
                                     title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}">

                              <input data-ng-switch-default
                                     type="text" id="givenName" ng-model="patient.givenName" non-blank pattern-validate
                                     placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}" minlength="2"
                                     title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}">
                          </span>

                          <span data-ng-switch="::isAutoComplete('givenName')"
                                ng-if="::!patientConfiguration.local()['showNameField']">
                              <input data-ng-switch-when="true"
                                     type="text" id="givenName" ng-model="$parent.patient.givenName" non-blank pattern-validate
                                     my-autocomplete source="getAutoCompleteList" response-map="getDataResults"
                                     data-item-type="personName" style="padding: 2px 0px;" minlength="2"
                                     placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}"
                                     title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}">

                              <input data-ng-switch-default
                                     type="text" id="givenName" ng-model="patient.givenName" non-blank pattern-validate
                                     placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_FIRSTNAME' | translate}}" style="padding: 2px 0px;"
                                     title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_NAME' | translate}}" minlength="2">
                          </span>

                          <span ng-show="::showLastName" data-ng-switch="::isAutoComplete('familyName')">
                              <input data-ng-switch-when="true"
                                     type="text" id="familyName" ng-model="$parent.patient.familyName"  pattern-validate
                                     my-autocomplete source="getAutoCompleteList" response-map="getDataResults"
                                     data-item-type="personName" style="padding: 2px 0px;" minlength="2"
                                     placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_LAST_NAME' | translate}}"
                                     title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_LAST_NAME' | translate}}" ng-required="::isLastNameMandatory">

                              <input data-ng-switch-default
                                     type="text" id="familyName" ng-model="patient.familyName"  pattern-validate minlength="2"
                                     placeholder="{{ ::'REGISTRATION_LABEL_PATIENT_LAST_NAME' | translate}}" style="padding: 2px 0px;"
                                     title="{{::'REGISTRATION_LABEL_PATIENT_ENTER_LAST_NAME' | translate}}" ng-required="::isLastNameMandatory">
                          </span>
                      </div>
                    </article>
                    <article class="form-field form-field-gender">
                        <div class="field-attribute">
                            <label for="gender">{{ ::'REGISTRATION_LABEL_GENDER' | translate}} <span
                                    class="asterick">*</span></label>
                        </div>

                        <div class="field-value">
                            <select id="gender" ng-model="patient.gender" required="required" title="{{ 'REGISTRATION_LABEL_SELECT_GENDER'|translate }}"
                                    ng-options="genderMap[genderCode] for genderCode in genderCodes track by genderCode" ng-change="handleUpdate('gender')">
                                <option value="">{{ ::'REGISTRATION_LABEL_SELECT_GENDER' | translate}}</option>
                            </select>
                        </div>
                    </article>
                    <div ng-if="::!dobMandatory" class="age-wrapper">
                        <ng-include src="'views/age.html'"></ng-include>
                        <ng-include src="'views/dob.html'"></ng-include>
                    </div>
                    <div ng-if="::dobMandatory" class="age-wrapper">
                        <ng-include src="'views/dob.html'"></ng-include>
                        <ng-include src="'views/age.html'"></ng-include>
                    </div>
                    </div>
                </section>
                <section class="form-field-inline clearfix" ng-if="section.canShow && section.order == 3">
                   <article class="form-field" ng-repeat="attribute in ::section.attributes" ng-if="::(section.attributes.length > 0 && section.order == 3)"
                            ng-class="::{'right-form-field' : $index%2 != 0}">
                       <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                        is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                        get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                   </article>
                </section>
        </div>

        <div ng-if="section.canShow && section.order == 4">
            <div class="box-container form" ng-if="::(section.attributes.length > 0 && section.title)">
                <legend toggle="section.expand">
              <span>
                  <i class="fa fa-caret-right" ng-show="section.expand"></i>
                  <i class="fa fa-caret-down" ng-show="!section.expand"></i>
                  <strong>
                      <a ng-if="::section.translationKey" href accesskey="{{::section.shortcutKey | translate}}"
                         ng-bind-html="::section.translationKey | translate">
                      </a>
                      <a ng-if="::(section.title && !section.translationKey)" href>{{::section.title | translate}}</a>
                  </strong>
              </span>
                </legend>
                <section class="form-field-inline clearfix" ng-show="!section.expand">
                    <article class="form-field" ng-repeat="attribute in ::section.attributes"
                             ng-class="::{'right-form-field' : $index%2 != 0}">
                        <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                         is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                         get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                    </article>
                </section>
            </div>
        </div>

        <div ng-if="section.canShow && section.order == 5">
            <div class="box-container form" ng-if="::(section.attributes.length > 0 && section.title)">
                <legend toggle="section.expand">
              <span>
                  <i class="fa fa-caret-right" ng-show="section.expand"></i>
                  <i class="fa fa-caret-down" ng-show="!section.expand"></i>
                  <strong>
                      <a ng-if="::section.translationKey" href accesskey="{{::section.shortcutKey | translate}}"
                         ng-bind-html="::section.translationKey | translate">
                      </a>
                      <a ng-if="::(section.title && !section.translationKey)" href>{{::section.title | translate}}</a>
                  </strong>
              </span>
                </legend>
                <section class="form-field-inline clearfix" ng-show="!section.expand">
                    <article class="form-field" ng-repeat="attribute in ::section.attributes"
                             ng-class="::{'right-form-field' : $index%2 != 0}">
                        <attribute-types target-model="patient" attribute="::attribute" field-validation="::fieldValidation"
                                         is-auto-complete="isAutoComplete" get-auto-complete-list="getAutoCompleteList"
                                         get-data-results="getDataResults" is-read-only="isReadOnly" handle-update="handleUpdate"></attribute-types>
                    </article>
                </section>
            </div>
        </div>
      </div>
    </div>
</div>
