<link rel="stylesheet" href="../styles/print.css"/>
<table border="1" cellpadding="0" cellspacing="1" class="registrationCard-print-table">
    <tbody>
    <tr>
        <td  class="print-table-left">
            <table>
                <tr>

                    <td>
                        <h3 class="print-table-header">सूचना</h3>
                        <ul class="print-table-left-body">
                            <li>
                                स्वास्थ्य केन्द्र में पुनः आने के समय यह कार्ड लाना अति आवश्यक है ।
                            </li>
                            <li>
                                दवा डाक्टर के निर्देशानुसार ही लें ।
                            </li>
                            <li>
                                केन्द्र में पंजीयन का समय - प्रातः 8:30 से  दोपहर 12:00 बजे तक ।
                            </li>
                            <li>
                                ओ.पी.डी. के दिन - सोम, बुध, शुक्र ।
                            </li>
                            <li>
                                साप्ताहिक अवकाश - रविवार ।
                            </li>
                        </ul>
                        <div class="caution">
                            <h3 class="print-table-header">सावधान</h3>
                            <p>
                                बीडी, तम्बाकू, गुटका से केंसर, ह्रदय रोग और दमा हो सकते हैं ।
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td class="print-table-right" valign="top">
            <table>
                <tr>
                    <td class="logo">
                        <p>
                            <img src="../images/jss-icon.png" style="width: 12mm; height: 12mm; "/>
                        </p>
                    </td>
                    <td class="print-table-right-header">
                            <h3>
                                जन&nbsp;स्वास्थ्य&nbsp;सहयोग  
                            </h3>
                            <h3 class="print-center">(पंजीकृत)</h3>
                    </td>
                    <td class="registrationCard-photo">
                        <img ng-src="{{patient.image}}" style="width: 20mm; height: 20mm; "
                             onerror="this.onerror=null;this.src='../images/blank.jpeg';"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="print-center registrationCard-location">
                        गनियारी, जिला - बिलासपुर
                    </td>
                </tr>
            </table>
            <table class="registrationCard-details">
                <tbody>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">दिनाँक</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.registrationDate | date:'dd/MM/yyyy'}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">रजिस्ट्रेशन</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.identifier}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">नाम</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>
                        <span class="hindi-text">{{patient.fullNameLocal()}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">उम्र</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.age.years || "0"}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">लिंग</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.gender}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">पिता/पति</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.primaryRelative}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">गाँव</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.address.cityVillage}} </td>
                </tr>
                <tr>
                    <td class="registrationCard-details-name">
                        <span class="hindi-text">तहसील</span>
                    </td>
                    <td class="registrationCard-details-seperator"> :  </td>
                    <td>{{patient.address.address3}} </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
