<section class="reg-search-wrapper">
    <section class="reg-search">
        <article class="search-seperator-l">
            <form name="searchByIdForm" ng-submit="searchById()" class="simple-form-ui" >
                    <label for="registrationNumber"><strong>Patient ID</strong></label>

                    <div class="search-patient-id left">
                        <select id="identifierPrefix" ng-model="searchParameters.identifierPrefix" ng-options="identifierSource.prefix for identifierSource in identifierSources"> </select>
                        <input type="text" id="registrationNumber" 
                        ng-model="searchParameters.registrationNumber" focus-me="true"
                               placeholder="Enter ID">
                    </div>
                
                <div class="reg-srch-btn left">
                    <button type="submit" ng-disabled="!searchParameters.registrationNumber" >Search</button>
                </div>
            </form>
        </article>
        <article class="search-seperator-r left">
            <form name="searchByNameForm" ng-submit="searchPatients()" class="simple-form-ui" >

                <article class="left">
                    <label for="name"><strong>Name</strong></label>
                    <input type="text" id="name" ng-model="searchParameters.name" placeholder="Enter name">
                </article>
                <article class="left" ng-if="customAttributesSearchConfig.show">
                    <label for="name"><strong>{{customAttributesSearchConfig.label}}</strong></label>
                    <input type="text" id="customAttribute" ng-model="searchParameters.customAttribute" placeholder="{{customAttributesSearchConfig.placeholder}}">
                </article>
                <article class="left">
                    <label for="name"><strong>{{addressSearchConfig.label}}</strong></label>
                    <input type="text" id="addressFieldValue" ng-model="searchParameters.addressFieldValue" placeholder="{{addressSearchConfig.placeholder}}">
                </article>
                <article class="left">
                    <div class="reg-srch-btn">
                        <button type="submit" ng-disabled="disableSearchButton()">Search</button>
                    </div>
                </article>
            </form>

        </article>
    </section>

    <div class="note-container" ng-show="noResultsMessage">
        <div class="note warning">
            <div class="text">
                    <p>{{noResultsMessage}}</p>     
            </div>
        </div>
    </div>
    
    <div infinite-scroll="nextPage()" infinite-scroll-immediate-check="false" infinite-scroll-disabled="noMoreResultsPresent" class="registraition-search-results-container">
        <table ng-show="resultsPresent()" class="table table-hover">
            <thead>
            <tr>
                <th class="slno_col"><strong>Sl.No</strong></th>
                <th><strong>ID</strong></th>
                <th><strong>Name</strong></th>
                <th ng-repeat = "field in customAttributesSearchConfig.fields"><strong>{{convertToTableHeader(field)}}</strong></th>
                <th><strong>Gender</strong></th>
                <th><strong>Age</strong></th>
                <th><strong>{{addressSearchConfig.label}}</strong></th>
                <th><strong>Registration Date</strong></th>
                <th class="edit-col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results">
                <td>{{$index + 1}}</td>
                <td>{{result.identifier}}</td>
                <td>{{result.givenName}} {{result.middleName}} {{result.familyName}}</td>
                <td ng-repeat = "field in customAttributesSearchConfig.fields">{{result.customAttribute[field]}}</td>
                <td>{{result.gender}}</td>
                <td>{{result.age}}</td>
                <td>{{result.addressFieldValue}}</td>
                <td>{{result.dateCreated | bahmniDate}}</td>
                <td class="edit-col">
                    <div split-button options="searchActions"
                            primary-option="searchActions[0]"
                             option-text="extensionActionText" option-click="forPatient(result).doExtensionAction" class="split-button-wrapper">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="loader" ng-show="loadingMoreResults()"></div>

    <div class="note-container" ng-show="noMoreResultsPresent">
        <div class="note warning">
            <div class="text">
                    <p>No more results</p>
            </div>
        </div>
    </div>
</section>