<section class="form-field-inline" ng-repeat="addressLevels in ::addressLevelsChunks">
    <article class="form-field" ng-repeat="addressLevel in ::addressLevels"
             ng-class="::{'right-form-field': $index % 2 != 0 }">
        <div class="field-attribute"><label for="{{::addressLevel.addressField}}">{{::addressLevel.name}}<span
                class="asterick"
                ng-show="::addressLevel.required">*</span></label>
        </div>
        <div class="field-value">
            <input type="text"
                   id="{{::addressLevel.addressField}}"
                   pattern-validate
                   non-blank="::addressLevel.required"
                   ng-model="address[addressLevel.addressField]"
                   ng-disabled="isReadOnly(addressLevel)"
                   bahmni-autocomplete
                   source="getAddressEntryList(addressLevel.addressField)"
                   response-map="getAddressDataResults"
                   on-select="addressFieldSelected(addressLevel.addressField)"
                   ng-change="clearFields(addressLevel.addressField)"
                   min-length="1"
                   strict-select="addressLevel.isStrictEntry"
                   initial-value="selectedValue[addressLevel.addressField]"
                   is-invalid="addressFieldInvalid"
                   ng-class="{'illegalValue': addressFieldInvalid}"
                   on-edit="removeAutoCompleteEntry(addressLevel.addressField)"
                   required/>
        </div>
    </article>
</section>