<article class="form-field" ng-class="::{'left-form-field': $index % 2 != 0 }"
         ng-repeat="addressLevel in ::addressLevels"
         ng-if="addressLevel.name === 'HF_NAME' || addressLevel.name === 'HF_DISTRICT' || addressLevel.name === 'HF_PROVINCE'" addressLevel="2">
    <div class="field-attribute"><label for="{{::addressLevel.addressField}}">{{::addressLevel.name | translate}}<span
            class="asterick" ng-show="::addressLevel.required">* {{addressLevel}}</span></label>
    </div>
    <div class="field-value" ng-if="addressLevel.name === 'HF_PROVINCE'" >
        <input type="text"
               autocomplete="off"
               id="{{::addressLevel.addressField  +'_transference'}}"
               pattern-validate
               non-blank="::addressLevel.required"
               ng-model="provenanceHealthFacilityProvince"
               bahmni-autocomplete
               source="getAddressEntryList(addressLevel.addressField)"
               response-map="getAddressDataResults"
               on-select="addressFieldSelected(addressLevel.addressField)"
               ng-change="clearFields(addressLevel.addressField)"
               min-length="1"
               strict-select="true"
               initial-value="selectedValue[addressLevel.addressField]"
               is-invalid="addressFieldInvalid"
               ng-keydown="removeSelection($event, addressLevel.addressField)"
               required/>
    </div>


    <div class="field-value" ng-if="addressLevel.name === 'HF_DISTRICT'">
        <input type="text"
               autocomplete="off"
               id="{{::addressLevel.addressField +'_transference'}}"
               pattern-validate
               non-blank="::addressLevel.required"
               ng-model="provenanceHealthFacilityDistrict"
               bahmni-autocomplete
               source="getAddressEntryList(addressLevel.addressField)"
               response-map="getAddressDataResults"
               on-select="addressFieldSelected(addressLevel.addressField)"
               ng-change="clearFields(addressLevel.addressField)"
               min-length="1"
               strict-select="true"
               initial-value="selectedValue[addressLevel.addressField]"
               is-invalid="addressFieldInvalid"
               ng-keydown="removeSelection($event, addressLevel.addressField)"
               required/>
    </div>

    <div class="field-value" ng-if="addressLevel.name === 'HF_NAME'" >
        <input type="text"
               autocomplete="off"
               id="{{::addressLevel.addressField +'_transference'}}"
               pattern-validate
               non-blank="::addressLevel.required"
               ng-model="provenanceHealthFacilityName"
               bahmni-autocomplete
               source="getAddressEntryList(addressLevel.addressField)"
               response-map="getAddressDataResults"
               on-select="addressFieldSelected(addressLevel.addressField)"
               ng-change="clearFields(addressLevel.addressField)"
               min-length="1"
               strict-select="true"
               initial-value="selectedValue[addressLevel.addressField]"
               is-invalid="addressFieldInvalid"
               ng-keydown="removeSelection($event, addressLevel.addressField)"
               required/>
    </div>

</article>