<div class="reg-body-wrapper">

<div class="non-printable" xmlns="http://www.w3.org/1999/html">
    <div>
        <form name="myForm" ng-init="disableFormSubmitOnEnter()" class="visit-patient" ng-submit="submit()">
                <legend class="mylegend"><span><strong>Summary</strong></span></legend>
                    <div class="photo-container-wrapper">
                        <span class="pull-right photo-container">
                                <img id="patient-image" ng-src="{{patient.image}}"
                                     onerror="this.onerror=null;this.src='../images/blank-user.gif';"/>
                                <div ng-model="patient.image" capture-photo="updatePatientImage" class="capture-photo-btn"></div>
                         </span>
                    </div>

                <section>
                <article class="form-field">
                        <div class="field-attribute">
                            <label  for="patientId">Patient Identifier</label>
                        </div>

                        <div class="field-value">
                                <input id="patientId" ng-model="patient.identifier" readonly type="text">
                        </div>
                </article>
                <article class="form-field photocontainer-spacing">
                        <div class="field-attribute">
                            <label class="control-label" for="patientName">Patient Name</label>
                        </div>

                        <div class="field-value">
                             <input id="patientName" ng-model="patient.name" readonly type="text">
                        </div>
                </article>
                </section>
                <legend class="mylegend "><span><strong>Visit Information</strong></span></legend>
                <section class="form-field-inline">
                    <article class="form-field">
                            <div class="field-attribute">
                                <label class="control-label" for="registrationFee">{{registrationFeeLabel}}</label>
                            </div>

                            <div class="field-value">
                                <input type="number" id="registrationFee" ng-model="obs['REGISTRATION FEES']">
                            </div>
                    </article>
                    <article class="form-field">
                            <div class="field-attribute">
                                <label class="control-label" for="comments">Comments</label>
                            </div>

                            <div class="field-value">
                                 <input type="text" id="comments" ng-model="obs.COMMENTS" placeholder="Comments" autofocus>
                            </div>
                    </article>
                </section>
                <section class="form-field-inline">
                <article class="form-field">
                        <div class="field-attribute">
                            <label class="control-label" for="height">Height (cm)</label>
                        </div>

                        <div class="field-value">
                            <input id="height" type="number" step="0.01" ng-model="obs.HEIGHT" min="10" max="250" ng-change="calculateBMI()" placeholder="Height">
                        </div>
                </article>
                <article class="form-field">
                        <div class="field-attribute">
                            <label class="control-label" for="height">Weight (kg)</label>
                        </div>

                        <div class="field-value">
                               <input id="weight" type="number" step="0.01" ng-model="obs.WEIGHT" min="0" max="200" ng-change="calculateBMI()" placeholder="Weight">
                        </div>
                </article>
            </section>
            <section class="form-field-inline">
                 <article class="form-field">
                        <div class="field-attribute">
                            <label class="control-label" for="bmi">BMI</label>
                        </div>

                        <div class="field-value">
                              <input type="text" id="bmi" ng-model="obs.BMI" readonly tabindex="1000000">
                        </div>
                </article>
                <article class="form-field">
                        <div class="field-attribute">
                         <label class="control-label" for="bmiStatus">BMI Status</label>
                        </div>

                        <div class="field-value">
                             <input type="text" id="bmiStatus" ng-model="obs.bmi_status" readonly tabindex="1000001">
                        </div>
                </article>
            </section>
            <div class="alert alert-error text-error" ng-show="obs.bmi_error">
               Invalid BMI. Please check the height and weight
            </div>

            <section ng-if="observations && registration.conceptSetName" class="observation-section">
                <concept-set concept-set-name="registration.conceptSetName" observations="observations.compoundObservations"></concept-set>
            </section>

            <div class="submit-btn-container" ng-switch on="patient.isNew">
                <div class="right" ng-switch-when="true">
                    <button type="button" ng-click="back()">Back</button>
                    <button type="submit" class="confirm" ng-disabled="obs.bmi_error" ng-click="submitBtnClicked('savePrint')">Save and Print</button>
                </div>
                <div class="right" ng-switch-default>
                    <button type="button" ng-click="back()">Back</button>
                    <button type="submit" ng-disabled="obs.bmi_error" ng-click="submitBtnClicked('savePrint')">Save and Print</button>
                    <button type="submit" class="confirm" ng-disabled="obs.bmi_error" ng-click="submitBtnClicked('save')" >Save</button>
                </div>
            </div>

        </form>
        <br>
    </div>
    <div id="dialog-confirm" handle="confirmDialog" title="Warning" confirm-dialog>
        <p>There is no registration fee, and no comments entered. Do you want to continue? </p>
    </div>
</div>
</div>