<div class="reg-body-wrapper visit-patient-page">
    <div class="non-printable" xmlns="http://www.w3.org/1999/html">
        <div>
            <form name="myForm" ng-init="disableFormSubmitOnEnter()" class="visit-patient">
                <div class="box-container">

                    <legend class="registraion_legend first-registraion_legend">
                        <span class="mylegend"><strong>{{ ::'REGISTRATION_LABEL_SUMMARY' | translate}}</strong></span>
                    </legend>
                    <section class="patient-identifier-name">
                        <div class="form-field">
                            <div class="field-attribute">
                                <label for="patientId">{{ ::getTranslatedPrimaryIdentifierInVisit(patient.primaryIdentifier.identifierType.name) }} : </label>
                            </div>
                            <div class="field-value">
                                <label class="control-label"><strong>{{::patient.primaryIdentifier.identifier}}</strong></label>
                            </div>
                        </div>
                        <div class="form-field photocontainer-spacing clearfix">
                            <div class="field-attribute">
                                <label class="control-label" for="patientName">{{ ::'REGISTRATION_LABEL_PATIENT_NAME' | translate}} : </label>
                            </div>
                            <div class="field-value">
                                <label class="control-label"><strong>{{::patient.name}}</strong></label>
                            </div>
                        </div>
                    </section>
                    <!-- TODO: need to find a better way to render the directive again on context change or after all the calls are made.-->
                    <section class="observation-section" ng-if="context">
                        <div ng-repeat="conceptSet in ::availableConceptSets" class="concept-set-group">
                            <div class="registraion_legend">
                                <span class="mylegend" ng-if="::conceptSet.options.translationKey">{{::conceptSet.options.translationKey | translate}}</span>
                                <span class="mylegend" ng-if="::!conceptSet.options.translationKey">{{::conceptSet.label}}</span>
                            </div>
                            <div class="clearfix">
                                <article ng-if="!isFormTemplate(conceptSet)" class="fl obs-section-form">
                                    <concept-set concept-set-name="::conceptSet.options.conceptName" required="::conceptSet.options.required" patient="patient" observations="observations"
                                                 obs-scope="::conceptSet.options.scope" show-title="false" concept-set-focused="::$index === 0"></concept-set>
                                </article>
                                <article ng-if="isFormTemplate(conceptSet)" class="fl obs-section-form" id={{::conceptSet.formUuid}}>
                                    <form-controls form="conceptSet" patient="patient" validate-form="true"></form-controls>
                                </article>
                                <article ng-if="::conceptSet.options.showLatest" class="obs-section fr" id="observationSection">
                                    <bahmni-observation patient="patient" config="{conceptNames: conceptSet.options.conceptNames, scope: 'latest'}" section-title="'REGISTRATON_LATEST_KEY'"></bahmni-observation>
                                </article>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="submit-btn-container">
                    <button type="button" class="cancel" tabindex="-1" ng-show="::canCloseVisit" ng-click="closeVisitIfDischarged()">{{ ::'REGISTRATION_LABEL_CLOSE_VISIT' | translate}}</button>
                    <div class="right">
                        <button ng-click="back()" accesskey="{{ ::'REGISTRATION_BACK_ACCESS_KEY' | translate}}" ng-bind-html="::'REGISTRATION_LABEL_BACK' | translate"></button>
                        <button single-click="submit()" class="confirm" accesskey="{{ ::'REGISTRATION_SAVE_ACCESS_KEY' | translate}}" ng-bind-html="::'REGISTRATION_LABEL_SAVE' | translate"></button>
                        <button single-click="setDashboardRedirect()" class="confirm" style="margin-right: 0px;" ng-show="::enableDashboardRedirect" ng-bind-html="::'REGISTRATION_TO_CLINICAL' | translate"></button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
