.consultation{
    @include pie-clearfix;
	margin:0px 0px 10px;
	color:#585858;
	.header-action{
		background:#ffffff;
		width:100px;
		margin:0px auto;
		position:relative;
	}
	h3{
        @include font-size(1.1);
		border-bottom:1px solid #00463f;
		color:#777575;
		padding-bottom:3px;
		margin-bottom:10px;
	}
	.block{
		min-height:150px;
		padding:10px;
		&.investigation{
			li{
				display: inline-block;
				padding: 5px 7px;
				margin-right: 25px;
				margin-top: 10px;
				border-radius: 5px;
				font: 14px/18px verdana,arial;
				background:#efefef;
				.panel{
					background: #555454;
					color: #FFF;
					display: inline-block;
					width: 18px;
					text-align: center;
					height: 13px;
					padding: 2px 0px;
					font-size: 12px;
					border-radius: 10px;
					line-height: 15px;
				}
			}
		}
		&.diagnosis{
			h2{
				margin-bottom: 10px;
				color: #FFF;
				padding: 5px 5px;
				width: 300px;
				background: #2B97D5;
			}
			div{
				margin-bottom: 8px;
            	@include font-size(0.9);
				color: #5C5B5C;
				padding-left: 10px;
			}
		}
		&.treatment{
			ul{
				li{
					padding:6px 10px;
					@include font-size(0.9);
					.notes{
						color:#9C510B;
						margin-left:20px;
					}

				}
			}
		}
	}
	.notes{
		margin-top:20px;
		textarea{
		    resize: none;
		}
	}
}