.consultation{
    @include pie-clearfix;
	margin:0px 20px 10px;
	.header-action{
		background:#ffffff;
		width:100px;
		margin:0px auto;
		position:relative;
	}
	h3{
		font-size:1em;
		border-bottom:1px solid #00463f;
		color:#000;
		padding-bottom:3px;
		margin-bottom:10px;
	}
	.block{
		min-height:150px;
		padding:10px;
		&.investigation{
			li{
				display: inline-block;
				padding: 5px 7px;
				margin-right: 10px;
				margin-top: 10px;
				border-radius: 5px;
				width:193px;
				color:#585858;
				font: 14px/18px verdana,arial;
				background:#efefef;
				.panel{
					background: #555454;
					color: #FFF;
					display: inline-block;
					width: 18px;
					text-align: center;
					height: 13px;
					padding: 2px 0px;
					font-size: 12px;
					border-radius: 10px;
					line-height: 15px;
				}
			}
		}
		&.treatment{
			ul{
				li{
					padding:6px 10px;
					.notes{
						color:#FF001F;
						margin-left:20px;
					}

				}
			}
		}
	}
	.notes{
		margin-top:20px;
		textarea{
		    resize: none;
		}
	}
}