.consultation{
    @include pie-clearfix;
	margin:0px 20px 10px;
	.header-action{
		background:#ffffff;
		width:100px;
		margin:0px auto;
		position:relative;
	}
	h3{
		font-size:1em;
		border-bottom:1px solid #00463f;
		color:#000;
		padding-bottom:3px;
	}
	.block{
		min-height:220px;
	}
	.notes{
		margin-top:20px;
		textarea{
		    resize: none;
		}
	}
}