button.active{
  background: #00463F;
  color: white;
}
.selectedDiagnosis{
  background-color: #7DBF45;
  color: WHITE;
  padding: 5px;
  margin-right: 10px;
  font: 25px;
  display: inline-block;
  margin-bottom: 10px;
}
