button.active{
  background: #457FAC;
  color: white;
}
.selectedDiagnosis{
  background-color: #7DBF45;
  color: WHITE;
  padding: 5px;
  margin-right: 10px;
  font: 25px;
  display: inline-block;
  margin-bottom: 10px;
}

.diagnosis{
  .table-header{
    span{
      display:inline-block;
      padding-left:10px;
    }
  }
  input[type=number]{
    width:50px;
  }
  .col1{
    @include column(3);
    input{
      margin-left:10px;
    }
  }
  .col2{
    @include column(4);
    button:first-child{
      margin-left:10px;
    }
  }
  .col3{
    @include column(4);
  }
  .col4{
    @include column(1);
    width:60px;
  }
}