button.active{
  background: #457FAC;
  color: white;
}
.selectedDiagnosis{
  background-color: #7DBF45;
  color: WHITE;
  padding: 5px;
  margin-right: 10px;
  font: 25px;
  display: inline-block;
  margin-bottom: 10px;
}

.diagnosis{
  .col{
  }
  input[type=number]{
    width:50px;
  }
  .col1{
    @include column(3);
  }
  .col2{
    @include column(4);
  }
  .col3{
    @include column(4);
  }
  .col4{
    @include column(1);
    width:100px;
  }
}