.investigation{
    padding:10px;
     div:focus{
        outline:none;
    }
    #selectedNodesArea {
        min-height: 100px;
        padding:20px;
    }
    .investigation-results{
        legend{
            font-weight: bold;
            color:#868686;
            font-family:arial;
        }
    }
    .selectedNode {
        background-color: #f1f1f1;
        color: #474747;
        padding: 0px 0px 0px 5px;
        border-radius: 5px;
        border:1px solid #cecece;
        margin-right: 10px;
        font: 25px;
        display: inline-block;
        margin-bottom: 10px;
        .test-name{
            min-width:70px;
            display: inline-block;
        }
        &.panel{
            border-left:5px solid #85CF15;
        }
        &.voided .test-name {
            text-decoration: line-through;
        }
    }
    .selectableTypeSet{
        .icon-ok{
            color:#85CF15;
        }
    }

    #lab-results {
        .row {
            padding: 5px;
            clear: both;
        }
        .name {
            width: 20%;
            display:inline-block;
            float: left;
        }
        .value {
            width: 80%;
            display:inline-block;
            float: left;
        }
        .panel-name {
            background-color: Gray;
            color: white;
            padding: 5px;
        }
        .comments {
            font-style: italic;
            font-size: 80%;
        }
        .row.abnormal {
        }
    }

}

@media only screen and (max-width: 768px) {
   .investigation{ 
        .column ul{
            width:241px;
            li{
                @include font-size(0.8); 
                overflow-wrap: repeat-y;               
            }
        }
    }
 }

