form fieldset{
	width:95%;
}

#selectedNodesArea {
    min-height: 200px;
    padding:20px;
}

.selectedNode {
    background-color: #4573FF;
    color: WHITE;
    padding: 5px;
    margin-right: 10px;
    font: 25px;
    display: inline-block;
    margin-bottom: 10px;
}
