@charset "UTF-8";

@import "_grid.scss";
$column-width: 100;
$gutter-width: 0;
$columns: 12;

@import "compass";
@import "compass/reset";


body{
    font-family: "OpenSans",Arial,sans-serif;
    max-width:none;
    height:100%;
}
.opd-wrapper{
    margin:0px auto;
    width:960px;
    position: relative;
    .opd-inner-wrapper{
        @include pie-clearfix;
        header{
            border-radius:0px;
            padding:2px;
            .header-logo{
                background:url("../../images/jss_logo.png") no-repeat left top;
                padding:10px 0px 7px 40px;
                float:left;
            }
            ul{
                float:right;
                li{
                    margin: 5px 15px 5px 0px;
                    display: inline-block;
                a{
                    padding-top:10px;
                    cursor:pointer;
                    
                }
                }
            }
        }
    }
    
    .opd-content-wrapper{
       background:#ffffff;
       padding:20px 10px 20px 10px;
       height:99%;
    }
    .sliding-panel{
        background:#192C04;
        position:relative;
        border-bottom:1px solid #cecece;
        z-index:9999;
        width:100%;
        @include background-image(linear-gradient(#192C04,#192C04)); 
        box-shadow: 0px 2px 5px #888;
     

        .menu-drag{
              width:68px;
              height:30px;
              background: #00463f;
              text-indent:-9999px;
              display:block;
              position:absolute;
              bottom:-31px;
              right:30px;
              @include border-bottom-radius(30px);
              @include background-image(linear-gradient(#fff,#cecece));
              border:1px solid #cecece;
              border-top :none; 
                      box-shadow: 0px 2px 5px #888;

        }
        .menu-drag-close{
            @include background-image(linear-gradient(#cecece,#f1f1f1));      
        }
        .sliding-panel-info{
            @include clearfix();
            padding:0px 10px;
            .patient-info{
                padding:10px;
                float: right;
                .smallImages{
                  margin-left:20px;
                  float: left;
                 }
                 ul{
                    float: left;
                    li{
                        padding:6px 0px;
                        color:#fff;
                        font-size: 14px; 
                        font-family: arial;
                        font-weight: bold;
                    }
                 }
            } 
        }
        
        ul.nav{
            overflow:hidden;
            float: left;
            width: 64%;
            margin-top:66px;
            li{
                font-size:14px;
                margin-right:10px;
                float:left;
                margin-bottom:10px;
                button{
                    color:#000;
                    padding:10px 10px;
                    font-size:14px;
                    display:block;
                    cursor:pointer;
                }
            }
        }
    }

}
table{
    margin-top:20px;
    tr{
        th{
            color: #555555;
            @include background-image(linear-gradient(white, #e2e2e2)); 
            text-align: left;
            padding:10px  7px 10px 7px ;
        }
        td{

        }
    }
}
textarea{
    width:100%;
}
.smallImages{
    max-height: 100px;
    width: 100px;
}

button[disabled] {  
    background: #F7F7F7;
}

#tabButtonRow {
    margin-bottom: 20px;
    button {
        margin-right: 20px;
    };
    button.active {
        background: #00463F !important;
        color: WHITE !important;
    }
}
form select, .form select{
    min-width: 100px;
}
@media only screen and (max-width: 768px) {
  .opd-wrapper{width:768px; font-size:0.9em;}

 }
