@charset "UTF-8";

@import "_grid.scss";
$column-width: 100;
$gutter-width: 0;
$columns: 12;

@import "compass";
@import "compass/reset";


body{
    font-family: "OpenSans",Arial,sans-serif;
    max-width:none;
}
.opd-wrapper{
    margin:0px auto;
    width:960px;
    .opd-inner-wrapper{
        @include pie-clearfix;
    }
    .opd-right-panel{
       @include column(9);
       background:#ffffff;
        height:950px;
    }
    .sliding-panel{
        @include column(2);
        padding:0px 10px;
        height:950px;
        background:#00463f;
        li{
            width:160px;
            margin:0px auto;
            padding:10px 0px;
            font-size:14px;
            .patient-info{
                width:130px;
                margin:0px auto;
                img{
                    display:block;
                    margin-bottom:10px;
                }
            } 
            color:#ffffff;

            button{
                width:160px;
                font-size:14px;
                display:block;
            }
        }
}
}

.box {
    background-color: #fff;
    border: 4px solid #000000;
    border-radius: 19px;
    padding: 10px;
    margin: 5px;
}
.box-gradient{
    height: 50px;
    background-color: #e3fff5;
    border: 2px solid #c2b7b0;
    background-image: -webkit-linear-gradient(top, #848a7d, #fff9f7);
    background-image: linear-gradient(top, #848a7d, #fff9f7);
    background-clip: padding-box;
}
.centeredDiv{
    width: 140px;
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}
.roundedInput{
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    width: 450px;
    height: 40px;
    font-size: 25px
}
.leftBox{
    display:block;
    float:left;
    width:50%;
}
.rightBox{
    display:block;
    float:right;
    width:50%;
}
.centered{
    text-align: center;
}
.smallImages{
    max-height: 100px;
    width: 100px;
}

#tabButtonRow {
    margin-bottom: 20px;
    button {
        margin-right: 20px;
    };
    button.active {
        background: #00463F !important;
        color: WHITE !important;
    }
}

#selectedNodesArea {
    min-height: 200px;
}

.selectedNode {
    height: 30px;
    background-color: #4573FF;
    color: WHITE;
    padding: 5px;
    margin-right: 10px;
    font: 25px
}