@charset "UTF-8";

$column-width: 100;
$gutter-width: 0;
$columns: 12;

@import "compass";
@import "compass/reset";


body{
    font-family: "OpenSans",Arial,sans-serif;
    max-width:none;
    height:100%;
}
.opd-header-wrapper{
        @include pie-clearfix;
        background:#00463F;
        header{
            width:960px;
            margin:0px auto;
            border-radius:0px;
            padding:2px;
            position:relative;
            .header-logo{
                background:url("../images/jss_logo.png") no-repeat left top;
                padding:10px 0px 7px 40px;
                margin:0px auto;
                width:200px;
                display: inline-block;
            }
            .header-links{
                padding:10px 10px 7px 0px;
                margin-top:7px;
                @include pie-clearfix;
                display: inline-block;
            }
            ul{
                &.user-info{
                    float:right;
                }
                li{
                    @include font-size(0.9);
                    display: inline-block;
                    &.logoff{
                        margin:4px 0px 0px 0px;
                        button{
                            padding:10px;
                            margin-top: 1px;
                            background:#447772;
                            border:1px solid #00463F;
                            &:hover{
                              background:#4D9B92;
                           }
                        }
                    }  
                a{
                    padding-top:10px;
                    cursor:pointer;
                    
                 }
                }
            }
        }
        .opd-header-top,header{
            background:#000;
        }
        .opd-header-bottom{
            width:960px;
            margin:0px auto;
            border-radius:0px;
            padding:2px;
            position:relative;
            .header-tabs{
                    float:left;
                    margin-top:10px;
            }
            .patient-detail{
                position:absolute;
                top:58px;
                right:10px;
                color:#F26522;
                z-index:999;
                li{
                    line-height: 18px;
                }
            }
            .patient-info{
                    float:right;    
                }
        }
    }
.opd-wrapper{
    margin:0px auto;
    width:960px;
    position: relative;
    
    
    .opd-content-wrapper{
       background:#ffffff;
       padding:26px 10px 20px 10px;
       height:99%;
    }


}
table{
    margin-top:20px;
    tr{
        th{
            color: #555555;
            @include background-image(linear-gradient(white, #e2e2e2)); 
            text-align: left;
            padding:10px  7px 10px 7px ;
        }
        td{

        }
    }
}
textarea{
    width:96%;
}
.roundImages{
    height: 40px;
    width: 40px;
    border-radius:50%;
    margin-top:4px;
}
.smallImages{
    height:100px;
    width:100px;
}
button[disabled] {  
    background: #F7F7F7;
}
.active-visits{
    li{
        width:143px;
        div{
            margin:5px 0px;
            @include font-size(0.9);
            color:#4d4d4d; 
        }
    }
}
#tabButtonRow {
    margin-bottom: 20px;
    button {
        margin-right: 10px;
    };
    button.active {
        background: #00463F !important;
        color: WHITE !important;
    }
}
form select, .form select{
    min-width: 100px;
}
@media only screen and (max-width: 768px) {
  .opd-header-wrapper header{ width:764px; }
  .opd-wrapper{width:768px; font-size:0.9em;}
 }
