.treatement{
	overflow:hidden;
	.form-field{
	  .field-attribute{
	    label{
	        width:8em;
	    }
	   }
	 }
	 .button-spacing-left{
	 	margin-left:8.8em;
	 	margin-bottom: 10px;
	 }
	 .treatement-l{
	 	float:left;
	 	width:410px;
	 }
	 .treatement-r{
	 	float:right;
	 	padding-top:30px;
	 	padding-left:20px;
	 	min-height: 200px;
	 	.treatment-row{
	 		overflow:hidden;
	 		padding:10px;
	 		background:#114B72;
	 		margin:10px;
	 		color:#fff;
	 		border:1px solid #cecece;
	 		font-size: 14px;
	 		line-height: 18px;
	 		.treatment-row-info{
	 			float:left;
	 		}
	 		.treatment-row-remove{
	 			float:right;
	 			width:20px;
	 			margin-left:20px;
	 		}


	 	}
	 }
}