<section id="admissionDetails" class="block">
    <h2 class="section-title">Admission Details</h2>
    <div ng-if="!admissionEncounter && !dischargeEncounter">
        <div class="placeholder-text">No Admission Details for this patient.</div>
    </div>
    <table class="dashboard-table history-diagnosis" ng-if="admissionEncounter || dischargeEncounter">
        <tbody class="row">
            <tr ng-if="bedDetails">
                <td class="value">{{bedDetails.wardName}}</td>
                <td class="value">{{bedDetails.bedNumber}}</td>
            </tr>
            <tr class="view-past" ng-class="{'notes-open': admissionEncounter.show}">
                <td class="name">
                    <span class="disposition-state">Admission Date</span>
                </td>
                <td class="value">
                    {{admissionEncounter.encounterDatetime| date:'dd MMM yy'}}
                </td>
                <td class="toggle-btn" ng-if="showDetailsButton(admissionEncounter)" ng-if="showDetailsButton(admissionEncounter)">
                    <button class="toggle fr"
                            ng-click="toggle(admissionEncounter)" >
                        <i class="icon-angle-down" ng-hide="admissionEncounter.show"></i>
                        <i class="icon-angle-up" ng-show="admissionEncounter.show"></i>
                    </button>
                </td>
            </tr>
            <tr ng-if="admissionEncounter.show || getNotes(admissionEncounter)">
                <td colspan="3" class="notes inline-notes">
                    <pre class="left ng-binding">{{getNotes(admissionEncounter)}}</pre>
                    <div class="footer-note right">
                        <span class="provider">{{getProviderDetails(admissionEncounter)}} {{admissionEncounter.encounterDatetime  | date:'hh:mm a'}}</span>
                    </div>
                </td>
            </tr>
            <tr class="view-past" ng-if="dischargeEncounter" ng-class="{'notes-open': dischargeEncounter.show}"> 
                <td class="name">
                    <span class="disposition-state">Discharge Date</span>
                </td>
                <td class="value">
                    {{dischargeEncounter.encounterDatetime| date:'dd MMM yy'}}
                </td>
                <td class="toggle-btn" ng-if="showDetailsButton(dischargeEncounter)">
                    <button class="toggle fr"
                             ng-click="toggle(dischargeEncounter)">
                        <i class="icon-angle-down" ng-hide="dischargeEncounter.show"></i>
                        <i class="icon-angle-up" ng-show="dischargeEncounter.show"></i>
                    </button>
                </td>
            </tr>
            <tr ng-show="dischargeEncounter.show || getNotes(dischargeEncounter)">
                <td colspan="3" class="notes inline-notes">
                    <pre class="left ng-binding">{{getNotes(dischargeEncounter)}}</pre>
                    <div class="footer-note right">
                        <span class="provider">{{getProviderDetails(dischargeEncounter)}} {{dischargeEncounter.encounterDatetime  | date:'hh:mm a'}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>