body {
  background: #f5f5f5;
  font-family: "OpenSans",Arial,sans-serif; }

.reg-header {
  height: 50px; }

.remove-margin {
  margin: 0px !important; }

.photoCaptureDialog .photo-video-container {
  position: relative;
  width: 229px;
  float: left; }
  .photoCaptureDialog .photo-video-container .photoCapture-left-overlay {
    position: absolute;
    height: 169px;
    width: 25px;
    left: 0px;
    top: 6px;
    background: #EEEEEE; }
  .photoCaptureDialog .photo-video-container .photoCapture-right-overlay {
    position: absolute;
    height: 169px;
    width: 31px;
    right: 0px;
    top: 6px;
    background: #EEEEEE; }
.photoCaptureDialog .photo-canvas-container {
  float: left;
  width: 188px;
  margin-top: 6px;
  margin-left: 30px !important; }
  .photoCaptureDialog .photo-canvas-container canvas {
    border: 2px solid #fff;
    height: 167px;
    width: 175px;
    background: #f2f2f2; }
.photoCaptureDialog .take-photo-btn {
  margin-left: 57px; }
.photoCaptureDialog .confirmImage {
  margin-left: 105px; }

.login {
  bottom: 0px;
  height: 300px;
  left: 0px;
  margin: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 500px; }

.reg-wrapper {
  margin-top: 10px; }
  .reg-wrapper .search-patientid select {
    width: 70px; }
  .reg-wrapper .header-logo {
    background: url("./img/jss_logo.png") no-repeat scroll left top transparent;
    color: #ffffff;
    display: block;
    font-size: 2em;
    height: 39px;
    margin-left: 5px;
    margin-top: 4px;
    padding-left: 49px;
    padding-top: 11px;
    text-decoration: none; }
  .reg-wrapper .well {
    background: #ffffff; }
  .reg-wrapper header {
    background-color: #501d3d;
    position: relative;
    color: #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .reg-wrapper header li {
      margin: 14px 10px 10px 0px; }
      .reg-wrapper header li a {
        color: #f2f2f2;
        font-weight: bold;
        cursor: pointer; }
        .reg-wrapper header li a .nav-link {
          padding-left: 2px; }
        .reg-wrapper header li a .create {
          background: url(./img/create.png) top left no-repeat;
          width: 14px;
          height: 14px;
          display: inline-block;
          margin-right: 2px; }
  .reg-wrapper .form-horizontal .control-label {
    width: 170px; }
  .reg-wrapper select {
    box-shadow: none; }
  .reg-wrapper .search-btn {
    position: relative;
    left: -45px; }
  .reg-wrapper .search-seperator {
    border-right: 2px dotted #9E9D9D; }
  .reg-wrapper .reg-input {
    width: 230px; }
  .reg-wrapper .slno_col {
    width: 40px; }
  .reg-wrapper table td, .reg-wrapper table th {
    padding: 5px 8px 5px 8px; }
  .reg-wrapper .edit-col {
    width: 40px;
    padding: 1px 2px 0px 2px; }
    .reg-wrapper .edit-col a {
      background: url(./img/edit.png) top left no-repeat;
      width: 30px;
      height: 24px;
      display: inline-block;
      margin-right: 2px;
      cursor: pointer; }
  .reg-wrapper .reg-srch-btn {
    padding-top: 25px;
    padding-left: 10px; }
  .reg-wrapper .photo-container-wrapper {
    position: relative; }
  .reg-wrapper .photo-container {
    position: absolute;
    top: -15px;
    right: 0px;
    border: 7px solid #f0f0f0; }
  .reg-wrapper .capture-photo-btn {
    position: absolute;
    top: 0px;
    left: -56px; }
    .reg-wrapper .capture-photo-btn .btn {
      background: url(./img/photo.png) 2px 3px no-repeat;
      width: 40px;
      height: 40px; }

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b; }

.mylegend {
  background: #e6e6e6;
  font-size: 14px;
  line-height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4; }
  .mylegend span {
    display: inline-block;
    padding: 2px 10px;
    font-weight: bold; }

.asterick {
  color: red; }

.btn-large {
  padding: 5px 20px;
  font-size: 14.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

#casteSameAsLastNameCheckLabel {
  -moz-user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  position: relative;
  top: 3px; }

#overlay {
  display: none;
  z-index: 10000;
  background: #000;
  position: fixed;
  width: 100%;
  opacity: .6;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-position: center; }

.print-layout {
  display: none; }

@media print {
  .print-layout {
    display: block; }

  .non-printable, .alert, header {
    display: none; } }
.btn-secondary {
  float: right; }

table tr th {
  border: 1px solid #d4d4d4;
  background: #e6e6e6; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0p; }

.prev-next-button {
  padding-right: 50px; }

#photo-canvas-container {
  text-align: center; }

#patient-image {
  height: 125px;
  width: 125px; }

@media screen and (max-width: 1366px) and (max-height: 800px) {
  .control-group {
    margin-bottom: 6px !important; }

  .control-res {
    margin-top: 35px !important; }

  .edit-patient .control-res {
    margin-top: 72px !important; }

  .well {
    margin-bottom: 0px !important; }

  .prev-next-button {
    margin-bottom: 0px !important;
    margin-top: 10px;
    padding-right: 8px !important; }

  .span7 {
    width: 52.44681% !important; }

  .search input {
    width: 180px !important; }
  .search .span1 {
    width: 64px; }
  .search .span6 {
    width: 488px; }

  .reg-input {
    width: 198px !important; } }
