body{
	background:#f5f5f5;
    font-family: "OpenSans",Arial,sans-serif;
}
.reg-header{
	height:50px;
}
.remove-margin{
  margin:0px !important; 
}
.login{
    bottom: 0px;
    height: 300px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 500px;
}
.reg-wrapper{
  margin-top:10px;
  .header-logo{
    background: url("./img/jss_logo.png") no-repeat scroll left top transparent;
    color: #ffffff;
    display: block;
    font-size: 2em;
    height: 39px;
    margin-left: 5px;
    margin-top: 4px;
    padding-left: 49px;
    padding-top: 11px;
    text-decoration:none; }
  .well{
      background:#ffffff;
  }
  header {
    background-color: #501d3d;
    position: relative;
    color: #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; 
    li{
      margin:14px 10px 10px 0px;
      a{
        color:#f2f2f2;
        font-weight:bold;
        cursor:pointer;
        .nav-link{
          padding-left:2px;
        }
        .create{
            background:url(./img/create.png) top left no-repeat;
            width:14px;
            height:14px;
            display:inline-block;
            margin-right:2px;
          }
      }
    }
  }
  .form-horizontal .control-label{
      width:170px;
  }
  select{
          box-shadow:none;
  }
  .search-btn{
    position:relative;
    left:-45px;
  }
  .search-seperator{
    border-right:2px dotted #9E9D9D;
  }
  .reg-input{
    width:230px;
  }
  .slno_col{
        width:40px;
  }
  table{
    td,th{
        padding:5px 8px 5px 8px;
    }
  }
  .edit-col{
      width:40px;
      padding:1px 2px 0px 2px;
      a{
        background:url(./img/edit.png) top left no-repeat;
        width:30px;
        height:24px;
        display:inline-block;
        margin-right:2px;
        cursor:pointer;
      }
  }
  .reg-srch-btn{
    padding-top:25px;
    padding-left:10px;
  }
  .photo-container-wrapper{
    position:relative;
  }
  .photo-container{
    position:absolute;
    top:-15px;
    right:0px;
    border:7px solid #f0f0f0;
  }
  .capture-photo-btn{
    position:absolute;
    top:0px;
    left:-56px;
    .btn{
      background: url(./img/photo.png) 2px 3px no-repeat;
      width:40px;
      height:40px;
    }
  }
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

.mylegend {
    background:#e6e6e6;
    font-size: 14px;
    line-height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #d4d4d4;
    span{
        display:inline-block;
        padding:2px 10px;
        font-weight:bold;
    }
}
.asterick{
    color:red;
}
.btn-large {
  padding: 5px 20px;
  font-size: 14.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#casteSameAsLastNameCheckLabel {
    -moz-user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    position: relative;
    top: 3px;

}

#overlay {
  display: none;
  z-index: 10000;
  background: #000;
  position: fixed;
  width: 100%;
  opacity: .6;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image:url("../images/spinner.gif");
  background-repeat:no-repeat;
  background-position:center;
}

.print-layout {
  display: none;
}

@media print {
  .print-layout {
    display: block;
  }
  .non-printable, .alert, header {
    display: none;
  }
}

.btn-secondary {
  float: right;
}   
table{
    tr{ 
        th{
            border:1px solid #d4d4d4;
            background:#e6e6e6;
     
        }
    }
}
.container-fluid{
        padding-left:0px;
        padding-right:0p;
}
.prev-next-button{
  padding-right:50px;  
}

#photo-canvas-container {
  text-align: center;
}

#patient-image {
  height: 125px;
  width: 125px;
}

@media screen and (max-width:1280px) and (max-height: 800px){
  .control-group {
    margin-bottom: 6px !important;
  }
  .control-res{
    margin-top:46px !important;
  }
  .edit-patient{
    .control-res{
    margin-top:82px !important;
  }
  }
  .well{
    margin-bottom:0px !important;
  }
  .prev-next-button{
    margin-bottom:0px !important;
    margin-top:10px;
    padding-right:8px !important;
  }
  .span7{
    width:52.446809% !important
  }
  .search{
    input{  
      width:180px !important;
    }
    .span1{
      width:64px;
    }
    .span6{
        width:488px;
    }
  }
  .reg-input{
    width:198px !important;
  }
}