body {
  background: #f5f5f5;
  font-family: "OpenSans",Arial,sans-serif; }

.reg-header {
  height: 50px; }

.reg-wrapper {
  margin-top: 10px; }
  .reg-wrapper .well {
    background: #ffffff; }
  .reg-wrapper header {
    background-color: #501d3d;
    position: relative;
    color: #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .reg-wrapper header li {
      margin: 14px 10px 10px 0px; }
      .reg-wrapper header li a {
        color: #ffffff;
        font-weight: bold;
        cursor: pointer; }
  .reg-wrapper .form-horizontal .control-label {
    width: 170px; }
  .reg-wrapper select {
    box-shadow: none; }
  .reg-wrapper .search-btn {
    position: relative;
    left: -45px; }
  .reg-wrapper .search-seperator {
    border-right: 2px dotted #cecece; }

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b; }

.mylegend {
  background: #e6e6e6;
  font-size: 14px;
  line-height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d4d4d4; }
  .mylegend span {
    display: inline-block;
    padding: 2px 10px;
    font-weight: bold; }

.asterick {
  color: red; }

.btn-large {
  padding: 5px 20px;
  font-size: 14.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

#casteSameAsLastNameCheckLabel {
  -moz-user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  position: relative;
  top: 3px; }

#overlay {
  display: none;
  z-index: 10000;
  background: #000;
  position: fixed;
  width: 100%;
  opacity: .6;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-position: center; }

.print-layout {
  display: none; }

@media print {
  .print-layout {
    display: block; }

  .non-printable, .alert, header {
    display: none; } }
.btn-secondary {
  float: right; }

table tr th {
  border: 1px solid #d4d4d4;
  background: #e6e6e6; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0p; }
