<div class="appointment-container" ng-init="listView = true">
    <div class="appointment-btn-container">
        <span class="app-filter-btn-wrapper"><a class="app-filter-btn"><i class="fa fa-filter" aria-hidden="true"></i> Filter</a></span>
        <!---TODO: move all the logic to controller --->
        <a ng-class="{'active': listView}" ng-click="listView = true;calenderView = false;">
            {{::'LIST_VIEW' | translate}}
        </a>
        <a ng-class="{'active': calenderView}" ng-click="calenderView = true; listView = false;">
            {{::'CALENDAR_VIEW' | translate}}
        </a>
    </div>

    <section ng-show="calenderView">
        calenderView
    </section>

    <section class="app-list-view" ng-if="listView">
        <table>
            <thead>
            <tr>
                <th>{{::'APPOINTMENT_ID' | translate}}</th>
                <th>{{::'PATIENT ' |translate}}</th>
                <th>{{::'DATE' |translate}}</th>
                <th>{{::'TIME' |translate}}</th>
                <th>{{::'PROVIDER' |translate}}</th>
                <th>{{::'SERVICE' |translate}}</th>
                <th>{{::'LOCATION' |translate}}</th>
                <th>{{::'STATUS' |translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox"><a ng-href="#/home/manage/appointments/12384710">12</a></td>
                <td>Test Patient (GAN20178)</td>
                <td>01/01/2017</td>
                <td>09:00AM</td>
                <td>Dr. Superman</td>
                <td>Ortho</td>
                <td>OPD-1</td>
                <td>Scheduled</td>
            </tr>
            </tbody>
        </table>
    </section>

    <div ui-view="content@appointment"></div>
</div>