<div class="service-admin-wrapper">
    <div class="service-title"><h2>services</h2></div>
    <button ng-click="openServiceView()" class="add-service-btn">{{::'SERVICE_ADD_NEW' | translate }}</button>
    <section class="service-admin-content">
        <table>
            <thead>
            <tr>
                <th>Service Name</th>
                <th>Location</th>
                <th>Speciality</th>
                <th>Duration (min)</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Loren Ipsum</td>
                <td>Loren Ipsum</td>
                <td>Loren Ipsum</td>
                <td>Loren Ipsum</td>
                <td class="service-disc-tablecell">Loren Ipsum</td>
                <td><a ng-click="openServiceView()">edit</a><a href="#">delete</a> </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>