
    <div>

    <section class="section-grid">

        <h2 class="section-title"> Add / Edit services <button class="fr">{{::'SERVICE_SAVE'  | translate }}</button></h2>


        <ul>
            <li>
                service name
            </li>
            <li>
                service detail
            </li>
            <li>
                service detail
            </li>
            <li>
                service detail
            </li>
            <li>
                service detail
            </li>
        </ul>


    </section>
</div>