<div class="confirm-box">
    <div class="ngdialog-close clearfix"></div>
    <!--<span ng-click="close()">-->
    <!--<i class="fa fa-remove"></i>-->
    <!--</span>-->
    <p>
        <label>
            <b>{{::'APPOINTMENT_CREATE_PATIENT_NAME' |translate}}:</b>
            <span>{{ scope.patientAppointment.patient.name }} ({{ scope.patientAppointment.patient.identifier }})</span>
        </label>
    </p>

        <p>
            <b>{{::'APPOINTMENT_SERVICE' | translate}}:</b>
            {{scope.patientAppointment.service.name}}
        </p>
        <p ng-show="scope.patientAppointment.serviceType">
            <b>{{::'APPOINTMENT_SERVICE_TYPE_FULL' | translate}}:</b>
            {{scope.patientAppointment.serviceType.name}}
        </p>
        <p ng-show="scope.patientAppointment.status">
            <b>{{::'APPOINTMENT_STATUS' | translate}}:</b>
            {{scope.patientAppointment.status}}
        </p>

    <p><b>{{::'APPOINTMENT_DATE' | translate}}:</b> {{scope.patientAppointment.startDateTime | bahmniDate}}</p>
    <p><b>{{::'APPOINTMENT_SLOT' | translate}}:</b> {{scope.patientAppointment.startDateTime | bahmniTime}} -
        {{scope.patientAppointment.endDateTime | bahmniTime}}</p>
    <p>
        <b>{{::'APPOINTMENT_CHECKIN_TIME_KEY' | translate}}:</b><sup class="asterick">*</sup>
        <input type="time" ng-model="checkinTime" required/>
    </p>

    <p>
        <button ng-disabled="scope.patientAppointment.status != 'Scheduled'" ng-click="checkIn(scope.checkinTime);">
            {{::'CHECK_IN_APPOINTMENT' | translate}}
        </button>
        <button ng-click="close()">
            {{::'CANCEL_APPOINTMENT' | translate}}
        </button>
    </p>
</div>