<div class="confirm-box">
    <span class="ngdialog-close"></span>
    <p class="message">{{::message | translate}}</p>

    <p>
        <b>{{::'APPOINTMENT_CHECKIN_TIME_KEY' | translate}}:</b><sup class="asterick">*</sup>
        <input type="time" ng-model="time" required/>
    </p>
    <p class="asterick" ng-show="!time">
            {{::'CHECK_IN_APPOINTMENT_TIME_VALIDATION' | translate}}
        </p>
    <button ng-click="performAction(close);">
        {{::'YES_KEY' | translate}}
    </button>
    <button ng-click="close()">
        {{::'NO_KEY' | translate}}
    </button>
</div>
