<section class="add-app-wrapper" ng-init="currentAppTab = 'summary'">
    <header>
<!--  TODO: all this logic should be moved to a controller  -->
        <nav style="display: inline">
            <a ng-class="{'active': currentAppTab === 'summary'}" ng-click="currentAppTab = 'summary'"
               ng-href="#/home/manage/summary">{{ ::'Summary' | translate}}</a>
            <a ng-class="{'active': currentAppTab === 'appointments'}" ng-click="currentAppTab = 'appointments'"
               ng-href="#/home/manage/appointments">{{ ::'Appointment list' | translate}}</a>
        </nav>
        <a class="add-app-btn" ng-click="currentAppTab = 'appointments'" ng-href="#/home/manage/appointments/new">{{::'ADD_NEW_APPOINTMENT' | translate }}</a>
    </header>
    <div ui-view="content@manage"></div>
</section>
