<div>
    <div class="back-btn-wrapper"><button ng-click="showWardList()"><span class="icon-arrow-left"></span>Ward List</button></div>
    <div class="bed-assigned-msg"><div class="confirmationMessage">{{ confirmationMessage}}</div></div>
    <div class="bed-info">
		<ul>
			<li>Bed: {{selectedBed.bed.bedNumber}}</li>
			<div ng-show="!selectedBed.available">
                <div></div>
                <li>{{selectedBed.patientInfo.identifier}}</li>
                <li>{{selectedBed.patientInfo.name}}</li>
                <li>{{selectedBed.patientInfo.gender}}</li>
            </div>
			<li><a class="assign" ng-show="selectedBed.available && !$parent.bedDetails" ng-click="assignBed(selectedBed)">Assign</a></li>
			<li><a class="transfer" ng-show="selectedBed.available && $parent.bedDetails" ng-click="assignBed(selectedBed)">Transfer</a></li>
		</ul>
    </div>
    <div class="bed-assignment">
        <ul class="bed-assignment-inner-wrapper">
        <li class="row" ng-repeat="layoutRow in layout">
            <ul>
                <li class="col" ng-click="fetchBedInfo(cell,$parent.$index,$index)"
                    ng-class="{occupied: !cell.empty && !cell.available, available: !cell.empty && cell.available,
                    empty: cell.empty, currentPatient : getCurrentBed().bedId == cell.bed.bedId }"
                    ng-repeat="cell in layoutRow" bed-assignment-dialog>
                    <span class="bed-type" ng-show="!cell.empty && cell.bed.bedType">{{cell.bed.bedType}}</span>
                </li>
            </ul>
        </li>
    </ul>
    </div>

</div>
