<section class="dashboard-section">
    <h2 ng-if="displayName || diseaseName && hasData" class="section-title">{{::displayName || diseaseName}}</h2>
    <div ng-if="!hasData"  class="placeholder-text">
        <p>{{'NO_DATA_MESSAGE' | translate}}</p>
    </div>
    <table ng-if="hasData"  ng-class="{'h-scroll':showOnPrint, 'pivot-table':showOnPrint, 'h-scroll-print': !showOnPrint}">
        <thead>
        <tr>
            <th class="row-header-group">{{::groupBy}}</th>
            <th ng-repeat="conceptDetail in ::result.conceptDetails">
                <span>{{::conceptDetail.name}}</span>
                <span class="range" ng-if="::conceptDetail.lowNormal">
                    <span>({{::conceptDetail.lowNormal}} - {{::conceptDetail.hiNormal}})</span>
                    <span class="units">{{::conceptDetail.units}}</span>
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(startDate,values) in ::result.tabularData">
            <th class="row-header-group">
                <span class="date">{{getOnlyDate(startDate)}}</span>
                <span ng-if="!groupByVisits" class="time">{{getOnlyTime(startDate)}}</span>
            </th>
            <td ng-init="columnResult = result.tabularData[startDate][conceptDetail.fullName]"  bm-pop-over autoclose="true" ng-repeat="conceptDetail in ::result.conceptDetails"
                ng-class="{'is-abnormal': columnResult.abnormal}">
                <span ng-class="{'popover-trigger': isLonger(columnResult.value), 'is-abnormal': columnResult.abnormal}" bm-pop-over-trigger>{{getColumnValue(columnResult.value)}}</span>
                 <span ng-if="isLonger(columnResult.value)" class="tooltip" bm-pop-over-target>
                     <i class="fa fa-caret-down"></i>
                     <span class="details">{{::columnResult.value}}</span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</section>