//all bahmni global level sass variables goes here:

//COLORS:
$bahmniPrimaryColor: #00463f;
$bahmniSecondaryColor: #669999;

$bahmniPrimaryBtnColor: #a1d030;
$bahmniPrimaryBtnColorHover: #88af28;




//_different shades of grey/gray:
$darkGray: #333;
$mediumGray: #666;
$lightGray: #ccc;
$lightestGray: #eee;






