/*  _colors - bahmniTheme:  */
$bahmniPrimaryColor: #00463f;
$bahmniSecondaryColor: #669999;
$bahmniTertiaryColor: #457FAC;

$bahmniLinkColor: #2b95ff;

$bahmniPrimaryBtnColor: #a1d030;
$bahmniPrimaryBtnColorHover: #88af28;

$bahmniSectionHeaderColor: #66b298;


/*  _components - bahmniTheme: */
$clinicalNotesColor: #fef7e3;
$clinicalCurrentVist: #E8A000;

$clinicalSuccessMessageBg: #f9edbe;
$clinicalInfoMessageBg: #e8edf3;
$clinicalWarningMessageBg: #fffdf0;

$clinicalRemoveBtn: #660000;
$clinicalHighlight: #cceffc;


$clinicalFormInvalid: #ffcdcd;
$clinicalFormFocus: #007fff;
$clinicalFormFocusBg: #fffdf7;


/*  _different shades of grey/gray:  */
$darkGray:     #333;
$mediumGray:   #666;       /* any text will not be lighter than this */
$lightGray:    #ccc;     /* any border will not be lighter than this */
$lightestGray: #eee; /* any background will not be lighter than this */

$primarySectionGridBorder: #bbb;
$bahmniTableHeaderBg: #f3f3f3;


/*  _spacing padding - margin:  */
$smallestSpacing: 5px;
$defaultSpacing: 10px;
$mediumSpacing: 15px;
$largeSpacing: 20px;



