<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
	<span class="ngdialog-start"></span>

	<span class="ngdialog-close"></span>
	<div class="drug-details" ng-if="alreadyActiveSimilarOrder.effectiveStopDate">
		<p><strong class="drug-name">{{alreadyActiveSimilarOrder.getDisplayName()}}</strong> from <strong>{{alreadyActiveSimilarOrder.effectiveStartDate | bahmniDate}}</strong> to <strong>{{alreadyActiveSimilarOrder.effectiveStopDate | bahmniDate}}</strong> is conflicting with drug order you are trying to add. You can revise or refill instead.</p>
	</div>

	<div class="drug-details" ng-if="!alreadyActiveSimilarOrder.effectiveStopDate">
	    <p><strong class="drug-name">{{alreadyActiveSimilarOrder.getDisplayName()}}</strong> from <strong>{{alreadyActiveSimilarOrder.effectiveStartDate | bahmniDate}}</strong> is conflicting with drug order you are trying to add. You can stop the active drug order and create a new one.</p>
	</div>

	<div class="dialog-button-group" ng-if="alreadyActiveSimilarOrder.effectiveStopDate">
		<button id="modal-refill-button" class="secondary-button" type="button" ng-click="refillConflictingDrug(treatment, alreadyActiveSimilarOrder)" focus-on="popupActive" ng-focus="toggleTabIndexWithinModal($event)">Refill</button>
		<button id="modal-revise-button" class="secondary-button" ng-click="revise(alreadyActiveSimilarOrder, conflictingIndex)" ng-focus="toggleTabIndexWithinModal($event)">Revise</button>
	</div>
	<div class="dialog-button-group" ng-if="!alreadyActiveSimilarOrder.effectiveStopDate">
		<button id="modal-ok-button" class="secondary-button " type="button"  ng-click="closeDialog()" focus-on="popupActive">Ok</button>
	</div>

	<span class="ngdialog-end"></span>
</div>


