<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
	<span class="ngdialog-start"></span>

	<span class="ngdialog-close"></span>
	<div class="drug-details">
		<p>You Cannot Dispense A Second Regimen Drug To A Patient Without An Existing First Regimen Drug.</p>

		<div ng-repeat="drugOrder in ngDialogData.conflictingDrugOrders">
		<strong class="drug-name">{{::$index+1}}. {{::drugOrder.getDisplayName()}}</strong> from <strong>{{::drugOrder.effectiveStartDate | bahmniDate}}</strong> to <strong>{{::drugOrder.effectiveStopDate | bahmniDate}}</strong>
		</div>
	</div>
	<span class="ngdialog-end"></span>
</div>


