<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
	<span class="ngdialog-start"></span>

	<span class="ngdialog-close"></span>
	<div class="drug-details">
		<p>Recommended Regimen for Children with weight range of (3.5Kg - 9.9Kg) is "3TC/ABC+LPV/r".</p>

		<div ng-repeat="drugOrder in ngDialogData.conflictingDrugOrders">
		<strong class="drug-name">{{::$index+1}}. {{::drugOrder.getDisplayName()}}</strong> from <strong>{{::drugOrder.effectiveStartDate | bahmniDate}}</strong> to <strong>{{::drugOrder.effectiveStopDate | bahmniDate}}</strong>
		</div>
	</div>
	<span class="ngdialog-end"></span>
</div>


