<section class="drug-orders-history" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div ng-if="drugOrderGroupsEmpty()">
        <p class="placeholder-text">{{'MEDICATION_NO_PRESCRIPTION_SAVED_PLACEHOLDER'|translate}}</p>
    </div>
	<div class="inpage">
		<div class="tabs">
			<div class="tab" ng-repeat="drugOrderGroup in consultation.drugOrderGroups">
				<input class="tab-radio" id="{{'drug-orders-tab-' + $index}}" name="tab-group-1" type="radio" ng-checked="drugOrderGroup.selected" ng-class="{}" tabindex="-1">
				<label class="tab-label" for="{{'drug-orders-tab-' + $index}}">
                    <span>{{drugOrderGroup.label | bahmniDate}}</span>
                    <i class="fa fa-star current-visit-icon" title="Current visit" ng-if="drugOrderGroup.isCurrentVisit"></i>
                </label>
                <button class="secondary-button refill-drugs-btn fr" ng-click="refillAll(drugOrderGroup.drugOrders)" ng-if="!drugOrderGroupsEmpty()">{{ ::'MEDICATION_REFILL_ALL' | translate }}</button>
                <button  ng-repeat="orderAttribute in getOrderAttributes()" class="secondary-button dispense-all-btn fr" show-if-privilege="{{dispensePrivilege}}" ng-if="!drugOrderGroupsEmpty()"  ng-click="updateAllOrderAttributesByName(orderAttribute,drugOrderGroup)" ng-disabled="!canUpdateAtLeastOneOrderAttributeOfName(drugOrderGroup,orderAttribute.name)">
                    <i  ng-init="allOrderAttributesOfNameSet(drugOrderGroup,orderAttribute.name)" class="fa fa-check" ng-show="drugOrderGroup[orderAttribute.name].selected" ></i>
                    {{orderAttribute.name}} All
                </button>
                <div class="inpage-tab-panel">
					<div class="inpage-tab-content">
                        <p ng-if="!drugOrderGroup.drugOrders.length" class="placeholder-text">{{'MEDICATION_NO_RECENT_TREATMENTS'|translate}}</p>
                        <ul class="table-mimic">
							<li id="ordered-drug-orders" ng-repeat="drugOrder in drugOrderGroup.drugOrders" ng-class="{'active-drug' : drugOrder.isActive(), 'highlight' : drugOrder.isBeingEdited, 'scheduled-drug': drugOrder.isScheduled()}">
                                <div class="drug-details" ng-class="{'strike-through': drugOrder.isDiscontinuedOrStopped()}">
                                    <strong class="drug-name">{{drugOrder.getDisplayName()}}</strong>
                                    {{drugOrder.getDescriptionWithQuantity()}}
                                </div>
								<div class="button-group-wrapper">
                                    <div class="button-group">
                                        <button ng-repeat="orderAttribute in drugOrder.orderAttributes" show-if-privilege="{{dispensePrivilege}}"
                                                class="dispense-btn" ng-disabled="shouldBeDisabled(drugOrder,orderAttribute)"
                                                ng-click="updateOrderAttribute(drugOrder,orderAttribute)">
                                            <i class="fa fa-check" ng-show="orderAttribute.value"></i>
                                            {{orderAttribute.name.substring(0,1)}}
                                        </button>
                                        <button ng-disabled="!drugOrder.isActive() || !drugOrder.isEditAllowed" ng-click="revise(drugOrder, drugOrderGroup.drugOrders)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="undo-btn" ng-if="drugOrder.isMarkedForDiscontinue" ng-disabled="!drugOrder.isActive() || !drugOrder.isDiscontinuedAllowed" ng-click="undoDiscontinue(drugOrder)">
                                            <i class="fa fa-undo"></i>
                                        </button>
                                        <button class="stop-drug-btn" ng-if="!drugOrder.isMarkedForDiscontinue" ng-disabled="!drugOrder.isActive() || !drugOrder.isDiscontinuedAllowed" ng-click="discontinue(drugOrder)">
                                            {{ ::'MEDICATION_STOP' | translate }}
                                        </button>
                                        <button class="refill-btn" ng-disabled="!drugOrder.effectiveStopDate || drugOrder.isDrugRetired" ng-click="refill(drugOrder)">
                                            {{ ::'MEDICATION_REFILL' | translate }}
                                        </button>
                                        <button class="toggle" ng-class="{'has-notes': drugOrder.additionalInstructions}" ng-click="toggleShowAdditionalInstructions(drugOrder)">
                                            <i class="fa fa-plus-circle" ng-hide="drugOrder.showAdditionalInstructions"></i>
                                            <i class="fa fa-minus-circle" ng-show="drugOrder.showAdditionalInstructions"></i>
                                        </button>
                                    </div>
								</div>
                                <div class="start-date fr">
                                    <span ng-if="showEffectiveFromDate(drugOrderGroup.visitStartDate, drugOrder.effectiveStartDate)"> {{'MEDICATION_STARTED_ON'|translate}} {{drugOrder.effectiveStartDate | bahmniDate}}</span>
                                    <span class="stop-date">
                                        <div ng-if="drugOrder.isDiscontinuedOrStopped()">{{'MEDICATION_STOPPED_ON'|translate}} {{drugOrder.dateStopped | bahmniDate}}</div>
                                        <div ng-if="drugOrder.orderReasonText && drugOrder.isDiscontinuedOrStopped()">{{'MEDICATION_DUE_TO'|translate}} {{drugOrder.orderReasonText}}</div>
                                        <div ng-if="getOrderReasonConcept(drugOrder) && drugOrder.isDiscontinuedOrStopped()">({{getOrderReasonConcept(drugOrder)}})</div>
                                    </span>
                                </div>
                                <div ng-show="drugOrder.showAdditionalInstructions" class="notes inline-notes">
                                    {{drugOrder.additionalInstructions}}
                                    <div class="footer-note fr">
                                        <span class="time-stamp">
                                            <span class="time">{{drugOrder.dateActivated | bahmniDate}}</span>
                                        </span>
                                        <span class="provider">
                                            <provider-directive creator-name="{{drugOrder.creatorName}}" provider-name="{{drugOrder.provider.name}}"></provider-directive>
                                        </span>
                                    </div>
                                </div>
                                <div ng-if="drugOrder.isMarkedForDiscontinue">
                                    <div class="form fl drug-stop-container">
                                        <article class="form-field">
                                            <div class="field-attribute stop-date-label">
                                                <label class="control-label">{{'DRUG_DETAILS_STOP_DATE'|translate}}</label>
                                            </div>
                                            <div class="field-value">
                                                <input id="date-stopped" type="date" min="{{getMinDateForDiscontinue(drugOrder)}}"
                                                       max="{{scheduledDate}}" ng-model="drugOrder.dateStopped"
                                                       required="required">
                                            </div>
                                            <div class="field-value">
                                                <select id="stopped-reason" class="form-field instruction" ng-change="updateFormConditions(drugOrder)" ng-model="drugOrder.orderReasonConcept" ng-options="item as item.display for item in stoppedOrderReasons">
                                                    <option value="">{{ 'MEDICATION_RECENT_TAB_STOP_REASON' | translate }}</option>
                                                </select>
                                            </div>
                                            <div class="field-value">
                                                <textarea ng-disabled="!drugOrder.orderReasonNotesEnabled" rows="1" id="stopped-reason-non-coded" class="form-field drug-order-notes" placeholder="{{ 'MEDICATION_RECENT_TAB_STOP_NOTES' | translate}}"
                                                          ng-model="drugOrder.orderReasonText"></textarea>
                                            </div>
                                        </article>
                                    </div>
                                </div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
