<section class="medications-orderset-list">
    <div class="subheading-wrapper medications" ng-if="orderSetDrugs.length > 0">
        <h2 class="section-title fl">The selected drug {{treatment.drugNameDisplay}} is a part of {{orderSetDrugs.length}} order set(s)</h2>
    </div>
    <ul class="table-mimic">
        <li id="new-drug-orders" ng-repeat="orderSet in orderSetDrugs">
            <div class="drug-details">
                <div class="form">
                    <strong class="drug-name">{{orderSet.name}}</strong>
                    <span>(</span>
                    <span ng-repeat = "orderSetMember in orderSet.orderSetMembers">
                        {{orderSetMember.concept.display}}
                        <span ng-if="!$last">,</span>
                    </span>
                    <span>)</span>
                    <input type="button" value="Use"/>
                </div>
            </div>
        </li>
    </ul>
</section>