<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
	<span class="ngdialog-start"></span>

	<span class="ngdialog-close"></span>
	<div class="drug-details">
		<p>Preferred Regimen for children less than 3 years and of weight below 20Kgs is "ABC + 3TC + LPV/r". Alternative Regimen 
			include: "AZT + 3TC + RAL", "AZT + 3TC + LPV/r" , "ABC + 3TC + RAL", "AZT + 3TC + EFV".
		</p>

		<div ng-repeat="drugOrder in ngDialogData.conflictingDrugOrders">
		<strong class="drug-name">{{::$index+1}}. {{::drugOrder.getDisplayName()}}</strong> from <strong>{{::drugOrder.effectiveStartDate | bahmniDate}}</strong> to <strong>{{::drugOrder.effectiveStopDate | bahmniDate}}</strong>
		</div>
	</div>
	<span class="ngdialog-end"></span>
</div>


