    <header class="reg-header">
        <a class="header-logo">Jan Swasthya Sahyog</a>
        <ul>
            <li>
                <a log-out><i class="icon-off icon-white small"></i><span class="nav-link">Logout</span></a>
            </li>
        </ul>
    </header>
    <div class="login">

        <div class="apps">
            <ul>

                <li ng-repeat="extn in appExtensions"> 
                     <a ng-click="openApp(extn.url)" class="button app big"><i class="{{extn.icon}}"></i>{{extn.label}}</a>
                </li>

               <!--  <li>
                    <a ng-click="openApp('registration/#/search')" class="button app big"><i class="icon-user"></i>Registration</a>
                </li>
                <li>
                    <a ng-click="openApp('opd/patients')" class="button app big"><i class="icon-user-md"></i>OPD</a>
                </li> -->

            </ul>
        </div>
    
    </div>
