.close {
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.heading {
  padding: 20px;
  font-size: 20px;
}

.add-allergy-container {
  padding: 0 20px;
  margin-bottom: 80px;
  max-width: 500px;
}

.back-button {
  color: #0F62FE;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 10px;

  >* {
    cursor: pointer;
  }
}