.close {
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
.heading{
  padding: 20px;
  font-size: 20px;
}
.add-allergy-container{
  padding: 0 20px;
  margin-bottom: 80px;
  max-width: 500px;
}