<div>
    <section class="block dashboard-section">
        <div class="dashboard-patientInformation-section" id="patient_information">
            <section bindonce="patient" class="block patientInformation" ng-class="{'more': patientSummary.show}">
                <table class="patient dashboard-table">
                    <tbody>
                    <tr class="patient-info">
                        <td colspan="2">
                    <span class="patient-img">
                        <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
                    </span>
                            <div class="patient-value">
                         <span class="patient-name">
                            {{patient.name | titleCase}} ({{patient.identifier}})</span> -
                         <span class="patient-gender-age">
                            {{patient.genderText}}, {{patient.ageText}} </span>
                         <span class="patient-address">
                             {{patient.address.cityVillage}}
                         </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</div>
<div>
    <section class="block dashboard-section">
        <h2 class="section-title ng-binding">Select Program</h2>
        <select ng-model="programSelected" ng-options="program.display for program in allPrograms" ng-required="1==1">
            <option value="">Choose program</option>
        </select>
        <input type="date" ng-model="programEnrollmentDate"/>
        <button type="submit" ng-click="enrollPatient()">Enroll</button>
    </section>
</div>
<div>
    <section class="block dashboard-section">
        <h2 class="section-title ng-binding">Active Programs</h2>
        <table ng-show="hasPatientEnrolledToSomePrograms()">
            <thead>
            <tr>
                <th class="slno_col"><strong>Sl.No</strong></th>
                <th><strong>Program</strong></th>
                <th><strong>Date Enrolled</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="program in activePrograms">
                <td>{{$index + 1}}</td>
                <td>
                    <a ng-href="#/patient/{{patient.uuid}}/dashboard">{{program.display}}</a>
                </td>
                <td>{{program.dateEnrolled | bahmniDate}}</td>
            </tr>
            </tbody>
        </table>
        <div class="note-container" ng-show="!hasPatientEnrolledToSomePrograms()">
            <div class="note warning">
                <div class="text">
                    <p>The Patient has not enrolled to any programs</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <a class="back-btn" ng-href="#/patient/{{patient.uuid}}/dashboard"
       title="Go to Clinical Dashboard">
        General Consultation
    </a>
</div>