<section class="dashboard-section ng-scope pacs-orders">
    <h2 class="section-title">{{::section | titleTranslate}}</h2>
    <div>
        <section ng-hide="noOrdersMessage">
            <ul class="navigation-link-container clearfix">
                <li ng-repeat="bahmniOrder in ::bahmniOrders">
                <span class="tree-list-item" >
                    <a ng-click="openImage(bahmniOrder)" target="_blank">
                        {{::getLabel(bahmniOrder)}}
                    </a>
                    <span class="fr order-sub-heading-container">
                        <span class="order-sub-heading">
                            <span class="provider-name fl">{{::bahmniOrder.provider}} </span>
                            <span class="provider-date fr">{{::bahmniOrder.orderDate | bahmniDateTime }}</span>
                        </span>
                    </span>
                </span>
                </li>
            </ul>
        </section>
        <div ng-show="noOrdersMessage">
            <div class="placeholder-text" ><p translate="DISPLAY_CONTROL_ERROR_MESSAGE_KEY" translate-values="{displayControl : '{{noOrdersMessage}}'}"></p></div>
        </div>
    </div>
</section>