<section class="dashboard-section ng-scope">
    <h2 class="section-title">{{section.translationKey | translate}}</h2>
    <section ng-hide="noOrdersMessage">
        <ul class="navigation-link-container">
            <li ng-repeat="bahmniOrder in ::bahmniOrders">
                <span class="tree-list-item" ng-click="toggle(bahmniOrder)">
                    <!-- Iframe to embed Oviyam pacs image should come here-->
                    <a ng-href="{{getUrl(bahmniOrder.orderNumber)}}" target="_blank">
                        {{bahmniOrder.conceptName}}
                    </a>
                    <span class="order-sub-heading-container">
                        <span class="fr order-sub-heading">
                            {{bahmniOrder.provider}} {{ bahmniOrder.orderDate | bahmniDateTime }}
                        </span>
                    </span>
                </span>
            </li>
        </ul>
    </section>
    <div ng-show="noOrdersMessage">
        <div class="placeholder-text" ><p translate="DISPLAY_CONTROL_ERROR_MESSAGE_KEY" translate-values="{displayControl : '{{noOrdersMessage}}'}"></p></div>
    </div>
</section>