<div>
    <form name="myForm" class="form-horizontal well" ng-submit="edit()">
        <legend class="mylegend"><span>Patient Profile Information</span></legend>

        <div class="control-group">
            <span class="span5 remove-margin">
                <label class="control-label" for="patientId">Patient Identifier</label>
                <div class="controls">
                    <span class="input-xlarge uneditable-input" id="patientId">{{patient.identifier}}</span>
                </div>
            </span>
            <span class="span6 photo-container-wrapper">
                <span class="pull-right photo-container">
                        <img ng-src="{{patient.image}}"
                             onerror="this.onerror=null;this.src='modules/photo-capture/images/blank-user.gif';"/>
                        <div ng-model="patient.image" capture-photo class="capture-photo-btn"></div>
                 </span>
            </span>
        </div>

        <ng-include src="patientCommon()" ng-controller="PatientCommonController"></ng-include>

        <div class="control-group">
            <div class="controls pull-right">
                <button type="button" class="btn" ng-click="back()" ng-show="showBackButton()">Back to Search Results</button>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </form>
    <br>
</div>
</div>