<div class="container-fluid">
    <h4>Register New Patient</h4>

    <form name="myForm" class="form-horizontal well" ng-submit="edit()">
        <legend class="mylegend"><span>Edit Patient (Patient Profile Information)</span></legend>

        <div class="control-group">
            <label class="control-label" for="patientId">Patient Identifier</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input" id="patientId">{{patient.identifier}}</span>
            </div>
        </div>

        <ng-include src="patientCommon()" ng-controller="PatientCommonController"></ng-include>

        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn btn-primary" ng-click="back()" ng-show="showBackButton()">Back to Search Results</button>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </form>
    <br>
</div>
</div>