<div id="registrationCard" class="print-layout" ng-include="printLayout()"></div>

<div class="edit-patient">
    <form name="myForm" class="form-horizontal well" ng-submit="edit()">
        <legend class="mylegend">
            <span>Patient : {{patient.identifier}}</span>
        </legend>

        <div class="control-group">
            <span class="span5 remove-margin">
                <label class="control-label">Registration Date</label>
                <div class="controls">
                    <span class="uneditable-input">{{patient.registrationDate | date:'dd-MM-yyyy'}}</span>
                </div>
            </span>
            <span class="span6 photo-container-wrapper">
                <span class="pull-right photo-container">
                        <img id="patient-image" ng-src="{{patient.image}}"
                             onerror="this.onerror=null;this.src='modules/photo-capture/images/blank-user.gif';"/>
                        <div ng-model="patient.image" capture-photo class="capture-photo-btn"></div>
                 </span>
            </span>
        </div>

        <ng-include src="patientCommon()" ng-controller="PatientCommonController"></ng-include>

        <div class="control-group prev-next-button">
            <div class="controls pull-right">
                <button type="button" class="btn" ng-click="back()" ng-show="showBackButton()">Back to Search Results</button>
                <button type="button" class="btn" ng-click="printPatient()">Print</button>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </form>
    <br>
</div>
</div>