<div class="reg-body-wrapper">

<div class="simple-form-ui new-patient">
    <form name="myForm" class="form-horizontal well" ng-submit="create()" >
        <legend class="mylegend"><span>New Patient Registration (Patient Profile Information)</span></legend>
    <section class="clearfix">
            <article class="form-field">
                <div class="field-attribute">
                    <label class="control-label" for="center">Center</label>
                </div>

                <div class="field-value">
                     <select  id="center" ng-model="patient.centerID" ng-options="c.name for c in centers" required> </select>
                </div>
            </article>
            <article class="form-field">
                <div class="field-attribute">
                    <label class="control-label" for="hasOldIdentifier">Enter ID</label>
                </div>

                <div class="field-value input-label-inline">
                    <input type="checkbox"  id="hasOldIdentifier" ng-model="hasOldIdentifier" ng-change="patient.clearRegistrationNumber()">
                </div>
            </article>
            
            <div class="photo-container-wrapper">
                    <span class="pull-right photo-container">
                            <img id="patient-image" ng-src="{{patient.image}}"
                                 onerror="this.onerror=null;this.src='images/blank-user.gif';"/>
                            <div ng-model="patient.image" capture-photo class="capture-photo-btn"></div>
                     </span>
            </div>
    </section>
    <section>
            <article class="form-field" ng-show="hasOldIdentifier">
                <div class="field-attribute">
                    <label class="control-label" for="registrationNumber">Patient Identifier </label>
                </div>
                <div class="field-value">
                    <div class="input-prepend">
                        <span class="add-on">{{patient.centerID.name}}</span>
                        <input type="text" id="registrationNumber" ng-model="patient.registrationNumber"
                               placeholder="Registration Number" non-blank="hasOldIdentifier"
                               ng-change="patient.generateIdentifier()">
                    </div>
                    </div>
            </article>
    </section>
       

        <div ng-include="patientCommon()" ng-controller="PatientCommonController"></div>
        <div class="submit-btn-container">
            <div class="right">                
                <button type="submit" class="confirm">Next</button>
            </div>
        </div>
    </form>
    <br>
</div>
</div>
</div>