<div class="control-group">
    <label class="control-label" for="patientName">Patient Name *</label>
    <div class="controls" id="patientName">
                <span class="pull-left">
                    <input type="text" id="givenName" ng-model="patient.givenName" autofocus non-blank placeholder="First Name">
                    <input type="text" id="familyName" ng-model="patient.familyName" non-blank placeholder="Last Name" my-autocomplete>
                </span>
                <span class="span3">
                    <input type="checkbox" id="casteSameAsLastNameCheck" ng-model="patient.sameAsLastName" ng-change="setCasteAsLastName()">
                    <label id="casteSameAsLastNameCheckLabel" for="casteSameAsLastNameCheck">Caste same as Last Name</label>
                </span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="caste">Caste</label>
    <div class="controls">
        <input type="text" id="caste" ng-model="patient.caste" placeholder="Caste" my-autocomplete>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="class">Class</label>
    <div class="controls">
        <select  id="class" ng-model="patient.class">
            <option>OBC</option>
            <option>General</option>
            <option>SC</option>
            <option>ST</option>
            <option>Other</option>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="primaryRelative">Father's/Husband's Name</label>
    <div class="controls">
        <input type="text" id="primaryRelative" ng-model="patient.primaryRelative" placeholder="Father's/Husband's Name">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="birthdate">DOB</label>
    <div class="controls">
        <input id="birthdate" type="text" pattern="\d{2}-\d{2}-\d{4}" ng-model="patient.birthdate" datepicker ng-change="patient.calculateAge()" placeholder="dd-mm-yyyy" class="datepicker">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="ageYear">Age</label>
    <div class="controls">
        <input type="number" id="ageYear" name="ageYear" max="120" ng-model="patient.age" min="0" placeholder="Age" required>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="gender">Gender *</label>
    <div class="controls">
        <select  id="gender" ng-model="patient.gender" required>
            <option value=""></option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select>
    </div>
</div>

<legend class="mylegend"><span>Address And Contact Details</span></legend>
<div class="control-group">
    <label class="control-label" for="address1">House No., Street</label>
    <div class="controls">
        <input type="text" id="address1" ng-model="patient.address.address1" placeholder="House No., Street">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="address2">Village</label>
    <div class="controls">
        <input type="text" id="address2" ng-model="patient.address.cityVillage" placeholder="Village">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="address3">Tehsil</label>
    <div class="controls">
        <input type="text" id="address3" ng-model="patient.address.address3" placeholder="Tehsil">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="countyDistrict">District</label>
    <div class="controls">
        <input type="text" id="countyDistrict" ng-model="patient.address.countyDistrict" placeholder="District">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="stateProvince">State</label>
    <div class="controls">
        <input type="text" id="stateProvince" ng-model="patient.address.stateProvince" placeholder="State">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="contactNumber">Contact Number</label>
    <div class="controls" id="contactNumber">
        <input type="text" id="primaryContact" ng-model="patient.primaryContact" placeholder="Primary Number">
        <input type="text" id="secondaryContact" ng-model="patient.secondaryContact" placeholder="Secondary Number">
    </div>
</div>

<legend class="mylegend"><span>Secondary Information</span></legend>
<div class="control-group">
    <label class="control-label" for="education">Education Details</label>
    <div class="controls">
        <select  id="education" ng-model="patient.education">
            <option>Uneducated</option>
            <option>5th Pass and Below</option>
            <option>6th to 9th</option>
            <option>10th Pass</option>
            <option>Graduate and Above</option>
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="occupation">Occupation</label>
    <div class="controls">
        <select  id="occupation" ng-model="patient.occupation">
            <option>Unemployed</option>
            <option>Student</option>
            <option>Agriculture Related</option>
            <option>Government</option>
            <option>Business</option>
            <option>Housewife</option>
            <option>Bank Related</option>
            <option>Medical Related</option>
            <option>Engineering Related</option>
            <option>Other</option>
        </select>
    </div>
</div>
