<table border="1" cellpadding="1" cellspacing="1" style="width: 500px; ">
    <tbody>
    <tr>
        <td>
            <p style="text-align: center; ">
                <strong>सूचना</strong>
            </p>
            <ul>
                <li>
                    स्वास्थ्य केन्द्र में पुनः आने के समय यह कार्ड लाना अति आवश्यक है।
                </li>
                <li>
                    दवा डाक्टर के निर्देशानुसार ही लें।
                </li>
                <li>
                    केन्द्र में पंजीयन का समय - प्रातः 8:30 से  दोपहर 12:00 बजे तक।
                </li>
                <li>
                    ओ.पी.डी. के दिन - सोम, बुध, शुक्र।
                </li>
                <li>
                    साप्ताहिक अवकाश - रविवार।
                </li>
            </ul>
            <p>&nbsp;</p>
            <table border="0" cellpadding="1" cellspacing="1" style="width: 500px; ">
                <tbody>
                <tr>
                    <td style="text-align: center; ">
                        <strong>सावधान</strong>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; ">
                        बीडी, तम्बाकू, गुटका से केंसर, ह्रदय रोग और दमा हो सकते हैं।
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="text-align: center;">&nbsp;</p>

            <p style="text-align: center;">&nbsp;</p>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
            <table align="center" style="width: 500px; align:center;">
                <td>
                    <p style="text-align: center; ">
                        <img src="images/jss-icon.png" style="float: center; width: 100px; height: 100px; "/>
                    </p>
                </td>
                <td style="text-align: center;">
                    <h2>
                        जन स्वास्थ्य सहयोग  (पंजीकृत)
                    </h2>
                    <span>
                        गनियारी, जिला - बिलासपुर
                    </span>
                </td>
                <td>
                    <p style="text-align: center; ">
                        <img style="float: center; width: 80px; height: 80px; " id="GenderIcon"/>
                    </p>
                </td>
            </table>
            <table align="center" style="padding:0px 20px 0px 20px; ">
                <tbody>
                <tr>
                    <td width="150px">दिनाँक</td>
                    <td>
                        : <input type="text" id="Date" readonly="true" style="border-width: 0px 0px 0px 0px;">
                    </td>
                </tr>
                <tr>
                    <td>रजिस्ट्रेशन</td>
                    <td>
                       : <input type="text" id="Id" ng-model="patient.identifier" readonly="true"
                               style="border-width: 0px 0px 0px 0px;">
                    </td>
                </tr>
                <tr>
                    <td>नाम</td>
                    <td>
                       : <span id="Name">{{patient.name}}<span/>
                    </td>
                </tr>
                <tr>
                    <td>उम्र</td>
                    <td>
                       : <input type="text" id="Age" ng-model="patient.age" readonly="true"
                               style="border-width: 0px 0px 0px 0px;">
                    </td>
                </tr>
                <tr>
                    <td>लिंग</td>
                    <td>
                        : <input type="text" id="Gender" readonly="true" style="border-width: 0px 0px 0px 0px;">
                    </td>
                </tr>
                <tr>
                    <td>वजन</td>
                    <td>
                        : <input type="text" id="Weight" readonly="true" style="border-width: 0px 0px 0px 0px;">
                    </td>
                </tr>
                <tr>
                    <td>गाँव</td>
                    <td>
                        : <input type="text" id="Village" readonly="true" style="border-width: 0px 0px 0px 0px;">
                    </td>
                </tr>
                <tr>
                    <td>तहसील</td>
                    <td>
                        : <input type="text" id="Tehsil" readonly="true" style="border-width: 0px 0px 0px 0px;">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>