<table border="1" cellpadding="1" cellspacing="1" style="width: 163mm; height: 83mm; overflow: scroll">
    <tbody>
    <tr>
        <td>
            <h3 style="text-align: center; ">सूचना</h3>
            <ul style=" font-size: 4mm;">
                <li>
                    स्वास्थ्य केन्द्र में पुनः आने के समय यह कार्ड लाना अति आवश्यक है ।
                </li>
                <li>
                    दवा डाक्टर के निर्देशानुसार ही लें ।
                </li>
                <li>
                    केन्द्र में पंजीयन का समय - प्रातः 8:30 से  दोपहर 12:00 बजे तक ।
                </li>
                <li>
                    ओ.पी.डी. के दिन - सोम, बुध, शुक्र ।
                </li>
                <li>
                    साप्ताहिक अवकाश - रविवार ।
                </li>
            </ul>
            <div align="center">
                <h3 style="text-align: center; ">सावधान</h3>
                <span style="text-align: center; ">
                    बीडी, तम्बाकू, गुटका से केंसर, ह्रदय रोग और दमा हो सकते हैं ।
                </span>
            </div>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td style="width: 78mm;" valign="top">
            <table>
                <tr>
                    <td>
                        <p style="text-align: center;">
                            <img src="images/jss-icon.png" style="width: 12mm; height: 12mm; "/>
                        </p>
                    </td>
                    <td style="text-align: center;">
                        <h3>
                            जन स्वास्थ्य सहयोग  (पंजीकृत)
                        </h3>

                    </td>
                    <td>
                        <img src="{{patient.image}}" style="width: 20mm; height: 20mm; "
                             onerror="this.onerror=null;this.src='modules/photo-capture/images/blank.jpeg';"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center; ">
                        <span>
                        गनियारी, जिला - बिलासपुर
                        </span>
                    </td>
                </tr>
            </table>
            <table style="padding:0mm 5mm 0mm 5mm;">
                <tbody>
                <tr>
                    <td style="width: 17mm">
                        <span class="hindi-text">दिनाँक</span>
                    </td>
                    <td style="width: 2mm"> :  </td>
                    <td>{{patient.registrationDate | date:'dd/MM/yyyy'}} </td>
                </tr>
                <tr>
                    <td>
                        <span class="hindi-text">रजिस्ट्रेशन</span>
                    </td>
                    <td> :  </td>
                    <td>{{patient.identifier}} </td>
                </tr>
                <tr>
                    <td>
                        <span class="hindi-text">नाम</span>
                    </td>
                    <td> :  </td>
                    <td>
                        <span class="hindi-text">{{patient.fullNameHindi()}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hindi-text">उम्र</span>
                    </td>
                    <td> :  </td>
                    <td>{{patient.age}} </td>
                </tr>
                <tr>
                    <td>
                        <span class="hindi-text">लिंग</span>
                    </td>
                    <td> :  </td>
                    <td>{{patient.gender}} </td>
                </tr>
                <tr>
                    <td>
                        <span class="hindi-text">वजन</span>
                    </td>
                    <td> :  </td>
                    <td ng-pluralize count="obs.weight" when="{'0': '', 'other': '{} kg'}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="hindi-text">गाँव</span>
                    </td>
                    <td> :  </td>
                    <td>{{patient.address.cityVillage}} </td>
                </tr>
                <tr>
                    <td>
                        <span class="hindi-text">तहसील</span>
                    </td>
                    <td> :  </td>
                    <td>{{patient.address.address3}} </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>