<table border="1" cellpadding="1" cellspacing="1" style="width: 500px; ">
    <tbody>
    <tr>
        <td>
            <p style="text-align: center; ">
                <strong>सूचना</strong>
            </p>
            <ul>
                <li>
                    स्वास्थ्य केन्द्र में पुनः आने के समय यह कार्ड लाना अति आवश्यक है।
                </li>
                <li>
                    दवा डाक्टर के निर्देशानुसार ही लें।
                </li>
                <li>
                    केन्द्र में पंजीयन का समय - प्रातः 8:30 से  दोपहर 12:00 बजे तक।
                </li>
                <li>
                    ओ.पी.डी. के दिन - सोम, बुध, शुक्र।
                </li>
                <li>
                    साप्ताहिक अवकाश - रविवार।
                </li>
            </ul>
            <p>&nbsp;</p>
            <table border="0" cellpadding="1" cellspacing="1" style="width: 500px; ">
                <tbody>
                <tr>
                    <td style="text-align: center; ">
                        <strong>सावधान</strong>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; ">
                        बीडी, तम्बाकू, गुटका से केंसर, ह्रदय रोग और दमा हो सकते हैं।
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
            <table align="center" style="width: 500px; align:center;">
                <td>
                    <p style="text-align: center; ">
                        <img src="images/jss-icon.png" style="width: 100px; height: 100px; "/>
                    </p>
                </td>
                <td style="text-align: center;">
                    <h2>
                        जन स्वास्थ्य सहयोग  (पंजीकृत)
                    </h2>
                    <span>
                        गनियारी, जिला - बिलासपुर
                    </span>
                </td>
                <td>
                    <p style="text-align: center; ">
                        <img ng-src="{{patient.image}}" style="width: 100px; height: 100px; "
                             onError="this.onError=null;this.src='modules/photo-capture/images/blank-user.gif';"/>
                    </p>
                </td>
            </table>
            <table align="center" style="padding:0px 20px 0px 20px; ">
                <tbody>
                <tr>
                    <td width="150px">दिनाँक</td>
                    <td> : {{today() | date:'dd/MM/yyyy'}} </td>
                </tr>
                <tr>
                    <td>रजिस्ट्रेशन</td>
                    <td> : {{patient.identifier}} </td>
                </tr>
                <tr>
                    <td>नाम</td>
                    <td> : {{patient.fullNameHindi()}} </td>
                </tr>
                <tr>
                    <td>उम्र</td>
                    <td> : {{patient.age}} </td>
                </tr>
                <tr>
                    <td>लिंग</td>
                    <td> : {{patient.gender}} </td>
                </tr>
                <tr>
                    <td>वजन</td>
                    <td> : {{obs.weight}} </td>
                </tr>
                <tr>
                    <td>गाँव</td>
                    <td> : {{patient.address.cityVillage}} </td>
                </tr>
                <tr>
                    <td>तहसील</td>
                    <td> : {{patient.address.address3}} </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>