<div class="well">
    <div class="clearfix">
        <div class="span5 search-seperator form-inline">
            <form name="searchByIdForm" ng-submit="searchById()" class="form-horizontal form-seach">
                <div class="control-group pull-left">
                    <label for="registrationNumber"><strong>Patient ID</strong></label>

                    <div>
                        <select id="center" class="span1" ng-model="centerId"
                                ng-options="c.name as c.name for c in centers"> </select>
                        <input type="text" id="registrationNumber" ng-model="registrationNumber" autofocus
                               placeholder="Enter ID">
                    </div>
                </div>
                <div class="reg-srch-btn pull-left">
                    <button type="submit" ng-disabled="!registrationNumber" class="btn">Search</button>
                </div>
            </form>
        </div>
        <div class="span6 form-inline">
            <form name="searchByNameForm" ng-submit="searchByName()" class="form-horizontal">

                <div class="control-group pull-left">
                    <label for="name"><strong>Name</strong></label>

                    <div class="reg-input">
                        <input type="text" id="name" ng-model="name" placeholder="Enter name">
                    </div>
                </div>
                <div class="control-group pull-left">
                    <label for="name"><strong>Filter by Village</strong></label>

                    <div class="reg-input">
                        <input type="text" ng-disabled="!name" id="village" ng-model="village" placeholder="Enter village name">
                    </div>
                </div>
                <div class="reg-srch-btn">
                    <button type="submit" ng-disabled="!name" class="btn">Search</button>
                </div>
            </form>

        </div>
    </div>
</div>

<br>

<p ng-show="noResultsMessage">{{noResultsMessage}}</p>
<p ng-show="moreResultsPresent">More results present. Please refine your search</p>
<table ng-show="resultsPresent()" class="table table-hover">
    <thead>
    <tr>
        <th class="slno_col">Sl.No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Village</th>
        <th class="edit-col"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results">
        <td>{{$index + 1}}</td>
        <td>{{result.identifiers[0].identifier}}</td>
        <td>{{result.person.names[0].givenName}} {{result.person.names[0].familyName}}</td>
        <td>{{result.person.gender}}</td>
        <td>{{result.person.age}}</td>
        <td>{{result.person.addresses[0].cityVillage}}</td>
        <td class="edit-col"><a ng-click="editPatient(result.uuid)"></a></td>
    </tr>
    </tbody>
</table>
