/*doc
---
title: Buttons
name: button
category: Bahmni styleGuide
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example
<button class="back-btn">Back Button</button>
```

*/



@mixin button($tcolor: #FFF, $bcolor: #DDD, $font: $text) {
  border-radius: 3px;
  background: linear-gradient(to bottom, $tcolor, $bcolor);
  background-color: $bcolor;
  border: $bcolor 1px solid;
  padding: 8px 20px;
  display: inline-block;
  line-height: 1.2em;
  color: $font;
  cursor: pointer;
  min-width: 0;
  max-width: 300px;
  text-decoration: none;

  &:hover {
    background: lighten($bcolor, 2%);
    border-color: darken($bcolor, 5%);
      @media screen and (max-width: 1024px) {
        background: linear-gradient(to bottom, $tcolor, $bcolor);
        border: $bcolor 1px solid;
      }
  }

  &.active {
    background: darken($bcolor, 2%);
    border-color: darken($bcolor, 5%);
  }

  i {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    line-height: .5em;
  }

  &.big, &.medium {
    i {
      display: block;
      font-size: 50px;
      margin: 0 auto;
      padding: 10px;
    }
  }

  &.medium {
    i {
      font-size: 34px;
    }
  }

  &.disabled, &:disabled {
    background: #EEE;
    border: #CCC 1px solid;
    color: #CCC;
    cursor: default;
  }

  &.print {
    padding: 10px;

    i {
      font-size: 1.5em;
    }
  }

  &.app {
    padding: 20px 10px;
    width: 150px;
    min-height: 90px;
    vertical-align: top;
    line-height: 1.3em;
    margin: 10px;
    text-align: center;
  }

  &.arrow {
    box-sizing: border-box;
    position: relative;
    padding: 9px 5px;
    margin-left: -10px;
    background: darken($success, 10%);
    color: white;
    border-color: #BBB;
    height: 68px;

    span {
      display: block;
      line-height: 1em;
    }

    i {
      line-height: 1em;
      font-size: 2em;
    }

    .arrow-button {
      width: 0;
      height: 0;
      top: 0;
      right: -17px;
      border-bottom: 34px solid transparent;
      border-top: 33px solid transparent;
      border-left: 18px solid darken($success, 10%);
      position: absolute;
    }

    .arrow-border-button {
      width: 0;
      height: 0;
      top: 0;
      right: -18px;
      border-bottom: 34px solid transparent;
      border-top: 33px solid transparent;
      border-left: 18px solid #BBB;
      position: absolute;
    }

    &.disabled {
      background: #EEE;
      border: #CCC 1px solid;
      color: #CCC;
      cursor: default;

      .arrow-button {
        border-left: 18px solid #eee;
      }

      .arrow-border-button {
        border-left: 18px solid #ccc;
      }
    }
  }
}

.button, button, input[type="submit"], input[type="button"],input[type="reset"], input[type="submit"], a.button {
  @include button;

  &.task {
    @include button(lighten($text,20%), lighten($text, 20%), white);

    padding: 5px 6px;
    min-width: 221px;
    font-size: 0.9em;

    &:visited {
      color: white;
    }

    i {
      font-size: 1em;
      margin: 0px 2px;
    }
  }

  &.confirm {
    @include button($success, darken($success, 8%), white);
    max-width: 250px;
    min-width: 0;
    margin-right: 10px;
  }

  &.cancel {
    @include button($error, darken($error, 8%), white);
    max-width: 250px;
    min-width: 0;
    margin-right: 10px;
  }

  &.proceed {
    @include button($error, darken($error, 8%), white);
    max-width: 250px;
    min-width: 0;
    margin-right: 10px;
  }

  &.no-color {
    @include button();
  }
}


/* button states - lvha */
button:hover { opacity: 0.8; }
button:focus, a:focus, .btn:focus { outline:none; border-color: #007FFF; }
button[disabled] { opacity: 0.4; cursor: not-allowed; }


/*backButton:*/
a.back-btn, button.back-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
    margin: 6px 6px 0 0px;
    color: $white;  
    border-left: 0;
    float: left;
    font-size: 16px;
    border-radius: 3px;
    &:hover {
        text-decoration: none;
        color: $white;
        cursor: pointer;
        opacity: 0.8;
    }

    &.dashboard-link img {
        height: 26px;
        width: 26px;
        border-radius: 100%;
        float: left;
        margin-right: 5px;
    }
    .patient-info {
          float: left;
          font-size: 12px;
          color: $white;
            line-height: 1.1;
          .patient-id {
            display: block;
            color: $lightGray;
            font-size: 11px;
          }
          .patient-name {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            @media screen and (max-width: 1024px) {
              width: 75px;
            }
          }
      }
}

ul li a.back-btn, ul li a.back-btn:hover, button.back-btn, a.back-btn { 
    padding: 4px 10px 5px 10px;
    border: 1px solid darken($bahmniSecondaryColor, 15%);
    background: linear-gradient(to bottom, $bahmniSecondaryColor, darken($bahmniSecondaryColor, 10%));

    i {
        // padding: 0 5px 0 0;
        // &.fa-circle-arrow-left {
        //   margin-left: -5px;
        // }
      font-size: 30px;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
    &.dashboard-link {
      padding:6px 8px 5px;
    }
    &.back-icon {
      padding-left: 30px;
        &:before {
          font-family: FontAwesome;
          content: "\F0A8";
          position: absolute;
          left: 5px;
          top: 11px;
          font-size: 20px;
          font-weight: normal;
          &:hover {
              cursor: pointer;
          }
      }
    }
}
button.back-btn {
    box-shadow: none;
    line-height: 1.1em;
    //float: none;
}
.back-btn-link {
    @include clearfix();
    padding: 6px 8px 5px;
    border: 1px solid darken($bahmniSecondaryColor, 15%);
    background: linear-gradient(to bottom, $bahmniSecondaryColor, darken($bahmniSecondaryColor, 10%));
    margin-top: 6px;
    float: left;
    display: inline-block;
    border-radius: 2px;
    &:hover {
        text-decoration: none;
        color: $white;
        cursor: pointer;
        opacity: 0.8;
    }
    img {
        height: 26px;
        width: 26px;
        border-radius: 100%;
        float: left;
        margin-right: 5px;
        
    }
     .patient-info {
          float: left;
          font-size: 12px;
          color: $white;
            line-height: 1.1;
          .patient-id {
            display: block;
            color: $lightGray;
            font-size: 11px;
          }
          .patient-name {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            @media screen and (max-width: 1024px) {
              width: 75px;
            }
          }
      }
}
/* multi select */
.multi-select-button-group {
    width: 600px;
    overflow: auto;
    box-sizing: border-box;
    button {
        /* width: 200px; temp changes - removed equal spacing */
        float: left;
        margin: 0 2px 2px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }
}
.multi-select-button-group { width: 600px; }
.illegalValue .multi-select-button-group { width: auto; }

.secondary-button, 
.secondary-button:hover, 
input[type="submit"].secondary-button, 
input[type="submit"].secondary-button:hover  {
    background: linear-gradient(to bottom, $bahmniSecondaryColor, darken($bahmniSecondaryColor, 10%));
    color: $white;
    border:1px solid darken($bahmniSecondaryColor, 15%);
}

/* icon button */
.comment-toggle {
    padding: 5px;
    .fa-file-o {
        position: relative;
        font-size: 16px;
        color: $mediumGray;
        .fa-plus-circle, .fa-ok-sign, .fa-plus, .fa-minus-circle {
            position: absolute;
            right: 2px;
            bottom: 2px;
            font-size: 10px;

            color: green;
            background: $white;
            border-radius: 8px;
            padding: 0;
        }

    }        
    .fa-file-alt {
        font-size: 21px;
        color: orange;
    }
}

/* Add Favourite button */

.add-fav {
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: linear-gradient(to bottom, #fff, #ddd) #ddd;
  position: relative;
  transition: all .5s ease;
  border-radius: 4px;
  box-shadow: inset 0 -1px 1px #eee;
  
  &:hover {
    background: linear-gradient(to bottom, #fff, $lightGray) #ddd;
  }

  .fa-star-empty {
    font-size: 20px;
    color: $mediumGray;
    position: relative;
    transition: all .5s ease-in-out;
    padding: 0;
  }

  input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
    & + .fa-thumb-tack {
      color: $mediumGray;
      cursor: pointer;
    }
    &:checked + .fa-thumb-tack {
      color: orange;
      text-shadow: 1px 1px 1px white;
    }
  }
}

/* split button - seperate scss file */


.refill-btn, .stop-drug-btn { padding: 10px!important; font-family: $primaryBoldFont; color: #666; }
.refill-btn .fa-play { font-size: 1em!important; }

.btn-small {
    font-size: 14px; padding: 5px;
}

.grouped-buttons {
   overflow: hidden;
   display: inline-block;
  .btn--left, .btn--right {
    float: left;
  }
  .btn--right {
    margin-left: -3px;
  }
}