/*doc
---
title: Buttons
name: button
category: Bahmni styleGuide
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example
<button class="back-btn">Back Button</button>
```

*/


/* button states - lvha */
button:hover { opacity: 0.8; }
button:focus, a:focus, .btn:focus { outline:0; }
button[disabled] { opacity: 0.4; cursor: not-allowed; }


/*backButton:*/
a.back-btn, button.back-btn{
    position: relative;
    display: inline-block;
    text-decoration: none;
    z-index: 1;
    margin: 6px 5px 0 17px;
    color: $white;  
    border-left: 0;
    float: left;
    font-size: 16px;
    @include border-radius(3px);
    &:hover {
        text-decoration: none;
        color: $white;
        cursor: pointer;
        opacity: 0.8;
    }
    &:before {
        content: "";
        height: 28px;
        width: 28px;
        position: absolute;
        left: -13px;
        top: 4px;    
        z-index: -1;
        display: block;    
        border:1px solid darken($bahmniSecondaryColor, 15%);
        border-top: 0;
        border-right: 0;
        @include rotate(45deg);
        @include border-radius(3px);
        @include background(linear-gradient(top, $bahmniSecondaryColor, darken($bahmniSecondaryColor, 10%)));
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

ul li a.back-btn, ul li a.back-btn:hover, button.back-btn, a.back-btn{
    padding: 10px 10px 10px 5px;
    border:1px solid darken($bahmniSecondaryColor, 15%);
    @include background(linear-gradient(top, $bahmniSecondaryColor, darken($bahmniSecondaryColor, 10%)));

    i {
        padding: 0 5px 0 0;
    }
}
button.back-btn {
    box-shadow: none;
    line-height: 1.1em;
    float: none;
}

/* multi select */
.multi-select-widget {
    width: 600px;
    overflow: auto;
    @include box-sizing(border-box);
    button {
        /* width: 200px; temp changes - removed equal spacing */
        float: left;
        margin: 0 2px 2px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }
}
.multi-select-button-group { width: 600px; }

.secondary-button, 
.secondary-button:hover, 
input[type="submit"].secondary-button, 
input[type="submit"].secondary-button:hover  {
    @include background(linear-gradient(top, $bahmniSecondaryColor, darken($bahmniSecondaryColor, 10%)));
    color: $white;
    border:1px solid darken($bahmniSecondaryColor, 15%);
}

/* icon button */
.comment-toggle {
    padding: 5px;
    .icon-file {
        position: relative;
        font-size: 21px;
        color: $mediumGray;
        .icon-plus-sign, .icon-ok-sign, .icon-plus, .icon-minus-sign {
            position: absolute;
            right: 1px;
            bottom: 2px;
            font-size: 14px;

            color: green;
            background: $white;
            border-radius: 8px;
            padding: 0;
        }

    }        
    .icon-file-alt {
        font-size: 21px;
        color: orange;
    }
}

/* split button - seperate scss file */


.refill-btn, .stop-drug-btn { padding: 10px!important; font-family: $primaryBoldFont; color: #666; }
.refill-btn .icon-play { font-size: 1em!important; }

.btn-small {
    font-size: 14px; padding: 5px;
}