/******** form element styling start********/

fieldset { margin: 0; padding: 0; border: 0; }
form, .form {
    fieldset {
        border:none;
        padding:0px;
        width:100%;
    }
    &.form-field-inline {
    @include clearfix();
        .form-field {
            float: left;
            margin-right:15px;
        }
    }
    .form-field {
        @include clearfix();
        .field-attribute{
            float:left;
            label {
                width:13em;
                float:left;
                text-align:right;
                margin:0.5em 0.8em 0em 0em;
            }
        }
        .field-value {
            float: left;
            input[type="text"], input[type="password"] {
                float: left;
                width: 12.5em;
            }

            input[type="number"] { width: 8em; }

            .value-text-only {
                display: inline-block;
                margin: 0.5em 0.8em 0em 0em;
            }
        }
    }
    .form-field-inline {
        .form-field {
            float: left;
            display: inline;
            float: left;
            width: 50%;
            margin: 0;
            margin-bottom: 10px;
        }
        p {
            float:left;
            margin-left:20px;
            margin-top:10px;
        }
    }
    .input-prepend {
        float:left;

        input{
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
            float:left;
            margin:0px !important;
        }

        .add-on{
            @extend input;
            @include border-radius();  
            height: 21px;
            min-width: 17px;
            padding: 4px 5px;
            background-color: $lightestGray;
            border: 1px solid $lightGray;
        }
    }
    .input-prepend .add-on:first-child, .input-prepend .btn:first-child {
        @include border-radius(4px 0 0 4px);
    }
    .input-prepend .add-on, .input-prepend .btn {
      margin-right:-1px;
    }
    input[disabled], select[disabled], textarea[disabled], input[readonly], 
    select[readonly], textarea[readonly], .select-arrow select[disabled] {
        cursor: not-allowed;
        background-color: $lightestGray;
        color: $mediumGray;
        &:focus {
            cursor: not-allowed;
            background-color: $lightestGray;
            outline: none;
        }
    }
    .form-button-wrapper {
        margin-top:10px;
        padding-left:14em;
    }
}

.transparent { opacity: 0.2; }
.opaque { opacity: 1; }

textarea { width:96%; }
form select, .form select { min-width: 100px; }
/********* form element styling end***********/

form p strong, .form p strong { display: inline; }

.computed-field {
    background: $lightestGray;
    border: 2px solid darken($bahmniPrimaryBtnColor, 5%);
    box-sizing: border-box;
    outline: 0;
    &:focus {
        background: $white;
    }
}

.compute-btn, .btn-small {color: darken($bahmniPrimaryBtnColor, 15%);}