.tabs{
  margin-top:20px;
  @include pie-clearfix();
  ul{
    li.tab-item {
        float:left;
        margin-bottom: -1px;
        a,button{
            padding: 12px 15px;
            background: $bahmniSecondaryColor;
            display:inline-block;
            color:#fff;
            border:1px solid $bahmniPrimaryColor;
            border-bottom-right-radius:0px;
            border-bottom-left-radius:0px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            text-decoration:none;
            line-height: 1.2em;
            &:hover{
                opacity: 0.8;
                border:1px solid $bahmniPrimaryColor;
            }
        }
        button{
            @include border-radius();
            padding:8px 10px;
        }
        &.tab-selected a, &.tab-selected button{
            position:relative;
            background:#fff;
            color:$bahmniPrimaryColor;
            border:1px solid #cecece;
            border-bottom:none;
            outline:none;
            padding-bottom: 14px;
            &:hover {
                opacity: 1;
                cursor: default;
            }
        }
        &.tab-selected button{
            top:4px;
            border-bottom-right-radius:0px;
            border-bottom-left-radius:0px;
        }
    }
  }
}
.tabs ul li a {
    @media screen and (max-width: 959px) {
        padding: 13px 10px;
        font-size: 14px;
    }
}