.template-header {
    height: 50px;
    background: $bahmniSecondaryColor;
    border-radius: 0;
    margin-bottom: 15px;
    h5 {
        display: inline-block;
        color: $lightGray;
        line-height: 50px;
        padding: 0 0 0 20px;
        font-size: 16px;
        margin: 0;
    }
    h6 {
        display: inline-block;
        width: auto;
        float: right;
        margin: 15px 20px;
        border-bottom: 0!important;
        color: $white;
        font-size: 16px;
    }
}
.template-container {
    padding: 5px 20px;
    section {
        margin-bottom: 15px;
    }
    table {
        margin-top: 5px;
    }
    .ipd-investigation tr th {
        background: $lightestGray;
    }
    td.value {
        width: 50%;
    }
    table.ipd-investigation td {
        display: block;
        height: 2em;
        text-align: left;
    }
}

.ngdialog-content {
    font-size: 14px!important;
    color: $darkGray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    clear: both;
    h2 {
        color: $bahmniSectionHeaderColor;
        border-bottom: 1px solid $bahmniSectionHeaderColor;
        font-size: 18px;
        font-weight: normal;
        font-family: OpenSansBold;
    }
    table {
        th {
            background: $lightestGray;
            background-image: none;
            color: $mediumGray;
            padding: 5px 10px;
        }      
        tr:nth-child(even), tr:nth-child(odd) {
            background: $white;
        }
        tr th, tr td {
            font-size: 14px;
            color: $darkGray;
        }
        tr {
            td.days, td.dosage {
                width: 150px;
            }
        }
    }

}
div.ngdialog-close {
    color: transparent;
}
.dashboard-treatment-section, .dashboard-laborders-section, .dashboard-more-info {
    h2 {
        color: $bahmniLinkColor;
        cursor: pointer;
    }
}
