.template-header {
    height: 50px;
    background: $bahmniSecondaryColor;
    border-radius: 0;
    margin-bottom: 15px;
    h1 {
        display: inline-block;
        color: #ddd;
        line-height: 50px;
        padding: 0 0 0 20px;
    }
    h2 {
        display: inline-block;
        width: auto;
        float: right;
        margin: 15px 20px;
        border-bottom: 0!important;
        color: #fff;
    }
}
.template-container {
    padding: 5px 20px;
    section {
        margin-bottom: 15px;
    }
    table {
        margin-top: 5px;
    }
    .ipd-investigation tr th {
        background: #eee;
    }
    td.value {
        width: 50%;
    }
    table.ipd-investigation td {
        display: block;
        min-height: 1.79em;
        text-align: left;
    }
}

.ngdialog-content {
    font-size: 14px!important;
    color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    clear: both;
    h2 {
        color: $bahmniSectionHeaderColor;
        border-bottom: 1px solid $bahmniSectionHeaderColor;
        font-size: 18px;
        font-weight: normal;
        font-family: OpenSansBold;
    }
    table {
        th {
            background: #eee;
            background-image: none;
            color: #555;
            padding: 5px 10px;
        }      
        tr:nth-child(even), tr:nth-child(odd) {
            background: #fff;
        }
        tr th, tr td {
            font-size: 14px;
            color: #333;
        }
        tr {
            td.days, td.dosage {
                width: 150px;
            }
        }
    }

}
div.ngdialog-close {
    color: transparent;
}
.dashboard-treatment-section, .dashboard-laborders-section {
    h2 {
        color: $bahmniLinkColor;
        cursor: pointer;
    }
}
