button.toggle-patient {
  float: right;
  margin: 3px 5px;
  height: 30px;
  background: $bahmniSecondaryColor url("../images/bars.png") no-repeat center center;
  border: 1px solid #4d8282;
  padding: 20px 25px;
}
button.toggle-patient:hover {
    opacity: 0.8;
}
button.toggle-patient.shift {
  background: #4d8282 url("../images/bars.png") no-repeat center center;
}

.patient-control-panel {
  padding: 0;
  .overlay {
    position: absolute;
    top:0; bottom: 0;
    left:0; right:0;
    background: rgba(0,0,0,0.4);
    z-index: 4;
  }
}
aside{
  h2{
    background:none;
    color: #000;
  }
  a{
    color:#fff;
  }
  &.visit-history{
    position:absolute;
    width:300px;
    background:#333333;
    bottom: 0;
    top: 50px;
    box-shadow: -3px 5px 10px #777;
    z-index: 5;
    h2 {
      color: #666;
      font-size: 14px;
      border-bottom-color: #555;
      padding-left: 10px;
      margin-bottom: 8px;
    }
    ul {
      margin-bottom: 20px;
    }
    ul.visit-history {
      height: 250px;
      overflow-y: auto;
      border-top: 1px solid #222;
    }
    li a {
      display: block;
      padding: 12px 10px;
      color: #aaa;
      font-size: 14px;
      border-bottom: 1px solid #222;
      border-top: 1px solid #444;
      &:hover {
        text-decoration: none;
        background: #2e2e2e;
        color: #bbb;
      }
    }
    li a.log-out {
        cursor: pointer;
    }
    li:last-child a {
      border-bottom: 0;
    }
    .patient-info {
      padding-bottom: 10px;
      .patient-img img {
        border-radius: 10px;
        margin: 10px;
        width: 50px;
        float: left;
        display: block;
      }
      .patient-handler {
        float: right;
        width: 230px;
        margin-top: 20px;
      }
      h4, h5, .ward {
        color: #ddd;
        display: block;
        padding-left: 10px;
        font-size: 14px;
        text-align: left;
      }
      h4.patient-name {
        text-transform: capitalize; font-size: 16px; 
        a {color: #ddd;}
      }
      h5, .ward {color: #888; margin-top: 5px;}
      h5.patient-identifier {color: #ddd;}
    }
  }
  

  &.visit-history.ng-hide-add, &.visit-history.ng-hide-remove {
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition:all linear 0.3s;
    display:block!important;
  }

  &.visit-history.ng-hide-add.ng-hide-add-active,
  &.visit-history.ng-hide-remove {
    right: -350px;
  }

  &.visit-history.ng-hide-add,
  &.visit-history.ng-hide-remove.ng-hide-remove-active {
    right: 0;
  }

  &.visit-history {
    right: 0;
  }

  .visit-history-entry, .summary {
    &.selected a, &.selected a:hover{
      background :#555;
      color: #fff;
      cursor: default;
    }
    &.active {color: #fafafa;}
    .icon-star {color: #E8A000; display: none;}
    &.active .icon-star {display: inline-block;}
  }
}
.btn-patient-doc .icon-file {
  color: #eee;
  margin-right: 5px;
  font-size: 18px;
}
.dashboard-btn {
  [class^="icon-"],
  [class*=" icon-"] {
    display: none;
    color: #eee;
    margin-right: 5px;
    font-size: 18px;
  }
}
.btn-consultation {.icon-vitals-2 {display: inline-block;}}
.btn-trends {.icon-bar-chart {display: inline-block;}}
.btn-summary {.icon-th-large {display: inline-block;}}
.btn-print {.icon-print {display: inline-block;}}


ul.visit-history::-webkit-scrollbar {
    width: 1em;
}
 
ul.visit-history::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
}
 
ul.visit-history::-webkit-scrollbar-thumb {
  background-color: #666;
  // outline: 1px solid slategrey;
  border-radius: 15px;
}