/*old styles - visit - diagnosis, diagnosis tab*/
.table{
  border:1px solid #cecece;
  @include font-size(1);
  .row{
    @include pie-clearfix();
    border-bottom:1px solid #cecece;
  }
  .col{
    padding:10px 0px;
    @include font-size(0.9);
    @include column(11);
  }

  .table-header{
    background:#F0F0F0;
    border-bottom:1px solid #cecece;
    .col{
      @include font-size(1);
      font-weight: bold;
    }
  }
  .table-body{
    .row{
      &:hover{
        background:#fff;
      }
      &:nth-child(even) {
          background: #f1f1f1;
        }
    }
  }
}

/*basic table*/
table {
	thead tr th{
		background: $bahmniTableHeaderBg;
	}
	tbody tr:nth-child(odd), tr:nth-child(even) {
		background: #fff;
	}
}

/*table with no border*/
table.no-borders {
	thead tr th {
		background: $white;
	}
	th, tr, td {
		border: 0;
	}
}

/*table with horzontal borders*/
table.horizontal-only {
	th, td {
		border: 0;
	}
}

/*list mimic table*/
ul.table-mimic {
	li {
		width: 100%;
		padding: 5px 10px;
		border: 1px solid #ddd;
		border-bottom: 0;
		box-sizing: border-box;
		@include clearfix();
		&:last-child {
			border-bottom: 1px solid #ddd;
		}
	}
}

/*inline scroll table*/
table.h-scroll {
    width: 100%; border-collapse: collapse; border-spacing: 0;
    display: block; position: relative;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
    margin-top: 0;
    overflow: auto;
    th, td { margin: 0; vertical-align: top; }
    th { text-align: left; background: #eee;}
    th.drug {font-family: "OpenSans", Arial, sans-serif;}

    thead { display: block; float: left; }
    tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    thead tr { display: block; border: 0;}
    th { display: block;}
    tbody tr { display: table-cell; vertical-align: top; border-top: 0;}
    td { display: block; min-height: 1.71em; text-align: left; }

      /* sort out borders */
    th { border-bottom: 0; border-left: 0; }
    td { border-left: 0; border-right: 0; border-bottom: 0; }
}