.ipd-test-results {
	max-width: 70px;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}

.tooltip {
	position: absolute;
	padding: 5px;
	margin-left: 35px;
	margin-top: -28px;
	background: #e8edf3;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	i {
		color: #e8edf3;
		font-size: 20px;
		position: absolute;
		left: -10px;
		top: 0px;
	}

	.ipd-test-results {
		padding: 0;
		width: 100%;
		max-width: 100%;
		overflow: auto;
	}
}