.dashboard-section section.hierarchy .form-field {
	padding: 0;
}

.hierarchy {
    ul li {
        border-top: 1px solid $lightestGray;
        font-size:14px; color: $darkGray; background: #dfdfdf;
	    clear: both;
        .tree-list-item {
            padding-top: 3px;
	        padding-bottom: 3px;
	        padding-left: 10px;
	        display: inherit;
	        .visit-start-date {
		        margin-right: 5px;
	        }
            .field-attribute {
                width: 250px;
            }
        }
    }
    ul li ul li {
        font-size:14px; color: #444; background: #f6f6f6;
        .tree-list-item {
            padding-left: 20px;
            .field-attribute {
                width: 240px;
            }
        }
    }
    ul li ul li ul li {
        font-size:13px; color: #555; background: $white;
        .tree-list-item {
            padding-left: 30px;
            .field-attribute {
                width: 230px;
            }
        }
    }
    ul li ul li ul li ul li {
        font-size:12px; color: #888; background: $white;
       .tree-list-item {
            padding-left: 40px;
            .field-attribute {
                width: 220px;
            }
        } 
    } 
    ul li ul li ul li ul li ul li {
        font-size:11px; color: #999; background: $white; font-family:$primaryLightFont;
        .tree-list-item {
            padding-left: 50px;
            .field-attribute {
                width: 210px;
            }
        }
    } 
  
    .form-field {
        padding: 0;
    }
}