.hierarchy {
	padding: 10px;
	.level-1 {font-size:16px; color: #333; background: #cfcfcf;}
	.level-2 {font-size:14px; color: #444; background: #dfdfdf;}
	.level-3 {font-size:12px; color: #555; background: #efefef;}
	.level-4 {font-size:11px; color: #888; background: #f6f6f6;}
	.level-5 {font-size:11px; color: #999; background: #ffffff; font-family:$primaryLightFont; }

	.level-1.intend, .level-2.intend, .level-3.intend, .level-4.intend, .level-5.intend {
		padding-left: 20px;
	}
	li.has-child {
		padding-bottom: 0;
		border-bottom: 0;
		& > ul {
			margin-top: 5px;
		}
	}
	li {
		padding: 5px 10px;
		border-bottom: 1px solid #ccc;
		border-left: 0;
		border-right: 0;
		& > ul {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}