/*doc
---
title: Sections
name: section
category: Bahmni styleGuide
---

Section grid styles can be applied to any element. Typically you'll want to
use either a `<div>` or an `<section` element:

```html_example
<div class="primary-section-grid">
	<h2 class="section-title">Section Title</h2>
	<p>This is a primary section grid</p>
</div>
```

```html_example
<div class="section-grid">
	<h2 class="section-title">Section Title</h2>
	<p>This is a secondary section grid</p>
	<ul>
		<li><a class="document-link">Document link</a></li>
		<li><a class="document-link">Document link</a></li>
		<li><a class="document-link">Document link</a></li>
	</ul>
</div>
```

*/


/* helpers */
.fl {float: left;}
.fr {float: right;}

/* grid sections */
.primary-section-grid {
	border: 1px solid $primarySectionGridBorder;
	@include border-radius($smallestSpacing);
    box-shadow: 0px 0px 8px -1px $lightGray;
}

.section-grid {
	border: 1px solid $lightGray;
	@include border-radius($smallestSpacing);
}

h2.section-title {
	font-family: $primaryBoldFont;
	padding: $defaultSpacing;
	margin-top: 0;
	margin-bottom: 0;
	color: $bahmniSectionHeaderColor;
	font-size: 18px;
	border-bottom: 1px solid $bahmniSectionHeaderColor;
	clear: both; overflow: auto;
}

/* document link */
a.document-link {
	display: block;
	padding: 5px;
	font-size: 14px;
	line-height: 1.3em;
	&:hover {
		background: $lightestGray;
		border-right: 1px solid $lightGray;
	}
}

/* notes */
.notes {
	font-size: 14px;
	background: $clinicalNotesColor;
	line-height: 1.4em;
	padding: 10px;
	margin: 10px 0;
	overflow: auto;
	clear: both;
	strong, .title {
		float: left;
		margin-right: $smallestSpacing;
    	font-family: $primaryBoldFont;
    	display: inline;
	}
	pre, .content {
		background: none;
	}
	&.inline-notes {
		margin: 0;
	}
}

/* file-attachment */
.has-uploaded-file {
	&:hover {
		background: $lightestGray;
		cursor: pointer;
	}
	.uploaded-file {
		display: inline-block;
		width: 100%;
		height: 100%;
	  	.icon-paper-clip {
		  	float: left;
		  	margin-top: -5px;
		}
	}
}

/* footer note with date time provider */
.footer-note {
	text-align: right;
	span {
		font-size: 12px;
		color: $mediumGray;
	}
	.time-stamp {
		display: block;
		.date {
			text-transform: uppercase;
		}
		.time {
			color: $mediumGray;
			margin-left: 5px;
		}
	}
	.provider {
		float: right;
	}
}

/* disable any (block) element aesthetically, form elements needs a wrapper. */
.is-disabled {
	position: relative;
	&:before {
	    position: absolute;
	    content: '';
	    width: 100%;
	    height: 100%;
	    opacity: 0.3;
	    background: $lightestGray;
	    top: 0;
	    left: 0;
	}
}
