/*doc
---
title: Sections
name: section
category: Bahmni styleGuide
---

Section grid styles can be applied to any element. Typically you'll want to
use either a `<div>` or an `<section` element:

```html_example
<div class="primary-section-grid">
	<h2 class="section-title">Section Title</h2>
	<p>This is a primary section grid</p>
</div>
```

```html_example
<div class="section-grid">
	<h2 class="section-title">Section Title</h2>
	<p>This is a secondary section grid</p>
	<ul>
		<li><a class="document-link">Document link</a></li>
		<li><a class="document-link">Document link</a></li>
		<li><a class="document-link">Document link</a></li>
	</ul>
</div>
```

*/


/* helpers */
.fl {float: left;}
.fr {float: right;}

/* grid sections */
.primary-section-grid {
	border: 1px solid $primarySectionGridBorder;
	border-radius: $smallestSpacing;
    box-shadow: 0px 0px 8px -1px $lightGray;
}

.section-grid,
%section-grid {
	border: 1px solid $bahmniSecondaryColor;
	border-radius: 5px 5px 0 0;
	background: $white;
}
h2.section-title {
	font-family: $OpenSansFont;
	padding: $defaultSpacing;
	margin-top: 0;
	margin-bottom: 0;
	color: $white;
	font-size: 16px;
	clear: both; 
	overflow: auto;
	background: $bahmniSecondaryColor;
	position: relative;
	.section-title-text{
		padding-top: 8px;
		display: inline-block;
	}
	&.has-link {
        cursor: pointer;
    	&:hover {
    		background: darken($bahmniSecondaryColor,5%);
    	}
	    .title-link {
	        border-bottom: 1px solid white;
	    }
	    .icon-external-link {
	        position: absolute;
	        right: 0;
	        top: 0;
	        font-size: 26px;
	        opacity: 0.5;
	    }
	}
}

/* document link */
a.document-link {
	display: block;
	padding: 5px;
	font-size: 14px;
	line-height: 1.3em;
	&:hover {
		text-decoration: underline;
		.icon-star{
		  text-decoration: none;
		}
	}
}

/* notes */
table {
    tr.test-notes-parent, tr.notes-open {
      border-bottom: 0;
      td {
        border: 0;
      }
    }
    tr.notes-open td {
      background: $clinicalNotesColor;
    }
    tr.has-test-notes td {
        border: 0;
    }
}

.notes {
	font-size: 12px;
	background: $clinicalNotesColor;
	line-height: 1.4em;
	padding: 3px;
	margin: 10px 0;
	overflow: auto;
	clear: both;
	border: 0;
	strong, .title {
		float: left;
		margin-right: $smallestSpacing;
    	font-family: $OpenSansBoldFont;
    	display: inline;
	}
	pre, .content {
		background: none;
	}
	&.inline-notes {
		margin: 0;
	}
	&.test-notes, &.inline-comments {
		font-size: 12px;
		background: #fff;
		color: $darkGray;
		margin: 0;
		
		i[class^=icon-] {
			font-size: 14px;
			margin-right: 5px;
		}
		pre.left {
			font-size: 12px;
		}
	}
	&.test-notes {
		padding: 3px 3px 3px 15px;
	}
}

/* file-attachment */
.has-uploaded-file {
	&:hover {
		background: $lightestGray;
		cursor: pointer;
	}
	.uploaded-file {
		display: inline-block;
		width: 100%;
		height: 100%;
		width: 15px;
	  	.icon-paper-clip {
		  	float: left;
		  	margin-top: -5px;
		}
	}
}

/* footer note with date time provider */
.footer-note {
	text-align: right;
	span {
		font-size: 12px;
		color: $mediumGray;
	}
	.time-stamp {
		display: block;
		.date {
			text-transform: uppercase;
		}
		.time {
			color: $mediumGray;
			margin-left: 5px;
		}
	}
	.provider {
		float: right;
	}
}

/* disable any (block) element aesthetically, form elements needs a wrapper. */
.is-disabled {
	position: relative;
	&:before {
	    position: absolute;
	    content: '';
	    width: 100%;
	    height: 100%;
	    opacity: 0.3;
	    background: $lightestGray;
	    top: 0;
	    left: 0;
	}
}
