/*doc
---
title: Sections
name: section
category: Bahmni styleGuide
---

Section grid styles can be applied to any element. Typically you'll want to
use either a `<div>` or an `<section` element:

```html_example
<div class="primary-section-grid">
	<h2 class="section-title">Section Title</h2>
	<p>This is a primary section grid</p>
</div>
```

```html_example
<div class="section-grid">
	<h2 class="section-title">Section Title</h2>
	<p>This is a secondary section grid</p>
	<ul>
		<li><a class="document-link">Document link</a></li>
		<li><a class="document-link">Document link</a></li>
		<li><a class="document-link">Document link</a></li>
	</ul>
</div>
```

*/

.primary-section-grid {
	border: 1px solid $primarySectionGridBorder;
	@include border-radius($smallestSpacing);
    box-shadow: 0px 0px 8px -1px #ccc;
}

.section-grid {
	border: 1px solid $lightGray;
	@include border-radius($smallestSpacing);
}

h2.section-title {
	font-family: $primaryBoldFont;
	padding: $defaultSpacing;
	margin-bottom: 0;
	color: $bahmniSectionHeaderColor;
	font-size: 18px;
	border-bottom: 1px solid $bahmniSectionHeaderColor;
}

a.document-link {
	display: block;
	padding: 5px;
	font-size: 14px;
	line-height: 1.3em;
	&:hover {
		background: $lightestGray;
		border-right: 1px solid $lightGray;
	}
}

