.adt {
    padding-top: 10px;
    width: 1014px;
    margin: 0 auto;
    .adt-disposition-action {
        margin: 5px 5px 0 0;
    }
    select.disposition-action {
        color: #363463;
        display: block;
        padding: 5px 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        background-color: #FFF;
        border: 1px solid #DDD;
    }
    .patient-disposition-status {
        color: green;
        padding-top: 10px;
    }
    .form-horizontal fieldset label {
        text-align: left;
        margin-left: 0;
        padding-bottom: 5px;
    }
    .form-group .field-value textarea {
        width: 97.5%;
        margin-bottom: 5px;
    }
}

div[ng-app="adt"] {
    .patient-details {
        position: relative;
        z-index: 1111;
        top: 17px;
        left: 25%;
        transform: translateX(-50%);
        color: $lightestGray;
    }
}