.back-btn-wrapper{
  button{
    padding-left:10px;
    span{
      margin-right:10px;
    }
  }
}
.bed-assigned-msg{
  text-align:center;
  color:#EB8313;
  height:30px;
  font-weight:bold;
}
.bed-assignment {
  position: relative;
  width: 894px;
  border: 1px solid #cecece;
  margin: 0px auto;
  min-height: 200px;
  padding: 20px;
  text-align:center;
  .bed-assignment-inner-wrapper{
    display: inline-block;
  }
  .bed-type {
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: capitalize;
  }
  .row {
    overflow: hidden;
    ul {
      overflow: hidden;
      .col {
        float: left;
        width: 50px;
        height: 50px;
        margin: 19px;
        &.occupied {
          background: url("../images/bed-occupied.png") no-repeat center center #cecece;
          &:hover{
            outline: 5px solid #B4B2B2;
            background-color: #B4B2B2;
            cursor: pointer;
          }
        }
        &.available{
          background: url("../images/bed-available.png") no-repeat center center #94e594;
          &:hover{
            background-color: #76E676;
            outline: 5px solid #76E676;
            cursor: pointer;
          }
        }
        &.empty {
          background: beige;
          margin: 0px;
          padding: 19px;
        }
      }
    }
  }
}

.bedDetails {
  width: 200px;
  height: 60px;
  border: 1px solid #000000;
  display: block;
}
.currentPatient{
  outline : 5px solid #20C0C0;
}

.bed-info{
  padding:10px;
  background:#f1f1f1;
  display: inline-block;
  position: absolute;
  display: none;
  border:2px solid #cecece;
  opacity:0.90;
  z-index:9999;
  li{
    padding:1px5px;
    color:#000;
    text-align: center;
    font-size: 14px;
    &:first-child{
      border-bottom:1px solid #000;
      margin-bottom: 2px;
      font-weight: bold;
      font-family:arial;
    }
    a{
      background-color:$bahmniPrimaryColor;
      padding:8px 10px;
      margin-top:5px;
      color:#fff;
      text-transform: capitalize ;
      display: inline-block;
      border:#012C28;
      border-radius:5px;
      &:hover{
        cursor:pointer;
        background-color:#076158;
        text-decoration: none;
      }
    }
  }
}