<div style="float:left;width:10%" >
    <div ng-repeat="(conceptKey, conceptName) in concepts">
        <span style="float:left;width:70%;padding-bottom:1em" ng-click="addObservations(conceptKey)">{{conceptName}}</span>
    </div>
</div>

<div style="float:left;width:90%">
    <div ng-repeat="(concept, details) in visibleObservations">
        <nvd3-line-chart
            data="details"
            height="400"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            interactive="true"
            showLegend="true"
            xAxisTickFormat="xAxisTickFormatFunction()"
            >
            <svg></svg>
        </nvd3-line-chart>
    </div>
</div>
