<div ng-class="{'multi-select-widget' : observation.isMultiSelect}"
     class="multi-select-button-group">
    <button type="button" class="grid-row-element"
            ng-disabled="observation.disabled"
            ng-class="{'active': isSet(answer), 'is-abnormal': abnormalObs.value && isSet(answer)}"
            ng-click="select(answer)"
            ng-repeat="answer in ::observation.getPossibleAnswers()">
        <i class="fa fa-ok"></i>{{::getAnswerDisplayName(answer)}}
    </button>
</div>