<div ng-class="{'multi-select-widget' : observation.isMultiSelect}"
     class="multi-select-button-group">
    <div class="btn-tooltip-wrapper fl" ng-repeat="answer in ::observation.getPossibleAnswers() track by $index" ng-class="{'active': isSet(answer)}">
        <button type="button" class="grid-row-element"
                ng-disabled="observation.disabled"
                title="{{::getAnswerDisplayName(answer) | titleTranslate}}"
                ng-class="{'active': isSet(answer), 'is-abnormal': abnormalObs.value && isSet(answer)}"
                ng-click="select(answer)" tabindex="1">
            <i class="fa fa-ok"></i>{{::getAnswerDisplayName(answer) | titleTranslate}}
        </button>
        <!--<span class="">{{::getAnswerDisplayName(answer) | titleTranslate}}</span>-->
    </div>
</div>
