<div ng-repeat="conceptSet in allTemplates track by $index" id="concept-set-{{$index}}"
     ng-if="conceptSet.isAvailable(context) && (conceptSet.isAdded || conceptSet.alwaysShow) && !context.showPanelView"
     class="concept-set-group section-grid"
     auto-scroll="{{::getNormalized(conceptSet.conceptName)}}" auto-scroll-enabled="::autoScrollEnabled">
    <ng-include src="'../common/concept-set/views/conceptSetGroupSection.html'"></ng-include>
</div>
<div class="concept-set-panel clearfix" ng-if="context.showPanelView">
    <section class="concept-set-panel-left" xmlns="http://www.w3.org/1999/html">
        <div class="concept-set-panel-wrap">
            <h2 class="concept-set-panel-header">Added Observation Forms {{isAvailable.length}}</h2>
            <div class="multi-select-lab-tests">
                <ul>
                    <li ng-repeat="conceptSet in allTemplates track by $index"
                        ng-if="conceptSet.isAvailable(context) && (conceptSet.isAdded || conceptSet.alwaysShow)"  ng-class="openActiveForm(conceptSet)">
                        <a ng-click="showLeftPanelConceptSet(conceptSet)">
                            <span class="concept-set-name" ng-class="{'concept-set-name-extra':conceptSet.isValid === false}">
                                {{conceptSet.label}}
                                <span ng-if="conceptSet.observations[0].observationDateTime"> ( {{conceptSet.observations[0].observationDateTime|bahmniDate}} )</span>
                            </span>
                        </a>
                        <div class="button-wrap">
                            <label class="fa fa-exclamation-triangle fa-red"  ng-show="conceptSet.isValid === false" ng-click="conceptSet.klass =='active' && focusOnErrors()"></label>
                            <button class="add-more-concept-set add-more-btn btn-small fr" type="button" ng-click="clonePanelConceptSet($index)" ng-if="isLastClonedSection(conceptSet, allTemplates) && conceptSet.canAddMore()"> <i class="fa fa-plus"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="concept-set-panel-right-wrap">
        <section class="concept-set-panel-right">
            <section class="concept-set-group section-grid" ng-repeat="conceptSet in allTemplates track by $index" ng-if="leftPanelConceptSet==conceptSet">
                <ng-include src="'../common/concept-set/views/conceptSetGroupSection.html'"></ng-include>
            </section>
        </section>
    </div>
</div>