<div id="{{conceptSet.id}}" style="position: relative;">
    <div class="concept-set-title">
        <div id="{{getNormalized(conceptSet.conceptName)}}">
            <h2 class="section-title">
                <span class="section-label">{{conceptSet.label}}</span>
            </h2>
            <div class="form-actions fr">
                <button type="button"  ng-if="conceptSet.isOpen" ng-click="conceptSet.maximizeInnerSections($event)"
                        title="{{ ::'CONCEPT_SET_GROUP_EXPAND_ALL_KEY' | translate}}">
                       <i class="fa icon-bahmni-expand"></i>
                </button>
                <button type="button" ng-if="conceptSet.isOpen" ng-click="conceptSet.minimizeInnerSections($event)"
                        title="{{ ::'CONCEPT_SET_GROUP_COLLAPSE_ALL_KEY' | translate}}">
                    <i class="fa icon-bahmni-collapse"></i>
                </button>
                <label class="add-fav" title="{{ ::'CONCEPT_SET_GROUP_PIN_UNPIN_KEY' | translate}}">
                    <input type="checkbox" id="hasOldIdentifier" ng-model="conceptSet.alwaysShow"
                           ng-change="togglePref(conceptSet, conceptSet.conceptName)"/>
                    <i class="fa fa-thumb-tack"></i>
                </label>
                <button type="button" ng-confirm-click="remove($index)" ng-disabled="!canRemove($index)"
                        title="{{ ::'CONCEPT_SET_GROUP_REMOVE_KEY' | translate}}"
                    confirm-message="{{::'REMOVE_CONFIRMATION_KEY' | translate}}">
                        <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div ng-if="!isFormTemplate(conceptSet)">
        <concept-set ng-if="conceptSet.isLoaded" patient="::patient" ng-show="conceptSet.isOpen"
                     collapse-inner-sections="conceptSet.collapseInnerSections"
                     concept-set-name="::conceptSet.conceptName" required="conceptSet.options.required"
                     at-least-one-value-is-set="conceptSet.atLeastOneValueIsSet"
                     observations="conceptSet.observations" show-title="::false"
                     validation-handler="::validationHandler"
                     section-id="conceptSet.id">
        </concept-set>
    </div>
    <div ng-if="isFormTemplate(conceptSet)" id={{::conceptSet.formUuid}} class="form-controls-container">
        <form-controls form="conceptSet" patient="patient" validate-form="false"></form-controls>
    </div>
</div>
