<form novalidate>
    <div ng-if="::showEmptyConceptSetMessage" class="placeholder-text">{{::conceptSetName}} {{ 'CONCEPT_NOT_FOUND_MESSAGE'|translate }}</div>

    <concept concept-set-required="conceptSetRequired" root-observation="rootObservation" patient="::patient"
             observation="rootObservation" at-least-one-value-is-set="atLeastOneValueIsSet"
             show-title="::showTitleValue" collapse-inner-sections="collapseInnerSections"
             ng-if="!rootObservation.hidden" concept-set-name="::conceptSetName" hide-abnormal-button="hideAbnormalButton">
    </concept>

</form>
