<div>
    <section class="block hierarchy" ng-show="observations.length > 0">
        <ul class="form-field">
            <show-observation observation="observation" patient="patient" ng-repeat="observation  in observations"
                                   level="1"></show-observation>
        </ul>
    </section>

    <section>
        <div ng-show="observations.length == 0">
            <div class="placeholder-message">No observations made for this patient.</div>
        </div>
    </section>
</div>