
<div class="observations-tab">
<div class="vitals form-horizontal">
    <fieldset class="leaf-observation-node" ng-if="observation.isObservationNode">
        <div class="form-group">
            <label class="control-label" for="{{observation.uniqueId}}">
                <span ng-bind="observation.primaryObs.label"></span>
                <span ng-show="observation.primaryObs.units" ng-bind="'(' + observation.primaryObs.units + ')'"></span>
                <span ng-if="observation.isRequired()" class="asterick">*</span>

            </label>
            <div class="field-value" ng-switch="observation.getControlType()">

                <div ng-switch-when="html5InputDataType">
                    <input id="{{observation.uniqueId}}" obs-constraints obs="observation.primaryObs"
                           ng-if="!observation.primaryObs.isNumeric()"
                           ng-model="observation.value" ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired)}"/>

                    <input id="{{observation.uniqueId}}" obs-constraints obs="observation.primaryObs" ng-if="observation.primaryObs.isNumeric()"
                           ng-model="observation.value"
                           ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet, conceptSetRequired)}" only-number="true"/>
                </div>

                <textarea id="{{observation.uniqueId}}" ng-switch-when="text" ng-model="observation.value" ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet)}">

                </textarea>

<!-- Dropdowns won't be supported in release - 3
                <select ng-switch-when="dropdown" foo-bar ng-model="observation.value"
                        ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet)}"
                        ng-options="answer as answer.name for answer in getPossibleAnswers() track by answer.uuid"> <option value=""></option>
                </select>

 -->
                <span ng-switch-when="dropdown" class="field-value info icon-info-sign"> Dropdowns are not supported. Change it to autocomplete</span>

                <div ng-switch-when="freeTextAutocomplete"  class="autocomplete">
                    <input id="{{observation.uniqueId}}" class="concept-name" ng-model="observation.value" concept-autocomplete
                           coded-concept-name="observation.getConceptUIConfig().answersConceptName"
                           blur-on-select="false"
                    />
                    <!--concept-set-uuid="observation.getConceptUIConfig().freeTextAutocomplete.conceptSetUuid"-->
                    <!--TODO : check if jss-config is meant to have uuid Mujir, Shruthi-->

                    <div>
                        <button type="button" ng-model="observation.markedAsNonCoded" class="small-btn accept-btn"
                                   ng-click="observation.markAsNonCoded()"
                               ng-class="{'illegalValue': observation.primaryObs.value.length > 0 && !observation.markedAsNonCoded, active: observation.markedAsNonCoded}"
                                ng-disabled="observation.primaryObs.isCoded() && observation.primaryObs.value"><span></span>Accept</button>
                    </div>
                </div>

                <div ng-switch-when="autocomplete"  ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet)}" class="autocomplete">
                    <input type="hidden" ui-select2="selectOptions(observation.primaryObs.concept)" ng-model="observation.primaryObs.value"/>
                </div>

                <!--div ng-switch-when="multiselect"  ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet)}" class="autocomplete">
                    <div ui-select2="multiSelectOptions" ng-model="observation.value"></div>
                </div-->

                <p ng-switch-default class="field-value info icon-info-sign"> The concept data type '{{observation.dataTypeName}}' is not supported yet.</p>
            </div>
            <small class="hint" ng-show="observation.primaryObs.concept.lowNormal || observation.primaryObs.concept.hiNormal" ng-bind="'(' + observation.primaryObs.concept.lowNormal + ' - ' + observation.primaryObs.concept.hiNormal + ')'"></small>
            <div class="checkbox-inline" ng-if="observation.abnormal">
                <input id="isAbnormal-{{observation.primaryObs.concept.name}}" type="checkbox"
                       ng-model="observation.abnormal.value" ng-disabled="!observation.primaryObs.hasValue()" tabindex="-1" class="abnormal-vitals-checkbox" />
                <label for="isAbnormal-{{observation.primaryObs.concept.name}}" class="abnormal-vitals checkbox-btn">Abnormal</label>
            </div>
            <div class="checkbox-inline" ng-if="observation.duration" ng-class="{'duration': observation.duration}">
                <span>for</span><duration ng-model="observation.duration.value" disabled="!observation.primaryObs.hasValue()" illegal-value="observation.isDurationRequired() && !observation.hasDuration()"></duration>
            </div>
            <button type="button" toggle="observation.showComment" class="obs-comment-toggle fr" ng-class="{'has-notes': observation.comment}">
                <i class="icon-file" ng-hide="observation.comment"></i>
                <i class="icon-file-alt" ng-show="observation.comment"></i>
                <i class="icon-arrow-down" ng-hide="observation.showComment"></i>
                <i class="icon-arrow-up" ng-show="observation.showComment"></i>
            </button>
            <textarea class="obs-comment-section" ng-show="observation.showComment" maxlength="255" ng-model="observation.comment">
            </textarea>
        </div>
    </fieldset>

    <fieldset class="leaf-observation-node" ng-if="observation.isFormElement()">
        <div class="form-group">
            <label class="control-label" for="{{observation.uniqueId}}">
                <span ng-bind="observation.label"></span>
                <span ng-show="observation.units" ng-bind="'(' + observation.units + ')'"></span>
                <span ng-if="observation.isRequired()" class="asterick">*</span>
            </label>
            <div class="field-value" ng-switch="observation.getControlType()">
                <div ng-switch-when="html5InputDataType">
                    <input id="{{observation.uniqueId}}" obs-constraints obs="observation"
                           ng-model="observation.value" ng-if="observation.isNumeric()"
                           ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired)}" only-number="true"/>

                    <input id="{{observation.uniqueId}}" obs-constraints obs="observation" ng-if="!observation.isNumeric()"
                           ng-model="observation.value" ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired)}"/>
                </div>

                <textarea id="{{observation.uniqueId}}" ng-switch-when="text" ng-model="observation.value"
                          ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired)}"></textarea>

                <!--{{observation.groupMembers}}-->
                <div ng-switch-when="grid">
                    <div  ng-repeat="member in observation.groupMembers" class="grid-row">
                        <button-select observation="member" ></button-select>
                    </div>
                </div>
                <div ng-switch-when="buttonselect">
                    <button-select observation="observation" ></button-select>
                </div>
                <div ng-switch-when="image" class="consultation-image">
                    <!--<div class="file-remove">-->
                        <!--<button type="button" ng-click="observation.deleteImage()" ng-show="observation.value"><span class="icon-remove"></span></button>-->
                    <!--</div>-->
                    <div class="file-remove">
                        <button type="button" ng-click="observation.toggleVoidingOfImage()" ng-if="observation.value" class="row-remover"><span ng-class="{'icon-remove': !image.voided, 'icon-undo': observation.voided }"></span></button>
                    </div>

                        <input id="file-browse-{{observation.uniqueId}}" class="file-browse" type="file" name="image" accept="image/*" capture="camera" ng-model="observation.value" image-upload>
                        <label class="placeholder btn" for="file-browse-{{observation.uniqueId}}" ng-hide="observation.value || observation.voided"><i class="icon-plus needsclick"></i></label>

                        <div class="file">
                            <img ng-src="{{observation.value|thumbnail}}" width="100" ng-class="{'has-image': observation.value, 'voided': observation.voided}">                    
                        <button type="button" toggle="observation.showComment" ng-show="observation.value" class="obs-comment-toggle fr" ng-class="{'has-notes': observation.comment}">
                            <i class="icon-file" ng-hide="observation.comment"></i>
                            <i class="icon-file-alt" ng-show="observation.comment"></i>
                            <i class="icon-arrow-down" ng-hide="observation.showComment"></i>
                            <i class="icon-arrow-up" ng-show="observation.showComment"></i>
                        </button>
                        </div>


                    <textarea class="consultation-img-comments" ng-show="observation.showComment" maxlength="255" ng-model="observation.comment">
                    </textarea>
                </div>


                <!-- Dropdowns won't be supported in release - 3
                                <select ng-switch-when="dropdown" foo-bar ng-model="observation.value"
                                        ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired)}"
                                        ng-options="answer as answer.name for answer in getPossibleAnswers() track by answer.uuid"> <option value=""></option>
                                </select>

                 -->
                <!--<span ng-switch-when="dropdown" class="field-value info icon-info-sign"> Dropdowns are not supported. Change it to autocomplete</span>-->


                <input id="{{observation.uniqueId}}" ng-switch-when="freeTextAutocomplete" class="concept-name" ng-model="observation.value" concept-autocomplete
                       ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired)}"
                       coded-concept-uuid="observation.getConceptUIConfig().freeTextAutocomplete.codedConceptUuid"
                       concept-set-uuid="observation.getConceptUIConfig().freeTextAutocomplete.conceptSetUuid"
                       blur-on-select="false"/>

                <div ng-switch-when="autocomplete"  ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet, conceptSetRequired)}" class="autocomplete">
                    <input type="hidden" ui-select2="selectOptions(observation.concept)" ng-model="observation.value"/>
                </div>

                <!--div ng-switch-when="multiselect"  ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet, conceptSetRequired)}" class="autocomplete">
                    <div ui-select2="multiSelectOptions" ng-model="observation.value"></div>
                </div-->

                <p ng-switch-default class="field-value info icon-info-sign"> The concept data type '{{observation.dataTypeName}}' is not supported yet.</p>
            </div>
        </div>
    </fieldset>

    <fieldset ng-if="!observation.isObservationNode && !observation.isFormElement()" class="hasLegend">
        <legend ng-if="showTitle" class="mylegend"><strong>{{observation.label}}</strong></legend>
        <div class="form-group">
            <div class="form-field form-field-group" ng-repeat="member in observation.groupMembers">
                <concept observation="member" at-least-one-value-is-set="atLeastOneValueIsSet" show-title="true" concept-set-required="conceptSetRequired"></concept>
            </div>
        </div>
    </fieldset>
</div>
</div>