<div class="opd-header-wrapper" id="opd-tabs">
    <div class="opd-header-bottom tabs">
        <ul class="header-tabs">
            <li ng-repeat="board in availableBoards" ng-class="{'tab-selected':currentBoard.name==board.name}">
                <a ng-click="showBoard(board.name)" class="button">{{board.name}}</a>
            </li>
        </ul>
        <button class="toggle-patient" ng-click="gotoPatientDashboard()"></button>
        <button class="confirm save-consultation" ng-show="availableBoards" ng-click="save()" class="confirm">Save</button>
    </div>
</div>
