<div class="opd-header-wrapper" id="opd-tabs">

    <div class="opd-header-bottom tabs">    
        <div ng-controller="CommonHeaderController">
            <ul>
                <li ng-repeat="(label, goToUrl) in backLinks">
                    <a class="back-btn" ng-click="goToUrl()">
                        <span>{{label}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="header-tabs">
            <li ng-repeat="board in availableBoards" ng-class="{'tab-selected':currentBoard.name==board.name}">
                <a ng-click="showBoard(board.name)" class="button">{{board.name}}</a>
            </li>
        </ul>


        <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}"></button>
        <button class="confirm save-consultation" ng-show="availableBoards" ng-click="save()" class="confirm">Save</button>
    </div>

</div>
<h1 class="patient-details">
    <a href="#/patient/{{patient.uuid}}/dashboard" ng-click="changeContext($event)"><span><i class="icon-user"></i> {{patient.name}}</span></a>
</h1>