<div class="opd-header-wrapper" id="opd-tabs">

    <div class="opd-header-bottom tabs">    
        <bm-back-links></bm-back-links>
        <ul class="header-tabs">
            <li class="tab-item" ng-repeat="board in availableBoards" ng-class="{'tab-selected':currentBoard.label==board.label}">
                <a ng-click="showBoard(board.label)">{{board.label}}</a>
            </li>
        </ul>


        <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}"></button>
        <button class="confirm save-consultation" ng-show="availableBoards" ng-click="save()" class="confirm">Save</button>
    </div>

</div>
<h1 class="patient-details">
    <a href="#/patient/{{patient.uuid}}/dashboard" ng-click="changeContext($event)"><span><i class="icon-user"></i> {{patient.name}}</span></a>
</h1>