.adt{
  .split-button{
  overflow:hidden;
  margin: 2px;
  border-radius: 3px;
  ul{
    border-radius: 3px 0 0 3px;
    border-right:none;
    overflow:hidden;
    float:left;
    li{
        font-size:.9em;
        &.secondaryOption{
          display: none;
          border: 1px solid #ccc;
          border-top: 0;
          border-bottom: 0;
          &:last-child {
            border-bottom: 1px solid #ccc;
            border-radius: 0 0 3px 3px;
          }
          button{
              background:#fff;
              color:#000;
              position:relative;
              z-index:99;
              border-radius: 3px 0 0 3px;
            &:hover {
              background: #f5f5f5;
            }
          }
        }
        button {
          width: 100%;
          margin:0px;
          font-size: 14px;
          border-radius: 3px 0 0 3px;
          &:focus{
            outline:none;
          }
        }
    }
  }
  .toggle-button{
    float:left;
    margin:0px;
    font-size:19px;
    border-radius:0px 3px 3px 0;
    border-left:none;
    padding: 5.5px 10px;
    &:focus{
      outline:none;   
    }
  }
}
.submit-btn-container {
  .split-button {
    .primaryOption button, .toggle-button {
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a1d030), color-stop(100%, #88af28));
      background: -webkit-linear-gradient(top, #a1d030, #88af28);
      background: -moz-linear-gradient(top, #a1d030, #88af28);
      background: -o-linear-gradient(top, #a1d030, #88af28);
      background: linear-gradient(top, #a1d030, #88af28);
      background-color: #88af28;
      border: #88af28 1px solid;
      color: white;
      &:hover {
        background: #8eb82a;
        border-color: #779b23;
      }
    }
  }
}
.submit-btn-container {
  .split-button {
    position: relative;
    ul {
      width: 300px;
      li button {
        text-align: left;
        border: 0;
      }
    }
    .toggle-button {
      position: absolute;
      z-index: 1;
      right: 0;
    }
  }
}

}