@charset "UTF-8";

$column-width: 100;
$gutter-width: 0;
$columns: 12;

@import "compass";
@import "compass/reset";


body{
    font-family: "OpenSans",Arial,sans-serif;
    max-width:none;
    height:100%;
}
.opd-header-wrapper{
        @include pie-clearfix;
        background:#00463F;
        
        header{
            width:960px;
            margin:0px auto;
            border-radius:0px;
            padding:2px;
            position:relative;
            .header-logo{
                background:url("../images/jss_logo.png") no-repeat left top;
                padding:10px 0px 7px 40px;
                margin:0px auto;
                width:200px;
                display: inline-block;
                position:absolute;
                left:0px;
                right:7px;
                top:7px;
                bottom:0px;
            }
            .back-btn{
                @include pie-clearfix;
                display: inline-block;
                margin-top:2px;
                width: 100px;
                &:hover{
                    text-decoration: none;
                    opacity:0.9;
                }
                .arrow-btn-head{
                    background:url(../images/button-back-start.png) no-repeat top left;
                    display:inline-block;
                    height:44px;
                    width:29px;
                    float: left;    
                }
                .arrow-btn-body{
                    background:url(../images/button-back-bg.jpg) repeat-x top left;
                    display:inline-block;
                    height:34px;
                    vertical-align:top;
                    padding:12px 10px 0px 0px;
                    float: left;
                    border-right:1px solid #626262;
                    -webkit-border-top-right-radius: 8px;
                    -webkit-border-bottom-right-radius: 8px;
                    -moz-border-radius-topright: 8px;
                    -moz-border-radius-bottomright: 8px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
            }
            }
            ul{
                &.user-info{
                    float:right;
                }
                li{
                    @include font-size(0.9);
                    display: inline-block;
                    &.logoff{
                        margin:2px 0px 2px 0px;
                        button{
                            padding:8px;
                            margin-top: 1px;
                            background:#447772;
                            border:1px solid #00463F;
                            &:hover{
                              background:#4D9B92;
                              color:#f0f0f0;
                           }
                        }
                    }  
                a{
                    padding-top:10px;
                    cursor:pointer;
                    &.user-name{
                        color:#ADADAD;
                        &:hover{
                            text-decoration: none;
                            cursor:default;
                        }
                    }
                    
                 }
                }
            }
        }
        .opd-header-top,header{
            background:#000;
        }
        .opd-header-bottom{
            width:960px;
            margin:0px auto;
            border-radius:0px;
            padding:2px;
            position:relative;
            .header-tabs{
                    float:left;
                    margin-top:10px;
            }
            .patient-detail{
                width:150px;
                background:#5C5A5A;
                border:1px solid #cecece;
                border-radius:5px;
                padding:6px;
                position:absolute;
                box-shadow:3px 3px 5px #717473;
                top:59px;
                right:0px;
                color:#F26522;
                z-index:999;
                li{
                    line-height: 20px;
                    float:none;
                    margin-bottom: 4px;
                    background:#727070;
                    margin-right:0px;
                    padding-left:5px;
                    color:#fff;
                    font-size:0.95em;
                }
            }
            .patient-info{
                    float:right;
                    li{
                        color:#fff;
                        cursor:pointer;
                        &.patient-img{
                            padding:2px 6px 0px;
                            &:hover{
                                background:#44866A;
                                border-radius:6px;
                            }
                        }
                        &:first-child{
                            padding:15px 0px 0px 0px;
                            text-align: right;
                        }
                        &.patient-detail-pointer{
                            position: absolute;
                            bottom: -21px;
                            color: #00463F;
                            font-size: 26px;
                            z-index: 9999;
                            right: 3px;
                            .icon-caret-up{
                                color:#5C5A5A;
                            }
                        }
                    }  

                }
        }
    }
.opd-wrapper{
    margin:0px auto;
    width:960px;
    position: relative;
    
    
    .opd-content-wrapper{
       background:#ffffff;
       padding:0px 10px 20px 10px;
       height:99%;
    }


}
table{
    margin-top:20px;
    tr{
        th{
            color: #555555;
            @include background-image(linear-gradient(white, #e2e2e2)); 
            text-align: left;
            padding:10px  7px 10px 7px ;
        }
        td{

        }
    }
}
textarea{
    width:96%;
}
.roundImages{
    height: 40px;
    width: 40px;
    border-radius:50%;
    margin-top:4px;
}
.smallImages{
    height:100px;
    width:100px;
}
button[disabled] {  
    background: #F7F7F7;
}
.active-visits{
    li{
        width:143px;
        div{
            margin:5px 0px;
            @include font-size(0.9);
            color:#4d4d4d; 
        }
    }
}
#tabButtonRow {
    margin-bottom: 20px;
    button {
        margin-right: 10px;
    };
    button.active {
        background: #00463F !important;
        color: WHITE !important;
    }
}
form select, .form select{
    min-width: 100px;
}
@media only screen and (max-width: 768px) {
  .opd-header-wrapper header{ width:764px; }
  .opd-wrapper{width:768px; font-size:0.9em;}
 }
