@charset "UTF-8";

$column-width: 100;
$gutter-width: 0;
$columns: 12;

@import "compass";
@import "compass/reset";

.icon-white {
    color: #f6f6f6;
}

body{
    font-family: "OpenSans",Arial,sans-serif;
    max-width:none;
    height:100%;
}
.opd-header-wrapper{
        @include pie-clearfix;
        background:#00463F;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 1000;
        &#opd-tabs {
            top: 50px;
        }

        header{
            position: relative;
            color: #CCC;
            height: 50px;
            border-radius: 0;
            @media screen and (min-width: 960px) {
                width: 960px;
                margin: 0px auto;
            }
            .header-logo{
                background: image-url("jss_logo.png") no-repeat scroll left 2px transparent;
                color: #ffffff;
                display: block;
                font-size: 16px;
                margin:4px 0px 0px 5px;
                padding:10px 0px 0px 40px;
                text-decoration:none;
                line-height:18px;
                height:35px;
                float:left;
            }
            ul{
                &:first-child{
                    float:left;
                    margin-top:2px;
                    li{
                        opacity:0.8;
                        filter:alpha(opacity=80);
                        &:first-child{
                            background:url(../images/sprites.png) no-repeat;
                            background-position: 0 -108px ;
                            padding-left:20px;
                        }
                        &:hover{
                            opacity:1;
                            filter:alpha(opacity=100);
                        }
                        a{
                            padding:15px 10px 15px 0px;
                            background:url(../images/sprites.png) repeat-x;
                            background-position: 0 -181px ;
                            display: inline-block;
                            -webkit-border-top-right-radius: 5px;
                            -webkit-border-bottom-right-radius: 5px;
                            -moz-border-radius-topright: 5px;
                            -moz-border-radius-bottomright: 5px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            border-right:1px solid #A09F9F;
                            &:hover{
                                text-decoration: none;
                            }
                        }


                    }
                }
            }
            ul{
                &.user-info{
                    float:right;
                }
                li{
                    @include font-size(0.9);
                    display: inline-block;
                    &.logoff{
                        margin:2px 0px 2px 0px;
                        button{
                            padding:8px;
                            margin-top: 1px;
                            background:#447772;
                            border:1px solid #00463F;
                            &:hover{
                              background:#4D9B92;
                              color:#f0f0f0;
                           }
                        }
                    }
                a{
                    padding-top:10px;
                    cursor:pointer;
                    &.user-name{
                        color:#ADADAD;
                        &:hover{
                            text-decoration: none;
                            cursor:default;
                        }
                    }

                 }
                }
            }
            .btn-user-info {
              @include background(linear-gradient(top, #015B52, #00463f));
              padding: 7px;
              border: none;
              float: right;
              margin: 8px;
              i.mini {
                font-size: .9em;
              }
              & + ul {
                display: none;
                &.active {
                  background: #00463f;
                  display: block;
                  position: absolute;
                  right: 5px;
                  top: 50px;
                }
                li {
                  float: left;
                  clear: both;
                  text-align: left;
                  padding-left: 10px;
                  border-bottom: 1px solid #187269;
                  margin: 0;
                  padding: 10px 10px 10px 5px;
                  a.disabled {
                    color: #999;
                    .icon-user {
                        color: #999;
                    }
                  }
                }
              }
            }
        }
        .opd-header-top,header{
            background: #00463f;
        }
        .opd-header-bottom {
            border-radius:0px;
            padding:2px;
            position:relative;
            margin: 0px;
            @media screen and (min-width: 960px) {
                width: 960px;
                margin: 0px auto;
            }
            .header-tabs{
                    float:left;
                    margin-top:10px;
            }
            .patient-detail{
                width:150px;
                background:#5C5A5A;
                border:1px solid #cecece;
                border-radius:5px;
                padding:6px;
                position:absolute;
                box-shadow:3px 3px 5px #717473;
                top:59px;
                right:0px;
                color:#F26522;
                z-index:999;
                li{
                    line-height: 20px;
                    float:none;
                    margin-bottom: 4px;
                    background:#727070;
                    margin-right:0px;
                    padding-left:5px;
                    color:#fff;
                    font-size:0.95em;
                }
            }
            .patient-info{
                    float:right;
                    li{
                        color:#fff;
                        cursor:pointer;
                        &.patient-img{
                            padding:2px 6px 0px;
                            &:hover{
                                background:#44866A;
                                border-radius:6px;
                            }
                        }
                        &:first-child{
                            padding:15px 0px 0px 0px;
                            text-align: right;
                            width:80px;
                            height:33px;
                            overflow:hidden;
                        }
                        &.patient-detail-pointer{
                            position: absolute;
                            bottom: -21px;
                            color: #00463F;
                            font-size: 26px;
                            z-index: 9999;
                            right: 3px;
                            .icon-caret-up{
                                color:#5C5A5A;
                            }
                        }
                    }

                }
        }
    }
.opd-wrapper {
    position: relative;
    top: 110px;
    margin: 0px;
    @media screen and (min-width: 960px) {
        width: 960px;
        margin: 0px auto;
    }
    .opd-content-wrapper {
        background:#ffffff;
        height:99%;
        @media screen and (min-width: 960px) {
            padding:10px 10px 20px 10px;
        }
        nav.navbar {
            background: #F8F8F8;
            overflow: hidden;
            padding: 5px 5px;
            margin: 15px 0;
            @include border-radius(3px);
            .navbar-right {
                float: right;
            }
        }
    }


}
table{
    margin-top:20px;
    tr{
        th{
            color: #555555;
            @include background-image(linear-gradient(white, #e2e2e2));
            text-align: left;
            padding:10px  7px 10px 7px ;
        }
        td{

        }
    }
}
textarea{
    width:96%;
}
.roundImages{
    height: 40px;
    width: 40px;
    border-radius:50%;
    margin-top:4px;
}
.smallImages{
    height:100px;
    width:100px;
}
button[disabled] {
    background: #F7F7F7;
}
.active-visits{
    li{
        width:143px;
        div{
            margin:5px 0px;
            @include font-size(0.9);
            color:#4d4d4d;
        }
    }
}
#tabButtonRow {
    margin-bottom: 20px;
    button {
        margin-right: 10px;
    };
    button.active {
        background: #00463F !important;
        color: WHITE !important;
    }
}
form select, .form select{
    min-width: 100px;
}