.nv-axislabel {
  font-weight: bold;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
  border:5px solid blue;
  border-radius: 5px;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point:before {
  content: ' \25CF';
  font-size: 50px;
}

.trends {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 0 10px;
  .info-message{
    padding:30px 10px;
    color: #666;
    border:1px solid #ccc;
    background: #ddd;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
  }

  .trends-concepts {
    clear: both;
    overflow: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    h2 {
      margin-bottom: 20px;
    }
    li {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    button.graph-visible {
      background: #ddd;
      outline: 0;
      cursor: default;
    }
    .close-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -10px;
      padding: 8px 10px;
    }
  }

  .trends-concepts, .trends-graph {
    h2 {
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
  }

  .trends-graph {
    .graph {
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }
    .close-btn {
      float: right;
      font-size: 14px;
    }
  }

}

