.document-upload {
  h1 {
    height: 40px;
    line-height: 40px;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    padding: 0 10px;
    font-weight: bold;
  }

  .form-field {
    clear: both;
  }
}