.visit {
	h2{
			color:#fff;
			background:#66b298;
			padding:4px 0px 4px 6px;
			margin-bottom:10px;
			font-family: OpenSansBold;
	}
	.info-message{
			padding:10px;
			color:red;
			border:1px solid #cecece;
	}
	.block{
		min-height:150px;
		padding:10px;
		ul{
			&.add-info{
				float:right;
				margin-right:10px;
				li{
					display: inline-block;
					font-size: 12px;
					color:#274b59;
					font-family: OpenSansBold;
					padding:2px 10px 0px 18px;
					background:none;
					&.datetime{
						background:url(../images/sprites.png) no-repeat;
						padding-left:23px;
						background-position: 0 -36px ;
					}
					&.time{
						background:url(../images/sprites.png) no-repeat;
						line-height: 14px;
						background-position: 0 2px;
					}
					&.date{
						background:url(../images/sprites.png) no-repeat;
						background-position: 0 -72px ;
					}
				}
			}
		}
		
		li{
			background:#F1EEEE;
			padding: 4px 0px 4px 12px;
			margin:2px 0px;
		}

	}
	.visit-diagnosis{
		.diag-ps{
			background:#3d99cc;
			color: #fff;
			padding:1px 4px;
		}
		li{
			padding-left:0px;
		}
	}

	.block-day{
		border:3px solid #67ad95;
		padding:10px;
			background:#fff;
			h1{
				color:#274b59;
				float:left;
				padding:0px 10px;
				font-family: OpenSansBold;
			}
		
	}
	.treatment{
		li{
			overflow:hidden;
		}
		.treatment-details{
			float:left;
		}
		.treatment-notes{
			float:left;
		}
		.expander-row{
			overflow:hidden;
		}
		.expander{
			padding-left:15px;
			padding-right:15px;
		}
	}
	aside{
		h2{
			background:none;
			color: #000;
		}
		a{
			color:#fff;
		}
		&.visit-history{
			position:fixed;
			margin-top:11px;
			padding:10px;
			right:0px;
			width:200px;
			background:#185472;
			height:100%;
			opacity:0.9;
			min-height:500px;
			overflow: hidden;
			border-left: 7px solid #979494;
			top: 40px;
			ul,h2{
				width:200px;
			}
			li{
				padding: 8px 6px;
				border-right:1px solid #fff;
			}
		}
		.visit-history-entry {
			&.selected {
				background:#407b94;
			}
			&.active {
				color: #fafafa;			}
		}
		&.drawerClose{
			padding:10px 0px 10px 20px;
		}
	}
}



