<div class="container-fluid">
    <h4>Register New Patients</h4>
<div>
    <form name="myForm" class="form-horizontal well">
        <div class="control-group">
            <label class="control-label" for="centerID">CenterID</label>

            <div class="controls">
                <input type="text" id="centerID" ng-model="centerID" autofocus>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="firstName">Patient Name</label>

            <div class="controls">
                <input type="text" id="patientName" ng-model="patientName">
                <input type="text" id="patientName" ng-model="patientName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="centerID">CenterID</label>

            <div class="controls">
                <input type="text" id="centerID" ng-model="centerID" autofocus>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="centerID">CenterID</label>

            <div class="controls">
                <input type="text" id="centerID" ng-model="centerID" autofocus>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="centerID">CenterID</label>

            <div class="controls">
                <input type="text" id="centerID" ng-model="centerID" autofocus>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="centerID">CenterID</label>

            <div class="controls">
                <input type="text" id="centerID" ng-model="centerID" autofocus>
            </div>
        </div>
    </form>
    <br>
</div>
</div>