<div class="container-fluid">
    <h4>Register New Patient</h4>
<div>
    <form name="myForm" class="form-horizontal well" ng-submit="create()" >
        <legend class="mylegend">New Patient Registration (Patient Profile Information)</legend>
        <div class="control-group">
            <label class="control-label" for="asd">Center</label>

            <div class="controls">
                <select  id="asd" ng-model="patient.centerID" ng-options="c.name for c in centers"> </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="oldPatientIdentifier">Patient Registration Number</label>

            <div class="controls">
                <input type="text" id="oldPatientIdentifier" ng-model="oldPatientIdentifier" placeholder="Old Registration Number">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="patientName">Patient Name *</label>

            <div class="controls" id="patientName">
                <input type="text" id="givenName" ng-model="patient.names[0].givenName" autofocus required placeholder="First Name">
                <input type="text" id="familyName" ng-model="patient.names[0].familyName" required placeholder="Last Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="primaryRelative">Father's/Husband's Name</label>

            <div class="controls">
                <input type="text" id="primaryRelative" ng-model="primaryRelative" placeholder="Father's/Husband's Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="birthdate">DOB (optional)</label>

            <div class="controls">
                <input id="birthdate" type="text" pattern="\d{2}-\d{2}-\d{4}" ng-model="patient.birthdate" datepicker ng-change="calculatePatientAge()" placeholder="dd-mm-yyyy">
                Age
                <input type="number" id="ageYear" name="ageYear" max="120" ng-model="patient.age" min="0" placeholder="Age" ng-change="calculatePatientDOB()">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="gender">Gender</label>

            <div class="controls">
                <select  id="gender" ng-model="patient.gender" required>
                    <option value=""></option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                </select>
            </div>
        </div>

        <legend class="mylegend">Address And Contact Details</legend>
        <div class="control-group">
            <label class="control-label" for="address1">House No. Street</label>

            <div class="controls">
                <input type="text" id="address1" ng-model="patient.addresses[0].address1" placeholder="House No. Street">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="address2">Village</label>

            <div class="controls">
                <input type="text" id="address2" ng-model="patient.addresses[0].cityVillage" placeholder="Village">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="address3">Tehsil</label>

            <div class="controls">
                <input type="text" id="address3" ng-model="patient.addresses[0].address3" placeholder="Tehsil">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="countyDistrict">District</label>

            <div class="controls">
                <input type="text" id="countyDistrict" ng-model="patient.addresses[0].countyDistrict" placeholder="District">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="stateProvince">State</label>

            <div class="controls">
                <input type="text" id="stateProvince" ng-model="patient.addresses[0].stateProvince" placeholder="State">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="contactNumber">Contact Number</label>

            <div class="controls" id="contactNumber">
                <input type="text" id="primaryContact" ng-model="primaryContact" placeholder="Primary Number">
                <input type="text" id="secondaryContact" ng-model="secondaryContact" placeholder="Secondary Number">
            </div>
        </div>

        <legend class="mylegend">Secondary Information</legend>
        <div class="control-group">
            <label class="control-label" for="education">Education Details</label>

            <div class="controls">
                <select  id="education" ng-model="education">
                    <option>Uneducated</option>
                    <option>5th Pass and Below</option>
                    <option>6th to 9th</option>
                    <option>10th Pass</option>
                    <option>Graduate and Above</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="caste">Caste</label>

            <div class="controls">
                <select  id="caste" ng-model="caste">
                    <option>OBC</option>
                    <option>General</option>
                    <option>SC</option>
                    <option>ST</option>
                    <option>Other</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="occupation">Occupation</label>

            <div class="controls">
                <select  id="occupation" ng-model="occupation">
                    <option>Unemployed</option>
                    <option>Student</option>
                    <option>Agriculture Related</option>
                    <option>Government</option>
                    <option>Business</option>
                    <option>Housewife</option>
                    <option>Bank Related</option>
                    <option>Medical Related</option>
                    <option>Engineering Related</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </form>
    <br>
</div>
</div>