<div class="container-fluid">
    <h4>Login</h4>

    <div>
        <form ng-submit="login()" class="form-horizontal well">
            <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>

                <div class="controls">
                    <input type="text" id="username" ng-model="username" autofocus>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>

                <div class="controls">
                    <input type="password" id="password" ng-model="password">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
