<div class="container-fluid">
    <h4>Visit Information</h4>
<div>
    <form name="myForm" class="form-horizontal well">
        <legend class="mylegend">Summary</legend>
        <div class="control-group">
            <label class="control-label" for="patientId">Patient Identifier</label>

            <div class="controls">
                <input id="patientId" ng-model="patient.identifier" readonly>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="patientName">Patient Name</label>

            <div class="controls">
                <input id="patientName" ng-model="patient.name" readonly>
            </div>
        </div>

        <legend class="mylegend">Illness Details</legend>
        <div class="control-group">
            <label class="control-label" for="chiefComplaint">Complaint</label>

            <div class="controls">
                <input type="text" id="chiefComplaint" ng-model="obs.chiefComplaint">
            </div>
        </div>

        <legend class="mylegend">New Registration</legend>    
        <div class="control-group">
            <label class="control-label" for="registrationFee">Registration Fee</label>

            <div class="controls">
                <input type="text" id="registrationFee" ng-model="obs.registrationFee">
            </div>
        </div>

        <legend class="mylegend">Enter Measures for Body Mass Index</legend>
        <div class="control-group">
            <label class="control-label" for="bmiComponents">Height (cm)</label>

            <div class="controls">
                <input id="height" type="number" ng-model="obs.height" min="0" ng-change="calculateBMI()">
                Weight (kg)
                <input id="weight" type="text" ng-model="obs.weight" min="0" ng-change="calculateBMI()">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="bmi">BMI</label>

            <div class="controls">
                <input type="number" id="bmi" ng-model="obs.bmi">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="visit.bmiStatus">BMI Status</label>

            <div class="controls">
                <input type="text" id="bmiStatus" ng-model="bmiStatus">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" ng-click="back()">Back</button>
                <button type="submit" class="btn btn-primary" ng-click="createVisit()">Print Patient Card</button>
            </div>
        </div>
    </form>
    <br>
</div>
</div>