<div ng-controller="PatientDashboardDiagnosisController" class="dashboard-diagnosis-section">
    <h2 ng-click="openSummaryDialog()" class="section-title has-link">
        <span class="title-link"> {{::section | titleTranslate}} </span>
        <i class="fa fa-external-link"></i>
    </h2>
<bahmni-diagnosis patient-uuid="::patient.uuid" config="::section" show-latest-diagnosis="false"
                  show-ruled-out-diagnoses="::section.showRuledOutDiagnoses"
                  hide-title="true"></bahmni-diagnosis>
</div>

