<div>
    <div class="audit-log-filter">
        <header>
            <p>Filters</p>
        </header>
        <article id="startFrom">
            <p>
                <label for="startFrom">Start From </label>
                <input id="startDate" type="date" ng-model="startDate" max="{{::maxDate}}">
                <input id="startTime" type="time" ng-model="startDate">
            </p>
            <p>
                <label for="username">Username </label>
                <input type="text" id="username" ng-model="username">
            </p>
            <p>
                <label for="patientId">Patient Id </label>
                <input type="text" id="patientId" ng-model="patientId">
            </p>
            <button class="button" type="button" ng-click="runReport()"><i class="fa fa-filter" aria-hidden="true"></i>
                Filter
            </button>
        </article>

    </div>
    <div class="audit-log-table">
        <header>
            <p>Audit Log Events</p>
        </header>
        <table id="auditLogTable" border="0">
            <thead>
            <tr>
                <th>Event ID</th>
                <th>Created At</th>
                <th>{{ 'EVENT_TYPE' | translate }}</th>
                <th>UserName</th>
                <th>Patient ID</th>
                <th>{{ 'Message' | translate }}</th>
            </tr>
            </thead>
            <tbody ng-repeat="log in logs">
            <tr>
                <td>{{:: log.auditLogId}}</td>
                <td>{{:: log.dateCreated }}</td>
                <td>{{:: log.eventType | translate}}</td>
                <td>{{:: log.userId}}</td>
                <td>{{:: log.patientId}}</td>
                <td>{{:: log.displayMessage}}</td>
            </tr>
            </tbody>
        </table>
        <p class="audit-log-table-buttons">
            <button class="button" type="button" ng-click="prev()">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <button class="button" type="button" ng-click="next()">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </p>
    </div>
    <div id="messageContainer">
        <p style="text-align: center; color: red; font-weight: bold;">{{ errorMessage}}</p>
    </div>
</div>