<div nv-file-drop uploader="uploader" filters="queueLimit, customFilter">

    <div>
        <div>
            <h3>Select files</h3>
            <input type="file" nv-file-select uploader="uploader" multiple/>
            <span>
                <input type="radio" name="upload-type" ng-model="option" ng-value="'concept'" > Concept
                <input type="radio" name="upload-type" ng-model="option" ng-value="'conceptset'" > ConceptSet
                <input type="radio" name="upload-type" ng-model="option" ng-value="'program'" > Program
                <input type="radio" name="upload-type" ng-model="option" ng-value="'patient'" > Patient
                <input type="radio" name="upload-type" ng-model="option" ng-value="'encounter'">Encounter
                <input type="radio" name="upload-type" ng-model="option" ng-value="'drug'" > Drug
                <input type="radio" name="upload-type" ng-model="option" ng-value="'labResults'" > Lab Results
                <input type="radio" name="upload-type" ng-model="option" ng-value="'referenceterms'" > ReferenceTerms
            </span>
            <div ng-if="uploader.queue.length">
                <h3>File to Upload</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Upload Progress</th>
                            <th>Upload Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td>{{ item.file.size/1024|number:2 }} KB</td>
                            <td>
                                <progress value="{{item.progress}}" max="100"></progress>
                            </td>
                            <td>
                                <span ng-if="item.isSuccess">Success</span>
                                <span ng-if="item.isCancel">Canceled</span>
                                <span ng-if="item.isError">Error</span>
                            </td>
                            <td nowrap>
                                <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    Upload
                                </button>
                                <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    Cancel
                                </button>
                                <button type="button" ng-click="item.remove()">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Uploaded files</h3>
                <button ng-click="loadImportedItems()">Refresh</button>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Error Message</th>
                            <th>Download</th>
                        </tr>
                    </thead>                    
                    <tbody>
                        <tr ng-repeat="item in importedItems">
                            <td><strong>{{ item.originalFileName }}</strong></td>
                            <td>{{ item.startTime | date: 'd MMM yy h:mm a' }}</td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.errorMessage }}</td>
                            <td><a ng-if="item.hasError()" ng-href="{{item.errorFileUrl()}}">Error File</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>