<div style="margin-top: 100px" nv-file-drop uploader="uploader" filters="queueLimit, customFilter">

    <div>
        <div>
            <div>
                <h3>Select file</h3>
                <input type="file" nv-file-select uploader="uploader"/>
            </div>
            <div>
                <h3>File to Upload</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Upload Progress</th>
                            <th>Upload Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td>
                                <progress value="{{item.progress}}" max="100"></progress>
                            </td>
                            <td>
                                <span ng-if="item.isSuccess">Success</span>
                                <span ng-if="item.isCancel">Canceled</span>
                                <span ng-if="item.isError">Error</span>
                            </td>
                            <td nowrap>
                                <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    Upload
                                </button>
                                <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    Cancel
                                </button>
                                <button type="button" ng-click="item.remove()">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div ng-if="uploader.queue.length">
                    <span>Overall Upload progress:</span>
                    <progress value="{{uploader.progress}}" max="100"></progress>
                </div>
            </div>
            <div>
                <h3>Uploaded files</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Stage</th>
                            <th>Status</th>
                            <th>Download</th>
                        </tr>
                    </thead>                    
                    <tbody>
                        <tr ng-repeat="item in importedItems">
                            <td><strong>{{ item.originalFileName }}</strong></td>
                            <td>{{ item.startTime | date: 'd MMM yy h:mm a' }}</td>
                            <td>{{ item.stageName }}</td>
                            <td>{{ item.status }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>