<div class="formBulider-container dashboard-section" ng-app="">
    <h2 class="section-title">Form Builder Home page</h2>
    <div class="formBulider-section-wrapper clearfix">
        <div class="box">
            <article class="form-field">
                <div class="field-value">
                    <input type="radio" value="New-Form" name="formbuilder-newForm" class="form-field-radio"/>
                </div>
                <div class="field-attribute form-field-radio-label">
                    <h3>Build a New Form</h3>
                </div>
            </article>
            <form class="clearfix">
                <article class="form-field">
                    <div class="field-attribute">
                        <label>Form Title
                            <span class="asterick">*</span>
                        </label>
                    </div>
                    <div class="field-value">
                        <input type="text">
                    </div>
                </article>
                <button type="submit" class="right confirm" accesskey="b"><u>B</u>uild Your Form</button>
            </form>
        </div>
        <div class="box">
            <article class="form-field">
                <div class="field-value">
                    <input type="radio" value="Existing-Form" name="formbuilder-existingForm" class="form-field-radio"/>
                </div>
                <div class="field-attribute form-field-radio-label">
                    <h3>Edit an Existing Form</h3>
                </div>
            </article>
            <form class="clearfix">
                <article class="form-field">
                    <div class="field-attribute">
                        <label>Form Title
                            <span class="asterick">*</span>
                        </label>
                    </div>
                    <div class="field-value">
                        <input type="text">
                    </div>
                </article>
                <button type="submit" class="right confirm" accesskey="b"><u>B</u>uild Your Form</button>
            </form>
        </div>
    </div>
</div>
<a href="#/formBuilder">Form Builder panel</a>