<div class="formBulider-container dashboard-section">
    <h2 class="section-title">Form Builder</h2>
    <div class="formBulider-section-wrapper clearfix">
        <div class="formBulider-section">
            <section class="formBuilder-left">
                <section class="new-formElements">
                    <h2 class="formBuilder-title">Form Elements</h2>
                    <ul class="formBuilder-lists">
                        <li class="back-btn-link">Drop Down</li>
                        <li class="back-btn-link">Single Text Box</li>
                        <li class="back-btn-link">Multiple Text Boxes</li>
                        <li class="back-btn-link">Date and Time</li>
                        <li class="back-btn-link">Concept Group</li>
                        <li class="back-btn-link">Group</li>
                    </ul>
                </section>
                <section class="new-formElements">
                    <h2 class="formBuilder-title">Search for Already Configured Form Elements</h2>
                    <form name="form-builder" >
                        <input type="text"/>
                    </form>
                </section>
            </section>
            <section class="formBuilder-right">
                <section class="order-section-container">
                    <h2 class="formBuilder-title">Intake Form</h2>
                    <div class="formBuilder-Form-container-wrap">
                        <ul class="formBuilder-tabs">
                            <li class="tab-item">
                                <a class="back-btn">Edit </a>
                            </li>
                            <li class="tab-item">
                                <a class="back-btn">Option</a>
                            </li>
                        </ul>
                        <div class="formBuilder-Form-container">
                            <div class="formBuilder-Form dashboard-section">
                                <h2 class="section-title">Form</h2>
                                <form>
                                    <section class="form-field-inline clearfix">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Label</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text" />
                                            </div>
                                        </article>
                                    </section>
                                    <legend class="registraion_legend">
                                        <span class="mylegend"> Specify Concept Properties</span>
                                    </legend>
                                    <section class="form-field-inline clearfix">
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Fully Specified Name
                                                    <span class="asterick">*</span>
                                                </label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text">
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Class</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text"  />
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Synonms</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text"  />
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>This is a concept set
                                                    <span class="asterick">*</span>
                                                </label>
                                            </div>
                                            <div class="field-value">
                                                <input type="radio" value="Yes" name="concept-set"/>
                                            </div>
                                            <div class="field-attribute form-field-radio-label">
                                                <label>Yes</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="radio" value="No" name="concept-set"/>
                                            </div>
                                            <div class="field-attribute form-field-radio-label">
                                                <label> No</label>
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Search Terms</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text" />
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Data Type</label>
                                            </div>
                                            <div class="field-value">
                                                <select>
                                                    <option value="">Select Data Type</option>
                                                    <option value="Coded">Coded</option>
                                                </select>
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Short Name</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text">
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Short Name</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text" />
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Description</label>
                                            </div>
                                            <div class="field-value">
                                                <textarea placeholder="Enter Description here " rows="6" msd-elastic></textarea>
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Answers</label>
                                            </div>
                                            <div class="field-value">
                                                <textarea placeholder="Enter Answer here " rows="6" msd-elastic></textarea>
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Versions</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text" />
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Mapping</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="text" />
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Duration Required</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="radio" value="Yes" name="concept-set"/>
                                            </div>
                                            <div class="field-attribute form-field-radio-label">
                                                <label>Yes</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="radio" value="No" name="concept-set"/>
                                            </div>
                                            <div class="field-attribute form-field-radio-label">
                                                <label> No</label>
                                            </div>
                                        </article>
                                        <article class="form-field">
                                            <div class="field-attribute">
                                                <label>Grid</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="radio" value="Yes" name="concept-set"/>
                                            </div>
                                            <div class="field-attribute form-field-radio-label">
                                                <label>Yes</label>
                                            </div>
                                            <div class="field-value">
                                                <input type="radio" value="No" name="concept-set"/>
                                            </div>
                                            <div class="field-attribute form-field-radio-label">
                                                <label> No</label>
                                            </div>
                                        </article>
                                    </section>
                                </form>
                            </div>
                            <button class="confirm save-formbuilder" ng-click="save()" accesskey="s">
                                <i class="fa fa-save"></i>
                                <span class="text"><u>S</u>ave</span>
                            </button>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <button type="submit" class="right confirm" accesskey="f">Publish <u>F</u>orm</button>
    </div>
</div>