<section class="block section-grid orderSet-dashboard-container">
    <div class="clearfix section-title-wrapper">
        <h2 class="section-title fl">Order Set</h2>
        <button class="fr small-btn grid-row-element" ng-click="createOrEditOrderSet()"> Create New</button>

    </div>

    <table class="orderSet-list clearfix">
        <tr>
            <th><strong>Name</strong></th>
        </tr>
        <tr ng-repeat="orderSet in orderSets">
           <td><a ng-click="createOrEditOrderSet(orderSet.uuid);">{{orderSet.name}}</a></td>
        </tr>
        <!--<li ng-repeat="orderSet in orderSets">-->
            <!--<a ng-click="createOrEditOrderSet(orderSet.uuid);">{{orderSet.name}}</a>-->
        <!--</li>-->
    </table>
</section>
