<section class="section-grid orderSet-container">
    <h2 class="section-title">Order Set Details</h2>
    <form ng-submit="save()" class="orderSet-form form clearfix">
        <section class="new-orderSet-wrapper clearfix">
            <article class="form-field">
                <div class="field-attribute">
                    <label>Name <span class="asterick">*</span></label>
                </div>
                <div class="field-value">
                    <input type="text" ng-model="orderSet.name" required>
                </div>
            </article>
            <article class="form-field">
                <div class="field-attribute">
                    <label>Description <span class="asterick">*</span>
                    </label>
                </div>
                <div class="field-value">
                    <input type="text" ng-model="orderSet.description" required>
                </div>
            </article>
            <article class="form-field">
                <div class="field-attribute">
                    <label>Operator <span class="asterick">*</span>
                    </label>
                </div>
                <div class="field-value">
                    <select ng-model="orderSet.operator" ng-options="operator for operator in operators" required></select>
                </div>
            </article>
        </section>
        <div class="orderSetMember-wrapper">

            <!--<button type="button" class="add-more-btn btn-small fr"  ng-click="addOrderSetMembers($event)">
                <i class="fa fa-plus-circle"></i> ADD MORE
            </button>-->

                <input type="button" ng-click="addOrderSetMembers($event)" value="Add New Members" class="button add-more-btn btn-small fr">

            <fieldset>
                <legend>
                    <span> Order Set Members</span>
                </legend>
                <div ng-repeat="orderSetMember in orderSet.orderSetMembers" ng-if="!orderSetMember.voided">
                    <article class="form-field clearfix">
                        <div class="field-attribute">
                            <label>Order Type <span class="asterick">*</span></label>
                        </div>
                        <div class="field-value">
                            <select ng-model="orderSetMember.orderType.uuid" ng-change="clearConceptName(orderSetMember)" ng-options="orderType.uuid as orderType.display for orderType in orderTypes" required></select>
                        </div>
                        <div class="field-attribute">
                            <label>Concept Name<span class="asterick">*</span></label>
                        </div>
                        <div class="field-value">
                            <input class="enter-concept" type="text" name="conceptSet" ng-model="orderSetMember.concept.name" bahmni-autocomplete strict-select="true" on-select="onSelect($index)" is-invalid="conceptNameInvalid" source="getConcepts" response-map=getDataResults(orderSetMember.orderType) required placeholder="Enter a concept name" />
                        </div>
                        <label>{{primaryAttributeType.description}}</label>
                        <div class="field-attribute">
                            <input id="isPrimary" type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="orderSetMember.orderSetMemberAttributes[0].value"  />
                        </div>
                        <input class="fl remove-orderSet" type="button" ng-click="removeOrderSetMember($index)" value="-">

                    </article>
                </div>
            </fieldset>
        </div>
        <input type="submit" value="Save" class="secondary-button fr" />
    </form>
</section>
