<div bm-pop-over autoclose="true" class="clinical-observations" focus-on-input-errors>
    <div class="template-control-header">
        <button id="template-control-panel-button" bm-pop-over-trigger><i class="fa fa-th"></i></button>
    </div>
    <div class="template-control-panel primary-section-grid" bm-pop-over-target>
        <ul class="template-icons">
            <li ng-repeat="template in consultation.selectedObsTemplate" ng-if="!template.isAdded && !template.alwaysShow">
                <button id="{{getNormalized(template.label)}}" ng-click="toggleTemplate(template)">
                    <i class="fa fa-square-o" ng-hide="template.isAdded"></i>
                    <i class="fa fa-check" ng-show="template.isAdded"></i>
                    {{template.label}}
                </button>
            </li>
        </ul>
    </div>
    <concept-set-group patient="patient" consultation="consultation" observations="consultation.observations"
                       all-templates="consultation.selectedObsTemplate" context="context"
                       auto-scroll-enabled="scrollingEnabled">
    </concept-set-group>
</div>
