<div bm-pop-over autoclose="::true" class="clinical-observations" focus-on-input-errors>
    <div class="template-control">
        <div class="template-control-wrapper">
            <div class="template-control-panel-wrap clearfix">
                <div class="template-control-panel-right-wrap">
                    <div class="template-control-panel-right">
                        <div class="template-control-panel" >
                            <div  class="template-control-panel-button">
                                <button id="template-control-panel-button" class="fr" bm-pop-over-trigger>Add New Obs Form</button>
                            </div>
                            <div class="primary-section-grid" bm-pop-over-target>
                                <ul class="template-icons">
                                    <li ng-repeat="template in getUniqueTemplates()">
                                        <button id="{{getNormalized(template.label)}}" ng-disabled = "template.isAdded && !template.allowAddMore" ng-click="addTemplate(template)">
                                            {{::template.label}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <concept-set-group patient="::patient" consultation="consultation" observations="consultation.observations"
                       all-templates="consultation.selectedObsTemplate" context="context"
                       auto-scroll-enabled="::scrollingEnabled" ng-if="consultation.selectedObsTemplate.length > 0">
    </concept-set-group>
</div>
