<div class="row">
    <div class="col col1" ng-class="{'condition-alert-name': condition.alerts && condition.alerts.length > 0 && !hasActiveAlerts(condition.alerts)}" bm-pop-over autoclose="true">
        <span ng-if="condition.alerts && condition.alerts.length > 0 && !hasActiveAlerts(condition.alerts) && condition.status === 'ACTIVE'">
            <button class="cdss-alert-icon button-alert-condition" bm-pop-over-trigger>
               <i class="fa fa-exclamation-circle cdss-icon-medication">
               </i>
           </button>
       </span>
        <div class="diagnosis-name">{{ condition.displayString() }}</div>
        <div ng-if="condition.activeSince" class="diagnosis-date">
            {{'CONDITION_LIST_ACTIVE_SINCE'|translate}} {{condition.activeSince | bahmniDate}}
        </div>
        <div class="subscriber-name">
            <span ng-if="condition.creator">{{'CONDITION_LIST_CREATED_BY'|translate}} {{condition.creator}}</span>
        </div>
        <div class="tooltip cdss-tooltip history-alert" bm-pop-over-target>
            <cdss-popover alerts="condition.alerts"></cdss-popover>
        </div>
    </div>
    <div class="col col2 notes-subscriber">
        <div class="col-header" ng-show="condition.additionalDetail && condition.additionalDetail.length">{{'CONDITION_LIST_NOTES'|translate}}</div>
        <div class="diagnosis-notes">{{condition.additionalDetail}}</div>
    </div>
    <div class="col col4 diagnosis-actions" ng-if="condition.isActive()">
        <a
           ng-click="addConditionAsFollowUp(condition)"
           ng-class="{'followUp':condition.isFollowUp}"
           ng-if="condition.uuid">
            {{'CONDITION_LIST_FOLLOW_UP'|translate}}
        </a>
        <a ng-click="markAs(condition,'HISTORY_OF')">
            {{'CONDITION_LIST_SET_AS_HISTORY_OF'|translate}}
        </a>
        <a ng-click="markAs(condition,'INACTIVE')">
            {{'CONDITION_LIST_SET_AS_INACTIVE'|translate}}
        </a>
    </div>
</div>

<div class="row" ng-if="hasActiveAlerts(condition.alerts) && condition.status === 'ACTIVE'" ng-repeat="alert in condition.alerts">
    <ng-include class="new-diagnosis-alert-row" src="'consultation/views/diagnosisAlertRow.html'" />
</div>
