<div class="view-past row-click" ng-click="toggle(diagnosis)" ng-class="{'edited': diagnosis.isDirty}">
    <div class="col col1">
      <span class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">
            <span ng-if="diagnosis.codedAnswer.name">{{diagnosis.getDisplayName()}}</span>
            <span ng-if="diagnosis.freeTextAnswer">{{diagnosis.freeTextAnswer}}</span>
      </span>
    </div>

    <div ng-show="diagnosis.firstDiagnosis.revised" class="col col2">
        <div class="view">
            <span class="certainty">{{diagnosis.firstDiagnosis.certainty}}</span>
            <span class="order">{{diagnosis.firstDiagnosis.order}}</span>
            <span class="status">{{diagnosis.firstDiagnosis.diagnosisStatus}}</span>
        </div>
        <div>
      <span class="time-stamp">
        <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniDate}}</span>
      </span>
            <span class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">
                <provider-directive creator-name="{{diagnosis.firstDiagnosis.creatorName}}" provider-name="{{provider.name}}"></provider-directive>
            </span>
        </div>

    </div>
    <div ng-show="!diagnosis.firstDiagnosis.revised" class="col col2"></div>
    <div class="col col3">
        <div class="view">
            <span class="certainty">{{diagnosis.certainty}}</span>
            <span class="order">{{diagnosis.order}}</span>
            <span class="status">{{diagnosis.diagnosisStatus}}</span>
        </div>
        <div>
      <span class="time-stamp">
        <span class="date">{{diagnosis.diagnosisDateTime | bahmniDate}}</span>
      </span>
            <span class="provider" ng-repeat="provider in diagnosis.providers">
                <provider-directive creator-name="{{diagnosis.creatorName}}" provider-name="{{provider.name}}"></provider-directive>
            </span>
        </div>
    </div>

    <span class="message">{{ ::'CLINICAL_CHANGED' | translate }}!</span>

    <button id="deleteDiagnosis-{{$index}}" ng-confirm-click="deleteDiagnosis(diagnosis)" ng-if="canDeleteDiagnosis" class="small-btn row-remover remove-diagnosis" confirm-message="Are you sure you want to remove this diagnosis?"><span class="fa fa-remove"></span></button>
    <button id="addCondition-{{$index}}" ng-click="addDiagnosisToConditions(diagnosis)"
            ng-disabled="cannotBeACondition(diagnosis)"
            ng-if="!isRetrospectiveMode() && !hideConditions"
            class="small-btn add-condition">
        <span>{{ ::'CLINICAL_ADD_AS_CONDITION' | translate }}</span>
    </button>

    <button class="toggle fr diagnosis-toggle" toggle="diagnosis.showComments" ng-class="{'has-notes': diagnosis.comments}">
        <i class="fa fa-edit"></i>
    </button>
</div>
<div class="notes inline-notes" ng-show="diagnosis.showComments">
    <textarea class="comment-section" maxlength="255" ng-model="diagnosis.comments"
              ng-change="diagnosis.isDirty=true">
    </textarea>
</div>

<div class="edit-diagnosis row" ng-show="diagnosis.show">

    <div class="col col1"></div>
    <div class="button-toggle col col2">
        <buttons-radio class="btn-group" model='diagnosis.order'
                       options='orderOptions' dirty-check-flag='diagnosis.isDirty'
                       ng-class="{'illegalValue': !diagnosis.isValidOrder()}"/>
    </div>
    <div class="button-toggle col col3">
        <buttons-radio class="small-btn" model='diagnosis.certainty'
                       options='certaintyOptions' dirty-check-flag='diagnosis.isDirty'
                       ng-class="{'illegalValue': !diagnosis.isValidCertainty()}"/>
    </div>

    <div class="button-toggle status col col4" ng-show="isStatusConfigured()">
        <buttons-radio class="small-btn status"
                       model='diagnosis.diagnosisStatus'
                       options='diagnosisStatus' dirty-check-flag='diagnosis.isDirty'/>
    </div>
</div>


