<div class="view-past row-click" ng-click="toggle(diagnosis)" ng-class="{'edited': diagnosis.isDirty}">
    <div class="col col1" bm-pop-over autoclose="true">
        <span class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus,'dismissed': diagnosis.alerts && diagnosis.alerts.length > 0 && !hasActiveAlerts(diagnosis.alerts)}">
            <span ng-if="diagnosis.alerts && diagnosis.alerts.length > 0 && !hasActiveAlerts(diagnosis.alerts)">
                 <button class="cdss-alert-icon button-alert" bm-pop-over-trigger>
                    <i class="fa fa-exclamation-circle cdss-icon-medication">
                    </i>
                </button>
            </span>
            <span ng-if="diagnosis.codedAnswer.name">{{diagnosis.getDisplayName()}}</span>
            <span ng-if="diagnosis.freeTextAnswer">{{diagnosis.freeTextAnswer}}</span>
        </span>
            <div class="tooltip cdss-tooltip history-alert" bm-pop-over-target>
                <cdss-popover alerts="diagnosis.alerts"></cdss-popover>
            </div>
    </div>

    <div ng-show="diagnosis.firstDiagnosis.revised" class="col col2">
        <div class="col-header">
            {{ ::'CLINICAL_INITIAL' | translate }}
        </div>
        <div class="col-body">
            <div class="view">
                <span class="certainty">{{diagnosis.firstDiagnosis.certainty}}</span>
                <span class="order">{{diagnosis.firstDiagnosis.order}}</span>
                <span class="status">{{diagnosis.firstDiagnosis.diagnosisStatus}}</span>
            </div>
            <div>
                <span class="time-stamp">
                    <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | bahmniDate}}</span>
                </span>
                <span class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">
                    <provider-directive creator-name="{{diagnosis.firstDiagnosis.creatorName}}"
                        provider-name="{{provider.name}}"></provider-directive>
                </span>
            </div>
        </div>
    </div>
    <div class="col col2 col-filler" ng-show="!diagnosis.firstDiagnosis.revised"></div>
    <div class="col col3">
        <div class="col-header">{{ ::'CLINICAL_CURRENT' | translate }}</div>
        <div class="col-body">
            <div class="view">
                <span class="certainty">{{diagnosis.certainty}}</span>
                <span class="order">{{diagnosis.order}}</span>
                <span class="status">{{diagnosis.diagnosisStatus}}</span>
            </div>
            <div>
                <span class="time-stamp">
                    <span class="date">{{diagnosis.diagnosisDateTime | bahmniDate}}</span>
                </span>
                <span class="provider" ng-repeat="provider in diagnosis.providers">
                    <provider-directive creator-name="{{diagnosis.creatorName}}" provider-name="{{provider.name}}">
                    </provider-directive>
                </span>
            </div>
        </div>
    </div>
    <span class="message">{{ ::'CLINICAL_CHANGED' | translate }}!</span>
    <div class="col col4">
        <button id="addCondition-{{$index}}" ng-click="addDiagnosisToConditions(diagnosis)"
            ng-disabled="cannotBeACondition(diagnosis)" ng-if="!isRetrospectiveMode() && !hideConditions"
            class="small-btn add-condition">
            <span>{{ ::'CLINICAL_ADD_AS_CONDITION' | translate }}</span>
        </button>
        <button class="toggle diagnosis-toggle" toggle="diagnosis.showComments"
            ng-class="{'has-notes': diagnosis.comments}">
            <i class="fa fa-edit"></i>
        </button>
        <button id="deleteDiagnosis-{{$index}}" ng-confirm-click="deleteDiagnosis(diagnosis)" ng-if="canDeleteDiagnosis"
            class="small-btn row-remover remove-diagnosis"
            confirm-message="Are you sure you want to remove this diagnosis?"><span
                class="fa fa-remove"></span></button>
    </div>
</div>
<div class="notes inline-notes" ng-show="diagnosis.showComments">
    <textarea class="comment-section" maxlength="255" ng-model="diagnosis.comments" ng-change="diagnosis.isDirty=true">
    </textarea>
</div>

<div class="edit-diagnosis row" ng-show="diagnosis.show">

    <div class="col col1"></div>
    <div class="button-toggle col col2">
        <div class="col-header">
            {{ ::'CLINICAL_ORDER' | translate }}
        </div>
        <div class="col-body">
            <buttons-radio class="btn-group" model='diagnosis.order' options='orderOptions'
            dirty-check-flag='diagnosis.isDirty' ng-class="{'illegalValue': !diagnosis.isValidOrder()}" />
        </div>
    </div>
    <div class="button-toggle col col3">
        <div class="col-header">
            {{ ::'CLINICAL_CERTAINTY' | translate }}
        </div>
        <div class="col-body">
            <buttons-radio class="small-btn" model='diagnosis.certainty' options='certaintyOptions'
            dirty-check-flag='diagnosis.isDirty' ng-class="{'illegalValue': !diagnosis.isValidCertainty()}" />
        </div>
    </div>

    <div class="button-toggle status col col4" ng-show="isStatusConfigured()">
        <div class="col-header">
            {{ ::'CLINICAL_STATUS' | translate }}
        </div>
        <div class="col-body">
            <buttons-radio class="small-btn status" model='diagnosis.diagnosisStatus' options='diagnosisStatus'
            dirty-check-flag='diagnosis.isDirty' />
        </div>
    </div>
</div>
<div class="row" ng-if="hasActiveAlerts(diagnosis.alerts)" ng-repeat="alert in diagnosis.alerts">
    <ng-include class="new-diagnosis-alert-row" src="'consultation/views/diagnosisAlertRow.html'" />
</div>