<form>
    <fieldset>
        <div class="diagnosis">
            <div id="selectedNodesArea">
                <div class="table new-diagnosis primary-section-grid">
                    <div class="row table-header">
                        <div class="col col1"><span>Diagnosis</span></div>
                        <div class="col col2"><span>Order</span></div>
                        <div class="col col3"><span>Certainty</span></div>
                        <div class="col col4"><span>Status</span></div>
                    </div>

                    <div ng-repeat="diagnosis in newlyAddedDiagnoses" ng-hide="diagnosis.voided" class="table-body">
                        <div class="row">
                            <div class="col col1">
                                <input ng-model="diagnosis.codedAnswer.name" type="text" name="name" id="name-{{$index}}"
                                       diagnosis-auto-complete source="getDiagnosis" response-map="cleanOutDiagnosisList" on-select="addNewDiagnosis" index="$index"
                                       ng-change="clearEmptyRows($index); diagnosis.clearCodedAnswerUuid();">

                                <span>
                                    <button type="button" ng-model="diagnosis.isNonCodedAnswer" class="small-btn accept-btn" id="accept-button-{{$index}}"
                                           ng-click="diagnosis.setAsNonCodedAnswer() && clearEmptyRows($index)"
                                           ng-class="{'illegalValue': diagnosis.codedAnswer.name && !diagnosis.codedAnswer.uuid && !diagnosis.isNonCodedAnswer, active: diagnosis.isNonCodedAnswer}"
                                           ng-disabled="diagnosis.codedAnswer.uuid"><span></span>Accept</button>
                                </span>

                            </div>
                            <div class="col col2">
                                <buttons-radio class="btn-group" model='diagnosis.order' id="order-{{$index}}"
                                               ng-class="{'illegalValue': !diagnosis.isValidOrder()}"
                                               options='orderOptions'/>
                            </div>
                            <div class="col col3">
                                <buttons-radio class="small-btn" model='diagnosis.certainty' id="certainty-{{$index}}"
                                               ng-class="{'illegalValue': !diagnosis.isValidCertainty()}"
                                               options='certaintyOptions'/>
                            </div>
                            <div class="col col4">
                                <buttons-radio class="small-btn status" id="status-{{$index}}"
                                               model='diagnosis.diagnosisStatus'
                                               options='diagnosisStatuses'/>
                            </div>
                            <div class="col col5">
                                <button type="button" class="small-btn row-remover" ng-click="removeObservation($index)"
                                        ng-show="diagnosis.codedAnswer.name">
                                    <span class="fa fa-remove"></span>
                                </button>
                                <button type="button" toggle="diagnosis.showComments" class="comment-toggle fr" ng-class="{'has-notes': diagnosis.comments}">
                                    <i class="fa fa-file-o" ng-hide="diagnosis.comments">
                                        <i class="fa fa-plus-circle" ng-hide="diagnosis.showComments"></i><i class="fa fa-minus-circle" ng-show="diagnosis.showComments"></i>
                                    </i>
                                    <i class="fa fa-file-text-o" ng-show="diagnosis.comments"></i>
                                </button>
                            </div>

                            <div class="" ng-show="diagnosis.showComments">
                                <textarea class="comment-section"  maxlength="255" ng-model="diagnosis.comments">
                                </textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class=" current-diagnosis section-grid" ng-if="consultation.savedDiagnosesFromCurrentEncounter.length > 0">
                    <h2 class="section-title">Current</h2>
                    <div class="table">
                        <div ng-repeat="diagnosis in consultation.savedDiagnosesFromCurrentEncounter | primaryDiagnosisFirst" class="table-body">
                            <div class="row diagnosis-row" ng-if="!diagnosis.voided">
                                <ng-include src="'consultation/views/diagnosisRow.html'" />
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table history-diagnosis section-grid" ng-if="consultation.pastDiagnoses.length > 0">
                    <div class="row table-header">
                      <div class="col col1"><span>Past Diagnosis</span></div>
                      <div class="col col2"><span>Initial</span></div>
                      <div class="col col3"><span>Current</span></div>
                    </div>
                    <div ng-repeat="diagnosis in consultation.pastDiagnoses | primaryDiagnosisFirst" class="table-body">

                        <div class="row diagnosis-row" ng-if="!diagnosis.voided" >
                            <ng-include src="'consultation/views/diagnosisRow.html'" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
</form>
