<div class="infoMsgRetrospectiveModeEnabled" ng-if="isRetrospectiveMode()">
    <i class="fa fa-info-circle"></i>
    <span> You can not change <strong>Disposition</strong> in retrospective mode</span>
</div>
<div class="box disposition-tab">
        <form ng-submit="submit()">
            <label for="dispositionAction">Disposition Type: </label>
            <select id="dispositionAction" ng-model="dispositionCode" ng-options="d.code as d.name for d in dispositionActions" ng-change="clearDispositionNote()"  ng-disabled="isRetrospectiveMode()">
                <option value=""></option>
            </select>
            <label class="disposition-notes" for="dispositionNotes">Disposition Notes: </label>
            <p ng-if="showWarningForEarlierDispositionNote()" class="caution" >
                <i class="fa fa-exclamation-sign small"></i>
                <span>The Disposition Note will also be removed</span>
            </p>
            <textarea id="dispositionNotes" ng-model="dispositionNote.value" ng-disabled="isRetrospectiveMode()"></textarea>
        </form>
</div>