<p ng-hide="hasTests()">{{ 'INVESTIGATION_NO_TEST_PRESENT_MESSAGE'|translate }}</p>
<section class="first" ng-show="hasTests()">
	<section>
		<header>{{filterHeader}}</header>
		<ul class="filters">
			<li ng-click="showAll()" ng-class="{selected: !hasFilter()}">
				<span>All</span>
			</li>
			<li ng-repeat="filter in filters | orderBy:'name'" ng-click="filterBy(filter)" ng-class="{selected: isFilteredBy(filter)}">
				<span>{{filter.name}}</span>
			</li>
		</ul>
	</section>
	<section class="investigation-results">
		<form>
		    <fieldset>
		        <header>{{ 'INVESTIGATIONS_SELECTIONS_HEADER_LABEL'|translate }}</header>
		        <div id="selectedNodesArea" tabindex="0">
		            <span ng-repeat="selectable in selctedSelectables()" class="selectedNode"
		                ng-class="{panel: selectable.set}">
		                <span class="test-name">{{selectable.name}}</span>
		                <button class="fa fa-remove fa fa-white" ng-click="selectable.unselect()"></button>
		            </span>
		        </div>
		    </fieldset>
		</form>
	</section>
</section>
<section class="last" ng-show="hasTests()">
	<section ng-show="filteredPanels.length">
		<header>{{ 'INVESTIGATIONS_PANELS_HEADER_LABEL'|translate }}</header>
		<ul class="panels" >
			<li ng-repeat="panel in filteredPanels | orderBy:'name'" ng-click="panel.toggle()" ng-class="{selected: panel.isSelected()}">
				<span class="fa fa-ok"></span>
				{{panel.name}}
			</li>
		</ul>
	</section>
	<ul class="categories">
		<li ng-repeat="category in categories | orderBy:'name'" ng-show="category.hasTests()">
			<header>{{category.name}}</header>
			<ul class="tests">
				<li ng-repeat="test in category.filteredTests | orderBy:'name'" ng-click="test.toggle()" ng-class="{'selected-via-panel': test.isSelectedFromOtherSource(), selected: test.isSelected()}">
					<span class="fa fa-ok"></span>
					{{test.name}}
				</li>
			</ul>
		</li>
	</ul>
</section>