<section class="order-section-container" ng-if="treatments.length > 0">
    <div class="order-grid">
        <h2 class="order-title" toggle="showOrderSet">
            <i class="fa fa-caret-right"></i>
            <i class="fa fa-caret-down"></i>
            {{::orderSetName}}
        </h2>
    </div>
    <div class="dashboard-section" ng-show="showOrderSet">
        <table>
            <thead>
            <tr>
                <th class="drugOrder-checkbox"></th>
                <th>Drug Name</th>
                <th>Dose (mg)</th>
                <th>Frequency</th>
                <th>Route</th>
                <th>Duration</th>
                <th>State Date</th>
                <th class="empty-header"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="drugOrder in treatments">
                <td><input type="checkbox" ng-model="drugOrder.include"/></td>
                <td>{{::drugOrder.drugNameDisplay}}</td>
                <td>{{::drugOrder.getDoseAndUnits()}}</td>
                <td>{{::drugOrder.getFrequency()}}</td>
                <td>{{::drugOrder.route}}</td>
                <td>{{::drugOrder.getDurationAndDurationUnits()}}</td>
                <td>{{::drugOrder.effectiveStartDate | bahmniDate}}</td>
                <td class="buttonColumn">
                    <button ng-click="edit($index)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</section>
