<div class="selectedOrderNoteContainer">
    <span>{{ 'ENTER_ORDER_NOTE_LABEL' | translate }} - {{ngDialogData.concept.displayName || ngDialogData.concept.shortName || ngDialogData.concept.name}}</span>

    <textarea ng-model="$parent.orderNoteText" focus-on="true" rows="4" ng-disabled="ngDialogData.uuid">{{ngDialogData.previousNote}}</textarea>
    <button ng-click="appendPrintNotes(ngDialogData)" class="fl btn-group" ng-show="isPrintShown(ngDialogData.uuid)">{{ 'CLINICAL_ORDER_RADIOLOGY_NEED_PRINT_BUTTON' | translate}}</button>
    <div class="btn-group fr">
        <span ng-if="ngDialogData.uuid">
            {{ 'ORDER_CAN_NOT_EDIT_AFTER_SAVE_MESSAGE'|translate }}
        </span>
        <button ng-click="setEditedFlag(ngDialogData, orderNoteText)" ng-if="!ngDialogData.uuid">{{ 'OKAY_LABEL' | translate}}</button>
    </div>
</div>