<div class="order-list">
    <div ng-class="{'disableOrdersInRetroMode':isRetrospectiveMode()}">
        <div class="infoMsgRetrospectiveModeEnabled" ng-if="isRetrospectiveMode()">
            <i class="fa fa-info-circle"></i>
            <span ng-bind-html="'ORDER_NOT_ALLOWED_IN_RETROSPECTIVE_MESSAGE'|translate"></span>
        </div>
        <div ng-repeat="tab in tabs" class="{{tab.klass}} clearfix">
            <div class="order-grid"  ng-click="activateTab(tab)">
                <h2 class="order-title">
                    <i class="fa fa-caret-right" ng-show="activeTab != tab"></i>
                    <i class="fa fa-caret-down ng-hide" ng-show="activeTab == tab"></i>
                    {{tab.name}}
                </h2>
            </div>
            <div ng-if="activeTab === tab" class="dashboard-section">
                <div class="form search-container">
                    <section class="form-field fr">
                        <div class="field-attribute">
                            <label>{{ 'SEARCH_KEY'|translate }}:</label>
                        </div>
                        <div class="field-value">
                            <input type="text" ng-model="search.string" autofocus class="order_search_desktop">
                            <input type="text" ng-model="search.string" class="order_search_mobile">
                            <label ng-if="search.string.length > 0" class="fa fa-remove fl cross-button" ng-click="resetSearchString()"></label>
                        </div>
                    </section>
                </div>
                <div class="dashboard-section-wrapper clearfix">
                    <div ng-include="'consultation/views/orderTemplateViews/ordersTemplate.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
