<fieldset>
    <div ng-show="hasTests()">
        <legend class="order-title mylegend">{{group.description}}</legend>
        <div class="orderBtnContainer">
            <ul>
                <li ng-repeat="test in (tab.leftCategory.setMembers | filter:filterByConceptClass | filter:filterBySearchString)">
                    <a class="grid-row-element button orderBtn ng-binding ng-scope"
                       ng-click="toggleOrderSelection(test)"
                       ng-class="{active:isActiveOrderPresent(test), noteditable:isTestIndirectlyPresent(test)}"
                       ng-disabled="isTestIndirectlyPresent(test)"
                       tooltip="{{getName(test)}}"
                       >
                        <i class="fa fa-ok" ng-show="isActiveOrderPresent(test)"></i>{{getName(test)}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</fieldset>
