<fieldset>
    <div ng-show="hasOrders()">
        <legend class="order-title mylegend">{{title}}</legend>
        <div class="orderBtnContainer">
            <ul>
                <li ng-repeat="test in (rootConcept.setMembers | filter:filterByConceptClass)">
                    <a class="grid-row-element button orderBtn ng-binding ng-scope" ng-click="onSelectionChange(test)" ng-class="{active:test.isSelected}">
                        <i class="fa fa-ok" ng-show="test.isSelected"></i>{{getName(test)}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</fieldset>
