<div class="treatment-page treatment-page-container order-list clearfix">
    <div class="dashboard-section-wrapper clearfix">
        <section class="treatment-section-left fl">
            <div class="treatment-data-container clearfix">
                <h2 class="section-title">
                    <i class="fa fa-caret-down"></i>
                    <span class="section-label">{{ ::'MEDICATION_ADD_DRUG_FORM_TITLE' | translate}}</span>
                </h2>
                <div class="order-section-container">
                    <div class="Order-section-orderDrug clearfix">
                        <div ui-view="addTreatment"></div>
                    </div>
                </div>
            </div>
            <div class="order-set-container clearfix">
                <h2 class="section-title">
                    <i class="fa fa-caret-down"></i>
                    <span class="section-label">{{ ::'MEDICATION_ADD_ORDERSET_FORM_TITLE' | translate}}</span>
                </h2>
                <div class="order-section-container">
                    <div class="Order-section-orderDrug clearfix">
                        <div ui-view="addOrderSet"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="treatment-section-right clearfix">
            <new-drug-orders treatments="treatments | orderSetFilter"
                             treatment-config="treatmentConfig"></new-drug-orders>
            <new-drug-orders treatments="treatments"
                             treatment-config="treatmentConfig"></new-drug-orders>
            <!--<new-order-group treatments="treatments"-->
                             <!--treatment-config="treatmentConfig"></new-order-group>-->
            <div ng-if="drugOrderHistoryView === 'default'" ui-view="defaultHistoryView"></div>
            <div ng-if="drugOrderHistoryView === 'custom'" ui-view="customHistoryView"></div>
        </section>
    </div>
</div>