<h2 class="section-title">{{ 'CONSULTATION_TREATMENTS_HEADER_LABEL'|translate }}</h2>
<table ng-show="consultation.treatmentDrugs.length > 0">
  <thead>
  <tr class="title">
      <th><span class="table-head-title">{{ 'MEDICATION_DRUG_NAME'|translate }}</span></th>
      <th colspan="2"><span class="table-head-title">{{ 'MEDICATION_DOSAGE_INSTRUCTIONS'|translate }}</span></th>
  </tr>
  </thead>
  <tbody ng-repeat="drugOrder in consultation.treatmentDrugs" bindonce="drugOrder" ng-class="{'strike-through': drugOrder.isDiscontinuedOrStopped()}">
    <tr ng-click="toggle(drugOrder)" class="row-click">
        <td class="drug-name" bo-text="drugOrder.getDisplayName()"></td>
        <td class="dosage-form has-toggle-btn">
                <span bo-show="drugOrder.getDescription()"
                      bo-text="drugOrder.getDescription()"></span>
            <span bo-show="!drugOrder.getDescription()" bo-text="' - '"></span>
            <span ng-if="drugOrder.isDiscontinuedOrStopped()" class="fr">{{'MEDICATION_STOPPED_ON'|translate}} {{drugOrder.effectiveStopDate | bahmniDate}}</span>
        </td>
        <td class="toggle-btn">
            <button class="toggle fr" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                <i class="fa fa-plus-circle" ng-hide="drugOrder.show"></i>
                <i class="fa fa-minus-circle" ng-show="drugOrder.show"></i>
            </button>
        </td>
    </tr>
    <tr ng-if="drugOrder.show">
        <td colspan="3" class="inline-notes notes">
            <p class="left"><strong>{{'TREATMENT_NOTES'|translate}}: </strong>{{drugOrder.additionalInstructions}}</p>

            <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.effectiveStartDate | bahmniDate}}</span>
                      <span class="time">{{drugOrder.effectiveStartDate | bahmniTime}}</span>
                    </span>
                <span class="provider" bo-text="drugOrder.provider.name"></span>
            </div>
        </td>
    </tr>
  </tbody>
</table>
<div ng-show="consultation.newlyAddedTreatments.length > 0">
    <table ng-show="consultation.newlyAddedTreatments.length > 0">
        <thead>
        <tr>
            <th colspan="3">{{ 'MEDICATION_NEW_TREATMENTS'|translate }}</th>
        </tr>
        <tr class="title">
            <th><span class="table-head-title">{{ 'MEDICATION_DRUG_NAME'|translate }}</span></th>
            <th colspan="2"><span class="table-head-title">{{ 'MEDICATION_DOSAGE_INSTRUCTIONS'|translate }}</span></th>
        </tr>
        </thead>
        <tbody ng-repeat="drugOrder in consultation.newlyAddedTreatments" bindonce="drugOrder">
        <tr ng-click="toggle(drugOrder)" class="row-click">
            <td class="drug-name" bo-text="drugOrder.getDisplayName()"></td>
            <td class="dosage-form has-toggle-btn">
                <span bo-show="drugOrder.getDescription()"
                      bo-text="drugOrder.getDescription()"></span>
                <span bo-show="!drugOrder.getDescription()" bo-text="' - '"></span>
                <span ng-if="drugOrder.isDiscontinuedOrStopped()" class="fr">{{'MEDICATION_STOPPED_ON'|translate}} {{drugOrder.effectiveStopDate | bahmniDate}}</span>
            </td>
            <td class="toggle-btn">
                <button class="toggle fr" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                    <i class="fa fa-plus-circle" ng-hide="drugOrder.show"></i>
                    <i class="fa fa-minus-circle" ng-show="drugOrder.show"></i>
                </button>
            </td>
        </tr>
        <tr ng-if="drugOrder.show">
            <td colspan="3" class="inline-notes notes">
                <p class="left"><strong>{{'TREATMENT_NOTES'|translate}}: </strong>{{drugOrder.additionalInstructions}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.effectiveStartDate | bahmniDate}}</span>
                      <span class="time">{{drugOrder.effectiveStartDate | bahmniTime}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="consultation.discontinuedDrugs.length > 0">
    <table ng-show="consultation.discontinuedDrugs.length > 0">
        <thead>
        <tr>
            <th colspan="3">{{ 'MEDICATION_DISCONTINUED_TREATMENTS'|translate }}</th>
        </tr>
        <tr class="title">
            <th><span class="table-head-title">{{ 'MEDICATION_DRUG_NAME'|translate }}</span></th>
            <th colspan="2"><span class="table-head-title">{{ 'MEDICATION_DOSAGE_INSTRUCTIONS'|translate }}</span></th>
        </tr>
        </thead>
        <tbody ng-repeat="drugOrder in consultation.discontinuedDrugs" bindonce="drugOrder" ng-class="{'strike-through': drugOrder.isDiscontinuedOrStopped()}">
        <tr ng-click="toggle(drugOrder)" class="row-click">
            <td class="drug-name" bo-text="drugOrder.getDisplayName()"></td>
            <td class="dosage-form has-toggle-btn">
                <span bo-show="drugOrder.getDescription()"
                      bo-text="drugOrder.getDescription()"></span>
                <span bo-show="!drugOrder.getDescription()" bo-text="' - '"></span>
                <span ng-if="drugOrder.isDiscontinuedOrStopped()" class="fr">{{'MEDICATION_STOPPED_ON'|translate}} {{drugOrder.effectiveStopDate | bahmniDate}}</span>
            </td>
            <td class="toggle-btn">
                <button class="toggle fr" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                    <i class="fa fa-plus-circle" ng-hide="drugOrder.show"></i>
                    <i class="fa fa-minus-circle" ng-show="drugOrder.show"></i>
                </button>
            </td>
        </tr>
        <tr ng-if="drugOrder.show">
            <td colspan="3" class="inline-notes notes">
                <p class="left"><strong>{{'TREATMENT_NOTES'|translate}}: </strong>{{drugOrder.additionalInstructions}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.effectiveStartDate | bahmniDate}}</span>
                      <span class="time">{{drugOrder.effectiveStartDate | bahmniTime}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
