<div class="treatment-page treatment-page-container order-list clearfix">
    <div class="dashboard-section-wrapper clearfix">
        <section class="treatment-section-left clearfix">
            <h2 class="section-title">
                <i class="fa fa-caret-down"></i>
                <span class="section-label">{{ ::'MEDICATION_ADD_DRUG_FORM_TITLE' | translate}}</span>
            </h2>
            <div class="order-section-container">
                <div class="Order-section-orderDrug clearfix">
                    <div ui-view="addTreatment"></div>
                </div>
            </div>
        </section>
        <section class="treatment-section-right clearfix">
            <new-drug-orders treatments="treatments"
                             treatment-config="treatmentConfig"></new-drug-orders>
            <div ng-if="drugOrderHistoryView === 'default'" ui-view="defaultHistoryView"></div>
            <div ng-if="drugOrderHistoryView === 'custom'" ui-view="customHistoryView"></div>
        </section>
    </div>
</div>