
<div class="treatment-page treatment-page-container order-list clearfix">
    <div class="dashboard-section-wrapper clearfix">
        <section class="treatment-section-left">
            <div ui-view="addTreatment"></div>
        </section>
        <section class="treatment-section-right clearfix">
            <dashboard patient="::patient" config="::medicationTabDisplayControls" section-groups="sectionGroups"></dashboard>
            <new-drug-orders treatments="treatments"
                             treatment-config="treatmentConfig"></new-drug-orders>
            <new-order-group treatments="orderSetTreatments" order-set-name="newOrderSet.name"></new-order-group>
            <div ng-if="drugOrderHistoryView === 'default'" ui-view="defaultHistoryView"></div>
            <div ng-if="drugOrderHistoryView === 'custom'" ui-view="customHistoryView"></div>
        </section>
    </div>
</div>