.bacteriology-container{

  .sample-container{
    margin-bottom: 20px;
  }
  #sample-id{
    max-width: 80%;
  }
  form{
    overflow: hidden;
  }
  .add-sample-btn{
    padding: 6px 15px !important;
    margin: 5px 0 5px 5px;
  }
  .box{
    margin: 20px;
    .vitals fieldset.collapsible-set.collapsed legend{
      background: #fff !important;
    }
    .vitals fieldset.collapsible-set.collapsed legend + .form-group{
      border-top:0 !important;
    }
  }

}