.bacteriology-container{
  font-size: 14px;
  .sample-container{
    margin-bottom: 20px;
  }
  #sample-id{
    max-width: 80%;
  }
  form{
    overflow: hidden;
  }
  .add-sample-btn{
    padding: 6px 15px !important;
    margin: 5px 0 5px 5px;
  }
  .box{
    margin: 20px;
    .vitals fieldset.collapsible-set.collapsed legend{
      background: #fff !important;
    }
    .vitals fieldset.collapsible-set.collapsed legend + .form-group{
      border-top:0 !important;
    }
  }
  .savedSpecimens-container{
    border: 2px #5B8989 solid;
    padding: 10px;
    border-radius: 3px;
    .savedSpecimens-action{
      font-size: 20px;
    }
    .savedSpecimens-text{
      line-height: 1.5em;
    }
    .fa{
      margin-right: 10px;
    }
  }
}