svg {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.c3-line {
  stroke-width: 3px;
}

.c3-ygrid-line{
  text{
    fill: $darkGray;
  }
  &.lowNormal line {
    stroke: green;
    opacity: .25 !important;
  }
  &.hiNormal line {
    stroke: red;
    opacity: .25 !important;
  }
}

.c3-target-reference-line {
  circle {
    visibility: hidden;
  }

  .c3-line {
    stroke-width: 1px;
  }
}

