.consultation-page {
    .section-grid {
        margin-bottom: 15px;
    }
    .messages {
        .null-data-message{
            margin: 0;
        }
    }
    .consultation-notes {
        margin-top: 10px;
        textarea {
            padding: 10px;
            margin: 10px;
            box-sizing: border-box;
            width: calc(100% - 20px);
        }
    }
    .observation {
        .toggle {
            padding-right: 3px;
        }
    }
    .disposition {
        .toggle i {
            padding-right: 5px;
        }
    }

    .treatment-section {
        .table-head-title {
            white-space: normal;

            @media screen and (min-width: 768px) {
                white-space: nowrap;
            }
        }

        .dosage-days,
        .drug-name {
            @media screen and(max-width: 1024px) {
                max-width: 45%;
                width: auto;
            }
        }

        table .dosage-form {
            white-space: normal;
        }
    }

    .diagnosis {
        .col1 {
            width: 40%;
            max-width: 40%;

            .diagnosis-name {
                width: 100%;
            }
        }
        .col2 {
            max-width: calc(60% - 25px);
            flex-grow: 1;
        }

        .col3 {
            width: auto;
            max-width: 100%;
            text-align: right;
            padding-right: 8px;

            @media screen and (min-width: 768px) {
                text-align: left;
            }
        }

        .history-diagnosis {
            .table-header {
                .col2 {
                    display: block;
                }
            }
        }

        .table-header {
            .col2,
            .col3 {
                span {
                    padding-left: 0;
                }
            }
        }

        .notes {
            padding: 5px 12px;
        }
    }

    &.visit .diagnosis .history-diagnosis .table-body .diagnosis-name {
        padding: 0 10px;
    }
}

.clinical-consultation {
    .tabs {
        .fa-home {
            padding: 0;
        }
    }
}

.disposition {
button.toggle{
    .fa-minus-circle{
        display: none !important;
    }
    &.active{
        background: none !important;
        .fa-minus-circle{
            display: block !important;
        }
        .fa-plus-circle{
            display: none !important;
        }
    }
}
}