
.selectedDiagnosis {
  background-color: #7DBF45;
  color: WHITE;
  padding: 5px;
  margin-right: 10px;
  font: 25px;
  display: inline-block;
  margin-bottom: 10px;
}

.diagnosis {
  h2 {
    color: #66b298;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #66b298;
  }
  .table {
    border: 0;
    .row {
      border-bottom: 1px solid #ccc;
    }
    .table-header.row {
      border-bottom: 1px solid #cecece;
    }
  }
  .new-diagnosis, .current-diagnosis, .history-diagnosis {
    margin-bottom: 25px;
  }
  .new-diagnosis {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 35px 5px 20px 5px;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
    box-shadow: 0px 0px 8px -1px #ccc;
    h2 {
      padding: 10px;
      font-family: OpenSansBold;
    }
    .row-remover {
      border: 1px solid #ccc;
      border-radius: 5px;
      float: right;
      padding: 5px 10px;
      span {
        font-size: 20px;
        color: #660000;
        padding: 0;
      }
    }
  }
  .history-diagnosis {
    .table-body .row {
      background: #fafafa;
    }
  }
  .table-header {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    span {
      font-size: 14px;
      white-space: nowrap;
      color: #555;
      font-family: OpenSansBold;
      font-weight: normal;
      padding-left: 10px;
    }
  }
  input[type=number] {
    width: 50px;
  }
  .col1 {
    @include column(3);
    input[type="text"] {
      min-width: 160px;
      margin-left: 10px;
      margin-top: 0;
      float: left;
    }
    input[type="checkbox"] {
      margin-top: 8px;
    }
    input[type="checkbox"].illegalValue {
      border: 2px solid red;
    }
    label.add-new {margin-top: 10px; font-size: 12px;}
    width: 39%;
  }
  .col2 {
    @include column(3);
    button:first-child {
      margin-left: 10px;
    }
    width: 22%;
  }
  .col3 {
    @include column(3);
    button:first-child {
      margin-left: 10px;
    }
    width: 23%;
  }
  .col4 {
    @include column(2);
    width: 12%;
  }
  .col5 {
    @include column(1);
    width: 3%;
  }
  .view-past {
    position: relative;
    -webkit-transition: background-color 1s ease;
    .message {
      position: absolute;
      -webkit-transition: display 1s ease;
      right: 66px;
      top: 10px;
      color: #cc6600;
      margin-bottom: 5px;
      font-size: 14px;
      display: none;
    }
  }
  .view-past.edited {
    background-color: #ffffcc;
    .message {
      display: block;
    }
  }
  buttons-radio.illegalValue {
    border: 0;
    background: none;
    button {
      border: 1px solid red;
    }
  }
  button:first-child {
    margin-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1;
  }
  button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1;
  }
  button {
    padding: 8px 7px;
    font-size: 11px;
  }
  .status button {
    border-radius: 3px;
  }
  button:focus {
    outline: 0;
  }
  button.active {
    color: #457FAC;
    padding-top: 7px;
    span:before {
      font-family: FontAwesome;
      content: "\f00c";
      font-size: 18px;
      margin-right: 5px;
    }
  }
}
// .history-diagnosis .table-header {
//   .col2, .col3 {
//     width: 27%;
//   }
// }
.current-diagnosis, .history-diagnosis {
  .diagnosis-row {
    overflow: auto;
    clear: both;
    .view-past {
      overflow: auto;
      clear: both;
      cursor: pointer;
      .col {padding-top: 0; padding-bottom: 5px;}
      label.diagnosis-name {
        padding-left: 10px;
        font-size: 14px;
      }
      .col2 {padding-left: 10px;}
      .col2, .col3 {
        font-size: 12px;
        margin-top: 5px;
        // width: 26%;
        
        .view {margin-bottom: 5px;}
        .date {
          margin-right: 5px;
        }
        .time {
          color: #888;
          margin-left: 5px;
        }
        .provider {
          color: #aaa;
          font-size: 12px;
          margin: 2px 0;
        }
      }
    }
    button.toggle {
      font-size: 100%;
      i {
        // -moz-box-shadow: 0 0 5px #888;
        // -webkit-box-shadow: 0 0 5px#888;
        // box-shadow: 0 0 5px #888;
        @include button();
        padding: 0 12px;
      }
    }
  }
}

.diagnosis .history-diagnosis .table-body .row.edit-diagnosis {
  overflow: auto;
  clear: both;
  background: #eee;
  border-bottom: 0;
}

.ruled-out label.diagnosis-name {
  color: #777;
  text-decoration: line-through;
}

.footer-note {
  padding: 2px 10px 15px 10px;
  text-align: right;
  span {
    font-size: 12px;
    color: #888;
  }
  .time-stamp {
    .date {
      text-transform: uppercase;
    }
    .time {
      color: #aaa;
      margin-left: 5px;
    }
  }
  .provider {
    float: right;
  }
}
@media screen and (max-width: 930px) {
  .diagnosis .status button {
    white-space: nowrap;
    border-radius: 3px!important;
  }
  .diagnosis {
    button {
      width: 100px;
    }
    button:first-child {
      margin-left: 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 1;
    }
    button:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1;
      margin-left: 10px;
    }
    .view-past .message {
      font-size: 10px;
      top: 8px;
    }
  }
}