.disposition-tab {
  //margin: 15px 5px;
  textarea {
    margin: 10px 0;
    width: 97.8%;
  }
  label {
    float: left;
    margin-right: 10px;
  }
  label.disposition-notes {
    margin-bottom: 10px;
  }
}

