
@import "compass";

$total-width: 100%;
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) + px;
  font-size: $sizeValue + rem;
}

body{
  max-width:1280px;
  font-size: 100%;
  line-height: 1.1em;
  background:#fff;
}
/*overriding openmrs ui common styling start***/
/*overriding openmrs ui common styling end***/
/******** form element styling start********/
form,.form{
 fieldset{
  border:none;
  padding:0px;
  width:100%;
}
 &.form-field-inline{
   @include clearfix();
   .form-field{
     float: left;
     margin-right:15px;
   }
 }
.form-field{
  @include clearfix();
  .field-attribute{
    float:left;
    label{
        width:13em;
        float:left;
        text-align:right;
        margin:0.5em 0.8em 0em 0em;
    }
  }
  .field-value {
    float: left;
    input[type="text"], input[type="password"] {
      float: left;
      width: 12.5em;
    }

    input[type="number"] {
      width: 8em;
    }
    .value-text-only {
      display: inline-block;
      margin: 0.5em 0.8em 0em 0em;
    }

    .provider {
      float: right;
    }
  }
}
.form-field-inline{
  .form-field {
    float: left;
    display: inline;
    float: left;
    width: 50%;
    margin: 0;
    margin-bottom: 10px;
  }
  p{
    float:left;
    margin-left:20px;
    margin-top:10px;
  }
}
.input-prepend{
  float:left;
  input{
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      float:left;
      margin:0px !important;
  }
  .add-on{
    @extend input;
    @include border-radius();  
    height: 21px;
    min-width: 17px;
    padding: 4px 5px;
    background-color: #eee;
    border: 1px solid #ccc;
  }

}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend .add-on, .input-prepend .btn{
  margin-right:-1px;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], .select-arrow select[disabled]{
  cursor: not-allowed;
  background-color: #eee;
  color:#868686;
  &:focus{
    cursor: not-allowed;
    background-color: #eee;
    outline:none;
  }
}
.form-button-wrapper{
  margin-top:10px;
  padding-left:14em;
}
}
button.small-btn{
           padding:8px 12px;
           &.cancel{
            opacity:.5;
            &:hover{
              opacity:1;
            }
           }
  }
.input-mini{@include column(1);}
.input-small{@include column(2);}
.input-medium{@include column(4);}
.input-large{@include column(6);}
.input-xlarge{@include column(8);}
.input-xxlarge{@include column(10);}
textarea{
  width:426.6px;
  height: 84px;
}

.transparent {
  opacity: 0.2;
}

.opaque {
  opacity: 1;
}

.simple-form-ui select.illegalValue{
  border: 2px solid;
  border-color: #ff6666;
  background: white;
}
.span1{
  @include column(1);
}
.span2{
  @include column(2);
}
.span3{
  @include column(3);
}
.span4{
  @include column(4);
}
.span5{
  @include column(5);
}
.span6{
  @include column(6);
}
.span7{
  @include column(7);
}
.span8{
  @include column(8);
}
.span9{
  @include column(9);
}
.span10{
  @include column(10);
}
.span11{
  @include column(11);
}
.span12{
  @include column(12);
}
form .select-arrow:after, .form .select-arrow:after{height:29px;}
/********* form element styling end***********/

/**** tab styling start****/
.tabs{
  margin-top:20px;
  @include pie-clearfix();
  ul{
    li{
        float:left;
        // margin-bottom: -2px;
        a,button{
          padding: 12px 15px;
          background:#447772;
          display:inline-block;
          color:#fff;
          border:1px solid #00463f;
          // @include border-radius();
          border-bottom-right-radius:0px;
          border-bottom-left-radius:0px;
          text-decoration:none;
          &:hover{
              background:#4D9B92;
              border:1px solid #00463F;
          }
        }
        button{
          @include border-radius();
          padding:8px 10px;
        }
        &.tab-selected a, &.tab-selected button{
              position:relative;
              background:#fff;
              color:#00463f;
              border:1px solid #cecece;
              border-bottom:none;
              outline:none;
              padding-bottom: 14px;
        }
        &.tab-selected button{
              top:4px;
              border-bottom-right-radius:0px;
              border-bottom-left-radius:0px;
        }
    }
  }

}
.tab-content{
  overflow:hidden;
  padding:14px;
  background:#fff;
  border: 1px solid #cecece;
  li{
    text-align: center;
    cursor:pointer;
    padding-top:10px;
    border: 1px solid #fff;
    background: #f2f2f2;
    .patient-name {
      font-size: 14px;
      color: #222;
      text-transform: capitalize;
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
      line-height: 1.5em;
    }
    .patient-id {
      color: #555;
    }
    &:hover{
       border: 1px solid #cecece;
       background:#f1f1f1;
    }
  }
  .reg-srch-btn {
    margin: 3px 15px;
    button[disabled="disabled"] {
      cursor: not-allowed;
    }
  }
}

.table{
  border:1px solid #cecece;
  @include font-size(1);
  .row{
    @include pie-clearfix();
    border-bottom:1px solid #cecece;
  }
  .col{
    padding:10px 0px;
    @include font-size(0.9);
    @include column(11);
  }

  .table-header{
    background:#F0F0F0;
    border-bottom:1px solid #cecece;
    .col{
      @include font-size(1);
      font-weight: bold;
    }
  }
  .table-body{
    .row{
      &:hover{
        background:#FAF6F0;
      }
      &:nth-child(even) {
          background: #f1f1f1;
        }
    }
  }
}
.patient-search-wrapper {
  @media screen and (min-width: 960px) {
      padding: 0 5px;
  }
}
.tabs ul li a {
  @media screen and (max-width: 959px) {
      padding: 13px 10px;
      font-size: 14px;
  }
}
#loader {
  z-index: 10000;
  width: 100%;
  height: 20px;
  margin: 20px auto;
  background-image: url('../images/loader.gif');
  background-repeat:no-repeat;
  background-position:center;
}

#overlay {
  display: none;
  z-index: 10000000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.6) url('../images/spinner.gif') no-repeat center center;
  div{
    width:100%;
    height: 100%;
  }
}

p.caution{
  color:#f00;
  padding: 5px;
}

p.success{
  color:#f8f8ff;
  padding: 5px;
  background: #000000;
}

.asterick {
    color:red;
}

input[file-upload] {
    position:absolute;
    left:-9999px;
    visibility: hidden;
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 200px;
      margin-left: 20px;
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
    }
  }
}

.illegalValue {
  border: 2px solid;
  border-color: #ff6666;
  background: white;
}


.is-abnormal {
  color: red;
}

.referred {
  display: none;
  float: left;
}
.referred-out {
  .referred {
    display: inline-block;
    font-size: 12px;
    background: #619b9a;
    color: #fff;
    padding: 1px 7px;
    border-radius: 5px;
    margin-right: 7px;
  }
}

button:focus, a:focus, .btn:focus {outline:0;}

.row-remover {
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  padding: 5px 10px;
  span {
    font-size: 20px;
    color: #660000;
    padding: 0;
  }
}

.notes {
  .title {
    text-transform: uppercase;
    font-family: OpenSansBold;
    margin-right: 10px;
    display: inline;
    float: left;
  }
  .content {
    background: none;
  }
  font-size: 14px;
  margin: 20px;
  background: #fef7e3;
  line-height: 1.4em;
  padding: 10px;
  overflow: auto;
}
.opd-wrapper .has-toggle {cursor: pointer;margin-bottom:0;}
.section-toggle {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;

  &:hover {
    background: none;
    border: none;
  }
  i {
    padding: 0;
    font-size: 26px;
    color: green;
  }
}
.notes p.left {
  width: 80%;
  float: left;
  text-align: left;
}

.footer-note.right {
  width: 20%;
  float: right;
}

.provider{
  width: 40%;
}

.view {
  .order {
    color: #888;
    margin: 0 5px;
  }
}
button.save-consultation, .quick-links {
  float: right;
  margin: 6px 20px;
  padding: 8px 50px;
  @media screen and (max-width: 959px) {
    padding: 8px 20px;
  }

}

a.quick-links {
  @include button($success, darken($success, 8%), white);
}

button.toggle-patient {
  float: right;
  margin: 3px 5px;
  height: 30px;
  background: #669999 url("../images/bars.png") no-repeat center center;
  border: 1px solid #4d8282;
  padding: 20px 25px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}
button.toggle-patient:hover {
    opacity: 0.8;
}
button.toggle-patient.shift {
  background: #4d8282 url("../images/bars.png") no-repeat center center;
}

.patient-control-panel {
  padding: 0;
  .overlay {
    position: absolute;
    top:0; bottom: 0;
    left:0; right:0;
    background: rgba(0,0,0,0.4);
  }
}
aside{
  h2{
    background:none;
    color: #000;
  }
  a{
    color:#fff;
  }
  &.visit-history{
    position:absolute;
    width:300px;
    background:#333333;
    bottom: 0;
    top: 50px;
    box-shadow: -3px 5px 10px #777;
    z-index: 5;
    h2 {
      color: #666;
      font-size: 14px;
      border-bottom-color: #555;
      padding-left: 10px;
      margin-bottom: 8px;
    }
    ul {
      margin-bottom: 20px;
    }
    ul.visit-history {
      height: 816px;
      overflow-y: auto;
    }
    li a {
      display: block;
      padding: 12px 10px;
      color: #aaa;
      font-size: 14px;
      border-bottom: 1px solid #222;
      border-top: 1px solid #444;
      &:hover {
        text-decoration: none;
        background: #2e2e2e;
        color: #bbb;
      }
    }
    li a.log-out {
        cursor: pointer;
    }
    li:last-child a {
      border-bottom: 0;
    }
    .patient-info {
      padding-bottom: 10px;
      .patient-img img {
        border-radius: 10px;
        margin: 10px;
        width: 50px;
        float: left;
        display: block;
      }
      .patient-handler {
        float: right;
        width: 230px;
        margin-top: 20px;
      }
      h4, h5, .ward {
        color: #ddd;
        display: block;
        padding-left: 10px;
        font-size: 14px;
        text-align: left;
      }
      h4.patient-name {
        text-transform: capitalize; font-size: 16px; 
        a {color: #ddd;}
      }
      h5, .ward {color: #888; margin-top: 5px;}
      h5.patient-identifier {color: #ddd;}
    }
  }
  

  &.visit-history.ng-hide-add, &.visit-history.ng-hide-remove {
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition:all linear 0.3s;
    display:block!important;
  }

  &.visit-history.ng-hide-add.ng-hide-add-active,
  &.visit-history.ng-hide-remove {
    right: -350px;
  }

  &.visit-history.ng-hide-add,
  &.visit-history.ng-hide-remove.ng-hide-remove-active {
    right: 0;
  }

  &.visit-history {
    right: 0;
  }

  .visit-history-entry, .summary {
    &.selected a, &.selected a:hover{
      background :#555;
      color: #fff;
      cursor: default;
    }
    &.active {color: #fafafa;}
    .icon-star {color: #E8A000; display: none;}
    &.active .icon-star {display: inline-block;}
  }
}
td .status {
  color: #cc6600;
  float: right;
}
.btn-patient-doc .icon-file {
  color: #eee;
  margin-right: 5px;
  font-size: 18px;
}
.dashboard-btn {
  [class^="icon-"],
  [class*=" icon-"] {
    display: none;
    color: #eee;
    margin-right: 5px;
    font-size: 18px;
  }
}
.btn-consultation {.icon-vitals-2 {display: inline-block;}}
.btn-trends {.icon-bar-chart {display: inline-block;}}
.btn-summary {.icon-th-large {display: inline-block;}}
.btn-print {.icon-print {display: inline-block;}}

.abnormal-vitals {
  width: auto!important;
  margin: 4px!important;
}
.adt-disposition-action {
  margin: 5px;
}
pre.chief-notes {
  background: none;
  float: left;
}

pre {
  background: none;
}
.patient-details {
    display: inline-block;
    position: absolute;
    top: 56px;
    right: 10px;
    z-index: 1;
}
.patient-details a {
    text-transform: capitalize;
    width: 22%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    background: #eee;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    color: #007fff;
    box-shadow: 0px 4px 5px -2px #ccc;
    right: 5px;
    border: 1px solid #ccc;
    border-top: 0;
    &:hover {
        text-decoration: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.ui-autocomplete {
    .ui-menu-item{
        border-bottom: 1px solid #bbb;
    }
    .ui-menu-item a{
        padding: 10px 5px;
        &:active, &:focus {
            background: #fef9e2;
            border: 1px solid #c77405;
            color: #c77405;
            font-weight: bold;
        }
    }
}
.accept-btn {
    padding: 8px 7px;
    font-size: 12px;
    border-radius: 3px;
    &:focus {
        outline: 0;
    }
}

.accept-btn.active {
  color: #457FAC;
  padding-top: 7px;
  span:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 18px;
    margin-right: 5px;
  }
}

.current-visit-icon {
	color: #E8A000;
}

.has-notes {
    color: orange;
}
//home
.bahmni-home {
    margin-bottom: 5px!important;
    .icon-home {
        color: #eee;
        margin-right: 5px;
        font-size: 18px;
    }
}

//Back button
.back-arrow-head {
    background: url(../images/sprites.png) no-repeat;
    background-position: 0 -108px;
    padding-left: 20px;
    margin: 2px;
    cursor: pointer;
    opacity: 0.6;
}
.back-arrow-body {
    padding: 15px 10px 15px 0px!important;
    background: url(../images/sprites.png) repeat-x 0 -181px!important;
    display: inline-block!important;
    border-radius: 5px!important;
    border: 0!important;
    border-right: 1px solid #A09F9F!important;
    color: #fff!important;
    text-decoration: none!important;
}