@charset "UTF-8";

$column-width: 100;
$gutter-width: 0;
$columns: 12;

@import "compass";
@import "compass/reset";

.icon-white {
    color: #f6f6f6;
}

body{
    font-family: "OpenSans",Arial,sans-serif;
    max-width:none;
    height:100%;
}
.opd-header-wrapper{
        @include pie-clearfix;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 10;
        &#opd-tabs {
          background: $bahmniSecondaryColor;
        }

        header{
            position: relative;
            color: #CCC;
            height: 50px;
            border-radius: 0;
            @media screen and (min-width: 1024px) {
                width: 1024px;
                margin: 0px auto;
            }
            .header-logo{
              display: block;
              width: 35px;
              margin: 8px auto;
              img {
                display: block;
                width: 35px;
                border-radius: 17px;
                box-shadow: 0 8px 6px -7px #000;
              }
            }
            // ul{
            //     &:first-child{
            //         float:left;
            //         margin-top:2px;
            //         li{
            //             opacity:0.8;
            //             filter:alpha(opacity=80);
            //             &:first-child{
            //                 background:url(../images/sprites.png) no-repeat;
            //                 background-position: 0 -108px ;
            //                 padding-left:20px;
            //             }
            //             &:hover{
            //                 opacity:1;
            //                 filter:alpha(opacity=100);
            //             }
            //             a{
            //                 padding:15px 10px 15px 0px;
            //                 background:url(../images/sprites.png) repeat-x;
            //                 background-position: 0 -181px ;
            //                 display: inline-block;
            //                 -webkit-border-top-right-radius: 5px;
            //                 -webkit-border-bottom-right-radius: 5px;
            //                 -moz-border-radius-topright: 5px;
            //                 -moz-border-radius-bottomright: 5px;
            //                 border-top-right-radius: 5px;
            //                 border-bottom-right-radius: 5px;
            //                 border-right:1px solid #A09F9F;
            //                 &:hover{
            //                     text-decoration: none;
            //                 }
            //             }


            //         }
            //     }
            // }
            ul{
                &.user-info{
                    float:right;
                }
                li{
                    @include font-size(0.9);
                    display: inline-block;
                    &.logoff{
                        margin:2px 0px 2px 0px;
                        button{
                            padding:8px;
                            margin-top: 1px;
                            background:#447772;
                            border:1px solid $bahmniPrimaryColor;
                            &:hover{
                              background:#4D9B92;
                              color:#f0f0f0;
                           }
                        }
                    }
                a{
                    padding-top:10px;
                    cursor:pointer;
                    &.user-name{
                        color:#ADADAD;
                        &:hover{
                            text-decoration: none;
                            cursor:default;
                        }
                    }

                 }
                }
            }
            .btn-user-info {
                background: #015B52;
                padding: 15px;
                border: none;
                border-radius: 0;
                margin: 0;
                position: absolute;
                top: 0;
                right: 0;
              @media screen and (max-width: 959px) {
                margin: 0;
                padding: 15px;
              }
              &:focus {
                outline: 0;
              }
              i.mini {
                font-size: .9em;
              }
              & + ul {
                display: none;
                &.active {
                  background: #015B52;
                  display: block;
                  position: absolute;
                  right: 0;
                  top: 50px;
                  z-index: 10000;
                  @media screen and (max-width: 959px) {
                    top: 49px;
                    right: 0;
                  }
                }
                li {
                  float: left;
                  clear: both;
                  text-align: left;
                  border-bottom: 1px solid #02675d;
                  margin: 0;
                  a {
                    padding: 10px 5px;
                    display: inline-block;
                    min-width: 190px;
                    &:hover {
                      text-decoration: none;
                      background: #02675d;
                    }
                  }
                  a.disabled {
                    color: #999;
                    .icon-user {
                        color: #999;
                    }
                  }
                }
              }
            }
        }
        .opd-header-top,header{
          background: $bahmniPrimaryColor;
        }
        .opd-header-bottom {
            border-radius:0px;
            position:relative;
            margin: 0px;
            @media screen and (min-width: 1024px) {
                width: 1014px;
                margin: 0px auto;
            }
            .header-tabs{
              float:left;
              margin-top: 5px;
              margin-left: 30px;
            }
            .patient-detail{
                width:200px;
                background:#727070;
                border-radius: 3px;
                position:absolute;
                top:59px;
                right:10px;
                color:#F26522;
                z-index:999;
                li{
                  float: none;
                  font-size: .85em;
                  color: #fff;
                  padding: 10px;
                  border-bottom: 1px solid #696969;
                  margin-right: 0;
                  border-radius: 0 0 3px 3px;
                  &:last-child {
                    border-bottom: 0;
                  }
                }
            }
            .patient-info{
                    float:right;
                    li{
                        color:#fff;
                        cursor:pointer;
                        &.patient-img{
                            padding:2px 6px 0px;
                        }
                        &:first-child{
                            padding:15px 0px 0px 0px;
                            text-align: right;
                            height:33px;
                            overflow:hidden;
                            width: 85px;
                        }
                        &.patient-detail-pointer{
                            position: absolute;
                            bottom: -21px;
                            color: $bahmniPrimaryColor;
                            font-size: 26px;
                            z-index: 9999;
                            right: 6px;
                            .icon-caret-down {
                              display: none;
                            }
                            .icon-caret-up{
                                color:#727070;
                            }
                        }
                    }

                }
        }
    }
.opd-wrapper {
    position: relative;
    margin: 0px;
    min-height: 860px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    @media screen and (min-width: 1024px) {
        width: 1024px;
        margin: 0px auto;
    }
    .opd-content-wrapper {
        background:#ffffff;
        height:99%;
        nav.navbar {
            background: #F8F8F8;
            overflow: hidden;
            padding: 5px 5px;
            margin: 15px 0;
            @include border-radius(3px);
            .navbar-right {
                float: right;
            }
        }
    }
}

