.vitals {
  .form-field {
    padding-top: 10px;
  }
  .compuptedValue{
    padding: 10px 10px 10px 0;
  }
  .field-attribute {
    width:18em;
    .label-add-on {
      float:left;
      text-align:left;
      margin:0.5em 0em 0em 0em;
    }
  }
  fieldset {
    legend + .form-group {
      padding: 10px;
      border: 1px solid $lightGray;
      margin-top: 20px;
      border-radius: 5px;
      legend {
        color: #8E8D8D;
        top: 8px;
        left: 30px;
      }
      legend + .form-group {
        padding: 10px 0;
        background: $lightestGray;
      }
    }
    legend {
      position:absolute;
      top:7px;
      left:20px;
      padding:5px 10px;
      font-family: $OpenSansBoldFont;
      font-size: 14px;
      color: $mediumGray;
      border: 1px solid lighten($mediumGray, 20%);
      border-radius: 20px;
      text-transform: none;
      font-size: 12px;
      .add-more {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid #ccc;
        @media screen and (max-width: 1024px) {
          margin-top:0 !important;
        }
      }
      .add-more-btn {
        font-size: 10px;
        padding: 3px;
      }
    }
    .form-field-group {
      label.control-label {
        margin-left: 0;
      }
    }
  }
  fieldset {
    position:relative;
    width: 100%;
    &.collapsible-set{
      &.collapsed legend + .form-group {
        border: none;
        border-top: 1px solid #ccc;
        border-radius:0 ;
        background: none !important;
      }
      &.collapsed legend{
        background-color: #DCDCDC !important
      }
      legend{
        cursor: pointer;
      }
    }
  }

  input[type="date"] + .hint {
    display: none;
  }

  .hint {
    font-size: 13px;
    display: inline-block;
    color: $mediumGray;
    float: left;
    padding: 10px 10px 0;
    width: 100px;
    @media screen and (max-width: 595px) {
      padding: 4px 10px;
    }
  }

  .info {
    color: $bahmniLinkColor;
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 0;
  }

}

div.duration.checkbox-inline {
  margin-top: -10px;
  @media screen and (max-width: 850px) and (min-width: 596px) {
    margin-top: 0;
    margin-left: 166px;
  }
  @media screen and (max-width: 595px) {
    margin-left: 10px;
    margin-top: 0;
    float: left;
  }
  input.duration-value {
    width: 52px;
    margin: 0 10px;
    padding: 5px;
    box-sizing: border-box;
  }
  select.duration-unit {
    margin-left: 10px;
    min-width: 180px;
  }
}

form .vitals .form-field .field-value {
  @media screen and (max-width: 595px) {
    margin-left: 10px;
    width: 97%;
  }
  input {
    width: 12.5em;
  }
  .autocomplete {
    width: 220px;
    overflow: auto;
    input.concept-name.ui-autocomplete-input {
      float: left;
      min-width: 197px;
      margin-right: 15px;
      box-sizing: border-box;
    }
    .accept-btn {
      margin-top: 6px;
    }
  }
  .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid lighten($mediumGray, 20%);
  }
}
form .observations-tab .vitals .form-field .field-value {
  .autocomplete {
    width: 292px;
  }
}
.form-horizontal {
  fieldset {
    label {
      float: left;
      // width: 135px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: right;
      font-size: 14px;
      @media screen and (max-width: 595px) {
        width: 96%;
        text-align: left;
      }
    }
    // &.hasLegend {
    //   label {
    //     margin-left: 10px;
    //   }
    // }
  }
}
.checkbox-inline {
  padding: 10px 0 0 0;
  float: left;
  @media screen and (max-width: 685px) and (min-width: 600px) {
    padding: 0;
    margin-left: 221px;
  }
  @media screen and (max-width: 595px) {
    float: right;
    margin-right: 16%;
    padding: 0;
  }
  input[type="checkbox"] {
    margin-left: 10px!important;
  }
  span {
    display: inline-block;
    margin-top: 2px;
    &.for-separator {
      font-size: 12px;
      padding-top: 10px;
    }
  }
}

concept {
  input:invalid {
    background-color: $clinicalFormWarning;
    outline: 1px solid darken($clinicalFormWarning, 30%);
    &:focus {
      outline: 1px solid darken($clinicalFormWarning, 30%);
    }
  }
}

/*custom changes: auto complete form field -> will be moved globally once finalized.*/
.select2-container .select2-choice {
  padding: 5px;
  height: 16px;
  line-height: 16px;
  margin-top: 4px;
  @media screen and (max-width: 595px) {
    margin-top: 5px;
  }
}
.select2-results .select2-result-label {
  font-size: 14px;
  padding: 10px;
}
.select2-container .select2-choice abbr, .select2-container .select2-choice abbr:hover {
  background: none;
  top: 5px;
  right: 33px;
}
.select2-container .select2-choice abbr:before {
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 24px;
  color: lighten($mediumGray, 20%);
}

concept-set {
  display: block;
}

.concept-set-group {
  .concept-set-title {
    cursor: pointer;
    position: relative;
    h2.section-title {
      padding: 10px 32px 10px 10px;
      button {
        font-size: 12px;
        font-family: Opensans, Arial, sans-serif;
        padding: 4px 10px;
        margin: -4px 5px 0 0;
      }
    }
    .favourite-concept-set {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }
}

.grid-row {
  padding: 2px;
}
.grid-row-element {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  .fa-ok {
    display: none;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    line-height: inherit;
  }
}
.grid-row-element.active {
  color: $bahmniTertiaryColor;
  padding-left: 3px;
  .fa-ok {
    display: inline-block;
  }
}

.vitals {
  &.form-horizontal {
    padding: 5px;
  }
  .consultation-image {
    width: 600px;
    background: $lightestGray;
    padding: 5px;
    overflow: auto;
    clear: both;
    box-sizing: border-box;
    .file{
      .comment-toggle {
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 9px;
      }
    }
    .placeholder.btn {
      width: 30px;
      height: 30px;
      float: left;
      margin: 0;
      text-align: center;
      border: 1px solid $lightGray;
      @include button;
      padding: 0;
      i {
        color: green;
        font-size: 18px;
        line-height: 30px;
        width: 30px;
      }
    }
    .file-browse {
      position: absolute;
      z-index: -999;
      min-width: 1px;
      width: 1px;
    }

    .file img.has-image {
      width: 50px;
      height: 50px;
      border: 3px solid $lightGray;
      &.voided {
        opacity: 0.1;
      }
    }

    .comment-toggle {
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
}

.leaf-observation-node {
  .obs-comment-section {
    padding-bottom: 30px;
    display: inline-block;
  }
}

.field-value .concept-description {
  margin: 0 10px 5px 0;
  display: inline-block;
  ul, ol {margin-left: 20px;}
  ul li {list-style-type: disc;}
  ol li {list-style-type: decimal;}
  span.description {
    margin-top: 7px;
  }
  span.details, span.description {
    font-size: 10px;
    padding: 2px 10px;
    border-radius: 20px;
    background: $clinicalInfoMessageBg;
    min-width: 30px;
    display: inline-block;
    line-height: 1.5em;
  }
  p {
    margin-bottom: 0;
  }
}
.concept-set-description {
  font-size: 12px;
  margin-top:15px;
}
.concept-tooltip-trigger {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
  color: $bahmniSecondaryColor;
  box-shadow: 1px 1px 1px $lightGray;
  background: #fff;
  padding: 0;
  margin-left: 5px;
}
.concept-tooltip-description {
  margin-bottom: 10px;
  margin-left: 150px;
  text-align: left;
  position: relative;
  .details {
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background: #000;
    color: #fff;
  }
  i {
    position: absolute;
    bottom: -16px;
    left: 1%;
    font-size: 20px;
    color: #000;
  }
  p {
    margin-bottom: 5px;
    line-height: 1.1;
  }
}



.accept-btn-wrapper {
  margin: 7px 5px 0 20px;
}

.stepper {
  &.illegalValue{
    border: none !important;
    background: none !important;
  }

  .stepper__btn{
    padding: 7px 20px 7px !important;
    vertical-align: middle;
    &.stepper__minus{
      float: left;
      margin-right: 1px;
    }
    &.stepper__plus{
      float: right;
      margin-left: 1px;
    }
  }

  .stepper__field{
    float: left;
    min-width: 10% !important;
    width: 4.4em !important;
    display: inline-block;
    margin: 0
  }

}

#removeClonedObs.fa-remove {
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 9px;
  margin-right: 4px;
  color: #9D0101;
  border-radius: 3px;
  background: #ddd;
  border: 1px solid #ddd;
  width: 16px;
  cursor: pointer;
  box-sizing: border-box;
}
.vitals table{
  caption{
    text-align: left;
    font-family: $primaryBoldFont;
    font-size: 12px;
    padding: 0 0 5px;
    color:#666 ;
  }
  th{
    font-size: 11px;
  }
}
.vitals {
  .mylegend #removeClonedObs.fa-remove {
    margin-top: 0;
  }
}