.clinical-observations {padding: 10px;}
.vitals {
	.form-field {
        padding-top: 10px;
	}
	.field-attribute {
		width:18em;
		.label-add-on {
      float:left;
      text-align:left;
      margin:0.5em 0em 0em 0em;
    }
  }
  fieldset {
  	position:relative;
  	width: 100%;
    fieldset {
      .form-group {
        label span {
          text-transform: capitalize;
        }
      }
      legend + .form-group {
        margin: 10px;
      }
      legend {
        position:absolute;
        top:-2px;
        left:20px;
        padding:5px 10px;
        font-family: OpenSansBold;
        font-size: 14px;
        color:#A8A5A5;
      }
      .form-field-group {
        border-right:1px solid #cecece;
        border-left:1px solid #cecece;
        &:first-child {
          border-top:1px solid #cecece;
          border-right:1px solid #cecece;
          border-left:1px solid #cecece;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-child {
          border-bottom:1px solid #cecece;
          border-right:1px solid #cecece;
          border-left:1px solid #cecece;
          padding-bottom:9px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
  input[type="date"] + .hint {
    display: none;
  }
  .hint {
    font-size: 13px;
    display: inline-block;
    color: #777;
    float: left;
    padding: 15px 10px;
    width: 100px;
    @media screen and (max-width: 595px) {
      padding: 4px 10px;
    }
  }
  .info {
    color: #0099ff;
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 0;
  } 
}
div.duration.checkbox-inline {
  margin-top: -10px;
  margin-left: 15px;
  @media screen and (max-width: 850px) and (min-width: 596px) {
    margin-top: 0;
    margin-left: 166px;
  }
  @media screen and (max-width: 595px) {
    margin-left: 10px;
    margin-top: 0;
    float: left;
  }
  input.duration-value {
    width: 30px;
    margin: 0 10px;
    padding: 5px;
  }
  select.duration-unit {
    margin-left: 25px;
  }
}
form .vitals .form-field .field-value {
  @media screen and (max-width: 595px) {
    margin-left: 10px;
    width: 97%;
  }
  input {
    width: 10em;
  }
  .autocomplete {
    border-radius: 5px;
    width: 357px;
    overflow: auto;
    input.concept-name.ui-autocomplete-input {
      float: left;
      min-width: 200px;
      margin-right: 27px;
    }
    .accept-btn {
        margin-top: 6px;
    }
  }
  .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #aaa;
  }
  textarea {
    width: 48em;
    height: 100px;
    margin-bottom: 10px;
    @media screen and (max-width: 1015px) and (min-width: 851px) {
      width: 40em;
    }
    @media screen and (max-width: 850px) and (min-width: 701px) {
      width: 25em;
    }
    @media screen and (max-width: 700px) {
      width: 35em;
      margin-left: 10px;
    }
    @media screen and (max-width: 640px) and (min-width: 596px) {
      width: 30em;
      margin-left: 10px;
    }
    @media screen and (max-width: 595px) {
      margin-left: 0;
      width: 18.5em;
    }
  }
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 135px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: right;
      font-size: 14px;
      @media screen and (max-width: 595px) {
        width: 96%;
        text-align: left;
      }
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
    }
  }
}
.checkbox-inline {
  padding: 10px 0;
  float: left;
  @media screen and (max-width: 685px) and (min-width: 600px) {
    padding: 0;
    margin-left: 221px;
  }
  @media screen and (max-width: 595px) {
    float: right;
    margin-right: 16%;
    padding: 0;
  }
  input[type="checkbox"] {
    margin-left: 10px!important;
  }
  span {
    display: inline-block;
    margin-top: 2px;
  }
}
concept {
  input:invalid {
    background-color: #ffcdcd;
    outline: 2px solid #ff0000;
    &:focus {
      outline: 2px solid #ff0000;
    }
  }
}
/*custom changes: auto complete form field -> will be moved globally once finalized.*/
.select2-container .select2-choice {
  padding: 5px;
  @media screen and (max-width: 595px) {
    margin-top: 5px;
  }
}
.select2-results .select2-result-label {
  font-size: 14px;
  padding: 10px;
}
.select2-container .select2-choice abbr, .select2-container .select2-choice abbr:hover {
  background: none;
  top: 5px;
  right: 33px;
}
.select2-container .select2-choice abbr:before {
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 24px;
  color: #aaa;
}

concept-set {
  display: block;
}

.concept-set-group {
  .concept-set-title {
    cursor: pointer;
  }

  concept-set {
    margin-top: 10px;
  }
}
.grid-row {
    padding: 2px;
}
.grid-row-element {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    .icon-ok {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 18px;
    }
}
.grid-row-element.active {
    color: #457FAC;
    padding-top: 5px;
    padding-bottom: 7px;
    .icon-ok {
        display: inline-block;
    }
}

.vitals {
    .consultation-image {
        width: 780px;
        background: #eee;
        padding: 5px;
        overflow: auto;
        clear: both;
        .placeholder.btn {
            width: 50px;
            height: 50px;
            float: left;
            margin: 0;
            text-align: center;
            border: #dddddd 1px solid;
            @include button;
            padding: 0;
            i {
              color: green;
              font-size: 24px;
              line-height: 55px;
              width: 40px;
            }
        }
        .file-browse {
            position: absolute;
            left: -9999px;
            visibility: hidden;
        }
        .file img.has-image {
            width: 50px;
            height: 50px;
            border: 3px solid #ddd;
        }
        .file img.has-image.voided {
            opacity: 0.1;
        }
        .obs-comment-toggle {
            margin-right: 10px;
            margin-bottom: 5px;
        }
        textarea.consultation-img-comments {
            width: 47.3em!important;
            margin-bottom: 0!important;
        }
    }
}

.leaf-observation-node {
    .obs-comment-toggle {
        padding: 5px;
        margin-right: 27px;
        .icon-arrow-down, .icon-arrow-up {
            font-size: 10px;
        }
    }
    .obs-comment-toggle.has-notes {
        .icon-arrow-down, .icon-arrow-up {
            color: #363463;
        }
    }
    .obs-comment-section {
        margin-left: 16.8%;
        min-width: 78.2%;
        width: 77%;
    }
    .concise-text {
      height: auto!important;
      width: auto!important;
    }
}