.vitals {
	// padding:2px 0px 0px 10px;
	.form-field {
		padding-bottom: 10px;
	}
	.field-attribute {
		width:18em;
		.label-add-on {
      float:left;
      text-align:left;
      margin:0.5em 0em 0em 0em;
    }
  }
  fieldset {
  	margin-top:10px;
    margin-bottom:10px;
  	position:relative;
  	width: 100%;
    legend {
      margin-bottom: 20px;
    }
    fieldset {
      .form-group {
        margin: 0 20%;
        label span {
          text-transform: capitalize;
        }
      }
      legend + .form-group {
        margin: 0;
      }
      legend {
        position:absolute;
        top:-14px;
        left:20px;
        background:#fff;
        padding:5px 10px;
        font-family: OpenSansBold;
        color:#A8A5A5;
      }
      .form-field-group {
        &:first-child {
          padding-top:15px;
          border-top:1px solid #cecece;
          border-right:1px solid #cecece;
          border-left:1px solid #cecece;
        }
        &:last-child {
          border-bottom:1px solid #cecece;
          border-right:1px solid #cecece;
          border-left:1px solid #cecece;
          padding-bottom:15px;
        }
      }
    }
  }
  input[type="date"] + .hint {
    display: none;
  }
  .hint {
    font-size: 13px;
    margin-top: 7px;
    display: inline-block;
    color: #777;
  }
  .info {
    color: #0099ff;
    width: 200px;
    font-size: 14px;
    line-height: 1.4em;
  } 
}
form .vitals .form-field .field-value {
  input {
    width: 10em;
  }
  .autocomplete {
    border-radius: 5px;
  }
  .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #aaa;
  }
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 200px;
      margin-left: 20px;
      margin-right: 40px;
      text-align: right;
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
    }
  }
}
.checkbox-inline {
  padding: 10px;
  input[type="checkbox"] {
    margin-left: 10px!important;
  }
  span {
    display: inline-block;
    margin-top: 2px;
  }
}
concept {
  input:invalid {
    background-color: #ffcdcd;
    outline: 2px solid #ff0000;
    &:focus {
      outline: 2px solid #ff0000;
    }
  }
}


