.vitals {
  .form-field {
    padding-top: 10px;
  }
  .compuptedValue {
    padding: 10px 10px 10px 0;
  }
  .field-attribute {
    width: 18em;
    .label-add-on {
      float: left;
      text-align: left;
      margin: 0.5em 0em 0em 0em;
    }
  }
  fieldset {
    legend + .form-group {
      padding: 10px;
      border: 1px solid $lightGray;
      margin-top: 20px;
      border-radius: 5px;
      legend {
        color: #8E8D8D;
        top: 8px;
        left: 30px;
      }
      legend + .form-group {
        padding: 10px 0;
        background: $lightestGray;
      }
    }
    legend {
      position: absolute;
      top: 7px;
      left: 20px;
      padding: 5px 10px;
      font-family: $OpenSansBoldFont;
      font-size: 14px;
      color: $mediumGray;
      border: 1px solid lighten($mediumGray, 20%);
      border-radius: 20px;
      text-transform: none;
      font-size: 12px;
      .add-more {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid $lightGray;
        @media screen and (max-width: 1024px) {
          margin-top: 0 !important;
        }
      }
      .add-more-btn {
        font-size: 10px;
        padding: 3px;
      }
    }
    .form-field-group {
      label.control-label {
        margin-left: 0;
      }
    }
  }
  fieldset {
    position: relative;
    width: 100%;
    &.collapsible-set {
      &.collapsed legend + .form-group {
        border: none;
        border-top: 1px solid $lightGray;
        border-radius: 0;
        background: none !important;
      }
      &.collapsed legend {
        background-color: #DCDCDC !important
      }
      legend {
        cursor: pointer;
      }
    }
  }

  input[type="date"] + .hint {
    display: none;
  }

  .hint {
    font-size: 13px;
    display: inline-block;
    color: $mediumGray;
    float: left;
    padding: 10px 10px 0;
    width: 100px;
    @media screen and (max-width: 850px) {
      width: 175px;
      padding-right: 20px;
      box-sizing: border-box;
      text-align: right;
    }
    @media screen and (max-width: 595px) {
      padding: 4px 10px;
    }
  }

  .info {
    color: $bahmniLinkColor;
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 0;
  }

}

form .vitals .form-field .field-value {
  @media screen and (max-width: 595px) {
    margin-left: 10px;
    width: 97%;
  }
  input {
    width: 12.5em;
  }
  .autocomplete {
    width: 220px;
    overflow: auto;
    input.concept-name.ui-autocomplete-input {
      float: left;
      min-width: 197px;
      margin-right: 15px;
      box-sizing: border-box;
    }
    .accept-btn {
      margin-top: 6px;
      &:focus {
        border: 2px solid $clinicalFormFocus;
        outline: none;
      }
    }
  }
  .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid lighten($mediumGray, 20%);
  }
}

form .observations-tab .vitals .form-field .field-value {
  .autocomplete {
    width: 292px;
  }
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      text-align: right;
      font-size: 14px;
      @media screen and (max-width: 595px) {
        width: 96%;
        text-align: left;
      }
    }
  }
}

concept {
  input:invalid {
    background-color: $clinicalFormWarning;
    outline: 1px solid darken($clinicalFormWarning, 30%);
    &:focus {
      outline: 1px solid darken($clinicalFormWarning, 30%);
    }
  }
}

/*custom changes: auto complete form field -> will be moved globally once finalized.*/
.select2-container .select2-choice {
  padding: 5px;
  height: 16px;
  line-height: 16px;
  margin-top: 4px;
  @media screen and (max-width: 595px) {
    margin-top: 5px;
  }
}

.select2-results .select2-result-label {
  font-size: 14px;
  padding: 10px;
}

.select2-container .select2-choice abbr, .select2-container .select2-choice abbr:hover {
  background: none;
  top: 5px;
  right: 33px;
}

.select2-container .select2-choice abbr:before {
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 24px;
  color: lighten($mediumGray, 20%);
}

concept-set {
  display: block;
}

.concept-set-group {
  .concept-set-title {
    @include clearfix();
    cursor: pointer;
    position: relative;
    background: darken($bahmniSecondaryColor, 10%);
    padding: 0 100px 0 0;
    border-radius: 3px 3px 0 0;
    h2.section-title {
      padding: 0;
      background: darken($bahmniSecondaryColor, 10%);
      padding: 10px 0 10px 10px;
      font-size: 14px;
      border-radius: 3px 3px 0 0;
      button {
        font-size: 12px;
        font-family: Opensans, Arial, sans-serif;
      }
    }
    .form-actions {
      width: auto;
      top: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px 10px;
      button {
        display: table;
        float: left;
        width: auto;
        margin-left: 12px;
        background: none;
        padding: 0;
        border: none;
        color: #fff;
        @media screen and (max-width: 1024px) {
          margin-left: 21px;
        }
        &:focus {
          outline: none;
        }
        &:hover {
          opacity: 0.5;
        }
        .fa {
          padding: 0;
          width: auto;
        }
        [class^="icon-"]:before,
        [class*=" icon-"]:before {
          font-size: 16px;
        }
        .fa-trash {
          font-size: 18px;
        }
      }
    }
  }
}

.form-controls-container {
  padding-top: 10px;
}

.vitals {
  &.form-horizontal {
    padding: 5px;
  }
  .consultation-image {
    padding: 5px;
    clear: both;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    width: 200px;
    text-align: center;
    button {
      position: absolute;
      top: 0;
    }
    .file {
      width: 160px;
      height: 160px;
      display: inline-block;
      overflow: hidden;
      position: relative;
      border: 1px solid $lightestGray;
      border-radius: 3px;
      .comment-toggle {
        margin: 9px 10px 5px 0;
      }
      .row-remover {
        margin: 0;
        right: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: 0;
        span {
          color: #F40428;
          text-shadow: 1px 1px 1px #8E0010;
        }
      }
      .undo-img-delete {
        width: 100%;
        left: 0;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        span {
          color: #88af28;
          font-size: 30px;
        }
        &:hover {
          opacity: 1;
        }
      }
      img.has-image {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .placeholder {
      width: 160px;
      height: 160px;
      float: left;
      margin: 0;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 0;
      position: relative;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        border-color: $lightestGray;
      }
      i {
        color: #888;
        font-size: 18px;
        line-height: 60px;
        width: 60px;
        height: 60px;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .file-browse {
      position: absolute;
      z-index: -999;
      min-width: 1px;
      width: 1px;
      visibility: hidden;
    }

    .comment-toggle {
      margin-right: 10px;
      margin-bottom: 5px;
    }
    &.consultation-image-disabled {
      pointer-events: none;
      .placeholder.btn {
        opacity: 0.4;
      }
    }
    input, textarea {
      width: 100% !important;
      display: inline-block;
      box-sizing: border-box;
    }
  }
  .form-group.form-group-video {
    float: none;
    label.control-label {
      margin-right: -100%;
    }
    .field-value {
      float: left;
      width: 100%;
    }
  }
  .consultation-video {
    width: auto;
    background: none;
    margin-left: 210px;
    form .vitals .form-field .field-value input {
      width: 50px;
    }
    label.placeholder {
      width: auto;
      margin: 0 !important;
      padding: 6px 15px;
      background: $lightestGray;
      cursor: pointer;
      border: 1px solid $lightGray;
      border-radius: 3px;
    }
    .file-browse {
      position: absolute;
      z-index: -999;
      min-width: 1px;
      width: 1px;
    }
  }
}

.leaf-observation-node {
  .obs-comment-section {
    padding-bottom: 30px;
    display: inline-block;
  }
}

.field-value .concept-description {
  margin: 0 10px 5px 0;
  display: inline-block;
  ul, ol {
    margin-left: 20px;
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  span.description {
    margin-top: 7px;
  }
  span.details, span.description {
    font-size: 10px;
    padding: 2px 10px;
    border-radius: 20px;
    background: $clinicalInfoMessageBg;
    min-width: 30px;
    display: inline-block;
    line-height: 1.5em;
  }
  p {
    margin-bottom: 0;
  }
}

.concept-set-description {
  font-size: 12px;
  margin-top: 15px;
}

.concept-tooltip-trigger {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
  color: $bahmniSecondaryColor;
  box-shadow: 1px 1px 1px $lightGray;
  background: $white;
  padding: 0;
  margin-left: 5px;
}

.concept-tooltip-description {
  margin-bottom: 10px;
  margin-left: 150px;
  text-align: left;
  position: relative;
  .details {
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background: $black;
    color: $white;
  }
  i {
    position: absolute;
    bottom: -16px;
    left: 1%;
    font-size: 20px;
    color: $black;
  }
  p {
    margin-bottom: 5px;
    line-height: 1.1;
  }
}

.stepper {
  &.illegalValue {
    border: none !important;
    background: none !important;
  }

  .stepper__btn {
    padding: 7px 20px 7px !important;
    vertical-align: middle;
    &.stepper__minus {
      float: left;
      margin-right: 1px;
    }
    &.stepper__plus {
      float: right;
      margin-left: 1px;
    }
  }

  .stepper__field {
    float: left;
    min-width: 10% !important;
    width: 4.4em !important;
    display: inline-block;
    margin: 0
  }

}

.vitals table {
  caption {
    text-align: left;
    font-family: $primaryBoldFont;
    font-size: 12px;
    padding: 0 0 5px;
    color: $mediumGray;
  }
  th {
    font-size: 11px;
  }

}

.vitals {
  .mylegend {
    .add-more {
      margin-top: 0;
      float: right;
    }
  }
  .mylegend #removeClonedObs.fa-remove {
    margin-top: 0;
    font-size: 12px;
  }
}

.concept-tooltip-tabular-observation {
  margin-left: 70px;
}

.field-value-buttonSelectType {
  max-width: 66%;
  width: auto;
  .multi-select-button-group button {
    width: 200px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (max-width: 1024px) {
      width: 185px;
    }
  }
  @media screen and (max-width: 1200px) {
    max-width: 62%;
  }
  @media screen and (max-width: 850px) {
    max-width: 50%;
  }
}

.add-more-wrapper {
  display: inline-block;
}

.illegalValue .multi-select-button-group {
  display: table;
  width: auto;
}

.field-value-buttonSelectType .illegalValue {
  display: table;
  width: auto;
}

//2 Column Layout Styles

.concept-set-panel {
  width: 100%;
  margin: 0 auto;
  position: relative;
  .left-panel-toggle {
    display: none;
    @media screen and (max-width: 1024px) {
      display: inline-block;
      color: #669999;
      border: 1px solid;
      position: fixed;
      left: 10px;
      z-index: 999;
      width: 25px;
      height: 25px;
      text-align: center;
      font-size: 19px;
      border-radius: 3px;
    }
  }
  .concept-set-panel-left {
    float: left;
    width: 275px;
    margin-right: -100%;
    position: relative;
    @media screen and (max-width: 1024px) {
      display: none;
      .concept-set-panel-wrap {
        webkit-box-shadow: 17px 4px 29px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 17px 4px 29px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 17px 4px 29px -16px rgba(0, 0, 0, 0.75);
      }
      &.form-menu-toggeled {
        display: block;
      }
    }
    @media screen and (max-width: 850px) {
    }
    .concept-set-panel-wrap {
      border-radius: 5px 5px 0 0;
      border: 1px solid $darkerGrey;
      position: fixed;
      width: inherit;
      height: auto;
      top: 138px;
      bottom: 50px;
      background: $white;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 10000;
    }
    .multi-select-lab-tests {
      width: 100% !important;
      box-sizing: border-box;
      li {
        position: relative;
        &.emptymsg {
          display: list-item;
          padding: 10px;
          color: $darkerGrey;
          font-size: 12px;
        }
        + .emptymsg {
          display: none;
        }
        a {
          overflow: auto;
          box-sizing: border-box;
          font-size: 12px;
          border-bottom: 1px solid $lightGray;
          padding: 8px 10px !important;
          display: block;
          color: darken($bahmniSecondaryColor, 20%);
          .concept-set-name {
            display: block;
            width: auto;
            margin-right: 25px;
            word-break: break-all;
            &.concept-set-name-extra {
              margin-right: 52px;
            }
          }
          @media screen and (max-width: 1024px) {
            padding: 8px 5px;
            font-size: 14px;
          }
          &:hover {
            background: $observationTitleHover;
          }
        }
        .button-wrap {
          padding: 0;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          @media screen and (max-width: 1024px) {
            right: 5px;
          }
          .fa-exclamation-triangle {
            margin-left: 5px;
            font-size: 17px;
            width: auto;
          }
          .fa-plus {
            color: $mediumGray;
            font-size: 18px;
            width: auto;
            font-weight: 100;
          }
        }
        &.active {
          a {
            background: darken($bahmniSecondaryColor, 10%);
            color: $white;
            font-family: $OpenSansSemiBoldFont;
          }
          .fa-plus {
            color: $white;
          }

        }
      }
    }
  }
  .concept-set-panel-right-wrap {
    float: right;
    width: 100%;
  }
  .concept-set-panel-right {
    margin-left: 290px;
    margin-top: 34px;
    position: relative;
    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }
    @media screen and (max-width: 850px) {
      margin-left: 0;
    }
    ul li {
      &.concept-set-panel-no-template {
        width: 100%;
        border: 1px solid $darkerGrey;
        border-radius: 5px 5px 0 0;
        background: $white;
        box-sizing: border-box;
        display: list-item;
        @media screen and (max-width: 760px) {
          height: auto;
          position: static;
          border: none;
          background: none;
        }
      }
      + .concept-set-panel-no-template {
        display: none;
      }
    }

    .section-title #removeClonedObs.fa-remove {
      padding: 3px 5px 4px;
      width: auto;
      margin: -3px 0 0;
      font-size: 14px;
    }
    .concept-set-title {
      cursor: initial;
      .section-title {
        cursor: pointer;
      }
    }
    div.duration.checkbox-inline {
      @media screen and (max-width: 1200px) {
        margin-top: 0;
        margin-left: 193px;
      }
      @media screen and (max-width: 1024px) {
        margin-left: 10px;
        margin-top: -10px;
      }
      .input.duration-value {
        @media screen and (max-width: 1200px) {
          padding: 2px 10px;
        }
      }
    }
    #chief_complaint_data_addmore_observation_4 {
      @media screen and (max-width: 1200px) {
        margin-top: 9px;
      }
      @media screen and (max-width: 850px) {
        margin-top: 0;
      }
    }
  }
  form .form-field textarea, .form .form-field textarea {
    width: 500px;
  }
  table .field-value-buttonSelectType {
    width: 47%;
  }
}

.button-wrap-video {
  .add-more, .fa-remove {
    margin: 4px 5px 0 0 !important;
  }
}

.form-field.form-field-group.image-upload-wrapper {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-left: 34px;
}

.ngdialog .ngdialog-content .video-dialog {
  width: 100%;
  height: auto;
}

.observation-image {
  margin: 2px;
  width: 100px;
  height: 80px;
}
