.clinical-observations {padding: 10px 5px;}
.vitals {
	.form-field {
        padding-top: 10px;
	}
	.field-attribute {
		width:18em;
		.label-add-on {
      float:left;
      text-align:left;
      margin:0.5em 0em 0em 0em;
    }
  }
  fieldset {
  	position:relative;
  	width: 100%;
    fieldset {
      .form-group {
        label span {
          text-transform: capitalize;
        }
      }
      legend + .form-group {
        padding: 10px;
        border: 1px solid lighten($mediumGray, 20%);
        margin-top: 20px;
        border-radius: 5px;
        legend {
          color: lighten($mediumGray, 30%);
          top: 8px;
          left: 30px;
        }
        legend + .form-group {
          padding: 10px 0;
          background: $lightestGray;
        }
      }
      legend {
        position:absolute;
        top:5px;
        left:20px;
        padding:5px 10px;
        font-family: $OpenSansBoldFont;
        font-size: 14px;
        color: $mediumGray;
        border: 1px solid lighten($mediumGray, 20%);
        border-radius: 20px;

      }
      .form-field-group {
        label.control-label {
            margin-left: 0;
        }
        .comment-toggle {
            margin-right: 0;
        }
      }
    }
  }
  input[type="date"] + .hint {
    display: none;
  }
  .hint {
    font-size: 13px;
    display: inline-block;
    color: $mediumGray;
    float: left;
    padding: 15px 10px;
    width: 100px;
    @media screen and (max-width: 595px) {
      padding: 4px 10px;
    }
  }
  .info {
    color: $bahmniLinkColor;
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 0;
  } 
}
div.duration.checkbox-inline {
  margin-top: -10px;
  margin-left: 15px;
  @media screen and (max-width: 850px) and (min-width: 596px) {
    margin-top: 0;
    margin-left: 166px;
  }
  @media screen and (max-width: 595px) {
    margin-left: 10px;
    margin-top: 0;
    float: left;
  }
  input.duration-value {
    width: 30px;
    margin: 0 10px;
    padding: 5px;
  }
  select.duration-unit {
    margin-left: 25px;
  }
}
form .vitals .form-field .field-value {
  @media screen and (max-width: 595px) {
    margin-left: 10px;
    width: 97%;
  }
  input {
    width: 10em;
  }
  .autocomplete {
    border-radius: 5px;
    width: 357px;
    overflow: auto;
    input.concept-name.ui-autocomplete-input {
      float: left;
      min-width: 200px;
      margin-right: 27px;
    }
    .accept-btn {
        margin-top: 6px;
    }
  }
  .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid lighten($mediumGray, 20%);
  }
  textarea {
    width: 340%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-bottom: 30px;
  }
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      // width: 135px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: right;
      font-size: 14px;
      @media screen and (max-width: 595px) {
        width: 96%;
        text-align: left;
      }
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
    }
  }
}
.checkbox-inline {
  padding: 10px 0 0 0;
  float: left;
  @media screen and (max-width: 685px) and (min-width: 600px) {
    padding: 0;
    margin-left: 221px;
  }
  @media screen and (max-width: 595px) {
    float: right;
    margin-right: 16%;
    padding: 0;
  }
  input[type="checkbox"] {
    margin-left: 10px!important;
  }
  span {
    display: inline-block;
    margin-top: 2px;
  }
}
concept {
  input:invalid {
    background-color: $clinicalFormInvalid;
    outline: 2px solid darken($clinicalFormInvalid, 30%);
    &:focus {
      outline: 2px solid darken($clinicalFormInvalid, 30%);
    }
  }
}
/*custom changes: auto complete form field -> will be moved globally once finalized.*/
.select2-container .select2-choice {
  padding: 5px;
  @media screen and (max-width: 595px) {
    margin-top: 5px;
  }
}
.select2-results .select2-result-label {
  font-size: 14px;
  padding: 10px;
}
.select2-container .select2-choice abbr, .select2-container .select2-choice abbr:hover {
  background: none;
  top: 5px;
  right: 33px;
}
.select2-container .select2-choice abbr:before {
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 24px;
  color: lighten($mediumGray, 20%);
}

concept-set {
  display: block;
}

.concept-set-group {
  .concept-set-title {
    cursor: pointer;
    position: relative;
    .favourite-concept-set {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}
.grid-row {
    padding: 2px;
}
.grid-row-element {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    .icon-ok {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 14px;
        line-height: inherit;
    }
}
.grid-row-element.active {
    color: $bahmniTertiaryColor;
    padding-left: 3px;
    .icon-ok {
        display: inline-block;
    }
}

.vitals {
    .consultation-image {
        width: 758px;
        background: $lightestGray;
        padding: 5px;
        overflow: auto;
        clear: both;
        .placeholder.btn {
            width: 50px;
            height: 50px;
            float: left;
            margin: 0;
            text-align: center;
            border: 1px solid $lightGray;
            @include button;
            padding: 0;
            i {
              color: green;
              font-size: 24px;
              line-height: 55px;
              width: 40px;
            }
        }
        .file-browse {
            position: absolute;
            left: -9999px;
            visibility: hidden;
        }
        .file img.has-image {
            width: 50px;
            height: 50px;
            border: 3px solid $lightGray;
        }
        .file img.has-image.voided {
            opacity: 0.1;
        }
        .comment-toggle {
            margin-right: 10px;
            margin-bottom: 5px;
        }
        textarea.consultation-img-comments {
            width: 47.3em!important;
            margin-bottom: 0!important;
        }
    }
}

.leaf-observation-node {
    .comment-toggle {
        margin-right: 10px;
    }
    .obs-comment-section {
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 30px;
      display: inline-block;
      margin-top: 5px;
    }
}

.concept-set-description, .concept-description {
    position: relative;
    margin: 0 10px;
    clear: both;
    ul, ol {margin-left: 20px;}
    ul li {list-style-type: disc;}
    ol li {list-style-type: decimal;}
    span.description {
        margin-top: 7px;
    }
    span.details, span.description {
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        background: $clinicalInfoMessageBg;
        min-width: 30px;
        display: inline-block;
        line-height: 1.5em;
    }
}
.concept-set-description {
    i {
        position: absolute;
        top: -11px;
        left: 2%;
        font-size: 20px;
        color: $clinicalInfoMessageBg;
    }
}
.concept-description {
    margin-left: 10%;
    margin-bottom: 5px;
    p {
        margin-bottom: 0;
    }
    i {
        position: absolute;
        bottom: -17px;
        left: 1%;
        font-size: 20px;
        color: $clinicalInfoMessageBg;
    }
}

textarea {
    height: 25px;
    transition: height 0.1s ease;
    &:focus {
        height: 75px;
    }
}

.accept-btn-wrapper {
    margin-top: 5px;
}