.selected-orders {
    margin: 5px 0;
    width: 99.5%;

    @media (max-width: 768px) {
        width: 97.4%;
    }

    .null-data-message {
        padding-left: 5px;
    }

    ul.selected-items {
        max-height: 334px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 2px;
            height: 2px;
        }

        li {
            padding: 4px 1px 4px 3px;
            float: left;
            box-sizing: border-box;

            div {
                @include button;
                width: 100%;
                display: inline-block;
                display: table;
                margin: 0;
                font-size: 12px;
                padding: 0;
                color: $darkGray;
                text-align: left;
                line-height: .9;
                box-sizing: border-box;
                cursor: default;

                &.active {
                    background: linear-gradient(to bottom, #FFF, $lighterGray);
                    background-color: $lighterGray;
                    border: $lighterGray 1px solid;

                    &:hover {
                        background: #e2e2e2;
                        border-color: #d0d0d0;
                    }
                }

                div {
                    display: table-cell;
                    padding: 10px;
                    vertical-align: middle;
                    border: none;
                    line-height: 1.2;

                    @media (max-width: 1024px) {
                        width: 133px;
                    }

                    @media (max-width: 768px) {
                        width: 109px;
                        padding: 8px 5px;
                    }

                    &.voided {
                        text-decoration: line-through;
                    }
                }

                span {
                    display: table-cell;
                    width: 26px;
                    display: table-cell;
                    padding: 0 2px;
                    border-left: 1px #d0d0d0 solid;
                    vertical-align: middle;

                    i {
                        font-size: 1.5em;

                        &.fa-remove {
                            color: #9D0101;
                        }

                        cursor: pointer;
                    }
                }
            }
        }
    }

}

.order-list {
    margin-top: 10px;

    .order-grid {
        border: 1px solid $bahmniSecondaryColor;
        border-radius: 5px 5px 0 0;
        background: #FFFFFF;
        margin-bottom: 10px;
    }

    .dashboard-section {
        margin-top: -10px;
        border-radius: 0;
    }

    h2.order-title {
        cursor: pointer;
        font-family: OpenSans, Arial, sans-serif;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: #FFFFFF;
        font-size: 16px;
        clear: both;
        overflow: auto;
        background: $bahmniSecondaryColor;
        position: relative;
    }

    .search-container {
        @include clearfix();
        margin: 10px;
        position: relative;
        order: 1;
        width: 100%;

        .field-value {
            position: relative;
        }

        &.form .form-field .field-attribute label {
            width: auto;
        }

        &.form .form-field .field-value input[type="text"] {
            padding-right: 22px;

            &.order_search_desktop {
                @media (max-width: 1024px) {
                    display: none;
                }
            }

            &.order_search_mobile {
                display: none;

                @media (max-width: 1024px) {
                    display: block;
                }
            }

        }

        label.cross-button {
            color: #9D0101;
            position: absolute;
            right: 2px;
            top: 0;
            background: none;
            border: none;
            font-size: 18px;
        }
    }

    .dashboard-section-wrapper {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        .orders-section-left {
            box-sizing: border-box;
            margin: 15px 10px;
            width: 100%;

            @media screen and (min-width: 769px) {
                width: 30%;
                margin: 0 0 15px 10px;
                order: 1;
            }

            @media screen and (min-width: 1024px) {
                width: 25%;
            }

            * {
                box-sizing: border-box;
            }

            .multi-select-lab-tests {
                width: 100%;

                ul li {
                    &.active a {
                        background: #3D7474;
                    }
                }

                ul li a {
                    color: $white;
                    background: $bahmniSecondaryColor;
                    display: block;
                    padding: 8px 12px;
                    border-bottom: 1px $white solid;

                    &:hover {
                        background: #3D7474;
                    }
                }

                .toggle-complete-list {
                    display: none;
                }
                @media screen and (max-width: 768px) {
                    .show-fewer-tests {
                        li:not(.toggle-complete-list) {
                            display: none;
                        }
                        li.active {
                            display: block;

                            & + li {
                                display: block;

                                & + li {
                                    display: block;
                                }
                            }
                        }
                    }

                    .toggle-list-arrow {
                        background: transparent;
                        border: none;
                        min-width: none;
                        outline: none;
                        border: none;
                        padding: 0;
                        color: $white;
                    }

                    .toggle-complete-list {
                        display: block;
                        padding: 4px 0;
                        text-align: center;
                        background-color: #669999;
                    }

                }
            }
        }

        .orders-section-right {
            margin: 0 10px;
            order: 1;
            box-sizing: border-box;
            width: 100%;

            @media screen and  (min-width: 769px) {
                width: calc(70% - 30px);
            }

            @media screen and  (min-width: 1024px) {
                width: calc(75% - 30px);
            }

            * {
                box-sizing: border-box;
            }
        }

        .order-section-container {
            width: 100%;

            fieldset {
                position: relative;
                margin-top: 13px;
            }

            .order-title {
                &.mylegend {
                    position: absolute;
                    top: -15px;
                    left: 20px;
                    padding: 5px 10px;
                    font-family: "OpenSansBold";
                    font-size: 12px;
                    color: $mediumGray;
                    border: 1px solid #999999;
                    border-radius: 20px;
                    text-transform: uppercase;
                }
            }

            .orderBtnContainer {
                float: left;
                display: block;
                margin: 0 0 2.4% 0;
                width: 100%;
                border: 1px solid #c0c0c0;
                padding: 20px 0 0 10px;
                border-radius: 5px;

                ul li a {
                    padding: 8px 20px !important;

                    &.noteditable {
                        cursor: default;
                        background: #F2FAFF;
                        border: 1px #C9DEEC solid;
                    }

                    @media (max-width: 768px) {
                        padding: 8px 15px !important;
                    }
                }
            }

            .orderBtn {
                float: left;
                margin-bottom: 10px;
                text-align: center;
                width: calc(100% - 10px);
                max-width: none;
                margin-right: 10px;

                @media screen and (min-width: 769px) {
                    width: calc(50% - 10px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-height: 33px;
                }

                @media screen and (min-width: 1024px) {
                    width: calc(100% / 3 - 10px);
                }

                &.noteditable {
                    cursor: default;
                }
            }
        }

        .block.consultation-notes {
            border: 1px solid $bahmniSecondaryColor;
            width: 100%;
            margin-top: 20px;
            border-radius: 5px 5px 0 0;
            border-top: 0;

            h2.section-title {
                background: #3D7474;
                border-radius: 5px 5px 0 0;
            }
        }
    }

    .disableOrdersInRetroMode {
        .dashboard-section-wrapper .order-section-container .orderBtn {
            pointer-events: none;
            background: $lightestGray;
            border: $lightGray 1px solid;
            color: #999;
        }

        .fa-remove {
            pointer-events: none;
            background: $lightestGray;
        }
    }

}

.order-label {
    position: relative;
    display: inline-block;
    float: right;
    text-align: right;
    margin-left: 2px;
    margin-top: -10px;
    background-color: #8DB529;
    padding: 2px 6px;
    font-size: 13px;
}

.order-provider-nane {
    margin-right: 10px;
}

.order-fullfilment-contianer {
    .dashboard-section {
        border-right: 0;
        border-radius: 0;
    }

    .concept-set-title {
        .has-notes {
            position: relative;
            top: 2px;
            padding-right: 5px;
        }
    }

    .hierarchy ul li ul li span {
        background: $lighterGray;
    }

    .hierarchy ul li ul li ul li {
        font-size: 14px;

        span {
            background: #fff;
        }

        ul li {
            font-size: 13px;
        }
    }
}

.order-sub-heading-container {
    width: 290px;
    text-align: right;

    .order-sub-heading {
        font-size: 12px;
        color: $mediumGray;
        white-space: nowrap;

        .provider-name {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 130px;
            display: inline-block;
            text-align: right;
            padding-right: 10px;
        }

        .provider-date {
            width: 120px;
            display: inline-block;
            text-align: left;
            padding-right: 10px;
        }
    }

    .fa-tasks {
        color: $clinicalCurrentVist;
        visibility: hidden;
        margin-top: -0.1em;

        &.visible-true {
            visibility: visible;
        }
    }
}

.ngdialog.ngdialog-theme-default {
    &.selectedOrderNoteContainer-dialog {
        .ngdialog-content {
            width: 600px;
            padding: 30px;

            .selectedOrderNoteContainer {
                span {
                    display: block;
                    font-size: 17px;
                    line-height: 1;
                    padding-bottom: 15px;
                    float: left;
                    width: 100%;
                }

                textarea {
                    float: left;
                    width: 100%;
                    padding: 10px;
                    height: 120px;
                }

                .btn-group {
                    margin-top: 10px;
                }
            }
        }
    }
}

#Pacs {
    .order-sub-heading-container {
        padding-top: 7px;
    }
}

.urgent-button {
    height: 100%;
    padding: 9px 8px 9px 10px;
    border-radius: 0;
    border: 0;
    border-left: #DDD 1px solid;

    &:disabled {
        background: initial !important;
        border: initial !important;
        border-left: #ddd 1px solid !important;
    }
}

.hierarchy ul li.image-preview {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    width: 86px;
    border: none;
    text-align: center;
    vertical-align: top;

    .tree-list-item {
        padding: 0;

        .img-concept,
        .pdf-link {
            width: 60px;
            height: 60px;
            float: left;
            overflow: hidden;
            margin: 0;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 3px;
            padding: 0;
            position: relative;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                border-color: $lightestGray;
            }

            img {
                position: absolute;
                left: 17%;
                top: 17%;
                height: 100%;
                width: auto;
                -webkit-transform: translate(-17%, -17%);
                -ms-transform: translate(-17%, -17%);
                transform: translate(-17%, -17%);
            }
        }
    }

    .notes {
        background: transparent;
        width: 160px;
        margin: 0 auto;

        i {
            display: none;
        }

        pre {
            display: block;
            float: none;
            text-align: left;
            color: #848383;
            border: 1px solid #b4b7b9;
            padding: 3px;
            border-radius: 3px;
        }

        .footer-note {
            float: none;
            text-align: left;

            .provider {
                float: none;
                text-align: left;

                span {
                    color: #a9a4a4;
                }
            }
        }
    }
}

.user-dropdown-menu{
    height: 52px;
    position: absolute;
    right: 0;
    top: 0;
}