.selected-orders {
    // padding: 10px;
    margin: 5px 0;
    width: 99.5%;

    .null-data-message {
        padding-left: 5px;
    }
    ul.selected-items {
        max-height: 334px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 2px;
            height: 2px;
        }
        li {
            padding: 4px 1px 4px 3px;
            float: left;
            box-sizing: border-box;
            div {
                @include button;
                width: 100%;
                display: inline-block;
                float: left;
                margin: 0;
                font-size: 12px;
                padding: 0;
                color: $darkGray;
                text-align: left;
                line-height: .9;
                box-sizing: border-box;
                cursor: default;
                &.active {
                    background: linear-gradient(to bottom, #FFF, #DDD);
                    background-color: #DDD;
                    border: #DDD 1px solid;
                    &:hover {
                        background: #e2e2e2;
                        border-color: #d0d0d0;
                    }
                }
                span {
                    display: inline-block;
                    padding: 8px 10px;
                    float: left;
                    width: 179px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @media (max-width: 1024px) {
                        width: 133px;
                    }
                    &.voided{
                      text-decoration: line-through;
                    }
                }
                i {
                    font-size: 1.5em;
                    margin: 0 auto;
                    vertical-align: middle;
                    padding: 9px 3px 0;
                    border-left: 1px #D3CFCF solid;
                    width: 29px;
                   &.fa-remove{
                    color: #9D0101;
                   }
                    cursor: pointer;
                    height: 17px;
                }
            }
        }
    }
}



.order-list {
    margin-top: 10px;
    .order-grid {
        border: 1px solid #669999;
        border-radius: 5px 5px 0 0;
        background: #FFFFFF;
        margin-bottom: 10px;
    }
    .dashboard-section {
        margin-top: -10px;
        border-radius: 0;
    }
    h2.order-title {
        cursor: pointer;
        font-family: OpenSans, Arial, sans-serif;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
        color: #FFFFFF;
        font-size: 16px;
        clear: both;
        overflow: auto;
        background: #669999;
        position: relative;
    }
    .dashboard-section-wrapper {
        margin: 0;
        .orders-section-left {
            width: 25%;
            float: left;
            margin: 3% 0 2% 10px;
            .multi-select-lab-tests {
                width: 96%;
                ul {
                    li {
                        a {
                            color: $white;
                            background: #669999;
                            display: block;
                            padding: 8px 12px;
                            border-bottom: 1px $white solid;
                            &:hover {
                                background: #3D7474;
                            }
                            &.active {
                                background: #3D7474;
                            }
                        }
                    }
                }
            }
        }
        .orders-section-right {
            width: 74%;
            float: right;
            margin-top: 2%;
        }
        .order-section-container {
            float: left;
            width: 100%;
            fieldset {
                position: relative;
                margin-top: 13px;
            }
            .order-title {
                &.mylegend {
                    position: absolute;
                    top: -15px;
                    left: 20px;
                    padding: 5px 10px;
                    font-family: "OpenSansBold";
                    font-size: 12px;
                    color: #666;
                    border: 1px solid #999999;
                    border-radius: 20px;
                    text-transform: uppercase;
                }
            }
            .orderBtnContainer {
                float: left;
                display: block;
                margin: 0 0 2.4% 0;
                width: 97.6%;
                border: 1px solid #c0c0c0;
                padding: 20px 0 0 10px;
                border-radius: 5px;
                ul {
                    li {
                        a {
                            padding: 8px 20px !important;
                            &.noteditable {
                                cursor: default;
                                background: #F2FAFF;
                                border: 1px #C9DEEC solid;
                            }
                        }
                    }
                }
            }
            .orderBtn {
                float: left;
                margin-bottom: 10px;
                margin-right: 1%;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 237px;
                white-space: nowrap;
                @media (max-width: 1024px) {
                    width: 191px;
                }
                &.noteditable {
                    cursor: default;
                }
            }
        }
        .block.consultation-notes {
            border: 1px solid #669999;
            width: 95%;
            margin-top: 20px;
            border-radius: 5px 5px 0 0;
            border-top: 0;
            h2.section-title {
                background: #3D7474;
                border-radius: 5px 5px 0 0;
            }
        }
    }
    .disableOrdersInRetroMode {
        .dashboard-section-wrapper .order-section-container .orderBtn{
            pointer-events: none;
            background: #EEE;
            border: #CCC 1px solid;
            color: #999;
        }
        .fa-remove{
            pointer-events: none;
            background: #EEE;
        }
    }

}

.new-order-highlight {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #8DB529;
    padding: 2px 6px;
    font-size: 13px;
}

.order-created-date{
    margin-right: 35px;
    margin-top: 4px;
}
.order-provider-nane{
  margin-right: 10px;
}
.order-fullfilment-contianer{
    .dashboard-section{
        border-right: 0;
        border-radius: 0;
        .hierarchy ul li{
            border-top: 0;
        }
    }
    .concept-set-title{
        .has-notes{
            position: relative;
            top: 2px;
            padding-right: 5px;
        }
    }
}
.order-sub-heading-container{
    .order-sub-heading{
        font-size: 12px;
        color: #666;
        //padding-right: 27px;
    }
    .fa-tasks{
        color: #E8A000;
        visibility: hidden;
        &.visible-true{
            visibility: visible;
        }
    }
}

.ngdialog.ngdialog-theme-default{
    &.selectedOrderNoteContainer-dialog{
        .ngdialog-content{
            width:600px;
            padding:30px;
            .selectedOrderNoteContainer{
                span{
                    display: block;
                    font-size: 17px;
                    line-height: 1;
                    padding-bottom: 15px;
                    float: left;
                    width: 100%;
                }
                textarea{
                    float: left;
                    width: 100%;
                    padding: 10px;
                    height: 120px;
                }
                .btn-group{
                    margin-top: 10px;
                }
            }
        }
    }

}

// .sample-type {
//     margin-left: 10px;
//     button {
//         font-size: 1em;
//     }
//     fieldset {
//         position: relative;
//         width: 99%;
//         .form-group {
//             label span {
//                 text-transform: capitalize;
//             }
//         }
//         legend + .form-group {
//             padding: 10px;
//             border: 1px solid $lightGray;
//             margin-top: 20px;
//             border-radius: 5px;
//             legend {
//                 color: lighten($mediumGray, 30%);
//                 top: 8px;
//                 left: 30px;
//             }
//             legend + .form-group {
//                 padding: 10px 0;
//                 background: $lightestGray;
//             }
//         }
//         legend {
//             position: absolute;
//             top: 5px;
//             left: 20px;
//             padding: 5px 10px;
//             font-family: $OpenSansBoldFont;
//             font-size: 14px;
//             color: $mediumGray;
//             border: 1px solid lighten($mediumGray, 20%);
//             border-radius: 20px;
//             .add-more {
//                 padding-left: 10px;
//                 margin-left: 10px;
//                 border-left: 1px solid #ccc;
//             }
//             .add-more-btn {
//                 font-size: 10px;
//                 padding: 3px;
//             }
//         }
//     }
// }
