.pgContainer {
  position: relative;
  background: #fff;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  min-height: 860px;
  right: 0;
  padding-bottom: 10px;

}
.dashboard-section-wrapper {
  .dashboard-sections {
    width: 50%;
    float: left;  
    @media screen and (max-width: 859px) {
      width: 100%;
      float: none;
    }
  }

}
#view-content .patient-dashboard.visit {padding: 0;}
.dashboard-visit-summary {padding: 10px;}
.dashboard-header {
  width: 100%;
  height: 50px;
  background: $bahmniSecondaryColor;
  h1 {
    margin: 15px 0;
    color: #eee;
    text-transform: capitalize;
    display: inline-block;
  }
}
.dashboard-section {
  margin: 1%;
  margin-bottom: 15px;
  font-size: 14px;
  position: relative;
  @extend .section-grid;
  .placeholder-message {
    background: #ddd;
    color: #666;
    padding: 10px;
    text-align: center;
    display: none;
  }
  section.block {
    padding: 0!important;
    border-radius: 0 0 5px 5px;
  }
  section {
    label.date {
      font-family: OpenSansBold;
      background: #f6f6f6;
      padding: 10px;
      display: block;
      color: #888;
    }
    .form-field-group .form-field {
      border: 0;
    }
    .form-field .form-field {
      padding: 0;
      border: 0;
      .form-field {
        padding: 0;
        border: 0;}
    }
    .form-field {
      border-bottom: 1px solid #ccc;
      padding: 5px;
      font-size: 14px;
      padding-left: 10px;
      clear: both;
      overflow: auto;
      .field-attribute {
        width: 45%;
        display: inline-block;
      }
    .value-text-only {
        display: inline-block;
    }
      .time {
        font-size: 11px;
        color: #888;
        float: right;
        padding-right: 5px;
      }
    }
    .is-abnormal .field-attribute {
      color: red;
    }
  }
}

.dashboard-treatment-section {
  table {
    margin: 0;
    border-left: 0;
    border-right: 0;
    tr th {
      color: #888;
      background: #f6f6f6;
    }
    tr, td {
      border-left: 0!important;
      border-right: 0!important;
    }
    h5 {
      span {
        font-size: 14px;
        color: #ccc;
      }
    }
    td.days, td.dosage {
      font-size: 11px;
      width: 25%;
      span {
        color: #888;
      }
    }
  }
}
.placeholder-text {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #cecece;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
.dashboard-diagnosis-section {
  .diagnosis .history-diagnosis .table-body {
    .row {background: #fff;}
    .diagnosis-name {
      color: #333;
      float: left;
      padding: 0 0 0 10px;
    }
    .ruled-out.diagnosis-name {
      color: #777;
      text-decoration: line-through;
    }
  }
  .table .col {padding: 6px 0;}
  .col.col1 {
    width: 60%;
    float: left;
  }
  .col.col2 {
    width: 35%;
    float: right;
    .order {
      margin: 0;
    }
  }
  .table-header {
    .col.col2 {
      span {padding: 0;}
    }
  }
  .table-body {
    .col.col2 {
      font-size: 11px;
      padding-left: 10px;
      .view {
        margin-bottom: 3px;
        .date {
          float: right;
          color: #888;
          padding-right: 10px;
        }
      }
    }
  }
}
.dashboard-laborders-section {
  table {
    margin-top: 0;
    tr, td {
      border-left: 0;
      border-right: 0;
    }
    td span.range {
      font-size: 11px;
      color: #888;
    }
    tr td.value {
      width: 40%;
      padding: 5px;
      border-left: 1px solid #ccc;
      .line-value {
        width: 50%;
        float: left;
      }
    }
    tr td .fr.date {
      float: right;
      font-size: 11px;
      color: #888;
      i.icon-file-alt {
        font-size: 14px;
        color: orange;
      }
    }
  }
}
.dashboard-radiology-section {
  .radiology-doc-item {
    overflow: auto;
    clear: both;
    border-bottom: 1px solid #ccc;
    a {
      padding: 5px 10px 7px 10px;
      width: 77%;
      float: left;
      i {padding-left: 0;}
    }
    span {
      float: right;
      font-size: 11px;
      padding: 10px;
      color: #888;
    }
  }
}

.testUnderPanel{
  padding-left: 20px;
}

.dashboard-section section .form-field.is-text {
    overflow: auto;
    clear: both;
    padding-left: 10px;
    .value-text-only {
        line-height: 1.3em;
    }
    .footer-note {
        margin-top: 5px;
    }
}

.template-container {
    .ipd-investigation-title {
        padding-top: 15px;
    }
}

