.pgContainer {
  position: relative;
  background: $white;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  min-height: 860px;
  right: 0;
  padding-bottom: 10px;

}
.dashboard-section-wrapper {
  padding-top: 10px;
  @include clearfix();
  .dashboard-sections {
    width: 50%;
    float: left;
    @media screen and (max-width: 859px) {
      width: 100%;
      float: none;
    }
  }

}
.patient-dashboard.visit {padding: 0;}
.dashboard-visit-summary {padding: 10px;}
.dashboard-header {
  width: 100%;
  height: 50px;
  background: $bahmniSecondaryColor;
  h5 {
    margin: 15px 0;
    color: $lightestGray;
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
  }
}
.dashboard-section {
  margin: 1%;
  margin-bottom: 15px;
  font-size: 14px;
  position: relative;
  @extend .section-grid;
  .placeholder-message {
    background: $lightGray;
    color: $mediumGray;
    padding: 10px;
    text-align: center;
    display: none;
  }
  section.block {
    padding: 0!important;
    border-radius: 0 0 5px 5px;
  }
  section {
    label.date {
      font-family: $OpenSansBoldFont;
      background: $lightestGray;
      padding: 10px;
      display: block;
      color: $mediumGray;
    }
    .form-field-group .form-field {
      border: 0;
    }
    .form-field .form-field {
      padding: 0;
      border: 0;
      .form-field {
        padding: 0;
        border: 0;}
    }
    .form-field {
      border-bottom: 1px solid $lightGray;
      padding: 5px;
      font-size: 14px;
      padding-left: 10px;
      clear: both;
      .field-attribute {
        width: 45%;
        display: inline-block;
      }
    .value-text-only {
        display: inline-block;
    }
      .time {
        font-size: 11px;
        color: $mediumGray;
        float: right;
        padding-right: 5px;
      }
    }
    .is-abnormal .field-attribute {
      color: red;
    }
  }
}

.dashboard-treatment-section {
  table {
    margin: 0;
    border-left: 0;
    border-right: 0;
    tr th {
      color: $mediumGray;
      background: $lightestGray;
    }
    tr, td {
      border-left: 0!important;
      border-right: 0!important;
    }
    h5 {
      span {
        font-size: 14px;
        color: $lightGray;
      }
    }
    td.dosage {
      font-size: 12px;
      width: 35%;
    }
    td.days {
      font-size: 11px;
      width: 15%;
      span {
        color: $mediumGray;
      }
    }
  }
}

table.dashboard-table {
      margin: 0;
      border-left: 0;
      border-right: 0;
      tr th {
        color: $mediumGray;
        background: $lightestGray;
      }
      tr, td {
        border-left: 0!important;
        border-right: 0!important;
      }
}

table.drug-order-table td.drug {
  &.active-drug  {
    border-left: 3px solid orange !important;
  }  
  &.scheduled-drug {
    border-left: 3px solid green !important;;
  }
}

.placeholder-text {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid $lightGray;
}
.white-popup {
  position: relative;
  background: $white;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
.dashboard-diagnosis-section {
  .diagnosis .history-diagnosis .table-body {
    .row {background: $white;}
    .diagnosis-name {
      color: $darkGray;
      float: left;
      padding: 0 0 0 10px;
    }
    .ruled-out.diagnosis-name {
      color: $mediumGray;
      text-decoration: line-through;
    }
  }
  .table .col {padding: 6px 0;}
  .col.col1 {
    width: 60%;
    float: left;
  }
  .col.col2 {
    width: 35%;
    float: right;
    .order {
      margin: 0;
    }
  }
  .table-header {
    .col.col2 {
      span {padding: 0;}
    }
  }
  .table-body {
    .col.col2 {
      font-size: 11px;
      padding-left: 10px;
      .view {
        margin-bottom: 3px;
        .date {
          float: right;
          color: $mediumGray;
          padding-right: 10px;
        }
      }
    }
  }
}
.dashboard-laborders-section {
  table {
    margin-top: 0;
    tr, td {
      border-left: 0;
    }
    td span.range {
      font-size: 11px;
      color: $mediumGray;
    }
    tr td.value {
      width: 40%;
      padding: 5px;
      border-left: 1px solid $lightGray;
      .line-value {
        width: 50%;
        float: left;
      }
    }
    tr td .fr.date {
      float: right;
      font-size: 11px;
      color: $mediumGray;
      i.icon-file-alt {
        font-size: 16px;
        color: orange;
      }
    }
  }
}
.dashboard-radiology-section {
  .radiology-doc-item {
    overflow: auto;
    clear: both;
    border-bottom: 1px solid $lightGray;
    a {
      padding: 5px 10px 7px 10px;
      width: 77%;
      float: left;
      i {padding-left: 0;}
    }
    span {
      float: right;
      font-size: 11px;
      padding-right: 10px;
      color: $mediumGray;
    }
  }
}

.testUnderPanel{
  padding-left: 20px;
}

.dashboard-section section .form-field.is-text {
    overflow: auto;
    clear: both;
    padding-left: 10px;
    .value-text-only {
        line-height: 1.3em;
    }
}



.dashboard-section section.block.hierarchy {
    .field-attribute {vertical-align: top;}
    .testUnderPanel, .value-text-only, .date-text-only {display: inline-block; vertical-align: top;}
    .testUnderPanel, .value-text-only {width: 35%;}
    .testUnderPanel {padding:0;}
    .date-text-only {width: 15%;}
    .toggle i {padding: 0};
}



.dashboard-section section .form-field.is-text {
  overflow: auto;
  clear: both;
  padding-left: 10px;
  .value-text-only {
    line-height: 1.3em;
  }
}

.history-diagnosis {
  .name {
    width: 32%;
  }
  .view {
    font-size: 12px;
  }
  .date {
    font-size: 11px;
  }
  .toggle-btn {
    width: 24px;
    .toggle {
      padding: 0;
      margin: 0;
      i {
        padding: 0;
      }
    }
  }
}
table.pivot-table {
  .tooltip {
    margin-left: -5px;
    margin-top: 0;
    background: $darkGray;
    color: white;
    box-shadow: none;
    bottom: 36px;
    top: auto;
    z-index: 1;
    i {
      color: $darkGray;
      bottom: -15px;
      left: 20px;
      top: auto;
    }
    .details {
      color: white !important;
    }
  }
  &, * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  span.range {
    font-size: 11px;
  }
  .row-header-group {
    min-height: 40px;
    vertical-align: middle;
    font-weight: bold;
    font-family: $OpenSansBoldFont;
  }
  thead th {
      font-family: OpenSans, Arial, sans-serif;
      font-weight: normal;
    &.row-header-group {
      text-align: right;
    }
  }
  tr {
     td, th {
       line-height: 1.2em;
       text-transform: capitalize;
       height: 36px;
       max-height: 36px;
       vertical-align: middle;
       padding: 5px 10px;
     }
  }
  tbody {
    white-space: normal;
    font-size: 12px;
    tr {
      th, td {
        width: 80px;
        padding: 5px;
        font-size: 12px;
      }
      th {
        background: white;
        font-weight: bold;
        text-align: center;
        .time {
          font-size: 12px;
          color: darken($lightGray, 8%);
          display: inline-block;
          margin-top: 3px;
          font-weight: normal;
          font-family: OpenSans, Arial, sans-serif;
        }
      }
      td {
        position: relative;
        .popover-trigger {
          cursor: pointer;
          color: $bahmniLinkColor;
        }
      }
    }
  }
}