.search-wrapper{
	padding-bottom:10px;
	input{
		height: 30px;
		width:300px;
		padding-left:10px;
	}
}

.tab-content{
  overflow:hidden;
  padding:14px;
  background:#fff;
  border: 1px solid #cecece;
  li{
    text-align: center;
    cursor:pointer;
    padding-top:10px;
    border: 1px solid #fff;
    background: #f2f2f2;
    .patient-name {
      font-size: 14px;
      color: #222;
      text-transform: capitalize;
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
      line-height: 1.5em;
    }
    .patient-id {
      color: #555;
    }
    &:hover{
       border: 1px solid #cecece;
       background:#f1f1f1;
    }
  }
  .reg-srch-btn {
    margin: 3px 15px;
    button[disabled="disabled"] {
      cursor: not-allowed;
    }
  }
}

.patient-search-wrapper {
  @media screen and (min-width: 960px) {
      padding: 0 5px;
  }
}