.search-wrapper{
	padding-bottom:5px;
	input{
		min-width:300px;
		padding-left:10px;
    &:focus {
      outline: 2px solid $clinicalFormFocus;
      background: $clinicalFormFocusBg;
    }
	}
}

.tab-content{
  overflow:hidden;
  padding:5px;
  background: $white;
  border: 1px solid $lightGray;
  border-radius: 0 5px 5px 5px;
  li{
    text-align: center;
    cursor:pointer;
    padding-top:10px;
    border: 1px solid $white;
    background: $lightestGray;
    .patient-name {
      font-size: 14px;
      color: $darkGray;
      text-transform: capitalize;
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px;
      line-height: 1.5em;
    }
    .patient-id {
      color: $mediumGray;
    }
    &:hover{
       border: 1px solid $lightGray;
       background: $lightestGray;
    }
  }
  .reg-srch-btn {
    margin: 3px 15px;
    button[disabled="disabled"] {
      cursor: not-allowed;
    }
  }
}

.patient-search-wrapper {
  width: 1014px;
  margin: 0 auto;
  .tabs {
    margin-top: 5px;
  }
  @media screen and (min-width: 960px) {
      padding: 0 5px;
  }
}
.active-patient {
  display: inline-block;
}
.smallImages{
    height: 70px;
    width: 70px;
}

/* revisit - active visits */
.active-visits{
    li{
        padding: 0 0 5px 0;
        border-radius: 10px;
        @media screen and (min-width: 1013px) {
          width: 14%;
        }
        @media screen and (max-width: 1013px) {
          width: 136px;
        }        
        @media screen and (max-width: 1005px) {
          width: 135px;
        }
        @media screen and (max-width: 1000px) {
          width: 134px;
        }
        @media screen and (max-width: 995px) {
          width: 133px;
        }
        @media screen and (max-width: 990px) {
          width: 132px;
        }
        @media screen and (max-width: 980px) {
          width: 130px;
        }
        @media screen and (max-width: 965px) {
          width: 128px;
        }
        @media screen and (max-width: 947px) {
          width: 126px;
        }
        @media screen and (max-width: 947px) {
          width: 126px;
        }
        @media screen and (max-width: 925px) {
          width: 125px;
        }
        @media screen and (min-width: 701px) and (max-width: 900px) {
          width: 19.7%;
        }
        @media screen and (min-width: 601px) and (max-width: 700px) {
          width: 24.6%;
        }
        @media screen and (min-width: 481px) and (max-width: 600px) {
          width: 32%;
        }
        @media screen and (max-width: 480px) {
          width: 32%;
          .patient-name{
            text-align: left;
            padding-left: 20px;
            width: 93px;
          }
        }
        div{
            @include font-size(0.9);
            color: $darkGray;
        }
    }
}