.program-dashboard{
  color: $black;
  strong{
    font-family: openSansSemiBold;
  }
  .typeOfPrograms {
    background: #cccccc;
    font-family: openSansSemiBold;
    font-size: 15px;
    padding: 10px;
  }
  .program-basic-details{
    @include clearfix();
    background: #eeeeee;
    padding: 5px 20px;
    .program-name{  }
    .program-start-date{
      padding-right: 50px;
    }
    .outcome-container{
      @include clearfix();
      text-align: right;
      padding-top: 6px;
    }
  }
  .program-attributes{
    padding: 20px 20px;
    .program-attribute{
      padding-bottom: 5px;
      .program-attribute-tilte{
          text-align: right;
      }
      .program-attribute-value{
          text-align: left;
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
  .program-table{
    padding: 0 20px 35px 20px;
    table{
      tr{
        border: none !important;
        th{
          background: #fff !important;
          border: none !important;
          font-family: openSansSemiBold;
          border-bottom: 2px #ccc solid !important;
          padding-left: 0;
        }
        td{
          border: none !important;
          padding-left: 0;
        }
      }
    }
  }
  .program-timeline{
    padding: 0 15px;
    width: 95%;
  }
}