.patientProgram-content-container{
  margin-top: 45px;
}
.program-enrollment-container{
  form.form-field{
    .field-attribute label{
      width: auto;
    }
    input[type="checkbox"]{
      margin-top:8px;
    }
  }

  .program-title{
    font-family: openSansSemiBold;
    color: #000;
    font-size: 20px;
    margin-top: 40px;
  }
  .button-group{
    @include clearfix;
    text-align: right;
    .button{
      float: right;
      margin-left:10px;
      cursor: pointer;
      color: #363463;
      box-shadow: none;
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      font-family: openSansSemiBold;
      &:hover , &:active , &:focus{
        color: #5B8989;
        text-decoration: underline;
        outline:none;
      }
    }
  }

  .programName {
    font-size: 16px;
    font-family: openSansSemiBold;
    margin-bottom: 5px;
  }

  a {
    &.back-btn{
      margin: 15px 0 0;
      width: 96%;
      float: none;
      .proggram-dashboard-text{
        text-align: center;
        display: inline-block;
        width: 100%
      }
    }
  }

  .state-list{
    margin-top: 10px;
    table{
      box-shadow: 1px 1px 5px rgba(0,0,0,.3);
      tbody{
        tr{
          border: none;
          &:nth-child(odd){
            background: #F9F4E7
          }
          &:nth-child(even){
            background: #FFF;
          }
          td{
            border: none;
          }
        }
      }
    }
  }
  //Program State

  .program-state-list {

  }
  .remove-state-container{
    overflow: hidden;
    border-bottom: 1px $lightGray solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .current-state-name{
      max-width: 135px;
      overflow: hidden;
      padding-right: 0 !important;
      span{
        font-family: openSansSemiBold;
        font-size: 12px;
      }
    }
    .row-remover{
      padding: 2px 4px !important;
    }
  }
}

.select-program-container{
  @include clearfix;
  background: #fff;
  margin: 30px auto 10px;
  border: 1px solid $bahmniSecondaryColor;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  .section-title {
    font-family: OpenSans,Arial,sans-serif;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    clear: both;
    background: #699;
    position: relative;
    border-radius: 2px 2px 0 0;
  }
  a{
    color: #ffffff;
    font-size: 16px;
    display: block;
    font-family: openSansSemiBold;
  }
  .select-program-option {
    padding: 10px 0px;
    &.form-field{
      .field-attribute label{
        width: auto;
      }
      article{
        padding-right: 15px;
        padding-bottom: 5px;
      }
    }
  }
}

.program-tiles{
  float: left;
  margin-bottom: 10px;
  margin-right: 0.5%;
  width: 33%;
  border: 1px solid #699;
  border-radius: 5px;
  padding: 15px 10px;
  line-height: 1.35;
  font-size: 13px;
  box-sizing: border-box;
  @media (max-width : 1024px){
    width:49.5%;
    margin-right: 1%;
    font-size: 14px;
  }
  &:nth-child(3n){
    margin-right: 0;
    @media (max-width : 1024px){
      margin-right: 1%;
    }
  }
  &:nth-child(even){
    @media (max-width : 1024px) {
      margin-right: 0;
    }
  }
  .program-tile{
    @include clearfix;
    .form-field{
      .field-value span{
        margin: 0.7em 0.8em 0em 0em;
        display: inline-block;
      }
      .field-attribute label{
        width:11em;
      }
    }

  }
  &.active-program-tiles{
    background: #fff;
  }
  &.inactive-program-tiles{
    background: $lighterGray;
    .form .form-field .field-attribute label{
      width: 11em;
    }
    .program-timeline .timeline-view svg .states .date-bg{
      fill: $lighterGray;
    }
  }
}

@import "programDisplayControl";

.program-timeline {
  .tool-tip {
    position: relative;
    display: inline-block;
    visibility: hidden;
    padding: 2px 6px;
    background: #E4E4E4;
    border-radius: 5px;
    font-size: 11px;
    font-family: openSansSemiBold;
  }

  .timeline-view {
    svg {
      width: 100%;
      height: 65px;

      .xaxis {
        text {
          font-size: 12px;
        }
        line {
          fill: none;
          stroke: black;
        }
        path {
          display: none;
        }
      }

      .states {
        text {
          font-size: 12px;
          pointer-events: none;
        }
        .label-bg {
          fill: #ABA8A8;
        }
        .label {
          fill: #FFFFFF;
        }
        .date {
          fill: #000000;
        }
        .date-line {
          stroke-width: 2px;
          stroke: #000000;
        }
        .date-bg {
          fill: #FFFFFF;
        }
      }

      polygon {
        fill: #ABA8A8;
      }
    }
  }
}

.delete-progam-container{
  textarea{
    padding: 5px;
    width: 94%;
    height: 120px;
    margin-bottom: 10px;
  }
}

table.investigation-chart {
    overflow: auto;
    display: table;
    height: auto;
    border: 1px solid #ddd;
    tr {
        border: 1px solid #ddd;
        position: relative;
        td {
            border-left: 1px solid #ddd;
        }
    }
    thead {
        th {
            position: -webkit-sticky;
            position: sticky;
            top: 40px;
            left: -1px;
            z-index: 10;
            border-left: 1px solid #ddd;
        }
        td {
            position: -webkit-sticky;
            position: sticky;
            top: 40px;
            z-index: 8;
            border-left: 1px solid #ddd;
            background: #eee;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            filter: alpha(opacity=90);
            -moz-opacity: 0.90;
            -khtml-opacity: 0.9;
            opacity: 0.9;
        }
    }
    tbody {
        th {
            position: -webkit-sticky;
            position: sticky;
            top: 5px;
            left: 0px;
            border-left: 1px solid #ddd;
            text-align: left;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    }
}

.fixed-column {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  left: 0px;
  border-left: 1px solid #ddd;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: #fff;
}

.expand-investigation-chart {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    >h2 {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 8;
    }
    h2 {
        >span {
            position: -webkit-sticky;
            position: sticky;
            top: 0px;
            z-index: 8;
            left: 22px;
        }
        >i {
            position: -webkit-sticky;
            position: sticky;
            top: 0px;
            z-index: 8;
            left: 5px;
        }
    }
}
