.program-enrollment-container {
  .placholder-text {
    padding: 10px;
  }
  .program-title {
    text-decoration: none;
    font-size: 16px;
    color: #2b95ff;
  }
  .program-action-container{
    width: 47%;
    background-color: #F3F2F2;
    padding: 5px 10px 10px;
    box-shadow: 3px 3px 10px #E4E0E0;
    border: 1px #d0d0d0 solid;
    border-radius: 0 0 3px 3px;
    margin-bottom: 10px;
    display: inline-block;
    select{
      height: 33px;
      float: left;
      max-width: 200px;
    }
    label{
      float: left;
      padding-right: 9px;
    }
    .btn-grp{
      margin-top: 10px;
      button{
        padding: 6px 15px;
      }
    }
  }

  .select-program-container {
    input, select {
      min-width: 0;
      width: 200px;
      display: inline-block;
      margin-top: 0;
      margin-right: 10px;
    }
    label.start-date-label {
      display: inline-block;
      margin-right: 20px;
      margin-left: 10px;
    }
    input {
      padding: 5px 10px !important;
    }
    select {
      height: 33px;
    }
    .select-program-option {
      padding: 10px 15px;
    }
  }

}

.program-row {
  padding: 5px 15px;
  border-bottom: 1px solid #669999;
}

.program-timeline {
  width: 100%;
  padding: 0px 0px 15px;
}

.program-details {
  display: inline-block;
  vertical-align: top;

  a {
    line-height: 25px;
    float: none;
    font-size: 14px;
  }
  span{
    display: inline-block;
    &.enrolled-info {
      display: inline-block;
      font-size: 12px;
      color: #666666;
      padding: 5px;
      &.enrolled-info-dash-board{
        padding: 0;
      }
    }
  }
}

.program-state-list {
  width: 100%;
  padding: 0px 20px;
  table{
    width: 98%;
  }
  .program-actions{
    padding: 15px 0px 0px 0px;
    button{
      padding: 6px 15px !important;
      &.tab-selected{
        padding-bottom: 11px !important;
        border-radius: 3px 3px 0 0;
        background: #F3F2F2;
        border-bottom: 1px #F3F2F2 solid;
        font-family: openSansBOld;
        &:hover{
          border-bottom: 1px #F3F2F2 solid;
        }
        &:focus{
          outline: none;
          border-color: #d0d0d0;
          border-bottom:none;
        }
      }
    }
  }
}

.program-dashboard{
  .program-timeline, .program-details {
    width: 100%;
  }
}

.inactive-program-container{
  label{
    padding: 2px 5px 2px 0;
    font-family: openSansSemiBold;
    display: inline-block;
  }
}
.program-stuff {
  overflow: hidden;
}

.program-timeline {
  .tool-tip {
    position: relative;
    display: inline-block;
    visibility: hidden;
    padding: 2px 6px;
    background: #E4E4E4;
    border-radius: 5px;
    font-size: 11px;
    font-family: openSansSemiBold;
  }

  .timeline-view {
    svg {
      width: 100%;
      height: 65px;

      .xaxis {
        text {
          font-size: 12px;
        }
        line {
          fill: none;
          stroke: black;
        }
        path {
          display: none;
        }
      }

      .states {
        text {
          font-size: 12px;
          pointer-events: none;
        }
        .label-bg {
          fill: #ABA8A8;
        }
        .label {
          fill: #FFFFFF;
        }
        .date {
          fill: #000000;
        }
        .date-line {
          stroke-width: 2px;
          stroke: #000000;
        }
        .date-bg {
          fill: #FFFFFF;
        }
      }

      polygon {
        fill: #ABA8A8;
      }
    }
  }
}


.dashboard-program-section {
  .program-title {
    background: #E4E4E4;
    margin: 0;
    padding: 7px;
    font-family: "OpenSansBold";
    color: #4B4B4B;
    font-size: 14px;
  }
  .programs-table {
    strong {
      font-family: "OpenSans";
      font-weight: 400;
    }
  }
}

.ngdialog.ngdialog-theme-default {
  &.end-program-dialog {
    .ngdialog-content {
      padding: 30px 20px;
    }
    .end-program-wrapper {
      overflow: hidden;
      input {
        min-width: 0;
        padding: 5px 10px;
        width: 200px;
      }
      select {
        height: 31px;
        min-width: 0;
        width: 200px;
      }
      .end-program-container {
        overflow: hidden;
        margin-bottom: 5px;
        padding: 0 6%;
        label.middle-align {
          padding-top: 10px;
        }
        .left-container {
          float: left;
          width: 43%;
          label {
            margin-top: 0;
          }
        }
        .right-container {
          float: right;
          width: 56%;
          label {
            margin-top: 0;
          }
        }
      }
      .btn-grp {
        margin-top: 10px;
        margin-right: 29px;
      }
    }
  }
}
