.program-enrollment-container {
  .placholder-text {
    padding: 10px;
  }
  .big-anchor {
    text-decoration: none;
    font-size: 16px;
    &:hover {
      text-decoration: underline
    }
  }
  .select-program-container {
    input, select {
      min-width: 0;
      width: 200px;
      display: inline-block;
      margin-top: 0;
      margin-right: 10px;
    }
    label.start-date-label {
      display: inline-block;
      margin-right: 20px;
      margin-left: 10px;
    }
    input {
      padding: 5px 10px !important;
    }
    select {
      height: 33px;
    }
    .select-program-option {
      padding: 10px 15px;
    }
  }

  .program-row {
    padding: 5px 15px;
    border-bottom: 1px solid #669999;
  }

  .program-timeline {
    width: 69%;
    display: inline-block;
  }

  .program-details {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    
    a {
      line-height: 30px;
    }

    .enrolled-info {
      font-size: 12px;
      color: #666666;
    }
  }

  .program-stuff {
    overflow: hidden;
  }

  div.legend {
    display: table;
    margin: 0 auto;
    .item {
      margin: 0;
      border-left: 0;
      border-right: 0;
      font-size: 14px;
      float: left;
      padding: 5px 10px;
      margin-right: 10px;
      color: #fff;
      border-radius: 3px;
    }
  }

  .timeline-view {
    svg {
      width: 100%;
      height: 75px;

      .xaxis {
        text {
          font-size: 12px;
        }
        line {
          fill: none;
          stroke: black;
        }
        path {
          display: none;
        }
      }

      .states {
        text {
          font-size: 12px;
        }
      }
    }
  }
}

.dashboard-program-section {
  .program-title {
    background: #E4E4E4;
    margin: 0;
    padding: 7px;
    font-family: "OpenSansBold";
    color: #4B4B4B;
    font-size: 14px;
  }
  .programs-table {
    strong {
      font-family: "OpenSans";
      font-weight: 400;
    }
  }
}

.ngdialog.ngdialog-theme-default {
  &.end-program-dialog {
    .ngdialog-content {
      padding: 30px 20px;
    }
    .end-program-wrapper {
      overflow: hidden;
      input {
        min-width: 0;
        padding: 5px 10px;
        width: 200px;
      }
      select {
        height: 31px;
        min-width: 0;
        width: 200px;
      }
      .end-program-container {
        overflow: hidden;
        margin-bottom: 5px;
        padding: 0 6%;
        label.middle-align {
          padding-top: 10px;
        }
        .left-container {
          float: left;
          width: 43%;
          label {
            margin-top: 0;
          }
        }
        .right-container {
          float: right;
          width: 56%;
          label {
            margin-top: 0;
          }
        }
      }
      .btn-grp {
        margin-top: 10px;
        margin-right: 29px;
      }
    }
  }
}
