.tele-consultation {
    position: absolute;
    z-index: 1000;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 100;
    height: 100;
}

.tele-consultation-header {
    padding: 10px;
    cursor: move;
    z-index: 1000;
    background-color: #2196F3;
    color: #fff;
}