html.no-touch {
	@media screen and (min-width: 1024px) {
		.treatment-page {
			.edit-drug-order { 
				form fieldset { 
					input[type="date"], select, select.ng-invalid {
						height: auto;
						line-height: 1;
					}
				}
			}
			div.start-date span {
				width: 110px;
			}
			.button-group-wrapper {
				.refill-btn, .stop-drug-btn {
					padding: 7px!important;
				}
				button, button:hover {
					i {
						font-size: 1.4em;
					}
				}
				button.dispense-btn, button:hover.dispense-btn {
					i {
						font-size: 1em;
					}
				}
			}
			
			.undo-btn {
			    min-width: 43px;
			}
		}
		&.windowos{
			.treatment-page {
				.frequency-widget.uniform-frequency
				{
					width: 375px;
				}
				.edit-drug-order form fieldset .duration-widget{
					margin: 0 4.8% 0 27px;
				}
			}
		}
	}

}