.treatment-page-container{
    font-size: 14px;
    .drug-details {
        line-height: 1.5em;
        padding-left: 10px;
        margin-top: 5px;
        width: 63%;
        float: left;
    }
    div.start-date span {
        line-height: 1em;
        padding-top: 7px;
        font-family: OpenSansItalic;
        font-size: 12px;
        color: $mediumGray;
        //display: inline-block;
        display: block;
        width: 130px;
        text-align: left;
        //float: left;
        &.stop-date{
            padding-bottom: 7px;
        }
    }
    .table-mimic{
        font-size: 12px;
    }
    .footer-note .time-stamp {
        display: inline-block;
        padding-right: 5px;
    }
    .button-group-wrapper {
        float: right;
        width: 215px;
        padding: 3px 0;
        .button-group {float: right;}
        button, button:hover {
            padding: 0; margin: 0;
            float: left;
            margin-right: 2px;

            i {
                font-size: 1.3em;
                color: $mediumGray;
                padding: 3px 0.2em;
                @media screen and (max-width: 1024px){
                    font-size: 1.8em;
                }
            }
        }
        .refill-btn, .stop-drug-btn {
            padding: 6px!important;
            @media screen and (max-width: 1024px){
                padding:9px 6px !important
            }
        }
        button.dispense-btn{
            font-family: OpenSansBold;
            color: #457fac;
            padding: 0 7px;
            width: auto;
            height: 24px;
            @media screen and (max-width: 1024px){
                height: 27px;
            }
            &:hover{
                padding: 0 7px;
            }
            i{
                color: #457fac;
                font-size: 1.2em;
                padding: 0;
            }
        }
    }
    .add-drug-btn{
        margin-top: 4px;
        margin-left: 5px;
        &.move-add-drug-btn{
        margin-top: 52px;
        }
    }
    .edit-drug-order {
        background: $white;
        padding: 6px 5px 6px 8px;
        .drug-options-wrapper{
            .accept-btn{
                margin-right: 5px;
                margin-top: 4px;
                padding: 6px 10px 7px;
            }
            .drug-name,textarea.drug-order-notes{
                min-width: 370px;
                margin-right: 10px;
                float: left;
                @media screen and (max-width: 1024px) {
                    width: 160px;
                    min-width: 160px;
                }
            }
            input[type="number"]{
                width: 35px;
                min-width: 35px;
                margin-right: 2px;
                padding-left: 5px;
                padding-right: 5px;
                margin-right: 2px;
                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            #uniform-dose{
                width: 105px;
            }
            input[type="date"]{
                padding-right: 0px;
                padding-left: 5px;
                width: 123px;
                &::-webkit-calendar-picker-indicator{
                }
                //&::-webkit-calendar-picker-indicator,&::-webkit-clear-button,&::-webkit-clear-button,
                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                    display: none;
                }
            }
            .start-date-label{
                padding: 0 5px 0 10px;
                @media screen and (max-width: 1024px) {
                    padding: 7px 5px 0 10px;
                }
            }
            /*textarea.drug-order-notes{
                min-width: 370px;
                clear: both;
                float: left;
                margin-right: 20px;
            }*/
            button{
                &.exchange-btn,&.showInfo-btn{
                    margin-top: 4px;
                    padding: 4px 8px 5px;
                    @media screen and (max-width: 1024px) {
                        padding: 6px 10px 7px;
                    }
                }
                &#SOS{
                    margin-right: 5px;
                    line-height: .9em;
                    margin-top: 4px;
                    @media screen and (max-width: 1024px) {
                        line-height: 1.3em;
                    }
                }
                &.exchange-btn{
                    margin-right: 4px;
                }
            }
            select, input[type="date"] {
                min-width: 110px;
                margin-right: 2px;
                @media screen and (max-width: 1024px) {
                    height: 32px;
                }
            }
            .frequency-widget-wrapper{
                //background: lighten($lightestGray, 3%);
                //padding: 0px 0px 5px 0px;
                float: left;
            }
            .frequency-widget {
                width: auto;
                float: left;
                &.uniform-frequency {
                }
                &.variable-frequency {
                    input[type="number"] {
                        min-width: 25px;
                        width: 25px;
                        padding-right: 0;
                    }
                }
            }
            .duration-widget{
                float: left;
                input[type="number"]{
                    width: 57px;
                    min-width: 57px;
                }
            }
            .quantity-widget {
                float: left;
                input[type="number"]{
                    width: 35px;
                    min-width: 35px;
                }
            }


        }

    }

    .drug-orders-history {
        margin: 10px 0;
        .drug-stop-container{
            font-size: 14px;
            width: 100%;
            padding-left: 10px;
            box-sizing: border-box;
            padding-right: 10px;
            padding-bottom: 10px;
            .field-attribute{
                &.stop-date-label{
                    .control-label{
                        width: auto;
                    }
                }
            }
            .field-value{
                margin-right: 5px;
                textarea{
                    height: 25px;
                    width: 540px;
                }
            }
        }
    }
    .new-drug-order {
        margin: 10px 0 0;
    }
    .highlight {
        background: $clinicalHighlight;
        border: 1px solid darken($clinicalHighlight, 10%);
    }
    .active-drug {
        border-left: 5px solid orange;
    }
    .scheduled-drug {
        border-left: 5px solid green;
    }
    .refill-drugs-btn,.dispense-all-btn {
        font-size: 14px;
        margin-right: 0;
        display: none;
        i{
            padding: 0;
            font-size: 14px;
        }
    }
    .dispense-all-btn{
        margin-right: 5px;
    }

    .bulk-edit-options-container{
        padding: 10px 10px 10px 10px;
        background-color: #EEEEEE;
        border-bottom: 1px #bbb solid;
        margin-bottom: 4px;
        box-shadow: 1px 2px 7px #ccc;
        .bulk-btn-container{
            .stepper__btn{
                height: 26px;
            }
        }
        .select-all-chkBox{
            top: 6px;
        }
        .duration.bulkDuration{
            min-width: 80px;
            display: inline-block;
            width: 80px;
            margin-top: 0;
        }
        select.bulk-duration-unit {
            min-width: 110px;
            display: inline-block;
            margin-top: 0;
            margin-right: 5px;
        }
        .bulk-update-btn{
            margin-left: 15px;
        }
    }
    .tabs .tab [type=radio]:checked~.dispense-all-btn,
    .tabs .tab [type=radio]:checked~.refill-drugs-btn {
        display: inline-block;
        line-height: 14px;
    }

    /*
    .invalid {
        background: lightcoral;
        border: 1px solid #ff0000;
    }
    .show-invalid .ng-invalid:enabled {
      border: 2px solid darken($clinicalFormInvalid, 30%);
      background: $clinicalFormInvalid;
    }
    .revise-refill-modal-wrapper {
        outline: 0;
    }
    */

}


