.treatment-page {
    font-size: 14px;
    .inline-notes {
        margin: 0;
        clear: both;
        padding: 2px 5px;
    }
    .table-mimic {
        font-size: 12px;
        li {
            padding: 0;
        }
        strong {
            font-family: $OpenSansBoldFont;
        }
    }
    .show-invalid .ng-invalid:enabled {
      border: 2px solid darken($clinicalFormInvalid, 30%);
      background: $clinicalFormInvalid;
    }
    .edit-drug-order {
        background: $white;
        padding: 3px 5px 7px 8px;
        margin: 35px 5px 10px 5px;
        form fieldset {
            overflow: auto;
            clear: both;
            .form-field {
                float: left;
            }
            input[type="text"], input[type="number"], select {
                min-width: 100px;
                margin-right: 3px;
            }
            input[type="date"] {
                height: 31px;
                box-sizing: border-box;
                line-height: 31px;
            }
            select, select.ng-invalid {
                height: 31px;
            }

            /*width*/
            .drug-name {
                width: 170px;
            }
            input[type="text"].dose, input[type="text"].duration, input[type="text"].quantity,
            input[type="number"].dose, input[type="number"].quantity {
                width: 70px;
                min-width: 50px;
                box-sizing: border-box;
            }
            input[type="number"].duration {
                width: 71px;
                min-width: 71px;
            }
            .route, .start-date {
                width: 100px;
                min-width: 155px;
            }
            .treatment-prn {
                float: left;
                margin-left: 10px;
                margin-top: 2px;
                button {
                    padding: 10px;
                }
            }

            .drug-order-notes {
                width: 80%;
                margin-right: 10px;
                height: 26px;
            }
            .or-seperator {
                line-height: 2.5em;
                display: inline-block;
                float: left;
                margin: 0 1%;
            }

            /*Widget*/
            .dose-cell input {
                min-width: 30px;
                width: 30px;
                float: left;
                padding-right: 0;
                margin-right: 5px;
            }
            .frequency-widget {
                background: lighten($lightestGray, 3%);
                padding: 5px 0 5px 5px;
                input, select {
                    margin-top: 0;
                }
            }
            .frequency-widget.uniform-frequency {
                float: left;
                width: 350px;
                @media screen and (max-width: 1024px) {
                    width: 360px;
                }
                .form-field {
                    float: left;
                }
            }
            .frequency-widget.variable-frequency {
                width: 315px;
                float: left;

                input[type="number"] {
                    min-width: 45px;
                }
                select {
                    width: 120px;
                    margin: 0;
                }
            }
            .duration-widget {
                float: left;
                margin: 0 3% 0 35px;
            }
            .quantity-widget {
                float: left;
                margin-left: 21px;
                .quantity-unit {
                    min-width: 100px;
                    padding-left: 10px;
                    display: inline-block;
                    line-height: 2.5em;
                }
            }
            .add-drug-btn {
                float: left;
                margin-top: 5px;
                margin-left: 8px;
            }
        }
    }
    .drug-orders-history {
        margin: 10px 5px 0 5px;

        .table-mimic li .drug-details{
            padding-left: 10px;
        }
        .table-mimic li.active-drug .drug-details{
            padding-left: 5px;
        }
    }
    .new-drug-order {
        margin: 0 5px;
    }


    /*Elements*/
    .drug-details {
        line-height: 1.5em;
        padding-left: 10px;
        margin-top: 5px;
        width: 65%;
        float: left;
    }
    div.start-date span {
        line-height: 1.5em;
        padding: 2px 5px;
        font-family: OpenSansItalic;
        font-size: 12px;
        color: $mediumGray;
        display: inline-block;
        width: 100px;
        text-align: left;
        float: left;
    }
    .button-group-wrapper {
        float: right;
        width: 215px;
        padding: 3px 0;
        .button-group {float: right;}
        button.dispense-btn, button:hover.dispense-btn,button.dispense-btn.selected {
            padding: 5px;
            width: auto;
            text-align: right;
            i {
                display: inline;
                color: $bahmniTertiaryColor;
                font-size: 1em;
            }
        }
        button.dispense-btn.selected{
          i {
            color: lighten($bahmniTertiaryColor,20%);
          }
        }

        button, button:hover {
            padding: 0; margin: 0;
            float: left;
            margin-right: 2px;

            i {
                font-size: 1.8em;
                color: $mediumGray;
                padding: 3px 0.2em;
            }
        }
        button.has-notes, button.has-notes:hover {
            i {
              color: orange;
            }
        }

      }

    .select-drug {
        float: left;
        margin-top: 8px;
    }
    .select-all-drugs-widget {
        @include clearfix();
        padding: 0 0 5px 5px;
    }

    .highlight {
        background: $clinicalHighlight;
        border: 1px solid darken($clinicalHighlight, 10%);
    }

    .invalid {
        background: lightcoral;
        border: 1px solid #ff0000;
    }
	.active-drug {
		border-left: 5px solid orange;
	}
	.scheduled-drug {
		border-left: 5px solid green;
	}

    .refill-drugs-btn {
        font-size: 14px;
        margin-right: 0;
        display: none;
    }

    .dispense-all-btn {
        font-size: 14px;
        margin-right: 0;
//        font-family: $primaryBoldFont;
        display: none;
    }

    .dispense-btn {
        font-family: $primaryBoldFont;
        color: $bahmniTertiaryColor; 
    }

    .tabs .tab [type="radio"]:checked ~ .refill-drugs-btn,
    .tabs .tab [type="radio"]:checked ~ .dispense-all-btn {
        display: inline-block;
        line-height: 14px;
    }

}


.treatment-page {
    button:focus {
        outline: 2px solid $clinicalFormFocus;
    }
}

.refill-icon {
    background: url("../images/refill-icon.png") center center no-repeat;
    width: 20px; height: 35px;
    display: inline-block;
}

.revise-refill-modal-wrapper {
    outline: 0;
}