.treatment-page {
    h2 {
        color:#66b298;
        border-bottom: 1px solid #66b298;
        padding:5px 0px;
        margin-bottom:10px;
        font-size: 18px;
        font-weight: normal;
    }
    .table-mimic {
        font-size: 14px;
        li {
            padding: 0 0 0 10px;
        }
        strong {
            font-family: "OpenSansBold";
        }
    }
    .edit-drug-order {
        background: #f9f9f9;
        padding: 3px 5px 7px 8px;
        margin: 35px 5px 20px 5px;
        form fieldset {
            overflow: auto;
            clear: both;
            .form-field {
                float: left;
            }
            input[type="text"], input[type="number"], select {
                min-width: 100px;
                margin-right: 5px;
            }
            select {
                height: 35px;
            }
            input[type="text"].drug-name {
                margin-right: 0;
            }

            /*width*/
            .drug-name {
                width: 230px;
            }
            input[type="text"].dose, input[type="text"].duration, input[type="text"].quantity,
            input[type="number"].dose, input[type="number"].duration, input[type="number"].quantity {
                width: 50px;
                min-width: 50px;
            }
            .route, .start-date {
                width: 100px;
                min-width: 155px;
            }
            .treatment-prn {
                float: right;
                width: 65px;
                padding-top: 10px;
                label {
                    margin-top: 3px;
                }
            }

            .drug-order-notes {
                width: 88%;
                margin-right: 10px;
                height: 26px;
            }
            .or-seperator {
                line-height: 2.5em;
                display: inline-block;
                float: left;
                margin-right: 5px;
            }

            /*Widget*/
            .dose-cell input {
                min-width: 30px;
                width: 30px;
                float: left;
                padding-right: 0;
                margin-right: 5px;
            }
            .frequency-widget {
                background: #eee;
                padding: 5px 0 5px 5px;
                input, select {
                    margin-top: 0;
                }
            }
            .frequency-widget.uniform-frequency {
                float: left;
                margin: 0 5px;
                width: 370px;
            }
            .frequency-widget.variable-frequency {
                width: 270px;
                float: left;
            }
            .duration-widget {
                float: left;
                margin: 0 21px;
            }
            .quantity-widget {
                float: right;
                margin-left: 21px;
            }
            .add-drug-btn {
                float: right;
                margin-top: 5px;
                margin-right: 5px;
            }
        }
    }
    .drug-orders-history {
        margin-top: 20px;
        .table-mimic li {
            padding-left: 5px;
        }
    }


    /*Elements*/
    .drug-details {
        float: left;
        line-height: 2.5em;
    }
    div.start-date span {
        line-height: 2.5em;
        font-family: OpenSansItalic;
        margin-right: 20px;
        color: #888;
    }
    .button-group {
        float: right;
        button, button:hover {
            padding: 0; margin: 0;
            float: right;
            background: none;
            border: 0;

            i {
                font-size: 1.7em;
                color: #666;
                padding: 0.2em;
            }
        }
    }

    .select-drug {
        float: left;
        margin-top: 8px;
    }
    .select-all-drugs-widget {
        @include clearfix();
        padding: 0 0 5px 6px;
    }
}