.opd-wrapper {overflow-x: hidden;}
#view-content .visit {padding: 10px;}
.visit {
  table tr:nth-child(even), table tr:nth-child(odd) {
    background: #fff;
  }
	h2{
  	color:#66b298;
    border-bottom: 1px solid #66b298;
  	padding:5px 0px;
  	margin-bottom:10px;
    font-size: 18px;
    font-weight: normal;
	}
  table 
	.info-message{
			padding:10px;
			color:red;
			border:1px solid #cecece;
	}
	.block{
		padding:10px 0;
	}
	.block-day{
		border:3px solid #67ad95;
		padding:10px;
			background:#fff;
			h1{
				color:#274b59;
				float:left;
				padding:0px 10px;
				font-family: OpenSansBold;
			}
		
	}
}
.visit {
  table tr th {
    background: #eee;
    background-image: none; 
  }
  table tr th.notes {
    background: #fef7e3;
    .accession {
      clear: both;
      overflow: auto;
      margin-bottom: 10px;
    }
  }
  table tbody {
    tr.test td{
      padding-top: 12px;
      font-size: 14px;
    }
    tr.test.abnormal td{
      color: red;
    }
    tr.test.abnormal td.lab-tech{
      color: #333;
    }
    tr.test.referred td span{
      background: #669999;
      color: #fff;
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      float: right;
    }
    tr.notes td {
      font-size: 13px;
      padding-bottom: 12px; 
    }
  }
  td {
    .datetime {
      background:url(../images/sprites.png) no-repeat;
      padding-left:23px;
      background-position: 0 -36px ;
      font-size: 14px;
      padding-bottom: 2px;
      display: inline-block;
      color: #333;
    }
  }

}
.visit .diagnosis h2, .visit .diagnosis .history-diagnosis {margin-bottom:0;}
.visit {
  .diagnosis .history-diagnosis .table-header {
    .col.col4 {
      float: right;
      width: 9%;
      padding: 10px;
      display: inline-block;
    }
  }
  .diagnosis .history-diagnosis .table-body {
    .row {background: #fff;}
    .placeholder {
      font-size: 14px;
      padding: 10px;
    }
    .diagnosis-name {
      padding: 10px;
      display: inline-block;
    }
    .col.col1 {
      .diagnosis-name.ruled-out {
          color: #777;
          text-decoration: line-through;
      }
    }
    .col.col4 {
      float: right;
      width: 8%;
      padding: 10px;
      display: inline-block;
    }
  }
}
.observation-section {
  h3 {
    font-family: OpenSansBold;
    margin-top: 10px;
  }
  .is-abnormal {
    color: red;
  }
}
.visit {
  .footer-note {
    text-align: right;
    padding: 0;
    .provider {
      float: none;
    }  
    .time-stamp {
      display: block;
    }
  }
  .current {
    font-size: 14px;
    margin-top: 5px;
    .date {
      text-transform: uppercase;
    }
    .time {
      color: #888;
      margin-left: 5px;
    }
    .provider {
      display: block;
      font-size: 12px;
      margin: 2px 0;
    }
  }
}
.disposition-state {
  font-size: 14px;
  float: left;
  span {
    color: #888;
    margin-left: 10px;
  }
}

.obs-concept {
  width: 80%;
}

.expander-row, .laborder-section li {
  padding: 5px 10px;
  // border-bottom: 1px solid #eee;
  clear: both;
  overflow: auto;
  padding-right: 0;
}
.disposition-section {
  li {
    border-bottom: 1px solid #eee;
    .toggle i {
        padding-right: 0;
    }
  }
}

.toggle {
  float: left;
  background: none;
  border: none;
  padding: 0;
  color: #666;
  // width: 26px; 
  &:hover {
    background: none;
    border: none;
  }
  &.has-notes {
    color: orange;
  }
  i {
    padding: 0 10px;
    font-size: 22px;
  }
}
.has-toggle-btn {
    border-right: 1px solid #fff!important;
}
.toggle-btn {
    padding: 0;
}

.consult-notes {
  margin: 0;
  padding: 10px!important;
  overflow: auto;
  h5 {
    font-family: OpenSansBold;
    float: left;
    margin-right: 10px;
  }
  .consult-notes-text {
    width: 80%;
    float: left;
  }
}

.consult-notes-item {
  border-top: 1px solid #ccc;
  overflow: auto;
  padding-top: 10px;
  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
}

.inline-notes {
  margin: 0 0 15px 0;
}

strong {
  font-family: OpenSansBold;
}

.drug-name, .dosage-days {width: 340px;}

.treatment-section {
  table {
    margin-top: 0;
    margin-bottom: 10px;
    tr.title th {
      background: #f6f6f6;
      font-size: 14px;
      white-space: nowrap;
    }
    tr td {
      font-size: 14px;
    }
    .drug-name {
      font-size: 16px;
    }
    .drugorder-date {
      text-transform: uppercase;
    }
    .dosage-form {
      white-space: nowrap;
    }
    .dosage-days {
      .inline-notes {
        margin-top: 10px;
      }
    }
  }
}
.visit .treatment-section table tr td {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.visit .ipd-treatment-section {
  table {
    width: 100%; border-collapse: collapse; border-spacing: 0;
    display: block; position: relative;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
    margin-top: 0;
    th, td { margin: 0; vertical-align: top; }
    th { text-align: left; background: #eee;}
    th.drug {font-family: "OpenSans", Arial, sans-serif;}

    thead { display: block; float: left; }
    tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    thead tr { display: block; border: 0;}
    th { display: block;}
    tbody tr { display: table-cell; vertical-align: top; border-top: 0;}
    td { display: block; min-height: 1.71em; text-align: left; }

      /* sort out borders */
    th { border-bottom: 0; border-left: 0; }
    td { border-left: 0; border-right: 0; border-bottom: 0; }
  }
}
table.ipd-investigation {
  width: 100%; border-collapse: collapse; border-spacing: 0;
  display: block; position: relative;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  font-size: 14px;
  margin-top: 0;
  th, td { margin: 0; vertical-align: top; }
  th { text-align: left; background: #eee;}
  th.drug {font-family: "OpenSans", Arial, sans-serif;}

  thead { display: block; float: left; }
  tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
  thead tr { display: block; border: 0;}
  th { display: block;}
  tbody tr { display: table-cell; vertical-align: top; border-top: 0;}
  td { display: block; min-height: 1.71em; text-align: left; }

    /* sort out borders */
  th { border-bottom: 0; border-left: 0; }
  td { border-left: 0; border-right: 0; border-bottom: 0; }
  .belongsToPanel {padding-left: 25px; font-family: sans-serif;}
}
.ipd-test-results {
  padding: 3px 5px;
  border-right: 1px solid #eee;
}
.one-result.ipd-test-results {border:0}
.laborder-section, .observation {
  .temp-class {
    font-family: OpenSansBold;
  }
  table {
    margin-top: 0;
    td {font-size: 14px;}  
    td.name {
      padding: 5px 10px;
    }
    td.value {
      .obs-value {
        float: left;
        width: 60%;
      }
    }
  }

}
.observation table tr td{
  padding: 2px 10px;
  &.headerRow {
    background: #f6f6f6;
    font-family: OpenSansBold;
    padding: 5px;
    color: #666;
  }
  &.name {
    padding-left: 20px;
  }
  &.value {
    .obs-value {
      margin-top: 5px;
    }
  }
}
.laborder-item, .obs-item {
  background: #eee;
  color: #555555;
  text-align: left;
  padding: 10px 7px 10px 7px;
  border: 1px solid #DDD;
  display: block;
}
.dshbf .dshbf .dshbf {
  padding: 0!important;
  // padding-bottom: 0!important;
}
.dshbf {
  padding-left: 0!important;
  padding-right: 0!important;
}
.obs-item .labresults-item {
  margin: 10px 0;
}
td.value {
  width: 500px;
}
// .concept-set {
//   background: #ccc;
// }

.fl {float: left;}
.fr {float: right;}

td.header {
  background: #eee;
  color: #555555;
  padding: 10px 7px;
}

span.range {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
  .units {color: #ccc;}
}

.laborder-section {
  table {
    margin-bottom: 10px;
    th {padding-right: 10px;}
    th.notes.inline-notes {
      font-family: "OpenSans", Arial, sans-serif;
    }
    tr.header td {
      background: #f4f4f4;
      font-family: OpenSansBold;
      color: #888;
    }
    tr.header.pending-result td{
      font-family: "OpenSans", Arial, sans-serif;
      color: #333;
    }
    tr.pending-result {
      .status {
        color: #cc6600;
        float: right;
      }
    }
  }
  td.belongsToPanel {
    padding-left: 30px;
    span {
      display: block;
    }
    span.range {
      font-size: 12px;
    }
  }
}
.radiology-investigations {
  .radiology-doc-item {
    clear: both;
    border-bottom: 1px solid #eee;
    a {
      display: block;
      padding: 5px;
      width: 85%;
      float: left;
      font-size: 14px;
      &:hover {
        text-decoration: none;
        background: #eee;
        cursor: pointer;
        border-right: 1px solid #ccc;
      }
      i {padding-left: 0;}
    }
  }
}
.toggle-btn {
  padding: 2px;
  font-family: arial;
  font-size: 14px;
}

.dosage-days {
  .dosage {
    float: left;
  }
  .copy {
    font-size: 14px;
    color: #888;
  }    
  .prn {
    display: block;
    margin-top: 5px;
    font-size: 12px;
  }
}

.visit-actions {
  button {
    float: right;
    margin-left: 5px;
    padding: 8px 10px;
  }
}

//disposition tab - temp placed here
.disposition-tab {
  padding: 15px 5px;
  textarea {
    margin: 10px 0;
    width: 97%;
  }
  label {
    float: left;
    margin-right: 10px;
  }
  label.disposition-notes {
    margin-bottom: 10px;
  }
}
//disposition tab - temp placed here
 .no-visit {
  padding: 30px 10px;
  color: #666;
  border: 1px solid #ccc;
  background: #ddd;
  margin-top: 10px;
  text-align: center;
  border-radius: 3px;
}
.row-click {
  cursor: pointer;
}
.visit .history-diagnosis .diagnosis-row .view-past {
  cursor: default;
}
.concept-set-group {
  padding: 10px;
  margin-bottom: 20px;
  background: #f9f9f9;
  .checkbox-inline {
    input[type="checkbox"], label.add-new.checkbox-btn {
      width: auto!important;
      margin-left: 0 !important;
    }
    label.add-new.checkbox-btn {
      margin: 4px;
    }
  }
}
legend.mylegend {background: #f6f6f6!important;}

.visits-nav-bar {
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    .prev-visit, .next-visit {
        @include button;
        color: #a1d030;
        display: inline-block;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: #88af28;
        }
    }
    .prev-visit.disabled, .next-visit.disabled {
        color: #ccc;
        &:hover {
            cursor: not-allowed;
        }
    }
    .visit-details {
        display: inline-block;
        background: #eee;
        padding: 10px;
        border: 1px solid #ccc;
        color: #888;
        min-width: 190px;
        .visit-date {
            color: #333;
            font-family: OpenSansBold;
        }
    }
    i.icon-caret-right, i.icon-caret-left {
        padding: 0;
    }
}

.observation table tr td.toggle-btn {
    width: 50px;
    padding: 0;
}
.observation table tr td.value img {
    width: 30px;
    height: 30px;
    border: 3px solid #ccc;
    cursor: pointer;
    &:hover, &:active {
        opacity: 0.8;
    }
}

// Work in progresss - this _visit.scss needs cleaning!


