.visit {
  table tr:nth-child(even), table tr:nth-child(odd) {
    background: #fff;
  }
	h2{
  	color:#66b298;
    border-bottom: 1px solid #66b298;
  	padding:5px 0px;
  	margin-bottom:10px;
    font-size: 18px;
    font-weight: normal;
	}
  table 
	.info-message{
			padding:10px;
			color:red;
			border:1px solid #cecece;
	}
	.block{
		padding:10px 0;
	}
	.block-day{
		border:3px solid #67ad95;
		padding:10px;
			background:#fff;
			h1{
				color:#274b59;
				float:left;
				padding:0px 10px;
				font-family: OpenSansBold;
			}
		
	}
	aside{
		h2{
			background:none;
			color: #000;
		}
		a{
			color:#fff;
		}
		&.visit-history{
			position:fixed;
			margin-top:11px;
			padding:10px;
			right:0px;
			width:200px;
			background:#185472;
			height:100%;
			opacity:0.9;
			min-height:500px;
			overflow: hidden;
			border-left: 7px solid #979494;
			top: 40px;
			ul,h2{
				width:200px;
			}
			li{
				padding: 8px 6px;
				border-right:1px solid #fff;
			}
		}
		.visit-history-entry {
			&.selected {
				background:#407b94;
			}
			&.active {
				color: #fafafa;			}
		}
        .summary {
			&.selected {
				background:#407b94;
			}
		}
		&.drawerClose{
			padding:10px 0px 10px 20px;
		}
	}
}
.visit {
  table tr th {
    background: #eee;
    background-image: none; 
  }
  table tr th.notes {
    background: #fef7e3;
    .accession {
      clear: both;
      overflow: auto;
      margin-bottom: 10px;
    }
  }
  table tbody {
    tr.test td{
      padding-top: 12px;
      font-size: 14px;
    }
    tr.test.abnormal td{
      color: red;
    }
    tr.test.abnormal td.lab-tech{
      color: #333;
    }
    tr.test.referred td span{
      background: #669999;
      color: #fff;
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      float: right;
    }
    tr.notes td {
      font-size: 13px;
      padding-bottom: 12px; 
    }
  }
  td {
    .datetime {
      background:url(../images/sprites.png) no-repeat;
      padding-left:23px;
      background-position: 0 -36px ;
      font-size: 14px;
      padding-bottom: 2px;
      display: inline-block;
      color: #333;
    }
  }

}

.diagnosis-section {
  ul li {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    clear: both;
    overflow: auto;
    .history {
      clear: both;
      background: #eee;
      position: relative;
      margin: 0 -10px -5px -10px;
      padding: 5px 10px;
      .revised, .previous-state {
        clear: both;
        font-size: 14px;
      }
      .revised {padding-bottom: 10px;text-align: right;color: #cc6600;}
      .previous-state {
        color: #888;
        .diagnosis-name {padding-top: 5px;}
      }
    }
    .diagnosis-name.ruled-out {
      color: #777;
      text-decoration: line-through;
    }
    .diagnosis-name {
      float: left;
      width: 38%;
    }
    .current {
      float: left;
    }
    .diagonsis-order {
      float: right;
      width: 20%;
      font-size: 14px;
      margin-top: 5px;
    }
    .certainty, .status {
      font-size: 12px;
      color: #888;
    }
    .status {
      float: right;
      color: #333;
    }
  }
}
.observation-section {
  h3 {
    font-family: OpenSansBold;
    margin-top: 10px;
  }
  .is-abnormal {
    color: red;
  }
}
.visit {
  .footer-note {
    text-align: right;
    padding: 0;
    .provider {
      float: none;
    }  
    .time-stamp {
      display: block;
      margin-bottom: 5px;
    }
  }
  .current {
    font-size: 14px;
    margin-top: 5px;
    .date {
      text-transform: uppercase;
    }
    .time {
      color: #888;
      margin-left: 5px;
    }
    .provider {
      display: block;
      font-size: 12px;
      margin: 2px 0;
    }
  }
}

.temp-class {
  float: left;
}

.obs-concept {
  width: 80%;
}

.expander-row, .laborder-section li {
  padding: 5px 10px;
  // border-bottom: 1px solid #eee;
  clear: both;
  overflow: auto;
  padding-right: 0;
}
.disposition-section {
  li {
    border-bottom: 1px solid #eee;
  }
}

.toggle {
  float: left;
  background: none;
  border: none;
  padding: 0;
  &:hover {
    background: none;
    border: none;
  }
  i {
    padding: 0 10px;
    color: #666;
  }
}

.consult-notes {
  margin: 0;
  padding: 10px!important;
  overflow: auto;
  h5 {
    font-family: OpenSansBold;
    float: left;
    margin-right: 10px;
  }
  .consult-notes-text {
    width: 80%;
    float: left;
  }
}

.consult-notes-item {
  border-top: 1px solid #ccc;
  overflow: auto;
  padding-top: 10px;
  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
}

.inline-notes {
  margin: 0 0 15px 0;
}

strong {
  font-family: OpenSansBold;
}

.drug-name, .dosage-days {width: 340px;}

.treatment-section {
  table {
    margin-top: 0;
    margin-bottom: 10px;
    tr td {
      font-size: 14px;
    }
    .drug-name {
      font-size: 16px;
    }
    .drugorder-date {
      text-transform: uppercase;
    }
    .dosage-days {
      .inline-notes {
        margin-top: 10px;
      }
    }
  }
}
.laborder-section, .observation {
  .temp-class {
    font-family: OpenSansBold;
  }
  table {
    margin-top: 0;  
    td.name {
      padding: 5px;
    }
    td.value {
      .obs-value {
        float: left;
        width: 80%;
      }
    }
  }

}
.laborder-item, .obs-item {
  background: #eee;
  color: #555555;
  text-align: left;
  padding: 10px 7px 10px 7px;
  border: 1px solid #DDD;
  display: block;
}
.dshbf .dshbf .dshbf {
  padding: 0!important;
  // padding-bottom: 0!important;
}
.dshbf {
  padding-left: 0!important;
  padding-right: 0!important;
}
.obs-item .labresults-item {
  margin: 10px 0;
}
td.value {
  width: 500px;
}
// .concept-set {
//   background: #ccc;
// }

.fl {float: left;}
.fr {float: right;}

td.header {
  background: #eee;
  color: #555555;
  padding: 10px 7px;
}

span.range {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
  .units {color: #ccc;}
}

.laborder-section {
  table {
    margin-bottom: 10px;
    th {padding-right: 10px;}
    th.notes.inline-notes {
      font-family: "OpenSans", Arial, sans-serif;
    }
    tr.header td {
      background: #f4f4f4;
      font-family: OpenSansBold;
      color: #888;
    }
    tr.header.pending-result td{
      font-family: "OpenSans", Arial, sans-serif;
      color: #333;
    }
    tr.pending-result {
      .status {
        color: #cc6600;
        float: right;
      }
    }
  }
}

.dosage-days {
  .dosage {
    float: left;
  }
  .copy {
    font-size: 14px;
    color: #888;
  }    
  .prn {
    display: block;
    margin-top: 5px;
    font-size: 12px;
  }
}
 
// Work in progresss - this _visit.scss needs cleaning!


