.vitals{
	padding:2px 0px 0px 10px;
	.form-field{
		padding-bottom: 10px;
	}
	.field-attribute{
		width:18em;
		label{
			text-transform: uppercase;
		}
		.label-add-on{
	        float:left;
	        text-align:left;
	        margin:0.5em 0em 0em 0em;
	    }
    }
    fieldset{
    	margin-top:10px;
        margin-bottom:10px;
    	position:relative;
    	width:96%;
        fieldset{
    	legend{
    		position:absolute;
    		top:-14px;
    		left:20px;
    		background:#fff;
    		padding:5px 10px;
    		font-family: OpenSansBold;
    		color:#A8A5A5;
    	}
         .form-field-group{
            &:first-child{
                padding-top:15px;
                border-top:1px solid #cecece;
                border-right:1px solid #cecece;
                border-left:1px solid #cecece;
            }
            &:last-child{
                border-bottom:1px solid #cecece;
                border-right:1px solid #cecece;
                border-left:1px solid #cecece;
                padding-bottom:15px;
            }
        }
        }

    }
    
}

show-concept{
    input:invalid {
        background-color: #FF9494;
    }
}