<!-- <header class="template-header">
    <button id="backButton" class="ngdialog-close back-btn" ng-click="closeThisDialog()">
        <i class="fa fa-arrow-circle-left"></i>
    </button>
    <h5>
        <i class="fa fa-user"></i> 
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    
</header> -->
<div class="template-container">
    <h6> {{ 'ALL_KEY' | translate }} {{section | titleTranslate}}</h6>
    <section id="orderControlSection" class="block observation dashboard-section" >
        <orders-control patient="patient" order-type="section.orderType" config="section.allOrdersDetails" section="section" is-on-dashboard="false"></orders-control>
    </section>
</div>
