<div class="program-row"  ng-class='{"no-past-program":program.states.length==0}'>
    <div class="program-details">
        <div>
            <table class="programTable">
                <tr>
                    <td  class="programName">
                        <i class="fa fa-caret-right" ng-hide="program.isOpen" ng-click="showProgramAttributes(program)"></i>
                        <i class="fa fa-caret-down" ng-show="program.isOpen" ng-click="showProgramAttributes(program)"></i>
                        {{program.display}}
                    </td>
                    <td class="pastProgramState">{{getCurrentStateDisplayName(program)}}</td>
                    <td class="programStartDate">Start Date: <span> {{program.dateEnrolled | bahmniDate}} </span></td>
                    <td class="programStopDate">Stop Date: <span> {{program.dateCompleted | bahmniDate}} </span></td>
                </tr>
            </table>
        </div>
        <div ng-if="program.isOpen" class="programDescription activeProgramAttributeFields">
            <h2 class="programAttribute-title">{{'PROGRAM_MANAGEMENT_LABEL_PROGRAM' | translate}} Attributes</h2>
            <a class="back-btn dashboard-link fr" id="dashboard-link"
               ui-sref="patient.dashboard.show({
           patientUuid: patient.uuid,
           programUuid: program.program.uuid,
           conceptSetGroupName: 'observations',
           dateEnrolled: program.dateEnrolled,
           dateCompleted: program.dateCompleted})">
                <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
            <span class="patient-info">
                <span class="patient-name" >{{program.display}}</span>
                <span class="patient-id">{{patient.identifier}}</span>
            </span>
            </a>
            <program-attributes program="program" program-attribute-types = "programAttributeTypes"></program-attributes>
            <div class="program-timeline-container" ng-if="program.states.length!=0 && program.isOpen">
                <h2 class="programAttribute-title">{{'PROGRAM_MANAGEMENT_PROGRAM_STATES_KEY' | translate}}</h2>
                <div class="program-timeline">
                    <timeline program="program"></timeline>
                </div>
                <button ng-click="toggleDetail(program)" ng-class="{'tab-selected': program.editing}" class="fr detail-btn" >
                    <span>Details</span>
                    <i class="fa fa-expand"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="program-state-list" ng-if="program.editing">
        <div class="down-arrow-container"></div>
        <div class="state-list">
            <table>
                <tbody>
                <tr ng-repeat="state in program.states| orderBy:'auditInfo.dateCreated':true" ng-if="state.voided != true">
                    <td>{{state.state.concept.display}}</td>
                    <td ng-if="state.endDate">{{state.startDate | bahmniDate}} to {{state.endDate | bahmniDate}}</td>
                    <td ng-if="!state.endDate">Started on {{state.startDate | bahmniDate}}</td>
                    <td>By {{state.auditInfo.creator.display}} on {{state.auditInfo.dateCreated | bahmniDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>