<div class="program-row">
    <div class="program-details">
        <a ng-href="#/patient/{{patient.uuid}}/dashboard" class="big-anchor">{{program.display}}</a>
        <span class="enrolled-info"> ({{program.dateEnrolled | bahmniDate}} - {{program.dateCompleted | bahmniDate}})</span>
        <button ng-click="toggleEdit(program)" ng-class="{'tab-selected': patientProgram.editing}" >Details</button>
        <div>
            <label>Outcome:</label><span> {{program.outcome.display}}</span>
        </div>
    </div>
    <div class="program-timeline" ng-if="program.states.length!=0">
        <timeline program="program"></timeline>
    </div>
    <div class="program-state-list" ng-if="program.editing">
        <table class="state-list">
            <tbody>
            <tr ng-repeat="state in program.states" ng-if="state.voided != true">
                <td>{{state.state.concept.display}}</td>
                <td ng-if="state.endDate">{{state.startDate | bahmniDate}} to {{state.endDate | bahmniDate}}</td>
                <td ng-if="!state.endDate">Started on {{state.startDate | bahmniDate}}</td>
                <td>By {{state.auditInfo.creator.display}} on {{state.auditInfo.dateCreated | bahmniDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>