<div class="program-row">
    <div class="program-details">
        <a ng-href="#/patient/{{patient.uuid}}/dashboard" class="big-anchor">{{program.display}}</a>
        <span class="enrolled-info"> ({{program.dateEnrolled | bahmniDate}} - {{program.dateCompleted | bahmniDate}})</span>
        <div>
            <label>Outcome:</label><span> {{program.outcome.display}}</span>
        </div>
    </div>
    <div class="program-timeline" ng-if="program.states.length!=0">
        <timeline program="program"></timeline>
    </div>

</div>