<div class="program-enrollment-container">
    <div class="select-program-container form">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">
                <!--<i class="fa fa-caret-right"></i>-->
                <i class="fa fa-caret-down"></i>
                {{'PROGRAM_MANAGEMENT_SELECT_PROGRAM_KEY' | translate}}
            </h2>

            <form class="select-program-option" ng-submit="enrollPatient()">
                <select ng-model="programSelected" ng-options="program.name for program in allPrograms" data-ng-change="setWorkflowStates(programSelected)">
                    <option value="">{{'PROGRAM_MANAGEMENT_CHOOSE_PROGRAM_KEY' | translate}}</option>
                </select>
                <label class="start-date-label"><strong>{{'PROGRAM_MANAGEMENT_START_DATE_KEY' | translate}}</strong> <span class="value">{{programEnrollmentDate | bahmniDate}}</span></label>
                <select ng-if="hasStates(programSelected)" ng-model="$parent.workflowStateSelected" ng-options="state.concept.display for state in programWorkflowStates">
                    <option value="">{{'PROGRAM_MANAGEMENT_CHOOSE_STATE_KEY' | translate}}</option>
                </select>

                <input type="submit" value="{{'PROGRAM_MANAGEMENT_ENROLL_KEY' | translate}}"/>

                <a class="back-btn dashboard-link fr" id="dashboard-link"
                   ui-sref="patient.dashboard.show({patientUuid: patient.uuid,conceptSetGroupName: 'observations'})">
                    <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
                        <span class="patient-info">
                         <span class="patient-name">{{patient.name}}</span>
                         <span class="patient-id">{{patient.identifier}}</span>
                        </span>
                </a>
                <section ng-hide="programSelected == null" class="programAttributeFields">
                    <h2 class="programAttribute-title" ng-if="programAttributeTypes.length>0">Program Attributes</h2>

                    <attribute-types target-model="patientProgramAttributes" attribute="attribute"
                                     ng-repeat="attribute in programAttributeTypes"
                                     class="form-field clearfix"></attribute-types>
                </section>
            </form>
        </section>
    </div>

    <div class="active-program-container" id="activePrograms" ng-show="hasPatientEnrolledToSomePrograms()">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">
                <i class="fa fa-caret-right"></i>
                <!--<i class="fa fa-caret-down"></i>-->
                {{'PROGRAM_MANAGEMENT_ACTIVE_PROGRAM_KEY' | translate}}
            </h2>
            <div ng-if="hasPatientEnrolledToSomePrograms()">
                <div ng-repeat="patientProgram in activePrograms" class="program-stuff">
                    <ng-include src="'../common/uicontrols/programmanagement/views/programRow.html'" ng-init="active=true"></ng-include>
                </div>
            </div>

<!--            <div class="note-container" ng-show="!hasPatientEnrolledToSomePrograms()">
                <div class="note warning">
                    <div class="text placholder-text">
                        <p>{{'PATIENT_NOT_ENROLLED_TO_PROGRAMS_MESSAGE_KEY' | translate}}</p>
                    </div>
                </div>
            </div>-->
        </section>
    </div>

    <div class="inactive-program-container" ng-show="hasPatientAnyPastPrograms()">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">
                <i class="fa fa-caret-right" ></i>
                <!--<i class="fa fa-caret-down"></i>-->
                {{'PROGRAM_MANAGEMENT_PAST_PROGRAM_KEY' | translate}}
            </h2>

            <div ng-if="hasPatientAnyPastPrograms()">
                <div ng-repeat="program in endedPrograms" class="program-stuff">
                    <ng-include src="'../common/uicontrols/programmanagement/views/pastProgramRow.html'" ng-init="active=false"></ng-include>
                </div>
            </div>

            <!--<div class="note-container" ng-show="!hasPatientAnyPastPrograms()">
                <div class="note warning">
                    <div class="text placeholder-text">
                        <p>{{'PATIENT_DOESNT_HAVE_PREVIOUS_PROGRAMS_MESSAGE_KEY' | translate}}</p>
                    </div>
                </div>
            </div>-->
        </section>
    </div>
</div>