<div class="program-enrollment-container">
    <div class="select-program-container form">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">Select Program</h2>

            <div class="select-program-option">
                <select ng-model="programSelected" ng-options="program.name for program in allPrograms" ng-required="1==1" data-ng-change="getWorkflowStates(programSelected)">
                    <option value="">Choose program</option>
                </select>
                <label class="start-date-label"><strong>Start Date:</strong> <span class="value">{{programEnrollmentDate | bahmniDate}}</span></label>
                <select ng-model="workflowStateSelected" ng-options="state.concept.display for state in programWorkflowStates" ng-required="1==1">
                    <option value="">Choose State</option>
                </select>
                <input type="date" ng-model="programEnrollmentDate"/>
                <button type="submit" ng-click="enrollPatient()">Enroll</button>
            </div>
        </section>
    </div>

    <div class="active-program-container" id="activePrograms">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">Active Programs</h2>

            <div ng-if="hasPatientEnrolledToSomePrograms()">
                <div ng-repeat="program in activePrograms" class="program-stuff">
                    <div class="program-details">
                        <a ng-href="#/patient/{{patient.uuid}}/dashboard" class="big-anchor">{{program.display}}</a>
                        <span>(Enrolled on {{program.dateEnrolled | bahmniDate}})</span>

                        <div class="program-actions">
                            <button ng-click="toggleEdit(program)">Edit</button>
                            <button ng-click="toggleEnd(program)">End</button>
                        </div>
                        <div ng-if="program.ending" class="end-program-container">
                            <label class="middle-align">Outcomes</label>
                            <select ng-model="program.outcomeData" ng-options="outcomeSelected.display for outcomeSelected in outcomes(program)">
                                <option value="">Choose OutCome</option>
                            </select>
                            <br/>

                            <button class="retro-widget-button ok_btn" ng-click="endProgram(program)">OK</button>
                        </div>

                        <div ng-if="program.editing" class="end-program-container">
                            <label class="middle-align">Remove "Unknown"</label>
                            <input type="checkbox"/>
                            <br/>

                            <label class="middle-align">Change "Unknown" to</label>
                            <select ng-model="workflowStateSelected" ng-options="state.concept.display for state in program.program.allWorkflows[0].states">
                                <option value="">Choose State</option>
                            </select>
                            <br/>

                            <button class="retro-widget-button ok_btn" ng-click="savePopUpData()">OK</button>
                        </div>
                    </div>
                    <div class="program-timeline">
                        <timeline id="sample" config="states"></timeline>
                    </div>
                </div>
            </div>

            <div class="note-container" ng-show="!hasPatientEnrolledToSomePrograms()">
                <div class="note warning">
                    <div class="text placholder-text">
                        <p>The Patient has not enrolled to any programs</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="inactive-program-container">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">Past Programs</h2>
            <table ng-show="hasPatientAnyPastPrograms()">
                <thead>
                <tr>
                    <th class="slno_col"><strong>Sl.No</strong></th>
                    <th><strong>Program</strong></th>
                    <th><strong>Date Enrolled</strong></th>
                    <th><strong>End Date</strong></th>
                    <th><strong>Outcome</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="program in endedPrograms">
                    <td>{{$index + 1}}</td>
                    <td>
                        {{program.display}}
                    </td>
                    <td>{{program.dateEnrolled | bahmniDate}}</td>
                    <td>{{program.dateCompleted | bahmniDate}}</td>
                    <td>{{program.outcome.display}}</td>
                </tr>
                </tbody>
            </table>
            <div class="note-container" ng-show="!hasPatientAnyPastPrograms()">
                <div class="note warning">
                    <div class="text placeholder-text">
                        <p>The Patient doesn't have any previous programs</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>