<div class="program-enrollment-container">
    <div class="select-program-container form">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">Select Program</h2>
            <div class="select-program-option">
                <select ng-model="programSelected" ng-options="program.name for program in allPrograms" ng-required="1==1" data-ng-change="getWorkflowStates(programSelected)">
                    <option value="">Choose program</option>
                </select>
                <label class="start-date-label"><strong>Start Date:</strong> <span class="value">{{programEnrollmentDate | bahmniDate}}</span></label>
                <select ng-model="workflowStateSelected" ng-options="state.concept.display for state in programWorkflowStates" ng-required="1==1">
                    <option value="">Choose State</option>
                </select>
                <input type="date" ng-model="programEnrollmentDate"/>
                <button type="submit" ng-click="enrollPatient()">Enroll</button>
            </div>
        </section>
    </div>

    <div class="active-program-container">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">Active Programs</h2>
            <table ng-show="hasPatientEnrolledToSomePrograms()">
                <thead>
                <tr>
                    <th class="slno_col"><strong>Sl.No</strong></th>
                    <th><strong>Program</strong></th>
                    <th><strong>Date Enrolled</strong></th>
                    <th><strong>Action</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="program in activePrograms">
                    <td>{{$index + 1}}</td>
                    <td>
                        <a ng-href="#/patient/{{patient.uuid}}/dashboard">{{program.display}}</a>
                    </td>
                    <td>{{program.dateEnrolled | bahmniDate}}</td>
                    <td>
                        <button ng-click="popupHandler(program)">End</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <timeline id="sample" config="states"></timeline>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="note-container" ng-show="!hasPatientEnrolledToSomePrograms()">
                <div class="note warning">
                    <div class="text placholder-text">
                        <p>The Patient has not enrolled to any programs</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="inactive-program-container">
        <section class="block dashboard-section">
            <h2 class="section-title ng-binding">Past Programs</h2>
            <table ng-show="hasPatientAnyPastPrograms()">
                <thead>
                <tr>
                    <th class="slno_col"><strong>Sl.No</strong></th>
                    <th><strong>Program</strong></th>
                    <th><strong>Date Enrolled</strong></th>
                    <th><strong>End Date</strong></th>
                    <th><strong>Outcome</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="program in endedPrograms">
                    <td>{{$index + 1}}</td>
                    <td>
                        {{program.display}}
                    </td>
                    <td>{{program.dateEnrolled | bahmniDate}}</td>
                    <td>{{program.dateCompleted | bahmniDate}}</td>
                    <td>{{program.outcome.display}}</td>
                </tr>
                </tbody>
            </table>
            <div class="note-container" ng-show="!hasPatientAnyPastPrograms()">
                <div class="note warning">
                    <div class="text placeholder-text">
                        <p>The Patient doesn't have any previous programs</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>