<div class="dashboard-regimen-section" id="regimen">
    <h2 ng-if="!isClickable()" class="section-title">{{section | titleTranslate}}</h2>

    <div ng-if="isClickable()" class="dashboard-tabular-obs-section">
        <h2 ng-dialog="../common/displaycontrols/drugOGram/views/allDrugOGram.html"
            ng-dialog-controller="AllDrugOGramDetailsController"
            ng-dialog-data="{{dialogData}}"
            ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page"
            class="section-title has-link">
            <span class="title-link"> {{section | titleTranslate}} </span>
            <i class="fa fa-external-link"></i>
        </h2>
    </div>

    <section bindonce="regimen" class="block regimen dashboard-section">
        <table>
            <th>Date</th>
            <th ng-repeat="header in regimen.headers">{{header.shortName || header.name}}</th>
            <tr ng-repeat="row in regimen.rows">
                <td>{{row.date | bahmniDate}}</td>
                <td ng-repeat="header in regimen.headers" ng-class="{'stopped': row.drugs[header.name] == 'STOP'}">
                    {{ row.drugs[header.name] }}
                </td>
            </tr>
        </table>
    </section>

</div>