@charset "UTF-8";
@import "../common/_commons.scss";
.container {
    @include clearfix;
    max-width: $max-page-width;
    margin: 0 auto;

    @media screen and (max-width: $max-page-width) {
        padding: 0 10px;
    }
}

.opd-header-wrapper {
    @include clearfix;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 10px;
    box-sizing: border-box;
    background: $bahmniSecondaryColor;
    height: 52px;
    width: 100%;

    &.dashboard-header,
    &.clinical-consultation {
        padding: 0;

        @media screen and (min-width: 769px) {
            padding: 0 10px;
        }
    }
    .additional-header {
        display: inline-block;
        width: calc(100% - 135px);
    }
    header {
        position: relative;
        color: $lightGray;
        height: 50px;
        border-radius: 0;
        background: $bahmniSecondaryColor;
        line-height: 1em;
        max-width: $max-page-width;
        margin: 0px auto;

        .header-logo {
            display: block;
            width: 35px;
            margin: 8px auto;

            img {
                display: block;
                width: 35px;
                border-radius: 17px;
                box-shadow: 0 8px 6px -7px $black;
            }
        }

        ul {
            display: inline-block;

            &.user-info {
                float: right;
            }

            li {
                @include font-size(0.9);
                display: table;
                float: left;

                &.logoff {
                    margin: 2px 0px 2px 0px;

                    button {
                        padding: 8px;
                        margin-top: 1px;
                        background: darken($bahmniSecondaryColor, 10%);
                        border: 1px solid $bahmniPrimaryColor;

                        &:hover {
                            background: darken($bahmniSecondaryColor, 5%);
                            color: $white;
                        }
                    }
                }

                a {
                    cursor: pointer;

                    &.user-name {
                        color: $lightGray;

                        &:hover {
                            text-decoration: none;
                            cursor: default;
                        }
                    }

                    &.back-btn-noIcon {
                        color: #fff;
                        padding: 0 !important;
                        margin: 21px 10px 0 !important;
                        display: block;

                        &.active {
                            font-family: $primaryBoldFont;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                }
            }
        }

        .btn-user-info {
            @extend .user-actions;
        }
    }

    .opd-header-bottom {
        border-radius: 0px;
        position: relative;
        margin: 0px;
        max-width: $max-page-width;
        margin: 0px auto;

        .dashboard-header-right-wrapper {
            float: right;
        }

        .header-tabs {
            float: left;
            margin-top: 6px;
            margin-left: 20px;
            list-style: none;
        }

        .grouped-buttons {
            float: left;
            padding-top: 6px;
            margin: 0 10px;

            .btn--left {
                padding-left: 10px;
                padding-right: 10px;
                margin-right: 10px;
            }

            @media screen and(max-width:470px) {
                margin: 0;
            }
        }

        .dialog-button-group {
            margin-top: 6px;
            float: left;
            padding: 5px 10px;
            font-size: 14px;
            height: 40px;
        }

        .start-tele-consultation {
            clear: none;
            margin-right: 10px;
            cursor: pointer;
            margin-top: 10px;
        }

        .print {
            clear: none;
        }

        .header-scrollable-tabs {
            @media screen and (min-width: 769px) {
                max-width: calc(100% - 350px);
            }

            @media screen and (min-width: 1025px) {
                max-width: calc(100% - 450px);
            }

            @media screen and (max-width: 768px) {
                float: none;
                margin: 0;
            }
        }
    }

    .header-scrollable-tabs {
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 96px;
            max-width: 100%;
            float: none;
            margin: 0;
            z-index: 999;
        }
    }

}

.opd-wrapper {
    position: relative;
    margin: 0px;
    min-height: 860px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;

    .opd-content-wrapper {
        max-width: $max-page-width;
        margin: 0 auto;
        box-sizing: border-box;

        @media screen and (max-width: $max-page-width) {
            padding: 0 10px;
        }

        nav.navbar {
            background: #F8F8F8;
            overflow: hidden;
            padding: 5px 5px;
            margin: 15px 0;
            border-radius: 3px;

            .navbar-right {
                float: right;
            }
        }
    }
}

.offline-ui {
    z-index: 100007;
}

.hidden-mobile {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.hidden-tablet-above {
    @media screen and (min-width: 769px) {
        display: none;
    }
}