$retroModeColor:  #0E74AF;

.retro-mode {
  .reg-header, .opd-header-wrapper {
	border-top: 4px solid orange;
	header{
		height: 46px;
	}
	&, header {
	  background: $retroModeColor;
	}
	a.back-btn, button.back-btn, ul li a.back-btn, .back-btn-link,.recent-patients .recent-patients-header button {
	  &, &:before {
		background: darken($retroModeColor, 10%);
		border-color: darken($retroModeColor, 12%);
		color: #fff;
	  }
	}
	a.back-btn, button.back-btn{
		margin: 4px 6px 0 0px;
	}
	button.toggle-patient {
	  background-color: darken($retroModeColor, 10%);
	  border-color: darken($retroModeColor, 15%);
	  margin: 3px 0;
	}
	.tabs ul li.tab-item {
	  a,  button {
		background: darken($retroModeColor, 6%);
		padding: 12px 15px;
	  }
	  &.tab-selected a, &.tab-selected button {
		background: white;
	  }
	  .tab-submenu ul, .tab-submenu .submenu-item {
		border-color: darken($retroModeColor, 6%);
		background: darken($retroModeColor, 6%);
	  }
	}
  }
  .retro-date-widget {
	color: #0a5580;
  }
  .retro-date-text {
	color: black;
	display: inline-block;
	position: absolute;
	top: 0;
	background: orange;
	font-weight: bold;
	left: 50%;
	padding: 9px 10px;
	font-size: 14px;
	border-radius: 0 0 5px 5px;
	transform: translateX(-50%);
  }
  .recent-patients,.opd-header-wrapper .opd-header-bottom .grouped-buttons{
  	padding-top: 4px;
  }

}
.reg-header, .opd-header-wrapper {
  .retro-date-widget {
	float: right;
	padding: 1px 10px;
  }
  input.retro-date-widget {
	height: 25px;
	margin: 10px 0;
	&.disabled-date {
	  background-color: lightgrey;
	}
  }
  label.retro-date-widget {
	margin: 17px 0 15px;
	color: black;
  }
}

.patient-control-panel .retro-date-widget {
  margin-left: 28px;
  color: white;
  .retro-mode & {
	color: orange;
  }
}

.reg-header, .opd-header-wrapper, .patient-control-panel {
  input.retro-date-widget.disabled-date {
	background: none;
	border: 0;
  }
}