<div id="messages" class="messages">
  <div class="info-message" ng-show="success"><p>File(s) updated successfully</p></div>
  <div class="error-message" ng-show="orientation_warning"><p><i class="icon-exclamation-sign"></i>The device is not held upright. Please rotate the device before taking photo</p></div>
</div>

<ul class="doc-upload-accordion">
  <li id="newVisit" image-gallery="visit-new" reverse-counter="true">
    <h1 ng-click="resetCurrentVisit(newVisit)">
      <i ng-hide="isCurrentVisit(newVisit)" class="icon-plus-sign state"></i>
      <i ng-if="isCurrentVisit(newVisit)" class="icon-minus-sign state"></i>
      Visit: New
    </h1>
    <div ng-if="isCurrentVisit(newVisit)" class="visit-content">
      <form name="newVisitForm" ng-submit="save(newVisit)">
          <p class="caution" ng-show="newVisitForm.startDate.$error.overlap">
              <i class="icon-exclamation-sign small"></i>
              <span>There is already a visit that exists within the entered dates. Please upload documents against appropriate visit.</span>
          </p>
          <p class="caution" ng-show="newVisitForm.startDate.$error.future">
              <i class="icon-exclamation-sign small"></i>
              <span >Visit date should not be in the future.</span>
          </p>
          <p class="caution" ng-show="newVisitForm.startDate.$error.dateSequence">
              <i class="icon-exclamation-sign small"></i>
              <span >Start Date should not be greater than End Date.</span>
          </p>

        <div class="form-field">
          <div>
            <label><strong>Visit Type</strong>
              <span class="asterick">*</span>
            </label>
          </div>
          <div class="field-value">
            <select ng-model="newVisit.visitType" ng-options="vt.display for vt in visitTypes" ng-required="newVisit.images.length >0">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="form-field">
          <div>
            <label class="form-attribute"><strong>Start Date</strong>
              <span class="asterick">*</span>
            </label>
          </div>
          <div class="field-value">
            <input name="startDate" type="date" ng-model="newVisit.startDatetime"
                   dependent-model="newVisit.stopDatetime" date-validator ng-blur="setDefaultEndDate(newVisit)"
                   ng-required="newVisit.images.length >0" class="field-value" placeholder="dd-mm-yyyy"/>
          </div>
        </div>
        <div class="form-field">
          <div>
            <label class="form-attribute"><strong>End Date</strong></label>
          </div>
          <div class="field-value">
              <input name="endDate" type="date" ng-model="newVisit.stopDatetime" dependent-model="newVisit.startDatetime" date-validator class="field-value" placeholder="dd-mm-yyyy">
          </div>
        </div>
        <div class="upload-inline-buttons">
          <input id="file-browse" type="file" name="image" accept="image/*" capture="camera" file-upload visit="newVisit" on-select="setConceptOnImage" default-concept="defaultConcept">
          <label for="file-browse" class="btn btn-primary" ng-click="resetCurrentVisit(newVisit)"><i class="icon-camera icon-white"></i> SCAN</label>
          <button type="submit" ng-disabled="newVisit.images.length == 0 || newVisitForm.$invalid" class="btn btn-primary">
            <i class="icon-save icon-white"></i> SAVE
          </button>
        </div>

        <ul class="files">
          <li class="clear" ng-repeat="image in newVisit.images">
            <div class="file">
              <img image-gallery-item="{{image.encodedValue}}" ng-src="{{image.thumbnail}}" title="{{image.getTitle()}}" width="100">
              <input class="concept-name" ng-model="image.concept.editableName" bahmni-autocomplete source="getConcepts" response-map="getDataResults" on-select="onConceptSelected(image)" required placeholder="Enter a value" title="Select a value from autocomplete" pattern="{{escapeRegExp(image.concept.name)}}" blur-on-select="true"/>
            </div>
            <div>
              <button type="button" ng-click="newVisit.removeNewAddedImage(image)" class="row-remover"><span class="icon-remove"></span></button>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </li>

  <li ng-repeat="visit in visits">
    <h1 ng-click="resetCurrentVisit(visit)">
      <i ng-hide="isCurrentVisit(visit)" class="icon-plus-sign state"></i>
      <i ng-if="isCurrentVisit(visit)" class="icon-minus-sign state"></i>
      Visit: <small>From: </small>
      <span>{{visit.startDatetime | date:'dd-MMM-yy'}}</span>
      <small ng-if="visit.stopDatetime">To: </small>
      <span ng-if="visit.stopDatetime">{{visit.stopDatetime | date:'dd-MMM-yy'}}</span>
      <span ng-if="visit.hasImages()" class="containsImageMarker" title="Visit has images"><i class="icon-picture"></i></span>
      <span ng-if="!visit.stopDatetime" class="currentVisitMarker" title="Current Visit"><i class="icon-star"></i></span>
    </h1>
    <div class="visit-content" ng-if="isCurrentVisit(visit)" image-gallery="visit-{{visit.uuid}}" reverse-counter="true">
      <form name="{{'visit' + $index}}" ng-submit="save(visit)" ng-disabled="!visit.changed">
        <ul>
          <li>
            <ul class="files">
              <li>
                <div class="file-actions">
                  <button type="submit" ng-disabled="!visit.changed" class="btn btn-primary">
                    <i class="icon-save icon-white"></i> SAVE
                  </button>
                </div>
              </li>

              <li>
                <input id="file-browse-{{visit.uuid}}" type="file" name="image" accept="image/*" capture="camera" file-upload visit="visit" on-select="setConceptOnImage" default-concept="defaultConcept">
                <label class="placeholder btn" for="file-browse-{{visit.uuid}}"><i class="icon-plus needsclick"></i></label>
              </li>

              <li ng-repeat="image in visit.images" >
                <div class="file">
                  <img ng-src="{{image.thumbnail}}" image-gallery-item="{{image.encodedValue}}" title="{{image.getTitle()}}" width="100">
                  <input class="concept-name" ng-model="image.concept.editableName" bahmni-autocomplete source="getConcepts" response-map="getDataResults" on-select="onConceptSelected(image)" required placeholder="Enter a value" title="Select a value from autocomplete" pattern="{{escapeRegExp(image.concept.name)}}" blur-on-select="true"/>
                </div>
                <div class="file-remove">
                  <button type="button" ng-click="visit.removeNewAddedImage(image)"  class="row-remover"><span class="icon-remove"></span></button>
                </div>
              </li>

              <li ng-repeat="image in visit.savedImages">
                <div class="file">
                  <img image-gallery-item="{{image.encodedValue}}" title="{{image.getTitle()}}" ng-src="{{image.thumbnail}}" width="100" ng-class="{true:'transparent', false:'opaque'}[image.voided]"/>
                  <input name="{{'image'+$index}}" class="concept-name saved" ng-model="image.concept.editableName" bahmni-autocomplete source="getConcepts" response-map="getDataResults" on-select="onConceptSelected(image)" required placeholder="Enter a value" title="Select a value from autocomplete" pattern="{{escapeRegExp(image.concept.name)}}" blur-on-select="true" ng-change="visit.markAsUpdated()" ng-disabled="image.voided"/>
                </div>
                <div class="file-remove">
                  <button type="button" ng-click="visit.toggleVoidingOfImage(image)" ng-if="canDeleteImage(image)" class="row-remover"><span ng-class="{'icon-remove': !image.voided, 'icon-undo': image.voided }"></span></button>
                </div>
              </li> 
            </ul>
          </li>
        </ul>
      </form>
    </div>
  </li>
</ul>
