<div id="messages" class="messages">
    <div class="info-message" ng-show="success"><p>File(s) updated successfully</p></div>
    <div class="error-message" ng-show="orientation_warning"><p><i class="fa fa-exclamation-sign"></i>The device is not
        held upright. Please rotate the device before taking photo</p></div>
</div>
<div ng-if="toggleGallery">
    <ul class="doc-upload-accordion" bm-gallery patient="patient" access-impression="false">
        <li id="newVisit">
            <h5 ng-click="resetCurrentVisit(newVisit)">
                <i ng-hide="isCurrentVisit(newVisit)" class="fa fa-plus-circle state"></i>
                <i ng-if="isCurrentVisit(newVisit)" class="fa fa-minus-circle state"></i>
                Visit: New
            </h5>

            <div ng-show="isCurrentVisit(newVisit)" class="visit-content">
                <form name="newVisitForm" single-submit="save(newVisit)">
                    <p class="caution" ng-show="newVisitForm.startDate.$error.overlap">
                        <i class="fa fa-exclamation-sign small"></i>
                        <span>There is already a visit that exists within the entered dates. Please upload documents against appropriate visit.</span>
                    </p>

                    <p class="caution" ng-show="newVisitForm.startDate.$error.future">
                        <i class="fa fa-exclamation-sign small"></i>
                        <span>Visit date should not be in the future.</span>
                    </p>

                    <p class="caution" ng-show="newVisitForm.startDate.$error.dateSequence">
                        <i class="fa fa-exclamation-sign small"></i>
                        <span>Start Date should not be greater than End Date.</span>
                    </p>

                    <div class="form-field">
                        <div>
                            <label><strong>Visit Type</strong>
                                <span class="asterick">*</span>
                            </label>
                        </div>
                        <div class="field-value">
                            <select ng-model="newVisit.visitType" ng-options="vt.display for vt in visitTypes"
                                    ng-required="newVisit.hasFiles()">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-field">
                        <div>
                            <label class="form-attribute"><strong>Start Date</strong>
                                <span class="asterick">*</span>
                            </label>
                        </div>
                        <div class="field-value">
                            <input name="startDate" type="date" ng-model="newVisit.startDatetime"
                                   dependent-model="newVisit.stopDatetime" date-validator
                                   ng-blur="setDefaultEndDate(newVisit)"
                                   ng-required="newVisit.files.length >0" class="field-value" placeholder="yyyy-mm-dd"/>
                        </div>
                    </div>
                    <div class="form-field">
                        <div>
                            <label class="form-attribute"><strong>End Date</strong></label>
                        </div>
                        <div class="field-value">
                            <input name="endDate" type="date" ng-model="newVisit.stopDatetime"
                                   dependent-model="newVisit.startDatetime" date-validator class="field-value"
                                   placeholder="yyyy-mm-dd">
                        </div>
                    </div>
                    <div class="upload-inline-buttons">
                        <input id="file-browse" type="file" multiple name="image" accept="application/pdf, image/*"
                               capture="camera" file-upload visit="newVisit" on-select="onSelect">
                        <label for="file-browse" class="btn btn-primary"><i
                                class="fa fa-camera fa fa-white"></i> SCAN</label>
                        <button type="submit"
                                ng-disabled="!newVisit.hasFiles() || newVisitForm.$invalid || newVisit.hasErrors()"
                                class="btn btn-primary">
                            <i class="fa fa-save fa fa-white"></i> SAVE
                        </button>
                    </div>
                </form>
                <form>
                    <ul class="files">
                        <li class="clear" ng-repeat="file in newVisit.files | reverse">
                            <div class="file">
                                <a class="pdf-link fl" ng-if="isPdf(file)" ng-href="{{file.encodedValue}}"
                                   target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                                <img ng-if="!isPdf(file)" bm-gallery-item visit-uuid="'new'" visit-order="0"
                                     image="file" index="{{file.imageIndex}}"
                                     ng-src="{{file.thumbnail}}" width="100">
                                <input name="{{'file'+$index}}" class="concept-name" ng-readonly="!canDeleteFile(file)"
                                       ng-model="file.concept.editableName" bahmni-autocomplete source="getConcepts"
                                       response-map="getDataResults" on-select="onConceptSelected(file)"
                                       is-invalid="conceptNameInvalid" on-edit="onEditConcept(file)" required
                                       placeholder="Enter a value" strict-select="true"
                                       blur-on-select="true"/>
                                <button type="button" toggle="show"
                                        class="comment-toggle fr" tabindex="-1" ng-class="{'has-notes': file.comment}">
                                    <i class="fa fa-file-o">
                                        <i class="fa fa-plus-circle"></i>
                                        <i class="fa fa-minus-circle"></i>
                                    </i>
                                    <i class="fa fa-file-text-o"></i>
                                </button>

                                <div ng-if="show" class="obs-comment-section" >
                                    <label class="control-label"></label>
                                    <div class="field-value" ng-if="show">
                                            <textarea class="obs-comment-section" maxlength="255" ng-model="file.comment" ng-change="enableSaveButtonOnCommentChange(file, visit)"
                                                      placeholder="{{ 'NOTES_LABEL'|translate }}" msd-elastic>
                                            </textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" ng-click="newVisit.removeNewAddedFile(file)"
                                        class="row-remover"><span
                                        class="fa fa-remove"></span></button>
                            </div>
                        </li>
                    </ul>
                </form>

            </div>
        </li>

        <li ng-repeat="visit in visits">
            <h5 ng-click="resetCurrentVisit(visit)">
                <i ng-hide="isCurrentVisit(visit)" class="fa fa-plus-circle state"></i>
                <i ng-if="isCurrentVisit(visit)" class="fa fa-minus-circle state"></i>
                Visit:
                <small>From:</small>
                <span>{{visit.startDatetime | bahmniDate}}</span>
                <small ng-if="visit.stopDatetime">To:</small>
                <span ng-if="visit.stopDatetime">{{visit.stopDatetime | bahmniDate}}</span>
                <span ng-if="visit.hasFiles()" class="containsImageMarker" title="Visit has images"><i
                        class="fa fa-picture-o"></i></span>
                <span ng-if="!visit.stopDatetime" class="currentVisitMarker" title="Current Visit"><i
                        class="fa fa-star"></i></span>
            </h5>
            <div class="visit-content" ng-show="isCurrentVisit(visit)">
                <form name="{{'visit' + $index}}" single-submit="save(visit)" ng-disabled="!visit.changed">
                    <ul>
                        <li>
                            <ul class="files">
                                <li>
                                    <div class="file-actions">
                                        <button type="submit" ng-disabled="!visit.changed || visit.hasErrors()"
                                                class="btn btn-primary">
                                            <i class="fa fa-save fa fa-white"></i> SAVE
                                        </button>
                                    </div>
                                </li>

                                <li>
                                    <input id="file-browse-{{visit.uuid}}" type="file" multiple name="image-document-upload"
                                           accept="application/pdf,image/*" capture="camera" file-upload visit="visit"
                                           on-select="onSelect">
                                    <label class="placeholder btn" for="file-browse-{{visit.uuid}}"><i
                                            class="fa fa-plus needsclick"></i></label>
                                </li>
                                <li ng-repeat="file in visit.files | reverse">
                                    <div class="file">
                                        <a class="pdf-link fl" ng-if="isPdf(file)" ng-href="{{file.encodedValue}}"
                                           target="_blank">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </a>
                                        <img ng-if="!isPdf(file)" bm-gallery-item index="{{file.imageIndex}}"
                                             visit-uuid="visit.uuid" visit-order="{{$parent.$index+1}}" image="file"
                                             ng-src="{{file.thumbnail}}" width="100"
                                             ng-class="{true:'transparent', false:'opaque'}[file.voided]"/>
                                        <input name="{{'file'+$index}}" ng-readonly="!canDeleteFile(file)"
                                               class="concept-name" ng-class="{saved: visit.isSaved(file)}"
                                               ng-model="file.concept.editableName" bahmni-autocomplete
                                               source="getConcepts" response-map="getDataResults"
                                               on-select="onConceptSelected(file)" is-invalid="conceptNameInvalid"
                                               on-edit="onEditConcept(file)"
                                               required placeholder="Enter a value"
                                               blur-on-select="true" ng-blur="visit.markAsUpdated()"
                                               ng-disabled="file.voided"/>
                                        <button type="button" toggle="show"
                                                class="comment-toggle fr" tabindex="-1" ng-class="{'has-notes': file.comment}">
                                            <i class="fa fa-file-o">
                                                <i class="fa fa-plus-circle"></i>
                                                <i class="fa fa-minus-circle"></i>
                                            </i>
                                            <i class="fa fa-file-text-o"></i>
                                        </button>

                                        <div ng-if="show" class="obs-comment-section" >
                                            <label class="control-label"></label>
                                            <div class="field-value" ng-if="show">
                                            <textarea class="obs-comment-section" maxlength="255" ng-model="file.comment" ng-change="enableSaveButtonOnCommentChange(file, visit)" ng-readonly="!canDeleteFile(file)"
                                                placeholder="{{ 'NOTES_LABEL'|translate }}" msd-elastic>
                                            </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="file-remove">
                                        <button type="button" id="remove-image{{$index}}"
                                                ng-click="visit.removeFile(file)" ng-if="canDeleteFile(file)"
                                                class="row-remover"><span
                                                ng-class="{'fa fa-remove': !file.voided, 'fa fa-undo': file.voided }"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </li>
    </ul>
</div>