<form>
    <fieldset>
        <legend>Add Diagnoses</legend>
        <div style="height:300px;border:2px solid; text-align: center">
            <div id="selectedNodesArea">
                <div ng-repeat="diagnosis in diagnosisList" class="selectedDiagnosis">
                    {{diagnosis.conceptName()}}
                    <buttons-radio class="btn-group" data-toggle="buttons-radio" model='diagnosis.order' options='orderOptions'></buttons-radio>
                    <buttons-radio class="btn-group" data-toggle="buttons-radio" model='diagnosis.certainty' options='certaintyOptions'></buttons-radio>
                    <span class="icon-remove icon-white" ng-click="removeObservation(diagnosis)"></span>
                </div>

                <input class="roundedInput" placeholder={{placeholder}} ui-autocomplete id="autoCompleteInput" style="display: inline-block;">
            </div>
        </div>
    </fieldset>
</form>
