<form>
    <fieldset>
        <legend>&nbsp;</legend>
        <div class="diagnosis">
            <div id="selectedNodesArea">
                <div class="table">
                    <div class="row table-header">
                        <div class="col col1">Diagnosis</div>
                        <div class="col col2">Order</div>
                        <div class="col col3">Certainty</div>
                    </div>

                    <div ng-repeat="diagnosis in diagnosisList" class="table-body">
                        <div class="row">
                            <div class="col col1">
                                <input ng-model="diagnosis.concept.conceptName" type="text" name="name" value="{{diagnosis.conceptName()}}" ui-autocomplete ng-change="clearEmptyRows()" tabindex="1">
                            </div>
                            <div class="col col2">
                                <buttons-radio class="btn-group" data-toggle="buttons-radio" model='diagnosis.order' options='orderOptions' tabindex="2"/>
                            </div>
                            <div class="col col3">
                                <buttons-radio class="btn-group" data-toggle="buttons-radio" model='diagnosis.certainty' options='certaintyOptions'></buttons-radio>
                            </div>
                            <div class="col col4">
                                <button type="button" ng-click="removeObservation($index)" ng-show="diagnosis.concept.conceptName">
                                    <span class="icon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
