<article class="consultation">
    <div class="header-action">
        <button ng-click="save()" class="confirm">Save</button>
    </div>
    <section class="block investigation">
        <h2>Diagnoses</h2>
        <ul class="block-content">
            <div ng-repeat="encounterTransaction in encounterTransactions" >
                <li ng-repeat="diagnosis in encounterTransaction.diagnoses" >
                        <span ng-show="isPrimary(diagnosis.order)">P</span>
                        <span ng-show="!isPrimary(diagnosis.order)">S</span>
                        <span>{{diagnosis.codedAnswer.name}}</span>
                        <span ng-hide = "isConfirmedDiagnosis(diagnosis.certainty)">({{diagnosis.certainty}})</span>
                        <span>{{formatDate(diagnosis.diagnosisDate)}} </span>
                        <span>{{encounterTransaction.providers[0].name}}</span>
                </li>
            </div>
            <div ng-show="!hasDiagnosis(encounterTransactions)">A diagnosis has not been made for this patient yet.</div>
        </ul>
    </section>
        <section class="block investigation" ng-show="hasDisposition(encounterTransactions)">
        <h2>Disposition</h2>
        <ul class="block-content">
            <div ng-repeat="encounterTransaction in encounterTransactions" >
                <li ng-show=encounterTransaction.disposition>
                    <span>{{encounterTransaction.disposition.code}}</span>
                    <span>{{formatDate(encounterTransaction.disposition.dispositionDate)}}</span>
                    <span>{{encounterTransaction.providers[0].name}}</span>
                    <span ng-repeat="note in encounterTransaction.disposition.additionalObs">
                        <expander class='expander'>
                        {{note.value}}
                    </expander>
                    </span>
                </li>
            </div>
        </ul>
    </section>
    <section class="block investigation">
        <h2>Investigation</h2>
        <ul class="block-content">
            <li ng-repeat="investigation in consultation.investigations" ng-class="{panel: investigation.isSet, voided: investigation.voided}">
                <span>{{investigation.name}}</span>
                <span ng-show="investigation.isSet" class="panel">P</span>
            </li>
        </ul>
        <ng-include src="'modules/consultation/views/labResults.html'" ng-init="labResults=consultation.labResults"/>
    </section>
<!--     <section class="block diagnosis">
        <h2>Diagnosis</h2>
        <div class="block-content" ng-show="consultation.diagnoses.length > 0">
            <div class="diagnosis-type">
                <h3>Primary Diagnoses</h3>
                <div ng-repeat="diagnosis in consultation.diagnoses" ng-show="diagnosis.isPrimary()">
                    {{diagnosis.conceptName()}}&nbsp;({{diagnosis.certainty}})
                </div>
            </div>
            <div class="diagnosis-type">
                <h3>Secondary Diagnoses</h3>
                <div ng-repeat="diagnosis in consultation.diagnoses" ng-hide="diagnosis.isPrimary()">
                    {{diagnosis.conceptName()}}&nbsp;({{diagnosis.certainty}})
                </div>
            </div>
        </div>
    </section> -->
    <section class="block treatment">
        <h2>Treatment</h2>
         <div  class="block-content" ng-include src="'modules/consultation/views/treatmentDrugs.html'"></div>
    </section>
    
    <section class="block">
        <h2>Observations</h2>
        <section class="block" ng-repeat="obs in observationList">
            <show-obs observation="obs"></show-obs>
        </section>
    </section>

    <section class="block consultationNote">
        <h2>Consultation Notes</h2>
        <ul class="block-content">
            <li ng-repeat="note in consultation.consultationNotes">
                <span>{{note.value}}</span>
                &nbsp;&nbsp;
                <span>{{note.obsDatetime | date:'d MMM, yyyy @ h:mma'}} </span>
            </li>
        </ul>
    </section>
    
    <section class="notes">
        <textarea ng-model="consultationNote.value" placeholder="Notes: " rows="6"></textarea>
    </section>
</article>

