<ng-include src="'consultationNavigationTemplate'"></ng-include>
<article class="consultation">
    <div class="header-action">
            <button ng-click="save()" class="confirm">Save</button>
    </div>
    <section class="block investigation" ng-click="investigation()"> 
        <h3>Investigation</h3> 
        <ul>
                <li ng-repeat="test in currentConsultation.tests">
                    {{test.name.display}}
                </li>
        </ul> 
    </section>
    <section class="block diagnosis"> 
        <h3>Diagnosis</h3>  

    </section>
    <section class="block treatement" ng-click="treatment()">
        <h3>Treatment</h3>  

    </section>
    <section class="notes" ng-click="notes()">
        <textarea placeholder="Notes: " rows="8 " cols="73"></textarea>
    </section>
</article>    

