<div>
    <h3>Disposition Actions</h3>

    <br/>
    <form ng-submit="submit()">
        <p >
            <select ng-model="dispositionOrder" ng-options="dispositionAction.name.name as dispositionAction.name.name for dispositionAction in dispositionActions" >

            </select>
           <!-- <input type="radio" ng-model="$parent.dispositionOrder"  name="dispositionOrder"  value="{{dispositionAction.name.name}}"  >
            {{dispositionAction.name.name}}-->
        </p>

        <br/>
        <textarea id="dispositionNotes" ng-model="dispositionNotes">

        </textarea>
        <br/>

    </form>

</div>
