<form>
    <fieldset>
        <legend>Add Order</legend>
        <div>
            <div id="tabButtonRow">
                <button ng-repeat="tab in tabs" class="{{tab.klass}}" ng-click="activateTab(tab)">{{tab.name}} </button>
                <!-- TODO: Replace this with ng-if after updating to angular >= 1.1.5 -->
                <div ng-switch="activeTab">
                    <div ng-switch-default>
                        <div tree-selector root-concept-name="activeTab.name"></div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Review Investigations Ordered</legend>
        <div id="selectedNodesArea" tabindex="0">
            <span ng-repeat="node in selectedNodes" class="selectedNode">
                {{node.display}}
            <span class="icon-remove icon-white " ng-click="removeNode(node)"></span>
            </span>
        </div>
    </fieldset>
</form>


