<div class="treatment">
    <form name="treatmentForm" class="simple-form-ui">
        <div class="table">
            <div class="row table-header">
                <div class="col col1">Drug Name*</div>
                <div class="col col2">Strength &amp; Form*</div>
                <div class="col col3"># per Dosage*</div>
                <div class="col col4">Dosage Frequency*</div>
                <div class="col col5">Dosage Instructions*</div>
                <div class="col col6">PRN</div>
                <div class="col col7"># of Days*</div>
                <div class="col col8">Notes</div>
            </div>

            <div ng-repeat="drug in selectedDrugs" class="table-body">
                <div class="row">
                    <div class="col col1">
                        <input ng-model="drug.name" type="text" name="name" value="{{drug.name}}"
                                my-autocomplete="{{ {'src': 'getDrugList', 'responseHandler': 'getDataResults', 'onSelect':'onDrugSelected', 'index' : $index} }}"
                                ng-change="addNewRowIfNotExists($index)" ng-class="{'illegalValue':drug.uuid=='' && !drug.empty}">
                    </div>
                    <div class="col col2">
                        <input type="text" value="{{drug.strength + ' ' + drug.dosageForm}}" readonly=true size="6">
                    </div>
                    <div class="col col3">
                        <input ng-model="drug.numberPerDosage" type="number" name="numberPerDosage" min="0"
                                value="{{drug.numberPerDosage}}" ng-required="!drug.empty"
                                ng-class="{'illegalValue':drug.numberPerDosage=='' && !drug.empty}">
                    </div>
                    <div class="col col4">
                        <span class="select-arrow">
                            <select ng-model="drug.dosageFrequency" ng-options="df.name.name for df in dosageFrequencyAnswers"
                                    ng-class="{'illegalValue':drug.dosageFrequency=='' && !drug.empty}" ng-required="!drug.empty">
                                <option value=""></option>
                            </select>
                        </span>
                    </div>
                    <div class="col col5">
                        <span class="select-arrow">
                            <select ng-model="drug.dosageInstruction" ng-options="di.name.name for di in dosageInstructionAnswers"
                                    ng-class="{'illegalValue':drug.dosageInstruction=='' && !drug.empty}" ng-required="!drug.empty">
                                <option value=""></option>
                            </select>
                        </span>
                    </div>
                    <div class="col col6">
                        <input ng-model="drug.prn" name="prn" type="checkbox" value="{{drug.prn}}" >
                    </div>
                    <div class="col col7">
                        <input ng-model="drug.numberOfDosageDays" name="numberOfDosageDays"
                               type="number" value="{{drug.numberOfDosageDays}}" min="0"
                               ng-required="!drug.empty"
                               ng-class="{'illegalValue':drug.numberOfDosageDays=='' && !drug.empty}">

                    </div>

                    <div class="col col8" >

                        <button ng-click="drug.notesVisible=!drug.notesVisible">
                            <span ng-class="{'icon-arrow-down':!drug.notesVisible,'icon-arrow-up':drug.notesVisible}"></span>
                        </button>
                        <button type="button" ng-click="removeDrug($index)" ng-show="!drug.empty">
                            <span>X</span>
                        </button>
                    </div>
                </div>
                <div class="row" ng-show="drug.notesVisible">
                    <div class="col">
                        <textarea placeholder="enter notes" ng-model="drug.notes" name="notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
