<div class="table">
    <div class="row table-header">
        <div class="col col1">Selected Drugs</div>
    </div>

    <div ng-repeat="drug in treatmentDrugs | filter: { empty: false }" class="table-body">
        <div class="row">
            <div class="col">
                {{$index+1}}) {{drug.name}}
                - {{drug.numberPerDosage}} x
                -  {{drug.strength + ' ' + drug.dosageForm}}
                - {{drug.dosageFrequency.name.name}}
                - {{drug.dosageInstruction.name.name}}
                - for {{drug.numberOfDosageDays}} days
            </div>
            <div class="row">
                <div class="col">
                    NOTES: {{drug.notes}}
                </div>
            </div>

        </div>
    </div>
</div>