<script type="text/ng-template" id="observationSummaryTemplate">
    <div ng-switch="observation.groupMembers.length">
        <div ng-switch-when="0">
            <span bo-text="observation.concept.name + ' - ' + observation.value"></span>
            <span bo-text="observation.observationDateTime | date: 'h:mm a'"></span>
            <span bo-text="observation.provider.name"></span>
        </div>    
        <ul ng-switch-default>
            <span bo-text="observation.concept.name"></span>
            <li ng-repeat="groupMember in observation.groupMembers">
                <observation-summary observation="groupMember"/>
            </li>
        </ul>
    </div>    
</script>
<aside bindonce class="visit-history">
    <h2>Visit History</h2>
    <ul>
        <li ng-click="showVisitSummary(visit)" class="visit-history-entry" ng-class="{'selected': isCurrentVisit(visit)}" ng-repeat="visit in visits">
            <a href="">
                <span bo-text="visit.startDatetime | date: 'd MMM yy'"></span>
                <span bo-text="'-' + (visit.stopDatetime | date: 'd MMM yy')" bo-hide="visit.isOneDayVisit()"></span>
            </a>
        </li>
    </ul>
</aside>
<article bindonce="visitSummary" class="visit">
    <div bo-hide="visitSummary.hasEncounters()">There are no encounter for this patient yet.</div>
	<section  bo-show="visitSummary.hasEncounters()" class="block investigation">
        <h2>Diagnoses</h2>
        <ul class="block-content">
            <li ng-repeat="diagnosis in visitSummary.diagnoses" >
                    <span bo-show="visitSummary.isPrimaryOrder(diagnosis.order)">P</span>
                    <span bo-show="!visitSummary.isPrimaryOrder(diagnosis.order)">S</span>
                    <span bo-text="diagnosis.codedAnswer.name"></span>
                    <span bo-text="'(' + diagnosis.certainty + ')'" bo-hide = "visitSummary.isConfirmedDiagnosis(diagnosis.certainty)"></span>
                    <span bo-text="(diagnosis.diagnosisDate | date:'d-MMM-yy h:mm a')"></span>
                    <span bo-text="diagnosis.provider.name"></span>
            </li>
            <div bo-show="!visitSummary.hasDiagnosis()">A diagnosis has not been made for this patient yet.</div>
        </ul>
    </section>
    <section class="block investigation" bo-show="visitSummary.hasDisposition()">
        <h2>Disposition</h2>
        <ul class="block-content">
            <div  >
                <li ng-repeat="disposition in visitSummary.dispositions">
                    <span bo-text="disposition.code"></span>
                    <span bo-text="(disposition.dispositionDate | date:'d-MMM-yy h:mm a')"></span>
                    <span bo-text="disposition.provider.name"></span>
                    <span ng-repeat="note in disposition.additionalObs">
                        <expander class='expander'>
                            <span bo-text="note.value"></span>
                        </expander>
                    </span>
                </li>
            </div>
        </ul>
    </section>

    <div infinite-scroll="loadEncountersForPreviousDay()" infinite-scroll-disabled="!hasMoreVisitDays" ng-show="visitDay.hasData()" ng-repeat="visitDay in visitDays">
        <header>
            <h1 bo-text="'Day ' + visitDay.dayNumber"></h1>
            <span bo-text="(visitDay.visitDate | date:'d-MMM-yyyy')"></span>
        </header>   
        <section class="block treatment" ng-show="visitDay.hasDrugOrders()">
            <h2>Treatment</h2>
	        <ul>
			    <li ng-repeat="drugOrder in visitDay.drugOrders">
                    <span bo-text="drugOrder.drugName"></span>
                    <span bo-show="drugOrder.doseStrength" bo-text="' - ' + drugOrder.doseStrength"></span>
                    <span bo-show="drugOrder.drugUnits" bo-text="' ' + drugOrder.drugUnits"></span>
                    <span bo-show="drugOrder.dosageForm" bo-text="' ' + drugOrder.dosageForm"></span>
                    <span bo-show="drugOrder.numberPerDosage" bo-text="' - ' + drugOrder.numberPerDosage"></span>
                    <span bo-show="drugOrder.dosageFrequency" bo-text="' - ' + drugOrder.dosageFrequency.name"> </span>
                    <span bo-show="drugOrder.dosageInstruction" bo-text="' - ' + drugOrder.dosageInstruction.name" > </span>
                    <span bo-text="' - ' + (drugOrder.startDate  | date:'d MMM yy')"> </span>
                    <span bo-text="' - for ' + visitSummary.numberOfDosageDaysForDrugOrder(drugOrder) + ' day(s)'"> - </span>
                    <span bo-show="drugOrder.prn"> - Take as required.</span>
                    <span bo-show="drugOrder.notes" class="notes">
                    <expander class='expander'>
                        <span bo-text='drugOrder.notes'></span>
                    </expander>
                    </span>
                    
                    <span bo-text="drugOrder.dateCreated | date: 'h:mm a'"></span>
                    <span bo-text="drugOrder.provider.name"></span>
	           </li>
			</ul>        
        </section>
        <section class="block notes" ng-show="visitDay.hasConsultationNotes()">
            <h2>Notes</h2>
            <ul>
                <li ng-repeat="note in visitDay.consultationNotes">
                    <span bo-text="note.value"></span>
                    <span bo-text="note.observationDateTime | date: 'h:mm a'"></span>
                    <span bo-text="note.provider.name"></span>
                </li>
            </ul>        
        </section>
        <section class="block labTestOrders" ng-show="visitDay.hasLabTestOrders()">
            <h2>Investigations</h2>
            <ul>
                <li ng-repeat="testOrder in visitDay.labTestOrders">
                    <span bo-text="testOrder.concept.name"></span>
                    <span bo-text="testOrder.provider.name"></span>
                </li>
            </ul>        
        </section>
        <section class="block otherTestOrders" ng-show="visitDay.hasOtherTestOrders()">
            <h2>Other Investigations</h2>
            <ul>
                <li ng-repeat="testOrder in visitDay.otherTestOrders">
                    <span bo-text="testOrder.concept.name"></span>
                    <span bo-text="testOrder.provider.name"></span>
                </li>
            </ul>        
        </section>
        <section class="block observation" ng-show="visitDay.hasObservations()">
            <h2>Observations</h2>
            <ul>
                <li ng-repeat="observation in visitDay.observations">
                    <observation-summary observation="observation"/>
                </li>
            </ul>        
        </section>
    </div>
    <div id="loader" ng-show="hasMoreVisitDays">Loading more results</div>
</article>