<article class="consultation">
	<section class="block investigation">
        <h2>Diagnoses</h2>
        <ul class="block-content">
            <li ng-repeat="diagnosis in visitSummary.diagnoses" >
                    <span ng-show="visitSummary.isPrimaryOrder(diagnosis.order)">P</span>
                    <span ng-show="!visitSummary.isPrimaryOrder(diagnosis.order)">S</span>
                    <span>{{diagnosis.codedAnswer.name}}</span>
                    <span ng-hide = "visitSummary.isConfirmedDiagnosis(diagnosis.certainty)">({{diagnosis.certainty}})</span>
                    <span>{{diagnosis.diagnosisDate | date:'d-MMM-yy h:mm a'}}</span>
                    <span>{{diagnosis.provider.name}}</span>
            </li>
            <div ng-show="!visitSummary.hasDiagnosis()">A diagnosis has not been made for this patient yet.</div>
        </ul>
    </section>
    <section class="block investigation" ng-show="visitSummary.hasDisposition()">
        <h2>Disposition</h2>
        <ul class="block-content">
            <div  >
                <li ng-repeat="disposition in visitSummary.dispositions">
                    <span>{{disposition.code}}</span>
                    <span>{{disposition.dispositionDate | date:'d-MMM-yy h:mm a'}}</span>
                    <span>{{disposition.provider.name}}</span>
                    <span ng-repeat="note in disposition.additionalObs">
                        <expander class='expander'>
                        {{note.value}}
                    </expander>
                    </span>
                </li>
            </div>
        </ul>
    </section>

    <div bindonce infinite-scroll="loadEncountersForPreviousDay()" ng-show="visitDay.hasData()" ng-repeat="visitDay in visitDays">
        <header>
            Date: <span bo-text="(visitDay.visitDate | date:'d-MMM-yyyy')"></span>
        </header>   
        <section class="block treatment" ng-show="visitDay.hasDrugOrders()">
            <h2>Treatment</h2>
	        <ul>
			    <li ng-repeat="drug in visitDay.drugOrders">
	                <span bo-text="drug.drugName + ' - ' + drug.doseStrength + ' ' + drug.drugUnits + ' ' + drug.dosageForm  + ' - ' + drug.numberPerDosage"></span>
	                <span bo-show="drug.dosageFrequency" bo-text="' - ' + drug.dosageFrequency.name"> </span>
	                <span bo-show="drug.dosageInstruction" bo-text="' - ' + drug.dosageInstruction.name" > </span>
                    <span bo-text="' - ' + (drug.startDate  | date:'d MMM yy')"> </span>
	                <span bo-text="' - for ' + visitSummary.numberOfDosageDaysForDrugOrder(drug) + ' day(s)'"> - </span>
	                <span bo-show="drug.prn"> - Take as required.</span>
	                <span bo-show="drug.notes" class="notes" bo-text="'(' + drug.notes + ' )'"></span>
                    <span bo-text="drug.provider.name"></span>
	           </li>
			</ul>        
        </section>
        <section class="block notes" ng-show="visitDay.hasConsultationNotes()">
            <h2>Notes</h2>
            <ul>
                <li ng-repeat="note in visitDay.consultationNotes">
                    <span bo-text="note.value"></span>
                    <span bo-text="note.provider.name"></span>
                </li>
            </ul>        
        </section>
        <section class="block observation" ng-show="visitDay.hasObservations()">
            <h2>Observations</h2>
            <ul>
                <li ng-repeat="observation in visitDay.observations">
                    <span bo-text="observation.concept.name + ' - ' + observation.value"></span>
                    <span bo-text="observation.provider.name"></span>
                </li>
            </ul>        
        </section>
    </div>
</article>