<div ng-init="isFilterOpen = true" ng-class="{'app-filter-open': isFilterOpen}">
    <date-picker view-date="startDate" on-change="getAppointmentsForDate"></date-picker>

    <div class="app-list-view"">
        <table>
            <thead>
            <tr>
                <th>{{::'APPOINTMENT_PATIENT_ID' |translate}}</th>
                <th class="table-mid-width">{{::'APPOINTMENT_PATIENT_NAME' |translate}}</th>
                <th>{{::'APPOINTMENT_DATE' |translate}}</th>
                <th>{{::'APPOINTMENT_START_TIME_KEY' |translate}}</th>
                <th>{{::'APPOINTMENT_END_TIME_KEY' |translate}}</th>
                <th class="table-mid-width">{{::'APPOINTMENT_PROVIDER' |translate}}</th>
                <th ng-show="enableSpecialities">{{::'APPOINTMENT_SERVICE_SPECIALITY_KEY' |translate}}</th>
                <th>{{::'APPOINTMENT_SERVICE' |translate}}</th>
                <th class="table-mid-width" ng-show="enableServiceTypes">{{::'APPOINTMENT_SERVICE_TYPE_FULL' |translate}}</th>
                <th>{{::'APPOINTMENT_WALK_IN' |translate}}</th>
                <th class="table-mid-width">{{::'APPOINTMENT_SERVICE_LOCATION_KEY' |translate}}</th>
                <th>{{::'APPOINTMENT_STATUS' |translate}}</th>
                <th>{{::'APPOINTMENT_CREATE_NOTES' |translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointment in filteredAppointments" ng-click="select(appointment)" ng-class="{'selected' : isSelected(appointment)}">
                <td>{{::appointment.patient.identifier}}</td>
                <td class="table-mid-width">{{::appointment.patient.name | titleCase}}</td>
                <td>{{::appointment.startDateTime | bahmniDate}}</td>
                <td>{{::appointment.startDateTime | bahmniTime}}</td>
                <td>{{::appointment.endDateTime | bahmniTime}}</td>
                <td class="table-mid-width">{{::appointment.provider.name}}</td>
                <td ng-show="enableSpecialities">{{::appointment.service.speciality.name}}</td>
                <td>{{::appointment.service.name}}</td>
                <td class="table-mid-width" ng-show="enableServiceTypes">{{::appointment.serviceType && (appointment.serviceType.name + ' [' + appointment.serviceType.duration + ' min]')}}</td>
                <td>{{:: isWalkIn(appointment.appointmentKind)}}</td>
                <td class="table-mid-width">{{::appointment.location.name}}</td>
                <td>{{::appointment.status}}</td>
                <td>{{::appointment.comments}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ui-view="content@appointment"></div>
    <fieldset class="appointment-action-btn-container" ng-disabled="!selectedAppointment" ng-class="{'disabled': !selectedAppointment}">
        <button>{{::'CHECK_IN_APPOINTMENT' |translate}}</button>
        <button>{{::'COMPLETE_APPOINTMENT' |translate}}</button>
        <button ng-click="editAppointment()">{{::'EDIT_APPOINTMENT' |translate}}</button>
        <button>{{::'CANCEL_APPOINTMENT' |translate}}</button>
    </fieldset>
</div>
