<section class="program-dashboard">
    <table>
        <thead ng-if="hasPatientAnyActivePrograms()">
        <th>{{'PROGRAM_MANAGEMENT_ACTIVE_PROGRAM_KEY' | translate}}</th>
        <th style="text-align:center">Start Date</th>
        <th style="text-align:center">______</th>
        </thead>
        <tbody>
        <tr ng-repeat="program in activePrograms">
            <td>{{program.display}}</td>
            <td align="center">{{program.dateEnrolled | bahmniDate}}</td>
            <td align="center">_____</td>
        </tr>
        </tbody>

        <thead ng-if="hasPatientAnyPastPrograms()">
        <tr>
            <th align="left">{{'PROGRAM_MANAGEMENT_INACTIVE_PROGRAM_KEY' | translate}}</th>
            <th style="text-align:center">Start Date</th>
            <th style="text-align:center">Stop Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="program in pastPrograms">
            <td>{{program.display}}</td>
            <td align="center">{{program.dateEnrolled | bahmniDate}}</td>
            <td align="center">{{program.dateCompleted | bahmniDate}}</td>
        </tr>
        </tbody>

    </table>

    <div class="note-container" ng-show="!hasPatientAnyPrograms()">
        <div class="note warning">
            <div class="text placeholder-text">
                <p>{{'NO_ACTIVE_PASSIVE_PROGRAMS_MESSAGE' | translate}}</p>
            </div>
        </div>
    </div>
</section>