<div class="dashboard-program-section">
    <h2 class="section-title">
        <span>Programs</span>
    </h2>

    <div ng-show="hasPatientAnyActivePrograms()">
        <h3 class="program-title">
            <span>Active Programs</span>
        </h3>
        <table class="programs-table">
            <thead>
            <tr>
                <th><strong>Program</strong></th>
                <th><strong>Date Enrolled</strong></th>
                <th><strong>Date Completed</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="program in activePrograms | orderBy:'-dateEnrolled'">
                <td>{{program.display}}</td>
                <td>{{program.dateEnrolled | bahmniDate}}</td>
                <td>{{program.dateCompleted | bahmniDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="hasPatientAnyPastPrograms()">
        <h3 class="program-title">
            <span>Past Programs</span>
        </h3>
        <table class="programs-table">
            <thead>
            <tr>
                <th><strong>Program</strong></th>
                <th><strong>Date Enrolled</strong></th>
                <th><strong>End Date</strong></th>
                <th><strong>Outcome</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="program in pastPrograms | orderBy:'-dateCompleted'">
                <td>{{program.display}}</td>
                <td>{{program.dateEnrolled | bahmniDate}}</td>
                <td>{{program.dateCompleted | bahmniDate}}</td>
                <td>{{program.outcome.display}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="note-container" ng-show="!hasPatientAnyPrograms()">
        <div class="note warning">
            <div class="text placeholder-text">
                <p>No active/past programs for this patient.</p>
            </div>
        </div>
    </div>

</div>