<div ng-include src="'../common/modules/common/header.html'"></div>
<div class="opd-header-wrapper">
    <div class="opd-header-bottom tabs">
        <ul class="header-tabs">
            <li ng-repeat="board in availableBoards" ng-class="{'tab-selected':currentBoard.name==board.name}">
                <button ng-click="showBoard(board.name)" class="button">
                    {{board.name}}
                </button>
            </li>
        </ul>
        <ul class="patient-info" >
            <li ng-click="togglePatientDetails()">{{patient.name}}</li>
            <li class="patient-detail-pointer"><span class="icon-white small" ng-class="{'icon-caret-up': showPatientDetails, 'icon-caret-down': !showPatientDetails}"></span></li>
            <li class="patient-img">
                <img class="roundImages" ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';" ng-click="gotoPatientDashboard()">
            </li>
        </ul>

        <div class="patient-detail" ng-show="showPatientDetails">
            <ul>
                <li>{{patient.identifier}}</li>
                
                <li>{{patient.gender | gender }}</li><li> {{patient.age}}</li>
                <li ng-show="bedDetails">{{bedDetails.wardName}}</li>
                <li ng-show="bedDetails">{{bedDetails.bedNumber}}</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <p class="caution" ng-show="server_error">{{server_error}}</p>
</div>

