<div ng-include src="'../common/modules/common/header.html'"></div>
<div class="opd-header-wrapper">
    <div class="opd-header-bottom tabs">
        <ul class="header-tabs">
            <li ng-repeat="board in availableBoards" ng-class="{'tab-selected':currentBoard.name==board.name}">
                <button ng-click="showBoard(board.name)" class="button">
                    {{board.name}}
                </button>
            </li>
        </ul>

        <patient-summary patient="patient" bed-details="bedDetails" on-image-click-handler="gotoPatientDashboard()"/>
</div>
<div>
    <p class="caution" ng-show="server_error">{{server_error}}</p>
</div>

