<div class="dhis-page">

    <section class="primary-section-grid">
        <h1>Past Report Runs</h1>
        <button class="run-report confirm right" ng-click="refresh()">Refresh</button>

        <p class="no-visit" ng-if="tasks.isEmpty()">No previous report run</p>

        <table class="file-to-upload" ng-if="!tasks.isEmpty()">
            <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Results</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks">
                <td><strong>{{ task.dateCreated | bahmniDateTime }}</strong></td>
                <td><strong>{{ task.status }}</strong></td>
                <td><a ng-if="task.isCompleted()" ng-click="openReport(task.id)">Results</a></td>
            </tr>
            </tbody>
        </table>
    </section>


    <section class="primary-section-grid">
        <h1>Run New Report</h1>

        <form ng-submit="fireQueries()">
            <div class="form-field">
                <label class="checkbox-inline"><span>Start Date</span></label>

                <div class="field-value">
                    <input date-converter class="form-field start-date" type="date" ng-model="report.startDate">
                </div>

                <label class="checkbox-inline col2"><span>End Date</span></label>

                <div class="field-value">
                    <input date-converter class="form-field end-date" type="date" ng-model="report.endDate">
                </div>
            </div>
            <div>
                <button class="run-report confirm" type="submit">Run Report</button>
            </div>
        </form>
    </section>

</div>