<div ng-repeat="resultGroup in ::task.resultGroups.groups">
    <h2>{{resultGroup.groupName}}</h2>

    <div ng-repeat="result in ::resultGroup.results">
        <h5>{{result.queryName}}</h5>

        <div class="table-scroll-x">
            <table>
                <thead>
                <tr>
                    <th ng-repeat="header in ::result.headers">{{::header}}</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="resultRow in ::result.rowResults">
                    <td ng-repeat="colValue in ::resultRow track by $index">
                        {{::colValue}}
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
