<section id="diagnosisSection" class="block diagnosis"
         ng-class="::{'more': (allDiagnoses.show == true)}">
    <h2 ng-hide="::hideTitle" class="section-title" ng-class="::{'hidden-print': (allDiagnoses && allDiagnoses.length == 0)}">{{::config | titleTranslate}}</h2>
    <div>
        <table class="dashboard-table history-diagnosis">
            <tr ng-if="showLatestDiagnosis == 'true'" class="table-header">
                <th>&nbsp;</th>
                <th><span>{{'CLINICAL_INITIAL'|translate}}</span></th>
                <th><span>{{'CLINICAL_CURRENT'|translate}}</span></th>
            </tr>

            <tbody ng-repeat="diagnosis in allDiagnoses | primaryDiagnosisFirst" class="row"
                   ng-class="::{'hidden-print': diagnosis.diagnosisStatus}">
            <tr class="view-past"
                ng-class="::{'notes-open': (diagnosis.showDetails == true) || (diagnosis.showLatestDetails == true), 'test-notes-parent': diagnosis.comments}">
                <td class="name">
                    <span id="diagnosisName" class="diagnosis-name" ng-class="::{'ruled-out': diagnosis.diagnosisStatus}">
                        {{::diagnosis.getDisplayName()}}
                    </span>
                </td>

                <td ng-if="::!isLatestDiagnosis(diagnosis)" class="view">
                <span id="certainty" ng-hide="::(config.showCertainty == false)"
                      class="certainty">{{::diagnosis.certainty}}</span>
                             <span id="order" ng-hide="::(config.showOrder == false)"
                                   class="order">{{::diagnosis.order}}</span>
                <span id="status" class="status">{{::diagnosis.diagnosisStatus}}</span>
                <span class="toggle-btn-date-wrapper">
                <span id="diagnosisDate" class="date">{{::diagnosis.diagnosisDateTime | bahmniDate}}</span>
                <span class="toggle-btn" toggle="diagnosis.showDetails"
                      ng-show="::(!diagnosis.comments && (config.showDetailsButton == true))">
                    <button class="toggle fr" ng-class="::{'has-notes': diagnosis.comments}">
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-angle-up"></i>
                    </button>
                </span>
                    </span>
                </td>
                <td ng-if="::isLatestDiagnosis(diagnosis)" class="view"></td>
                <td class="view" ng-if="::(showLatestDiagnosis == 'true')">
                        <span id="certainty" ng-hide="::(config.showCertainty == false)" class="certainty">
                            {{::diagnosis.latestDiagnosis.certainty}}</span>
                <span id="order" ng-hide="::(config.showOrder == false)"
                      class="order">{{::diagnosis.latestDiagnosis.order}}</span>
                <span id="status" class="status">{{::diagnosis.latestDiagnosis.diagnosisStatus}}</span>
                <span class="toggle-btn-date-wrapper">
                    <span id="diagnosisDate"
                          class="date">{{::diagnosis.latestDiagnosis.diagnosisDateTime | bahmniDate}}</span>
                    <span class="toggle-btn" toggle="diagnosis.showDetails"
                          ng-show="::(!diagnosis.comments && (config.showDetailsButton == true))">
                    <button class="toggle fr" ng-class="::{'has-notes': diagnosis.comments}">
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-angle-up"></i>
                    </button>
                </span>
                </span>
                </td>
            </tr>
            {{diagnosis.comments}}
            <tr ng-show=":: diagnosis.comments" ng-class="::{'has-test-notes': diagnosis.comments}">
                <td class="notes test-notes" colspan="{{showLatestDiagnosis ==  'true' ? 3 : 2}}">
                    <i class="fa fa-comments left"></i>
                    <pre id="diagnosisComments" class="left">{{::diagnosis.comments}}</pre>
                    <div class="footer-note right">
                        <span class="provider">
                            <provider-directive creator-name="{{::diagnosis.creatorName}}" provider-name="{{::diagnosis.providers[0].name}}" provider-date="::diagnosis.diagnosisDateTime"></provider-directive>
                        </span>
                    </div>
                </td>
            </tr>

            <tr ng-show="diagnosis.showDetails">
                <td colspan="{{showLatestDiagnosis ==  'true' ? 3 : 2}}" class="notes inline-notes">
                    <div class="footer-note right">
                        <span class="provider">
                            <provider-directive creator-name="{{::diagnosis.creatorName}}" provider-name="{{::diagnosis.providers[0].name}}" provider-date="::diagnosis.diagnosisDateTime"></provider-directive>
                        </span>
                    </div>
                </td>
            </tr>
            <tr ng-show="(diagnosis.showLatestDetails == true)" ng-if="::(showLatestDiagnosis ==  'true')">
                <td colspan="3" class="notes inline-notes">
                    <div class="footer-note right">
                        <span class="provider">
                            <provider-directive creator-name="{{::diagnosis.creatorName}}" provider-name="{{::diagnosis.latestDiagnosis.providers[0].name}}" provider-date="::diagnosis.latestDiagnosis.diagnosisDateTime"></provider-directive>
                        </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="!isDataPresent()" ng-class="::{'hidden-print': !isDataPresent()}">
            <div class="placeholder-text">{{::'NO_DIAGNOSIS_MESSAGE' | translate}}</div>
        </div>
    </div>
</section>
