.dhis-app {
  background: $white;

  .opd-wrapper {
    .opd-content-wrapper {
      padding-top: 20px;
    }
  }

  .dhis-page .section-grid {
    margin-top: 20px;
  }

  .refresh-btn {
    padding: 5px;
    position: relative;
    top: -7px;
    right: -7px;
    font-size: 14px;
    font-family: $primaryFont, Arial, sans-serif;
  }

  table {
    font-size: 13px;
  }

}

.run-report-page {
  form {
    padding: 20px;
  }

  button.run-report {
    float: right;
    margin-top: 20px;
  }

}