<!-- Variable Dosage: group header + one row per stage, matching regular row structure -->
<tr ng-if="drugOrder.isVariableDoseOrder" class="variable-dosage-group-header-row">
    <td colspan="4" class="variable-dosage-group-label">Variable Dosage</td>
</tr>
<tr ng-if="drugOrder.isVariableDoseOrder"
    ng-repeat-start="stage in drugOrder.stages"
    ng-class="{'active-drug': drugOrder.isActive(), 'drug-discontinued': drugOrder.isDiscontinuedOrStopped(), 'notes-open': stage.showDetails}">
    <td class="drug variable-dose-stage-drug" ng-class="{'strike-text': drugOrder.isDiscontinuedOrStopped()}">
        {{drugOrder.drugName}}<span ng-if="drugOrder.drugForm"> ({{drugOrder.drugForm}})</span>
    </td>
    <td class="dosage" ng-class="{'strike-text': drugOrder.isDiscontinuedOrStopped()}">
        {{stage.dose}} {{stage.unit}}, {{stage.frequency}}, {{drugOrder.route}} - {{stage.duration}}
    </td>
    <td class="days" ng-if="!params.hideVisitDate">
        <span class="fr">{{stage.startDate | bahmniDate}}</span>
    </td>
    <td class="toggle-btn" toggle="stage.showDetails">
        <button class="toggle fr">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
        </button>
    </td>
</tr>
<tr ng-if="drugOrder.isVariableDoseOrder" ng-repeat-end bm-show="stage.showDetails" class="notes">
    <td colspan="4" class="notes inline-notes">
        <div class="footer-note right">
            <span class="provider" ng-if="params.showProvider">
                <provider-directive creator-name="{{drugOrder.creatorName}}" provider-name="{{drugOrder.provider.name}}" provider-date="::drugOrder.effectiveStartDate"></provider-directive>
            </span>
        </div>
    </td>
</tr>

<!-- Regular drug order rows -->
<tr ng-if="!drugOrder.isVariableDoseOrder"
    ng-class="::{active: drugOrder.isActive(), 'test-notes-parent': (drugOrder.additionalInstructions || ''), 'notes-open': (drugOrder.showDetails == true)}">
    <td class="drug" ng-class="::{'strike-text':drugOrder.isDiscontinuedOrStopped(), 'active-drug': drugOrder.isActive(), 'scheduled-drug': drugOrder.isScheduled()}">
        <span>{{::drugOrder.getDrugOrderName((params.showDrugForm == true))}}</span>
        <span ng-repeat="orderAttribute in drugOrder.orderAttributes" ng-if="::orderAttribute.value == 'true'" ng-class="'drug-attr-highlight'">
            {{::orderAttribute.name.substring(0,1)}}
        </span>
    </td>
    <td class="dosage">
        <span ng-if="::(params.showRoute == true)" ng-class="::{'strike-text':drugOrder.isDiscontinuedOrStopped()}">{{::drugOrder.getDescriptionWithoutDuration()}}</span>
        <span ng-if="::!(params.showRoute == true)" ng-class="::{'strike-text':drugOrder.isDiscontinuedOrStopped()}">{{::drugOrder.getDescriptionWithoutRouteAndDuration()}}</span>
        <span>{{::drugOrder.getSpanDetails()}}</span>
        <span ng-if="::drugOrder.isDiscontinuedOrStopped()" ng-class="::{'discontinued-text':drugOrder.isDiscontinuedOrStopped()}">{{'MEDICATION_STOPPED_ON'|translate}} {{::drugOrder.effectiveStopDate | bahmniDate}}</span>
    </td>
    <td class="days" ng-if="::(!params.hideVisitDate)">
        <span class="fr">{{::drugOrder.effectiveStartDate | bahmniDate}}</span>
    </td>
    <td class="toggle-btn" toggle="drugOrder.showDetails" ng-if="::((params.showDetailsButton == true) && !drugOrder.additionalInstructions)">
        <button class="toggle fr">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
        </button>
    </td>
</tr>
<tr ng-if="!drugOrder.isVariableDoseOrder && drugOrder.additionalInstructions" ng-class="::{'has-test-notes': drugOrder.additionalInstructions}">
    <td colspan="5" class="notes test-notes">
        <i class="fa fa-comments left"></i>
        <pre class="left">{{::drugOrder.additionalInstructions}}</pre>
        <div class="footer-note right">
            <span class="provider" ng-if="::params.showProvider">
                <provider-directive creator-name="{{::drugOrder.creatorName}}" provider-name="{{::drugOrder.provider.name}}" provider-date="::drugOrder.effectiveStartDate"></provider-directive>
            </span>
        </div>
    </td>
</tr>
<tr ng-if="!drugOrder.isVariableDoseOrder && !drugOrder.additionalInstructions && !params.hideVisitDate" bm-show="drugOrder.showDetails">
    <td colspan="5" class="notes inline-notes">
        <div class="footer-note right">
            <span class="provider" ng-if="::params.showProvider">
                <provider-directive creator-name="{{::drugOrder.creatorName}}" provider-name="{{::drugOrder.provider.name}}" provider-date="::drugOrder.effectiveStartDate"></provider-directive>
            </span>
        </div>
    </td>
</tr>
