<tr ng-class="::{active: drugOrder.isActive(), 'test-notes-parent': (drugOrder.additionalInstructions || ''), 'notes-open': (drugOrder.showDetails == true)}" >
    <td class="drug" ng-class="::{'strike-text':drugOrder.isDiscontinuedOrStopped(), 'active-drug': drugOrder.isActive(), 'scheduled-drug': drugOrder.isScheduled()}">
        <span >{{::drugOrder.getDrugOrderName((params.showDrugForm == true))}}</span>
        <span ng-repeat="orderAttribute in drugOrder.orderAttributes" ng-if="::orderAttribute.value == 'true'" ng-class="'drug-attr-highlight'">
            {{::orderAttribute.name.substring(0,1)}}
        </span>
    </td>
    <td class="dosage" >
        <span ng-if="::(params.showRoute == true)" ng-class="::{'strike-text':drugOrder.isDiscontinuedOrStopped()}">{{::drugOrder.getDescriptionWithoutDuration()}}</span>
        <span ng-if="::!(params.showRoute == true)" ng-class="::{'strike-text':drugOrder.isDiscontinuedOrStopped()}">{{::drugOrder.getDescriptionWithoutRouteAndDuration()}}</span>
        <span>{{::drugOrder.getSpanDetails()}}</span>
        <span ng-if="::drugOrder.isDiscontinuedOrStopped()" ng-class="::{'discontinued-text':drugOrder.isDiscontinuedOrStopped()}">{{'MEDICATION_STOPPED_ON'|translate}} {{::drugOrder.effectiveStopDate | bahmniDate}}</span>
    </td>
    <td class="days">
        <span class="fr">{{::drugOrder.effectiveStartDate | bahmniDate}}</span>
    </td>

    <td class="toggle-btn" toggle="drugOrder.showDetails" ng-if="::((params.showDetailsButton == true) && !drugOrder.additionalInstructions)">
        <button class="toggle fr">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
        </button>
    </td>
</tr>
<tr ng-if="::drugOrder.additionalInstructions" ng-class="::{'has-test-notes': drugOrder.additionalInstructions}">
    <td colspan="4" class="notes test-notes">
        <i class="fa fa-comments left"></i>
        <pre class="left">{{::drugOrder.additionalInstructions}}</pre>
        <div class="footer-note right">
            <span class="provider" ng-if="::params.showProvider">
                <provider-directive creator-name="{{::drugOrder.creatorName}}" provider-name="{{::drugOrder.provider.name}}" provider-date="::drugOrder.effectiveStartDate"></provider-directive>
            </span>
        </div>
    </td>
</tr>
<tr bm-show="drugOrder.showDetails" ng-if="::!drugOrder.additionalInstructions">
    <td colspan="4" class="notes inline-notes">
        <div class="footer-note right">
            <span class="provider" ng-if="::params.showProvider">
                <provider-directive creator-name="{{::drugOrder.creatorName}}" provider-name="{{::drugOrder.provider.name}}" provider-date="::drugOrder.effectiveStartDate"></provider-directive>
            </span>
        </div>
    </td>
</tr>