<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="lib/jquery/jquery-ui-1.10.3.custom.min.css">
        <!-- build:css styles/css/main.min.css -->
        <link rel="stylesheet" href="styles/.css/bootstrap.css"/>
        <link rel="stylesheet" href="styles/.css/style.css"/>
        <link rel="stylesheet" href="styles/.css/treeSelector.css"/>
        <!-- endbuild -->
        <title>OPD</title>
    </head>
    <body>
        <div ng-app="opd">
            <div ng-view id="view-content"></div>
            <script src="components/jquery/jquery.js"></script>
            <script src="lib/jquery/jquery-ui-1.10.3.custom.min.js"></script>
            <script src="components/keyboardjs/keyboard.js"></script>
            <script src="components/angular/angular.js"></script>
            <script src="components/angular-cookies/angular-cookies.js"></script>

            <!-- build:js scripts/scripts.min.js -->
            <script src="components/ngInfiniteScroll/ng-infinite-scroll.js"></script>
            <script src="scripts/constants.js"></script>
            <script src="scripts/app.js"></script>
            <script src="modules/infrastructure/init.js"></script>
            <script src="modules/infrastructure/services/configurationService.js"></script>
            <script src="modules/tree-select/init.js"></script>
            <script src="modules/tree-select/models/column.js"></script>
            <script src="modules/tree-select/models/node.js"></script>
            <script src="modules/tree-select/models/explorer.js"></script>
            <script src="modules/tree-select/services/conceptTreeService.js"></script>
            <script src="modules/tree-select/services/nodeSelectionService.js"></script>
            <script src="modules/tree-select/directives/keyboardNavigation.js"></script>
            <script src="modules/tree-select/directives/treeSelector.js"></script>
            <script src="modules/patient/init.js"></script>
            <script src="modules/patient/controllers/activePatientsListController.js"></script>
            <script src="modules/patient/services/patientsListService.js"></script>
            <script src="modules/patient/services/patientService.js"></script>
            <script src="modules/consultation/init.js"></script>
            <script src="modules/consultation/controllers/consultationController.js"></script>
            <script src="modules/consultation/controllers/diagnosisController.js"></script>
            <script src="modules/consultation/controllers/investigationController.js"></script>
            <script src="modules/consultation/controllers/treatmentController.js"></script>
            <script src="modules/consultation/services/diagnosisService.js"></script>
            <script src="modules/consultation/controllers/navigationController.js"></script>
            <!-- endbuild -->
            <script type="text/ng-template" id="consultationNavigationTemplate">
                <header class="box-gradient" ng-controller="ConsultationNavigationController">
                    <div style="display:block;float:left;">
                        <button ng-click="consultation()" class="button">Done</button>
                    </div>
                    <div style="display: block; float: left; width: 40%; height: 100%; text-align: center;">
                        {{patient.name}}
                    </div>
                    <div style="display:block;float:right;">
                        <button ng-click="investigation()" class="button">Investigations</button>
                        <button ng-click="diagnosis()" class="button">Diagnosis</button>
                        <button ng-click="treatment()" class="button">Treatment</button>
                        <button ng-click="templates()" class="button">Templates</button>
                    </div>
                </header>
            </script>    
        </div>
    </body>
</html>