<div class="column">
    <ul>
        <li ng-repeat="node in column.getNodes()"
            ng-click="clickNode(node, column)"
            ng-show="node.shouldBeShown()"
            class="{{getClass(node)}}">
            <button ng-show="canAddNode(node)" ng-click="addNode(node)">+</button>
            <span class="{{getSelectionClass(node)}}"></span>
            <span class="column-row-label">{{node.display}}</span> 
            
        </li>
        <li ng-show="column.hasSelectableItem()">
        </li>
    </ul>
    <ul></ul>
</div>