
@import "compass";

$total-width: 100%;
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) + px;
    font-size: $sizeValue + rem;
}

body{
    max-width:1280px;
    font-size: 100%;
    line-height: 1.1em;
    background:#fff;
}

a, a:link, a:visited, a:hover, a:active {
    color: $bahmniLinkColor;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

p.caution{
    color:#f00;
    padding: 5px;
}

strong {
    font-family: $primaryBoldFont;
}

pre {
  background: none;
}

.asterick {
    color:red;
}

input[file-upload] {
    position:absolute;
    left:-9999px;
    visibility: hidden;
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 200px;
      margin-left: 20px;
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
    }
  }
}

.illegalValue {
  border: 2px solid;
  border-color: #ff6666;
  background: white;
}


.is-abnormal {
  color: red;
}

.referred {
  display: none;
  float: left;
}
.referred-out {
  .referred {
    display: inline-block;
    font-size: 12px;
    background: #619b9a;
    color: #fff;
    padding: 1px 7px;
    border-radius: 5px;
    margin-right: 7px;
  }
}


.row-remover {
  border: 1px solid #ccc;
  border-radius: 5px;
  float: right;
  padding: 5px 10px;
  span {
    font-size: 20px;
    color: #660000;
    padding: 0;
  }
}

.opd-wrapper .has-toggle {cursor: pointer;margin-bottom:0;}
.section-toggle {
  background: none;
  border: none;
  padding: 0;

  &:hover {
    background: none;
    border: none;
  }
  i {
    padding: 0;
    font-size: 26px;
    color: green;
  }
}
.notes p.left {
  width: 80%;
  float: left;
  text-align: left;
}

.diagnosis-notes-title {
  margin-right: 5px;
}

.footer-note.right {
  width: 20%;
  float: right;
}

.provider{
  width: 40%;
}

.view {
  .order {
    color: #888;
    margin: 0 5px;
  }
}
button.save-consultation, .quick-links {
  float: right;
  margin: 6px 20px;
  padding: 8px 20px;
}

a.quick-links {
  @include button($success, darken($success, 8%), white);
}


td .status {
  color: #cc6600;
  float: right;
}


.abnormal-vitals {
  width: auto!important;
  margin: 4px!important;
}
.adt-disposition-action {
  margin: 5px;
}
pre.chief-notes {
  background: none;
  float: left;
}





.accept-btn {
    padding: 8px 7px;
    font-size: 12px;
    border-radius: 3px;
    &:focus {
        outline: 0;
    }
}

.accept-btn.active {
  color: #457FAC;
  padding-top: 7px;
  span:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 18px;
    margin-right: 5px;
  }
}

.current-visit-icon {
	color: $clinicalCurrentVist;
}

.has-notes {
    color: orange;
}
/*home*/
.bahmni-home {
    margin-bottom: 5px!important;
    .icon-home {
        color: #eee;
        margin-right: 5px;
        font-size: 18px;
    }
}

.highlight {
	border-left: 5px solid orange;
}
