

$total-width: 100%;


p.caution{
    color: red;
    padding: 5px;
}


.clearfix {
  @include clearfix();
}
.asterick {
    color:red;
    display: inline-block;
    padding-left: 5px;
    //padding-top: 6px;
}
.strike-text {
  text-decoration: line-through;
}
input[file-upload] {
    position:absolute;
    z-index: -999;
    min-width: 1px;
    width: 1px;
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 200px;
      margin-left: 20px;
      @media screen and (max-width: 1024px) {
        width: 170px;
      }
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
      .offset-label {
        padding-left:0px;
      }
    }
  }
}

.is-abnormal {
  color: red!important;
}
.is-abnormal-bold{
  font-family:$OpenSansBoldFont !important;
  color: red!important;
}

.visible-print {
  display: none;
}

.referred {
  display: none;
  float: left;
}
.referred-out {
  .referred {
    display: inline-block;
    font-size: 12px;
    background: $bahmniSecondaryColor;
    color: $white;
    padding: 1px 7px;
    border-radius: 5px;
    margin-right: 7px;
  }
}


.row-remover {
  border: 1px solid $lightGray;
  border-radius: 5px;
  float: right;
  padding: 5px 10px;
  margin-top: 7px;
  margin-right: 6px;
  span {
    font-size: 20px;
    color: $clinicalRemoveBtn;
    padding: 0;
  }
}

.opd-wrapper .has-toggle {cursor: pointer;margin-bottom:0;}
.section-toggle {
  background: none;
  border: none;
  padding: 0;

  &:hover {
    background: none;
    border: none;
  }
  i {
    padding: 0;
    font-size: 26px;
    color: green;
  }
}
.notes p.left {
  width: 80%;
  float: left;
  text-align: left;
}

.diagnosis-notes-title {
  margin-right: 5px;
}

.view {
  .order {
    color: $mediumGray;
    margin: 0 5px;
  }
}
.quick-links{
  float: right;
}
button.save-consultation {
  float: right;
  margin: 6px;
  padding: 10px 15px 9px;
}
button.save-consultation {
  &.hideSaveText{
    .fa-save {
      display: none;
    }
    .text{
      display: block;
    }
    @media screen and (max-width: 1024px) {
      padding: 19px 10px 13px;
      .text {
        display: none;
      }
      .fa-save {
        display: block;
      }
    }

  }
  /*.text {
    display: none;
  }
  @media screen and (min-width: 860px) {
    .text {
      display: inline-block;
    }
    .fa-save {
      display: none;
    }
  }*/
}
a.quick-links, a.btn--success {
  @include button($success, darken($success, 8%), white);
  padding: 10px 20px;
  font-size: 16px;
}


td .status {
  color: orange;
  float: right;
}


.abnormal-vitals {
  width: auto!important;
  margin: 4px!important;
}

pre.chief-notes {
  background: none;
  float: left;
}





//.accept-btn {
//    padding: 8px 7px;
//    font-size: 12px;
//    border-radius: 3px;
//    &:focus {
//        outline: 2;
//    }
//}

.accept-btn.active {
  color: $bahmniTertiaryColor;
  padding-top: 7px;
  span:before {
    font-family: FontAwesome;
    content: "\f00c";
    //font-size: 18px;
    margin-right: 5px;
  }
}

.current-visit-icon {
	color: $clinicalCurrentVist;
}

.has-notes {
    color: orange;
    i{
      color: orange !important;
    }
}
/*home*/
.bahmni-home {
    margin-bottom: 5px!important;
    .fa-home {
        color: $lightestGray;
        margin-right: 5px;
        font-size: 18px;
    }
}

.highlight {
	border-left: 5px solid orange;
}
u, .add-drug-btninput[value]:first-letter {
    text-decoration: none;
    border-bottom: 1px solid;
    font-family: $OpenSansBoldFont;
}

.drug-dispensed {
  color: $bahmniTertiaryColor;
  font-family: $primaryBoldFont;
}

.box {
  padding: 10px;
  border: 1px solid $lightGray;
  background: $white;
  border-radius: 5px;
  overflow: hidden;
  @include clearfix();
}

.overflowAuto{
  overflow: auto;
}
.is-abnormal .select2-chosen {
  color: red!important;
}

.placeholder-text{
  background: #fff;
  padding: 5px;
  color: #444 !important;
  p{
    margin-bottom: 0;
    color: #444 !important;
  }
}

.fa-pencil, .fa-eye{
  cursor: pointer;
}


.clear-both{
  clear: both;
}
.select2-drop{
  z-index: 99999 !important;
}
.ng-dialog-all-details-page{

  .select2-container .select2-choice{
    height: 26px !important;
  }
}


.mylegend {
  background: $lightestGray;
  line-height: 16px;
  margin-bottom:20px;
  padding: 3px 0;
  border-radius: 3px;
  border:1px solid $lightGray;
  span{
    display:inline-block;
    padding:2px 10px;
    font-weight:bold;
  }
}

.registraion_legend{
  margin: 15px 0 15px 25px;
  width:auto;
  position: relative;
  @media (max-width : 768px){
    margin: 20px 0;
    float: left;
    width: 100%;
  }
  &:before{
    content: "";
    border-top:1px #ccc solid;
    position: absolute;
    top: 14px;
    width: 96%;
  }
  span.mylegend{
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    padding: 5px 6px;
    margin-left: 25px;
    position: relative;
  }
  &.first-registraion_legend{
    margin-left: 0;
    margin-right: 0;
    &:before{
      width: 100%;
    }
  }
  &.removeLegend{
    &:before{
      display: none;
    }
    span.mylegend{
      display: none;
    }
  }

}

