

$total-width: 100%;


p.caution{
    color: red;
    padding: 5px;
}


.clearfix {
  @include clearfix();
}
.asterick {
    color:red;
}
.strike-text {
  text-decoration: line-through;
}
input[file-upload] {
    position:absolute;
    z-index: -999;
    min-width: 1px;
    width: 1px;
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 200px;
      margin-left: 20px;
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
      .offset-label {
        padding-left: 230px;
      }
    }
  }
}

.is-abnormal {
  color: red!important;
}

.visible-print {
  display: none;
}

.referred {
  display: none;
  float: left;
}
.referred-out {
  .referred {
    display: inline-block;
    font-size: 12px;
    background: $bahmniSecondaryColor;
    color: $white;
    padding: 1px 7px;
    border-radius: 5px;
    margin-right: 7px;
  }
}


.row-remover {
  border: 1px solid $lightGray;
  border-radius: 5px;
  float: right;
  padding: 5px 10px;
  span {
    font-size: 20px;
    color: $clinicalRemoveBtn;
    padding: 0;
  }
}

.opd-wrapper .has-toggle {cursor: pointer;margin-bottom:0;}
.section-toggle {
  background: none;
  border: none;
  padding: 0;

  &:hover {
    background: none;
    border: none;
  }
  i {
    padding: 0;
    font-size: 26px;
    color: green;
  }
}
.notes p.left {
  width: 80%;
  float: left;
  text-align: left;
}

.diagnosis-notes-title {
  margin-right: 5px;
}

.view {
  .order {
    color: $mediumGray;
    margin: 0 5px;
  }
}
button.save-consultation, .quick-links {
  float: right;
  margin: 6px;
  padding: 8px 15px;
}
button.save-consultation {
  .text {
    display: none;
  }
  @media screen and (min-width: 860px) {
    .text {
      display: inline-block;
    }
    .icon-save {
      display: none;
    }
  }
}
a.quick-links, a.btn--success {
  @include button($success, darken($success, 8%), white);
}


td .status {
  color: orange;
  float: right;
}


.abnormal-vitals {
  width: auto!important;
  margin: 4px!important;
}

pre.chief-notes {
  background: none;
  float: left;
}





.accept-btn {
    padding: 8px 7px;
    font-size: 12px;
    border-radius: 3px;
    &:focus {
        outline: 2;
    }
}

.accept-btn.active {
  color: $bahmniTertiaryColor;
  padding-top: 7px;
  span:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 18px;
    margin-right: 5px;
  }
}

.current-visit-icon {
	color: $clinicalCurrentVist;
}

.has-notes {
    color: orange;
}
/*home*/
.bahmni-home {
    margin-bottom: 5px!important;
    .icon-home {
        color: $lightestGray;
        margin-right: 5px;
        font-size: 18px;
    }
}

.highlight {
	border-left: 5px solid orange;
}
u, .add-drug-btninput[value]:first-letter {
    text-decoration: none;
    border-bottom: 1px solid;
    font-family: $OpenSansBoldFont;
}

.drug-dispensed {
  color: $bahmniTertiaryColor;
  font-family: $primaryBoldFont;
}

.box {
  padding: 10px;
  border: 1px solid $lightGray;
  background: $white;
  border-radius: 5px;
  overflow: hidden;
  @include clearfix();
}
