.confirm-box{
  .message{
    padding-bottom: 15px;
  }
  .actions{
    button{
      background: linear-gradient(to bottom, $bahmniSecondaryColor, darken($bahmniSecondaryColor, 10%));
      color: $white;
      border:1px solid darken($bahmniSecondaryColor, 15%);
      margin-right: 10px;
      text-transform: capitalize;
    }
  }
}
