/* form invalid error */
form.submitted-with-error {
	.ng-invalid:enabled, .ng-invalid:focus {
		outline: none !important;
		border: 2px solid darken($clinicalFormInvalid, 30%);
		background: $clinicalFormInvalid;
	}
}

.illegalValue, buttons-radio.illegalValue button, concept input:invalid.illegalValue {
    &, &:focus {
        border: 2px solid darken($clinicalFormInvalid, 30%);
        background: $clinicalFormInvalid;
        outline: 0;
    }
}
buttons-radio.illegalValue { border: 0; background: none }