.fix-fixed {
    .opd-wrapper {
        padding-top: 0;
    }
    .opd-header-wrapper {
        position: relative;
        -webkit-backface-visibility: hidden;
    }
    .template-control-header {
        position: absolute;
    }
}