.mobile-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    
    @media screen and (min-width: 769px) {
        display: none;
    }

    .toggle-patient {
        outline: none;
        border: 0;

        &:focus,
        &:hover {
            opacity: 1;
        }
    }

    .mobile-header-right {
        justify-content: flex-end;
        display: flex;
        gap: 8px;
    }

    .btn-icon {
        border-radius: 0;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: #fff;
        color: #88af28;
        padding: 4px 6px;

        &:hover,
        &:focus {
            background-color: #fff;
        }
    }

    .consultation-btn {
        border-radius: 0;
        font-size: 14px;
        border: none;
        outline: none;
        background-color: #88af28;
        background: #88af28;
        color: #fff;
        padding: 11px 8px 11px;
        margin-right: 0;

        &:hover,
        &:focus {
            background-color: #88af28;
        }
    }
}

.mobile-menu-wrapper {
    .mobile-menu-overlay {
        position: fixed;
        top: 52px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 21000;
        background: rgba(0, 0, 0, 0.4);
    }

    .header-mobile-menu {
        position: fixed;
        top: 52px;
        bottom: 0;
        left: 0;
        min-width: 242px;
        max-width: 100vw;
        z-index: 21001;
        background-color: #333;
        padding: 16px 20px;
        transition: left linear 0.3s;

        @media screen and (min-width: 320px) {
            padding: 16px 20px 16px 35px;
        }
    }

    .menu-item {
        color: #fff;
        padding: 7px 0;
        font-size: 14px;
        align-items: center;

        .fa {
            font-size: 20px;
            margin-right: 25px;
        }

        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;
        }
    }

    .recent-patients {
        float: none;
        margin-bottom: 20px;

        .recent-patients-panel {
            position: static;
            border-radius: 0;
            width: 240px;
            max-height: none;
            padding: 0;

            a {
                padding: 8px;
            }
        }

        .recent-patients-search {
            border-radius: 0;
            padding: 0;

            .search-input {
                padding: 8px 35px 8px 8px;
                background: #f5f5f5;
                border: 1px solid #f5f5f5;
                width: 240px;
                color: #a5a5a5;
            }
        }

        .close-btn {
            right: 10px;
            top: 8px;
            color: #000;
            font-size: 12px;
            padding: 1px;
            background: transparent;
            border: 2px solid #000;
            border-radius: 100%;
        }

        &-wrapper {
            max-height: 180px;
            overflow-y: auto;
            position: absolute;
            z-index: 21002;
            top: 38px;
            left: 0;
            right: 0;
            background-color: #fff;
            color: #a5a5a5;
        }

        .recent_patient {
            padding: 8px;
        }
    }

    &.ng-hide {
        display: block !important;
        .header-mobile-menu {
            left: -100%;

            @media screen and (max-width: 320px) {
                left: -200%;
            }
        }

        .mobile-menu-overlay {
            display: none;
        }
        
    }
}
