<!-- <header class="template-header">
    <button class="ngdialog-close back-btn" ng-click="closeThisDialog()">
    	<i class="fa fa-arrow-circle-left"></i>
    </button>
    <h5>
        <i class="fa fa-user"></i>
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    
</header> -->

<div class="template-container clearfix">
    <h6>{{diseaseName}}</h6>
    <div class="concept-set-container">
        <div>
            <div ng-if="diseaseTemplate.name">
                <div pivot-table patient-uuid="patient.uuid" disease-name="diseaseTemplate.name" config="section.expandedViewConfig.pivotTable" display-name="diseaseTemplate.label"></div>
                <observation-graph visit-uuid="visit.uuid" params="section.expandedViewConfig.observationGraph" patient-uuid="patient.uuid"></observation-graph>
            </div>

        </div>
        <div>
            <section class="dashboard-section">
                <h2 class="section-title">{{section | titleTranslate}}</h2>
                <disease-template config="section.expandedViewConfig" template="diseaseTemplate" patient="patient" show-date-time-for-intake="showDateTimeForIntake" show-time-for-progress="showTimeForProgress"></disease-template>
            </section>
        </div>
    </div>
</div>