<!-- <header class="template-header">
    <button class="ngdialog-close back-btn" ng-click="closeThisDialog()">
    	<i class="fa fa-arrow-circle-left"></i>
    </button>
    <h5>
        <i class="fa fa-user"></i> 
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    <h6>All Visits</h6>
</header> -->

<div class="template-container">
	<section class="block dashboard-section">
       <visits-table params="params" patient-uuid="patientUuid" show-observation-data="showAllObservationsData"></visits-table>
    </section>
</div>
