<div class="dashboard-more-info" ng-controller="DiseaseTemplateController">
    <h2 ng-dialog="dashboard/views/dashboardSections/allDiseaseTemplate.html"
        ng-dialog-class="ngdialog ngdialog-theme-default ng-dialog-all-details-page"
        ng-dialog-data="{{dialogData}}"
        ng-dialog-controller="PatientDashboardAllDiseaseTemplateController" class="section-title has-link">
		<span class="title-link"> {{section.title}} </span>
	    <i class="fa fa-external-link"></i>
     </h2>

    <disease-template  config="section.dashboardConfig" template="getDiseaseTemplateSection(section.templateName)" patient="patient"
                       show-date-time-for-intake="showDateTimeForIntake" show-time-for-progress="showTimeForProgress" section-id="section.id"></disease-template>
</div>
