<div class="template-container">
    <section class="block dashboard-section">
        <section class="block" style="overflow: scroll">
            <h2 class="ng-binding ng-scope section-title">Image</h2>
            <div class="concept-set-container-view">
                <section class="block hierarchy">
                    <div style="overflow:scroll;">
                            <span class="tree-list-item row-click toggle-container concept-set-container-view"  >
                                <img ng-src="/document_images/{{ngDialogData.value}}"/>
                            </span>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>