<div ng-controller="PatientDashboardLabOrdersController" class="dashboard-laborders-section">
    <h2 ng-dialog="dashboard/views/dashboardSections/labSummary.html"
        ng-dialog-data="{{dialogData}}"
        ng-dialog-class="ngdialog-theme-flat ngdialog-theme-custom"
        ng-dialog-controller="PatientDashboardLabSummaryController" class="section-title has-link">
		<span class="title-link">{{section.title}} </span>
	    <i class="icon-external-link"></i>
    </h2>
    <investigation-results params="dashboardParams"></investigation-results>
</div>