<!-- <header class="template-header">
    <button class="ngdialog-close back-btn" ng-click="closeThisDialog()">
    	<i class="fa fa-arrow-circle-left"></i>
    </button>
    <h5>
        <i class="fa fa-user"></i>
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>

</header> -->
<div class="template-container">
    <h6>{{ 'ALL_LAB_RESULTS_LABEL'|translate  }}</h6>
    <div class="concept-set-container concept-set-container-lab">
    <investigation-results params="expandedViewConfig"></investigation-results>
    <observation-graph visit-uuid="visit.uuid" params="expandedViewConfig.observationGraph" patient-uuid="patient.uuid"></observation-graph>

    </div>
</div>
