<div class="dashboard-patientInformation-section">
    <h2 class="section-title">{{section.title}}</h2>

    <section bindonce="patient" class="block patientInformation" ng-class="{'more': patientSummary.show}">
        <table class="patient">
            <tbody>
                <tr>
                    <td class="name">Name</td>
                    <td class="value">{{patient.name}}</td>
                </tr>

                <tr>
                    <td class="name">Gender</td>
                    <td class="value">{{patient.genderText}}</td>
                </tr>

                <tr>
                    <td class="name">Age</td>
                    <td class="value">{{patient.ageText}}</td>
                </tr>

                <tr>
                    <td class="name">Village</td>
                    <td class="value">{{patient.address.cityVillage}}</td>
                </tr>
                <tr ng-repeat="attribute in section.patientAttributes" ng-if="patient[attribute]" ng-show="section.patientAttributes.length" ng-class="attribute">
                    <td class="name">{{patient[attribute].label}}</td>
                    <td class="value">{{(patient[attribute].value.display || patient[attribute].value) | boolean}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>