<!-- <header class="template-header">
    <button class="ngdialog-close back-btn" ng-click="closeThisDialog()">
    	<i class="fa fa-arrow-circle-left"></i>
    </button>
    <h5>
        <i class="fa fa-user"></i>
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    
</header> -->
<div class="template-container">
	<h6>{{'TREATMENTS_SUMMARY_PRESCRIPTION_KEY' | translate}}</h6>
    <treatment-data id="treatment-summary" params="allTreatmentDetails" patientUuid="patient.uuid"></treatment-data>
</div>