<div ng-controller="PatientDashboardVisitsController" class="dashboard-visits-section">
    <h2 class="section-title has-link"
        ng-dialog="dashboard/views/dashboardSections/allVisits.html"
        ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page"
        ng-dialog-controller="PatientDashboardAllVisitsController" ng-dialog-data="{{dialogData}}">
        <span class="title-link"> {{section | titleTranslate}}</span>
	    <i class="fa fa-external-link"></i>
    </h2>
    <visits-table params="dashboardConfig" patient-uuid="patientUuid"></visits-table>
</div>