<div>

	<form>
		<fieldset>
			<p class="input-position-class">
				<label name="input-id">Patient Id</label>
				<span>{{patient.identifier}}</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Name</label>
				<span>{{patient.preferedName}}</span>
				<span><img ng-src="{{patient.image}}" /></span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Age</label>
				<span>{{patient.age}}</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Village</label>
				<span>{{patient.address.cityVillage}}</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Father/husband name</label>
				<span>{{patient.primaryRelative}}</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Gender</label>
				<span>{{patient.gender}}</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Select Ward</label>
				<span class="select-arrow">
					<select>
						<option selected="selected">Select one</option>
						<option>Cardiology</option>
						<option>ICU</option>
						<option>General</option>
					</select>
				</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Notes</label>
				<textarea></textarea>
			</p>
			<p class="input-position-class">
				<label name="input-id">Tentative number of days</label>
				<input type="number">
			</p>
		</fieldset>
	</form>
	
</div>