<div>

	<form ng-submit="submit()" >
		<fieldset>
			<p class="input-position-class">
				<label>Patient Id</label>
				<span>{{patient.identifier}}</span>
			</p>
			<p class="input-position-class">
				<label>Name</label>
				<span>{{patient.preferedName}}</span>
				<span><img ng-src="{{patient.image}}" id="patient-image" /></span>
			</p>
			<p class="input-position-class">
				<label>Age</label>
				<span>{{patient.age}}</span>
			</p>
			<p class="input-position-class">
				<label>Village</label>
				<span>{{patient.address.cityVillage}}</span>
			</p>
			<p class="input-position-class">
				<label >Father/husband name</label>
				<span>{{patient.primaryRelative}}</span>
			</p>
			<p class="input-position-class">
				<label>Gender</label>
				<span ng-switch on="patient.gender">
				   <span ng-switch-when="M">Male</span>
				   <span ng-switch-when="F">Female</span>
				   <span ng-switch-default>Others</span>
				</span>
			</p>
		</fieldset>
		<fieldset>
			<p class="input-position-class">
				<label for="advisedWard">Ward</label>
				<input id="advisedWard" name="advisedWard" type="text" ng-model="advisedWard">
			</p>
			<p class="input-position-class">
				<label for="notes">Notes</label>
				<textarea id="notes" name="notes" ng-model="notes" ></textarea>
			</p>
			<p class="input-position-class">
				<label for="tentativeDays">Tentative number of days</label>
				<input id="tentativeDays" name="tentativeDays" type="number" ng-model="tentativeDays">
			</p>
		</fieldset>
		<p> <input type="submit" value="Submit" /> </p>
	</form>
	
</div>