<div>

	<form>
		<fieldset>
			<p class="input-position-class">
				<label name="input-id">Patient Id</label>
				<span>{{patient.identifiers[0].identifier}}</span>	
			</p>
			<p class="input-position-class">
				<label name="input-id">Name</label>
				<span>{{patient.person.preferredName.display}}</span>
				<span>Photo</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Age</label>
				<span>{{patient.person.age}}</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Village</label>
				<span>village</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Father/husband name</label>
				<span>father/husband name</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Gender</label>
				<span>{{patient.person.gender}}</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Select Ward</label>
				<span class="select-arrow">
					<select>
						<option selected="selected">Select one</option>
						<option>Cardiology</option>
						<option>ICU</option>
						<option>General</option>
					</select>
				</span>
			</p>
			<p class="input-position-class">
				<label name="input-id">Notes</label>
				<textarea></textarea>
			</p>
			<p class="input-position-class">
				<label name="input-id">Tentative number of days</label>
				<input type="number">
			</p>
		</fieldset>
	</form>
	
</div>