<section class="drug-orders-history section-grid">
	<h2 class="section-title">Existing Prescriptions</h2>
	<div class="inpage">
		<div class="tabs">

			<div class="tab" ng-repeat="prescriptionDate in drugOrderGroupOrder">
				<input class="tab-radio" id="{{prescriptionDate}}" name="tab-group-1" type="radio" ng-checked="$index == 0">
				<label class="tab-label" for="{{prescriptionDate}}">{{prescriptionDate}}</label>

				<div class="inpage-tab-panel">
					<div class="inpage-tab-content">
						<div class="select-all-drugs-widget">
							<form class="fl">
								<input id="select-all-drugs" class="select-drug" type="checkbox" />
								<label class="fl" for="select-all-drugs">Select All</label>
							</form>
							<button class="confirm refill-drugs-btn fr">Refill</button>
						</div>
						
						<ul class="table-mimic">
							<li ng-repeat="drugOrder in drugOrderGroups[prescriptionDate]">
								<form class="fl"><input class="select-drug" type="checkbox" /></form>
                                <div class="drug-details">
                                    <strong class="drug-name">{{drugOrder.drugName}}</strong>&nbsp;{{drugOrder.getDescription()}}
                                </div>
								<div class="button-group">
                                    <button class="toggle" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                                        <i class="icon-plus-sign" ng-click="toggleShowAdditionalInstructions(drugOrder)" ng-hide="drugOrder.showAdditionalInstructions"></i>
                                        <i class="icon-minus-sign" ng-click="toggleShowAdditionalInstructions(drugOrder)" ng-show="drugOrder.showAdditionalInstructions"></i>
                                    </button>
									<button><i class="icon-stop"></i></button>
									<button><i class="icon-edit"></i></button>
								</div>
                                <div ng-show="drugOrder.showAdditionalInstructions" class="notes inline-notes">
                                    {{drugOrder.additionalInstructions}}
                                </div>
							</li>
						</ul>
					</div>
				</div> 
			</div>
		</div>
	</div>
</section>



