<section class="drug-orders-history section-grid" xmlns="http://www.w3.org/1999/html">
	<h2 class="section-title">Recent Prescriptions</h2>
    <div ng-if="drugOrderGroupsEmpty()">
        <span>No Prescriptions available</span>
    </div>
	<div class="inpage">
		<div class="tabs">
			<div class="tab" ng-repeat="prescriptionDate in drugOrderGroupOrder">
				<input class="tab-radio" id="{{prescriptionDate}}" name="tab-group-1" type="radio" ng-checked="$index == 0" ng-class="{}">
				<label class="tab-label" for="{{prescriptionDate}}">{{prescriptionDate | date: 'dd MMM yy'}}</label>

				<div class="inpage-tab-panel">
					<div class="inpage-tab-content">
						<div class="select-all-drugs-widget">
							<form class="fl">
								<input id="select-all-drugs" class="select-drug" type="checkbox" />
								<label class="fl" for="select-all-drugs">Select All</label>
							</form>
							<button class="confirm refill-drugs-btn fr">Refill</button>
						</div>
						
						<ul class="table-mimic">
							<li ng-repeat="drugOrder in drugOrderGroups[prescriptionDate]" ng-class="{highlight : drugOrder.isActive()}">
								<form class="fl"><input class="select-drug" type="checkbox" /></form>
                                <div class="drug-details" ng-class="{'strike-through': drugOrder.discontinued()}">
                                    <strong class="drug-name">{{drugOrder.drug.name}}</strong> - &nbsp;{{drugOrder.getDescription()}}

                                </div>
								<div class="button-group">
                                    <button class="toggle" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                                        <i class="icon-plus-sign" ng-click="toggleShowAdditionalInstructions(drugOrder)" ng-hide="drugOrder.showAdditionalInstructions"></i>
                                        <i class="icon-minus-sign" ng-click="toggleShowAdditionalInstructions(drugOrder)" ng-show="drugOrder.showAdditionalInstructions"></i>
                                    </button>
									<button ng-if="drugOrder.isActive()"><i class="icon-stop" ng-click="remove(drugOrder)" ng-if="!drugOrder.discontinued()"></i></button>
									<button ng-if="drugOrder.isActive()"><i class="icon-undo" ng-click="undoRemove(drugOrder)" ng-if="drugOrder.discontinued()"></i></button>
									<button ng-if="drugOrder.isActive()"><i class="icon-edit" ng-click="edit(drugOrder)"></i></button>
								</div>
                                <div class="start-date fr">
                                    <span ng-if="showEffectiveFromDate(prescriptionDate, drugOrder.effectiveStartDate)"> from {{drugOrder.effectiveStartDate | date: 'dd MMM yy'}}</span>
                                    <br/>
                                    <span ng-if="drugOrder.dateStopped">stopped {{drugOrder.dateStopped | date: 'dd MMM yy'}}</span>
                                </div>
                                <div ng-show="drugOrder.showAdditionalInstructions" class="notes inline-notes">
                                    {{drugOrder.additionalInstructions}}
                                    <div class="footer-note fr">
                                        <span class="time-stamp">
                                            <span class="time">{{drugOrder.effectiveStartDate | date: 'dd MMM yy'}}</span>
                                        </span>
                                        <span class="provider">{{drugOrder.provider.name}}</span>
                                    </div>
                                </div>
							</li>
						</ul>
					</div>
				</div> 
			</div>
		</div>
	</div>
</section>



