<section class="drug-orders-history" xmlns="http://www.w3.org/1999/html">

    <div ng-if="drugOrderGroupsEmpty()">
        <p class="placeholder-text">No Prescriptions available</p>
    </div>
	<div class="inpage">
		<div class="tabs">
			<div class="tab" ng-repeat="prescriptionDate in drugOrderGroupOrder">
				<input class="tab-radio" id="{{prescriptionDate}}" name="tab-group-1" type="radio" ng-checked="$index == 0" ng-class="{}">
				<label class="tab-label" for="{{prescriptionDate}}">{{prescriptionDate | date: 'dd MMM yy'}}</label>

				<div class="inpage-tab-panel">
					<div class="inpage-tab-content">
                        <button class="confirm refill-drugs-btn fr" ng-click="refillAll(consultation.drugOrderGroups[prescriptionDate])" ng-if="!drugOrderGroupsEmpty()"><i class="icon-forward"></i> Refill All</button>
                        <ul class="table-mimic">
							<li ng-repeat="drugOrder in consultation.drugOrderGroups[prescriptionDate]" ng-class="{'active-drug' : drugOrder.isActive(), 'highlight' : drugOrder.isBeingEdited}">
                                <div class="drug-details" ng-class="{'strike-through': drugOrder.isDiscontinuedOrStopped()}">
                                    <strong class="drug-name">{{drugOrder.drug.name}}</strong> - &nbsp;{{drugOrder.getDescription()}}

                                </div>
								<div class="button-group">
                                    <button class="toggle" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                                        <i class="icon-plus-sign" ng-click="toggleShowAdditionalInstructions(drugOrder)" ng-hide="drugOrder.showAdditionalInstructions"></i>
                                        <i class="icon-minus-sign" ng-click="toggleShowAdditionalInstructions(drugOrder)" ng-show="drugOrder.showAdditionalInstructions"></i>
                                    </button>
                                    <button><i class="icon-play" ng-click="refill(drugOrder)"></i></button>
                                    <button ng-if="drugOrder.isActive()" ng-disabled="!drugOrder.isDiscontinuedAllowed"><i class="icon-stop" ng-click="discontinue(drugOrder)" ng-if="!drugOrder.isMarkedForDiscontinue"></i></button>
									<button ng-if="drugOrder.isActive()" ng-disabled="!drugOrder.isDiscontinuedAllowed"><i class="icon-undo" ng-click="undoDiscontinue(drugOrder)" ng-if="drugOrder.isMarkedForDiscontinue"></i></button>
									<button ng-if="drugOrder.isActive()" ng-disabled="!drugOrder.isEditAllowed"><i class="icon-edit" ng-click="edit(drugOrder, consultation.drugOrderGroups[prescriptionDate])"></i></button>
								</div>
                                <div class="start-date fr">
                                    <span ng-if="showEffectiveFromDate(prescriptionDate, drugOrder.effectiveStartDate)"> from {{drugOrder.effectiveStartDate | date: 'dd MMM yy'}}</span>
                                    <br/>
                                    <span ng-if="drugOrder.isDiscontinuedOrStopped()">stopped {{drugOrder.effectiveStopDate | date: 'dd MMM yy'}}</span>
                                </div>
                                <div ng-show="drugOrder.showAdditionalInstructions" class="notes inline-notes">
                                    {{drugOrder.additionalInstructions}}
                                    <div class="footer-note fr">
                                        <span class="time-stamp">
                                            <span class="time">{{drugOrder.dateActivated | date: 'dd MMM yy'}}</span>
                                        </span>
                                        <span class="provider">{{drugOrder.provider.name}}</span>
                                    </div>
                                </div>
							</li>
						</ul>
					</div>
				</div> 
			</div>
		</div>
	</div>
</section>
