<section class="section-grid" ng-show="treatments.length > 0">
	<h2 class="section-title">New Prescription</h2>
	<ul class="table-mimic">
		<li ng-repeat="newTreatment in treatments">
			<div class="drug-details">
				<strong class="drug-name">{{newTreatment.drugNameDisplay}}</strong>&nbsp;{{newTreatment.getDescription()}}
			</div>
			<div class="button-group" >
				<button class="toggle" ng-class="{'has-notes': newTreatment.notes}">
					<i class="icon-plus-sign" ng-click="toggleShowNotes(newTreatment)" ng-hide="newTreatment.showNotes"></i>
					<i class="icon-minus-sign" ng-click="toggleShowNotes(newTreatment)" ng-show="newTreatment.showNotes"></i>
				</button>
				<button ng-confirm-click="remove($index)" confirm-message="Are you sure you want to remove?"><i class="icon-remove"></i></button>
				<button ng-click="edit($index)"><i class="icon-edit"></i></button>
			</div>
			<div class="start-date fr">
				<span>from {{newTreatment.scheduledDate | date: 'dd/MM/yyyy'}}</span>
			</div>
	        <div ng-show="newTreatment.showNotes" class="notes inline-notes">
	            {{newTreatment.notes}}
	        </div>
		</li>
	</ul>
</section>
