<span class="ngdialog-close"></span>
<!--<p><strong>{{alreadyActiveOrder.drug.name}}</strong> you are trying to order is conflicting.</p>-->
<div class="drug-details">
    <strong class="drug-name">{{alreadyActiveSimilarOrder.getDisplayName()}}</strong>
    <p>from <strong>{{alreadyActiveSimilarOrder.effectiveStartDate | date: 'dd MMM yy'}}</strong> to <strong>{{alreadyActiveSimilarOrder.effectiveStopDate | date: 'dd MMM yy'}}</strong></p>
    <p> is conflicting with prescription you are trying to add.</p>
</div>

<div class="dialog-button-group">
    <button type="button" ng-click="refill(alreadyActiveSimilarOrder)" focus-on="popupActive">Refill</button>
    <button ng-click="revise(alreadyActiveSimilarOrder)">Revise</button>
</div>

