
<div ng-controller="MessageController" class="messages">

    <ul>
        <li>
            <div class="message-container success-message-container" ng-if="isInfoMessagePresent()">
                <div class="message-icon">
                    <i class="fa fa-check-circle"></i>
                </div>
                <div class="message-text">
                    <div ng-repeat="info in messages.info">
                        {{info.value | translate}}
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul>
        <li>
            <div class="message-container error-message-container" ng-if="isErrorMessagePresent()">
                <div class="message-text">
                    <div class="types-for-errors error-message">
                        <div ng-repeat="error in messages.error track by $index">
                            <div class="msg" ng-if="!error.isServerError">{{ error.value | translate}}</div>
                            <div class="msg primary" ng-if="error.isServerError">{{error.value | translate}}</div>
                        </div>
                    </div>
                    <div class="button-wrappper fr clearfix">
                        <button type="button" ng-click="getMessageText('error')" class="copy-btn">{{ 'MESSAGE_DIALOG_OPTION_COPY' | translate }}</button>
                        <button type="button" ng-click="hideMessage('error')" class="show-btn">{{ 'MESSAGE_DIALOG_OPTION_OKAY' | translate }}</button>
                    </div>  
                </div>
            </div>
        </li>
    </ul>

    <ul>
        <li>
            <div class="message-container error-message-container" ng-if="isAlertMessagePresent()">
                <div class="message-text">
                    <div class="types-for-errors error-message">
                        <div ng-repeat="alert in messages.alert">
                            <div class="msg">{{ alert.value | translate}}</div>
                        </div>
                    </div>
                    <div class="button-wrapper fr clearfix">
                        <button type="button" ng-click="hideMessage('alert')" class="review-btn" ng-focus="reviewButtonFocused = true">{{ 'MESSAGE_DIALOG_OPTION_REVIEW' | translate }}</button>
                        <button type="button" ng-click="discardChanges('alert')" class="discard-btn">{{ 'MESSAGE_DIALOG_OPTION_DISCARD' | translate }}</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

