<div>
    <section class="block dashboard-section">
        <div class="dashboard-patientInformation-section">
            <section bindonce="patient" class="block patientInformation" ng-class="{'more': patientSummary.show}">
                <table class="patient dashboard-table">
                    <tbody>
                    <tr class="patient-info">
                        <td colspan="2">
                    <span class="patient-img">
                        <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
                    </span>
                            <div class="patient-value">
                         <span class="patient-name">
                            {{patient.name | titleCase}} ({{patient.identifier}})</span> -
                         <span class="patient-gender-age" ng-bind-html="patient.genderText +', '+patient.ageText"></span>
                         <span class="patient-address">
                             {{patient.address.cityVillage}}
                         </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</div>

<manage-programs patient="patient"></manage-programs>

<div>
    <a class="back-btn" ng-href="#/{{configName}}/patient/{{patient.uuid}}/concept-set-group/observations"
       title="Go to Clinical Dashboard">
        General Consultation
    </a>
</div>