<link rel="stylesheet" href="../styles/dischargeSummaryPrint.css"/>
<script type="text/ng-template" id="resultTemplate">
    <span ng-if="!result.value">
		<span class="test-name">{{result.concept.name}}</span>
	</span>
    <span ng-if="result.value" ng-class="{abnormal: result.isAbnormal}">
		<span class="test-name">{{result.concept.name}}</span>
    	<span class="test-date">{{result.orderDate | date:'d MMM yyyy'}}</span>
        <span class="test-value">{{result.value}} {{result.units}}</span>
	</span>
</script>
<script type="text/ng-template" id="testTemplate">
    <span ng-switch="test.results.length">
		<span ng-switch-when="0">
			<span class="test-name">{{test.concept.name}}</span>
		</span>
		<span ng-switch-when="1" ng-init="result = test.results[0]">
			<span ng-include="'resultTemplate'"></span>
		</span>
		<ul ng-switch-default>
            <li class="result" ng-repeat="result in test.results" ng-include="'resultTemplate'"></li>
        </ul>
    </span>
</script>
<div class="discharge-summary-print">
    <header>
        <img class="logo" src="../images/jss-icon.png" alt="logo">

        <h1>Jan Swasthya Sahyog Community Health Centre <span>(Inpatient Ward)</span></h1>

        <h2>Discharge Summary</h2>
    </header>
    <main>
        <div class="patient-info">
            <table>
                <tr>
                    <td>Name: <span class="value">{{patient.name}}</span></td>
                    <td>Age / Sex: <span class="value">{{patient.birthdate | dateToAge:visit.getDischargeDispositionEncounterDate()}} / {{patient.gender}}</span>
                    </td>
                    <td>Registration No. <span class="value">{{patient.identifier}}</span></td>
                </tr>
                <tr>
                    <td>Village / Town: <span class="value">{{patient.address.cityVillage}}</span></td>
                    <td>P.O. <span class="value">{{patient.address.address2}}</span></td>
                    <td>District: <span class="value">{{patient.address.countyDistrict}}</span></td>
                </tr>
                <tr>
                    <td>DOA: <span class="value">{{visit.getAdmissionDate() | date: 'd MMM yyyy'}}</span></td>
                    <td>DOO: <span class="value">{{dischargeSummary.getObservationValue('Date of Operation') | date:'d MMM yyyy'}}</span>
                    </td>
                    <td>DOD: <span
                            class="value">{{visit.getDischargeDispositionEncounterDate() | date: 'd MMM yyyy'}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <section class="observations">
            <h3>Observations</h3>
            <table>
                <tbody ng-repeat="observation in visit.getWeightForCurrentVisit()">
                <tr>
                    <td>
                        <span>{{observation.concept.name}}</span>
                    </td>
                    <td>
                        <span>{{observation.value}}</span>
                        <span>{{observation.concept.units}}</span>
                        <span class="date">{{observation.observationDateTime | date :'d MMM yyyy'}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="diagnosis-print">
            <h3>Final Diagnosis</h3>
            <ul>
                <li ng-repeat="diagnosis in visit.getDiagnoses() | primaryDiagnosisFirst" ng-if="!diagnosis.isRuledOut()">
                    <span>{{diagnosis.getDisplayName()}}</span>
                    <div ng-if="diagnosis.comments">
                        <p class="fl">
                            <strong class="diagnosis-notes-title">Diagnosis Notes: </strong><pre>{{diagnosis.comments}}</pre>
                        </p>
                    </div>
                </li>
            </ul>
        </section>
        <section class="history-print">
            <h3>History &amp; Examination</h3>
            <pre>{{dischargeSummary.getObservationValue('History and Examination Notes')}}</pre>
        </section>
        <section class="treatment-print" bindonce>
            <h3>Treatment received</h3>
            <ng-include src="'common/views/treatmentTablePrint.html'" ng-init="drugOrders=dischargeSummary.getTreatmentReceived()" ng-if="dischargeSummary.getTreatmentReceived() && dischargeSummary.getTreatmentReceived().length > 0"></ng-include>
        </section>
        <section class="operative-print">
            <h3>Operative procedure</h3>
            <pre>{{dischargeSummary.getObservationValue('Operative Procedure')}}</pre>
        </section>
        <section class="hospital-course-print">
            <h3>Hospital course</h3>
            <pre>{{dischargeSummary.getObservationValue('Hospital Course')}}</pre>
        </section>
        <section class="advice-print">
            <h3>Advice on discharge</h3>
            <pre>{{dischargeSummary.getObservationValue('Additional Advice on Discharge')}}</pre>
        </section>
        <section class="follow-up">
            <h3>Follow up on</h3>
            <span class="value">{{dischargeSummary.getObservationValue('Follow up Date') | date: 'd MMM yyyy'}}</span>
        </section>
        <section class="lab-print">
            <h3>Lab Investigations</h3>
            <table class="ipd-investigation">
                <thead>
                <tr>
                    <th class="test-name">Test</th>
                    <th class="initial-value">Initial</th>
                    <th class="final-value">Final</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderable in visit.tabularResults.getOrderables()">
                    <td colspan="3" ng-if="orderable.concept.set">{{orderable.concept.name}}</td>
                    <td ng-if="!orderable.concept.set">
                        <span ng-class="{'belongsToPanel': orderable.belongsToPanel}">{{orderable.concept
                            .name}}</span>
                        <span class="range">
                            <span ng-if="orderable.getMinNormal() && orderable.getMaxNormal()">
                                {{' (' + orderable.getMinNormal() + ' - ' + orderable.getMaxNormal() + ')'}}
                            </span>
                            <span class="units">{{orderable.getUnits()}}</span>
                        </span>
                    </td>
                    <td ng-if="!orderable.concept.set" ng-init="result = orderable.results[0]">
                        <span ng-if="result">
                            <span ng-class="{'is-abnormal': result.isAbnormal}">
                                {{result.value}}
                            </span>
                            <span ng-if="result.labReport"><img src="../images/icon-paper-clip.png" /></span>
                            <span class="date">({{result.orderDate | date :'d MMM yyyy'}})</span>
                        </span>
                    </td>
                    <td ng-if="!orderable.concept.set" ng-init="result = orderable.results[orderable.results.length - 1]">
                        <span ng-if="result">
                            <span ng-class="{'is-abnormal': result.isAbnormal}">
                                {{result.value}}
                            </span>
                            <span class="date">({{result.orderDate | date :'d MMM yyyy'}})</span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="lab-notes-print" ng-if="dischargeSummary.getObservationValue('Lab Investigation Notes')">
            <h3>Lab Investigation Notes</h3>
            <span class="value">{{dischargeSummary.getObservationValue('Lab Investigation Notes')}}</span>
        </section>
        <section class="radiology-print">
            <h3>Radiology Investigations</h3>
            <ul>
                <li ng-repeat="radiologyOrder in dischargeSummary.getLatestRadiologyOrders()">
                    {{radiologyOrder.concept.name}}
                <li>
            </ul>
        </section>
        <section class="radiology-notes-print" ng-if="dischargeSummary.getObservationValue('Radiology Notes')">
            <h3>Radiology Investigation Notes</h3>
            <span class="value">{{dischargeSummary.getObservationValue('Radiology Notes')}}</span>
        </section>
        <section class="other-notes-print" ng-if="dischargeSummary.getObservationValue('Other Notes')">
            <h3>Other Notes</h3>
            <pre>{{dischargeSummary.getObservationValue('Other Notes')}}</pre>
        </section>
    </main>
    <footer>
    </footer>
</div>
<div>
    <footer>
        <h1>This is a computer generated receipt and does not require a signature.</h1>
    </footer>
</div>
