<div class="patient-info">
    <table ng-switch="encounterDrugOrderMap!=null">
        <tr>
            <td>Name: <span class="value">{{patient.name}}</span></td>
            <td>Age: <span class="value">
                {{patient.birthdate | dateToAge:visit.dateStarted}}
                ({{patient.genderText.substring(6, patient.genderText.length - 7)}})
            </span></td>
            <td>Registration No: <span class="value">{{patient.identifier}}</span></td>
        </tr>
        <tr>
            <td>Village / Town: <span class="value">{{patient.address.cityVillage}}</span></td>
            <td>P.O: <span class="value">{{patient.address.address2}}</span></td>
            <td>District: <span class="value">{{patient.address.countyDistrict}}</span></td>
        </tr>
        <tr ng-switch-when="true">
            <td colspan="3">Visit Date: <span class="value">{{(visitDate | bahmniDate) || (visitSummary.startDateTime | bahmniDate)}}</span></td>
        </tr>
        <tr ng-switch-default ng-repeat="section in visitTabConfig.currentTab.sections" ng-if="section.type === 'patientInformation'">
            <td colspan="2">Visit Date: <span class="value">{{(visitDate | bahmniDate) || (visitSummary.startDateTime | bahmniDate)}}</span></td>
            <td ng-if="!section.config.hideProviderName">Doctor Name:
                <span ng-show="providerNames || drugOrders[drugOrders.length-1].provider.name" class="ng-binding">
                    {{providerNames ? providerNames : drugOrders[drugOrders.length-1].provider.name }}
                </span>
            </td>
        </tr>
    </table>
</div>
