<table>
    <tr>
        <th>Drug Name</th>
        <th>Dosage Instructions</th>
        <th>Start Date</th>
    </tr>
    <tbody ng-repeat="drugOrder in drugOrders| orderBy:'dateActivated':true" ng-class="{'strike-through': drugOrder.isDiscontinuedOrStopped()}">
    <tr>
        <td class="drug-name" bo-text="drugOrder.getDisplayName()"></td>
        <td class="dosage-form">
            <span bo-show="drugOrder.getDescription()" bo-text="drugOrder.getDescription()"></span>
            <span bo-show="!drugOrder.getDescription()" bo-text="' - '"></span>
            <span ng-if="drugOrder.isDiscontinuedOrStopped()" class="fr">stopped {{drugOrder.effectiveStopDate | date: 'dd MMM yy'}}</span>
        </td>
        <td bo-text="(drugOrder.effectiveStartDate | date:'d MMM yy')"></td>
    </tr>
    <tr ng-if="drugOrder.additionalInstructions">
        <td colspan="7" class="inline-notes notes">
            <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.additionalInstructions}}</p>
        </td>
    </tr>
    </tbody>
</table>
