<link rel="stylesheet" href="../styles/clinical.css"/>
<!-- <link rel="stylesheet" href="../styles/visitSummaryPrint.css"/> -->
<div class="visit-summary-print">
    <header>
        <img class="logo" src="../images/jss-icon.png" alt="logo">

        <h1>Jan Swasthya Sahyog</h1>

        <h2>Visit Summary</h2>
    </header>
    <main>
        <ng-include src="'common/views/patientInfoPrint.html'"></ng-include>
        <section bindonce="visit">
            <section class="block">
                <h2>Observations</h2>
                <table class="observations">
                    <tbody ng-repeat="observation in visit.getWeightAndBMIObservations()">
                    <tr>
                        <td>
                            <span>{{observation.concept.name}}</span>
                        </td>
                        <td>
                            <span>{{observation.value}}</span>
                            <span>{{observation.concept.units}}</span>
                            <span class="date">{{observation.observationDateTime | date :'d MMM yyyy'}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section ng-show="visit.hasDiagnosis()" class="block diagnosis">
                <h2>Diagnoses</h2>
                <ul>
                    <li ng-repeat="diagnosis in visit.getDiagnoses() | primaryDiagnosisFirst" ng-if="!diagnosis.isRuledOut()">
                        <span>{{diagnosis.getDisplayName()}}</span>
                        <div ng-if="diagnosis.comments">
                            <p class="fl">
                                <strong class="diagnosis-notes-title">Diagnosis Notes: </strong><pre>{{diagnosis.comments}}</pre>
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
            <ng-include src="'common/views/treatmentSectionPrint.html'"></ng-include>
            <section class="dispositions">
                <h2>
                    Disposition
                </h2>
                <ul>
                    <li ng-repeat="disposition in visit.dispositions">
                        <span class="name">{{disposition.conceptName}}</span>
                        <ul>
                            <li ng-repeat="note in disposition.additionalObs">
                                <span ng-if="note && note.value">
                                    <span>Note: {{note.value}}</span>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <investigation-results params="investigationResultsParameters"></investigation-results>
        </section>
    </main>
    <footer>
        <h1>This is a computer generated receipt and does not require a signature.</h1>
    </footer>
</div>