<section>
    <p class="no-visit" ng-show="!visit.hasData()">No visit information for this patient</p>
</section>
<section class="block dashboard-section">
    <bahmni-diagnosis patient-uuid="patient.uuid"  title="visitPageDiagnosisTitle"></bahmni-diagnosis>
</section>
<ng-include src="'common/views/visitSummarySections/observation.html'"></ng-include>
<section ng-repeat="pivotTable in pivotTableConfigs" pivot-table visit-uuid="visit.uuid" config="pivotTable" patient-uuid="patient.uuid" display-name="pivotTable.title"/>

<investigation-results params="investigationResultsParameters"></investigation-results>

<ng-include src="'common/views/visitSummarySections/radiologyInvestigations.html'"></ng-include>
<ng-include src="'common/views/visitSummarySections/patientFiles.html'"></ng-include>
<ng-include src="'common/views/visitSummarySections/otherInvestigations.html'"></ng-include>
<treatment-data id="visit-treatments" params="treatmentParameters" visit-summary="visitSummary"></treatment-data>
<ng-include src="'common/views/visitSummarySections/disposition.html'"></ng-include>
<ng-include src="'common/views/visitSummarySections/consultationNotes.html'"></ng-include>