<section>
    <p class="no-visit" ng-show="!visit.hasData()">No visit information for this patient</p>
</section>
<ng-include src="'common/views/visitSummarySections/diagnosis.html'"></ng-include>
<ng-include src="'common/views/visitSummarySections/observation.html'"></ng-include>

<investigation-results params="investigationResultsParameters"></investigation-results>

<ng-include src="'common/views/visitSummarySections/radiologyInvestigations.html'"></ng-include>
<ng-include src="'common/views/visitSummarySections/patientFiles.html'"></ng-include>
<ng-include src="'common/views/visitSummarySections/otherInvestigations.html'"></ng-include>
<treatment-data id="visit-treatments" params="treatmentParameters"></treatment-data>
<ng-include src="'common/views/visitSummarySections/ipdTreatment.html'" ng-if="treatmentParameters.showFlowSheet"></ng-include>
<ng-include src="'common/views/visitSummarySections/disposition.html'"></ng-include>
<ng-include src="'common/views/visitSummarySections/consultationNotes.html'"></ng-include>