<div bindonce class="dashboard-header opd-header-wrapper" id="consultation-header">
    <div class="opd-header-bottom tabs">
        <bm-back-links></bm-back-links>

        <a class="back-btn dashboard-link" id="dashboard-link" ng-click="gotoPatientDashboard()" title="Back to patient dashboard">
            <img class="patient-image" ng-src="{{::patient.image}}" fallback-src="../images/blank-user.gif">
            <span class="patient-info">
                <span class="patient-name" >{{patient.name}} </span>
                <span class="patient-id">{{patient.identifier}}</span>
            </span>
        </a>

        <ul class="header-tabs">
            <li class="tab-item dashboard" ng-repeat="tab in visitTabConfig.visibleTabs"
                ng-class="{'tab-selected' : visitTabConfig.isCurrentTab(tab), 'tab-removable': visitTabConfig.isCurrentTab(tab) && !tab.displayByDefault}">
                <span class="close" ng-click="closeTab(tab)">
                   <span class="close-icon">x</span>
                </span>
                <a ng-click="switchTab(tab)">{{tab | titleTranslate}}</a>

            </li>
            <li class="tab-item new-tab tab-active" bm-pop-over autoclose="true" ng-show="visitTabConfig.getUnOpenedTabs().length > 0">
                <a id="addTabButton" bm-pop-over-trigger>+</a>

                <div class="tab-submenu" bm-pop-over-target>
                    <ul>
                        <li ng-repeat="tab in visitTabConfig.getUnOpenedTabs()">
                            <a class="submenu-item unOpenedDashboard" ng-click="switchTab(tab);">{{tab | titleTranslate }} </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="dashboard-header-right-wrapper">
            <button class="dialog-button-group" ng-if="showPrint()" ng-click="print()" accesskey="{{'CLINICAL_PRINT_ACCESS_KEY'| translate}}" ng-bind-html="'CLINICAL_PRINT_TRANSLATION_KEY'|translate">
                <i class="fa fa-print"></i>
               
            </button>
            <span class="grouped-buttons" ng-if="visitHistory.activeVisit || retrospectiveEntry">
                <a class=" btn--left btn--success "  ng-click="openConsultation()">{{'CONSULTATION_TAB_KEY'|translate}}</a>
                <a class="btn--right btn--success " title="{{'OPEN_IN_NEW_WINDOW'|translate}}" ng-click="collapseControlPanel()" ui-sref="patient.dashboard.show.observations({patientUuid: patient.uuid,programUuid: programUuid,conceptSetGroupName: 'observations'})" target="_blank"><i class="fa fa-external-link"></i></a>
           </span>
           <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}">
               <i class="fa fa-bars fa-white fa-large"></i>
           </button>
        </div>

    </div>
</div>
