<html>
<head>
    <link rel="stylesheet" href="../styles/clinicalPrint.css" media="all"/>
</head>
<body>
    <div class="print-wrapper">
        <div class="print-header">
            <h1>
                <img class="logo" src="{{visitTabConfig.getPrintConfigForCurrentVisit().logo}}" alt="logo">
                {{visitTabConfig.getPrintConfigForCurrentVisit().title}}</h1>
            <h2>{{visitTabConfig.getPrintConfigForCurrentVisit().header}}</h2>
        </div>
        <div ng-include="currentVisitUrl"></div>
    </div>
</body>
</html>