<html>
<head>
    <link rel="stylesheet" href="../styles/clinicalPrint.css" media="print"/>
</head>
<body>
    <div class="print-wrapper print-patient-summary">
        <div class="print-header">
            <h1>
                <img ng-if="visitTabConfig.getPrintConfigForCurrentTab().logo" class="logo" ng-src="{{visitTabConfig.getPrintConfigForCurrentTab().logo}}" alt="logo">
                {{visitTabConfig.getPrintConfigForCurrentTab().title}}
            </h1>
            <div class="clinic-info">
                <span>{{certificateHeader.name}}</span>
                <span class="address">{{certificateHeader.address}}</span>
            </div>
            <div class="clinic-info">
                <span> {{visitTabConfig.getPrintConfigForCurrentTab().header}}</span>
            </div>
        </div>
        <div ng-include="currentVisitUrl"></div>
    </div>
    <div ng-if="!visitTabConfig.getPrintConfigForCurrentTab().hideProviderName" class="provider-info">{{provider[0].name}}</div>
</body>
</html>