<div class="autocomplete">
    <input id="{{::observation.uniqueId}}" class="concept-name"
           ng-model="observation.value" data-concept-name="{{observation.concept.name}}"
           ng-disabled="::observation.disabled"
           ng-change="::formValidate"
           concept-autocomplete
           ng-class="{'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired), 'computed-field': observation.isComputedAndEditable()}"
           coded-concept-name="observation.conceptUIConfig.answersConceptName"
           blur-on-select="false" focus-me="observation.isFocused" />

    <div ng-if="observation.primaryObs">
        <button type="button" class="small-btn accept-btn grid-row-element"
                ng-model="observation.markedAsNonCoded" data-concept-name="{{observation.concept.name}}"
                ng-disabled="::observation.disabled"
                ng-click="observation.markAsNonCoded()"
                ng-class="{'illegalValue': observation.primaryObs.value.length > 0 && !observation.markedAsNonCoded, active: observation.markedAsNonCoded}"
                ng-disabled="observation.primaryObs.isCoded() && observation.primaryObs.value"><i
                class="fa fa-ok"></i>Accept
        </button>
    </div>
</div>
