<div class="autocomplete">
    <input id="{{::observation.uniqueId}}" class="concept-name"
           ng-model="observation.value"
           ng-disabled="observation.disabled"
           ng-blur="handleUpdate()"
           concept-autocomplete
           ng-class="{
                'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired),
                'computed-field': observation.isComputedAndEditable()
           }"
           answers-concept-name="::observation.conceptUIConfig.answersConceptName"
           default-concept="observation.getCodedConcept()"
           blur-on-select="::false" focus-me="::observation.isFocused" tabindex="1"/>
    <div ng-if="observation.primaryObs">
        <button type="button" class="small-btn accept-btn grid-row-element"
                ng-model="observation.markedAsNonCoded"
                ng-blur="handleUpdate()"
                ng-disabled="observation.disabled"
                ng-click="observation.markAsNonCoded()"
                ng-class="{'illegalValue': observation.primaryObs.value.length > 0 && !observation.markedAsNonCoded, active: observation.markedAsNonCoded}"
                ng-disabled="observation.primaryObs.isCoded() && observation.primaryObs.value" tabindex="1">
            <span></span>
            {{ 'ACCEPT'|translate }}
        </button>
    </div>
</div>
