<input id="{{::observation.uniqueId}}" obs-constraints obs="observation"
       ng-model="observation.value"
       ng-if="::(observation.isNumeric() && !observation.isStepperControl())"
       ng-class="{'is-abnormal': observation.abnormalObs.value, 'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired), 'computed-field': observation.isComputedAndEditable()}"
       integer="true" focus-me="observation.isFocused"/>

<input id="{{::observation.uniqueId}}" obs-constraints obs="observation"
       ng-if="!observation.isNumeric()"
       ng-model="observation.value"
       ng-class="{'is-abnormal': observation.abnormalObs.value, 'illegalValue': !observation.isValid(atLeastOneValueIsSet,conceptSetRequired), 'computed-field': observation.isComputedAndEditable()}"
       focus-me="observation.isFocused"/>

<stepper id="{{::observation.uniqueId}}" ng-model="observation.value" obs="observation"
         ng-class="{'is-abnormal': observation.abnormalObs.value, 'illegalValue': !observation.isValid(atLeastOneValueIsSet, conceptSetRequired)}"
         focus-me="observation.isFocused"
         ng-if="::(observation.isNumeric() && observation.isStepperControl())"></stepper>
