<section class="block patientInformation">
    <h2 class="section-title" ng-hide="::params.translationKey" ng-if="::params.title">
        {{::params.title}}
    </h2>
    <h2 class="section-title" ng-show="::params.translationKey" >
        {{::params.translationKey|translate}}
    </h2>

    <div>
        <p class="placeholder-text" ng-if="!hasVisits()">{{::noVisitsMessage}}</p>
        <table class="visits dashboard-table" id="visitDisplayTable" ng-if="::hasVisits()">
            <tbody>
            <tr id="eachVisit" ng-repeat="visit in ::visits | limitTo: params.maximumNoOfVisits">
                <td class="name" width="50%">
                    <a class="visit" ng-click="openVisit(visit)">
                        <span>{{::visit.startDatetime | bahmniDate}}</span>
                        <span ng-if="::!visit.isActive()">- {{::visit.stopDatetime | bahmniDate }}</span>
                        <i class="fa fa-star current-visit-icon" id="currentVisitIcon" ng-if="::visit.isActive()"
                           title="Current Visit"></i>
                    </a>
                </td>
                <td class="value" id="visitType">{{::visit.getVisitType()}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
