<section class="block consult-notes notes" ng-show="visit.hasConsultationNotes()">
    <ul>
        <div ng-repeat="notes in visit.consultationNoteGroups">
            <li ng-repeat="note in notes.obs" class="consult-notes-item">
                <span class="consult-notes-text"><strong>Consultation Notes: </strong><pre>{{note.value}}</pre></span>

                <div class="footer-note">
                  <span class="time-stamp">
                    <span class="date">{{note.observationDateTime | date:'dd MMM yy'}}</span>
                    <span class="time">{{note.observationDateTime | date :'hh:mm a'}}</span>
                  </span>
                    <span class="provider" bo-text="note.provider.name"></span>
                </div>
            </li>
        </div>
    </ul>
</section>
