<section class="block ipd-treatment-section" ng-if="visit.hasIPDDrugOrdes() && !print">
    <h2>Treatment Chart</h2>
    <table>
        <thead>
        <tr>
            <th>
                <span bo-text="(visit.ipdDrugSchedule.fromDate | date:'dd MMM yy') + ' - '+ (visit.ipdDrugSchedule.toDate | date:'dd MMM yy')"></span>
            </th>
            <th ng-repeat="drug in visit.ipdDrugSchedule.drugs" bo-text="drug.name" class="drug"
                ng-class="{active: drug.isActive()}"></th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="day in visit.ipdDrugSchedule.days" ng-if="visit.atleastOneDrugForDay(day)">
            <td bo-text="'D'+ day.dayNumber + ' (' + displayDate(day.date) + ')'"></td>
            <td ng-repeat="drug in visit.ipdDrugSchedule.drugs">
                <span class="icon-ok" bo-if="drug.isActiveOnDate(day.date)"/>
            </td>
        </tr>
        </tbody>
    </table>
</section>
