<section class="block treatment-section" ng-if="visit.hasDrugOrders()">
    <h2 ng-click="visit.toggleTreatmentSection()" class="has-toggle section-title" ng-if="visit.admissionDate">
    <i class="icon-caret-right" ng-hide="visit.showTreatmentSection"></i>
    <i class="icon-caret-down" ng-show="visit.showTreatmentSection"></i>
    Treatment
    </h2>
    <h2 ng-if="!visit.admissionDate" class="section-title">
        Treatment
    </h2>
    <table ng-repeat="drugOrderGroup in visit.drugOrders.getDrugOrderGroups()" ng-show="visit.showTreatmentSection">
        <thead>
        <tr>
            <th class="drugorder-date" colspan="4"><strong><span class="table-head-title">{{(drugOrderGroup.date | date:'dd MMM yy')}}</span></strong>
            </th>
        </tr>
        <tr class="title">
            <th><span class="table-head-title">Drug Name</span></th>
            <th><span class="table-head-title">Dosage per Day</span></th>
            <th colspan="2"><span class="table-head-title">Duration</span></th>
        </tr>
        </thead>
        <tbody ng-repeat="drugOrder in drugOrderGroup.orders">
        <tr ng-click="toggle(drugOrder)" class="row-click">
            <td class="drug-name" bo-text="drugOrder.drug.name"></td>
            <td class="dosage-form">
                <span bo-show="drugOrder.dosingInstructions.administrationInstructions"
                      bo-text="drugOrder.dosingInstructions.administrationInstructions|formatDecimalValues"></span>
                <span bo-show="!drugOrder.dosingInstructions.administrationInstructions" bo-text="' - '"></span>
            </td>
            <td class="dosage-days has-toggle-btn">
                <div class="dosage">
                    <span><span class="copy">From </span>{{(drugOrder.effectiveStartDate | date:'d MMM yy')}}<span
                            class="copy"> for </span>{{drugOrder.duration}} {{drugOrder.durationUnits}}</span>
                    <span bo-show="drugOrder.prn" class="prn">Take as required</span>
                </div>

            </td>
            <td class="toggle-btn">
                <button class="toggle fr">
                    <i class="icon-plus-sign" ng-hide="drugOrder.show"></i>
                    <i class="icon-minus-sign" ng-show="drugOrder.show"></i>
                </button>
            </td>
        </tr>
        <tr ng-if="!print && drugOrder.show">
            <td colspan="4" class="inline-notes notes">
                <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.commentToFulfiller}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.effectiveStartDate | date:'dd MMM yy'}}</span>
                      <span class="time">{{drugOrder.effectiveStartDate | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>
        <tr ng-if="print && drugOrder.notes && drugOrder.notes.length > 0 ">
            <td colspan="4" class="inline-notes notes">
                <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.notes}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.effectiveStartDate | date:'dd MMM yy'}}</span>
                      <span class="time">{{drugOrder.effectiveStartDate | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</section>

