<section class="block treatment-section" ng-if="visit.hasDrugOrders()">
    <h2 ng-click="visit.toggleTreatmentSection()" class="has-toggle section-title" ng-if="visit.admissionDate">
    <i class="icon-caret-right" ng-hide="visit.showTreatmentSection"></i>
    <i class="icon-caret-down" ng-show="visit.showTreatmentSection"></i>
    Treatment
    </h2>
    <h2 ng-if="!visit.admissionDate" class="section-title">
        Treatment
    </h2>
    <table ng-repeat="drugOrderGroup in visit.drugOrders.getDrugOrderGroups()" ng-show="visit.showTreatmentSection">
        <thead>
        <tr>
            <th class="drugorder-date" colspan="4"><strong><span class="table-head-title">{{(drugOrderGroup.date | date:'dd MMM yy')}}</span></strong>
            </th>
        </tr>
        <tr class="title">
            <th><span class="table-head-title">Drug Name</span></th>
            <th><span class="table-head-title">Dosage Instructions</span></th>
        </tr>
        </thead>
        <tbody ng-repeat="drugOrder in drugOrderGroup.orders">
        <tr ng-click="toggle(drugOrder)" class="row-click">
            <td class="drug-name" bo-text="drugOrder.drugName"></td>
            <td class="dosage-form">
                <span bo-show="drugOrder.getDescription()"
                      bo-text="drugOrder.getDescription()"></span>
                <span bo-show="!drugOrder.getDescription()" bo-text="' - '"></span>
            </td>
            <td class="toggle-btn">
                <button class="toggle fr" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                    <i class="icon-plus-sign" ng-hide="drugOrder.show"></i>
                    <i class="icon-minus-sign" ng-show="drugOrder.show"></i>
                </button>
            </td>
        </tr>
        <tr ng-if="!print && drugOrder.show">
            <td colspan="4" class="inline-notes notes">
                <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.additionalInstructions}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.effectiveStartDate | date:'dd MMM yy'}}</span>
                      <span class="time">{{drugOrder.effectiveStartDate | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>
        <tr ng-if="print && drugOrder.additionalInstructions && drugOrder.additionalInstructions.length > 0 ">
            <td colspan="4" class="inline-notes notes">
                <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.additionalInstructions}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.effectiveStartDate | date:'dd MMM yy'}}</span>
                      <span class="time">{{drugOrder.effectiveStartDate | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</section>

