<header class="template-header">
    <h5>
        <i class="fa fa-user"></i>
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    <button class="toggle-patient" ng-click="toggleImpression()" ng-if="accessImpression">
        <i class="fa fa-bars fa-white fa-large"></i>
    </button>
    <button class="dialog-close-btn" ng-click="closeThisDialog()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</header>
<div class="image-container" ng-class="{'shift': showImpression}">
    <div class="container slider">
        <div class="messages" ng-if="!albums.length">
            <p class="messages null-data-message">No images to display</p>
        </div>

        <div ng-repeat="album in albums">
            <div ng-repeat="image in album.images">
                <img class="slide" ng-if="isActive($index, album.tag) && !isPdf(image)" ng-src="{{image.src}}"/>
                <div ng-if="image.src && isPdf(image)">
                    <div ng-if="isActive($index, album.tag)" class="slide pdf-slide">
                        <a class="pdf-link" href="{{image.src}}" target="_blank">
                            <i class="fa fa-file-pdf-o"></i>
                            Click here to open Document in new window
                        </a>
                       <div class="scroll-pdf-frame">
                            <iframe ng-src="{{image.src}}" class="pdf-frame"></iframe>
                       </div>
                    </div>
                </div>
            </div>
            <span ng-if="album.tag == albumTag && getTotalLength() > 1" class="arrow prev" ng-click="showPrev()"></span>
            <span ng-if="album.tag == albumTag && getTotalLength() > 1" class="arrow next" ng-click="showNext()"></span>

        </div>
    </div>

    <div ng-repeat="album in albums">
        <div ng-repeat="image in album.images">

            <div class="image-bottom-bar" ng-if="isActive($index,album.tag)">
                <p ng-if="image.commentOnUpload" class="image-preview-notes" ng-class="{'hide': accessImpression}">{{image.commentOnUpload}}</p>
                <p>
                    <span class="image-provider">{{image.providerName}}</span>
                    <span class="image-date">{{image.date | bahmniDateTime}}</span>
                    <span ng-if="getTotalLength() > 1" class="image-index">({{getCurrentIndex()}} of {{getTotalLength()}})</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="image-impression-section" ng-repeat="album in albums" ng-show="showImpression"
     ng-class="{'shift': showImpression}">
    <div ng-repeat="image in album.images">
        <div class="image-actions" ng-if="isActive($index,album.tag)">
            <span class="image-title">{{image.title}}</span>
        </div>
        <section ng-show="isActive($index,album.tag)">
            <div ng-if="image.commentOnUpload">
                <pre class="notes inline-notes"><strong>{{image.providerName}} ({{image.date |
                    bahmniDate}}):</strong>{{image.commentOnUpload}}</pre>
            </div>

            <ul class="impression">
                <li ng-repeat="obs in image.sourceObs">
                    <pre class="notes inline-notes"><strong>{{obs.providers[0].name}} ({{obs.observationDateTime |
                        bahmniDate}}):</strong>{{obs.value}}</pre>
                </li>
            </ul>
            <div class="impression-control">
                <textarea placeholder="{{ 'ENTER_IMPRESSION_ON_IMAGE'|translate }}" ng-model="image.newSourceObs.value">
                </textarea>
                <input class="confirm save-impression-btn" type="button" ng-click="saveImpression(image)" value="{{'ADD_KEY'|translate}}"
                       ng-disabled="!image.newSourceObs.value">
            </div>

        </section>
    </div>
</div>

