.orderSet-order-container{
  margin:20px 0;
 .orderSet-orders{
   .section-title.orderSet-orderAnOrderSet{
     font-size: 14px !important;
     padding: 10px 5px;
     .button-group{
       margin-top: -3px;
       button{
         padding: 6px 8px;
         font-size: 12px;
       }
     }
   }
  .dashboard-orderSet{
    padding: 5px;
    p{
      font-size: 12px;
      line-height: 1.5;
    }
  }
 }
}

table.orderSet-table{
  th{
    background: $lightestGray;
    color: $darkGray;
    font-family: openSansSemiBold;
    text-align: center;
  }
   th.drugName ,td.drugName{
      width: 300px;
     text-align: left;
     overflow: auto !important;
     span{
       display: block;
       width:240px;
     }
     input[type="checkbox"]{
        width:20px;
     }
   }
  td{
    padding: 4px 7px !important;
  }
}

.drug-order-table {
  .button-group-wrapper{
    width: 100% !important;
  }
}

.header-alerts {
  left: 0 !important;
}

.order-alert-row {
  position: absolute !important;
  left: 0 !important;
  padding: 7px !important;
}

.drugName-alert {
  left: 2rem !important;
  width: 208px !important;
  .medication-name {
    padding-left: 2px !important;
  }
}