<div ng-init="isFilterOpen = true">
    <div class="appointment-filter" ng-init="isFilterOpen = true" ng-show="isFilterOpen">
        <p>
            <a ng-click="isFilterOpen = false"><i class="fa fa-angle-double-left" aria-hidden="true"></i>

        </a>
        </p>
        <label>Speciality</label>
        <p>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <label>Service</label>
        <p>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <p>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <label>Provider</label>
        <p>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <label>Appoinment status</label>
        <p>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <p>
            <button>Apply Filter</button>
            <button>Reset</button>
        </p>
    </div>
    <div class="app-calendar-container" ng-class="{'app-filter-open': isFilterOpen}">
        <day-calendar appointments="providerAppointments"></day-calendar>
    </div>
    <div ui-view="content@appointment"></div>
    <div class="appointment-action-btn-container" ng-class="{'app-filter-open': isFilterOpen}">
        <a href="#">Check-in</a>
        <a href="#">Complete</a>
        <a href="#">Missed</a>
        <a href="#">Edit</a>
        <a href="#">Cancel Appointment</a>
    </div>
</div>