<div ng-init="isFilterOpen = true">
    <div class="appointment-filter" ng-init="isFilterOpen = true" ng-show="isFilterOpen">
        <a ng-click="isFilterOpen = false"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <p>
            <label>Speciality</label>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <p>
            <label>Service</label>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <p>
            <label>Service Type</label>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <p>
            <label>Provider</label>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <p>
            <label>Appoinment status</label>
            <input type="text"/>
            <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
            <span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>
        </p>
        <p class="app-filter-action-btn">
            <button>Reset</button>
            <button>Apply Filter</button>
        </p>
    </div>
    <div class="app-calendar-container" ng-class="{'app-filter-open': isFilterOpen}">
        <date-picker view-date="startDate" on-change="getAppointmentsForDate"></date-picker>
        <day-calendar ng-if="shouldReload" date="startDate" appointments="providerAppointments"></day-calendar>
    </div>
    <div ui-view="content@appointment"></div>
    <div class="appointment-action-btn-container" ng-class="{'app-filter-open': isFilterOpen}">
        <button>{{::'CHECK_IN_APPOINTMENT' |translate}}</button>
        <button>{{::'COMPLETE_APPOINTMENT' |translate}}</button>
        <button>{{::'EDIT_APPOINTMENT' |translate}}</button>
        <button>{{::'CANCEL_APPOINTMENT' |translate}}</button>
    </div>
</div>
