<div class="confirm-box">
    <div class="ngdialog-close clearfix"></div>

    <p>
        <label for="patient">
            <b>{{::'APPOINTMENT_CREATE_PATIENT_NAME' |translate}}:</b> <span ng-if="scope.patientList.length === 1">{{ patient.name }} ({{ patient.identifier }})</span>
        </label>
        <select id="patient" ng-model="patient" ng-show="scope.patientList.length > 1"
                ng-options="patient as patient.name + ' (' + patient.identifier + ')' for patient in scope.patientList">
            <option value="">{{ ::'PLACEHOLDER_SELECT_PATIENT' | translate}}</option>
        </select>
    </p>
    <div ng-if="patient">
        <p><b>{{::'APPOINTMENT_SERVICE' | translate}}:</b> {{scope.patientAppointmentMap[patient.uuid].service.name}}</p>
        <p ng-show="scope.patientAppointmentMap[patient.uuid].serviceType"><b>{{::'APPOINTMENT_SERVICE_TYPE_FULL' |
            translate}}:</b> {{scope.patientAppointmentMap[patient.uuid].serviceType.name}}</p>
        <p ng-show="scope.patientAppointmentMap[patient.uuid].status"><b>{{::'APPOINTMENT_STATUS' | translate}}:</b>
            {{scope.patientAppointmentMap[patient.uuid].status}}</p>
    </div>
    <p ng-if="scope.appointments[0].provider"><b>{{::'APPOINTMENT_PROVIDER' | translate}}:</b>
        {{scope.appointments[0].provider.name}}</p>
    <p><b>{{::'APPOINTMENT_DATE' | translate}}:</b> {{scope.appointments[0].startDateTime | bahmniDate}}</p>
    <p><b>{{::'APPOINTMENT_SLOT' | translate}}:</b> {{scope.appointments[0].startDateTime | bahmniTime}} -
        {{scope.appointments[0].endDateTime | bahmniTime}}</p>
    <p class="app-dialog-btn-wrap">
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{selfAppointmentPrivilege}}" style="background: #039BE5"
                ng-disabled="!patient || !isUserAllowedToPerform()"
                ng-click="navigateTo('edit', scope.patientAppointmentMap[patient.uuid])">
            {{::'EDIT_APPOINTMENT' | translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{selfAppointmentPrivilege}}" style="background: #009688"
                ng-show="isAllowedAction('CheckedIn')"
                ng-disabled="!patient || !isValidAction(scope.patientAppointmentMap[patient.uuid], 'CheckedIn')"
                ng-click="checkinAppointment(scope.patientAppointmentMap[patient.uuid])">
            {{::'CHECK_IN_APPOINTMENT' | translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{selfAppointmentPrivilege}}" style="background: #43A047"
                ng-show="isAllowedAction('Completed')"
                ng-disabled="!patient || !isValidAction(scope.patientAppointmentMap[patient.uuid], 'Completed')"
                ng-click="confirmAction(scope.patientAppointmentMap[patient.uuid], 'Completed')">
            {{::'COMPLETE_APPOINTMENT' | translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{selfAppointmentPrivilege}}" style="background: #FF9800"
                ng-show="isAllowedAction('Missed')"
                ng-disabled="!patient || !isValidAction(scope.patientAppointmentMap[patient.uuid], 'Missed')"
                ng-click="confirmAction(scope.patientAppointmentMap[patient.uuid], 'Missed')">
            {{::'MISSED_APPOINTMENT' | translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{selfAppointmentPrivilege}}" style="background: #DD2C00"
                ng-show="isAllowedAction('Cancelled')"
                ng-disabled="!patient || !isValidAction(scope.patientAppointmentMap[patient.uuid], 'Cancelled')"
                ng-click="confirmAction(scope.patientAppointmentMap[patient.uuid], 'Cancelled')">
            {{::'CANCEL_APPOINTMENT' | translate}}
        </button>
        <button show-if-privilege="{{manageAppointmentPrivilege}},{{selfAppointmentPrivilege}}" style="background: #8BC34A"
                ng-show="scope.enableCreateAppointment"
                ng-click="navigateTo('new')">
            {{::'ADD_NEW_APPOINTMENT' | translate}}
        </button>
    </p>
</div>
