<div aria-labelledby="dialog-label">
    <!--Added to override the z-index property of the top navigation bar. It is done to prevent any user action
    when the popup is shown-->
    <style type="text/css">
        .opd-header-wrapper {
            z-index: 10000 !important;
        }
    </style>
    <div>
        <p>Initial sync failed. Please contact system administrator.</p>
    </div>

    <div>
        <button id="modal-revise-button1" class="secondary-button" ng-click="logout()">OK</button>
    </div>
    <span class="ngdialog-end"></span>
</div>


