<article class="consultation">
    <nav class="navbar">
        <ul class="navbar-right">
            <li>
                <button ng-click="save()" class="confirm">Save</button>
            </li>
        </ul>
    </nav>
    <section class="block diagnosis">
        <h2>Diagnosis</h2>
        <div class="block-content" ng-show="consultation.newlyAddedDiagnoses.length > 0">
            <h4 class="section">Newly added</h4>
            <div class="diagnosis-row" ng-repeat="diagnosis in consultation.newlyAddedDiagnoses">
                <h4 class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">{{diagnosis.getDisplayName()}}</h4>
                <div class="secondary">
                    <span class="now">Now!</span>
                    <div class="state">
                        <span ng-show="diagnosis.isPrimary()" class="order">Primary</span>
                        <span ng-hide="diagnosis.isPrimary()" class="order">Secondary</span>
                        <span class="certainty">{{diagnosis.certainty}}</span>
                        <!-- <span class="status">{{diagnosis.diagnosisStatus}}</span>  -->
                    </div>

                </div>
            </div>
        </div>
        
        <div class="block-content" ng-show="consultation.savedDiagnosesFromCurrentEncounter.length > 0">
            <h4 class="section">Current</h4>
            <div class="diagnosis-row" ng-repeat="diagnosis in consultation.savedDiagnosesFromCurrentEncounter">
                <h4 class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">{{diagnosis.getDisplayName()}}</h4>
                <div class="secondary">
                    <div ng-show="diagnosis.firstDiagnosis" class="current">
                        <span class="time-stamp">
                            <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>
                            <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'hh:mm a'}}</span>
                        </span>
                        <span class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">{{provider.name}}</span>
                    </div>
                    <div class="state">
                        <span ng-show="diagnosis.isPrimary()" class="order">Primary</span>
                        <span ng-hide="diagnosis.isPrimary()" class="order">Secondary</span>
                        <span class="certainty">{{diagnosis.certainty}}</span>
                        <!-- <span class="status">{{diagnosis.diagnosisStatus}}</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="block-content" ng-show="editedDiagnosesFromPastEncounters.length > 0">
            <h4 class="section">Past</h4>
            <div class="diagnosis-row" ng-repeat="diagnosis in editedDiagnosesFromPastEncounters">
                <h4 class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">{{diagnosis.getDisplayName()}}</h4>
                <div class="secondary">
                    <div ng-show="diagnosis.firstDiagnosis" class="current">
                        <span class="time-stamp">
                            <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>
                            <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'hh:mm a'}}</span>
                        </span>
                        <span class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">{{provider.name}}</span>
                    </div>
                    <div class="state">
                        <span ng-show="diagnosis.isPrimary()" class="order">Primary</span>
                        <span ng-hide="diagnosis.isPrimary()" class="order">Secondary</span>
                        <span class="certainty">{{diagnosis.certainty}}</span>
                        <!-- <span class="status">{{diagnosis.diagnosisStatus}}</span> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <h2>Observations</h2>
        <section class="block" ng-repeat="observation in consultation.observations">
            <show-obs observation="observation"></show-obs>
        </section>
    </section>
    <section class="block investigation">
        <h2>Investigation</h2>
        <ul class="block-content">
            <li ng-repeat="investigation in consultation.investigations" ng-class="{panel: investigation.concept.set, voided: investigation.voided}">
                <span>{{investigation.concept.name}}</span>
                <span ng-show="investigation.concept.set" class="panel">P</span>
            </li>
        </ul>
        <div ng-show="consultation.labOrderNote.value" class="notes">
          <h5 class="title">Notes:</h5>
          <p class="content">{{consultation.labOrderNote.value}}</p>
        </div>
        <ng-include src="'views/labResults.html'" ng-init="labResults=consultation.labResults"/>
    </section>
    <section class="block treatment">
        <h2>Treatment</h2>
         <div  class="block-content" ng-include src="'views/treatmentDrugs.html'"></div>
    </section>
    <section class="block disposition">
        <h2>Disposition</h2>

            <ul ng-if="disposition.conceptName">
                <li>
                    -&nbsp; {{disposition.conceptName}}
                </li>
                <li>
                    -&nbsp; {{disposition.dispositionDateTime | date :'dd-MM-yyyy hh:mm' }}
                </li>
                <li>
                    - &nbsp;{{disposition.additionalObs[0].value}}
                </li>
            </ul>

    </section>
    <section class="block consultationNote">
        <h2>Consultation Notes</h2>
        <textarea ng-model="consultation.consultationNote.value" ng-change="onNoteChanged()" placeholder="Notes: " rows="6"></textarea>
    </section>
</article>

