<article class="consultation">
    <nav class="navbar">
        <ul class="navbar-right">
            <li>
                <button ng-click="save()" class="confirm">Save</button>
            </li>
        </ul>
    </nav>
    <section class="block diagnosis">
        <h2>Diagnosis</h2>
        <div class="block-content" ng-show="consultation.newlyAddedDiagnoses.length > 0">
            <h4>Newly added diagnosis</h4>
            <div class="diagnosis-type">
                <h3>Primary Diagnoses</h3>
                <div ng-repeat="diagnosis in consultation.newlyAddedDiagnoses" ng-show="diagnosis.isPrimary()">
                    {{diagnosis.getDisplayName()}}&nbsp;({{diagnosis.certainty}})&nbsp({{diagnosis.diagnosisStatus}})
                </div>
            </div>
            <div class="diagnosis-type">
                <h3>Secondary Diagnoses</h3>
                <div ng-repeat="diagnosis in consultation.newlyAddedDiagnoses" ng-hide="diagnosis.isPrimary()">
                    {{diagnosis.getDisplayName()}}&nbsp;({{diagnosis.certainty}})
                </div>
            </div>
        </div>
        
        <div class="block-content" ng-show="consultation.savedDiagnosesFromCurrentEncounter.length > 0">
            <h4>Current diagnosis</h4>
            <div class="diagnosis-type">
                <h3>Primary Diagnoses</h3>
                <div ng-repeat="diagnosis in consultation.savedDiagnosesFromCurrentEncounter" ng-show="diagnosis.isPrimary()">
                    {{diagnosis.getDisplayName()}}&nbsp;({{diagnosis.certainty}})&nbsp({{diagnosis.diagnosisStatus}})
                    <div ng-show="diagnosis.firstDiagnosis" class="time-stamp">
                        <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>,
                        <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'hh:mm a'}}</span>
                        <div class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">{{provider.name}}</div>
                    </div>
                </div>
            </div>
            <div class="diagnosis-type">
                <h3>Secondary Diagnoses</h3>
                <div ng-repeat="diagnosis in consultation.savedDiagnosesFromCurrentEncounter" ng-hide="diagnosis.isPrimary()">
                    {{diagnosis.getDisplayName()}}&nbsp;({{diagnosis.certainty}})
                    <div ng-show="diagnosis.firstDiagnosis" class="time-stamp">
                        <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>,
                        <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'hh:mm a'}}</span>
                        <div class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">{{provider.name}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-content" ng-show="editedDiagnosesFromPastEncounters.length > 0">
            <h4>Past Diagnosis</h4>
            <div class="diagnosis-type">
                <h3>Primary Diagnoses</h3>
                <div ng-repeat="diagnosis in editedDiagnosesFromPastEncounters" ng-show="diagnosis.isPrimary()">
                    {{diagnosis.getDisplayName()}}&nbsp;({{diagnosis.certainty}})&nbsp({{diagnosis.diagnosisStatus}})
                    <div ng-show="diagnosis.firstDiagnosis" class="time-stamp">
                        <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>,
                        <span class="time">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'hh:mm a'}}</span>
                        <div class="provider" ng-repeat="provider in diagnosis.firstDiagnosis.providers">{{provider.name}}</div>
                    </div>
                </div>
            </div>
            <div class="diagnosis-type">
                <h3>Secondary Diagnoses</h3>
                <div ng-repeat="diagnosis in editedDiagnosesFromPastEncounters" ng-show="diagnosis.isSecondary()">
                    {{diagnosis.getDisplayName()}}&nbsp;({{diagnosis.certainty}})&nbsp({{diagnosis.diagnosisStatus}})
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <h2>Observations</h2>
        <section class="block" ng-repeat="observation in consultation.observations">
            <show-obs observation="observation"></show-obs>
        </section>
    </section>
    <section class="block investigation">
        <h2>Investigation</h2>
        <ul class="block-content">
            <li ng-repeat="investigation in consultation.investigations" ng-class="{panel: investigation.concept.set, voided: investigation.voided}">
                <span>{{investigation.concept.name}}</span>
                <span ng-show="investigation.concept.set" class="panel">P</span>
            </li>
        </ul>
        <div ng-show="consultation.labOrderNote.value" class="notes">
          <h5 class="title">Notes:</h5>
          <p class="content">{{consultation.labOrderNote.value}}</p>
        </div>
        <ng-include src="'views/labResults.html'" ng-init="labResults=consultation.labResults"/>
    </section>
    <section class="block treatment">
        <h2>Treatment</h2>
         <div  class="block-content" ng-include src="'views/treatmentDrugs.html'"></div>
    </section>
    <section class="block disposition">
        <h2>Disposition</h2>

            <ul>
                <li>
                    -&nbsp; {{disposition.conceptName}}
                </li>
                <li>
                    -&nbsp; {{disposition.dispositionDateTime | date :'dd-MM-yyyy hh:mm' }}
                </li>
                <li>
                    - &nbsp;{{disposition.additionalObs[0].value}}
                </li>
            </ul>

    </section>
    <section class="block consultationNote">
        <h2>Consultation Notes</h2>
        <textarea ng-model="consultation.consultationNote.value" ng-change="onNoteChanged()" placeholder="Notes: " rows="6"></textarea>
    </section>
</article>

