<div class="patient-control-panel">
    <div class="overlay" ng-show="$parent.showControlPanel" ng-click="$parent.toggleControlPanel()"></div>
    <aside bindonce="patient" class="visit-history ng-hide" ng-show="$parent.showControlPanel">

        <div class="patient-info">
            <div>
                <a class="patient-img" href="{{getDashboardLink()}}" ng-click="changeContext($event)">
                      <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
                </a>
                <div class="patient-handler">
                    <h4 class="patient-name">
                    <a href="{{getDashboardLink()}}" ng-click="changeContext($event)"><span bo-text="patient.name"></span></a><span ng-show="patient.genderText"> ({{patient.genderText}})</span></h4>
                    <h5 class="patient-identifier"><span bo-text="patient.identifier"></span></h5>
                </div>
            </div>
            <h5><span bo-text="calculateAge(patient.birthdate)"></span></h5>
            <h5><span bo-text="patient.address.cityVillage"></span>
              <span ng-show="patient.address.countyDistrict"> / {{patient.address.countyDistrict}}</span></h5>
            <span class="ward" bo-text="bedDetails.wardName + ' ' + bedDetails.bedNumber"></span>
        </div>

        <h2>Actions</h2>
        <ul>
            <li class="btn-patient-doc">
                <div bm-gallery patient="patient" access-impression="true">
                    <a href="" bm-lazy-image-observation-gallery-items promise="documentsPromise" ><i class="icon-file"></i>Patient Documents</a>                        
                </div>
                
            <li class="{{link.icon}}" ng-click="changeContext($event)" ng-repeat="link in links">
                <a href="{{link.href}}" ng-click="link.onClick($event)"><i class="icon-th-large"></i><i class="icon-bar-chart"></i><i class="icon-vitals-2"></i><i class="icon-print"></i>{{link.text}}</a>
            </li>
        </ul>

        <h2>Other Actions</h2>        
        <ul class="bahmni-home">
            <li><a class="header-logo" href="../home/"><i class="icon-home"></i>Bahmni Home</a></li>
        </ul>
        <ul>
            <li>
                <a class="log-out" log-out><i class="icon-off icon-white small"></i> Logout
                <span ng-show="$parent.currentUser.username">
                    ({{$parent.currentUser.username}}-
                </span>
                <span ng-show="$parent.currentUser.currentLocation">
                    {{$parent.currentUser.currentLocation}})
                </span></a>
            </li>
        </ul>
        <ul>
            <li>
                <input class="form-field ng-pristine ng-valid retro-date-widget" ng-model="$parent.retrospectiveEntry.encounterDate" type="date" max="{{today}}">
            </li>
        </ul>

        <h2>Visit History</h2>
        <ul class="visit-history">
            <li ng-click="changeContext($event)" class="visit-history-entry"
                ng-class="{'selected': isCurrentVisit(visit), 'active': visit.isActive()}"
                ng-repeat="visit in $parent.visits">
                <a href="#/patient/{{patient.uuid}}/dashboard/visit/{{visit.uuid}}">
                    <span bo-text="visit.startDatetime | date: 'd MMM yy'"></span>
                    <span bo-text="'- ' + (visit.stopDatetime | date: 'd MMM yy')" bo-hide="visit.isActive()"></span>
                    <i class="icon-star" title="Current Visit"></i>
                </a>
            </li>
        </ul>
    </aside>
</div>