<div class="patient-control-panel">
    <div class="overlay" ng-show="$parent.showControlPanel" ng-click="$parent.toggleControlPanel()"></div>
    <aside bindonce="patient" class="visit-history ng-hide" ng-show="$parent.showControlPanel">
        <div class="patient-info">
            <div class="patient-img">
                <a href="{{getDashboardLink()}}" ng-click="changeContext($event)">
                  <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
                </a>
            </div>
            <h4 class="patient-name"><span bo-text="patient.name"></span><span ng-show="patient.genderText"> ({{patient.genderText}})</span></h4>
            <h5 class="patient-identifier"><span bo-text="patient.identifier"></span></h5>
            <h5><span bo-text="calculateAge(patient.birthdate)"></span></h5>
            <h5><span bo-text="patient.address.cityVillage"></span></h5>
            <span class="ward" bo-text="bedDetails.wardName + ' ' + bedDetails.bedNumber"></span>
        </div>

        <h2>Actions</h2>
        <ul>
            <li class="btn-patient-doc"><a href="" pop-up on-click-handler="getPatientDocuments"><i class="icon-file"></i>Patient Documents</a></li>
            <li class="{{link.icon}}" ng-click="changeContext($event)" ng-repeat="link in links">
                <a href="{{link.href}}" ng-click="link.onClick($event)"><i class="icon-th-large"></i><i class="icon-bar-chart"></i><i class="icon-vitals-2"></i><i class="icon-print"></i>{{link.text}}</a>
            </li>
        </ul>

        <h2>Visit History</h2>
        <ul class="visit-history">
            <li ng-click="changeContext($event)" class="visit-history-entry"
                ng-class="{'selected': isCurrentVisit(visit), 'active': visit.isActive()}"
                ng-repeat="visit in $parent.visits">
                <a href="#/patient/{{patient.uuid}}/dashboard/visit/{{visit.uuid}}">
                    <span bo-text="visit.startDatetime | date: 'd MMM yy'"></span>
                    <span bo-text="'- ' + (visit.stopDatetime | date: 'd MMM yy')" bo-hide="visit.isActive()"></span>
                    <i class="icon-star" title="Current Visit"></i>
                </a>
            </li>
        </ul>
    </aside>
</div>