<article class="patient-dashboard visit">
    <aside bindonce class="visit-history">
        <div class="patient-info">
            <div class="patient-img">
                <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
            </div>
            <h4>{{patient.name}}<span bo-text="' (' + patient.gender + ', ' + patient.age + ')'"></span></h4>
            <h5>{{patient.identifier}}<span bo-text="' (' + patient.address.cityVillage + ')'"></span></h5>
            <span  class="ward" bo-text="bedDetails.wardName + ' ' + bedDetails.bedNumber"></span>
        </div>

        <h2>Actions</h2>
        <ul>
            <li><a href="#{{getConsultationPadLink()}}">Consultation</a></li>
            <li><a href="/trends/#/patients/{{patient.uuid}}">Trends</a></li>
            <li class="summary" ng-class="{'selected': patientSummary}"
                ng-click="showSummary()"><a href="">Summary</a></li>
            <li><a href="" pop-up on-click-handler="getPatientDocuments">Patient Documents</a></li>
        </ul>

        <h2>Visit History</h2>
        <ul>
            <li ng-click="showVisitSummary(visit) && shiftBack()" class="visit-history-entry"
                ng-class="{'selected': isCurrentVisit(visit), 'active': visit.isActive()}"
                ng-repeat="visit in visits">
                <a href="">
                    <span bo-text="visit.startDatetime | date: 'd MMM yy'"></span>
                    <span bo-text="'- ' + (visit.stopDatetime | date: 'd MMM yy')" bo-hide="visit.isActive()"></span>
                    <i class="icon-star" title="Current Visit"></i>
                </a>
            </li>
        </ul>
    </aside>
    <div class="pgContainer" ng-class="{'shift':patient.show}">
        <div class="dashboard-header">
            <h1>Patient Dashboard</h1>
           <button class="toggle-patient" ng-click="toggle(patient)"></button> 
        </div>
        <article bindonce="patientSummary" ng-include="'views/patientSummary.html'"></article>
        <article bindonce="visit" ng-if="!patientSummary && visit" ng-include="'views/visitSummary.html'"></article>
    </div>
</article>