<article class="visit">
    <aside bindonce class="visit-history">
        <div>
            <ul class="patient-info">
                <li class="patient-img">
                    <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
                </li>
                <li bo-text="patient.name"></li>
                <li bo-text="patient.identifier"></li>
                <li bo-text="patient.gender + patient.age + ', ' + patient.address.cityVillage"></li>
                <li bo-text="bedDetails.wardName + ', ' + bedDetails.bedNumber"></li>
            </ul>
        </div>

        <h2>Actions</h2>
        <ul>
            <li><a href="#{{getConsultationPadLink()}}">Consultation</a></li>
            <li><a href="/trends/#/patients/{{patient.uuid}}">Trends</a></li>
            <li class="summary" ng-class="{'selected': patientSummary}"
                ng-click="showSummary()"><a href="">Summary</a></li>
            <li><a href="" pop-up on-click-handler="getPatientFiles">Patient Files</a></li>
        </ul>

        <h2>Visit History</h2>
        <ul>
            <li ng-click="showVisitSummary(visit)" class="visit-history-entry"
                ng-class="{'selected': isCurrentVisit(visit), 'active': visit.isActive()}"
                ng-repeat="visit in visits">
                <a href="">
                    <span bo-text="visit.startDatetime | date: 'd MMM yy'"></span>
                    <span bo-text="'- ' + (visit.stopDatetime | date: 'd MMM yy')" bo-hide="visit.isActive()"></span>
                </a>
            </li>
        </ul>
    </aside>

    <article bindonce="patientSummary" ng-include="'views/patientSummary.html'"></article>
    <article bindonce="visit" ng-if="!patientSummary && visit" ng-include="'views/visitSummary.html'"></article>
</article>