<div bindonce class="dashboard-header opd-header-wrapper">
    <div class="opd-header-bottom">        
        <span ng-controller="CommonHeaderController" class="fl">
            <ul>
                <li ng-repeat="(label, goToUrl) in backLinks">
                    <a class="back-btn" ng-click="goToUrl()">
                        <span>{{label}}</span>
                    </a>
                </li>
            </ul>
        </span>
        <h1>
        	<i class="icon-user"></i>
        	<span bo-text="patient.name"></span> 
        	<span bo-text="'(' + patient.identifier + ')'"></span>
       	</h1>        
        
        <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}"></button>
        <a class="confirm quick-links" ng-if="activeVisit" ng-click="collapseControlPanel()" href="#{{consultationBoardLink()}}">Consultation</a>
        <span visit-pagination-links visit="visit"></span>
    </div>
</div>
