<li class="level-{{level}}" ng-class="{'is-abnormal': observation.abnormal, 'is-text': observation.type == 'Text', 'has-child' : observation.groupMembers.length > 0}">
    <span class="field-attribute"><label>{{observation.concept.shortName || observation.concept.name}}</label></span>
    <span class="value-text-only" ng-if="!observation.groupMembers || observation.groupMembers.length == 0">{{observation.getDisplayValue()}}</span>
    <span class="label-add-on" ng-if="observation.concept.units"> {{observation.concept.units}}</span>
    <span class="value-text-only time" ng-if="!observation.groupMembers || observation.groupMembers.length == 0">{{observation.observationDateTime | date :'hh:mm a'}}</span>

    <ul>
        <dashboard-observation ng-repeat="member in observation.groupMembers" observation="member" level="level + 1"></dashboard-observation>
    </ul>
</li>


