<form>
    <fieldset>
        <div class="diagnosis">
            <div id="selectedNodesArea">
                <div class="table new-diagnosis">
                    <div class="row table-header">
                        <div class="col col1"><span>Diagnosis</span></div>
                        <div class="col col2"><span>Order</span></div>
                        <div class="col col3"><span>Certainty</span></div>
                        <div class="col col4"><span>Status</span></div>
                    </div>

                    <div ng-repeat="diagnosis in newlyAddedDiagnoses" ng-hide="diagnosis.voided" class="table-body">
                        <div class="row">
                            <div class="col col1">
                                <input ng-model="diagnosis.codedAnswer.name" type="text" name="name"
                                       my-autocomplete="{{ {'src': 'getDiagnosis', 'responseHandler': 'cleanOutDiagnosisList', 'onSelect':'addNewDiagnosis', 'index' : $index} }}"
                                       ng-change="clearEmptyRows($index); diagnosis.clearCodedAnswerUuid();">

                                <span>
                                    <button type="button" ng-model="diagnosis.isNonCodedAnswer" class="small-btn accept-btn"
                                           ng-click="diagnosis.setAsNonCodedAnswer() && clearEmptyRows($index)"
                                           ng-class="{'illegalValue': diagnosis.codedAnswer.name && !diagnosis.codedAnswer.uuid && !diagnosis.isNonCodedAnswer, active: diagnosis.isNonCodedAnswer}"
                                           ng-disabled="diagnosis.codedAnswer.uuid"><span></span>Accept</button>
                                </span>

                            </div>
                            <div class="col col2">
                                <buttons-radio class="btn-group" model='diagnosis.order'
                                               ng-class="{'illegalValue': !diagnosis.isValidOrder()}"
                                               options='orderOptions'/>
                            </div>
                            <div class="col col3">
                                <buttons-radio class="small-btn" model='diagnosis.certainty'
                                               ng-class="{'illegalValue': !diagnosis.isValidCertainty()}"
                                               options='certaintyOptions'/>
                            </div>
                            <div class="col col4">
                                <buttons-radio class="small-btn status"
                                               model='diagnosis.diagnosisStatus'
                                               options='diagnosisStatuses'/>
                            </div>
                            <div class="col col5">
                                <button type="button" class="small-btn row-remover" ng-click="removeObservation($index)"
                                        ng-show="diagnosis.codedAnswer.name">
                                    <span class="icon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="table current-diagnosis" ng-if="consultation.savedDiagnosesFromCurrentEncounter.length > 0">
                    <h2>Current</h2>
                    <div ng-repeat="diagnosis in consultation.savedDiagnosesFromCurrentEncounter | primaryDiagnosisFirst" class="table-body">
                        <div class="row diagnosis-row">
                            <ng-include src="'views/diagnosisRow.html'" />
                        </div>
                    </div>
                </div>
                
                <div class="table history-diagnosis" ng-if="consultation.pastDiagnoses.length > 0">
                    <div class="row table-header">
                      <div class="col col1"><span>Past Diagnosis</span></div>
                      <div class="col col2"><span>Initial</span></div>
                      <div class="col col3"><span>Current</span></div>
                    </div>
                    <div ng-repeat="diagnosis in consultation.pastDiagnoses | primaryDiagnosisFirst" class="table-body">
                        <div class="row diagnosis-row">
                            <ng-include src="'views/diagnosisRow.html'" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
</form>
