<div>

    <section class="block" ng-class="{'more': patientSummary.show}">
        <div ng-repeat="obsTemplate in diseaseTemplate.obsTemplates">
            <label class="date">{{obsTemplate.concept.name}} - {{obsTemplate.visitStartDate | date: 'dd MMM yy'}}</label>
            
            <div ng-repeat="observation in obsTemplate.observations">
                <fieldset>
                    <div class="form-field"
                         ng-class="{'is-abnormal': observation.abnormal, 'is-text': isText(observation)}">
                        <span class="field-attribute"><label>{{observation.concept.shortName || observation.concept.name}}</label></span>
                        <span class="value-text-only">{{observation | observationValue}}</span>
                        <span class="label-add-on" ng-hide="!observation.unit"> {{observation.concept.units}}</span>

                        <div class="footer-note fr">
                            <span class="value-text-only time">{{observation.observationDateTime | date :'hh:mm a'}}</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </section>
</div>
