<div>
    <section class="block hierarchy">
        <ul class="form-field">
            <li ng-repeat="obsTemplate in diseaseTemplate.obsTemplates">
                <span class="tree-list-item">
                        {{obsTemplate.label}}
                    <span class="fr visit-start-date">
                        {{obsTemplate.visitStartDate | date: 'dd MMM yy'}}
                    </span>
                </span>

                <ul>
                    <li ng-repeat="encounter in obsTemplate.encounters">
                        <span class="tree-list-item">
                            <span>
                                {{encounter.encounterDateTime | date: 'dd MMM yy'}}
                            </span>
                        </span>
                        <ul>
                            <dashboard-observation observation="observation"
                                                   ng-repeat="observation in encounter.observations"></dashboard-observation>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div>
