<div>
    <section class="block hierarchy" ng-class="{'more': patientSummary.show}">
        <ul class="form-field">
            <li ng-repeat="obsTemplate in diseaseTemplate.obsTemplates" class="level-1 has-child">
                <span>{{obsTemplate.name}} - {{obsTemplate.visitStartDate | date: 'dd MMM yy'}}</span>
                <ul>
                    <dashboard-observation observation="observation" ng-repeat="observation in obsTemplate.observations" level="2"></dashboard-observation>
                </ul>
            </li>
        </ul>
    </section>
</div>
