

    <div ng-if="observation.isObservationNode">
        <tr ng-class="{true: 'is-abnormal'}[observation.abnormalObs.value]">
            <td class="name">
                <span class="obs-value">{{observation.primaryObs.concept.name}}</span>
            </td>
            <td class="value">
                <span class="obs-value">{{observation.primaryObs.value}}</span>

                <div class="footer-note fr">
                    <span class="time-stamp">
                        <span class="time">{{observation.primaryObs.observationDateTime | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="observation.provider.name"></span>
                </div>
            </td>
        </tr>
    </div>

    <div ng-if="!observation.isObservationNode && observation.groupMembers.length == 0">
        <tr ng-class="{true: 'is-abnormal'}[observation.abnormal]">
            <td class="name">
                <span class="obs-value">{{observation.concept.name}}</span>
            </td>
            <td class="value">
                <span class="obs-value">{{observation.value}}</span>

                <div class="footer-note fr">
                    <span class="time-stamp">
                        <span class="time">{{observation.observationDateTime | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="observation.provider.name"></span>
                </div>
            </td>
        </tr>
    </div>


    <div ng-if="!observation.isObservationNode && observation.groupMembers.length > 0">
        <div ng-repeat="member in observation.groupMembers track by $index">
            <observation-summary patient-uuid="patientUuid" observation="member"
                                 show-trends="showTrends" full-date="true"
                                 obs-ignore-list="obsIgnoreList"></observation-summary>
        </div>
    </div>


