<div class="dashboard-section-wrapper">
  <div class="dashboard-sections">
    <section ng-repeat="section in patientDashboardSections | filter:filterOdd(0)" class="dashboard-section" ng-show="patientSummary">        
      <ng-include src="section.viewName"></ng-include>
    </section> 
  </div>

  <div class="dashboard-sections">
    <section ng-repeat="section in patientDashboardSections | filter:filterEven(0)" class="dashboard-section" ng-show="patientSummary">
        <ng-include src="section.viewName"></ng-include>
    </section>
  </div>
</div>


