<div class="patient-dashboard">
  <div>
    <section>
      <h2>Diagnosis</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Panel Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>
        </tbody>
      </table>
      <button>View more</button>
    </section>
    <section>
      <h2>Diagnosis</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Panel Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>
        </tbody>
      </table>
      <button>View more</button>
    </section>
    <section>
      <h2>Diagnosis</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Panel Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>
        </tbody>
      </table>
      <button>View more</button>
    </section>
    <section>
      <h2>Diagnosis</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Panel Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>          
          <tr>
            <td>Name</td>
            <td>20</td>
          </tr>
        </tbody>
      </table>
      <button>View more</button>
    </section>
  </div>
</div>