<section ng-if="hasData"class="dashboard-section">
    <h2 class="section-title">{{displayName || diseaseName}}</h2>  
    <table class="h-scroll pivot-table">
        <thead>
        <tr>
            <th>Visits</th>
            <th ng-repeat="conceptName in result.conceptNames">{{conceptName}}</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(visitDate,values) in result.tabularData">
                <td>
                    <strong>{{visitDate | date: 'dd MMM yy'}}</strong>
                </td> 
                <td ng-repeat="conceptName in result.conceptNames" ng-class="{'is-abnormal': tabularData[visitDate][conceptName].abnormal}">
                    {{result.tabularData[visitDate][conceptName].value}}
                </td>
            </tr>
        </tbody>
    </table>     
</section>