<div>
    <div>
        <div class="form-field" ng-hide="observation.groupMembers.length" ng-class="{true: 'is-abnormal'}[observation.is_abnormal]">
            <span class="field-attribute" ng-show="showObservation()">
                <label>{{observation.concept.name}}:</label>
                <span class="label-add-on" ng-show="observation.concept.units">({{observation.concept.units}})</span>
            </span>
            <span class="value-text-only">{{observation | observationValue}}</span>
            <span class="value-text-only">{{observation.time}}</span>
        </div>
    <div>
    <div>
        <fieldset ng-show="observation.groupMembers.length">
            <div class="form-field">
                <div class="form-field form-field-group" ng-repeat="member in observation.groupMembers track by $index">
                    <div ng-switch on="$index" ng-show="showObservation()">
                        <legend ng-switch-when="0" class="mylegend"><strong>{{observation.concept.name}}</strong></legend>
                    </div>
                    <show-obs observation="member"></show-obs>
                </div>
            </div>
        </fieldset>
    </div>
</div>
