<div class="treatment-page">
    <section class="edit-drug-order section-grid">
        <form>
            <fieldset>
                <input class="form-field drug-name" type="text" placeholder="Drug Name" 
                        ng-model="treatment.drugName" />
                <input class="form-field dose" type="text" placeholder="Dose" ng-model="treatment.dose" />

                <div class="frequency-widget">
                    <div>
                        <select class="form-field frequency" ng-model="treatment.frequency"
                                ng-options="item.name as item.name for item in treatmentConfig.frequencies">
                            <option/>
                        </select>
                    </div>
                    <span class="or-seperator">or</span>
                    <div class="form-field dose-cell">
                        <input type="number" min="0" ng-model="treatment.morningDose"/>
                        <input type="number" min="0" ng-model="treatment.afternoonDose"/>
                        <input type="number" min="0" ng-model="treatment.eveningDose" /> 
                    </div>

                    <select class="form-field freq-dose-units" ng-model="treatment.doseUnits"
                            ng-options="item.name as item.name for item in treatmentConfig.doseUnits">
                    </select>
                </div>

                <div class="form-field treatment-prn">
                    <input id="treatmentPrn" type="checkbox" ng-model="treatment.prn"/>
                    <label for="treatmentPrn">SOS</label>
                </div>
            </fieldset>

            <fieldset>
                <select class="form-field instruction" ng-model="treatment.instructions">
                    <option value="Before meals">Before meals</option>
                    <option value="Empty stomach">Empty stomach</option>
                    <option value="After meals">After meals</option>
                    <option value="In the morning">In the morning</option>
                    <option value="In the evening">In the evening</option>
                    <option value="At bedtime">At bedtime</option>
                </select>
                <div class="duration-widget">
                    <input  class="form-field duration" type="text" placeholder="Duration" 
                            ng-model="treatment.duration"/>
                    <select class="form-field duration-unit" ng-model="treatment.durationUnit"
                            ng-options="item.name as item.name for item in treatmentConfig.durationUnits">
                    </select>
                    <select class="form-field route" ng-model="treatment.route"
                            ng-options="item.name as item.name for item in treatmentConfig.routes">
                    </select>
                </div>
                

                <input class="form-field start-date" type="date" pattern="\d{2}-\d{2}-\d{4}"
                        ng-model="treatment.scheduledDate"
                        placeholder="dd-mm-yyyy">

                <div class="quantity-widget">
                    <input class="form-field quantity" type="number" min="0" ng-model="treatment.quantity" />
                    <select class="form-field quantity-unit" ng-model="treatment.quantityUnit"
                            ng-options="item.name as item.name for item in treatmentConfig.dispensingUnits">
                    </select>
                </div>
            </fieldset>

            <fieldset>
                <textarea class="form-field drug-order-notes" placeholder="Notes" ng-model="treatment.notes"></textarea>
                <button class="form-field add-drug-btn confirm" type="button" ng-click="add()">ADD</button>
                <!--<textarea class="form-field drug-notes" placeholder="Notes" ng-model="treatment.notes"></textarea>-->
                <!--<button class="form-field add-drug-btn" type="button" ng-click="add()">ADD</button>-->
            </fieldset>
        </form>
    </section>
    <!--<section class="new-drug-orders">-->
        <!--<ul>-->
            <!--<li ng-repeat="newTreatment in treatments">-->
                <!--{{newTreatment.getText()}} from {{newTreatment.scheduledDate}}-->
                <!--<button type="button" ng-click="edit($index)">EDIT</button>-->
                <!--<button type="button" ng-click="remove($index)">DELETE</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</section>-->
    <ng-include src="'views/treatmentSections/newDrugOrders.html'"></ng-include>
    <ng-include src="'views/treatmentSections/drugOrderHistory.html'"></ng-include>
</div>