<div class="treatment-page" xmlns="http://www.w3.org/1999/html">
    <section class="edit-drug-order section-grid">
        <form ng-submit="add()">
            <fieldset>
                <input class="form-field drug-name" type="text" placeholder="Drug Name" bahmni-autocomplete source="getDrugs" response-map="getDataResults"
                        ng-model="treatment.drugNameDisplay" on-select="populateBackingFields" required  autofocus/>
                <div class="frequency-widget uniform-frequency">
                    <input class="form-field dose" only-number type="number" placeholder="Dose" ng-model="treatment.uniformDosingType.dose"  ng-change="treatment.setFrequencyType('uniform')" ng-required="requiredFor('uniform')"/>
                    <select class="form-field freq-dose-units" ng-model="treatment.uniformDosingType.doseUnits"
                            ng-options="item.name as item.name for item in treatmentConfig.doseUnits"  ng-change="treatment.setFrequencyType('uniform')" ng-required="requiredFor('uniform')">
                        <option/>
                    </select>
                    <div>
                        <select class="form-field frequency" ng-model="treatment.uniformDosingType.frequency"
                                ng-options="item.name as item.name for item in treatmentConfig.frequencies" ng-change="treatment.setFrequencyType('uniform')" ng-required="requiredFor('uniform')">
                            <option/>
                        </select>
                    </div>
                </div>
                <span class="or-seperator">or</span>
                <div class="frequency-widget variable-frequency">
                    <div class="form-field dose-cell">
                        <input type="number" min="0" ng-model="treatment.variableDosingType.morningDose" ng-change="treatment.setFrequencyType('variable')" only-number ng-required="requiredFor('variable')"/>
                        <input type="number" min="0" ng-model="treatment.variableDosingType.afternoonDose" ng-change="treatment.setFrequencyType('variable')" only-number ng-required="requiredFor('variable')"/>
                        <input type="number" min="0" ng-model="treatment.variableDosingType.eveningDose"  ng-change="treatment.setFrequencyType('variable')" only-number ng-required="requiredFor('variable')"/>
                    </div>
                    <select class="form-field freq-dose-units" ng-model="treatment.variableDosingType.doseUnits"
                            ng-options="item.name as item.name for item in treatmentConfig.doseUnits" ng-change="treatment.setFrequencyType('variable')" ng-required="requiredFor('variable')">
                        <option/>
                    </select>
                </div>

                <div class="form-field treatment-prn">
                    <input id="treatmentPrn" type="checkbox" ng-model="treatment.prn"/>
                    <label for="treatmentPrn">SOS</label>
                </div>
            </fieldset>

            <fieldset>
                <select class="form-field instruction" ng-model="treatment.instructions">
                    <option/>
                    <option value="Before meals">Before meals</option>
                    <option value="Empty stomach">Empty stomach</option>
                    <option value="After meals">After meals</option>
                    <option value="In the morning">In the morning</option>
                    <option value="In the evening">In the evening</option>
                    <option value="At bedtime">At bedtime</option>
                </select>
                <div class="duration-widget">
                    <input  class="form-field duration" type="number" placeholder="Duration"
                            ng-model="treatment.duration" required only-number />
                    <select class="form-field duration-unit" ng-model="treatment.durationUnit"
                            ng-options="item.name as item.name for item in treatmentConfig.durationUnits" required>
                        <option/>
                    </select>
                    <select class="form-field route" ng-model="treatment.route"
                            ng-options="item.name as item.name for item in treatmentConfig.routes">
                    </select>
                </div>

                <input class="form-field start-date" type="date"
                        ng-model="treatment.scheduledDate" placeholder="dd-mm-yyyy" min="{}">

                <div class="quantity-widget">
                    <input class="form-field quantity" type="number" min="0" ng-model="treatment.quantity" required only-number/>
                    <select class="form-field quantity-unit" ng-model="treatment.quantityUnit"
                            ng-options="item.name as item.name for item in treatmentConfig.dispensingUnits" required>
                        <option/>
                    </select>
                </div>
            </fieldset>

            <fieldset>
                <textarea class="form-field drug-order-notes" placeholder="Notes" ng-model="treatment.notes"></textarea>
                <input class="form-field add-drug-btn confirm" type="submit"value="Add"/>
            </fieldset>
        </form>
    </section>
    <ng-include src="'views/treatmentSections/newDrugOrders.html'"></ng-include>
    <ng-include src="'views/treatmentSections/drugOrderHistory.html'"></ng-include>
</div>