<table ng-show="consultation.treatmentDrugs.length > 0">
  <thead>
    <tr>
      <th>Drug Name</th>
      <th>Strength &amp; Form</th>
      <th># per Dosage</th>
      <th>Dosage Frequency</th>
      <th>Dosage Instructions</th>
      <th># of Days</th>
    </tr>
  </thead>
  <tbody ng-repeat="drug in consultation.treatmentDrugs">
    <tr>
      <td>{{drug.name}}</td>
      <td>{{drug.strength + ' ' + drug.dosageForm}}</td>
      <td>{{drug.numberPerDosage}}</td>
      <td ng-show="drug.dosageFrequency && drug.dosageFrequency!=''">{{drug.dosageFrequency.name}}</td>
      <td ng-show="drug.dosageInstruction && drug.dosageInstruction!=''">{{drug.dosageInstruction.name}}</td>
      <td>for {{drug.numberOfDosageDays}} day(s) <span ng-show="drug.prn">Take as required.</span></td>
    </tr>
    <tr ng-show="drug.notes" class="notes inline-notes">
      <td colspan="6" >{{drug.notes}}</td>
    </tr>
  </tbody>
</table>