<section>
    <section visit-actions patient="patient" visit="visit"></section>
    <section ng-show="visit.hasDiagnosis()" class="block diagnosis">
        <h2>Diagnoses</h2>
        <div class="table history-diagnosis">
            <div class="row table-header">
              <div class="col col1"><span>Diagnosis</span></div>
              <div class="col col2"><span>Initial</span></div>
              <div class="col col3"><span>Current</span></div>
              <div class="col col4"><span>Revised</span></div>
            </div>

            <div class="table-body">
                <div class="row placeholder" ng-show="!visit.hasDiagnosis()">A diagnosis has not been made for this patient yet.</div>
                <div class="row diagnosis-row" ng-repeat="diagnosis in visit.diagnoses">
                    <div class="view-past">
                    <div class="col col1">
                      <span class="diagnosis-name" bo-text="diagnosis.getDisplayName()" ng-class="{'ruled-out': diagnosis.diagnosisStatus}"></span>
                    </div>
                    <div class="col col2" ng-show="diagnosis.firstDiagnosis.revised" >
                      <div class="view">
                        <span class="certainty">{{diagnosis.firstDiagnosis.certainty}}</span>
                        <span class="order">{{diagnosis.firstDiagnosis.order}}</span>
                        <span class="status">{{diagnosis.firstDiagnosis.diagnosisStatus}}</span>
                      </div>
                      <div>
                        <span class="time-stamp">
                          <span class="date">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span> 
                        </span>
                        <span class="provider" bo-text="diagnosis.providers[0].name"></span>
                      </div>
                    </div>

                    <div ng-show="!diagnosis.firstDiagnosis.revised" class="col col2"></div>
                    <div class="col col3">
                      <div class="view">
                        <span class="certainty">{{diagnosis.certainty}}</span>
                        <span class="order">{{diagnosis.order}}</span>
                        <span class="status">{{diagnosis.diagnosisStatus}}</span>
                      </div>
                      <div>
                        <span class="time-stamp">
                          <span class="date">{{diagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>
                        </span>
                        <span class="provider" bo-text="diagnosis.providers[0].name"></span>
                      </div>
                    </div>
                    <div class="col col4">
                      <i ng-show="diagnosis.revised" class="icon-ok"></i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block observation" ng-show="visit.hasObservations()">
        <h2>Observations</h2>
        <ul>
            <div ng-repeat="observationGroup in visit.observationGroups">
                <observation-summary patient-uuid="patientUuid" observation="observationGroup"
                                     show-trends="showTrends" full-date="true"
                                     obs-ignore-list="obsIgnoreList"></observation-summary>
            </div>
        </ul>
    </section>
</section>
<section class="block laborder-section" ng-show="visit.hasLabTests()">
    <div ng-if="visit.admissionDate && false" ng-init="toggleLabInvestigation()">
        <h2> IPD Investigations</h2>
        <ul class="block-content">
            <table>
                <tr>
                    <th>
                        <strong bo-text="(visit.admissionDate | date:'dd MMM yy') + ' - '+ (visit.visitEndDate | date:'dd MMM yy')"></strong>
                    </th>
                    <th ng-repeat="day in visit.tabularResults.getDays()" bo-text="'D'+ day.dayNumber"></th>
                </tr>
                <tr ng-repeat="testOrder in visit.tabularResults.getRows()">
                    <td ng-class="testResultClass(testOrder)"
                        colspan="{{testOrder.results.length + 1}}" ng-if="testOrder.isSummary">
                        {{testOrder.name}}
                        <span class="status" ng-show="pendingResults(testOrder)">Pending!</span>
                    </td>

                    <td ng-if="!testOrder.isSummary">
                        {{testOrder.name}}
                        <span class="status" ng-show="pendingResults(testOrder)">Pending!</span>
                        <span class="range">
                            <span ng-if="testOrder.minNormal && testOrder.maxNormal">
                                Valid range {{' (' + testOrder.minNormal + ' - ' + testOrder.maxNormal + ') '}}
                            </span>
                        <span class="units">{{testOrder.units}}</span>
                    </span>
                    </td>

                    <td ng-repeat="resultDay in testOrder.results" ng-if="!testOrder.isSummary" >
                        <ul>
                            <li ng-repeat="result in resultDay" ng-class="{'is-abnormal': result.isAbnormal}">
                                {{result.value}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </ul>
    </div>
    <h2>Lab Investigations
        <button class="toggle fr" ng-if="visit.admissionDate">
            <i class="icon-plus-sign" ng-click="toggleLabInvestigation()"
               ng-hide="showLabInvestigations"></i>
            <i class="icon-minus-sign" ng-click="toggleLabInvestigation()"
               ng-show="showLabInvestigations"></i>
        </button>
    </h2>

    <div ng-repeat="labOrders in visit.labTestOrderObsMap" ng-show="showLabInvestigations">
        <table>
            <thead>
            <tr>
                <th colspan="2">
                  <span class="date" bo-text="'Lab Report ' +($index+1)"> </span>
                  <button class="toggle-btn fr" ng-click="toggle(labOrders)" ng-if="labOrders.accessionNotes">
                      <i class="icon-envelope" ng-hide="labOrders.show"></i>
                      <i class="icon-envelope-alt" ng-show="labOrders.show"></i>
                      Notes
                  </button>
                </th>
            </tr>
            <tr ng-show="labOrders.show">
                <th colspan="2" class="notes inline-notes" ng-if="labOrders.accessionNotes">                   
                    <div ng-repeat="accessionNote in labOrders.accessionNotes" class="accession">
                        <pre class="left">{{accessionNote.text}}</pre>
                        <div class="footer-note fr">
                            <span class="time-stamp">
                                <span class="date" bo-text="accessionNote.dateTime | date:'dd MMM yy'"></span>
                                <span class="time" bo-text="accessionNote.dateTime | date :'hh:mm a'"></span>
                            </span>
                            <span class="provider" bo-text="accessionNote.providerName"></span>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="line in labOrders.displayList">
            <!-- HACKTAG: Apparently bo-if makes this go into an infinite loop-->
            <tr ng-if="line.isSummary" ng-class="testResultClass(line)">
                <td colspan="2" ng-hide="!line.name">
                    {{line.name}}
                    <span class="status" ng-show="pendingResults(line)">Pending!</span>
                </td>
            </tr>
            <tr ng-if="!line.isSummary"
                ng-class="{'is-abnormal': line.isAbnormal, 'referred-out': line.referredOut}">
                <td>
                    <span>{{line.concept.name}}</span>
                </td>
                <td class="value">
                    {{line.value}}
                    <span class="range">
                      <span ng-if="line.minNormal && line.maxNormal">
                        Valid range {{' (' + line.minNormal + ' - ' + line.maxNormal + ') '}}
                      </span>
                      <span class="units">{{line.units}}</span>
                    </span>
                    <span class="referred">Referred Out</span>
                    <button class="toggle fr">
                        <i class="icon-plus-sign" ng-click="toggle(line)" ng-hide="line.show"></i>
                        <i class="icon-minus-sign" ng-click="toggle(line)" ng-show="line.show"></i>
                    </button>
                </td>
            </tr>
            <tr ng-show="!line.isSummary && line.show">
                <td colspan="2" class="notes inline-notes">
                    <strong class="left">Lab Tech Notes: </strong>
                    <pre class="left">{{line.notes}}</pre>

                    <div class="footer-note right">
                                    <span class="time-stamp">
                                        <span class="date" bo-text="line.observationDateTime | date:'dd MMM yy'"></span>
                                        <span class="time" bo-text="line.observationDateTime | date :'hh:mm a'"></span>
                                    </span>
                        <span class="provider" bo-text="line.providerName"></span>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="block radiologyInvestigations" ng-show="visit.radiologyDocs.length">
    <h2>Radiology Investigations</h2>
    <ul image-gallery image-gallery-target=".document-link">
        <li ng-repeat="radiologyDoc in visit.radiologyDocs">
            <a class="document-link temp-class" title="{{radiologyDoc.name}}" bo-text="radiologyDoc.name"
               ng-src="{{radiologyDoc.src}}" image-gallery-item></a>

            <div class="footer-note">
                <span class="time-stamp">
                    <span class="date">{{radiologyDoc.dateTime | date:'dd MMM yy'}}</span>
                    <span class="time">{{radiologyDoc.dateTime | date :'hh:mm a'}}</span>
                </span>
                <span class="provider" bo-text="radiologyDoc.provider.name"></span>
            </div>
        </li>
    </ul>
</section>
<section class="block otherTestOrders" ng-show="visit.hasOtherInvestigations()">
    <h2>Other Investigations</h2>
    <ul>
        <div ng-repeat="otherInvestigationGroup in visit.otherInvestigationGroups">
            <li ng-repeat="investigation in otherInvestigationGroup.orders">
                <span bo-text="investigation.concept.name" class="temp-class"></span>

                <div class="footer-note">
                  <span class="time-stamp">
                    <span class="date">{{otherInvestigationGroup.date | date:'dd MMM yy'}}</span>
                    <span class="time">{{otherInvestigationGroup.date | date :'hh:mm a'}}</span>
                  </span>
                    <span class="provider" bo-text="investigation.provider.name"></span>
                </div>
            </li>
        </div>
    </ul>
</section>
<section class="block treatment-section" ng-show="visit.hasDrugOrders()">
    <h2>Treatment</h2>
    <table ng-repeat="drugOrderGroup in visit.drugOrderGroups">
        <tr>
            <th class="drugorder-date" colspan="7"><strong>{{(drugOrderGroup.date | date:'dd MMM yy')}}</strong></th>
        </tr>
        <tbody ng-repeat="drugOrder in drugOrderGroup.orders">
        <tr>
            <td class="drug-name" bo-text="drugOrder.drugName"></td>
            <td>
                <span bo-show="drugOrder.doseStrength" bo-text="drugOrder.doseStrength"></span>
                <span bo-show="drugOrder.drugUnits" bo-text="' ' + drugOrder.drugUnits"></span>
                <span bo-show="!drugOrder.doseStrength && !drugOrder.drugUnits" bo-text="' - '"></span>
            </td>
            <td>
                <span bo-show="drugOrder.numberPerDosage" bo-text="drugOrder.numberPerDosage"></span>
                <span bo-show="drugOrder.dosageForm" bo-text="drugOrder.dosageForm"></span>
                <span bo-show="!drugOrder.dosageForm && !drugOrder.numberPerDosage" bo-text="' - '"></span>
            </td>
            <td>
                <span bo-show="drugOrder.dosageFrequency" bo-text="drugOrder.dosageFrequency.name"></span>
                <span bo-show="!drugOrder.dosageFrequency" bo-text="' - '"></span>
            </td>
            <td>
                <span bo-show="drugOrder.dosageInstruction" bo-text="drugOrder.dosageInstruction.name"></span>
                <span bo-show="!drugOrder.dosageInstruction" bo-text="' - '"></span>
            </td>
            <td class="dosage-days">
                <div class="dosage">
                    <span><span class="copy">From </span>{{(drugOrder.startDate | date:'d MMM yy')}}<span
                            class="copy"> for </span>{{visit.numberOfDosageDaysForDrugOrder(drugOrder)}} day(s)</span>
                    <span bo-show="drugOrder.prn" class="prn">Take as required</span>
                </div>
                <button class="toggle fr">
                    <i class="icon-plus-sign" ng-click="toggle(drugOrder)" ng-hide="drugOrder.show"></i>
                    <i class="icon-minus-sign" ng-click="toggle(drugOrder)" ng-show="drugOrder.show"></i>
                </button>
            </td>
        </tr>
        <tr ng-show="drugOrder.show">
            <td colspan="7" class="inline-notes notes">
                <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.notes}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.dateCreated | date:'dd MMM yy'}}</span>
                      <span class="time">{{drugOrder.dateCreated | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<section class="block ipd-treatment-section" ng-if="visit.hasIPDDrugOrdes()">
    <h2>IPD Treatment</h2>
    <table>
        <tr>
            <th>
                <strong bo-text="(visit.ipdDrugSchedule.fromDate | date:'dd MMM yy') + ' - '+ (visit.ipdDrugSchedule.toDate | date:'dd MMM yy')"></strong>
            </th>
            <th ng-repeat="day in visit.ipdDrugSchedule.days" bo-text="'D'+ day.dayNumber"></th>
        </tr>
        <tr ng-repeat="drug in visit.ipdDrugSchedule.drugs">
            <td bo-text="drug.name" class="drug" ng-class="{active: drug.isActive()}"></td>
            <td ng-repeat="day in visit.ipdDrugSchedule.days">
                <span class="icon-ok" bo-if="drug.isActiveOnDate(day.date)"/>
            </td>
        </tr>
    </table>
</section>

<section class="block disposition-section" ng-show="visit.hasDisposition()">
    <h2>Disposition</h2>
    <ul class="block-content">
        <li ng-repeat="disposition in visit.dispositions">
            <div class="expander-row">

                <span bo-text="disposition.code" class="temp-class"></span>
                <button ng-repeat="note in disposition.additionalObs" class="toggle fr">
                    <i class="icon-plus-sign" ng-click="toggle(note)" ng-hide="note.show"></i>
                    <i class="icon-minus-sign" ng-click="toggle(note)" ng-show="note.show"></i>
                </button>

            </div>
            <div>
                <div ng-repeat="note in disposition.additionalObs">
                    <div ng-show="note.show" class="inline-notes notes">
                        <p class="left">
                            <strong>Disposition Notes: </strong>{{note.value}}
                        </p>

                        <div class="footer-note right">
                          <span class="time-stamp">
                            <span class="date">{{disposition.dispositionDateTime | date:'dd MMM yy'}}</span>
                            <span class="time">{{disposition.dispositionDateTime | date :'hh:mm a'}}</span>
                          </span>
                            <span class="provider" bo-text="disposition.provider.name"></span>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</section>
<section class="block consult-notes notes" ng-show="visit.hasConsultationNotes()">
    <ul>
        <div ng-repeat="notes in visit.consultationNoteGroups">
            <li ng-repeat="note in notes.obs" class="consult-notes-item">
                <span class="consult-notes-text"><strong>Consultation Notes: </strong>{{note.value}}</span>

                <div class="footer-note">
                  <span class="time-stamp">
                    <span class="date">{{note.observationDateTime | date:'dd MMM yy'}}</span>
                    <span class="time">{{note.observationDateTime | date :'hh:mm a'}}</span>
                  </span>
                    <span class="provider" bo-text="note.provider.name"></span>
                </div>
            </li>
        </div>
    </ul>
</section>