<article class="visit">
    <article bindonce="visitSummary">
        <div bo-hide="visitSummary.hasEncounters()" class="info-message">
            <p>There are no encounter for this patient</p>
        </div>
        <section bo-show="visitSummary.hasEncounters()" class="block investigation">
            <h2>Diagnoses</h2>
            <ul class="block-content visit-diagnosis | primaryDiagnosisFirst">
                <li ng-repeat="diagnosis in visitSummary.diagnoses">
                    <span class="diag-ps" bo-show="visitSummary.isPrimaryOrder(diagnosis.order)">P</span>
                    <span class="diag-ps" bo-show="!visitSummary.isPrimaryOrder(diagnosis.order)">S</span>
                    <span bo-text="diagnosis.codedAnswer.name"></span>
                    <span bo-text="'(' + diagnosis.certainty + ')'"
                          bo-hide="visitSummary.isConfirmedDiagnosis(diagnosis.certainty)"></span>

                    <ul class="add-info">
                        <li class="datetime">
                            <span bo-text="(diagnosis.diagnosisDateTime | date:'d-MMM-yy h:mm a')"></span>
                        </li>
                        <li>
                            <span bo-text="diagnosis.provider.name"></span>
                        </li>
                    </ul>
                </li>
                <div bo-show="!visitSummary.hasDiagnosis()">A diagnosis has not been made for this patient yet.</div>
            </ul>
        </section>

        <section class="block investigation" bo-show="visitSummary.hasDisposition()">
            <h2>Disposition</h2>
            <ul class="block-content">
                <li ng-repeat="disposition in visitSummary.dispositions">
                    <div class="expander-row">
                        <span bo-text="disposition.code"></span>
                           <span ng-repeat="note in disposition.additionalObs">
                                <div class="icon-double-angle-down" ng-click="toggle(note)"></div>
                           </span>
                        <ul class="add-info">
                            <li class="datetime">
                                <span bo-text="(disposition.dispositionDateTime | date:'d-MMM-yy h:mm a')"></span>
                            </li>
                            <li>
                                <span bo-text="disposition.provider.name"></span>
                            </li>
                        </ul>
                    </div>
                    <div>
                           <span ng-repeat="note in disposition.additionalObs">
                                <span ng-show="note.show" bo-text="note.value"></span>
                           </span>
                    </div>
                </li>
            </ul>
        </section>

        <section class="block labTestOrders" bo-show="visitSummary.hasLabTests()">
            <h2>Lab Orders</h2>
            <ul class="block-content">
                <li ng-repeat="labOrder in visitSummary.labTestOrderObsMap">
                    <div  bo-show="labOrder.observations.length == 0 || labOrder.observations[0].concept.set">
                        <span bo-text="labOrder.testOrder.concept.name"></span>
                        <ul class="add-info">
                            <li>
                                <span bo-text="labOrder.testOrder.provider.name"></span>
                            </li>
                        </ul>
                    </div>
                    <div ng-repeat="observation in labOrder.observations">
                        <section class="observation" bo-show="observation">
                            <div>
                                <observation-summary observation="observation" hide-parent-obs-name="true" full-date="true" />
                            </div>
                        </section>
                    </div>
                </li>
            </ul>
        </section>

        <section infinite-scroll="loadEncountersForPreviousDay()" infinite-scroll-disabled="!hasMoreVisitDays"
                 ng-show="visitDay.hasData()" ng-repeat="visitDay in visitDays" class="block-day block">
            <div>
                <h1 bo-text="'Day ' + visitDay.dayNumber"></h1>
                <ul class="add-info">
                    <li class="date" bo-text="(visitDay.visitDate | date:'d-MMM-yyyy')"></li>
                </ul>
            </div>
            <section class="block treatment" ng-show="visitDay.hasDrugOrders()">
                <h2>Treatment</h2>
                <ul>
                    <li ng-repeat="drugOrder in visitDay.drugOrders">
                        <div class="expander-row">
                            <div class="treatment-details">
                                <span bo-text="drugOrder.drugName"></span>
                                <span bo-show="drugOrder.doseStrength" bo-text="' - ' + drugOrder.doseStrength"></span>
                                <span bo-show="drugOrder.drugUnits" bo-text="' ' + drugOrder.drugUnits"></span>
                                <span bo-show="drugOrder.dosageForm" bo-text="' ' + drugOrder.dosageForm"></span>
                                <span bo-show="drugOrder.numberPerDosage"
                                      bo-text="' - ' + drugOrder.numberPerDosage"></span>
                                <span bo-show="drugOrder.dosageFrequency"
                                      bo-text="' - ' + drugOrder.dosageFrequency.name"> </span>
                                <span bo-show="drugOrder.dosageInstruction"
                                      bo-text="' - ' + drugOrder.dosageInstruction.name"> </span>
                                <span bo-text="' - ' + (drugOrder.startDate  | date:'d MMM yy')"> </span>
                                <span bo-text="' - for ' + visitSummary.numberOfDosageDaysForDrugOrder(drugOrder) + ' day(s)'"> - </span>
                                <span bo-show="drugOrder.prn"> - Take as required.</span>
                            </div>
                            <div class="treatment-notes">
                                <div bo-show="drugOrder.notes" class="icon-double-angle-down"
                                     ng-click="toggle(drugOrder)"></div>
                            </div>
                            <ul class="add-info">
                                <li class="time"><span bo-text="drugOrder.dateCreated | date: 'h:mm a'"></span></li>
                                <li><span bo-text="drugOrder.provider.name"></span></li>
                            </ul>
                        </div>
                        <div>
                            <span ng-show="drugOrder.show" bo-text='drugOrder.notes'></span>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="block notes" ng-show="visitDay.hasConsultationNotes()">
                <h2>Notes</h2>
                <ul>
                    <li ng-repeat="note in visitDay.consultationNotes">
                        <span bo-text="note.value"></span>
                        <ul class="add-info">
                            <li class="datetime"><span bo-text="note.observationDateTime | date: 'h:mm a'"></span>
                                <span bo-text="note.provider.name"></span></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="block labTestOrders" ng-show="visitDay.hasLabTestOrders()">
                <h2>Investigations</h2>
                <ul>
                    <li ng-repeat="testOrder in visitDay.labTestOrders">
                        <span bo-text="testOrder.concept.name"></span>
                        <ul class="add-info">
                            <li><span bo-text="testOrder.provider.name"></span></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="block otherTestOrders" ng-show="visitDay.hasOtherTestOrders()">
                <h2>Other Investigations</h2>
                <ul>
                    <li ng-repeat="testOrder in visitDay.otherTestOrders">
                        <span bo-text="testOrder.concept.name"></span>
                        <ul class="add-info">
                            <li>
                                <span bo-text="testOrder.provider.name"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="block observation" ng-show="visitDay.hasObservations()">
                <h2>Observations</h2>
                <ul>
                    <li ng-repeat="observation in visitDay.observations">
                        <div>
                            <observation-summary patient-uuid="patientUuid" observation="observation"
                                                 show-trends="showTrends"/>
                        </div>
                    </li>
                </ul>
            </section>
        </section>


    </article>
</article>