<section>
    <p class="no-visit" ng-show="!visit.hasData()">No visit information for this patient</p>
    <section ng-show="visit.hasDiagnosis()" class="block diagnosis">
        <h2>Diagnoses</h2>
        <div class="table history-diagnosis">
            <div class="row table-header" ng-if="!print">
                <div class="col col1"><span class="table-head-title">Diagnosis</span></div>
                <div class="col col2"><span class="table-head-title">Initial</span></div>
                <div class="col col3"><span class="table-head-title">Current</span></div>
                <div class="col col4"><span class="table-head-title">Revised</span></div>
            </div>

            <div class="table-body">
                <div class="row diagnosis-row" ng-repeat="diagnosis in visit.getLatestDiagnoses() | primaryDiagnosisFirst">
                    <div class="view-past">
                        <div class="col col1">
                            <span class="diagnosis-name" bo-text="diagnosis.getDisplayName()"
                                  ng-class="{'ruled-out': diagnosis.diagnosisStatus}"></span>
                        </div>
                        <div class="col col2" ng-show="diagnosis.firstDiagnosis.revised"  ng-if="!print">
                            <div class="view">
                                <span class="certainty">{{diagnosis.firstDiagnosis.certainty}}</span>
                                <span class="order">{{diagnosis.firstDiagnosis.order}}</span>
                                <span class="status">{{diagnosis.firstDiagnosis.diagnosisStatus}}</span>
                            </div>
                            <div>
                                <span class="time-stamp date">{{diagnosis.firstDiagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>
                                <span class="provider" bo-text="diagnosis.firstDiagnosis.providers[0].name"></span>
                            </div>
                        </div>

                        <div ng-show="!diagnosis.firstDiagnosis.revised" class="col col2"></div>
                        <div class="col col3">
                            <div class="view">
                                <span class="certainty">{{diagnosis.certainty}}</span>
                                <span class="order">{{diagnosis.order}}</span>
                                <span class="status">{{diagnosis.diagnosisStatus}}</span>
                            </div>
                            <div ng-if="!print">
                                <span class="time-stamp date">{{diagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>
                                <span class="provider" bo-text="diagnosis.providers[0].name"></span>
                            </div>
                        </div>
                        <div class="col col4">
                            <i ng-show="diagnosis.revised" class="icon-ok"></i>
                            <div ng-if="print">
                                <span class="time-stamp date">{{diagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>
                                <span class="provider" bo-text="diagnosis.providers[0].name"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block observation" ng-show="visit.hasObservations()">
        <h2>Observations</h2>
        <ul>
            <div ng-repeat="observationGroup in visit.observationGroups">
                <table>
                    <thead>
                    <th colspan="3">
                        <span class="date">{{observationGroup.date | date :'dd MMM yy'}}</span>
                    </th>
                    </thead>

                    <tbody ng-repeat="observationSubGroup in observationGroup.subGroups">

                        <tr>
                            <td colspan="3" class="headerRow">
                                <span class="obs-value">{{observationSubGroup.conceptName}}</span>
                            </td>
                        </tr>


                        <tr class="row-click" toggle="observation.showComment" ng-repeat-start="observation in observationSubGroup.obs"
                            ng-class="{true: 'is-abnormal'}[observation.abnormal.value]">
                            <td class="name">
                                <span class="obs-value">{{observation.concept.name}}</span>
                            </td>
                            <td class="value has-toggle-btn" data-ng-switch="observation.concept.conceptClass">
                                <img data-ng-switch-when="Image" image-observation-gallery="visit.getImageObservationGalleryRecords()" current-observation="observation" patient="patient" title="Consultation Images" ng-src="{{observation.value|thumbnail}}" width="100">
                                <span data-ng-switch-default class="obs-value"><pre class="chief-notes">{{observation | observationValue}} {{observation.concept.units}}</pre></span>
                            </td>
                            <td class="toggle-btn">
                                <button class="toggle fr" ng-class="{'has-notes': observation.comment}">
                                    <i class="icon-plus-sign" ng-hide="observation.showComment"></i>
                                    <i class="icon-minus-sign" ng-show="observation.showComment"></i>
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat-end >
                            <td class="notes inline-notes" colspan="3" ng-class="{'print-notes': observation.comment}" ng-show="observation.showComment">
                                <pre class="left">{{observation.comment}}</pre>
                                <div class="footer-note fr">
                                    <span class="time-stamp">
                                        <span class="time">{{observation.observationDateTime | date :'hh:mm a'}}</span>
                                    </span>
                                    <span class="provider" bindonce="observation" bo-text="observation.provider"></span>
                                </div>
                            </td>
                        </tr>

                    <!--<observation-summary patient-uuid="patientUuid" observation="observation"-->
                    <!--show-trends="showTrends" full-date="true"-->
                    <!--obs-ignore-list="obsIgnoreList"></observation-summary>-->
                    </tbody>
                </table>
            </div>
        </ul>
    </section>
</section>
<section class="block laborder-section" ng-show="visit.hasLabTests()">
    <div ng-if="visit.admissionDate && !print">
        <h2 class="ipd-investigation-title">Investigations Chart</h2>
        <table class="ipd-investigation">
            <thead>
            <tr>
                <th><span
                        bo-text="(visit.admissionDate | date:'dd MMM yy') + ' - '+ (visit.visitEndDate | date:'dd MMM yy')"></span>
                </th>
                <th ng-repeat="orderable in visit.tabularResults.getOrderables()">
                    <div ng-class="{'belongsToPanel': test.belongsToPanel}" ng-if="!orderable.concept.set"
                         ng-init="test = orderable">
                        <span>{{test.concept.name}}</span>
                            <span class="range">
                                <span ng-if="test.getMinNormal() && test.getMaxNormal()">
                                    {{' (' + test.getMinNormal() + ' - ' + test.getMaxNormal() + ')'}}
                                </span>
                                <span class="units">{{test.getUnits()}}</span>
                            </span>
                    </div>
                    <div ng-if="orderable.concept.set" class="header"
                         rowspan="{{visit.tabularResults.getDays().length + 1}}">{{orderable.concept.name}}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="day in visit.tabularResults.getDays()" ng-if="visit.atleastOneResultPerDay(day)">
                <td bo-text="'D'+ day.dayNumber + ' (' + displayDate(day.date) + ')'"></td>
                <td ng-init="test = orderable" ng-repeat="orderable in visit.tabularResults.getOrderables()">
                        <span ng-if="!orderable.concept.set" ng-repeat="result in test.results |
                         orderBy:'orderDate':false"
                              class="test-result">
                            <span ng-if="result.isOnOrderDate(day.date)">
                                <span ng-class="{'is-abnormal': result.isAbnormal, 'one-result': test.results.length==1}"
                                      class="ipd-test-results">{{result.value}}</span>
                            </span>
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2 ng-click="visit.toggleLabInvestigation()" class="has-toggle row-click" ng-if="visit.admissionDate">
        <button class="section-toggle">
            <i class="icon-caret-right"
               ng-hide="visit.showLabInvestigations"></i>
            <i class="icon-caret-down"
               ng-show="visit.showLabInvestigations"></i>
        </button>
        Lab Investigations
    </h2>
    <h2 ng-if="!visit.admissionDate">Lab Investigations</h2>

    <div ng-repeat="labOrders in visit.labTestOrderObsMap" ng-show="visit.showLabInvestigations" class="lab-investigation">
        <table>
            <thead>
            <tr ng-click="toggle(labOrders)" ng-class="{'row-click':labOrders.accessionNotes}">
                <th colspan="3">
                    <span>Accession at </span>
                    <span bo-text="labOrders.encounterDateTime | date:'dd MMM yy hh:mm a'"></span>
                    <button class="toggle-btn fr" ng-if="labOrders.accessionNotes">
                        <i class="icon-envelope" ng-hide="labOrders.show"></i>
                        <i class="icon-envelope-alt" ng-show="labOrders.show"></i>
                        Notes
                    </button>
                </th>
            </tr>
            <tr ng-show="labOrders.show">
                <th colspan="3" class="notes inline-notes" ng-if="labOrders.accessionNotes">
                    <div ng-repeat="accessionNote in labOrders.accessionNotes" class="accession">
                        <pre class="left">{{accessionNote.text}}</pre>
                        <div class="footer-note fr">
                            <span class="provider" bo-text="accessionNote.providerName"></span>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="line in labOrders.displayList">
            <!-- HACKTAG: Apparently bo-if makes this go into an infinite loop-->
            <tr ng-if="line.isSummary && !print" ng-class="testResultClass(line)">
                <td colspan="3" ng-hide="!line.name">
                    {{line.name}}
                </td>
            </tr>
            <tr ng-if="!line.isSummary"
                ng-class="{'is-abnormal': line.isAbnormal, 'referred-out': line.referredOut}" ng-click="toggle(line)" class="row-click">
                <td>
                    <span>{{line.concept.name}}</span>                    
                    <span class="range">
                      <span ng-if="line.minNormal && line.maxNormal">
                        {{' (' + line.minNormal + ' - ' + line.maxNormal + ') '}}
                      </span>
                      <span class="units">{{line.units}}</span>
                    </span>
                </td>
                <td class="value has-toggle-btn">
                    {{line.value}}
                    <span class="referred">Referred Out</span>
                </td>
                <td class="toggle-btn">
                    <button class="toggle fr">
                        <i class="icon-plus-sign" ng-hide="line.show" ng-class="{'has-notes': !isEmpty(line.notes)}"></i>
                        <i class="icon-minus-sign" ng-show="line.show" ng-class="{'has-notes': !isEmpty(line.notes)}"></i>
                    </button>
                </td>
            </tr>
            <tr ng-if="!print && !line.isSummary && line.show">
                <td colspan="3" class="notes inline-notes">
                    <strong class="left">Lab Tech Notes: </strong>
                    <pre class="left">{{line.notes}}</pre>

                    <div class="footer-note right">
                        <span class="provider" bo-text="line.providerName"></span>
                    </div>

                </td>
            </tr>

            <tr ng-if="print && line.notes && line.notes.trim().length > 1 && !line.isSummary">
                <td colspan="3" class="notes inline-notes">
                    <strong class="left">Lab Tech Notes: </strong>
                    <pre class="left">{{line.notes}}</pre>

                    <div class="footer-note right">
                        <span class="provider" bo-text="line.providerName"></span>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="block radiology-investigations" ng-show="visit.radiologyOrders.length">
    <h2>Radiology Investigations</h2>
    <ul>
        <li ng-repeat="radiologyOrder in visit.radiologyOrders" class="radiology-doc-item">
            <a image-observation-gallery="visit.radiologyOrders" current-observation="radiologyOrder.imageObservation" patient="patient" title="Radiology Documents" class="document-link temp-class">{{radiologyOrder.concept.name}}</a>
            <div class="footer-note">
                <span class="time-stamp">
                    <span class="date">{{radiologyOrder.dateTime | date:'dd MMM yy'}}</span>
                    <span class="time">{{radiologyOrder.dateTime | date :'hh:mm a'}}</span>
                </span>
                <span class="provider" bo-text="radiologyOrder.provider.name"></span>
            </div>
        </li>
    </ul>
</section>
<section class="block otherTestOrders" ng-show="visit.hasOtherInvestigations()">
    <h2>Other Investigations</h2>
    <ul>
        <div ng-repeat="otherInvestigationGroup in visit.otherInvestigationGroups">
            <li ng-repeat="investigation in otherInvestigationGroup.orders">
                <span bo-text="investigation.concept.name" class="temp-class"></span>

                <div class="footer-note">
                  <span class="time-stamp">
                    <span class="date">{{otherInvestigationGroup.date | date:'dd MMM yy'}}</span>
                    <span class="time">{{otherInvestigationGroup.date | date :'hh:mm a'}}</span>
                  </span>
                    <span class="provider" bo-text="investigation.provider.name"></span>
                </div>
            </li>
        </div>
    </ul>
</section>

<section class="block ipd-treatment-section" ng-if="visit.hasIPDDrugOrdes() && !print">
    <h2>Treatment Chart</h2>
    <table>
        <thead>
        <tr>
            <th>
                <span bo-text="(visit.ipdDrugSchedule.fromDate | date:'dd MMM yy') + ' - '+ (visit.ipdDrugSchedule.toDate | date:'dd MMM yy')"></span>
            </th>
            <th ng-repeat="drug in visit.ipdDrugSchedule.drugs" bo-text="drug.name" class="drug"
                ng-class="{active: drug.isActive()}"></th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="day in visit.ipdDrugSchedule.days" ng-if="visit.atleastOneDrugForDay(day)">
            <td bo-text="'D'+ day.dayNumber + ' (' + displayDate(day.date) + ')'"></td>
            <td ng-repeat="drug in visit.ipdDrugSchedule.drugs">
                <span class="icon-ok" bo-if="drug.isActiveOnDate(day.date)"/>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<section class="block treatment-section" ng-show="visit.hasDrugOrders()">
    <h2 ng-click="visit.toggleTreatmentSection()" class="has-toggle" ng-if="visit.admissionDate">
        <button class="section-toggle">
            <i class="icon-caret-right"
               ng-hide="visit.showTreatmentSection"></i>
            <i class="icon-caret-down"
               ng-show="visit.showTreatmentSection"></i>
        </button>
        Treatment
    </h2>
    <h2 ng-if="!visit.admissionDate">
        Treatment
    </h2>
    <table ng-repeat="drugOrderGroup in visit.drugOrderGroups" ng-show="visit.showTreatmentSection">
 	 <thead>
            <tr>
                <th class="drugorder-date" colspan="4"><strong><span class="table-head-title">{{(drugOrderGroup.date | date:'dd MMM yy')}}</span></strong></th>
            </tr>
            <tr class="title">
                <th><span class="table-head-title">Drug Name</span></th>
                <th><span class="table-head-title">Dosage per Day</span></th>
                <th colspan="2"><span class="table-head-title">Duration</span></th>
            </tr>
        </thead>
        <tbody ng-repeat="drugOrder in drugOrderGroup.orders">
        <tr ng-click="toggle(drugOrder)" class="row-click">
            <td class="drug-name" bo-text="drugOrder.drugName"></td>
            <td class="dosage-form">
                <span bo-show="drugOrder.dosingInstructions" bo-text="drugOrder.dosingInstructions|formatDecimalValues"></span>
                <span bo-show="!drugOrder.dosingInstructions" bo-text="' - '"></span>
            </td>
            <td class="dosage-days has-toggle-btn">
                <div class="dosage">
                    <span><span class="copy">From </span>{{(drugOrder.startDate | date:'d MMM yy')}}<span
                            class="copy"> for </span>{{visit.numberOfDosageDaysForDrugOrder(drugOrder)}} day(s)</span>
                    <span bo-show="drugOrder.prn" class="prn">Take as required</span>
                </div>

            </td>
            <td class="toggle-btn">
                <button class="toggle fr">
                    <i class="icon-plus-sign"  ng-hide="drugOrder.show"></i>
                    <i class="icon-minus-sign" ng-show="drugOrder.show"></i>
                </button>
            </td>
        </tr>
        <tr ng-if="!print && drugOrder.show">
            <td colspan="4" class="inline-notes notes">
                <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.notes}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.startDate | date:'dd MMM yy'}}</span>
                      <span class="time">{{drugOrder.startDate | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>
        <tr ng-if="print && drugOrder.notes && drugOrder.notes.length > 0 ">
            <td colspan="4" class="inline-notes notes">
                <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.notes}}</p>

                <div class="footer-note right">
                    <span class="time-stamp">
                      <span class="date">{{drugOrder.startDate | date:'dd MMM yy'}}</span>
                      <span class="time">{{drugOrder.startDate | date :'hh:mm a'}}</span>
                    </span>
                    <span class="provider" bo-text="drugOrder.provider.name"></span>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</section>

<section class="block disposition-section" ng-show="visit.hasDisposition()">
    <h2>Disposition</h2>
    <ul class="block-content">
        <li ng-repeat="disposition in visit.dispositions">
            <div class="expander-row row-click" ng-click="toggle(disposition)">
                <span class="disposition-state">{{disposition.conceptName}} <span>on</span> {{disposition.dispositionDateTime | date:'dd MMM yy hh:mm a'}} <span>by</span> {{disposition.provider.name}}</span>
                <button ng-repeat="note in disposition.additionalObs" class="toggle fr" ng-class="{'has-notes': note.value}">
                    <i class="icon-plus-sign" ng-hide="disposition.show"></i>
                    <i class="icon-minus-sign" ng-show="disposition.show"></i>
                </button>

            </div>
            <div>
                <div ng-repeat="note in disposition.additionalObs">
                    <div ng-show="disposition.show" class="inline-notes notes" ng-class="{'print-notes': note.value}">
                        <p class="left">
                            <strong>Disposition Notes: </strong>{{note.value}}
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="block consult-notes notes" ng-show="visit.hasConsultationNotes()">
    <ul>
        <div ng-repeat="notes in visit.consultationNoteGroups">
            <li ng-repeat="note in notes.obs" class="consult-notes-item">
                <span class="consult-notes-text"><strong>Consultation Notes: </strong><pre>{{note.value}}</pre></span>

                <div class="footer-note">
                  <span class="time-stamp">
                    <span class="date">{{note.observationDateTime | date:'dd MMM yy'}}</span>
                    <span class="time">{{note.observationDateTime | date :'hh:mm a'}}</span>
                  </span>
                    <span class="provider" bo-text="note.provider.name"></span>
                </div>
            </li>
        </div>
    </ul>
</section>
