<section class="orders-section-left" xmlns="http://www.w3.org/1999/html">
        <div class="order-section-container">
            <!-- <span class="order-title">{{tab.topLevelConcept}}</span> -->
            <div class="multi-select-lab-tests">
                <ul>
                    <li ng-repeat="sample in getOrderTemplate(activeTab.name).setMembers">
                        <a ng-click="showLeftCategoryTests(sample)" ng-class='sample.klass'>
                            {{getName(sample)}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block consultation-notes">
                    <h2 class="section-title">{{ 'SELECTED_ORDERS_LABEL'|translate }}</h2>
                    <div id="selected-orders" class="selected-orders">
                        <p class="null-data-message" ng-hide="selectedOrders.length">{{ 'SELECTED_ORDERS_EMPTY_MESSAGE'|translate }}</p>
                        <ul class="selected-items">
                            <li ng-repeat="order in selectedOrders" >
                                <div class="grid-row-element">
                                    <div ng-class="{'voided': order.isDiscontinued}">
                                        {{::order.concept.displayName || order.concept.shortName || order.concept.name}}
                                    </div>
                                    <button class="toggle-buttons urgent-button" ng-class="{active: order.isUrgent}" toggle="order.isUrgent" ng-if="isUrgent()"  title="Urgent" ng-disabled="order.uuid">
                                        <i class="fa fa-exclamation-triangle fa-grey show-before-active"></i>
                                        <i class="fa fa-exclamation-triangle fa-orange show-after-active"></i>
                                    </button>
                                    <span>
                                        <i ng-class="{'has-notes': order.commentToFulfiller }" class="fa fa-file-text-o" ng-click="openNotesPopup(order)"></i>
                                    </span>
                                    <span>
                                        <i ng-class="{'fa fa-remove': !order.isDiscontinued, 'fa fa-undo': order.isDiscontinued && !isOrderNotEditable(order) }" ng-click="handleOrderClick(order)"></i>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
</section>

<section class="orders-section-right">     
     <section class="order-section-container" ng-repeat="group in tab.leftCategory.groups" ng-if="tab.leftCategory">
        <order-selector></order-selector>
    </section>
</section>
