<div>
    <table>
        <tr>
            <td>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="instruction()">Instruction</div>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="diagnosis()">Diagnosis</div>
            </td>
            <td>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px">Patient Information</div>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="treatment()">Treatment Advice</div>
            </td>
        </tr>
    </table>
</div>