<div>
    <table>
        <tr>
            <td>
                <div style="height: 200px; width: 200px; border: black solid 2px; padding: 5px" ng-click="blank()">History And Symptoms</div>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="blank()">Instruction</div>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="blank()">Diagnosis</div>
            </td>
            <td>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="blank()">Patient Information</div>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="blank()">Examination</div>
                <div style="height: 200px; width: 200px;border: black solid 2px; padding: 5px" ng-click="blank()">Treatment Advice</div>
            </td>
        </tr>
    </table>
</div>