<section class="reg-search-wrapper">
    <section class="reg-search">
        <article class="search-seperator-l">
            <h1>Search Patient</h1>
            <form name="searchByIdForm" ng-submit="searchById()">


                <label for="patientIdentifier"><strong>Patient ID or Name</strong></label>

                <div class="search-patient-id left">
                    <input type="text" id="patientIdentifier" ng-model="patientIdentifier" autofocus
                           placeholder="Enter ID or Name">
                </div>

                <div class="reg-srch-btn left">
                    <button type="submit" ng-disabled="!patientIdentifier" >
                        <i class="icon-search"></i>
                        Search
                    </button>
                </div>
            </form>
        </article>
    </section>

    <div class="note-container" ng-show="noResultsMessage">
        <div class="note warning">
            <div class="text">
                <p>{{noResultsMessage}}</p>
            </div>
        </div>
    </div>

    <div ng-show="resultsPresent()">
        <h2>Results for "{{patientIdentifier}}"</h2>
        <div class="patients">
            <ul>
                <li ng-repeat="result in results" ng-click="gotoDocumentUpload(result.uuid)">
                    <i class="icon-user"></i>
                    <div>
                        <h3>
                            <span class="id">{{result.identifier}}</span>
                            <span class="name">{{result.givenName}} {{result.familyName}}, </span>
                        </h3>
                        <span class="gender">{{result.gender}}</span>
                        <span class="age">{{result.age}}</span>
                        <span class="village">{{result.cityVillage}}</span>
                    </div>
                    <span class="registration">Registered: {{result.dateCreated | date:'dd-MM-yyyy'}}</span>
                    <div class="edit-col">
                        <div split-button options="searchActions"
                             primary-option="searchActions[0]"
                             option-text="extensionActionText" option-click="forPatient(result).doExtensionAction">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--<div id="loader"></div>-->
    <div class="note-container" ng-show="noResultsPresent">
        <div class="note warning">
            <div class="text">
                <p>No patients found with given Id</p>
            </div>
        </div>
    </div>
</section>
<iframe style="display: none" id="printPatientFrame" src="#/patient/someUUID/print"></iframe>
