<li ng-class="::{'is-text': observation.type == 'Text', 'has-child' : observation.groupMembers.length > 0 ,'video-concept':observation.isVideoConcept(), 'image-preview': observation.isImageConcept()}" >
    <div ng-class="::{'is-abnormal': (observation.abnormal ==  true || observation.interpretation === 'ABNORMAL')}" class="tree-list-item clearfix" bm-gallery patient="patient">
        <span ng-hide="observation.isImageConcept()" ng-if="::(!observation.isImageConcept() || (observation.isImageConcept() && !print))" class="testUnderPanel left">
            <label>{{::(observation.concept.shortName || observation.concept.name)}}</label>
            <hint concept-details="::{
            lowNormal:observation.lowNormal||observation.concept.lowNormal,
            hiNormal:observation.hiNormal||observation.concept.hiNormal,
            }"/>
            <a href="{{'/document_images/' + observation.value}}" download ng-if="observation.isVideoConcept()" class="button btn fr btn-download"><i class="fa fa-download" aria-hidden="true"></i></a>
        </span>
        <span ng-class="::{
                       'text-only': (observation.concept.dataType ==='Text' && print),
                       'value-text-only': !(observation.concept.dataType ==='Text' && print)
                       }"
              ng-if="::(observation.isFormElement() && !observation.isImageConcept() && !observation.isVideoConcept())">
            <span>{{::observation.getDisplayValue() | titleTranslate}} </span>
            <span class="label-add-on">{{::observation.concept.units}}</span>
        </span>
        <a  ng-if="::(observation.isImageConcept() && !observation.hasPDFAsValue() && !print)" class="img-concept">
            <img bm-observation-gallery-item observation="::observation" ng-src="{{::observation.value|thumbnail}}" alt="{{::observation.concept.name}}" />
        </a>
        <a  ng-if="::(observation.isImageConcept() && observation.hasPDFAsValue() && !print)" ng-href="/document_images/{{observation.value}}" target="_blank" class="pdf-link">
            <img src="../images/pdfIcon.png" alt="pdf" />
        </a>
        <div ng-if="::(observation.isVideoConcept())" class="hidden-print obs-video-thumb-container">
            <img src="{{::observation.value|thumbnail:'jpg'}}">
            <button class="obs-play-btn" ng-click="openVideoInPopup(observation)"><i class="fa fa-play-circle" aria-hidden="true"></i>
            </button>
        </div>
        <button ng-hide="observation.isImageConcept()" class="toggle fr" ng-if="observation.isFormElement() && showDetailsButton && !observation.comment" ng-class="{'has-notes': observation.comment}"
                toggle="observation.showDetails">
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
        </button>
    </div>
    <div ng-if="::observation.comment || observation.isImageConcept() " class="notes inline-comments" ng-class="::{'print-notes': observation.comment, 'image-notes': observation.isImageConcept()}">
        <i class="fa fa-comments left"></i>
        <pre ng-if="::observation.comment" class="left">{{::observation.comment}}</pre>
        <div class="footer-note fr">
                <span class="provider">
                    <provider-directive creator-name="{{::observation.creatorName}}" provider-name="{{::observation.providers[0].name}}"></provider-directive>
                    <span ng-if="::observation.isFormElement()">{{::dateString(observation)}} </span>
                </span>
        </div>
    </div>
    <div ng-if="observation.showDetails" class="notes inline-notes" ng-class="::{'print-notes': observation.showDetails}">
        <div class="footer-note fr">
            <span class="provider">
                <provider-directive creator-name="{{::observation.creatorName}}" provider-name="{{::observation.providers[0].name}}"></provider-directive>
                <span ng-if="::observation.isFormElement()">{{::dateString(observation)}}</span>
            </span>

        </div>
    </div>
    <div>
        <ul ng-if="::(!observation.isFormElement() && !print)" class="hidden-print">
            <show-observation  show-details-button="::showDetailsButton" ng-if="::!observation.isFormElement()" ng-repeat="member in observation.groupMembers"
                              observation="::member" patient="::patient" show-date="::showDate" show-time="::showTime" ng-class="{'video-concept-show': member.isVideoConcept()}"></show-observation>
        </ul>
    </div>
    <ul ng-if="::(!observation.isFormElement() && print)" class="visible-print">
                <show-observation show-details-button="showDetailsButton" ng-if="::!observation.isFormElement()" ng-repeat="member in observation.groupMembers"
                                   observation="::member" patient="::patient" show-date="::showDate" show-time="::showTime"></show-observation>
    </ul>
</li>
