<li ng-class="{'is-text': observation.type == 'Text', 'has-child' : observation.groupMembers.length > 0}">
    <div ng-class="{'is-abnormal': observation.abnormal || observation.unknown}" class="tree-list-item" bm-gallery patient="patient">
        <span ng-if="!observation.isImageConcept() || (observation.isImageConcept() && !print)" class="testUnderPanel">
            <label>{{::observation.concept.shortName || observation.concept.name}}</label>
            <hint concept-details="{
            lowNormal:observation.lowNormal||observation.concept.lowNormal,
            hiNormal:observation.hiNormal||observation.concept.hiNormal,
            }"/>
        </span>
        <span ng-class="{
                       'text-only': (observation.concept.dataType ==='Text' && print),
                       'value-text-only': !(observation.concept.dataType ==='Text' && print)
                       }"
             ng-if="observation.isFormElement() && !observation.isImageConcept()">
            {{::observation.getDisplayValue()}}
            <span class="label-add-on">{{::observation.concept.units}}</span>
        </span>
        <a  ng-if="observation.isImageConcept() && !observation.hasPDFAsValue() && !print" class="img-concept">
            <img bm-observation-gallery-item observation="observation" ng-src="{{observation.value|thumbnail}}" width="40" height="40" alt="{{observation.concept.name}}" />
        </a>
        <a  ng-if="observation.isImageConcept() && observation.hasPDFAsValue() && !print" ng-href="/document_images/{{observation.value}}" class="pdf-link" target="_blank">
            <i class="fa fa-file-pdf-o"></i>
        </a>
        <!--<button class="toggle fr" ng-if="observation.isFormElement() && showDetailsButton && !observation.comment" ng-class="{'has-notes': observation.comment}"-->
                <!--ng-click="toggle(observation)">-->
            <!--<i class="fa fa-angle-down" ng-hide="observation.showDetails"></i>-->
            <!--<i class="fa fa-angle-up" ng-show="observation.showDetails"></i>-->
        <!--</button>-->


        <div ng-if="observation.comment" class="notes inline-comments" ng-class="{'print-notes': observation.comment}">
            <i class="fa fa-comments left"></i>
            <pre class="left">{{::observation.comment}}</pre>
            <div class="footer-note fr">
                <span class="provider">
                    <provider-directive creator-name="{{::observation.creatorName}}" provider-name="{{::observation.providers[0].name}}"></provider-directive>
                    <span ng-if="observation.isFormElement()">{{dateString(observation)}} </span>
                </span>
            </div>
        </div>
    </div>
    <div ng-if="observation.showDetails" class="notes inline-notes" ng-class="{'print-notes': observation.showDetails}">
        <div class="footer-note fr">
            <span class="provider">
                <provider-directive creator-name="{{::observation.creatorName}}" provider-name="{{::observation.providers[0].name}}"></provider-directive>
                <span ng-if="observation.isFormElement()">{{dateString(observation)}}</span>
            </span>

        </div>
    </div>
    <ul ng-if="!observation.isFormElement()" class="hidden-print">
        <show-observation  show-details-button="showDetailsButton" ng-if="!observation.isFormElement()" ng-repeat="member in observation.groupMembers" patient="patient"
                          observation="member" patient="patient" show-date="showDate" show-time="showTime"></show-observation>
    </ul>
    <ul ng-if="!observation.isFormElement()" class="visible-print">
        <li ng-repeat="member in observation.groupMembers">
            <ul>
                <show-observation  show-details-button="showDetailsButton" ng-if="!observation.isFormElement()" patient="patient"
                                   observation="member" patient="patient" show-date="showDate" show-time="showTime"></show-observation>
            </ul>
        </li>
    </ul>
</li>
