<div class="trends">
  <div ng-hide="hasConcepts" class="center info-message">
    <p>There are NO concepts with two or more observations</p>
  </div>

  <div class="trends-concepts">
    <h2 ng-show="hasConcepts">List of concepts:</h2>
    <ul>
      <li ng-repeat="(conceptKey, conceptValue) in concepts">
        <button ng-click="addObservations(conceptKey)" ng-class="{'graph-visible': conceptValue.displayed}">{{conceptValue.name}}</button>
        <button class="close-btn" ng-click="removeObservations(conceptKey)" ng-show="conceptValue.displayed">X</button>
      </li>
    </ul>
  </div>

  <div class="trends-graph">
    <h2 ng-show="atleastOneForDisplay()">Trends:</h2>
    <div class="graph" ng-repeat="(conceptKey, details) in visibleObservations">
     <button class="close-btn" ng-click="removeObservations(conceptKey)">X</button> 
      <div>
        <nvd3-line-chart
            data="details"
            height="400"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            margin="{left:30,top:50,bottom:55,right:10}"
            interactive="true"
            showLegend="true"
            xAxisTickFormat="xAxisTickFormatAsDate()"
            xaxislabel="date"
            yaxislabel="{{getUnitsFromDetails(details)}}"
            xAxisRotateLabels="25">
            <svg></svg>
        </nvd3-line-chart>
      </div>

    </div>
  </div>
</div>