<form name="surgicalAppointmentForm" ng-submit="add()">
    <h4 class="ot-actual-time-person-display"> {{'OT_SURGICAL_APPOINTMENT_ADD_ACTUAL_TIME_FOR' | translate}} {{patientDisplayLabel}}</h4>
    {{actualStartTime | bahmniDateTime}}
    {{actualEndTime | bahmniDateTime}}
    <p>Start Time</p>
    <input required type="time" ng-model="actualStartTime"/>
    <p>End Time</p>
    <input required type="time" ng-model="actualEndTime"/>

    <p>
        <label class="surgeon-block surgeon-text">{{'OT_SURGICAL_APPOINTMENT_NOTES' | translate}}</label>
        <textarea  class="form-horizontal textarea" placeholder="Notes" id="notesID" ng-model="notes" msd-elastic></textarea>
    </p>
    <p>
    <input type="submit" value="Add"/>
    <input type="button" value="Cancel" ng-click="close()"/>
    </p>
</form>