<div ng-style="{top : blockDimensions.top + 'px', background : blockDimensions.color, height: blockDimensions.height + 'px'}"
     class="calendar-cell surgical-block"
     ng-click="selectSurgicalBlock($event)"
     ng-blur="deselectSurgicalBlock($event)"
     tabindex="1">

<div ng-repeat="surgicalAppointment in surgicalBlock.surgicalAppointments | orderBy: 'sortWeight'">
    <ot-calendar-surgical-appointment surgical-appointment="surgicalAppointment"
                                      background-color="blockDimensions.color"
                                      height-per-min="blockDimensions.appointmentHeightPerMin"></ot-calendar-surgical-appointment>

</div>

<div class="surgicalBlock-surgenName">
    {{'SURGEON' | translate }} {{surgicalBlock.provider.person.display}}
</div>
</div>