<div ng-style="{top : blockDimensions.top + 'px', left: blockDimensions.left + '%',  background : blockDimensions.color.backgroundColor, borderColor : blockDimensions.color.borderColor, height: blockDimensions.height + 'px', width: blockDimensions.width + '%'}"
     class=" calendar-cell surgical-block"
     ng-class="{'exceed': surgicalBlockExceedsCalendar()}"
     ng-click="selectSurgicalBlock($event)"
     tabindex="1"
     title="{{'OT_SURGICAL_BLOCK_DIALOG_SURGEON' | translate}}: {{surgicalBlock.provider.person.display}} <br/> {{'OT_SURGICAL_BLOCK_DIALOG_LOCATION' | translate}}: {{surgicalBlock.location.name}}">

    <div ng-repeat="surgicalAppointment in surgicalBlock.surgicalAppointments | orderBy: 'sortWeight'">
        <ot-calendar-surgical-appointment surgical-appointment="surgicalAppointment"
                                          week-or-day="weekOrDay"
                                          operation-theatre="operationTheatre"
                                          background-color="blockDimensions.color"
                                          ng-if="canShowInCalendarView(surgicalAppointment)"
                                          height-per-min="blockDimensions.appointmentHeightPerMin"
                                          filter-params="filterParams"></ot-calendar-surgical-appointment>

    </div>

    <div class="surgicalblock-surgeon-name" ng-if="weekOrDay === 'day'">
        {{'SURGEON' | translate }} - {{surgicalBlock.provider.person.display}}
    </div>

    <div class="surgicalblock-surgeon-name" ng-if="weekOrDay === 'week'">
        {{surgicalBlock.provider.person.display}}
    </div>
</div>
