<div class="opd-header-wrapper">
    <div class="opd-header-top">
        <header>
            <back-links-cache-buster></back-links-cache-buster>
        </header>
    </div>
</div>
<div class="patient-info-fixed-postion-container ot-secondary-header">
    <button class="back-btn dashboard-link ot-surgical-button" ng-click="goToNewSurgicalAppointment()"
            ng-if="$root.isHome">{{'NEW_SURGICAL_APPOINTMENT' | translate}}
    </button>
    <p ng-if="!$root.isHome" class="navigation-links-buttons">
        <span class="add-new-appointment">{{'ADD_NEW_APPOINTMENT' | translate}}</span>
        <button class="ot-nav-back">{{'CANCEL' | translate}}</button>
        <button class="ot-nav-save" ng-click="save()">{{'SAVE' | translate}}</button>
    </p>
</div>