<div class="patient-info-fixed-postion-container ot-secondary-header">
    <button class="back-btn dashboard-link ot-surgical-button" ng-click="goToNewSurgicalAppointment()">{{'NEW_SURGICAL_APPOINTMENT' | translate}}</button>
</div>
<div class="ot-top-button-wrapper">
    <p class="calendar-day-navigation">
        <button ng-click="goToPreviousDate(viewDate)" ><i class="fa fa-angle-left"></i></button>
        <button ng-click="goToCurrentDate()" >Today</button>
        <button type="button" ng-click="goToNextDate(viewDate)"><i class="fa fa-angle-right"></i></button>
    </p>
    <p class="calender-current-day">
        {{viewDate | date : 'dd MMM yyyy, EEE'}}
    </p>
    <p class="view-switch">
        <button class="active">Calendar</button>
        <button>List View</button>
    </p>
</div>

<div class="calander-container">
    <ot-calendar
            view-date="viewDate"
            day-view-start="calendarConfig.dayViewStart"
            day-view-end="calendarConfig.dayViewEnd"
            day-view-split="calendarConfig.dayViewSplit">
    </ot-calendar>
</div>