<div class="patient-info-fixed-postion-container ot-secondary-header">
    <button class="back-btn dashboard-link ot-surgical-button" ng-click="goToNewSurgicalAppointment()">{{'NEW_SURGICAL_BLOCK' | translate}}</button>
</div>
<div class="ot-filter-section">
    <div class="ot-filter-items location-block">
        <h4>{{'OT_OPERATION_THEATRE_LABEL' | translate}}</h4>
        <p ng-repeat="location in locations track by location.uuid">
            <span>{{ location.display }}</span>
            <label class="location-buttons" for="{{location.display}}">
                <input type="checkbox" id="{{location.display}}" name="location" ng-model="filters.locations[location.name]" required/>
            </label>
        </p>
    </div>
    <div class="ot-filter-items surgeon-block">
        <h4>{{'SURGEON' | translate}}</h4>
        <multi-select-autocomplete
                input-items="surgeonList"
                selected-values="filters.providers"
                display-property="'name'"
                key-property="'uuid'"
                placeholder="'Enter Surgeon Name'"
                load-on-down-arrow="false"
                auto-complete-min-length="1"></multi-select-autocomplete>
    </div>
    <div class="ot-filter-items patient-block">
        <h4>{{'OT_PATIENT' | translate}}</h4>
        <p>
            <input type="text" id="patient-ot-filter" min-length=2 bahmni-autocomplete ng-model="patient"
                   source="search"
                   response-map="responseMap" on-select="onSelectPatient" ng-change="clearThePatientFilter()"
                   strict-select="true"
                   ng-class="{'illegalValue': isInvalid}" placeholder="{{'OT_ENTER_PATIENT_KEY' | translate }}"/>
            <i class="fa fa-search" aria-hidden="true"></i>
        </p>
    </div>
    <div class="ot-filter-items status-block">
        <h4>{{'OT_APPOINTMENT_STATUS' | translate}}</h4>
        <multi-select-autocomplete
                input-items="appointmentStatusList"
                selected-values="filters.statusList"
                display-property="'name'"
                key-property="'name'"
                placeholder="'Enter Appointment Status'"
                load-on-down-arrow="false"
                auto-complete-min-length="1"></multi-select-autocomplete>
    </div>
    <div class="surgical-action-wrapper">
        <button ng-click="applyFilters()">{{'OT_APPLY_FILTERS' | translate}}</button>
        <button ng-click="clearFilters()">{{'OT_CLEAR_FILTERS' | translate}}</button>
    </div>
</div>

<div class="ot-top-button-wrapper">
    <p class="calendar-day-navigation">
        <button ng-click="goToPreviousDate(viewDate)"><i class="fa fa-angle-left"></i></button>
        <button ng-click="goToCurrentDate()">Today</button>
        <button type="button" ng-click="goToNextDate(viewDate)"><i class="fa fa-angle-right"></i></button>
    </p>
    <p class="calendar-current-day">
        {{viewDate | date : 'dd MMM yyyy, EEE'}}
    </p>
    <p class="view-switch">
        <button class="active">Calendar</button>
        <button>List View</button>
    </p>
</div>

<div class="calendar-container">
    <ot-calendar
            view-date="viewDate"
            day-view-start="calendarConfig.dayViewStart"
            day-view-end="calendarConfig.dayViewEnd"
            day-view-split="calendarConfig.dayViewSplit"
            filter-params="filterParams">
    </ot-calendar>
</div>
