<div>
    <input type="date" ng-model="dateForMovingSurgery" ng-change="changeInSurgeryDate()"/>
    <br>
    <select ng-options="surgeonDetails.displayName for surgeonDetails in availableSurgicalBlocksForGivenDate" required ng-model="destinationBlock">
        <option value=""> Select Surgeon </option>
    </select>
    <br>
    <button ng-click="moveSurgicalAppointment()" ng-disabled="!dateForMovingSurgery || !destinationBlock"> Move</button>
    <button ng-mousedown="cancel()">Cancel</button>
</div>