<div on-Scroll class="calendar">
    <!-- Please dont remove or alter the below class name -->
    <div class="provider-location-name" on-horizontal-scroll="ot-block-wrapper">
        <p class="heading-cell" ng-repeat="location in locations">
            {{location.name}}
        </p>
    </div>
    <div class="table-block">
        <!-- Please dont remove or alter the below class name -->
        <div class="calendar-time-container" style="top: 110px">
            <div ng-repeat="row in ::rows" class="calendar-time">
                {{::row.date | bahmniTime}}
            </div>
        </div>
        <div class="ot-block-container">
            <div class="ot-block-wrapper" on-horizontal-scroll="provider-location-name" style="top: 110px">
            <div class="ot-block" ng-repeat="(blockIndex, blocks) in surgicalBlocksByLocation">
                <div ng-repeat="row in ::rows" class="calendar-cell">
                </div>
                <div ng-repeat="block in blocks | surgicalBlock:filterParams">
                    <ot-calendar-surgical-block
                            surgical-block="block" ng-if="!block.voided"
                            day-view-start="::dayViewStart"
                            day-view-end="::dayViewEnd"
                            day-view-split="::dayViewSplit"
                            filter-params="filterParams"
                            week-or-day="::weekOrDay"
                            view-date="::viewDate"
                    ></ot-calendar-surgical-block>
                </div>
                <hr class="current-day-line"
                    ng-if="shouldDisplayCurrentTimeLine()"
                    ng-style = "{top : currentTimeLineHeight + 'px'}">
            </div>

            </div>

        </div>
    </div>
</div>

