<div class="ngdialog-close clearfix"></div>
<div class="ot-surgical-block-dialog">
    <h4>{{ 'OT_SURGICAL_BLOCK_MULTIPLE_DAYS_DIALOG_TITLE' | translate }}</h4>
    <p>{{'OT_SURGICAL_BLOCK_ACROSS_MULTIPLE_DAYS_CONFIRMATION_MESSAGE' | translate}}</p>
    <div class="center">
        <button ng-click="saveAnyways(surgicalForm)">
            {{ 'OT_SAVE_ANYWAY_KEY' | translate }}
        </button>
        <button ng-click="closeDialog()">
            {{ 'OT_CANCEL_KEY' | translate }}
        </button>
    </div>
</div>
