<form name="createSurgicalBlockForm">
<div class="patient-info-fixed-postion-container ot-secondary-header">
    <p class="navigation-links-buttons">
        <span class="add-new-appointment">{{'ADD_NEW_SURGICAL_BLOCK' | translate}}</span>
        <input type="button" value="{{'DISCARD' | translate}}" class="ot-nav-back" ng-confirm-click="goToHome()"/>
        <input type="submit" value="{{'SAVE' | translate}}" ng-click="save(surgicalForm)" class="ot-nav-save"/>
    </p>
</div>
<div class="new-surgical-appointment" >
    <section class="new-surgical-appointment-step1">
        <div class="create-surgical-form">
            <h4 class="create-surgical-title">{{'CREATE_SURGICAL_BLOCK' | translate}}</h4>
            <div class="appointment-block">
                <p class="surgeon-block">
                    <label class="surgeon-block surgeon-text">{{'SURGEON' | translate}}<sup>*</sup></label>
                    <select ng-options="surgeon as surgeon.person.display for surgeon in ::surgeons"
                            ng-model="surgicalForm.provider"
                            required>
                    </select>
                </p>
                <p class="location-block">
                    <label>Location<sup>*</sup></label>
                    <span ng-repeat="location in locations">
                        <label class="location-buttons" for="{{location.display}}">
                            <i ng-if="location === surgicalForm.location" class="fa fa-check" aria-hidden="true"></i>
                            {{ location.display }}
                            <input type="radio" id="{{location.display}}" name="location" ng-value="location"
                                   ng-model="surgicalForm.location" required/>
                        </label>
                    </span>
                </p>
                <p>
                    <span class="start-time">
                        <label>Start Date-time<sup>*</sup></label>
                        <input type="datetime-local" ng-model="surgicalForm.startDatetime" required
                               ng-class="{'illegalValue' : !isStartDatetimeBeforeEndDatetime(surgicalForm.startDatetime, surgicalForm.endDatetime)}">
                    </span>
                    <span class="start-time">
                        <label>End Date-time<sup>*</sup></label>
                        <input type="datetime-local" ng-model="surgicalForm.endDatetime" ng-class="{'illegalValue' : !isStartDatetimeBeforeEndDatetime(surgicalForm.startDatetime,
                         surgicalForm.endDatetime)}" required>
                    </span>
                </p>
            </div>
        </div>
    </section>

    <section class="new-surgical-appointment-step2">
                <h4 class="create-surgical-title">{{'ADD_SURGERY_STEP' | translate}}
                    <button ng-disabled="!isFormValid()" ng-click="addNewSurgicalAppointment()">
                        {{'OT_ADD_SURGERY_KEY' | translate}}
                    </button>
                </h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{'SURGERY_DETAILS' | translate}}</th>
                        <th>{{'ACTION' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="surgicalAppointment in surgicalForm.surgicalAppointments">
                        <td>
                            <h4>{{surgicalAppointment.patient.value}}</h4>
                            <ul>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_PROCEDURE' | translate}}</b> - {{surgicalAppointment.surgicalAppointmentAttributes.procedure.value}},</li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_ESTIMATED_TIME' | translate}}</b> - {{surgicalAppointment.surgicalAppointmentAttributes.estTimeHours.value}} {{'OT_SURGICAL_APPOINTMENT_HOURS' | translate}} : {{surgicalAppointment.surgicalAppointmentAttributes.estTimeMinutes.value}} {{'OT_SURGICAL_APPOINTMENT_MINUTES' | translate}}</li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_CLEANING_TIME' | translate}}</b> - {{surgicalAppointment.surgicalAppointmentAttributes.cleaningTime.value}} {{'OT_SURGICAL_APPOINTMENT_MINUTES' | translate}}</li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_OTHER_SURGEON' | translate}}</b> - {{surgicalAppointment.otherSurgeon}}</li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_SURGICAL_ASSISTANT' | translate}}</b> - {{surgicalAppointment.surgicalAppointmentAttributes.surgicalAssistant.value}} </li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_ANAESTHETIST' | translate}}</b> - {{surgicalAppointment.surgicalAppointmentAttributes.anaesthetist.value}} </li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_SCRUB_NURSE' | translate}}</b> - {{surgicalAppointment.surgicalAppointmentAttributes.scrubNurse.value}}</li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_CIRCULATING_NURSE' | translate}}</b> - {{surgicalAppointment.surgicalAppointmentAttributes.circulatingNurse.value}}</li>
                                <li><b>{{'OT_SURGICAL_APPOINTMENT_NOTES' | translate}}</b> - {{surgicalAppointment.notes}}</li>
                            </ul>
                        </td>
                        <td class="appointment-edit">Edit            Cancel</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
        </form>
