<div class="adt">
    <div class="patient-disposition-status fr">
        <div ng-if="isAdmitted()">
            <i class="icon-ok"></i>Admitted
        </div>
        <div ng-if="isDischarged()">
            <i class="icon-ok"></i>Discharged
        </div>
    </div>

    <div>
        <label>
            <span class="fl adt-disposition-action">Patient Movement:</span>
            <select ng-model="dispositionAction"
                    ng-options="d.name.display for d in dispositionActions" class="disposition-action">
                <option value="">Select</option>
            </select>
        </label>
    </div>

    <div>
        <concept-set concept-set-name="'Adt Notes'" observations="adtObservations"></concept-set>
    </div>


    <div class="submit-btn-container" ng-if="dispositionAction">
        <div class="right">
    <span ng-repeat="extn in actions">
        <span ng-switch="extn.extensionParams.action">
            <div ng-switch-when="startVisit" split-button options="visitControl.visitTypes"
                 primary-option="visitControl.defaultVisitType" option-text="visitControl.startButtonText"
                 option-click="startNewVisit" class="right">
            </div>
        <button ng-switch-default="" type="submit" class="right"
                ng-click="call(extn.extensionParams.action)" ng-show="call(extn.extensionParams.showCondition)">
            {{getDisplay(extn.extensionParams.displayFunction, extn.extensionParams.display)}}
        </button>
        </span>
    </span>
        </div>
    </div>
    <dashboard patient="patient" config="dashboardConfig"></dashboard>
</div>

