<div class="adt">
    <div>
        <span ng-show="myForm.service_id.$error.required">Select Action</span>

        <label>
            <span class="fl adt-disposition-action">Patient Movement:</span>
            <select ng-model="dispositionAction"
                    ng-options="d.name.display for d in dispositionActions"
                    ng-change="refreshView()" class="disposition-action">
        </select>
        </label>
    </div>

    <div>
        <concept-set concept-set-name="'Adt Notes'" observations="adtObservations"></concept-set>
    </div>

    
    <div class="submit-btn-container">
        <div class="right">
    <span ng-repeat="extn in actions">
        <span ng-switch="extn.extensionParams.action">
            <div ng-switch-when="startVisit" split-button="" options="visitTypes"
                 option-click="startNewVisit" class="right">
            </div>
        <button ng-switch-default="" type="submit" class="right"
                ng-click="call(extn.extensionParams.action)" ng-show="call(extn.extensionParams.showCondition)">
            {{getDisplay(extn.extensionParams.displayFunction, extn.extensionParams.display)}}
        </button>
        </span>
    </span>
        </div>
    </div>
</div>

