<div class="opd-header-wrapper">
    <div class="opd-header-top">
        <header>
            <bm-back-links></bm-back-links>
            <a class="back-btn-link" id="dashboard-link" ng-href="../clinical/#/patient/{{patient.uuid}}/dashboard"
               title="Back to {{patient.name}} Dashboard">
                <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
              <span class="patient-info">
                <span class="patient-name" >{{patient.name}} </span>
                <span class="patient-id">{{patient.identifier}}</span>
            </span>
            </a>

        </header>
    </div>
</div>
