<adt-patient-search></adt-patient-search>

<!-- The following sections will be moved to appropriate places inside the patient search section if bed management is configured -->
<div ng-if="isBedManagementEnabled">
    <li class="tab-item ward-list-tab"
        ng-click="search.searchType=undefined; search.navigated=false" ng-class="{'tab-selected': (search.searchType === undefined)}">
        <a href>{{ 'WARD_LIST_LABEL'|translate }}</a>
    </li>
    <div ui-view="wards" id="ward-list" ng-show="search.searchType==undefined" class="opd-content-wrapper"></div>
</div>