<div>
    <h3>Ward List</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Total Beds</th>
            <th>Available Beds</th>
            <th>Assign</th>
        </tr>
        <tr ng-repeat="ward in wards">
            <td class="">{{ward.ward.name}}</td>
            <td class="">{{ward.totalBeds}}</td>
            <td class="">{{ward.totalBeds-ward.occupiedBeds}}</td>
            <td class="">
                <button ng-click="showWardLayout(ward.ward.uuid, ward.ward.name)" class="confirm"><span class="icon-th"></span></button>
            </td>
        </tr>
    </table>

</div>
