<div>
    <h3>Ward List</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Total Beds</th>
            <th>Available Beds</th>
            <th>Ward Details</th>
        </tr>
        <tbody ng-repeat="ward in wards">
        <tr>
            <td class="centered">{{ward.ward.name}}</td>
            <td class="centered">{{ward.totalBeds}}</td>
            <td class="centered">{{ward.totalBeds-ward.occupiedBeds}}</td>
            <td class="centered">
                <button ng-if="showDetailsButton(ward)" ng-click="toggle(ward)" class="confirm"><span class="icon-plus-sign"></span></button>
            </td>
        </tr>
        <tr ng-if="ward.showDetails">
           <td><table-details params="getParams(ward)"></table-details></td>
        </tr>
        </tbody>
    </table>

</div>
