<div class="ward-details-container">
    <span ng-if="tableDetails.length == 0" class="no-data-info">
        {{ 'EMPTY_WARD_MESSAGE'|translate }}
    </span>
    <table class="table ward-details-content" ng-if="tableDetails.length > 0">
        <thead>
            <tr>
                <th ng-repeat="heading in tableHeadings" ng-if="heading != 'hiddenAttributes'" ng-class="{'bed-detail-column' : $index == 0}">{{heading}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in tableDetails">
                <td ng-repeat="heading in tableHeadings" ng-if="heading != 'hiddenAttributes'">
                    <span ng-if="heading != 'Diagnosis' && heading != 'Id'">{{row[heading]}}</span>
                    <a ng-if="heading =='Id'" ng-click="gotoPatientDashboard(row['hiddenAttributes'].patientUuid, row['hiddenAttributes'].visitUuid)">
                        {{row[heading]}}
                    </a>
                    <div ng-if="heading == 'Diagnosis'">
                        <div ng-repeat="diagnosis in row[heading]" ng-class="{'strike-text': diagnosis.ruledOut}">
                            <span>{{diagnosis.Diagnosis}}</span>
                            <span>{{diagnosis["Diagnosis Certainty"]}}</span>
                            <span>{{diagnosis["Diagnosis Order"]}}</span>
                            <span ng-if="diagnosis.diagnosisStatus">{{diagnosis.diagnosisStatus}}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>