<div>
    <div class="bed-info" ng-show="selectedBed.bed.bedNumber">
		<ul>
			<li>{{ 'BED_LABEL'|translate }}: {{selectedBed.bed.bedNumber}}</li>
			<div class="patient-info" ng-repeat="patientInfo in selectedBed.patientInfo">
                <li>{{patientInfo.identifier}}</li>
                <li>{{patientInfo.name}} ({{patientInfo.gender}})</li>
            </div>
			<li ng-show="!readOnly"><a class="assign" ng-show="!getCurrentBed()"
                ng-click="assignBed(selectedBed)">{{ 'ASSIGN_BED_LABEL'|translate }}</a></li>
			<li ng-show="!readOnly"><a class="transfer" ng-show="getCurrentBed() && selectedBed.bed.bedId != getCurrentBed().bedId"
                ng-click="assignBed(selectedBed)">{{ 'TRANSFER_BED_LABEL'|translate }}</a></li>
		</ul>
    </div>
    <div class="bed-assignment" ng-repeat="layout in ward.layouts">
        <h2> {{layout.name}}</h2>
        <ul class="bed-assignment-inner-wrapper">
        <li class="row" ng-repeat="bed in layout.beds">
            <ul>
                <li class="col" ng-click="fetchBedInfo(cell, $parent.$index, $index)"
                    ng-class="{occupied: !cell.empty && !cell.available, available: !cell.empty && cell.available,
                    empty: cell.empty, currentPatient : highlightCurrentPatient(cell) }"
                    ng-repeat="cell in bed" bed-assignment-dialog>
                    <span class="bed-number" ng-show="!cell.empty && cell.bed.bedNumber">{{cell.bed.bedNumber}}</span>
                    <span class="bed-type" ng-show="!cell.empty && cell.bed.bedType">{{cell.bed.bedType}}</span>
                </li>
            </ul>
        </li>
    </ul>
    </div>
</div>
