.switch-wrapper {
  margin-bottom: 10px;
  span {
    display: inline-block;
    vertical-align: super;
    margin: 0 10px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    outline: none;
    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  input {
    visibility: hidden;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #27AE60;
      &:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #27AE60;
    }
  }
}
