.appBtn {
  padding: 8px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  display: inline-block;
  color: #000;
  margin-left: 10px;
  &:hover {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    opacity: 1;
  }
}

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 150px;
}

/*---- page and nav style ----*/

.add-app-wrapper {
  header {
    border-bottom: 1px solid #95989A;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    nav {
      position: absolute;
      bottom: 0;
      left: 0;
      a {
        display: inline-block;
        padding: 10px;
        margin-left: 20px;
        border-radius: 3px 3px 0 0;
        color: #000;
        border: 1px solid transparent;
        border-bottom: none;
        font-size: 12px;
        outline: none;
        font-family: "OpenSansBold";
        &.active {
          color: #27AE60;
          background: #F7F7F7;
          border-color: #95989A;
        }
      }
    }
  }
  .add-app-btn {
    float: right;
    background: #99C915;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 63px;
  }
}

.appointment-btn-container {
  padding: 0 10px 20px;
  a {
    @extend .appBtn;
    &.active {
      background: #E2E2E2;
    }
    i {
      color: #00ACC3;
    }
    &.app-filter-btn {
      padding: 5px 10px;
    }
  }
  .app-filter-btn-wrapper {
    display: inline-block;
    padding-right: 30px;
    margin-right: 15px;
    border-right: 1px solid #95989A;
    a {
      margin: 0;
    }
  }
}

.appointment-content-container {
  overflow: hidden;
  height: calc(100vh - 230px);
}

.appointment-action-btn-container {
  text-align: right;
  padding: 10px;
  a {
    @extend .appBtn;
  }
}

/*----- create new appointment styles -----*/
.create-new-app-wrapper {
  top: 52px;
  position: absolute;
  width: 100%;
  height: calc(100vh - 52px);
  cursor: not-allowed;
  overflow: hidden;
  z-index: 10;
}

.create-new-app-container {
  position: absolute;
  cursor: default;
  width: 450px;
  background: #fff;
  height: calc(100vh - 52px);
  right: 0;
  top: 0;
  overflow: auto;
  padding: 10px 10px 0;
  box-sizing: border-box;
  z-index: 10;
  -webkit-box-shadow: -5px 10px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: -5px 10px 20px 0 rgba(0, 0, 0, 0.5);
  a {
    float: right;
    font-size: 25px;
    color: #ADA5A5;
  }
  h2 {
    float: left;
    clear: none;
    color: #212121;
  }
  #create-appointment-form {
    clear: both;
  }
  #addNewAppointment {
    p {
      overflow: hidden;
      margin: 0 0 10px;
      position: relative;
      .search-icon-app {
        position: absolute;
        top: 10px;
        right: 10px;
      }
      label {
        clear: left;
        float: left;
        width: 115px;
        text-align: right;
        margin-right: 10px;
        margin-top: 15px;
      }
      input, textarea, select {
        float: left;
        width: calc(100% - 130px);
        box-sizing: border-box;
        height: 35px;
        border-radius: 5px;
      }
      input[type = checkbox] {
        width: auto;
        height: auto;
        margin-left: 0;
      }
      .slots-remaining {
        display: inline-block;
        width: calc(100% - 130px);
        margin-left: 125px;
        padding-top: 10px;
        color: #0BB118;
      }
      .walk-in-text {
        display: inline-block;
        margin-top: 3px;
      }
    }
  }
  .create-appointment-action-btn {
    float: right;
    line-height: 1;
    font-size: 14px;
    background: #E6E6E6;
    color: #171717;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 0 10px 10px 0;
    width: 85px;
    text-align: center;
    @extend .appBtn;
  }
  button.create-appointment-action-btn {
    background: #99C915;
    color: #fff;
  }
  a.create-appointment-action-btn {
    margin-right: 5px;
  }
}

/*----- list view styles -----*/

.app-list-view {
  height: 100%;
  overflow: auto;
  table {
    th {
      background: #C7C0C0;
      color: #222222;
      border-color: #C7C0C0;
      text-align: center;
      padding: 10px;
    }
    tbody {
      tr {
        &:nth-child(even) {
          background: #F2F1F1;
        }
        td {
          text-align: center;
          border-right: none;
          border-left: none;
          padding: 10px;
          input[type=checkbox] {
            float: left;
            margin-top: 2px;
          }
        }
      }
    }
  }
}