/*---- page and nav style ----*/

.add-app-wrapper {
  header {
    border-bottom: 1px solid #95989A;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    nav {
      position: absolute;
      bottom: 0;
      left: 0;
      a {
        display: inline-block;
        padding: 10px;
        margin-left: 20px;
        border-radius: 3px 3px 0 0;
        color: #000;
        border: 1px solid transparent;
        border-bottom: none;
        font-size: 12px;
        outline: none;
        font-family: "OpenSansBold";
        &.active {
          color: #27AE60;
          background: #F7F7F7;
          border-color: #95989A;
        }
      }
    }
  }
  .add-app-btn {
    float: right;
    background: #99C915;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 63px;
  }
}

.appointment-btn-container {
  padding: 0 10px 20px;
  a {
    padding: 8px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    color: #000;
    margin-left: 10px;
    &.active {
      background: #E2E2E2;
    }
    &:hover {
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    }
    i {
      color: #00ACC3;
    }
    &.app-filter-btn {
      padding: 5px 10px;
    }
  }
  .app-filter-btn-wrapper {
    display: inline-block;
    padding-right: 30px;
    margin-right: 15px;
    border-right: 1px solid #95989A;
    a {
      margin: 0;
    }
  }
}

/*----- create new appointment styles -----*/

.create-new-app-container {
  position: absolute;
  width: 400px;
  background: #fff;
  height: calc(100vh - 52px);
  right: 0;
  top: 52px;
  z-index: 10;
  -webkit-box-shadow: -5px 10px 20px 0 rgba(0,0,0,0.5);
  box-shadow: -5px 10px 20px 0 rgba(0,0,0,0.5);
}
/*----- list view styles -----*/

.app-list-view {
 table {
   th {
     background: #C7C0C0;
     color: #222222;
     border-color: #C7C0C0;
     text-align: center;
     padding: 10px;
   }
   tbody {
     tr {
       &:nth-child(even) {
         background: #F2F1F1;
       }
       td {
         text-align: center;
         border-right: none;
         border-left: none;
         padding: 10px;
         input[type=checkbox] {
           float: left;
           margin-top: 2px;
         }
       }
     }
   }
 }
}