/*------ page style-------*/

.opd-wrapper.appointments-page-wrapper {
  min-height: auto;
  padding: 65px 0 0;
  .appointments-content-wrapper {
    max-width: 100%;
  }
}

/*------ Base layout style-------*/

.add-service-wrapper, .service-admin-wrapper {
  border: 1px solid #95989A;
  border-radius: 3px;
  margin: 0 10px;
  overflow: hidden;
  height: calc(100vh - 78px);
  .service-title {
    font-family: OpenSans, Arial, sans-serif;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 16px;
    clear: both;
    background: #446565;
    position: relative;
    border-radius: 2px 2px 0 0;
    h2 {
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 16px;
    }
  }
  .add-service-btn, .service-save-btn {
    float: right;
    background: #99C915;
    border: none;
    outline: none;
    color: #fff;
  }
  .add-service-btn {
    margin: 0 10px 10px 0;
  }
  .service-save-btn {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 14px;
    padding: 5px 20px;
  }
}

/*-------service admin page style--------*/

.service-admin-content {
  clear: both;
  border-top: 1px solid #95989A;
  padding: 10px 10px 0;
  overflow: auto;
  height: calc(100% - 69px);
  table {
    border-color: #0a0a0a;
    .service-disc-tablecell {
      min-width: 310px;
    }
    th, td {
      text-align: center;
      border-color: #95989A;
      color: #313131;
      font-size: 13px;
      &:first-child {
        text-align: left;
      }
    }
    th {
      background: #EBEBEB;
    }
    td {
      a {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}

/*-------service Creation page style--------*/

.add-service-content {
  height: calc(100% - 48px);
  overflow-y: auto;
  .add-service, .add-availablity {
    width: 50%;
    float: left;
    height: 100%;
  }
  form {
    p {
      select {
        float: none;
      }
    }
  }
}