<link rel="stylesheet" href="../styles/clinicalPrint.css"/>
<div class="print-wrapper prescription-print" ng-switch="encounterDrugOrderMap!=null">
    <div class="print-header" ng-if="printParams">
        <h1 class="print-title-with-logo"><img height="35px" width="35px" ng-if="printParams.logo" ng-src="{{printParams.logo}}" alt="logo"/>{{printParams.title}}</h1>
        <div class="clinic-info">
            <span>{{printParams.locationName}}</span>
            <span class="address">{{printParams.locationAddress}}</span>
        </div>
        <div class="clinic-info">
            <span> {{printParams.header}}</span>
        </div>
    </div>
    <ng-include src="'common/views/patientInfoPrint.html'"></ng-include>
    <section ng-switch-when="true" bindonce="encounterDrugOrderMap">
        <ng-include src="'common/views/treatmentPrintForPatient.html'"></ng-include>
    </section>
    <section ng-switch-default bindonce="drugOrders">
        <ng-include src="'common/views/treatmentSectionPrint.html'"></ng-include>
    </section>
</div>