@charset "UTF-8";

/*BAHMNI css files*/
@import "vendor/normalize";

@import "bahmni-helper/variables";
@import "bahmni-helper/base";
@import "bahmni-helper/fonts";
@import "bahmni-helper/font-awesome";
@import "bahmni-helper/custom-fonts";

@import "bahmni-components/grid";
@import "bahmni-components/uiHelper";
@import "bahmni-components/loader";
@import "bahmni-components/header";
@import "bahmni-components/navigation";
@import "bahmni-components/forms";
@import "bahmni-components/buttons";
@import "bahmni-components/autoComplete";
@import "bahmni-components/inPageTabs";
@import "bahmni-components/ngDialog";
@import "bahmni-components/gallery";
@import "bahmni-components/templateController";
@import "bahmni-components/patientControlPanel";
@import "bahmni-components/tooltip";
@import "bahmni-components/splitButton";
@import "bahmni-components/table";
@import "bahmni-components/typography";

@import "clinical/clinicalIndex";

@import "common/bahmniGlobal";
@import "common/confirmBox";
@import "common/notifications";
@import "common/directives";
@import "common/angularFix";
@import "common/mobileHeader";


@import "bahmni-layout/layout";
@import "bahmni-layout/retroMode";


@import "document-upload/upload";

@import "adt/adt";
@import "adt/wardLayout";

@import "ot/ot";
@import "ot/otSurgical";
@import "ot/otCalendar";
@import "ot/otWeeklyCalendar";

@import "admin/admin";

@import "common/noTouch";

@import "clinical/patientSearchDesktop";
@import "clinical/observationsDesktop";
@import "clinical/_draggableDiv";
//@import "clinical/treatmentDesktop";
@import "clinical/drugOrderTemplate";



@import "reports/reports";

@import "bedmanagement/bedmanagement";
@import "bedmanagement/wardLayout";

.share-prescription-icon {
    float: right;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.share-popup {
    display: block;
    position: absolute;
    width: auto;
    background-color: white;
    right: 0px;
    border: 1px solid rgb(102, 153, 153);
    padding: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    top: 20px;
    z-index: 20;
    font-size: 20px;
    color: black;
}

.disable-icon {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: auto;
}
