@charset "UTF-8";
@import "bahmni-helper/variables";
@page {
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-top: 0.4cm;
    margin-bottom: 0.3cm;
}

body,
body pre {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    color: #000;
    background: #fff;
}

body pre {
    white-space: pre-wrap;
}

p,
h1,
h2,
h3,
table,
tr,
td,
div,
span,
li {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3 {
    text-align: center;
}

.print-center {
    text-align: center;
}

.registrationCard-print-table {
    width: 150mm;
    height: 83mm;
    overflow: scroll;
    margin: 0 auto;
    table-layout: fixed;
}

.registrationCard-print-table td.registrationCard-photo {
    padding-top: 2px;
}

.print-table-left {
    width: 77mm;
}

.print-table-header {
    text-align: center;
    margin-top: 7.5pt;
    text-align: center;
}

.print-table-left-body {
    font-size: 4mm;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
}

.print-table-left-body li {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    line-height: 18px
}

.caution {
    text-align: center;
    line-height: 20px;
}

.caution h3 {
    line-height: 25px;
    margin-bottom: 6px;
    margin-top: 12px;
}

.print-table-right {
    width: 77mm;
}

.print-table-right .logo {
    text-align: center;
    width: 12mm;
    padding: 0px;
    margin: 0px;
    height: 12mm;
}

.print-table-right-header {
    text-align: center;
    width: 42mm;
    text-align: left;
    height: 12mm;
}

.registrationCard-location {
    padding: 5px 8px 8px 8px;
}

.registrationCard-details {
    padding: 0mm 5mm 0mm 5mm;
}

.registrationCard-details-name {
    width: 70px;
}

.registrationCard-details-seperator {
    width: 20px;
    text-align: center;
}

.hindi-text {
    vertical-align: bottom;
}

.pgContainer {
    height: auto;
    min-height: initial;
}
/** Print Style for dashboard **/

.print-wrapper {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    padding: 10px 20px 0;
    max-width: 21cm; // A4 size width
    margin: 0 auto;
    box-sizing: border-box;
    .has-uploaded-file {
        .uploaded-file {
            display: inherit;
            .fa-paper-clip {
                margin-top: 0;
                display: none;
            }
        }
    }
    a {
        color: #333;
    }
    strong {
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    .visible-print {
        display: initial;
    }
    .hidden-print {
        display: none;
    }
    .placeholder-text {
        font-size: 9pt;
        padding: 2px 10px;
        border: 0;
    }
    .print-header {
        text-align: center;
        color: #000;
        .logo {
            width: 35px;
            vertical-align: middle;
            display: inline-block;
            margin-left: -40px;
        }
        h1 {
            font-size: 14pt;
            margin-bottom: 0;
            color: #000;
            font-family: Arial, sans-serif;
        }
        h2 {
            font-size: 10pt;
            margin-bottom: 5px;
            color: #000;
            text-transform: uppercase;
            padding: 0;
            font-family: Arial, sans-serif;
            text-decoration: underline;
            font-weight: bold;
        }
    }
    .hierarchy ul li {
        .tree-list-item {
            padding: 0 5px !important;
            background: none !important;
            i[class^="fa-"] {
                display: none;
            }
            .obs-date {
                -webkit-print-color-adjust: exact;
                font-weight: bold;
                font-size: 9pt;
                background: #C3C3C3 !important;
                padding: 2px 5px;
                display: block;
                margin: 2px 0;
            }
        }
    }
    .dashboard-sections {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
    }
    .section-grid {
        border: 0;
    }
    .dashboard-section,
    .visit-summary-page section.block {
        border: 0;
        margin: 0 0 5px;
        font-size: 7.5pt;
    }
    .visit-summary-page {
        .hierarchy ul li ul li.has-child {
            font-family: Arial, sans-serif;
            ul li {
                font-family: Arial, sans-serif;
                &.has-child {
                    font-family: Arial, sans-serif;
                }
            }
        }
    }
    h2.section-title {
        text-align: left;
        color: #000;
        font-size: 9.5pt;
        font-family: Arial, sans-serif;
        ;
        font-weight: bold;
        line-height: normal;
        padding: 0;
        margin: 0;
        border: 0;
        text-transform: uppercase;
        text-decoration: underline;
        background: none;
        [class^="fa-"] {
            display: none;
        }
        &.has-link {
            .title-link {
                text-decoration: none;
                border-bottom: 0;
            }
        }
    }
    .dashboard-section section.block.hierarchy .value-text-only {
        padding: 2px 5px;
    }
    .dashboard-section section.block.hierarchy .text-only {
        width: 100%;
        word-wrap: break-word;
        display: auto;
        padding-bottom: 5px;
    }
    table.history-diagnosis tbody .notes.inline-notes .left {
        display: none !important;
    }
    section.block,
    .dashboard-section {
        border-radius: 0;
        border: 0;
        h2.section-title {
            text-align: left;
            color: #000;
            font-size: 9.5pt;
            font-family: Arial, sans-serif;
            ;
            font-weight: bold;
            line-height: normal;
            padding: 0;
            margin: 0;
            border: 0;
            text-transform: uppercase;
            text-decoration: underline;
            [class^="fa-"] {
                display: none;
            }
        }
        .form-field {
            border: 0;
            .time {
                display: none;
            }
        }
        .laborder-sub-heading {
            font-size: 9pt;
            font-weight: bold;
            border: none;
            padding: 0;
            background: none;
            .toggle-btn, [class^="fa-"], [class*=" fa-"] {
                display: none;
            }
        }
        table {
            border-collapse: separate;
            border: 0;
            margin: 0;
            padding: 0;
            height: auto;
            overflow: visible;
            &.printPrescription {
                margin-top: 10px;
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
                -webkit-print-color-adjust: exact;
                tbody:nth-child(odd){
                    tr{
                        background:#EDEDED;
                    }
                }
                tr {
                    strong {
                        padding-left: 20px;
                        padding-bottom: 3px;
                    }
                }
                th {
                    padding-top: 6px;
                    padding-bottom: 4px;
                    &.sl-no-heading {
                        width: 8%;
                    }
                    &.drug-name-heading{
                        width: 35%;
                    }
                    &.dosage-instructions-heading{
                        width: 47%;
                    }
                    &.start-date-heading {
                        width: 10%;
                    }

                }
                td {
                    padding-top: 4px;
                    vertical-align: top;
                    &.inline-notes.notes {
                        padding-top: 0;
                    }
                    padding-bottom: 3px;
                    &:first-child {
                        padding-left: 14px;
                    }
                }
            }
            &.repeated-table {
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &.history-diagnosis .table-header {
                display: none;
            }
            thead {
                tr {
                    border: 0;
                    th {
                        border: 0;
                        font-size: 9pt;
                        font-weight: bold;
                        padding: 1px 5px;
                        color: #000;
                        background: none;
                        font-family: Arial, sans-serif;
                    }
                    .toggle-btn {
                        display: none;
                    }
                }
            }
            tbody {
                tr {
                    &, td, th {
                        border: 0;
                        font-size: 9pt;
                        padding: 0 5px;
                        font-family: Arial, sans-serif;
                        text-align: left;
                    }
                    .name,
                    .drug,
                    .testUnderPanel {
                        width: 45%;
                    }
                    .value,
                    .dosage {
                        width: auto;
                    }
                    .value .is-abnormal {
                        font-weight: bold;
                        color: #333 !important;
                    }
                    .toggle-btn {
                        display: none;
                    }
                    .days {
                        min-width: 60px;
                    }
                }
            }
            .drug-discontinued {
                display: none;
            }
            &.h-scroll,
            &.pivot-table {
                border-collapse: collapse;
                tbody tr, thead tr {
                    padding: 0;
                    border: 0;
                    margin: 0;
                    td, th {
                        padding: 5px 10px;
                        border: 1px solid $lighterGray;
                        //border-right: 0;
                        font-size: 9pt;
                        vertical-align: top;
                        min-height: 18px;
                        height: 18px;
                        font-weight: normal;
                        span {
                            line-height: 1;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .hierarchy ul li {
            &, ul li {
                border: 0;
                background: none;
                font-size: 9pt;
            }
            .testUnderPanel {
                width: 37%;
                font-weight: bold;
                padding-left: 0;
                .visit-start-date {
                    margin-right: 0;
                }
            }
        }
        .hierarchy ul ul ul {
            padding-left: 10px;
        }
        table.ipd-investigation-print {
            border-collapse: collapse;
            border-bottom: 1px solid #ddd;
            table-layout: fixed;
            font-size: 8pt;
            tbody tr, thead tr {
                th, td {
                    border: 1px solid #ddd;
                    border-width: 1px 1px 0 0;
                    display: table-cell;
                    font-weight: normal;
                    background: #fff;
                    height: 15px;
                }
                td {
                    padding: 0;
                }
            }
            tbody tr th,
            thead tr th:first-child {
                border-left: 1px solid #ddd;
                width: 38%;
            }
            span {
                &.range {
                    font-size: 8pt;
                }
                &.is-abnormal {
                    font-weight: bold;
                }
                &.ipd-test-results {
                    white-space: normal;
                    text-overflow: initial;
                    padding: 0px 5px;
                    border-right-color: #ddd;
                    display: inline-block;
                    float: left;
                }
            }
        }
    }
    .dashboard-patientInformation-section {
        table.patient {
            .value {
                width: auto;
            }
            .patient-img {
                display: none;
            }
            .patient-info td {
                background: none;
            }
            .patient-value {
                display: block;
                width: auto;
                float: left;
                .patient-name {
                    font-size: 10pt;
                }
                .patient-gender-age {
                    font-size: 9pt;
                }
            }
            .address {
                .name {
                    display: none;
                }
            }
        }
    }
    .diagnosis-name.ruled-out {
        text-decoration: line-through;
    }
    .dashboard-radiology-section,
    .disposition-section,
    .radiology-investigations {
        ul {
            border: 0;
        }
        li {
            border: 0;
            a {
                padding: 1px 5px;
                font-size: 7.5pt;
            }
        }
    }
    .disposition-state {
        font-size: 10pt;
        .disposition-by {
            display: none;
        }
    }
    .dashboard-laborders-section table tr td {
        .date {
            display: none;
        }
        .value {
            width: 60%;
        }
    }
    .diagnosis table {
        .date, .toggle-btn {
            display: none;
        }
    }
    .notes {
        padding: 0px 5px 2px 20px;
        font-size: 8pt;
        background: none;
        color: #999;
        &.test-notes i[class^=fa-] {
            padding: 0;
            display: none;
        }
        &.print-notes {
            display: block !important;
        }
        pre,
        .content {
            color: #999;
            font-size: 8pt;
        }
        .footer-note .provider {
            display: none;
        }
    }
    .expander-row,
    .laborder-section li {
        padding: 0 5px;
    }
    .is-abnormal {
        color: #000 !important;
    }
    button.toggle {
        display: none;
    }
    .visits-nav-bar {
        display: none; // Temporarily hidden.
        .prev-visit, .next-visit {
            display: none;
        }
        .visit-details {
            background: none;
            border: 0;
            font-family: Arial, sans-serif;
        }
        .visit-date {
            font-family: Arial, sans-serif;
        }
    }
    .ipd-treatment-section {
        display: none; // Hide the flowsheet which cant fit the A4 paper.
    }
    table.drug-order-table td.drug {
        border-left: 0 !important;
    }
    .fa {
        display: none !important;
    }
}

.prescription-print {
    table tr {
        td, th {
            font-size: 9pt;
            min-width: 1.75cm;
        }
    }
    .patient-info {
        margin-bottom: 10px;
        td {
            font-weight: bold;
            .value {
                font-weight: normal;
            }
        }
    }
    .treatment-section {
        .drug-name, .dosage-days {
            width: 7cm;
        }
        .dosage-form span {
            float: left;
            margin-right: 5px;
            white-space: normal;
        }
    }
}
