@charset "UTF-8";

/*BAHMNI css files*/

@import "bahmni-helper/variables";
@import "bahmni-components/typography";
@import "common/angularFix";

body{
  pre{
    margin: 0;
  }
}
.print-wrapper {
  clear: both;
  ul, ol, li {
    margin: 0;
    padding: 0;
  }

  ol {
    display: inline-block;
  }

  ul {
    list-style: none;
  }
  .fl, .left {float: left;}
  .fr, .right {float: right;}
  section.block, .dashboard-section{
    margin: 10px 0;
  }
}
@import "print";
