<!-- Note: The below html brought back from two sub-html into this one html because bm-back-link directive is not getting statechangesuccess event -->
<div ng-show="!stateChange()">
    <div class="opd-header-wrapper clinical-consultation" id="opd-tabs" ng-class="{'retro-mode':isInEditEncounterMode()}">

        <div class="opd-header-bottom tabs">
            <bm-back-links></bm-back-links>
            <recent-patients ng-if="enablePatientSearch()"></recent-patients>
            <a show-if-privilege="app:adt" ng-click= "displayConfirmationDialog($event)" class="back-btn"  ng-href="../adt/#/patient/{{patient.uuid}}/visit/{{consultation.visitUuid}}/"
               title="Go to IPD dashboard">
                <i class="fa fa-bed fa-white"></i>
            </a>
            <a class="back-btn-link" id="dashboard-link" accesskey="d" ng-click="gotoPatientDashboard()" title="Back to {{patient.name}} Dashboard">
                <img class="patient-image" ng-src="{{::patient.image}}" fallback-src="../images/blank-user.gif">
              <span class="patient-info">
                <span class="patient-name" >{{patient.name}} </span>
                <span class="patient-id">{{patient.identifier}}</span>
            </span>
            </a>


            <ul class="header-tabs consultation-tabs">
                <li class="tab-item" ng-repeat="board in availableBoards track by $index" ng-class="{'tab-selected':board.isSelectedTab}">
                    <a ng-click="showBoard($index)">{{ board | titleTranslate }}</a>
                </li>
            </ul>

            <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel, 'hide-ipad': availableBoards }">
                <i class="fa fa-bars fa-white fa-large"></i>
            </button>
            <button class="confirm save-consultation" ng-show="availableBoards" single-click="save()" accesskey="{{'SAVE_ACCESS_KEY' | translate}}" ng-class="{'hideSaveText':availableBoards.length > 6}">
                <i class="fa fa-save"></i>
                <span class="text" ng-bind-html="'CLINICAL_SAVE_TRANSLATION_KEY'| translate"></span>
            </button>
        </div>
    </div>
</div>


<div ng-show="stateChange()" confirm-on-exit>
    <div bindonce class="dashboard-header opd-header-wrapper">
        <div class="opd-header-bottom tabs">
            <bm-back-links></bm-back-links>
            <recent-patients></recent-patients>
            <a show-if-privilege="app:adt" class="back-btn" ng-click= "displayConfirmationDialog($event)" ng-href="../adt/#/patient/{{patient.uuid}}/visit/{{visitHistory.activeVisit.uuid}}/"
               title="Go to IPD Dashboard">
                <i class="fa fa-bed fa-white"></i>
            </a>
            <div class="desktop-menu fl">
                <ul class="header-tabs" ng-if="clinicalDashboardConfig.showTabs()">
                    <li class="tab-item dashboard" ng-repeat="dashboard in clinicalDashboardConfig.visibleTabs"
                        ng-class="{'tab-selected' : clinicalDashboardConfig.isCurrentTab(dashboard), 'tab-removable': clinicalDashboardConfig.isCurrentTab(dashboard) && !dashboard.displayByDefault}">
                    <span class="close" ng-click="closeDashboard(dashboard)">
                       <span class="close-icon">x</span>
                    </span>
                        <a ng-click="showDashboard(dashboard)" ng-click="closeAllDialogs()">{{dashboard | titleTranslate}} </a>

                    </li>
                    <li class="tab-item new-tab tab-active" bm-pop-over autoclose="true"
                        ng-show="clinicalDashboardConfig.getUnOpenedTabs().length > 0">
                        <a id="addDashboardButton" bm-pop-over-trigger>+</a>

                        <div class="tab-submenu" bm-pop-over-target>
                            <ul>
                                <li ng-repeat="dashboard in clinicalDashboardConfig.getUnOpenedTabs()">
                                    <a class="submenu-item unOpenedDashboard" ng-click="closeAllDialogs();showDashboard(dashboard);">{{dashboard | titleTranslate}} </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clinical-header mobile-menu fl">
                <a id="MobileDashboardButton" class="mobile-menu-icon" ng-click="toggleDashboardMenu()">
                    <i class="fa fa-bars fa-white fa-small"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="header-tabs" ng-if="clinicalDashboardConfig.showTabs()" ng-show="showDashboardMenu">
                    <li class="tab-item dashboard" ng-repeat="dashboard in clinicalDashboardConfig.tabs"
                        ng-class="{'tab-selected' : clinicalDashboardConfig.isCurrentTab(dashboard), 'tab-removable': clinicalDashboardConfig.isCurrentTab(dashboard) && !dashboard.displayByDefault}">
                        <a ng-click="showDashboard(dashboard)">{{dashboard | titleTranslate}} </a>
                    </li>
                </ul>
            </div>
            <div class="dashboard-header-right-wrapper">
                <div ng-if="::clinicalDashboardConfig.quickPrints" class="fl print-list-wrapper" toggle="togglePrintList">
                    <button ng-if="clinicalDashboardConfig.showPrint()" class="dialog-button-group"
                            accesskey="{{'CLINICAL_PRINT_ACCESS_KEY'| translate}}">
                        <span ng-bind-html="'CLINICAL_PRINT_TRANSLATION_KEY'|translate"></span> <i class="fa fa-print"></i> <i class="fa fa-caret-down"></i>
                    </button>
                    <ul>
                        <li accesskey="{{::tab.printing.shortcutKey}}" ng-repeat="tab in ::printList" ng-click="::printDashboard(tab)">
                            <span ng-bind-html="::(tab.printing.label || tab.printing.header)"></span>
                        </li>
                    </ul>
                </div>
                <button ng-if="::!clinicalDashboardConfig.quickPrints" class="dialog-button-group print" ng-click="printDashboard()"
                        accesskey="{{'CLINICAL_PRINT_ACCESS_KEY'| translate}}" ng-bind-html="'CLINICAL_PRINT_TRANSLATION_KEY'|translate">
                    <i class="fa fa-print"></i>

                </button>
                <div class="dashboard-date-picker" ng-controller="PatientListHeaderController">
                    <div class="retro-date-widget-wrapper fr">
                        <div class="retro-date-widget-header fr">
                            <button ng-click="popUpHandler()" show-if-privilege="{{retrospectivePrivilege}},{{onBehalfOfPrivilege}},{{locationPickerPrivilege}}" ng-if="getTitle()">{{ getTitle() | translate }}</button>

                        </div>
                    </div>
                </div>
            <span class="grouped-buttons">
                 <a class=" btn--left btn--success "
                    ng-if="visitHistory.activeVisit || retrospectiveEntry || allowConsultation()"
                    ng-click="openConsultation()"
                    accesskey="{{'CONSULTATION_SHORTCUT_KEY' | translate}}"
                    ng-bind-html="'CONSULTATION_TAB_KEY' | translate">
                 </a>
                <a class="btn--right btn--success " title="{{'OPEN_IN_NEW_WINDOW'|translate}}"
                   ng-if="visitHistory.activeVisit || retrospectiveEntry"
                   ng-click="openConsultationInNewTab()"><i class="fa fa-external-link"></i></a>
           </span>

                <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}">
                    <i class="fa fa-bars fa-white fa-large"></i>
                </button>
            </div>
        </div>
    </div>
</div>
