<patient-context patient="patient" show-name-and-image="tabBeingPrinted.printing.showNameAndImage" class="dashboard-consultation" is-consultation="!stateChange()"></patient-context>
<dashboard ng-show ="stateChange()" patient="::patient" config="::isDashboardPrinting ? tabBeingPrinted : clinicalDashboardConfig.currentTab"
           disease-templates="diseaseTemplates" section-groups="sectionGroups" visit-history="visitHistory"
           active-visit-uuid="visitHistory.activeVisit.uuid" visit-summary="visitSummary" enrollment="enrollment" active-encounter-uuid="::consultation.encounterUuid">
</dashboard>
<div ng-show ="!stateChange()" ui-view="consultation-content" class="consultation-content"></div>
