<div bindonce class="dashboard-header opd-header-wrapper">
    <div class="opd-header-bottom tabs">
        <bm-back-links></bm-back-links>
        <a class="back-btn-link" id="dashboard-link" ng-href="../adt/#/patient/{{patient.uuid}}/visit/{{visitHistory.activeVisit.uuid}}/">
            <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
        </a>
        <button ng-if="clinicalDashboardConfig.showPrint()" class="dialog-button-group" ng-click="printDashboard()"
                accesskey="r">
            <i class="fa fa-print"></i>
            P<u>r</u>int
        </button>

        <!--<span class="retro-date-text" ng-if="$parent.retrospectiveEntry.isRetrospective"
              ng-bind="$parent.retrospectiveEntry.encounterDate | date:'dd/MM/yyyy'"/> -->

        <ul class="header-tabs" ng-if="clinicalDashboardConfig.showTabs()">
            <li class="tab-item dashboard" ng-repeat="dashboard in clinicalDashboardConfig.visibleTabs"
                ng-class="{'tab-selected' : clinicalDashboardConfig.isCurrentTab(dashboard), 'tab-removable': clinicalDashboardConfig.isCurrentTab(dashboard) && !dashboard.displayByDefault}">
                <span class="close" ng-click="closeDashboard(dashboard)">
                   <span class="close-icon">x</span>
                </span>
                <a ng-click="showDashboard(dashboard)">{{dashboard.dashboardName}}</a>

            </li>
            <li class="tab-item new-tab tab-active" bm-pop-over autoclose="true"
                ng-show="clinicalDashboardConfig.getUnOpenedTabs().length > 0">
                <a id="addDashboardButton" bm-pop-over-trigger>+</a>

                <div class="tab-submenu" bm-pop-over-target>
                    <ul>
                        <li ng-repeat="dashboard in clinicalDashboardConfig.getUnOpenedTabs()">
                            <a class="submenu-item unOpenedDashboard" ng-click="showDashboard(dashboard);">{{dashboard.dashboardName}} </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <recent-patients></recent-patients>


        <div class="dashboard-header-right-wrapper">


            <div class="dashboard-date-picker" ng-controller="PatientListHeaderController">
                <div class="retro-date-widget-wrapper">
                    <div class="retro-date-widget-header">
                        <button ng-click="popUpHandler()">{{ getTitle() }}</button>
                    </div>
                </div>
            </div>
            <span class="grouped-buttons">
                <a class=" btn--left btn--success "
                   ng-if="visitHistory.activeVisit || retrospectiveEntry.isRetrospective"
                   ng-click="collapseControlPanel()" href="#{{consultationBoardLink}}">Consultation</a>
                <a class="btn--right btn--success " title="Open in new window"
                   ng-if="visitHistory.activeVisit || retrospectiveEntry.isRetrospective"
                   ng-click="openConsultationInNewTab()"><i class="fa fa-external-link"></i></a>
           </span>
            <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}">
                <i class="fa fa-bars fa-white fa-large"></i>
            </button>
        </div>
    </div>
</div>
