<html>
<head>
    <link rel="stylesheet" href="../styles/clinicalPrint.css" media="all"/>
</head>
<body>
    <div class="dashboard-print-wrapper">
        <div class="print-header">

            <h1>
                <img class="logo" src="{{dashboardConfig.getPrintConfigForCurrentDashboard().logo}}" alt="logo">
                {{dashboardConfig.getPrintConfigForCurrentDashboard().title}}</h1>
            <h2>{{dashboardConfig.getPrintConfigForCurrentDashboard().header}}</h2>
        </div>
        <div ng-include="currentDashboardTemplateUrl"></div>
    </div>
</body>
</html>