<div bindonce class="dashboard-header opd-header-wrapper">
    <div class="opd-header-bottom">        
        <bm-back-links></bm-back-links>
        <h5>
        	<i class="icon-user"></i>
        	<span bo-text="patient.name"></span> 
        	<span bo-text="'(' + patient.identifier + ')'"></span>
       	</h5>        
        
        <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}"></button>
        <span class="grouped-buttons">
            <a class=" btn--left btn--success" ng-if="visitHistory.activeVisit || retrospectiveEntry.isRetrospective" ng-click="collapseControlPanel()" href="#{{consultationBoardLink}}">Consultation</a>
            <a class="btn--right btn--success" title="Open in new window" ng-if="visitHistory.activeVisit || retrospectiveEntry.isRetrospective" ng-click="openConsultationInNewTab()"><i class="icon-external-link"></i></a>
       </span> 
    </div>
</div>
