<div bindonce class="dashboard-header opd-header-wrapper">
    <div class="opd-header-bottom tabs">
        <bm-back-links></bm-back-links>

        <button ng-if="dashboardConfig.showPrint()" class="dialog-button-group" ng-click="printDashboard()" accesskey="r">
            <i class="icon-print"></i>
            P<u>r</u>int</button>

        <ul class="header-tabs" ng-if="dashboardConfig.showTabs()">
            <li class="tab-item dashboard" ng-repeat="dashboard in dashboardConfig.openDashboards"
                ng-class="{'tab-selected' : dashboardConfig.isCurrentDashboard(dashboard), 'tab-removable': dashboardConfig.isCurrentDashboard(dashboard) && !dashboard.default}">
                <span class="close" ng-click="closeDashboard(dashboard)">
                   <span class="close-icon">x</span>
                </span>
                <a ng-click="showDashboard(dashboard)">{{dashboard.dashboardName}}</a>

            </li>
            <li class="tab-item new-tab tab-active" bm-pop-over ng-show="dashboardConfig.getUnOpenedDashboards().length > 0">
                <a id="addDashboardButton" bm-pop-over-trigger>+</a>

                <div class="tab-submenu" bm-pop-over-target>
                    <ul>
                        <li ng-repeat="dashboard in dashboardConfig.getUnOpenedDashboards()">
                            <a class="submenu-item unOpenedDashboard" ng-click="showDashboard(dashboard);">{{dashboard.dashboardName}} </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <button class="toggle-patient" ng-click="toggleControlPanel()" ng-class="{'shift': showControlPanel}"></button>
        <span class="grouped-buttons">
            <a class=" btn--left btn--success " ng-if="visitHistory.activeVisit || retrospectiveEntry.isRetrospective"
               ng-click="collapseControlPanel()" href="#{{consultationBoardLink}}">Consultation</a>
            <a class="btn--right btn--success " title="Open in new window"
               ng-if="visitHistory.activeVisit || retrospectiveEntry.isRetrospective"
               ng-click="openConsultationInNewTab()"><i class="icon-external-link"></i></a>
       </span>
    </div>
</div>
