<div>
    <section class="block hierarchy">
        <ul class="form-field">
            <span ng-if="diseaseTemplate.obsTemplates.length === 0">
                <h4>&nbsp;&nbsp;&nbsp;No data</h4>
            </span>
            <li ng-repeat="obsTemplate in diseaseTemplate.obsTemplates">
                <span class="tree-list-item">
                        {{obsTemplate.label}} 

                    <span class="fr visit-start-date" ng-if="!displayNepaliDates">
                        {{obsTemplate.visitStartDate | bahmniDate}}
                    </span>
                    <span class="fr visit-start-date" ng-if="displayNepaliDates">
                        {{obsTemplate.visitStartDate | npDate}}
                    </span>
                </span>

                <ul ng-if="obsTemplate.value != null">
                    <li>
                        <span class="tree-list-item">
                            {{obsTemplate.value}}
                        </span>
                    </li>
                </ul>   

                <ul>
                    <li ng-repeat="encounter in obsTemplate.encounters">
                        <span ng-if="showGroupDateTime" class="tree-list-item disease-date" ng-if="!isIntakeTemplate(obsTemplate)">
                            <span ng-if="!displayNepaliDates">
                                {{encounter.encounterDateTime | bahmniDate}}
                            </span>
                            <span ng-if="displayNepaliDates">
                                {{encounter.encounterDateTime | npDate}}
                            </span>
                        </span>
                        <ul ng-class="{'is-intake-template':isIntakeTemplate(obsTemplate)}">
                            <show-observation observation="observation" patient="patient" show-details-button="config.showDetailsButton"
                                              show-date="dateTimeDisplayConfig(obsTemplate).showDate" show-time="dateTimeDisplayConfig(obsTemplate).showTime" ng-repeat="observation in encounter.observations"></show-observation>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div>

