<h1><br></h1>
<div class="treatment">
    <div class="table">
	    <div class="row table-header">
	        <div class="col col1">Order Type</div>
	        <div class="col col2">Date of Order</div>
	        <div class="col col3">Provider</div>
	       <!-- <div class="col col5">Result Notes</div>
	        <div class="col col6">Action</div>-->

	    </div>
		<div ng-repeat="(key, value) in orders" class="table-body" ng-show="value.data.results.length > 0">
			<h2>{{key}}</h2>
			<div ng-repeat="order in value.data.results" class="table-body">
		        <div class="row">
		            <div class="col col1">
		                <label>{{order.concept.name.display}}</label>
		            </div>
		            <div class="col col2">
		                <label>{{order.dateCreated | date:'d MMM, yyyy h:mma'}}</label>
		            </div>
		            <div class="col col3">
		                <label>{{order.creator.person.display}}</label>
		            </div>
	                <div class="col col5">
	                    <button ng-click="toggleResultsEntry($parent.$index, $index)">Enter results</button>
	                </div>
	                <form  ng-show="resultsEntry[$parent.$index][$index]" ng-submit="saveResult(order)">
	                    <textarea ng-model="order.resultText" name="" id="" cols="20" rows="5"></textarea>
	                    <input type="submit" >
	                </form>
		        </div>
			</div> 
		</div>               
	</div>
</div>
