<div class="add-service-wrapper">
    <form class="create-service" ng-submit="save()" id="create-service-form" name="createServiceForm">
        <div class="service-title">
            <h2>{{ ::'SERVICES' | translate}}</h2>
            <button type="submit" class="service-save-btn">{{::'APPOINTMENT_SERVICE_SAVE' | translate }}</button>
        </div>
        <section class="add-service-content">
            <div class="add-service">
                <h3>{{ ::'APPOINTMENT_SERVICE_ADD_NEW' | translate}}</h3>
                <p>
                    <label for="name">
                        {{'APPOINTMENT_SERVICE_NAME_KEY' | translate}}<span class="asterick">*</span>
                    </label>
                    <input placeholder="{{ ::'PLACEHOLDER_SERVICE_NAME' | translate }}" id="name" name="name"
                           type="text"
                           ng-change="validateServiceName(service.name)" ng-model="service.name" required/>
                </p>
                <p class="caution" ng-show="createServiceForm.name.$error.uniqueServiceName">
                    <i class="fa fa-exclamation-circle small"></i>
                    <span> {{'DUPLICATE_SERVICE_NAME_ERROR_MESSAGE' | translate}} </span>
                </p>
                <p>
                    <label for="description">
                        {{'APPOINTMENT_SERVICE_DESCRIPTION_KEY' | translate}}
                    </label>
                    <textarea placeholder="{{ ::'PLACEHOLDER_SERVICE_DESCRIPTION' | translate }}" id="description"
                              ng-model="service.description"></textarea>
                </p>
                <p>
                    <label for="duration">
                        {{'APPOINTMENT_SERVICE_DURATION_KEY' | translate}}
                    </label> <input placeholder="{{ ::'PLACEHOLDER_SERVICE_DURATION' | translate }}" id="duration"
                                    type="number" min="0" ng-model="service.durationMins"/>
                </p>
                <fieldset ng-hide="hasWeeklyAvailability()">
                    <p class="time-wrapper">
                        <label for="start-time">
                            {{'APPOINTMENT_SERVICE_START_TIME_KEY' | translate}}
                        </label> <input id="start-time" type="time" ng-model="service.startTime"
                                        dependent-model="service.startTime" time-validator/>
                        <label class="end-time" for="end-time">
                            {{'APPOINTMENT_SERVICE_END_TIME_KEY' | translate}}
                        </label> <input id="end-time" type="time" name="endTime" ng-model="service.endTime"
                                        dependent-model="service.startTime" time-validator/>
                    <p class="caution" ng-show="createServiceForm.endTime.$error.timeSequence">
                        <i class="fa fa-exclamation-circle small"></i>
                        <span> {{'TIME_SEQUENCE_ERROR_MESSAGE' | translate}} </span>
                    </p>
                    </p>
                    <p ng-class="{'disabled': oneServiceTypeSelected}">
                        <label class="max-load" for="max-load">
                            {{'APPOINTMENT_SERVICE_MAX_LOAD_KEY' | translate}}
                        </label> <input placeholder="{{ ::'PLACEHOLDER_SERVICE_MAX_LOAD' | translate }}" id="max-load"
                                        type="number" min="0" ng-model="service.maxAppointmentsLimit">
                    </p>
                </fieldset>
                <p ng-show="enableSpecialities">
                    <label for="speciality">
                        {{'APPOINTMENT_SERVICE_SPECIALITY_KEY' | translate}}
                    </label>
                    <select id="speciality" ng-model="service.specialityUuid"
                            ng-options="item.uuid as item.name for item in specialities | orderBy:'name'">
                        <option value="">{{ ::'PLACEHOLDER_SERVICE_SPECIALITY' | translate}}</option>
                    </select>
                </p>
                <p>
                    <label for="location">
                        {{'APPOINTMENT_SERVICE_LOCATION_KEY' | translate}}
                    </label>
                    <select id="location" ng-model="service.locationUuid"
                            ng-options="item.uuid as item.display for item in locations | orderBy:'display'">
                        <option value="">{{ ::'PLACEHOLDER_SERVICE_LOCATION' | translate}}</option>
                    </select>
                </p>
                <p>
                    <label for="label-color">Label Colour</label>
                    <select id="label-color">
                        <option>option1</option>
                    </select>
                </p>
                <div ng-if="enableServiceTypes">
                    <div class="switch-wrapper">
                        <span>{{'ADD_SERVICE_APPOINTMENT_TYPE' | translate}}</span>
                    </div>
                    <fieldset class="create-service-type">
                        <p class="caution" ng-show="createServiceForm.serviceTypeName.$error.uniqueServiceTypeName">
                            <i class="fa fa-exclamation-circle small"></i>
                            <span>{{'DUPLICATE_SERVICE_APPOINTMENT_TYPE_ERROR_MESSAGE' | translate}}</span>
                        </p>
                        <p>
                            <label>{{'ADD_NEW_TYPE'| translate}}</label>
                            <input placeholder="{{ ::'PLACEHOLDER_SERVICE_TYPE_NAME' | translate }}" type="text"
                                   ng-model="serviceType.name" id="serviceTypeName" name="serviceTypeName">

                            <label class="duration-label">{{'APPOINTMENT_SERVICE_DURATION_KEY' | translate}}</label>
                            <input placeholder="{{ 'PLACEHOLDER_SERVICE_DURATION' | translate }}" class="duration-box"
                                   type="number" ng-model="serviceType.duration" min="0"/>
                            <button type="button" ng-disabled="!serviceType.name" ng-click="addServiceType(serviceType)"> {{ 'ADD' | translate }} </button>
                        </p>
                        <p class="newly-added-service-wrapper">
                        <span class="newly-added-service" ng-repeat="type in service.serviceTypes">
                            {{type.name}} {{type.duration}}<i class="fa fa-times" aria-hidden="true"></i></span>
                        </p>
                    </fieldset>
                </div>
            </div>
            <div class="add-availability">
                <h3>{{'APPOINTMENT_SERVICE_AVAILABILITY' | translate}}</h3>
                <div class="switch-wrapper">
                    <span>{{'APPOINTMENT_SERVICE_AVAILABILITY_ADD_NEW' | translate}}</span>
                </div>
                <ul>

                    <li class="service-availability-wrapper" ng-repeat="availability in service.weeklyAvailability">
                        <service-availability availability="availability"
                                              availability-list="service.weeklyAvailability"
                                              state="2"></service-availability>
                    </li>

                    <li class="service-availability-wrapper">
                        <service-availability availability-list="service.weeklyAvailability"
                                              on-add-availability="clearAvailabilityOnService()"
                                              state="0"></service-availability>
                    </li>
                </ul>
            </div>
        </section>
    </form>
</div>
