<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
    <div>
        <p>{{'APPOINTMENT_SERVICE_CONFORMATION_POPUP_MESSAGE_FOR_DELETE' | translate}}: <b> {{ service.name }} </b>?</p>
    </div>
    <div class="dialog-button-group">
        <button id="modal-revise-button1" class="secondary-button" ng-click="deleteServiceConfirmation()">{{'APPOINTMENT_SERVICE_DELETE_ACTION' | translate}}</button>
        <button id="modal-revise-button2" class="secondary-button" ng-click="cancelDeleteService()">{{'APPOINTMENT_SERVICE_CANCEL_ACTION' | translate}}</button>
    </div>
</div>