
<ul id="test-bmlinks">
    <li ng-repeat="backLink in backLinks">
        <a class="back-btn" ng-if="backLink.action" accesskey="{{backLink.accessKey}}" ng-click="backLink.action()"
           id="{{backLink.id}}"> <span ng-bind-html="backLink.label"></span> </a>
        <a class="back-btn" ng-class="{'dashboard-link':backLink.image}" ng-if="backLink.url"
           accesskey="{{backLink.accessKey}}" ng-href="{{backLink.url}}" id="{{backLink.id}}"
           title="{{backLink.title}}">
            <img ng-if="backLink.image" ng-src="{{backLink.image}}"
                 onerror="this.onerror=null; this.src='../images/blank-user.gif'"/>
            <i ng-if="backLink.icon && !backLink.image" class="fa {{backLink.icon}}"></i></a>
        <a class="back-btn" ng-if="backLink.state" accesskey="{{backLink.accessKey}}" ui-sref="{{backLink.state}}"
           id="{{backLink.id}}">
            <i ng-if="backLink.icon" class="fa {{backLink.icon}}"></i>
        </a>
    </li>
</ul>