<div class="dashboard">
    <header class="reg-header">
        <form class="change-location">
            <select  ng-model="selectedLocationUuid" ng-change="onLocationChange()">
                <option ng-repeat="location in locations" ng-selected="isCurrentLocation(location)" value="{{location.uuid}}">
                    {{location.display}}
                </option>
            </select> 
        </form>
        <!-- Mujir/Vikash - to be introduced when we do retrospective entry for registration and other modules -->
        <!--<input class="retro-date-widget fr" type="date"/>-->

        <button class="btn-user-info">
            <i class="fa fa-user-md fa-white small"></i>
            <i class="fa fa-caret-down fa-white mini"></i>
        </button>
        <ul>
            <li ng-show=currentUser.username>
                <a class="disabled">
                    <i class="fa fa-user-md fa-white small"></i>
                    <span ng-bind="currentUser.username"></span>
                </a>
            </li>
            <li ng-show=currentUser.currentLocation>
                <a class="disabled">
                    <i class="fa fa-map-marker fa-white small"></i>
                    <span ng-bind="currentUser.currentLocation"></span>
                </a>
            </li>
            <li ng-if="isOfflineApp()">
                <a href="/offline">
                    <i class="fa fa-refresh small"></i><span class="nav-link">{{'HEADER_LABEL_SYNC_KEY' | translate}}</span>
                </a>
            </li>
            <li>
                <a log-out><i class="fa fa-power-off fa-white small"></i><span class="nav-link">{{'HEADER_LABEL_LOGOUT_KEY' | translate}}</span></a>
            </li>
        </ul>
    </header>
    <div class="apps">
        <ul>
            <li ng-repeat="extn in appExtensions">
                <a ng-href="{{extn.url}}" class="button app big" target="{{extn.target?extn.target:'_self'}}"><i class="fa {{extn.icon}}"></i>{{extn | titleTranslate}}</a>
            </li>
        </ul>
    </div>
</div>