<div class="dashboard">
    <header class="reg-header">
        <a class="header-logo" href="../home/"><img src="../images/jss_logo.png" alt="Bahmni" title="Bahmni"></a>
        <button class="btn-user-info">
            <i class="icon-user-md icon-white small"></i>
            <i class="icon-caret-down icon-white mini"></i>
        </button>
        <ul>
            <li ng-show=currentUser.username>
                <a class="disabled">
                    <i class="icon-user-md icon-white small"></i>
                    <span ng-bind="currentUser.username"></span>
                </a>
            </li>
            <li>
                <a log-out><i class="icon-off icon-white small"></i><span class="nav-link">Logout</span></a>
            </li>
        </ul>
    </header>
    <div class="apps">
        <ul>
            <li ng-repeat="extn in appExtensions">
                <a ng-href="{{extn.url}}" class="button app big"><i class="{{extn.icon}}"></i>{{extn.label}}</a>
            </li>
        </ul>
    </div>
</div>