<section class="block">
    <h2 class="section-title">{{::config | titleTranslate}}</h2>
    <div>
        <ul>
            <li ng-repeat="recordGroup in recordGroups" class="radiology-doc-item"
                bm-gallery patient="patient" access-impression="true">
                <a class="document-link" bm-image-observation-gallery-items list=recordGroup.records>
                    {{::recordGroup.conceptName}}
                </a>
                <i ng-show="shouldShowActiveVisitStar(recordGroup.records)"
                   class="fa fa-star current-visit-icon fr"></i>
                <span ng-show="recordGroup.records.length > 1">({{recordGroup.records.length}})</span>
            </li>
        </ul>
        <div ng-hide="isDataPresent()">
            <div class="placeholder-text">{{'NO_DOCUMENTS_MESSAGE' | translate}}</div>
        </div>
    </div>
</section>