<div class="login change-password-wrap" >
    <div class="change-password fl">
        <header class="reg-header" >
            <div class="left" style="max-width:100%" >{{'CHANGE_PASSWORD' | translate}}</div>
        </header>
        <form name="changePasswordForm">
            <div class="login-body">
                <div class="note-container">
                    <div class="note error" ng-show="errorMessageTranslateKey">
                        <div class="text">
                            {{errorMessageTranslateKey | translate}}
                        </div>
                    </div>
                </div>

                <div class="opd-header-wrapper" >
                    <div class="opd-header-top">
                        <header class="reg-header">
                            <ul class="top-nav fl">
                                <li><a class="back-btn" accesskey="h" href="../home/index.html"><i class="fa fa-home"></i></a></li>
                            </ul>
                        </header>
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-attribute">
                        <label for="newPassword">
                            {{'LOGIN_LABEL_USERNAME_KEY' | translate}}
                        </label>
                    </div>
                    <div class="field-value">
                        <input type="text" id="userName" name="userName" value="{{currentUser.username}}" disabled>
                    </div>
                </div>

                <div class="form-field">
                    <div class="field-attribute">
                        <label for="oldPassword">
                            {{'OLD_PASSWORD' | translate}} <span class="asterick">*</span>
                        </label>
                    </div>
                    <div class="field-value">
                        <input type="password" id="oldPassword" name="oldPassword" ng-model="loginInfo.oldPassword" placeholder="{{'OLD_LABEL_PASSWORD' | translate}}" ng-required="true">
                    </div>
                </div>

                <div class="form-field">
                    <div class="field-attribute">
                        <label for="newPassword">
                            {{'NEW_PASSWORD' | translate}} <span class="asterick">*</span>
                        </label>
                    </div>
                    <div class="field-value">
                        <input type="password" id="newPassword" name="newPassword" ng-model="loginInfo.newPassword" placeholder="{{'NEW_LABEL_PASSWORD' | translate}}" ng-required="true">
                    </div>
                </div>

                <div class="form-field">
                    <div class="field-attribute">
                        <label for="confirmPassword">
                            {{'CONFIRM_PASSWORD' | translate}}<span class="asterick">*</span>
                        </label>
                    </div>
                    <div class="field-value">
                        <input type="password" id="confirmPassword" name="confirmPassword"  ng-model="loginInfo.confirmPassword" placeholder="{{'CONFIRM_LABEL_PASSWORD' | translate}}" required>
                    </div>
                </div>

                <div class="note-container">
                    <div class="note error" ng-show="passwordDoesNotMatch">
                        <div class="text">
                            <span>{{'PASSWORD_DOESNOT_MATCH_WITH_NEW_PASSWORD' | translate}}</span>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="field-attribute">
                        <label>
                        </label>
                    </div>
                    <div class="field-value field-value-buttons">
                        <button type="submit" class="confirm" ng-click="changePassword()">{{'CHANGE_PASSWORD_BUTTON' | translate}}</button>
                        <button type="button" ng-click="redirectToHomePage()" >{{'CANCEL' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="info fr">
        <h3>{{'PASSWORD_POLICY_HEADER' | translate}}</h3>
        <ol>
            <li ng-repeat="policy in passwordPolicies">
                <span ng-hide="{{policy === 'PASSWORD_SHOULD_BE_MINIMUM_CHARACTERS' || policy === 'PASSWORD_SHOULD_MATCH_THE_REGEX' }}">{{policy | translate}}</span>
                <span ng-show="{{policy === 'PASSWORD_SHOULD_BE_MINIMUM_CHARACTERS'}}">{{ policy | translate:{length: passwordLength} }}</span>
                <span ng-show="{{policy === 'PASSWORD_SHOULD_MATCH_THE_REGEX'}}">{{ policy | translate:{regex: passwordRegex} }}</span>
            </li>
        </ol>
    </div>
</div>

