<div class="dashboard">
    <header class="reg-header">
        <div class="reg-header-right fr">
            <form class="change-location fl">
                <select  ng-model="selectedLocationUuid" ng-change="onLocationChange()">
                    <option ng-repeat="location in locations | orderBy:'display'" ng-selected="isCurrentLocation(location)" value="{{location.uuid}}">
                        {{location.display | translate}}
                    </option>
                </select>
            </form>
            <!-- Mujir/Vikash - to be introduced when we do retrospective entry for registration and other modules -->
            <!--<input class="retro-date-widget fr" type="date"/>-->

            <button class="btn-user-info fr">
                <i class="fa fa-user-md fa-white small"></i>
                <i class="fa fa-caret-down fa-white mini"></i>
            </button>
            <ul>
                <li ng-show=currentUser.username>
                    <a class="disabled">
                        <i class="fa fa-user-md fa-white small"></i>
                        <span ng-bind="currentUser.username"></span>
                    </a>
                </li>
                <li>
                    <i class="fa fa-key fa-white small"></i>
                    <a ng-click="changePassword()"><span>{{'CHANGE_PASSWORD' | translate}}</span></a>
                </li>
                <li ng-show=currentUser.currentLocation>
                    <a class="disabled">
                        <i class="fa fa-map-marker fa-white small"></i>
                        <span ng-bind="currentUser.currentLocation | translate"></span>
                    </a>
                </li>
                <li>
                    <a log-out><i class="fa fa-power-off fa-white small"></i><span class="nav-link">{{'HEADER_LABEL_LOGOUT_KEY' | translate}}</span></a>
                </li>
            </ul>
        </div>
    </header>
    <div class="apps">
        <ul>
            <li ng-repeat="extn in appExtensions">
                <a id="{{extn.id}}" ng-href="{{extn.url}}" class="button app big" target="{{extn.target?extn.target:'_self'}}" ng-if="isVisibleExtension(extn)"><i class="{{extn.icon}}"></i>{{extn | titleTranslate}}</a>
            </li>
        </ul>
    </div>
</div>
