<div class="opd-wrapper">
    <div class="opd-header-wrapper">
        <div class="opd-header-top">
            <header>
                <bm-back-links></bm-back-links>
            </header>
        </div>
    </div>
    <div class="opd-content-wrapper error-log-wrapper">
        <div ng-if="::errorLogs.length==0">No errors present</div>
        <table ng-if="::errorLogs.length>0">
            <thead>
            <tr>
                <th>Request Url</th>
                <th>Response Status</th>
                <th>Error Time</th>
                <th>StackTrace</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="errorLog in errorLogs track by errorLog.id">
                <td>{{::errorLog.failedRequestUrl}}</td>
                <td>{{::errorLog.responseStatus}}</td>
                <td>{{::errorLog.logDateTime | bahmniDateTime }}</td>
                <td><pre>{{ ::errorLog.stackTrace | json:4 }}</pre></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>