<div class="login">

    <header class="reg-header ">
        <a class="header-logo" href="../home/"><img src="../images/jss_logo.png" alt="Bahmni" title="Bahmni"></a>
    </header>

    <form ng-submit="login()" class="" name="loginForm" autofillable>
        <div class="login-body">
            <div class="note-container">
                <div class="note error" ng-show="errorMessage">
                    <div class="text">
                        {{errorMessage}}
                    </div>
                </div>
            </div>
            <div class="form-field">
                <div class="field-attribute">
                    <label for="username">
                        Username <span class="asterick">*</span>
                    </label>
                </div>

                <div class="field-value">
                    <input type="text" name="username" id="username" ng-model="username" autofocus="autofocus" required placeholder="Enter your username">
                </div>
            </div>
            <div class="form-field">
                <div class="field-attribute">
                    <label for="password">
                        Password <span class="asterick">*</span>
                    </label>
                </div>
                <div class="field-value">
                    <input type="password" id="password" name="password" ng-model="password" required placeholder="Enter your password">
                </div>
            </div>

            <div class="form-footer">
                <button type="submit" class="confirm">Login</button>
            </div>
        </div>
    </form>

</div>