.ot-header-wrapper {
  margin-bottom: 108px;
}

.ot-secondary-header {
  height: 55px;
  background-color: white;
  box-shadow: 0px 0px 0px;
  border-bottom: 1px #cccecf solid;
  .ot-surgical-button {
    float: right;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 11px;
    background: #99C915;
    border: 1px solid #99c915;
  }
}

.filter-button {
  padding-right: 15px;
  border-right: 1px solid #95989A;
}

.fa-angle-double-left{
  color: #00ACC3;
  font-size: 21px;
  padding-left: 263px;
}

.colorForFilter {
  color: #00ACC3 !important;
}

.ot-scheduling-nav {
  overflow: hidden;
  margin: 10px 0 0 10px;
  li {
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    &:last-child {
      margin: 0;
    }
    a {
      display: inline-block;
      color: #fff !important;
      padding: 10px;
    }
    &.active {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

div[ng-app="ot"] {
  .non-icon-back-btn {
    padding: 12px 10px;
  }
}

.navigation-links-buttons {
  height: 55px;
  float: right;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  input {
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    float: right;
    margin-left: 10px;
    &:hover {
      background: transparent;
      opacity: 0.8;
    }
    &.ot-nav-save {
      background: #99c915;
      border: 1px solid #99c915;
      color: #fff;
    }
    &.ot-nav-back {
      border: 1px solid #cccecf;
      color: #000;
    }
  }
  span {
    display: inline-block;
    padding: 10px 0 0 10px;
    font-size: 17px;
    color: #000;
  }
}

.ngdialog.surgical-appointment-dialog {
  padding: 0;
  .ngdialog-overlay {
    background: transparent;
  }
  .ngdialog-content {
    width: 500px;
    top: 42px;
    margin: 10px;
    left: calc(100% - 510px);
    height: calc(100% - 53px);
    margin-bottom: 0;
    border-radius: 0;
    background: #eee;
    box-shadow: -4px 5px 21px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    .appointment-title {
      font-size: 14px;
      font-weight: bold;
      color: #484848;
      margin: 0 0 10px;
    }
    .appointment-block {
      p {
        overflow: hidden;
        margin-bottom: 10px;
        label {
          width: 125px;
          float: left;
          text-align: right;
          margin-right: 10px;
        }
        .patient_name {
          display: inline-block;
          margin-top: 10px;
          text-decoration: underline;
        }
        input.add {
          background: #99c915;
          border: 1px solid #99c915;
          color: #fff;
          font-size: 15px;
        }
        input.cancel {
          background: #fff;
          border: 1px solid #cccecf;
          color: #000;
          font-size: 15px;
          margin: 0 65px 0 10px;
        }
        input[type=text] {
          width: calc(100% - 200px);
          padding: 10px;
          border-radius: 3px;
          position: relative;
          margin-bottom: 2px;
        }
        > i {
          right: 85px;
          position: absolute;
          top: 57px;
          color: #cac9c9;
        }
        select {
          height: 35px;
          width: 273px;
          margin-bottom: 2px;
        }
      }

      input.add {
        background: #99c915;
        border: 1px solid #99c915;
        color: #fff;
        font-size: 15px;
        margin-left: -20px;
      }
      input.cancel {
        background: #fff;
        border: 1px solid #cccecf;
        color: #000;
        font-size: 15px;
        margin-left: 10px;
      }
      textarea {
        width: calc(100% - 200px);
        padding: 10px;
        box-sizing: border-box;
        min-height: 80px;
        margin-bottom: 2px;
        .text-section {
          overflow: auto !important;
        }
      }
    }

  }
}

.ot-top-button-wrapper {
  overflow: hidden;
  position: relative;
  padding: 10px 0;
  background: #fff;
  p {
    display: inline-block;
  }
  .calendar-day-navigation {
    float: left;
    margin: 0 10px;
    button {
      background: #fff;
      opacity: 1;
      -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      padding: 5px 10px;
      color: #000;
      border: 1px solid #95989a;
      margin-right: 2px;
    }
  }
  .calendar-current-day {
    width: 60%;
    text-align: center;
    font-weight: 600;
    span {
      position: relative;
    }
    button {
      background: #fff;
      border: 1px solid #95989a;
      outline: none;
      padding: 5px 10px;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      display: inline-block;
      color: #000;
    }
  }
  .calendar-week-label {
    cursor: pointer;
    position: absolute;
    background: #fff;
    left: 16px;
    padding: 5px;
    text-align: center;
    padding-top: 8px;
    margin-top: 2px;
    height: 7px;
  }
  .calendar-day-input {
    background: #fff;
    border: 1px solid #95989a;
    outline: none;
    width: 155px;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: inline-block;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }
  .calendar-btn-container, .day-btn-container {
    .switch-input {
      display: none;
    }
    
    .switch-label {
      color: #000;
      position: relative;
      display: inline;
      min-width: 112px;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: 500;
      text-align: left;
      padding: 10px 44px 10px 0;
      &:before, &:after {
        content: "";
        position: absolute;
        margin: 0;
        outline: 0;
        top: 50%;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &:before {
        right: 2px;
        width: 34px;
        height: 14px;
        background-color: #9E9E9E;
        border-radius: 8px;
      }
      &:after {
        right: 17px;
        width: 20px;
        height: 20px;
        background-color: #FAFAFA;
        border-radius: 50%;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
      }
      .toggle--on {
        display: none;
      }
      .toggle--off {
        display: inline-block;
      }
    }
    
    .switch-input:checked + .switch-label {
      &:before {
        background-color: #A5D6A7;
      }
      &:after {
        background-color: #4CAF50;
        -ms-transform: translate(80%, -50%);
        -webkit-transform: translate(80%, -50%);
        transform: translate(80%, -50%);
      }
      .toggle--on {
        display: inline-block;
      }
      .toggle--off {
        display: none;
      }
    }
    .calendar-btn-label {
      -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      padding: 6px 10px;
      color: #000;
      border: 1px solid #95989a;
      margin-right: 0;
      display: inline-block;
      background: #fff;
      border-radius: 3px;
      &:hover {
        background: #ececec;
        opacity: 1;
      }
    }
    input:checked + .calendar-btn-label {
      background: #d6d6d6;
    }
    input[value = "List View"]:checked + label {
      margin-right: 50px;
    }
    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  .calendar-btn-container {
    float: right;
    padding-right: 10px;
  }
  .day-btn-container {
    float: left;
    margin-left: 10px;
  }
}

.ot-actual-time-form {
  .ngdialog-content {
    width: 415px;
  }
  .ot-actual-time-person-display {
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    text-align: center;
    margin: 0 0 5px;
  }
  .ot-actual-time-label {
    text-align: center;
    padding: 15px 0px 3px 0px;
  }
  .ot-actual-datetime-input {
    text-align: center;
    display: block;
  }
  .ot-actual-time-input {
    word-spacing: 1px;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 6px;
    padding: 0px 10px 0px 30px;
    margin: 0px auto 0px !important;
  }
  .ot-actual-time-notes {
    min-height: 100px;
    min-width: 350px;
    margin: 0px auto;
    display: block;
    border-radius: 6px;
  }

  .ot-actual-time-buttons {
    text-align: center;
    .button {
      margin: 20px 15px 5px;
    }
  }
}

.ot-surgical-block-dialog {
  .center, h4 {
    text-align: center;
  }
  button {
    margin: 20px 15px 5px;
  }
  p {
    padding-left: 10px;
    padding-bottom: 5px;
  }
}

.ot-surgical-appointment-dialog {
  .center, h4 {
    text-align: center;
  }
  button {
    margin: 20px 10px 5px;
  }
  p {
    padding-left: 10px;
    padding-bottom: 5px;
  }
}

.ngdialog.ngdialog-theme-default.popup {
  .ngdialog-content {
    width: 600px;
    background: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    h4 {
      font-size: 14px;
      font-weight: bold;
      color: #484848;
      margin: 0 0 10px;
    }
  }
}

.ot-cancel-dialog-form {
  p {
    padding: 0 10px;
  }

  .ot-cancel-dialog-label {
    margin-bottom: 15px;
  }
  .ot-cancel-dialog-actions {
    text-align: center;
    margin-bottom: 10px;
    label {
      display: inline-block;
      position: relative;
      padding: 5px 10px;
      border: 1px solid #aaa;
      background: #fff;
      margin: 0 5px 0 0;
      border-radius: 3px;
      color: #111111;
      font-weight: normal;
      cursor: pointer;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
      &:hover, &.selected {
        background: #d6d6d6;
      }
      input {
        opacity: 0;
        position: absolute;
        margin: auto;
        bottom: 0;
        right: 0;
        left: 0;
        cursor: pointer;
      }
    }
  }
  .ot-cancel-dialog-notes {
    min-height: 100px;
    width: 100%;
    display: block;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .ot-cancel-dialog-buttons {
    text-align: center;
    input {
      border: 0;
      outline: 0;
      background: #f70909;
      color: #fff;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
      &:hover {
        background: #f70909;
        opacity: 0.8;
      }
    }
  }
  .location {
    sup {
      color: #f70909;
    }
  }
}

.calendar-container {
  overflow: hidden;
  background: #fff;
}

.list-view-table-wrapper {
  overflow: auto;
  height: calc(100vh - 200px);
  table {
    tr {
      white-space: nowrap;
      &:focus {
        outline: none;
        background: #B3E5FC ;
        border: 1px solid #0277BD ;
      }
    }
    .list-view-notes {
      white-space: normal;
    }
    .current-date {
      background: #f0f5f5 ;
    }
    .status-postponed {
      background: #fceab6;
    }
    .status-cancelled {
      background: #fcb6b6;
    }
    .list-view-primary-diagnosis {
      min-width: 300px;
      white-space: normal;
    }
  }
}

.list-view-print-btn {
  position: fixed;
  right: 9px;
  top: 117px;
  z-index: 99999;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  padding: 6px 10px;
  color: #000;
  border: 1px solid #95989a;
  margin-right: 0;
  display: inline-block;
  background: #fff;
  &:hover {
    background: #ececec;
    opacity: 1;
  }
}

.patient-search-wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

.ot-dialog.ngdialog.ngdialog-theme-default{
  padding-top :160px;
}
