.ot-header-wrapper {
  margin-bottom: 140px;
}

.ot-secondary-header {
  height: 55px;
  background-color: white;
  box-shadow: 0px 0px 0px;
  border-bottom: 1px #cccecf solid;
  .ot-surgical-button {
    float: right;
    margin-right: 100px;
    margin-top: 11px;
  }
}

.ot-scheduling-nav {
  overflow: hidden;
  margin: 10px 0 0 10px;
  li {
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    &:last-child {
      margin: 0;
    }
    a {
      display: inline-block;
      color: #fff !important;
      padding: 10px;
    }
    &.active {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

div[ng-app="ot"] {
  .non-icon-back-btn {
    padding: 12px 10px;
  }
}

.navigation-links-buttons {
  height: 55px;
  float: right;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  input {
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
    float: right;
    margin-left: 10px;
    &:hover {
      background: transparent;
      opacity: 0.8;
    }
    &.ot-nav-save {
      background: #99c915;
      border: 1px solid #99c915;
      color: #fff;
    }
    &.ot-nav-back {
      border: 1px solid #cccecf;
      color: #000;
    }
  }
  span {
    display: inline-block;
    padding: 10px 0 0 10px;
    font-size: 17px;
    color: #000;
  }
}

.create-surgical-title {
  font-size: 15px;
  text-align: center;
  color: #666;
  margin-bottom: 10px;
  position: relative;
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
    outline: none;
    background: transparent;
    float: right;
    border: 1px solid #cccecf;
    color: #000;
    height: 40px;
    &:hover {
      background: transparent;
      opacity: 0.8;
    }
  }
}

.new-surgical-appointment {
  display: block;
  overflow: hidden;
  p.new-surgical-appointment-note{
    font-size: 13px;
    padding-left: 35px;
    padding-bottom: 10px;
    color: #CCC;
    font-family: sans-serif;
  }
  > section {
    padding: 10px;
    box-sizing: border-box;
    &.new-surgical-appointment-step1 {
      float: left;
      width: 500px;
      .create-surgical-form {
        P {
          overflow: hidden;
          margin-bottom: 15px;
          label {
            display: inline-block;
            width: 110px;
            float: left;
            text-align: right;
            margin-right: 10px;
            line-height: 2;
            sup {
              color: #ff3030;
            }
          }
          select {
            width: calc(100% - 232px);
            height: 35px;
            display: inline-block;
            border-color: #929699;

          }
          .start-time {
            display: block;
            margin-bottom: 10px;
            input {
              width: calc(100% - 236px);
              height: 35px;
              display: inline-block;
              border-color: #929699;
              box-sizing: border-box;
              border-radius: 3px;
            }
          }
        }
        .location-block span label {
          border-radius: 11px;
          background: #e6e6e6;
          color: #6c6c6c;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          border: none;
          text-align: center;
          line-height: 1;
          width: auto;
          padding: 5px 16px 5px 28px;
          margin: 5px 10px 5px 0;
          position: relative;
          i {
            position: absolute;
            left: 5px;
            top: 2px;
          }
          &:hover, &.active {
            box-shadow: none;
            opacity: 1;
          }
          input {
            visibility: hidden;
            position: absolute;
            left: -999999999px;
          }
        }
      }
    }
    &.new-surgical-appointment-step2 {
      float: left;
      width: calc(100% - 501px);
      min-height: 275px;
      border-left: 1px solid #cccecf;
      .create-surgical-title {
        margin-bottom: 35px;
      }
      .table {
        th {
          padding: 10px;
          background: #DEDEDE;
          color: #484848;
          text-align: center;
          border: 0;
        }
        td {
          border: 0;
          h4 {
            color: #000;
            font-weight: 900;
            font-size: 14px;
            margin-bottom: 5px;
          }
          p {
            width: 590px;
            span {
              color: #444;
              font-size: 12px;
              b {
                color: #000;
                font-size: 13px;
              }
            }
          }
        }
        tr {
          border: 1px solid #D0D0D1;
        }
      }
    }
  }
  .add-new-appointment {
    display: inline;
    float: left;
    margin-left: 75px;
    margin-top: 17px;
    height: 20px;
    font-size: 20px !important;
    width: 250px;
  }

  .create-surgical-block {
    font-size: 18px;
    text-align: center;
  }
}

.ngdialog.surgical-appointment-dialog {
  padding: 0;
  .ngdialog-overlay {
    background: transparent;
  }
  .ngdialog-content {
    width: 500px;
    top: 42px;
    margin: 10px;
    left: calc(100% - 510px);
    height: calc(100% - 53px);
    margin-bottom: 0;
    border-radius: 0;
    background: #eee;
    box-shadow: -4px 5px 21px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    .appointment-title {
      font-size: 14px;
      font-weight: bold;
      color: #484848;
      margin: 0 0 10px;
    }
    .appointment-block {
      p {
        overflow: hidden;
        margin-bottom: 10px;
        label {
          width: 125px;
          float: left;
          text-align: right;
          margin-right: 10px;
        }

        input.add {
          background: #99c915;
          border: 1px solid #99c915;
          color: #fff;
          font-size: 15px;
        }
        input.cancel {
          background: #fff;
          border: 1px solid #cccecf;
          color: #000;
          font-size: 15px;
          margin: 0 65px 0 10px;
        }
        input[type=text] {
          width: calc(100% - 200px);
          padding: 10px;
          border-radius: 3px;
          position: relative;
        }
        > i {
          right: 85px;
          position: absolute;
          top: 57px;
          color: #cac9c9;
        }
        select {
          height: 35px;
          padding: 10px;
          width: 253px;
        }
      }

      input.add {
        background: #99c915;
        border: 1px solid #99c915;
        color: #fff;
        font-size: 15px;
        margin-left: -20px;
      }
      input.cancel {
        background: #fff;
        border: 1px solid #cccecf;
        color: #000;
        font-size: 15px;
        margin-left: 10px;
      }
      textarea {
        width: calc(100% - 200px);
        padding: 10px;
        box-sizing: border-box;
        min-height: 80px;
      }
    }

  }
}

.calendar {
  overflow: auto;
  height: calc(100vh - 225px);
  .calendar-location {
    margin-left: 80px;
    overflow: hidden;
    .heading-cell {
      width: 300px;
      box-sizing: border-box;
      text-align: center;
      float: left;
      border-bottom: 0.5px solid lightgrey;
      padding: 10px 0;
    }
  }
  .table-block {
    clear: left;

    .calendar-time-container {
      float: left;
      .calendar-time {
        width: 80px;
        height: 120px;
        box-sizing: border-box;
        border-right: 0.5px solid lightgrey;
        padding-right: 5px;
        text-align: right;

      }
    }

    .ot-block-container {
      float: left;
      position: relative;
      width: calc(100% - 80px);
    .ot-block-wrapper {
      position: absolute;
      display: flex;
      left: 0;
      overflow: auto;
    }
      .calendar-cell {
        border-bottom: 0.5px solid lightgrey;
        border-right: 0.5px solid lightgrey;
        width: 300px;
        flex-basis: 80px;
        height: 120px;
        box-sizing: border-box;
      }
      .ot-block {
        width: 300px;
        float: left;
        position: relative;
        .surgical-block {
          width: calc(100% - 10px);
        }
      }
    }
  }
}
.surgical-block {
  position: absolute;
  margin: 0 5px;
  border-radius: 3px;
  border-color: #1976D2;
  .surgical-block-appointment {
    border: 1px solid #1976D2;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    &.expanded {
      z-index: 1;
    }
    button {
      position: absolute;
      right: 5px;
      top: 5px;
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      &:hover {
        opacity: 1;
      }
    }
    .surgicalblock-patientname {
      font-weight: 600;
      color: #000;
    }
  }
}