.ot-header-wrapper {
  margin-bottom: 140px;
  .ot-secondary-header {
    height: 55px;
    background-color: white;
    box-shadow: 0px 0px 0px;
    border-bottom: 1px #55545d solid;
    .ot-surgical-button {
      float: right;
      margin-right: 100px;
      margin-top: 11px;
    }
  }
  .ot-scheduling-nav {
    overflow: hidden;
    margin: 20px 0 0 10px;
    li {
      overflow: hidden;
      border-radius: 5px;
      margin-right: 10px;
      display: inline-block;
      &:last-child {
        margin: 0;
      }
      a {
        display: inline-block;
        color: #fff !important;
      }
      &.active {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  div[ng-app="ot"] {
    .non-icon-back-btn {
      padding: 12px 10px;
    }
  }
  .navigation-links-buttons {
    height: 55px;
    float: right;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    button {
      font-size: 15px;
      border: none;
      outline: none;
      background: transparent;
      float: right;
      margin-left: 10px;
      &:hover {
        background: transparent;
        opacity: 0.8;
      }
      &.ot-nav-save {
        background: #99c915;
        border: 1px solid #99c915;
        color: #fff;
      }
      &.ot-nav-back {
        border: 1px solid #cccecf;
        color: #000;
      }
    }
    span {
      display: inline-block;
      padding: 10px 0 0 10px;
      font-size: 17px;
      color: #000;
    }
  }
}
.create-surgical-title {
  font-size: 15px;
  text-align: center;
  color: #666;
  margin-bottom: 10px;
  position: relative;
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
    outline: none;
    background: transparent;
    float: right;
    border: 1px solid #cccecf;
    color: #000;
    height: 40px;
    &:hover {
      background: transparent;
      opacity: 0.8;
    }
  }
}
.new-surgical-appointment {
  display: block;
  overflow: hidden;
  > section {
    padding: 10px;
    box-sizing: border-box;
    &.new-surgical-appointment-step1 {
      float: left;
      width: 600px;
      border-right: 1px solid #cccecf;
      .create-surgical-form {
        P {
          overflow: hidden;
          margin-bottom: 15px;
          label {
            display: inline-block;
            width: 110px;
            float: left;
            text-align: right;
            margin-right: 10px;
            line-height: 2;
            sup {
              color: #ff3030;
            }
          }
          select {
            width: calc(100% - 120px);
            height: 35px;
            display: inline-block;
            border-color: #929699;

          }
          input[type=date] {
            padding: 5px 10px !important;
            border-radius: 5px;
            border-color: #929699;
          }
          .start-time, .end-date {
            float: left;
            overflow: hidden;
            display: inline-block;
            input {
              border-color: #929699;
              border-radius: 3px;
            }
          }
        }
        .location-block button {
          border-radius: 10px;
          background: transparent;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          border: none;
          margin-left: 10px;
          &:hover, &.active {
            box-shadow: none;
            opacity: 1;
          }
          &.OT1 {
            background: #e6e6e6;
            color: #6c6c6c;
          }
          &.OT2 {
            background: #e6e6e6;
            color: #6c6c6c;
          }
          &.OT3 {
            background: #e6e6e6;
            color: #6c6c6c;
          }
        }
      }
    }
    &.new-surgical-appointment-step2 {
      float: left;
      width: calc(100% - 601px);
      .create-surgical-title {
        margin-bottom: 35px;
      }
      .table {
        th {
          padding: 10px;
          border-color: #D0D0D1;
          background: #DEDEDE;
          color: #484848;
        }
      }
    }
  }
  .add-new-appointment {
    display: inline;
    float: left;
    margin-left: 75px;
    margin-top: 17px;
    height: 20px;
    font-size: 20px !important;
    width: 250px;
  }

  .create-surgical-block {
    font-size: 18px;
    text-align: center;
  }
}