.ot-header-wrapper {
  margin-bottom: 108px;
}

.ot-secondary-header {
  height: 55px;
  background-color: white;
  box-shadow: 0px 0px 0px;
  border-bottom: 1px #cccecf solid;
  .ot-surgical-button {
    float: right;
    margin-right: 10px;
    margin-top: 11px;
    background: #99C915;
    border: 1px solid #99c915;
  }
}

.ot-scheduling-nav {
  overflow: hidden;
  margin: 10px 0 0 10px;
  li {
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    &:last-child {
      margin: 0;
    }
    a {
      display: inline-block;
      color: #fff !important;
      padding: 10px;
    }
    &.active {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

div[ng-app="ot"] {
  .non-icon-back-btn {
    padding: 12px 10px;
  }
}

.navigation-links-buttons {
  height: 55px;
  float: right;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  input {
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
    float: right;
    margin-left: 10px;
    &:hover {
      background: transparent;
      opacity: 0.8;
    }
    &.ot-nav-save {
      background: #99c915;
      border: 1px solid #99c915;
      color: #fff;
    }
    &.ot-nav-back {
      border: 1px solid #cccecf;
      color: #000;
    }
  }
  span {
    display: inline-block;
    padding: 10px 0 0 10px;
    font-size: 17px;
    color: #000;
  }
}

.create-surgical-title {
  font-size: 15px;
  text-align: center;
  color: #666;
  margin-bottom: 10px;
  position: relative;
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
    outline: none;
    background: transparent;
    float: right;
    border: 1px solid #cccecf;
    color: #000;
    height: 40px;
    &:hover {
      background: transparent;
      opacity: 0.8;
    }
  }
}

.new-surgical-appointment {
  display: block;
  overflow: hidden;
  p.new-surgical-appointment-note{
    font-size: 13px;
    padding-left: 35px;
    padding-bottom: 10px;
    color: #CCC;
    font-family: sans-serif;
  }
  > section {
    padding: 10px;
    box-sizing: border-box;
    &.new-surgical-appointment-step1 {
      float: left;
      width: 500px;
      .create-surgical-form {
        P {
          overflow: hidden;
          margin-bottom: 15px;
          label {
            display: inline-block;
            width: 110px;
            float: left;
            text-align: right;
            margin-right: 10px;
            line-height: 2;
            sup {
              color: #ff3030;
            }
          }
          select {
            width: calc(100% - 232px);
            height: 35px;
            display: inline-block;
            border-color: #929699;

          }
          .start-time {
            display: block;
            margin-bottom: 10px;
            input {
              width: calc(100% - 236px);
              height: 35px;
              display: inline-block;
              border-color: #929699;
              box-sizing: border-box;
              border-radius: 3px;
            }
          }
        }
        .location-block span label {
          border-radius: 11px;
          background: #e6e6e6;
          color: #6c6c6c;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          border: none;
          text-align: center;
          line-height: 1;
          width: auto;
          padding: 5px 16px 5px 28px;
          margin: 5px 10px 5px 0;
          position: relative;
          i {
            position: absolute;
            left: 5px;
            top: 2px;
          }
          &:hover, &.active {
            box-shadow: none;
            opacity: 1;
          }
          input {
            visibility: hidden;
            position: absolute;
            left: -999999999px;
          }
        }
      }
      .ot-cancel-appoinment {
        border: 0;
        outline: 0;
        background: #f70909;
        color: #fff;
        margin-left: 120px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        &:hover {
          background: #f70909;
          opacity: 0.8;
        }
      }
    }
    &.new-surgical-appointment-step2 {
      float: left;
      width: calc(100% - 501px);
      min-height: 275px;
      border-left: 1px solid #cccecf;
      .create-surgical-title {
        margin-bottom: 35px;
      }
      .table {
        th {
          padding: 10px;
          background: #DEDEDE;
          color: #484848;
          text-align: center;
          border: 0;
        }
        td {
          border: 0;
          position: relative;
          > i {
            width: 10px;
            display: inline-block;
            line-height: 0.3;
            float: left;
            color: #ddd;
            position: absolute;
            top: 33%;
          }
          .surgery-details-wrapper {
            float: left;
            padding-left: 10px;
            margin-left: 20px;
            border-left: 1px solid #dddddd;
            .cancelled {
              background-color: lightgrey;
            }
          }
          h4 {
            color: #000;
            font-weight: 900;
            font-size: 14px;
            margin-bottom: 5px;
          }
          p {
            width: 590px;
            span {
              color: #444;
              font-size: 12px;
              b {
                color: #000;
                font-size: 13px;
              }
            }
          }
        }
        tr.dndDraggingSource {
          display: none;
        }
        .dndPlaceholder {
           background-color: rgba(146, 221, 81, 0.11);
           display: block;
           min-height: 100px;
         }
      }
      .grey-background {
        background-color: #ccc;
        opacity: 0.5;
      }
    }
  }
  .add-new-appointment {
    display: inline;
    float: left;
    margin-left: 75px;
    margin-top: 17px;
    height: 20px;
    font-size: 20px !important;
    width: 250px;
  }

  .create-surgical-block {
    font-size: 18px;
    text-align: center;
  }
}

.ngdialog.surgical-appointment-dialog {
  padding: 0;
  .ngdialog-overlay {
    background: transparent;
  }
  .ngdialog-content {
    width: 500px;
    top: 42px;
    margin: 10px;
    left: calc(100% - 510px);
    height: calc(100% - 53px);
    margin-bottom: 0;
    border-radius: 0;
    background: #eee;
    box-shadow: -4px 5px 21px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    .appointment-title {
      font-size: 14px;
      font-weight: bold;
      color: #484848;
      margin: 0 0 10px;
    }
    .appointment-block {
      p {
        overflow: hidden;
        margin-bottom: 10px;
        label {
          width: 125px;
          float: left;
          text-align: right;
          margin-right: 10px;
        }
        .patient_name {
          display: inline-block;
          margin-top: 10px;
          text-decoration: underline;
        }
        input.add {
          background: #99c915;
          border: 1px solid #99c915;
          color: #fff;
          font-size: 15px;
        }
        input.cancel {
          background: #fff;
          border: 1px solid #cccecf;
          color: #000;
          font-size: 15px;
          margin: 0 65px 0 10px;
        }
        input[type=text] {
          width: calc(100% - 200px);
          padding: 10px;
          border-radius: 3px;
          position: relative;
        }
        > i {
          right: 85px;
          position: absolute;
          top: 57px;
          color: #cac9c9;
        }
        select {
          height: 35px;
          padding: 10px;
          width: 253px;
        }
      }

      input.add {
        background: #99c915;
        border: 1px solid #99c915;
        color: #fff;
        font-size: 15px;
        margin-left: -20px;
      }
      input.cancel {
        background: #fff;
        border: 1px solid #cccecf;
        color: #000;
        font-size: 15px;
        margin-left: 10px;
      }
      textarea {
        width: calc(100% - 200px);
        padding: 10px;
        box-sizing: border-box;
        min-height: 80px;
      }
    }

  }
}
.ot-filter-section {
  float: left;
  width: 350px;
  height: calc(100vh - 108px);
  background: #fff;
  padding: 10px 0;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow: auto;
  h4 {
    font-weight: bold;
    color: #000;
    margin: 0 0 10px 0;
  }
  .ot-filter-items {
    margin-bottom: 5px;
    padding: 0 20px 10px;
    &.location-block {
      h4 {
        margin: 0 0 20px 0;
      }
      border-bottom: 1px solid #ddd;
    }
    &.patient-block {
      p {
        position: relative;
        input[type=text] {
          width: 100%;
          padding: 5px;
          box-sizing: border-box;
          font-size: 14px;
        }
        i {
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 16px;
        }
      }
    }
    &.surgeon-block, &.status-block {
      p {
        span {
          padding: 0 5px;
          border-radius: 3px;
        }
        input[type=checkbox] {
          visibility: hidden;
          width: 0;
          height: 0;
        }
      }
    }
    p {
      font-size: 15px;
      margin-bottom: 10px;
      label {
        float: right;
      }
    }
    .selected-values-wrapper {
      margin-top: 10px;
    }
  }
  .provider-tag-selector {
    margin-bottom: 10px;
    .tags {
      box-shadow: none;
      border: 1px solid #ddd;
      border-radius: 5px;
      .tag-list li {
        display: none;
        background: #e5e5e5;
        color: #666;
        font-size: 10px;
        border-radius: 3px;
      }
    }

  }
}

.calendar {
  overflow: auto;
  height: calc(100vh - 205px);
  .calendar-location {
    margin-left: 80px;
    overflow: hidden;
    float: left;
    display: flex;
    .heading-cell {
      width: 300px;
      box-sizing: border-box;
      text-align: center;
      float: left;
      border-bottom: 0.5px solid lightgrey;
      padding: 10px 0;
    }
  }
  .table-block {
    clear: left;

    .calendar-time-container {
      float: left;
      .calendar-time {
        width: 80px;
        height: 120px;
        box-sizing: border-box;
        border-right: 0.5px solid lightgrey;
        padding-right: 5px;
        text-align: right;

      }
    }

    .ot-block-container {
      float: left;
      position: relative;
      width: calc(100% - 80px);
    .ot-block-wrapper {
      position: absolute;
      display: flex;
      left: 0;
      overflow: auto;
      padding-bottom: 5px;
    }
      .calendar-cell {
        border-bottom: 0.5px solid lightgrey;
        border-right: 0.5px solid lightgrey;
        width: 300px;
        flex-basis: 80px;
        height: 120px;
        box-sizing: border-box;
      }
      .ot-block {
        width: 300px;
        float: left;
        position: relative;
        .surgical-block {
          width: calc(100% - 10px);
          border: 0.5px solid #1976D2;
        }
      }
    }
  }
}
.surgical-block {
  position: absolute;
  margin: 0 5px;
  border-radius: 3px;
  .surgical-block-appointment {
    border: 1px solid #1976D2;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    &.expanded {
      z-index: 1;
    }
    button {
      position: absolute;
      right: 5px;
      top: 5px;
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      &:hover {
        opacity: 1;
      }
    }
    p {
      font-size: 12px;
    }
    .surgicalblock-patientname {
      font-weight: 600;
      color: #000;
      font-size: 14px;
    }
  }
  .surgicalBlock-surgenName {
    position: absolute;
    bottom: 3px;
    left: 3px;
  }
}
.ot-top-button-wrapper {
  overflow: hidden;
  position: relative;
  padding: 10px 0;
  background: #fff;
  p {
    display: inline-block;
  }
  .calendar-day-navigation {
    float: left;
    margin-left: 10px;
    button {
      background: #fff;
      opacity: 1;
      -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
      padding: 5px 10px;
      color: #000;
      border: 1px solid #95989a;
      margin-right: 2px;
    }
  }
  .calendar-current-day {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 175px;
    text-align: center;
    bottom: 0;
    height: 20px;
    font-weight: 600;
  }
  .view-switch {
    float: right;
  }
  button {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding: 5px 10px;
    color: #000;
    border: 1px solid #95989a;
    margin-right: 10px;
    background: #fff;
    &:hover {
      background: #ececec;
      opacity: 1;
    }
    &.active {
      background: #d6d6d6;
    }
  }
}
.surgical-action-wrapper {
  float: right;
  clear: both;
  text-align: right;
  padding-top: 15px;
  button {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding: 5px 10px;
    color: #000;
    border: 1px solid #95989a;
    margin-right: 10px;
    background: #fff;
  }
}


.ot-actual-time-form {
  .ngdialog-content {
    width: 415px;
  }
  .ot-actual-time-person-display {
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    text-align: center;
    margin: 0 0 5px;
  }
  .ot-actual-time-label {
    text-align: center;
    padding: 15px  0px 3px 0px;
  }
  .ot-actual-time-input{
    word-spacing: 1px;
    font-size: 22px;
    font-weight: lighter;
    border-radius: 6px;
    padding: 0px 10px 0px 30px;
    margin: 0px auto 0px !important;
    display: block;
  }
  .ot-actual-time-notes {
    min-height: 100px;
    min-width: 350px;
    margin: 0px auto;
    display: block;
    border-radius: 6px;
  }

  .ot-actual-time-buttons {
    text-align: center;
    .button {
      margin: 20px 15px 5px;
    }
  }
}
.ot-cancel-dialog-form {
  p {
    padding: 0 10px;
  }

  .ot-cancel-dialog-label {
    margin-bottom: 15px;
  }
  .ot-cancel-dialog-actions {
    text-align: center;
    label {
      display: inline-block;
      position: relative;
      padding: 5px 10px;
      border: 1px solid #aaa;
      background: #fff;
      margin: 0 5px 0 0;
      border-radius: 3px;
      color: #111111;
      font-weight: normal;
      cursor: pointer;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
      &:hover, &.selected {
        background: #d6d6d6;
      }
      input {
        opacity: 0;
        position: absolute;
        margin: auto;
        bottom: 0;
        right: 0;
        left: 0;
        cursor: pointer;
      }
    }
  }
  .ot-cancel-dialog-notes {
    min-height: 100px;
    width: 100%;
    display: block;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .ot-cancel-dialog-buttons {
    text-align: center;
    input {
      border: 0;
      outline: 0;
      background: #f70909;
      color: #fff;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
      &:hover {
        background: #f70909;
        opacity: 0.8;
      }
    }
  }
  .calander-container {
    overflow: hidden;
    background: #fff;
  }
}