.calendar {
  .calendar-location {
    .weekly-heading-cell {
      width: 150px;
      box-sizing: border-box;
      text-align: center;
      float: left;
      border-bottom: .5px solid lightgrey;
      padding: 10px 0;
      font-family: OpenSansSemiBold;
    }
  }
  .table-block {
    .ot-block-container {
      .weekly-calendar-cell {
        border-bottom: 0.5px solid lightgrey;
        border-right: 0.5px solid lightgrey;
        width: 150px;
        flex-basis: 80px;
        height: 120px;
        box-sizing: border-box;
      }
      .ot-weekly-block {
        width: 150px;
        float: left;
        position: relative;
        padding-bottom: 20px;
        overflow: hidden;
        .surgical-block {
          width: calc(100% - 10px);
          border: 0.5px solid #1976D2;
          &:focus {
            border-color: #1976D2 !important;
          }
        }
      }
    }
  }
}
