.calendar {
  .calendar-location {
    .weekly-heading-cell {
      width: 180px;
      box-sizing: border-box;
      text-align: center;
      float: left;
      border-bottom: .5px solid lightgrey;
      padding: 10px 0;
      font-family: OpenSansSemiBold;
    }
  }
  .table-block {
    .ot-block-container {
      .weekly-calendar-cell {
        border-bottom: 0.5px solid lightgrey;
        border-right: 0.5px solid lightgrey;
        width: 180px;
        flex-basis: 80px;
        height: 120px;
        box-sizing: border-box;
      }
      .ot-weekly-block {
        width: 180px;
        float: left;
        position: relative;
        padding-bottom: 20px;
        overflow: hidden;
        .surgical-block {
          width: calc(100% - 10px);
          border: 0.5px solid #1976D2;
          &:focus {
            border-color: #1976D2 !important;
          }
        }
      }
    }
  }
}
.surgical-block {
  position: absolute;
  margin: 0 1px;
  border-radius: 3px;
  .surgical-block-appointment {
    border: 1px solid #1976D2;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    &:focus {
      border-color: #1976D2 !important;
    }
    &.hide-surgical-appointment {
      visibility: hidden;
    }
    &.expanded {
      z-index: 1;
    }
    button {
      position: absolute;
      right: 5px;
      top: 5px;
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      &:hover {
        opacity: 1;
      }
    }
    p {
      font-size: 12px;
    }
    .surgicalblock-patientname {
      color: #000;
      padding-right: 20px;
    }
    .surgicalblock-ot {
      font-weight: 900;
      color: #000;
      font-size: 14px;
      padding-right: 20px;
      margin: 35% 0;
    }
  }
  .surgicalBlock-surgenName {
    position: absolute;
    bottom: 3px;
    left: 3px;
    word-break: break-word;
  }
  &.exceed .surgicalBlock-surgenName {
    position: relative;
    top: 6px;
  }
}
