.visit aside.visit-history {
    .patient-info {
        background-color: black;
        color: white;
        text-align: center;
        li {
            padding: 2px 6px;
            border-right: none;
        }
    }
}