<div class="appointment-container" ng-init="isFilterOpen = true">
    <aside class="appointment-filter" ng-show="isFilterOpen">
        <h4>Filter</h4>
    </aside>
    <div class="appointment-btn-container" ng-class="{'app-filter-open': isFilterOpen}">
        <span class="app-filter-btn-wrapper" ng-show="!isFilterOpen"><a class="app-filter-btn"><i class="fa fa-filter" aria-hidden="true"></i> Filter</a></span>
        <!---TODO: move all the logic to controller --->
        <a ng-class="{'active': currentTab === 'list'}" ng-click="navigateTo('list')">
            {{::'LIST_VIEW' | translate}}
        </a>
        <a ng-class="{'active': currentTab === 'calendar'}" ng-click="navigateTo('calendar')">
            {{::'CALENDAR_VIEW' | translate}}
        </a>
        <a class="add-app-btn" ng-href="#/home/manage/appointments/{{currentTab}}/new">{{::'ADD_NEW_APPOINTMENT' | translate }}</a>
    </div>
    <div ui-view="content@viewAppointments" class="appointment-content-container" ng-class="{'app-filter-open': isFilterOpen}"></div>
    <div class="appointment-action-btn-container" ng-class="{'app-filter-open': isFilterOpen}">
        <a href="#">Check-in</a>
        <a href="#">Complete</a>
        <a href="#">Missed</a>
        <a href="#">Edit</a>
        <a href="#">Cancel Appointment</a>
    </div>
</div>