<div class="appointment-filter" ng-init="isFilterOpen = true" ng-show="isFilterOpen">
    <a ng-click="isFilterOpen = false"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>

    <p>
        <label>Speciality</label>
        <input type="text" ng-model="search"/>
        <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
    <div class="app-filter-speciality">
    <div ivh-treeview="mappedSpecialities"
         ivh-treeview-filter="search"
         ivh-treeview-expand-to-depth="-1"
         ivh-treeview-on-cb-change="setSelectedSpecialities(ivhTree)"
         ivh-treeview-twistie-expanded-tpl="'-'"
         ivh-treeview-twistie-leaf-tpl="'-'"
         ivh-treeview-twistie-collapsed-tpl="'+'"></div>
        <!--<span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>-->
    </div>
    </p>
    <p>
        <label>Provider</label>
        <multi-select-autocomplete
                input-items="surgeonList"
                selected-values="filters.providers"
                display-property="'name'"
                key-property="'uuid'"
                placeholder="'Enter Surgeon Name'"
                load-on-down-arrow="false"
                auto-complete-min-length="1"></multi-select-autocomplete>

    </p>
    <p>
        <label>Appoinment status</label>
        <input type="text"/>
        <i class="fa fa-search app-filter-search" aria-hidden="true"></i>
        <!--<span><i class="fa fa-times" aria-hidden="true"></i><span></span></span>-->
    </p>
    <p class="app-filter-action-btn">
        <button>Reset</button>
        <button ng-click="applyFilter(ivhTree)">Apply Filter</button>
    </p>
</div>
<div class="appointment-container" ng-init="isFilterOpen = true">
    <div class="appointment-btn-container">
        <span class="app-filter-btn-wrapper" ng-click="isFilterOpen = true" ng-show="!isFilterOpen">
            <a class="app-filter-btn">
                <i class="fa fa-filter" aria-hidden="true"></i> Filter
            </a>
        </span>
        <p class="view-toggle-wrapper">
            <a ng-class="{'active': getCurrentTabName() === 'list'}" ng-click="navigateTo('list')">
                {{::'LIST_VIEW' | translate}}
            </a>
            <a ng-class="{'active': getCurrentTabName() === 'calendar'}" ng-show="enableCalendarView" ng-click="navigateTo('calendar')">
                {{::'CALENDAR_VIEW' | translate}}
            </a>
            <a class="add-app-btn" ng-href="#/home/manage/appointments/{{getCurrentTabName()}}/new">
                {{::'ADD_NEW_APPOINTMENT' | translate }}
            </a>
        </p>
    </div>
    <div ui-view="content@viewAppointments" class="appointment-content-container"></div>
</div>
