<section class="add-app-wrapper" ng-init="currentAppTab = 'summary'">
    <header>
<!--  TODO: all this logic should be moved to a controller  -->
        <nav style="display: inline">
            <a ng-class="{'active': currentAppTab === 'summary'}" ng-click="currentAppTab = 'summary'"
               ng-href="#/home/manage/summary">{{ ::'SUMMARY' | translate}}</a>
            <a ng-class="{'active': currentAppTab === 'appointments'}" ng-click="currentAppTab = 'appointments'"
               ng-href="#/home/manage/appointments">{{ ::'APPOINTMENT_LIST' | translate}}</a>
        </nav>
<br/><br/><br/>
    </header>
    <div ui-view="content@manage"></div>
</section>
