<div class="create-new-app-container">
    <a href="#/home/manage/appointments/list">close</a>
    <form ng-submit="save()" id="create-appointment-form" name="createAppointmentForm">
        <div>
            <h2>{{ ::'ADD_NEW_APPOINTMENT' | translate}}</h2>
        </div>
        <section id = "addNewAppointment">
            <div>
                <p>
                    <label>{{'APPOINTMENT_CREATE_PATIENT_NAME' | translate}}<sup>*</sup></label>

                    <input type="text"
                           id="patientID"
                           min-length=3
                           bahmni-autocomplete
                           ng-model="patient"
                           source="search"
                           response-map="responseMap"
                           on-select="onSelectPatient"
                           strict-select="true"
                           ng-class="{'illegalValue': isInvalid}"
                           placeholder="{{'PLACEHOLDER_APPOINTMENT_CREATE_SEARCH_PATIENT' | translate }}"
                           non-blank
                           ng-disabled="shouldBeDisabled()"
                    />
                    <i class="fa fa-search" aria-hidden="true"></i>
                </p>

                <p ng-show="enableSpecialities">
                <p>
                    <label for="speciality">
                        {{'APPOINTMENT_SERVICE_SPECIALITY_KEY' | translate}}
                    </label>
                    <select id="speciality" ng-model="appointment.specialityUuid"
                            ng-options="item.uuid as item.name for item in specialities | orderBy:'name'">
                        <option disabled value="">{{ ::'PLACEHOLDER_SERVICE_SPECIALITY' | translate}}
                        </option>
                    </select>
                </p>
                </p>
                <br/><br/>
                <p>
                    <label for="service">
                        {{'APPOINTMENT_SERVICE' | translate}}
                    </label>
                    <select id="service" ng-model="appointment.serviceUuid"
                            ng-options="item.uuid as item.name for item in services | filter:(enableSpecialities || '') &&
                            {speciality:{uuid:appointment.specialityUuid}}:true" ng-change="onServiceChange(item.locationUuid)">
                        <option disabled value="">{{ ::'PLACEHOLDER_SERVICE' | translate}}
                        </option>
                    </select>
                </p>

                <br/><br/>
                <p>
                    <label for="serviceType">
                        {{'APPOINTMENT_SERVICE_TYPE' | translate}}
                    </label>
                    <select id="serviceType" ng-model="appointment.serviceUuid"
                            ng-options="item.uuid as item.name for item in serviceTypes | orderBy:'name'">
                        <option disabled value="">{{ ::'PLACEHOLDER_SERVICE' | translate}}
                        </option>
                    </select>
                </p>

                <br/><br/>
                <p>
                    <label for="location">
                        {{'APPOINTMENT_SERVICE_LOCATION_KEY' | translate}}
                    </label>
                    <select id="location" ng-model="appointment.locationUuid"
                            ng-options="item.uuid as item.display for item in locations | orderBy:'display'">
                        <option disabled value="">{{ ::'PLACEHOLDER_SERVICE_LOCATION' | translate}}
                        </option>
                    </select>
                </p>
                <br/><br/>
                <p>
                    <label for="provider">
                        {{'APPOINTMENT_PROVIDER' | translate}}
                    </label>
                    <select id="provider" ng-model="appointment.providerUuid"
                            ng-options="item.uuid as item.display for item in providers | orderBy:'display'">
                        <option disabled value="">{{ ::'PLACEHOLDER_CREATE_PROVIDER' | translate}}</option>
                    </select>
                </p>
                <br/><br/>
                <p>
                    <label for="date">
                        {{'APPOINTMENT_DATE' | translate}}
                    </label>
                    <input id="date" type="date" ng-model="appointment.date"/>
                    <span>22 out of 50 slots booked.</span>
                </p>
                <p>
                    <label for="startTimeID">
                        {{'APPOINTMENT_SERVICE_START_TIME_KEY' | translate}}
                    </label>
                    <input type="text"
                           id="startTimeID"
                           min-length=1
                           bahmni-autocomplete
                           ng-model="startTime"
                           source="startTimeSource"
                           response-map="startTimeResponseMap"
                           on-select="onSelectPatient"
                           ng-class="{'illegalValue': isInvalid}"
                           placeholder="{{'PLACEHOLDER_APPOINTMENT_TIME_FORMAT' | translate }}"
                           non-blank
                           ng-disabled='false'/>
                    <span>start time error placeholder</span>

                    <label for="endTimeID">
                        {{'APPOINTMENT_SERVICE_START_TIME_KEY' | translate}}
                    </label>
                    <input type="text"
                           id="endTimeID"
                           min-length=1
                           bahmni-autocomplete
                           ng-model="endTime"
                           source="startTimeSource"
                           response-map="startTimeResponseMap"
                           on-select="onSelectPatient"
                           ng-class="{'illegalValue': isInvalid}"
                           placeholder="{{'PLACEHOLDER_APPOINTMENT_TIME_FORMAT' | translate }}"
                           non-blank
                           ng-disabled='false'/>
                    <span>end time error placeholder</span>
                </p>
                <p>
                    <label for="notes">
                        {{'APPOINTMENT_CREATE_NOTES' | translate}}
                    </label>
                    <textarea placeholder="{{ ::'PLACEHOLDER_CREATE_NOTES' | translate }}" id="notes"
                              ng-model="appointment.notes"></textarea>
                </p>
            </div>
        </section>
        <button type="submit" class="service-save-btn">{{::'APPOINTMENT_SAVE' | translate }}
        </button>
    </form>
</div>