<div class="back-btn-link">
    <a ng-href="../clinical/#/default/patient/{{patient.uuid}}/dashboard" title="Back to {{patient.name}}'s Clinical Dashboard">
        <img class="patient-image" ng-src="{{::patient.image}}" fallback-src="../images/blank-user.gif">
        <span class="patient-info">
            <span class="patient-name" >{{patient.name}} </span>
            <span class="patient-id">{{patient.identifier}}</span>
        </span>
    </a>
</div>

<button class="confirm save-consultation" ng-click="save()" accesskey="s" class="confirm">
    <i class="fa fa-save"></i>
    <span class="text"><u>S</u>ave</span>
</button>
