<header class="template-header">
    <button class="ngdialog-close back-btn">Back</button>
    <h1>
        <i class="icon-user"></i> 
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h1>
    <h2>All Prescriptions</h2>
</header>

<div ng-show="allTreatments != null">
    <div ng-hide="allTreatments.length > 0" class="messages">
        <p class="null-data-message">No Prescription for this patient.</p>
    </div>

    <div class="template-container" ng-show="allTreatments.length > 0">
        <table ng-repeat="drugOrdersGroup in allTreatments" bindonce="allTreatments">
            <thead>
                <th colspan="3" bo-text="drugOrdersGroup.values[0].effectiveStartDate | date:'dd MMM, yyyy'"></th>
            </thead>
            <tbody>
                <tr ng-repeat="drugOrder in drugOrdersGroup.values" >
                    <td class="drug"><span bo-text="drugOrder.drug.name"></span></td>
                    <td class="dosage"><h5>{{drugOrder.dosingInstructions.dose}} {{drugOrder.dosingInstructions.doseUnits}}</h5></td>
                    <td class="days"><span>From </span>{{drugOrder.effectiveStartDate | date:'dd MMM yy'}}<br /><span> for </span>{{drugOrder.duration}} {{drugOrder.durationUnits}}</td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>