<header class="template-header">
    <button class="ngdialog-close back-btn">Back</button>
    <h5>
        <i class="icon-user"></i> 
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    <h6>All Prescriptions</h6>
</header>

<div ng-show="allTreatments != null" class="all-treatments">
    <div ng-hide="allTreatments.length > 0" class="messages">
        <p class="null-data-message">No Prescription for this patient.</p>
    </div>

    <div class="template-container" ng-show="allTreatments.length > 0">
        <section class="section-grid">
            <h2 class="section-title">Prescriptions</h2>
            <table ng-repeat="drugOrdersGroup in allTreatments" bindonce="allTreatments">
                <thead>
                    <th colspan="3" bo-text="drugOrdersGroup.values[0].effectiveStartDate | date:'dd MMM, yyyy'"></th>
                </thead>
                <tbody ng-repeat="drugOrder in drugOrdersGroup.values" ng-class="{'strike-through': drugOrder.isDiscontinuedOrStopped()}">
                    <tr toggle="drugOrder.showNotes">
                        <td class="drug">{{drugOrder.getDisplayName()}}</td>
                        <td class="dosage">{{drugOrder.getDescription()}}
                            <span ng-if="drugOrder.isDiscontinuedOrStopped()" class="fr">Stopped {{drugOrder.effectiveStopDate | date: 'dd MMM yy'}}</span>
                        </td>
                        <td class="toggle-btn">
                            <button class="toggle fr" ng-class="{'has-notes': drugOrder.additionalInstructions}">
                                <i class="icon-plus-sign" ng-hide="drugOrder.show"></i>
                                <i class="icon-minus-sign" ng-show="drugOrder.show"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="drugOrder.showNotes">
                        <td colspan="3" class="inline-notes notes">
                            <p class="left"><strong>Treatment Notes: </strong>{{drugOrder.additionalInstructions}}</p>

                            <div class="footer-note right">
                                <span class="time-stamp">
                                  <span class="date">{{drugOrder.effectiveStartDate | date:'dd MMM yy'}}</span>
                                  <span class="time">{{drugOrder.effectiveStartDate | date :'hh:mm a'}}</span>
                                </span>
                                <span class="provider" bo-text="drugOrder.provider.name"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>        
        </section>
    </div>
</div>