<div class="dashboard-diagnosis-section">
    <h2>{{section.title}}</h2>

    <section class="block diagnosis" ng-class="{'more': allDiagnoses.show}">
        <div class="table history-diagnosis" ng-if="allDiagnoses.length > 0">
            <div class="table-body">
                <div ng-repeat="diagnosis in allDiagnoses | primaryDiagnosisFirst" class="row">
                    <div class="view-past">
                        <div class="col col1">
                            <h4 class="diagnosis-name" ng-class="{'ruled-out': diagnosis.diagnosisStatus}">
                                {{diagnosis.getDisplayName()}}
                            </h4>
                        </div>
                        <div class="col col2">
                            <div class="view">
                                <span class="certainty">{{diagnosis.certainty}}</span>
                                <span class="date">{{diagnosis.diagnosisDateTime | date :'dd MMM yy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholder-text" ng-if="allDiagnoses.length == 0">
            No diagnoses for this patient.
        </div>
    </section>
</div>
