<div ng-controller="PatientDashboardLabOrdersController" class="dashboard-laborders-section">

    <h2 ng-dialog="views/dashboardSections/labSummary.html"
               ng-dialog-class="ngdialog-theme-flat ngdialog-theme-custom"
               ng-dialog-controller="PatientDashboardLabSummaryController">{{section.title}}<button class="fr toggle btn-expand"><i class="icon-external-link"></i></button></h2>
    <section class="block" ng-class="{'more': patientSummary.show}">
        <p class="placeholder-text" ng-if="!hasLabOrders()">{{ patientSummary.message }}</p>

        <div ng-if="hasLabOrders()">
            <table ng-repeat="labOrderResults in labAccessions" bindonce="labAccessions">
                <tbody ng-repeat="labOrderResult in labOrderResults">
                    <tr ng-if="labOrderResult.isPanel" class="header">
                        <td colspan="2"><strong>{{labOrderResult.orderName}}</strong></td>
                    </tr>
                    <tr ng-if="labOrderResult.isPanel" ng-repeat="test in labOrderResult.tests">
                        <td class="testUnderPanel">
                            <span bo-text="test.testName"></span>
                            <span ng-show="test.hasRange" class="range">
                                <span bo-text="'(' + test.minNormal + ' - ' + test.maxNormal + ')'"></span>
                                <span ng-show="test.testUnitOfMeasurement" class="units" bo-text="test.testUnitOfMeasurement"></span>
                            </span>
                        </td>
                        <td class="value has-toggle-btn">
                            <span ng-class="{'referred-out': test.referredOut}">
                                <span class="referred">R</span>
                            </span>
                            <span ng-show="test.result" ng-class="{'is-abnormal': test.abnormal}" class="value" bo-text="test.result"></span>
                            <span class="fr date">
                                <i class="icon-file-alt" ng-show="test.notes"></i>    
                                <span>{{ test.accessionDateTime | date :'dd MMM yy'}}</span>
                            </span>
                        </td>
                    </tr>

                    <tr ng-if="!labOrderResult.isPanel">
                        <td>
                            <span bo-text="labOrderResult.testName"></span>
                            <span ng-show="labOrderResult.hasRange" class="range">
                                <span bo-text="'(' + labOrderResult.minNormal + ' - ' + labOrderResult.maxNormal + ')'"></span>
                                <span ng-show="labOrderResult.testUnitOfMeasurement" class="units" bo-text="labOrderResult.testUnitOfMeasurement"></span>
                            </span>
                        </td>
                        <td class="value has-toggle-btn">
                            <span ng-class="{'referred-out': labOrderResult.referredOut}">
                                <span class="referred">R</span>
                            </span>
                            <span ng-show="labOrderResult.result" ng-class="{'is-abnormal': labOrderResult.abnormal}" class="value" bo-text="labOrderResult.result"></span>
                            <span class="fr date">
                                <i class="icon-file-alt" ng-show="labOrderResult.notes"></i>    
                                <span>{{ labOrderResult.accessionDateTime | date :'dd MMM yy'}}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>