<div ng-controller="PatientDashboardLabOrdersController">
    <h2>{{section.description}}</h2>

    <p>{{patientSummary.message}}</p>

    <table>
        <tbody ng-repeat="line in patientSummary.data">
        <!-- HACKTAG: Apparently bo-if makes this go into an infinite loop-->
        <tr ng-if="line.isSummary" ng-class="testResultClass(line)">
            <td colspan="2" ng-hide="!line.name">
                {{line.name}}
                <span class="status" ng-show="pendingResults(line)">Pending!</span>

            </td>
        </tr>
        <tr ng-if="!line.isSummary"
            ng-class="{'is-abnormal': line.isAbnormal, 'referred-out': line.referredOut}">
            <td>
                <span>{{line.name}}</span>
            </td>
            <td class="value">
                {{line.value}}
                    <span class="range">
                      <span ng-if="line.minNormal && line.maxNormal">
                        Valid range {{' (' + line.minNormal + ' - ' + line.maxNormal + ') '}}
                      </span>
                      <span class="units">{{line.units}}</span>
                    </span>
                <span class="referred">Referred Out</span>
                <span class="fr">{{ line.orderDate | date :'dd MMM yy'}}</span>
            </td>
        </tr>
        </tbody>
    </table>

</div>

