<header class="template-header">
    <button class="ngdialog-close back-btn">Back</button>
    <h1>
        <i class="icon-user"></i> 
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h1>
    <h2>All Lab Orders and Results</h2>
</header>

<div ng-show="tabular">
    <div ng-hide="tabular.hasOrders()" class="messages">
        <p class="messages null-data-message">No Lab Orders for this patient.</p>
    </div>
    <div class="template-container" ng-show="tabular.hasOrders()">
        <section>
            <h2 ng-click="toggleInvestigationChart()" class="has-toggle row-click">
                <button class="section-toggle">
                    <i class="icon-caret-right" ng-hide="showInvestigationChart"></i>
                    <i class="icon-caret-down" ng-show="showInvestigationChart"></i>
                </button>
                Investigation Chart
            </h2>

            <table class="ipd-investigation" bindonce="tabular" ng-show="showInvestigationChart">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="normal" ng-repeat="testOrderLabel in tabular.getTestOrderLabels()">
                            <span bo-text="testOrderLabel.testName"></span>
                            <span ng-show="tabular.hasRange(testOrderLabel)" class="range">
                                <span bo-text="'(' + testOrderLabel.minNormal + ' - ' + testOrderLabel.maxNormal + ')'"></span> 
                                <span bo-text="testOrderLabel.testUnitOfMeasurement"></span>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dateLabel in tabular.getDateLabels()">
                        <td>{{dateLabel.date | date :'dd MMM yy'}}</td>
                        <td ng-repeat="testOrderLabel in tabular.getTestOrderLabels()">
                            <span ng-init="results = tabular.getResult(dateLabel, testOrderLabel)">
                                <span class="test-result"  ng-repeat="res in results">
                                    <span ng-class="{'referred-out': res.referredOut}">
                                        <span class="referred">R</span>
                                    </span>
                                    <span ng-show="res.result" ng-class="{'is-abnormal': res.abnormal, 'one-result': results.length==1}"class="ipd-test-results" bo-text="res.result"></span>
                                </span>
                            </span>
                        </td>
                    </tr>
                <tbody>
            </table>
        </section>

        <section>
            <h2>Lab Investigations (without Accession Notes)</h2>

            <table ng-repeat="labOrderResults in labAccessions" bindonce="labAccessions">
                <thead>
                    <th colspan="3">
                        <span>Accession at </span>
                        <span bo-text="labOrderResults[0].accessionDateTime | date:'dd-MMM-yyyy HH:mm'"></span>
                    </th>
                </thead>
                <tbody ng-repeat="labOrderResult in labOrderResults">
                    <tr ng-if="labOrderResult.isPanel" class="header">
                        <td colspan="3"><strong>{{labOrderResult.orderName}}</strong></td>
                    </tr>

                    <tr ng-if="!labOrderResult.isPanel" ng-click="toggle(labOrderResult)">
                        <td ng-class="{'testUnderPanel': labOrderResult.panelName != null}">
                            <span bo-text="labOrderResult.testName"></span>
                            <span ng-show="labOrderResult.hasRange" class="range">
                                <span bo-text="'(' + labOrderResult.minNormal + ' - ' + labOrderResult.maxNormal + ')'"></span>
                                <span ng-show="labOrderResult.testUnitOfMeasurement" class="units" bo-text="labOrderResult.testUnitOfMeasurement"></span>
                            </span>
                        </td>
                        <td class="value has-toggle-btn">
                            <span ng-class="{'referred-out': labOrderResult.referredOut}">
                                <span class="referred">Referred Out</span>
                            </span>
                            <span ng-show="labOrderResult.result" ng-class="{'is-abnormal': labOrderResult.abnormal}" class="value" bo-text="labOrderResult.result"></span>
                        </td>
                        <td class="toggle-btn">
                            <button class="toggle fr" ng-class="{'has-notes': labOrderResult.notes}">
                                <i class="icon-plus-sign" ng-hide="labOrderResult.showNotes"></i>
                                <i class="icon-minus-sign" ng-show="labOrderResult.showNotes"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-show="labOrderResult.showNotes">
                        <td colspan="3" class="notes inline-notes">
                            <strong class="left">Lab Tech Notes: </strong>
                            <pre class="left">{{labOrderResult.notes}}</pre>
                            <div class="footer-note right">
                                <span class="provider" bo-text="labOrderResult.provider"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>