<div ng-controller="PatientDashboardObservationController">
    <h2 class="section-title">{{section.title}}</h2>

    <section class="block" ng-class="{'more': patientSummary.show}">
        <div ng-repeat="obsGroup in patientSummary.data">
            <label class="date">{{obsGroup.concept}} - {{obsGroup.date | date: 'dd MMM yy'}}</label>

            <div ng-repeat="observation in obsGroup.value">
                <fieldset>
                    <div class="form-field"
                         ng-class="{'is-abnormal': observation.abnormal, 'is-text': isText(observation)}">
                        <span class="field-attribute"><label>{{observation.conceptShortName || observation.concept}}</label></span>
                        <span class="value-text-only">{{observation | observationValue}}</span>
                        <span class="label-add-on" ng-hide="!observation.unit"> {{observation.unit}}</span>

                        <div class="footer-note fr">
                            <span class="value-text-only time">{{observation.observationDateTime | date :'hh:mm a'}}</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-show="patientSummary.message">
            <div class="placeholder-text">No {{section.title}} for this patient.</div>
        </div>
    </section>
</div>
