<div ng-controller="PatientDashboardRadiologyController" class="dashboard-radiology-section">
    <h2>{{section.title}}</h2>
    <section class="block" ng-class="{'more': radiologyRecords.show}">
        <ul>
            <li ng-repeat="radiologyRecord in radiologyRecords" class="radiology-doc-item">
                <a gallery-dialog="radiologyRecord.records" patient="patient" title="Radiology Documents">{{radiologyRecord.name}}</a>
                <i ng-if="isRecordForCurrentVisit(radiologyRecord)" class="icon-star current-visit-icon fr"></i>
                <span ng-if="radiologyRecord.records.length > 1">({{radiologyRecord.records.length}})</span>
            </li>
        </ul>
      <div ng-show="!radiologyRecords.length">
          <div class="placeholder-text">No radiology documents for this patient.</div>
      </div>
    </section>

</div>
