<div ng-controller="PatientDashboardRadiologyController" class="dashboard-radiology-section">
    <h2>{{section.title}}</h2>
    <section class="block">
        <ul>
            <li ng-repeat="radiologyRecordGroup in radiologyRecordGroups" class="radiology-doc-item">
                <a image-observation-gallery="radiologyRecordGroup.records" patient="patient" title="Radiology Documents">{{radiologyRecordGroup.conceptName}}</a>
                <i ng-if="isRecordForCurrentVisit(radiologyRecordGroup.records)" class="icon-star current-visit-icon fr"></i>
                <span ng-if="radiologyRecordGroup.records.length > 1">({{radiologyRecordGroup.records.length}})</span>
            </li>
        </ul>
      <div ng-hide="radiologyRecordGroups.length">
          <div class="placeholder-text">No radiology documents for this patient.</div>
      </div>
    </section>
</div>
