<div ng-controller="PatientDashboardTreatmentController">
    <h2>{{section.description}}</h2>

    <section class="block treatment-section">
        <table>
            <tr ng-repeat="drugOrder in drugOrders" ng-show="drugOrders.length">
                <td class="drug"><h5>{{drugOrder.name}} </h5></td>
                <td class="dosage">{{drugOrder.dose}} <span>{{drugOrder.dosage}}</span></td>
                <td class="days"><span>From </span>{{drugOrder.orderDate | date:'d MMM yy'}}<span> for </span>{{drugOrder.days}}
                    day(s)
                </td>
            </tr>
            <tr ng-show="!drugOrders.length">
                <td class="drug">No active treatment for this patient.</td>
            </tr>
        </table>
    </section>
</div>
