<div ng-controller="PatientDashboardTreatmentController" class="dashboard-treatment-section">
    <h2 ng-dialog="views/dashboardSections/allTreatments.html"
        ng-dialog-class="ngdialog-theme-flat ngdialog-theme-custom"
        ng-dialog-controller="PatientDashboardAllTreatmentController">{{section.title}}<button class="fr toggle btn-expand"><i class="icon-external-link"></i></button></h2>

    <section class="block treatment-section" ng-class="{'more': drugOrders.show}">
        <table ng-repeat="drugOrderSection in drugOrderSections">
            <thead>
                <th colspan="3">{{drugOrderSection.displayName}}</th>
            </thead>
            <tbody>
                <tr ng-show="!drugOrderSection.orders.length" >
                    <td class="placeholder-text">No treatment for this patient.</td>
                </tr>
                <tr ng-repeat="drugOrder in drugOrderSection.orders" ng-show="drugOrderSection.orders.length">
                    <td class="drug"><h5>{{drugOrder.name}} </h5></td>
                    <td ng-if="drugOrder.isFreeTextDosingType()" class="dosage">{{drugOrder.dosingInstructions|formatDecimalValues}}</td>
                    <td ng-if="drugOrder.isSimpleDosingType()" class="dosage">Not yet implemented</td>
                    <td class="days"><span>From </span>{{drugOrder.orderDate | date:'dd MMM yy'}}<br /><span> for </span>{{drugOrder.days}}
                        day(s)
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
