<div ng-controller="PatientDashboardVitalsController">
    <h2>{{section.description}}</h2>
    <p class="placeholder-message">{{patientSummary.message}}</p>
    <section class="block"
             ng-if="activeVisit" ng-repeat="data in patientSummary.data">
        <label class="date">{{data.date}}</label>

        <div ng-repeat="observationsForDate in data.obs">
            <div ng-repeat="member in observationsForDate.groupMembers">
                <show-obs group-by-date="true" observation="member"/>
            </div>
        </div>

    </section>
    <div ng-show="!patientSummary.data.length">
        <div class="drug">No vitals recorded for this patient.</div>
    </div>
</div>
