<section class="dashboard-tabular-obs-section dashboard-section dst-results" id="tabular-obs"
         ng-class="{'noTable' :(obsTable.rows.length == 0),'hasTable' :(obsTable.rows.length > 0 && section.rotateInPrint)}">
    <section ng-class="{'rotate':section.rotateInPrint}">
        <h2 ng-if="!isClickable()" class="section-title">{{section | titleTranslate}}</h2>
        <h2 ng-if="isClickable()"
            ng-dialog="../common/displaycontrols/tabularview/views/allObsToObsFlowSheet.html"
            ng-dialog-controller="AllObsToObsFlowSheetDetailsController"
            ng-dialog-data="{{dialogData}}"
            ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page auto-scrollable-dialog"
            class="section-title has-link">
            <span class="title-link"> {{section | titleTranslate}} </span>
            <i class="fa fa-external-link"></i>
        </h2>
        <div>
            <div class="placeholder-text" ng-if="obsTable.rows.length == 0">
                <p>{{'NO_DATA_MESSAGE' | translate}}</p>
            </div>
            <section bindonce="obsTable" class="tabular-obs" fixed-first-column>
                <table ng-if="obsTable.rows.length > 0 && getPivotOn() != 'column'">
                    <thead>
                        <tr>
                            <th ng-if="isMonthAvailable()"  ng-class="{'obsTableEdit' : header.name === config.groupByConcept && isEditable }"> Month</th>
                            <th ng-repeat="header in obsTable.headers" ng-if="header.name != 'Month'"  ng-class="{'obsTableEdit' : header.name === config.groupByConcept && isEditable,'obsTableHeaderName': getHeaderName(header).indexOf('term') > -1 , 'obsTableDate' : header.name.toLowerCase().indexOf('date') > -1}">
                                {{::getHeaderName(header)}}
                                <hint concept-details="header"/>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in obsTable.rows">
                        <td ng-if="isMonthAvailable()">{{row.columns['Month'][0].valueAsString}}</td>
                        <td ng-repeat="header in obsTable.headers" ng-if="header.name != 'Month'"
                            ng-class="{'is-abnormal-bold': row.columns[header.name][0].abnormal , 'obsTableEdit' : header.name === config.groupByConcept && isEditable }">
                            <span ng-if="row.columns[header.name][0].concept.conceptClass == 'Image'">
                                <span ng-repeat="data in row.columns[header.name]">
                                    <span class="has-link fl"  ng-if="!hasPDFAsValue(data)"
                                          ng-dialog="dashboard/views/dashboardSections/imageDisplay.html"
                                          ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page ng-dialog-edit"
                                          ng-dialog-data="{{data}}">
                                        <img class="observation-image" ng-src="{{ data.value|thumbnail }}">
                                    </span>
                                    <a ng-href="/document_images/{{ data.value}}" target="_blank" ng-if="hasPDFAsValue(data)"  >
                                        <img class="observation-image" ng-src="../../../../bahmni/images/pdfIcon.png">
                                    </a>
                                </span>
                            </span>
                            <span class="fl wrap-on-line-break"
                                  ng-if="row.columns[header.name][0].concept.conceptClass != 'Image'"
                                  ng-class="{ 'obsTableData' : header.name === config.groupByConcept && isEditable }">{{::commafy(row.columns[header.name])}}</span>
                            <span class="fl" ng-if="header.name === config.groupByConcept && isEditable" >
                                <span class="has-link fl"
                                      ng-dialog="dashboard/views/dashboardSections/editObservationForm.html"
                                      ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page ng-dialog-edit"
                                      ng-dialog-data="{{::getEditObsData(row.columns[header.name][0])}}">
                                     <i class="fl fa fa-pencil"></i>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>

                <table ng-if="obsTable.rows.length > 0 && getPivotOn() == 'column'" class="tableAsColumn">
                    <tr ng-if="isMonthAvailable()">
                        <th> Month</th>
                        <th ng-repeat="row in obsTable.rows">{{::commafy(row.columns['Month'])}}
                        </th>
                    </tr>
                    <tr ng-repeat="header in obsTable.headers" ng-if="header.name != 'Month'">
                        <td ng-class="{'obsTableEdit' : header.name === config.groupByConcept && isEditable}">
                            {{::getHeaderName(header)}}
                            <hint concept-details="header"/>
                        </td>
                        <td ng-repeat="row in obsTable.rows" ng-class="{'is-abnormal-bold': row.columns[header.name][0].abnormal , 'obsTableEdit' : header.name === config.groupByConcept && isEditable }">
                        <span class="fl wrap-on-line-break" ng-class="{ 'obsTableData' : header.name === config.groupByConcept && isEditable }">{{::commafy(row.columns[header.name])}}</span>
                        <span class="fl" ng-if="header.name === config.groupByConcept && isEditable" >
                                <span class="has-link fl"
                                      ng-dialog="dashboard/views/dashboardSections/editObservationForm.html"
                                      ng-dialog-class="ngdialog-theme-default ng-dialog-all-details-page  ng-dialog-edit"
                                      ng-dialog-data="{{::getEditObsData(row.columns[header.name][0])}}">
                                     <i class="fl fa fa-pencil"></i>
                                </span>
                        </span>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
    </section>
</section>
