.next-ui{
  .accordion {
    .accordion-header {
      cursor: pointer;
      align-items: center;

      .accordion-icon {
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }
    }
  }
}
