
<div class="login">
<div class="container-fluid reg-wrapper">
    <header class="reg-header " ng-controller="NavigationController">
                        <a class="header-logo pull-left" href="/registration">Jan Swasthya Sahyog</a>
</header>
    <div>
        <form ng-submit="login()" class="form-horizontal well" name="loginForm">
            <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
            <div class="control-group">
                <label class="control-label" for="username">Username *</label>

                <div class="controls">
                    <input type="text" name="username" id="username" ng-model="username" autofocus required placeholder="Please enter your username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password *</label>

                <div class="controls">
                    <input type="password" id="password" name="password" ng-model="password" required placeholder="Please enter your password" >
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
