
    <div class="login">

    
    <header class="reg-header " ng-controller="NavigationController">
                        <a class="header-logo pull-left" href="/registration">Jan Swasthya Sahyog</a>
    </header>
    
        <form ng-submit="login()" class="" name="loginForm">
        <div class="login-body">
            <div class="note-container">
                <div class="note error" ng-show="errorMessage">
                    <div class="text">
                    {{errorMessage}}
                </div>
                </div>
            </div>
            <div class="form-field">
                <div class="field-attribute">
                    <label for="username"><strong>Username *</strong></label>
                </div>

                <div class="field-value">
                    <input type="text" name="username" id="username" ng-model="username" autofocus required placeholder="Enter your username">
                </div>
            </div>
            <div class="form-field">
                <div class="field-attribute">
                    <label for="password"><strong>Password *</strong></label>
                </div>
                <div class="field-value">
                    <input type="password" id="password" name="password" ng-model="password" required placeholder="Enter your password" >
                </div>
            </div>

            <div class="form-field">
                <div class="field-attribute">
                    <label></label>
                </div>
                <div class="field-value">
                    <button type="submit" class="confirm" ng-disabled="loginForm.$invalid">Login</button>
                </div>
            </div>
        </div>
        </form>
    
    </div>
