<article class="visit">
    <aside bindonce class="visit-history">
        <div>
            <ul class="patient-info">
                <li class="patient-img">
                    <img ng-src="{{patient.image}}" onerror="this.onerror=null;this.src='../images/blank-user.gif';">
                </li>
                <li>{{patient.name}}</li>
                <li>{{patient.identifier}}</li>
                <li>{{patient.gender | gender }} {{patient.age}}</li>
                <li>{{patient.address.cityVillage}}</li>
            </ul>
        </div>

        <h2>Actions</h2>
        <ul>
            <li><a href="#{{getConsultationPadLink()}}">Consultation</a></li>
            <li><a href="/clinical/trends/#/patients/{{patient.uuid}}">Trends</a></li>
        </ul>

        <h2>Visit History</h2>
        <ul>
            <li ng-click="showVisitSummary(visit)" class="visit-history-entry" ng-class="{'selected': isCurrentVisit(visit), 'active': visit.isActive()}" ng-repeat="visit in visits">
                <a href="">
                    <span bo-text="visit.startDatetime | date: 'd MMM yy'"></span>
                    <span bo-text="'- ' + (visit.stopDatetime | date: 'd MMM yy')" bo-hide="visit.isActive()"></span>
                </a>
            </li>
        </ul>
    </aside>

    <article bindonce="visitSummary">
        <div ng-include="'../consultation/modules/patient-dashboard/views/diagnosisSummary.html'"/>
        <div ng-include="'../consultation/modules/patient-dashboard/views/dispositionSummary.html'"/>
        <div ng-include="'../consultation/modules/patient-dashboard/views/visitDaySummary.html'"/>
    </article>
</article>