    <section  bo-show="visitSummary.hasEncounters()" class="block investigation">
        <h2>Diagnoses</h2>
        <ul class="block-content visit-diagnosis">
            <li ng-repeat="diagnosis in visitSummary.diagnoses" >
                    <span class="diag-ps" bo-show="visitSummary.isPrimaryOrder(diagnosis.order)">P</span>
                    <span class="diag-ps" bo-show="!visitSummary.isPrimaryOrder(diagnosis.order)">S</span>
                    <span bo-text="diagnosis.codedAnswer.name"></span>
                    <span bo-text="'(' + diagnosis.certainty + ')'" bo-hide = "visitSummary.isConfirmedDiagnosis(diagnosis.certainty)"></span>
                        
                    <ul class="add-info">
                       <li class="datetime">
                            <span bo-text="(diagnosis.diagnosisDateTime | date:'d-MMM-yy h:mm a')"></span>
                        </li><li>
                            <span bo-text="diagnosis.provider.name"></span>
                        </li>
                    </ul>
            </li>
            <div bo-show="!visitSummary.hasDiagnosis()">A diagnosis has not been made for this patient yet.</div>
        </ul>
    </section>
