<ng-include src="'consultationNavigationTemplate'"></ng-include>
<div>
    <div class="leftBox">
        <div class="box" style="height: 250px;" ng-click="investigation()">Investigations</div>
        <div class="box" style="height: 250px;" ng-click="diagnosis()">Diagnosis</div>
    </div>

    <div class="rightBox">
        <div class="box" style="height: 125px">
            <div class="leftBox">
                Name : {{patient.name}} <br/>
                Age: {{patient.age}}years <br/>
                Village: {{patient.village}} <br/>
            </div>
            <div style="display:block;float:right;">
                    <img src="images/blank-user.gif">
            </div>
        </div>
        <div class="box" style="height: 375px" ng-click="treatment()">Treatment Advice</div>
    </div>
    <div class="box" style="clear: both; height: 150px" ng-click="notes()">Notes</div>
</div>