<ng-include src="'consultationNavigationTemplate'"></ng-include>
<form>
    <fieldset>
        <legend>Add Order</legend>
        <div>
            <div id="tabButtonRow">
                <button ng-repeat="tab in tabs" class="{{tab.klass}}" ng-click="activateTab(tab)">{{tab.name}} </button>
            </div>
            <div ng-include="activeTab.template"></div>
        </div>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Review Investigations Ordered</legend>
        <div id="selectedNodesArea" tabindex="0">
            <span ng-repeat="node in selectedNodes" class="selectedNode">
                {{node.display}}
            <span class="icon-remove icon-white " ng-click="removeNode(node)"></span>
            </span>
        </div>
    </fieldset>
</form>


<script type="text/ng-template" id="LabTreeSelect">
    <div tree-selector  root-concept-name="'Laboratory_Panels'"></div>
</script>

<script type="text/ng-template" id="RadiologyTreeSelect">
    <div tree-selector  root-concept-name="'TreeTestL2'"></div>
</script>

<script type="text/ng-template" id="EndoscopyTreeSelect">
    <div tree-selector  root-concept-name="'TreeTestL2'"></div>
</script>

<script type="text/ng-template" id="OthersTreeSelect">
    <div tree-selector  root-concept-name="'TreeTestL2'"></div>
</script>