$interactive-01: #007d79;
$interactive-02: #393939;
$ui-05: #D0E2FF;
$inverse-01: #0a74ff;
$border-inverse: #0a74ff;
$css--default-type: false;
$css--reset: false;
$css--body: false;
@import "~carbon-components/scss/globals/scss/styles.scss";
.next-ui{
  color: #393939;
  font-family: 'IBM Plex Sans', sans-serif;
}
.next-ui > [class*="bx--"]{
  &:disabled{
    -webkit-text-fill-color: #8d8d8d;
    opacity: 1;
  }
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}
.bx--content-switcher-btn{
  $radius: 4px;
  border-radius: 0;
  color: #0a74ff;
  border-color: #A6C8FF;
  &:first-child{
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  &:last-child{
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  &.bx--content-switcher--selected{
    border: solid;
  }
  &:after{
    background-color: #edf5ff;
  }
  &:disabled{
    -webkit-text-fill-color: $inverse-01;
    background-color: #cde3ff;
  }
}
.bx--btn--primary{
  &:hover{
    background-color: #004144;
  }
  background-color: #007d79;;
}
.bx--btn--secondary:hover{
  background-color: #6f6f6f;
}
.bx--content-switcher-btn:hover{
  color: #0a74ff;
  background-color: #cde3ff;
}
.bx--search--xl:focus {
  border: #ff832b;
}
.bx--checkbox-label:after{
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.bx--select__arrow{
  fill: #161616;
}
.bx--list-box__field{
  vertical-align: middle;
}
.bx--number input[type='number']{
  padding-right: 5rem;
  min-width: 6rem;
}
.bx--label{
  color: black;
}
.bx--tag--filter {
  color: #0043CE;
  background-color: $ui-05;
}
.bx--tabs--scrollable__nav-link {
  width: 100% !important;
}
.bx--tab-content:focus {
  outline: none;
}
.bx--list--nested {
  margin-left: 0.75rem;
}
.bx--radio-button:checked+.bx--radio-button__label .bx--radio-button__appearance::before {
  background-color: #0a74ff;
}
.bx--list-box__wrapper{
  max-width: 250px;
}
.bx--number__control-btn{
  border: none;
}
.bx--modal-container{
  width: 500px;
}
.bx--date-picker .bx--date-picker-input__wrapper--warn~.bx--form-requirement {
  color: #d48c08;
  padding-left: 5px;
}
.bx--accordion__content{
  padding: 10px;
}
.bx--accordion__item--active .bx--accordion__content{
  padding-top: 0;
  padding-bottom: 0;
}
.bx--accordion__heading{
  max-width: 100%
}
.bx--accordion__arrow{
  fill: #666666;
}
.bx--accordion__title{
  margin: 0 0 0 10px;
}
.bx--accordion__item--active .bx--accordion__arrow{
  fill: #666666;
}
.bx--modal-close {
  outline: none;
  border: none;
  background: none !important;
  top: -5px;
  right: -5px;
  padding: 0;
}

.bx--modal-close__icon {
  height: 25px;
  width: 25px;
}
.bx--inline-notification{
  position: fixed;
  top: 80px;
  left: 40%;
  width: 18rem;
}
.bx--inline-notification__details{
  margin-right: 10px;
}
