.additional-info-wrapper{
  .form .form-field .field-value{
    input[type="number"]{
      width: 12.5em;
    }
    input[type="checkbox"]{
      margin-top: 9px;
      margin-left: 0;
    }
  }
  .form-field .field-attribute label[for="isUrban"]{
    @media (max-width : 990px) {
      width: auto !important;
    }
    @media (max-width : 768px) {
      width: 17em !important;
    }
    @media (max-width : 580px) {
      width: auto !important;
    }
  }
}
