
$column-width: 100;
$gutter-width: 0;
$columns: 12;
$total-width: 100%;


@import "compass";

html,body{
  height:100%;
}
/*** grid form elements css start ***/
.form-field-inline{
  .form-field{
      float:left;
      @include column(6);
      margin-bottom:0px;
  }
  @include clearfix();
}
.form-field{
  margin-bottom:0px;
  @include clearfix();
  .field-attribute{
    float:left;
    label{
        width:15em;
        line-height:20px;
        float:left;
        text-align:right;
        margin:8px 0.8em 8px 0px;
    }
  }
  &.right-form-field{
      .field-attribute label{
        width: 18em;
      }
    }
  .field-value{
    float:left;
     input[type="text"],input[type="number"],input[type="password"],select,label{
        float:left;
        width:12.7em !important;
    }
    input#isUrban{
      margin-top: 7px;
    }
    input[type="number"]{
        width:8em;
    }
    span.text-only{
       display:inline-block;
       margin:8px 5px 8px 5px;
    }
  }
}
.input-prepend{
  float:left;
  input{
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      float:left;
      margin:0px !important;
  }
  .add-on{
    @extend input;
    border-radius: 3px;  
    height: 21px;
    min-width: 17px;
    padding: 4px 5px;
    background-color: $lightestGray !important;
    border: 1px solid $lightGray;
  }

}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend .add-on, .input-prepend .btn{
  margin-right:-1px;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{
  cursor: not-allowed;
  background-color: $lightestGray;
  &:focus{
    cursor: not-allowed;
    background-color: $lightestGray;
    outline:none;
  }
}
input[required],select[required]{
    box-shadow:none;
    &:focus{
  }
}

/********************** overridding the common ui ***********************/
.simple-form-ui{
  form{
    background: $white;
    section{
      display:block;
      padding:0px;
      border-left: none;
      background: $white;
      width: 100%;
    }
  } 
  input, select, textarea, ul.select {
    min-width: 0;
  }

  select {
    min-width: 200px;
  }
}
p.caution {
  color: red;
  padding: 15px 5px 5px 5px;
  background: $white;
  text-align:center;
}
.button.confirm, button.confirm, input[type="submit"].confirm, input[type="button"].confirm, input[type="submit"].confirm, a.button.confirm{
  padding: 7px 20px;
}
.button, button, input[type="submit"], input[type="button"], input[type="submit"], a.button{
  padding: 7px 20px;
}
button[disabled], button[disabled]:hover, button.disabled, button.disabled:hover{
    opacity: .65;
    filter: alpha(opacity=65);
    background: $lightestGray;
    border:1px solid $lightGray;
    color: $darkGray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor:default;
}
/*** grid form elements css end ***/
body{   
  width:100%;
  max-width:100%;
  margin:0px auto;
	background: $lightestGray;
  font-size:14px;
  font-family: "OpenSans",Arial,sans-serif;
}
.reg-header-wrapper{
  background: $bahmniSecondaryColor;
}
.reg-header{
	height:52px;
  max-width: 1200px;
  margin: 0 auto;
}
.remove-margin{
  margin:0px !important; 
}
body pre {
  font-family: "OpenSans";
  font-size: 14px;
  background: none;
  margin: 0;
  padding: 0;
}
/*** login specific css start ***/
.login{
    bottom: 0px;
    height: 300px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size:0.865em;
    width: 500px;
}
.login-body{
    @include clearfix();
    padding-top:20px;
    background: $white;
    border:1px solid $lightestGray;
    padding-bottom:10px;
    p.caution{
      padding:0px;
    }
    .note-container .note{
      margin:0px auto 18px auto;
    }
    .form-field .field-value{
      input[type="text"],input[type="password"]{
        width:15em;
      }
    }

}
/*** login specific css end ***/
/*** search page css start ****/
.reg-wrapper{
  .pg-container {
    max-width: $max-page-width;
    margin: 0px auto;
  }

  .inline-element,select,input,button{
      display:inline-block;
      margin:2px;
  }
  select{
        height:27px;
  }
  header {
    position: relative;
    color: $lightGray;
    border-radius: 0;
    line-height: 1em;
    background: $bahmniSecondaryColor;
    .header-logo{
      display: block;
      width: 35px;
      margin: 8px auto;
      img {
        display: block;
        width: 35px;
        border-radius: 17px;
        box-shadow: 0 8px 6px -7px $black;
      }
    }
    .top-nav {
      position: absolute;
      top: 0;
      left: 0px;
    }
    .btn-user-info {
      background: lighten($bahmniPrimaryColor, 10%);
      padding: 17px 16px;
      border: none;
      border-radius: 0;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      color: $white;
      &:focus {outline:0;}
      i.mini {
        font-size: .9em;
      }
      & + ul {
        display: none;
        &.active {
          background: lighten($bahmniPrimaryColor, 10%);
          display: block;
          position: absolute;
          right: 0;
          top: 50px;
          z-index: 1000;
        }
        li {
          float: left;
          clear: both;
          text-align: left;
          padding-left: 10px;
          border-bottom: 1px solid lighten($bahmniPrimaryColor, 10%);
          margin: 0;
          padding: 10px 10px 10px 5px;
          a.disabled {
            color: $lightGray;
            .fa-user {
                color: $lightGray;
            }
          }
        }
      }
    }
    ul{
      li{
        
        display:inline-block;
        a{
          color: $white;
          font-weight:bold;
          cursor:pointer;
          text-decoration:none;
          display: block;
          padding:14px 15px 15px 0px;
          .nav-link{
            padding-left:2px;
          }
        &:hover {
          background: lighten($bahmniPrimaryColor, 10%);
        }
       }
      }
    }
  }
.reg-search-wrapper{
    padding:10px;
    margin-top:5px;
    border:1px solid $lightestGray;
    background: $white;
    border-radius: 3px;  
    .reg-search{
        margin-bottom:10px;
        @include clearfix;
        .search-seperator-l{
          @include column(5);
          input[type="text"]{
            margin-right:5px;
            padding: 5px 10px;
          }
          border-right:2px dotted $lightGray;
            select{
              width:80px;
              min-width:80px;
          }
        }
        .search-seperator-r{
          padding:0px 0px 10px 20px;
          input[type="text"]{
            margin-right:5px;
            padding: 5px 10px;
          }
          button{
            margin: 0px 2px 2px 2px;
          }
          .reg-srch-btn{
            margin-top:25px;
          }
        }
    }
    .note-container{
        text-align:left;
       .note {
           padding:6px 10px 6px 10px; 
           .text{
            p{
              max-width:100%;
              top:0px;
              margin-left:0
            }
          }
        }
    }
}  
table{
    td,th{
        padding:9px 8px 9px 8px;
        text-align:left;
    }
    tr:hover{
      background: $lightestGray;
    }
  }
  .slno_col{
        width:40px;
  }
  .edit-col{
      width:160px;
      padding:2px 2px 2px 2px;
      // .split-button-wrapper{
      //     @include legacy-pie-clearfix();
      //     position: relative;
      //     height: 37px;
      // }
      // .split-button{
      //   position:absolute;
      //   top:2px;
      //   left:10px;
      // }
      a{
        background:image-url("edit.png") top left no-repeat;
        width:30px;
        height:24px;
        display:inline-block;
        margin-right:2px;
        cursor:pointer;
      }
  }
 /*** search page css end ***/

 /****edit page css start ***/
 .reg-body-wrapper{
    padding:10px;
    background: $white;
 }
 .edit-patient,.new-patient,.visit-patient{
  position:relative;
 }
 .photocontainer-spacing{
    margin-bottom:57px;
 }
.photo-container-wrapper{
    position:absolute;
    top:31px;
    right:10px;
    border:7px solid $lightestGray;
  }
  .capture-photo-btn{
    position:absolute;
    top:0px;
    left:-56px;
    .btn{
      background: image-url("photo.png") 2px 3px no-repeat;
      width:40px;
      height:40px;
    }
  }
}

.grid-row {
    padding: 2px;
}
.grid-row-element {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    .fa-ok {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 14px;
        line-height: inherit;
    }
}
.grid-row-element.active {
    color: $bahmniTertiaryColor;
    padding-left: 3px;
    .fa-ok {
        display: inline-block;
    }
}

.mylegend {
    background: $lightestGray;
    font-size: 14px;
    width:99.8%;
    line-height: 16px;
    margin-bottom:20px;
    padding: 3px 0;
    border-radius: 3px;
    border:1px solid $lightGray;
    span{
        display:inline-block;
        padding:2px 10px;
        font-weight:bold;
    }
    &.registraion_legend{
      margin: 15px 0 15px 25px;
      width:96%;
    }
    &.registraion_Basic_info{
      width: 84%;
    }
}
.asterick{
    color:red;
}

.input-label-inline{
    margin-top:6px;
    display:inline-block;
    label{
        display: inline-block;
        margin-top:2px;
        }
}
@media screen and (max-width: 1100px) {
  .caste-lastname {
    display: block;
    width: 205px;
    overflow: auto;
    position: absolute;
    right: 207px;
    top: 165px;
  }
}


.submit-btn-container{
    padding:10px 20px 0px 20px;
    border-top: 1px solid $lightestGray;
    margin-top: 30px;
    clear: both;
}

.obs-section section.block.hierarchy {
  .field-attribute {vertical-align: top;}
  .testUnderPanel {width: 40%;display: inline-block;}
  .value-text-only {width: 37%;}
}

.print-layout {
  display: none;
}

@media print {
  .print-layout {
    display: block;
  }
  .non-printable, .alert, header {
    display: none;
  }
}
.btn-secondary {
  float: right;
}   
table{
    tr{ 
        th{
            border:1px solid $lightGray;
            background: $lightestGray;
     
        }
    }
}

#photo-canvas-container {
  text-align: center;
}

#patient-image {
  height: 125px;
  width: 125px;
}
/***** photo dialog css start *****/
video{
  display:block;
}
.photoCaptureDialog{
    .photo-video-container{
        position:relative;
        width:229px;
        float:left;
        .photoCapture-left-overlay{
          position:absolute;
          height:169px;
          width:25px;
          left:0px;
          top:6px;
          background: $lightestGray;
        }
        .photoCapture-right-overlay{
          position:absolute;
          height:169px;
          width:31px;
          right:0px;
          top:6px;
          background: $lightestGray;
        }
    }      
    .photo-canvas-container{
      float:left;
      width:188px;
      margin-top:6px;
      margin-left:30px !important;
      canvas{
        border:2px solid $white;
        height:167px;
        width:175px;
        background: $lightestGray;
      }
    } 
    .take-photo-btn{
      margin:10px 54px 5px 54px
    }
    .confirmImage{
      margin:10px 5px 5px 55px;
    }
    .row-clear{
    @include clearfix();
    }

}
/***** photo dialog css end *****/

/** responsive css **/
@media screen and (max-width: 1024px){
  .reg-wrapper{
      width:1024px;
      }
}
@media screen and (max-height: 800px) {
  .reg-wrapper{
    .reg-search-wrapper .reg-search {
      .search-seperator-l{
        width:36%;
    }
      .search-seperator-r{
        padding-left:10px;
    }
    }
    .form-field-inline {
      &:last-child{
        margin-bottom:0px;
      }
      .form-field{
        margin-bottom:0px;
      }
      &.form-field-gender{
        margin-bottom:4px;
      }
    }
    .form-field .field-attribute label{
        margin:5px 0.8em 7px 0px;
    }
    .form-field .field-value span.text-only{
        margin:5px 0.8em 7px 8px;
    }
  }
}

.age-field {
  .input-prepend {
    margin: 5px 2px;
    .add-on {
      padding: 4px;

    }
  }

  #ageYears {
    width: 30px !important;
  }

  #ageMonths, #ageDays {
    width: 20px !important;
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}  
  }

.field-attribute label {
  text-transform: capitalize;
}
/*** overriding jquery styling start****/
.ui-widget-header{
  border:1px solid lighten($bahmniPrimaryColor, 10%);
  background:$bahmniPrimaryColor;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{
  background-image:url("../lib/jquery/images/ui-icons_222222_256x240.png");
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  border: 1px solid #36CC4E;
  background: #D6FACF;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  border: 1px solid #36CC4E;
  background: #D6FACF;
  font-weight: bold;
  color: #048B24;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
  border: 1px solid #107C22;
  background: #FFF9D8;
  color: #1EB642;
}
/**** overriding jquery styling end *****/
/*Observations*/
.observation-section {
  margin-top: 40px;
  fieldset {
    border: 0!important;
  }
  fieldset.hasLegend {
    padding: 0;
    width: 98%;
    .mylegend {
      .form-group {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .form-field {
    padding-top: 10px;
    margin-bottom: 0;
  }
  .field-attribute {
    width:18em;
    .label-add-on {
      float:left;
      text-align:left;
      margin:0.5em 0em 0em 0em;
    }
  }
  fieldset {
    padding-bottom: 0;
    padding-top: 0;
    position:relative;
    width: 100%;
    legend {
      background: $lightestGray;
      font-size: 14px;
      width: 100%;
      line-height: 16px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid $lightGray;
      padding: 2px 8px 2px 12px;
    }
    fieldset {
      .form-group {
        label span {
          text-transform: capitalize;
        }
      }
      legend + .form-group {
        margin: 0;
      }
      legend {
        position:absolute;
        top:-14px;
        left:20px;
        padding:5px 10px;
        font-family: $OpenSansBoldFont;
        color: $mediumGray;
        background: $white;
        border: none;
        width: auto;
        margin-bottom: 5px;
        margin-left: 40px;
      }
      .form-field-group {
        &:first-child {
          border-top:1px solid $lightGray;
          border-right:1px solid $lightGray;
          border-left:1px solid $lightGray;
        }
        &:last-child {
          border-bottom:1px solid $lightGray;
          border-right:1px solid $lightGray;
          border-left:1px solid $lightGray;
          padding-bottom:9px;
        }
      }
    }
  }
  input[type="date"] + .hint {
    display: none;
  }
  .hint {
    font-size: 13px;
    display: inline-block;
    color: $mediumGray;
    float: left;
    margin-top: 7px;
  }
  .info {
    color: $bahmniLinkColor;
    width: 200px;
    font-size: 14px;
    line-height: 1.4em;
  } 
}
form .vitals .form-field .field-value {
  input {
    width: 10em;
  }
  .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid lighten($mediumGray, 20%);
  }
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 11em;
      margin-left: 20px;
      margin-right: 15px;
      text-align: right;
    }
    // &.hasLegend {
    //   label {
    //     margin-left: 10px;
    //   }
    // }
    .field-value {
      width: 16em;
    }
  }
}

.checkbox-inline {
  margin-top: 7px;
  float: left;
  input[type="checkbox"] {
    margin-left: 10px!important;
  }
  span {
    display: inline-block;
    margin-top: 2px;
  }
}

concept {
  input:invalid {
    background-color: $clinicalFormInvalid;
    outline: 2px solid darken($clinicalFormInvalid, 30%);
    &:focus {
      outline: 2px solid darken($clinicalFormInvalid, 30%);
    }
  }
}

.reg-body-wrapper {
  .obs-section.right {
    section.block {
      div.line-item {
        border-bottom: 1px solid $lightGray;
        &:last-child {
          border-bottom: 0;
        } 
      }
      div fieldset {
        padding: 0; margin: 0;
        .form-field .field-attribute label {
          margin: 0; text-align: left;
        }
        .form-field span.value-text-only {
          float: left;
        }
        .form-field:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .concept-set-group {
    fieldset.hasLegend .offset-label {
      padding-left: 180px;
      textarea {
        width: 100%;
      }
    }
  }
}
/*Observations*/

//icon buttons

.comment-toggle {
    padding: 5px;
    .fa-file {
        position: relative;
        font-size: 21px;
        color: $mediumGray;
        .fa-plus-sign, .fa-ok-sign, .fa-plus {
            position: absolute;
            right: 1px;
            bottom: 2px;
            font-size: 14px;

            color: green;
            background: $white;
            border-radius: 8px;
            padding: 0;
        }

    }        
    .fa-file-alt {
        font-size: 21px;
        color: orange;
    }
}

.hierarchy {
  .form-field .field-attribute label {margin: 0; text-align: left;}
}
.obs-section section.hierarchy .form-field {padding: 0;}

.time.fr {float: right; margin-right: 5px;}

button u, u {
    text-decoration: none;
    border-bottom: 1px solid;
    font-family: $OpenSansBoldFont;
}

.mylegend.additional-attribute {
  margin-top: 15px;
  span {
    display: block;
  }
  a, a:hover {
    color: $darkGray;
    text-decoration: none;
    width: 100%;
    &:focus {
      outline: 2px solid $clinicalFormFocus;
    }
  }
}

.paddingBottom-15{
  padding-bottom: 15px !important;
}
.relationships {
  .table {
    .row {
      border-bottom: 1px solid $lightGray;
    }
    .table-header.row {
      border-bottom: 1px solid $lightGray;
    }
  }
  .new-relationship, .current-relationship, .history-relationship {
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .new-relationship {
    border: 1px solid darken($lightGray, 10%);
    margin: 0px 5px 20px 5px;
    background: $white;
    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
    .row-remover {
      border: 1px solid $lightGray;
      border-radius: 5px;
      float: right;
      padding: 5px 10px;
      margin-bottom: 10px;
      span {
        font-size: 20px;
        color: $clinicalRemoveBtn;
        padding: 0;
      }
    }
  }
  .table-header {
    background: $lightestGray;
    border-radius: 5px 5px 0 0;
    span {
      font-size: 14px;
      white-space: nowrap;
      color: $mediumGray;
      font-family: $OpenSansBoldFont;
      font-weight: normal;
      padding-left: 10px;
    }
  }
  .col1 {
    @include column(3);
    input[type="text"] {
      min-width: 160px;
      margin-left: 10px;
      margin-top: 0;
      float: left;
    }
    input[type="checkbox"] {
      margin-top: 8px;
    }
    label.add-new {margin-top: 10px; font-size: 12px;}
    width: 25%;
  }
  .col2 {
    @include column(3);
    button:first-child {
      margin-left: 10px;
    }
    width: 30%;
  }
  .col3 {
    @include column(3);
    button:first-child {
      margin-left: 10px;
    }
    width: 25%;
  }
  .col4 {
    @include column(2);
    width: 15%;
  }
}
.registraition-search-results-container{
  overflow-x: auto;
}