@charset "UTF-8";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fragments/grid";

$column-width: 100;
$gutter-width: 0;
$columns: 12;
$total-width: 100%;


@import "compass";

html,body{
  height:100%;
}
/*** grid form elements css start ***/
.form-field-inline{
  .form-field{
      float:left;
      @include column(6);
      margin-bottom:10px;
  }
  @include clearfix();
}
.form-field{
  margin-bottom:10px;
  @include clearfix();
  .field-attribute{
    float:left;
    label{
        width:13em;
        line-height:20px;
        float:left;
        text-align:right;
        margin:8px 0.8em 8px 0px;
    }
  }
  .field-value{
    float:left;
     input[type="text"],input[type="password"],select,label{
        float:left;
        width:12.5em;
    }
    input[type="number"]{
        width:8em;
    }
    span.text-only{
       display:inline-block;
       margin:8px 5px 8px 5px;
    }
  }
}
.input-prepend{
  float:left;
  input{
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      float:left;
      margin:0px !important;
  }
  .add-on{
    @extend input;
    @include border-radius();  
    height: 21px;
    min-width: 17px;
    padding: 4px 5px;
    background-color: #eee !important;
    border: 1px solid #ccc;
  }

}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend .add-on, .input-prepend .btn{
  margin-right:-1px;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{
  cursor: not-allowed;
  background-color: #eee;
  &:focus{
    cursor: not-allowed;
    background-color: #eee;
    outline:none;
  }
}
input[required],select[required]{
    box-shadow:none;
    &:focus{
  }
}
.reg-search-wrapper .split-button li{
  width:7.5em;
}
.split-button{
  overflow:hidden;
  margin: 2px;
  border-radius: 3px;
  ul{
    border-radius: 3px 0 0 3px;
    border-right:none;
    overflow:hidden;
    float:left;
    li{
        font-size:.9em;
        &.secondaryOption{
          display: none;
          border: 1px solid #ccc;
          border-top: 0;
          border-bottom: 0;
          &:last-child {
            border-bottom: 1px solid #ccc;
            border-radius: 0 0 3px 3px;
          }
          button{
              background:#fff;
              color:#000;
              position:relative;
              z-index:99;
              border-radius: 3px 0 0 3px;
            &:hover {
              background: #f5f5f5;
            }
          }
        }
        button {
          width: 100%;
          margin:0px;
          font-size: 14px;
          border-radius: 3px 0 0 3px;
          &:focus{
            outline:none;
          }
        }
    }
  }
  .toggle-button{
    float:left;
    margin:0px;
    font-size:19px;
    border-radius:0px 3px 3px 0;
    border-left:none;
    padding: 5.5px 10px;
    &:focus{
      outline:none;   
    }
  }
}

.submit-btn-container {
  .split-button {
    .primaryOption button, .toggle-button {
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a1d030), color-stop(100%, #88af28));
      background: -webkit-linear-gradient(top, #a1d030, #88af28);
      background: -moz-linear-gradient(top, #a1d030, #88af28);
      background: -o-linear-gradient(top, #a1d030, #88af28);
      background: linear-gradient(top, #a1d030, #88af28);
      background-color: #88af28;
      border: #88af28 1px solid;
      color: white;
      &:hover {
        background: #8eb82a;
        border-color: #779b23;
      }
    }
  }
}
.submit-btn-container {
  .split-button {
    position: relative;
    ul {
      width: 300px;
      li button {
        text-align: left;
        border: 0;
      }
    }
    .toggle-button {
      position: absolute;
      z-index: 1;
      right: 0;
    }
  }
}

.edit-col {
  .split-button {
    position: relative;
    ul {
      width: 100px;
      li.secondaryOption button {
        border: 0;
        border-radius: 0;
      }
      li button {
        text-align: left;
      }
    }
    .toggle-button {
      position: absolute;
      z-index: 1;
      right: 3px;
    }
  }
}
/********************** overridding the common ui ***********************/
.simple-form-ui{
  form{
    background:#fff;
    section{
      display:block;
      padding:0px;
      border-left: none;
      background: #fff;
      width: 100%;
    }
  } 
}
p.caution {
  color: red;
  padding: 15px 5px 5px 5px;
  background:#fff;
  text-align:center;
}
.button.confirm, button.confirm, input[type="submit"].confirm, input[type="button"].confirm, input[type="submit"].confirm, a.button.confirm{
  padding: 7px 20px;
}
.button, button, input[type="submit"], input[type="button"], input[type="submit"], a.button{
  padding: 7px 20px;
}
button[disabled], button[disabled]:hover, button.disabled, button.disabled:hover{
    opacity: .65;
    filter: alpha(opacity=65);
    background:#e6e6e6;
    border:1px solid #d0d0d0;
    color:#363463;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor:default;
}
/*** grid form elements css end ***/
body{   
  width:100%;
  max-width:100%;
  margin:0px auto;
	background:#f5f5f6;
  font-size:14px;
  font-family: "OpenSans",Arial,sans-serif;
}
.reg-header{
	height:50px;
}
.remove-margin{
  margin:0px !important; 
}

/*** login specific css start ***/
.login{
    bottom: 0px;
    height: 300px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size:0.865em;
    width: 500px;
}
.login-body{
    @include clearfix();
    padding-top:20px;
    background:#ffffff;
    border:1px solid #eaeaea;
    padding-bottom:10px;
    p.caution{
      padding:0px;
    }
    .note-container .note{
      margin:0px auto 18px auto;
    }
    .form-field .field-value{
      input[type="text"],input[type="password"]{
        width:15em;
      }
    }

}
/*** login specific css end ***/
/*** search page css start ****/
.reg-wrapper{
  .pg-container {
    max-width:1200px;
    margin: 0px auto;
  }

  .inline-element,select,input,button{
      display:inline-block;
      margin:2px;
  }
  select{
        height:30px;
  }
  header {
    position: relative;
    color: #CCC;
    border-radius: 0;
    .header-logo{
      display: block;
      width: 35px;
      margin: 8px auto;
      img {
        display: block;
        width: 35px;
        border-radius: 17px;
        box-shadow: 0 8px 6px -7px #000;
      }
    }
    .top-nav {
      position: absolute;
      top: 0;
      left: 0;
    }
    .btn-user-info {
      background: #015B52;
      padding: 15px;
      border: none;
      border-radius: 0;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      &:focus {outline:0;}
      i.mini {
        font-size: .9em;
      }
      & + ul {
        display: none;
        &.active {
          background: #015B52;
          display: block;
          position: absolute;
          right: 0;
          top: 50px;
          z-index: 1000;
        }
        li {
          float: left;
          clear: both;
          text-align: left;
          padding-left: 10px;
          border-bottom: 1px solid #02675d;
          margin: 0;
          padding: 10px 10px 10px 5px;
          a.disabled {
            color: #999;
            .icon-user {
                color: #999;
            }
          }
        }
      }
    }
    ul{
      li{
        
        display:inline-block;
        a{
          color:#f2f2f2;
          font-weight:bold;
          cursor:pointer;
          text-decoration:none;
          display: block;
          padding:11px 15px 15px 0px;
          .nav-link{
            padding-left:2px;
          }
        &:hover {
          background: #015B52;
        }
       }
      }
    }
  }
.reg-search-wrapper{
    padding:10px;
    margin-top:5px;
    border:1px solid #cecece;
    background:#fff;
    @include border-radius();  
    .reg-search{
        margin-bottom:10px;
        @include clearfix;
        .search-seperator-l{
          @include column(5);
          border-right:2px dotted #9E9D9D;
            select{
              width:80px;
              min-width:80px;
          }
        }
        .search-seperator-r{
          padding:0px 0px 10px 20px;
          input{
            margin-right:5px;
          }
          .reg-srch-btn{
            margin-top:25px;
          }
        }
    }
    .note-container{
        text-align:left;
       .note {
           padding:6px 10px 6px 10px; 
           .text{
            p{
              max-width:100%;
              top:0px;
              margin-left:0
            }
          }
        }
    }
}  
table{
    td,th{
        padding:9px 8px 9px 8px;
        text-align:left;
    }
    tr:hover{
      background:#f1f1f1;
    }
  }
  .slno_col{
        width:40px;
  }
  .edit-col{
      width:160px;
      padding:2px 2px 2px 2px;
      .split-button-wrapper{
          @include legacy-pie-clearfix();
          position: relative;
          height: 37px;
      }
      .split-button{
        position:absolute;
        top:2px;
        left:10px;
      }
      a{
        background:image-url("edit.png") top left no-repeat;
        width:30px;
        height:24px;
        display:inline-block;
        margin-right:2px;
        cursor:pointer;
      }
  }
 /*** search page css end ***/

 /****edit page css start ***/
 .reg-body-wrapper{
    padding:10px;
    background:#ffffff;
 }
 .edit-patient,.new-patient,.visit-patient{
  position:relative;
 }
 .photocontainer-spacing{
    margin-bottom:57px;
 }
.photo-container-wrapper{
    position:absolute;
    top:31px;
    right:10px;
    border:7px solid #f0f0f0;
  }
  .capture-photo-btn{
    position:absolute;
    top:0px;
    left:-56px;
    .btn{
      background: image-url("photo.png") 2px 3px no-repeat;
      width:40px;
      height:40px;
    }
  }
}

.mylegend {
    background:#e6e6e6;
    font-size: 14px;
    width:99.8%;
    line-height: 16px;
    margin-bottom:20px;
    @include border-radius();
    border:1px solid #d4d4d4;
    span{
        display:inline-block;
        padding:2px 10px;
        font-weight:bold;
    }
}
.asterick{
    color:red;
}

.input-label-inline{
    margin-top:6px;
    display:inline-block;
    label{
        display: inline-block;
        margin-top:2px;
        }
}
@media screen and (max-width: 1100px) {
  .caste-lastname {
    display: block;
    width: 205px;
    overflow: auto;
    position: absolute;
    right: 207px;
    top: 165px;
  }
}


.submit-btn-container{
  @include clearfix();
  padding:10px 20px 0px 20px;
  border-top: 1px solid #efefef;
  margin-top: 30px;
}
#overlay {
  display: none;
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.6) url('../images/spinner.gif') no-repeat center center;
  div{
    width:100%;
    height: 100%;
  }
}

#loader {
  z-index: 10000;
  width: 100%;
  height: 20px;
  margin: 20px auto;
  background-image:image-url("loader.gif");
  background-repeat:no-repeat;
  background-position:center;
}

.print-layout {
  display: none;
}

@media print {
  .print-layout {
    display: block;
  }
  .non-printable, .alert, header {
    display: none;
  }
}
.btn-secondary {
  float: right;
}   
table{
    tr{ 
        th{
            border:1px solid #d4d4d4;
            background:#e6e6e6;
     
        }
    }
}

#photo-canvas-container {
  text-align: center;
}

#patient-image {
  height: 125px;
  width: 125px;
}
/***** photo dialog css start *****/
video{
  display:block;
}
.photoCaptureDialog{
    .photo-video-container{
        position:relative;
        width:229px;
        float:left;
        .photoCapture-left-overlay{
          position:absolute;
          height:169px;
          width:25px;
          left:0px;
          top:6px;
          background:#EEEEEE;
        }
        .photoCapture-right-overlay{
          position:absolute;
          height:169px;
          width:31px;
          right:0px;
          top:6px;
          background:#EEEEEE;
        }
    }      
    .photo-canvas-container{
      float:left;
      width:188px;
      margin-top:6px;
      margin-left:30px !important;
      canvas{
        border:2px solid #fff;
        height:167px;
        width:175px;
        background:#f2f2f2;
      }
    } 
    .take-photo-btn{
      margin:10px 54px 5px 54px
    }
    .confirmImage{
      margin:10px 5px 5px 55px;
    }
    .row-clear{
    @include clearfix();
    }

}
/***** photo dialog css end *****/

/** responsive css **/
@media screen and (max-width: 1024px){
  .reg-wrapper{
      width:1024px;
      }
}
@media screen and (max-height: 800px) {
  .reg-wrapper{
    .reg-search-wrapper .reg-search {
      .search-seperator-l{
        width:36%;
    }
      .search-seperator-r{
        padding-left:10px;
    }
    }
    .form-field-inline {
      &:last-child{
        margin-bottom:10px;
      }
      .form-field{
        margin-bottom:0px;
      }
      &.form-field-gender{
        margin-bottom:4px;
      }
    }
    .form-field .field-attribute label{
        margin:5px 0.8em 7px 0px;
    }
    .form-field .field-value span.text-only{
        margin:5px 0.8em 7px 8px;
    }
  }
}

.age-field {
  .input-prepend {
    margin: 5px 2px;
    .add-on {
      padding: 4px;

    }
  }

  #ageYears {
    width: 30px;
  }

  #ageMonths, #ageDays {
    width: 20px;
  }

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}  
  }

.field-attribute label {
  text-transform: capitalize;
}
/*** overriding jquery styling start****/
.ui-widget-header{
  border:1px solid #104D05;
  background:$bahmniPrimaryColor;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{
  background-image:url("../lib/jquery/images/ui-icons_222222_256x240.png");
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  border: 1px solid #36CC4E;
  background: #D6FACF;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  border: 1px solid #36CC4E;
  background: #D6FACF;
  font-weight: bold;
  color: #048B24;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
  border: 1px solid #107C22;
  background: #FFF9D8;
  color: #1EB642;
}
/**** overriding jquery styling end *****/
/*Observations*/
.observation-section {
  margin-top: 40px;
  fieldset {
    border: 0!important;
  }
  fieldset.hasLegend {
    padding: 0;
    width: 98%;
    .mylegend {
      .form-group {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .form-field {
    padding-top: 10px;
    margin-bottom: 0;
  }
  .field-attribute {
    width:18em;
    .label-add-on {
      float:left;
      text-align:left;
      margin:0.5em 0em 0em 0em;
    }
  }
  fieldset {
    padding-bottom: 0;
    padding-top: 0;
    position:relative;
    width: 100%;
    legend {
      background: #e6e6e6;
      font-size: 14px;
      width: 100%;
      line-height: 16px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      padding: 2px 8px 2px 12px;
    }
    fieldset {
      .form-group {
        label span {
          text-transform: capitalize;
        }
      }
      legend + .form-group {
        margin: 0;
      }
      legend {
        position:absolute;
        top:-14px;
        left:20px;
        background:#fff;
        padding:5px 10px;
        font-family: OpenSansBold;
        color:#A8A5A5;
        background: #fff;
        border: none;
        width: auto;
        margin-bottom: 5px;
        margin-left: 40px;
      }
      .form-field-group {
        &:first-child {
          border-top:1px solid #cecece;
          border-right:1px solid #cecece;
          border-left:1px solid #cecece;
        }
        &:last-child {
          border-bottom:1px solid #cecece;
          border-right:1px solid #cecece;
          border-left:1px solid #cecece;
          padding-bottom:9px;
        }
      }
    }
  }
  input[type="date"] + .hint {
    display: none;
  }
  .hint {
    font-size: 13px;
    display: inline-block;
    color: #777;
    float: left;
    margin-top: 7px;
  }
  .info {
    color: #0099ff;
    width: 200px;
    font-size: 14px;
    line-height: 1.4em;
  } 
}
form .vitals .form-field .field-value {
  input {
    width: 10em;
  }
  .autocomplete {
    border-radius: 5px;
  }
  .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #aaa;
  }
}

.form-horizontal {
  fieldset {
    label {
      float: left;
      width: 10em;
      margin-left: 20px;
      margin-right: 15px;
      text-align: right;
    }
    &.hasLegend {
      label {
        margin-left: 10px;
      }
    }
    .field-value {
      width: 16em;
    }
  }
}

.checkbox-inline {
  margin-top: 7px;
  float: left;
  input[type="checkbox"] {
    margin-left: 10px!important;
  }
  span {
    display: inline-block;
    margin-top: 2px;
  }
}

.illegalValue {
  border: 2px solid;
  border-color: #ff6666;
  background: white;
}

concept {
  input:invalid {
    background-color: #ffcdcd;
    outline: 2px solid #ff0000;
    &:focus {
      outline: 2px solid #ff0000;
    }
  }
}

label.local-name-reg {
	margin-top: 5px;
	strong {
		font-weight: bold;
	}
}

.reg-body-wrapper {
  .obs-section.right {
    section.block {
      div.line-item {
        border-bottom: 1px solid #ccc;
        &:last-child {
          border-bottom: 0;
        } 
      }
      div fieldset {
        padding: 0; margin: 0;
        .form-field .field-attribute label {
          margin: 0; text-align: left;
        }
        .form-field span.value-text-only {
          float: left;
        }
        .form-field:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
/*Observations*/