<div class="vitals form-horizontal">
    <fieldset ng-hide="observation.isGroup()">
        <div class="form-group">
            <label class="control-label">
                <span>{{observation.label}}&nbsp;</span>
                <span ng-show="observation.units">({{observation.units}})</span>
            </label>
            <div ng-switch on="$parent.observation.isText()">
                <div ng-switch-when="true">
                    <textarea class="form-control" ng-model="$parent.observation.value"
                              ng-change="$parent.observation.onValueChanged()"
                              value="$parent.observation.displayValue()"></textarea>
                </div>

                <div ng-switch-default>
                    <div ng-switch on="observation.possibleAnswers.length">
                        <div ng-switch-when="0" add-obs-constraints obs="observation">
                            <div class="field-value">
                                <input type="text" class="form-control" ng-model="observation.value"
                                       ng-change="observation.onValueChanged()"/>
                            </div>
                        </div>
                        <div ng-switch-default ng-show="observation.possibleAnswers.length > 0">
                            <div class="field-value">
                                <select class="form-control" ng-model="observation.value" ng-change="observation.onValueChanged()"
                                        ng-options="answer.uuid as answer.display for answer in observation.possibleAnswers">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </fieldset>

    <fieldset ng-show="observation.isGroup()" class="hasLegend">
        <legend class="mylegend"><strong>{{observation.label}}</strong></legend>
        <div class="form-group">
            <div class="form-field form-field-group" ng-repeat="member in observation.groupMembers">
                <show-concept observation="member"></show-concept>
            </div>
        </div>
    </fieldset>
</div>