<div class="vitals form-horizontal">
    <fieldset ng-hide="observation.isGroup()">
        <div class="form-group">
            <label class="control-label">
                <span>{{observation.label}}&nbsp;</span>
                <span ng-show="observation.units">({{observation.units}})</span>
            </label>
            <div class="field-value">
                <input ng-if="$parent.observation.isHtml5InputDataType()" add-obs-constraints obs="$parent.observation" class="form-control" ng-model="$parent.observation.value" ng-change="$parent.observation.onValueChanged()"
                value="$parent.observation.displayValue()"/>

                <textarea ng-if="$parent.observation.isText()" class="form-control" ng-model="$parent.observation.value"
                          ng-change="$parent.observation.onValueChanged()"
                          value="$parent.observation.displayValue()"></textarea>

                <select ng-if="$parent.observation.isCoded()" class="form-control" ng-model="observation.value" ng-change="observation.onValueChanged()"
                        ng-options="answer.uuid as answer.display for answer in observation.possibleAnswers">
                </select>

                <span class="form-control" ng-if="!$parent.observation.hasSupportedDataType()">
                    The concept data type '{{$parent.observation.getDataTypeName()}}' is not supported yet.
                </span>
            </div>
        </fieldset>

    <fieldset ng-show="observation.isGroup()" class="hasLegend">
        <legend class="mylegend"><strong>{{observation.label}}</strong></legend>
        <div class="form-group">
            <div class="form-field form-field-group" ng-repeat="member in observation.groupMembers">
                <show-concept observation="member"></show-concept>
            </div>
        </div>
    </fieldset>
</div>