<div class="ADT-container">
    <form>
        <div id="observations">
            <div class="patient-attributes">
                <label>Admitted By: </label>
                <span></span>
            </div>
            <div class="patient-attributes">
                <label>Admitted On: </label>
                <span></span>
            </div>
            <div class="patient-attributes">
                <label>Expected Date Of Discharge: </label>
                <span></span>
            </div>

        </div>
        <div class="clearfix action-button" ng-if="showAdtButtons()">
            <button class="adt-admit" ng-click="admit()" ng-disabled="disableAdmitButton()">Admit</button>
            <button class="adt-transfer" ng-click="transfer()" ng-disabled="disableTransferAndDischargeButton()">Transfer</button>
            <button class="adt-discharge" ng-click="discharge()" ng-disabled="disableTransferAndDischargeButton()">Discharge</button>
        </div>
    </form>
</div>