<div id="bedManagement">
    <div id="left-pane">
        <div id="patient-info">
            <div id="patient-details">
                <div class="clearfix">
                    <label>Patient ID : </label>
                    <a href="/bahmni/clinical/#/programs/patient/{{ patientUuid }}/consultationContext">
                        <span>{{ patient.identifier }}</span>
                    </a>
                </div>
                <div class="clearfix">
                    <label>Patient Name : </label>
                    <span>{{ patient.name }}</span>
                </div>
                <div class="clearfix">
                    <label>Age : </label>
                    <span>{{ patient.age }}</span>
                </div>
                <div class="clearfix">
                    <label>Gender : </label>
                    <span>{{ patient.gender }}</span>
                </div>

            </div>
        </div>
        <adt patient="patient" encounterConfig="encounterConfig" bed="bed"></adt>
        <div id="bedDetails">
            <div>
                <label>Department</label>
                <input type="text" value="{{ ward.name }}" readonly/>
            </div>
            <div>
                <label>Room# </label>
                <input type="text" value="{{ $root.selectedBedInfo.roomName }}" readonly/>
            </div>
            <div>
                <label>Bed# </label>
                <input type="text" value="{{ $root.selectedBedInfo.bed.bedNumber }}" readonly/>
            </div>
            <div>
                <label>Status</label>
                <input type="text" value="{{ $root.selectedBedInfo.bed.status }}" readonly/>
            </div>

        </div>
    </div>
    <div id="right-pane">
        <div class="clearfix">
            <label>Admission Master</label>
            <button ng-repeat="option in wards"
                    ng-click="onSelectDepartment(option.ward)">{{ option.ward.name }}</button>
        </div>
        <ward ward="ward" ng-if="departmentSelected"></ward>
    </div>
</div>