<!--<ui-view/>-->
<div id="bedManagement" class="bed-management">
    <div class="left-pane">
        <h6>Patient Details</h6>
        <div class="admittedPatientInfo clearfix">
            <div class="patient-attributes">
                <label>Patient ID: </label>
                <a ng-click="goToAdtPatientDashboard()">{{ patient.identifier }}</a>
            </div>
            <div class="patient-attributes">
                <label>Patient Name: </label>
                <span>{{ patient.name }}</span>
            </div>
            <div class="patient-attributes">
                <label>Age: </label>
                <span>{{ patient.age }}</span>
            </div>
            <div class="patient-attributes">
                <label>Gender: </label>
                <span>{{ patient.gender }}</span>
            </div>
        </div>
        <adt patient="patient" encounterConfig="encounterConfig" bed="bed"></adt>
        <div class="clearfix">
            <div class="patient-attributes">
                <label>Department: </label>
                <span>{{ward.name}}</span>
            </div>
            <div class="patient-attributes">
                <label>Room: </label>
                <span>{{$root.selectedBedInfo.roomName}}</span>
            </div>
            <div class="patient-attributes">
                <label>Bed# </label>
                <span>{{$root.selectedBedInfo.bed.bedNumber}}</span>
            </div>
            <div class="patient-attributes">
                <label>Status: </label>
                <span>{{$root.selectedBedInfo.bed.status}}</span>
            </div>
        </div>

    </div>
    <div class="right-pane">
        <div class="bed-management-header clearfix">
            <h6>Admission Master</h6>
            <div class="bedTypeSelection">
            <button ng-repeat="option in wards"
                    ng-click="onSelectDepartment(option.ward)"
                    ng-class="{'selected': option.ward.isSelected}"
            >{{ option.ward.name }}</button>
        </div>
        </div>
        <ward ward="ward" ng-if="departmentSelected"></ward>
    </div>
</div>