<div class="clearfix">
    <div class="fl" style="padding-top: 5px;">
        <strong>{{room.name}} - {{room.availableBeds}} Available</strong>
    </div>
    <div class="fr">
        <div class="fl" ng-repeat="tag in ['AVAILABLE', 'OCCUPIED']" style="margin-right: 5px;">
            <div class="bed-tag fl {{tag}}">
                <div class="bed-space"></div>
            </div>
            <div class="fl" style="margin-top: 5px; padding: 0 5px;">{{tag | titleCase}}</div>
        </div>
    </div>
</div>

<div ng-repeat="row in room.beds" class="clearfix">
    <div ng-repeat="cell in row">
        <div class="bed" ng-if="!cell.bed.bedId"></div>
        <div class="bed {{ cell.bed.status }}" ng-class="{'highlight-bed': cell.bed.bedNumber===$root.selectedBedInfo.bed.bedNumber, 'highlight-old-bed': cell.bed.bedNumber===$root.bedDetails.bedNumber}"
            ng-if="cell.bed.bedId" ng-click="onSelectBed(cell.bed)">
            <div class="bed-space">

            </div>
            <div class="bed-details">
                <span>{{ cell.bed.bedNumber }}</span>
                <div ng-if="cell.bed.status === 'OCCUPIED'">
                    <span> {{ cell.bed.patient.identifiers[0].identifier }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

