<div id="rooms" class="clearfix">
    <div id="room">
        <div id="roomDetails" class="clearfix">
            <span>Total Beds : {{ ward.totalBeds }}</span>
            <br/>
            <span>Available Beds : {{ ward.totalBeds - ward.occupiedBeds }}</span>
        </div>
    </div>
    <div id="room" ng-repeat="room in ward.rooms">
        <div id="roomDetails" class="clearfix" ng-click="onSelectRoom(room.name)">
            <span>{{ room.name }} ( Total Beds : {{ room.totalBeds }} )</span><br/>
            <span>Available Beds : {{ room.availableBeds }}</span>
        </div>
    </div>
</div>

<div id="bedLayout" ng-if="isRoomSelected()">
    <room room="room"></room>
</div>
