.audit-log-filter, .audit-log-table {
  border: 1px solid $lightGray;
  background: $white;
  border-radius: 3px;
  overflow: hidden;
  margin: 5px 0 10px;
  header {
    font-family: OpenSans, Arial, sans-serif;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 16px;
    clear: both;
    background: #669999;
    position: relative;
    border-radius: 2px 2px 0 0;
  }
  .button {
    border-radius: 3px;
    background: linear-gradient(to bottom, #A1D030, #88af28);
    background-color: #88af28;
    border: #88af28 1px solid;
    padding: 5px 14px;
    display: inline-block;
    line-height: 1.2em;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 0;
    max-width: 300px;
    text-decoration: none;
    font-size: 12px;
    border-color: #7b9f24;
    float: right;
    &:hover {
      background: #8eb82a;
      border-color: #779b23;
    }
  }
}

.audit-log-filter {
  article {
    padding: 10px;
    border-bottom: 1px solid $lightGray;
    vertical-align: middle;
    &:last-child {
      border: none;
    }
    label {
      display: inline-block;
      font-weight: bold;
    }
    p {
      display: inline-block;
      margin-left: 1%;
      input {
        padding: 0;
      }
    }
    form {
      display: flex;
      align-items: center;
      button[type="submit"] {
        margin-left: auto;
      }
      > div {
        display: flex;
        align-items: center;
        label {
          margin-top: 4px !important;
        }
        input {
          margin-top: 8px;
        }
      }
    }
  }
}

.audit-log-table-buttons {
  text-align: center;
  margin: 10px 0;
  .button {
    float: none;
  }
}

.audit-log-created-at {
  width: 12rem;
}

#auditLogTable {
  tr {
    border-left: 0;
    border-right: 0;
    th, td {
      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
    th {
      border-color: #9c9a9a;
      text-align: center;
    }
  }
}