.orderSet-dashboard-container{
  .section-title-wrapper{
    background-color: #669999;
    padding: 5px 10px 1px;
  }
  ul.orderSet-list{
    margin: 15px;
    @include column(4);
    li{
      display: block;
      a{
        display: block;
        padding-right: 15px;
        padding-bottom: 5px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.orderSet-container{
  .orderSet-form{
    padding: 0 20px 20px;
    .new-orderSet-wrapper{
      padding: 20px;
    }
    .form-field{
      float: left;
      input[type="text"]{
        padding: 2px 10px;
      }
      .field-attribute label{
        width: 8em;
      }
    }
  }
  .orderSetMember-wrapper{
    fieldset{
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      .form-field{
        width: 100%;
        .field-attribute label{
          width: 15em;
        }
      }
      .remove-orderSet{
        margin-left: 60px;
      }
      legend{
        border: 1px #999 solid;
        border-radius: 20px;
        padding: 2px 10px;
        text-transform: none;
        font-size: 12px;
        font-family: openSansBold;
        color: #666;
        margin: 10px;
      }
    }
  }
}

.registraion_legend span.mylegend {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  padding: 5px 6px;
  margin-left: 25px;
  position: relative;
}
.registraion_legend {
  margin: 15px 0 15px 25px;
  position: relative;
  width: 99.8%;
}
.registraion_legend:before {
  content: "";
  border-top: 1px #ccc solid;
  position: absolute;
  top: 14px;
  width: 96%;
}
.mylegend {
  background: #eee;
  font-size: 14px;
  width: 99.8%;
  line-height: 16px;
  margin-bottom: 20px;
  padding: 3px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}


