.orderSet-dashboard-container{
  .section-title-wrapper{
    background-color: #669999;
    padding: 5px 10px 1px;
  }
  table.orderSet-list{
    border: 0;
    tr{
      border: 0;
      border-bottom: 1px solid #ddd;
      th{
        text-align: left;
        border: 0;
        border-bottom: 1px solid #ddd;
        font-weight: 700;
        background: #ddd;
        color: #363463;
        padding: 8px;
      }
      &:nth-child(even),&:nth-child(odd){
        background:#fff!important;
        padding:4px 8px;
      }
      td{
        border: 0;
        display: block;
        a{
          display: block;
          padding-right: 15px;
          padding-bottom: 5px;
          font-size: 16px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

  }
}
.orderSet-container{
  .orderSet-form{
    padding: 0 20px 20px;
    .new-orderSet-wrapper{
      padding: 20px 0;
    }
    .form-field{
      float: left;
      input[type="text"]{
        padding: 2px 10px;
      }
      .field-attribute label{
        width: auto;
      }
    }
    .submit-btn-container{
      margin: 0 20px;
      input[type="submit"]{
        margin-left:10px;
        background: linear-gradient(to bottom, #A1D030 , #88af28 );
        background-color: #88af28 ;
        border: #88af28  1px solid;
        &:hover {
          background: #8eb82a ;
          border-color: #779b23 ;
        }
      }
    }

  }
  .orderSetMember-wrapper{
    .add-more-btn{
      margin: 0 0 20px;
    }
    fieldset{
      margin-bottom: 10px;
      .form-field{
        .field-attribute label{
          width: auto;
          float:left;
        }
      }
      .remove-orderSet{
        margin-left: 60px;
      }
      legend{
        background: #eee !important;
        font-size: 14px;
        width: 99.8%;
        line-height: 16px;
        margin-bottom: 20px;
        padding: 3px 0;
        border-radius: 3px;
        border: 1px solid #ccc;
        display: block;
        span {
          display: inline-block;
          padding: 2px 10px;
          font-weight: bold;
        }
      }
    }
  }
}

.orderSetMember-wrapper ,.new-orderSet-wrapper{
  overflow: hidden;
  margin: 20px 20px 10px;
  .row{
    float: left;
    width: 100%;
    .col1 {
      margin-top: 0;
      label.add-new {margin-top: 10px; font-size: 12px;}
      width: 30%;
      float: left;
    }
    .col2 {
      width: 33%;
      float: left;
      text-align: left;
    }
    .col3 {
      width: 27%;
      float: left;
      text-align: right;
      .primaryDrug-text{
        display: inline-block;
        float: left;
        padding-right: 20px;
        padding-top: 12px;
      }
      .field-attribute{
        input[type="checkbox"]{
          margin-top:12px;
        }
      }
    }
  }
}



