.file-viewer-modal {
    width: 100%;
    height: 100%;
}

.file-modal {
    width: 100%;
    height: auto;
}

.modal-comment {
    border: 1px solid #b4b7b9;
    border-radius: 4px;
    padding: 5px;
}