<section class="first">
	<section>
		<header>{{filterHeader}}</header>
		<ul class="filters">
			<li ng-click="showAll()" ng-class="{selected: !hasFilter()}">
				<a href="">All</a>
			</li>
			<li ng-repeat="filter in filters | orderBy:'name'" ng-click="filterBy(filter)" ng-class="{selected: isFilteredBy(filter)}">
				<a href="">{{filter.name}}</a>
			</li>
		</ul>
	</section>
	<section class="investigation-results">
		<form>
		    <fieldset>
		        <legend>Review Selection</legend>
		        <div id="selectedNodesArea" tabindex="0">
		            <span ng-repeat="investigation in investigations" class="selectedNode" 
		                ng-class="{panel: investigation.concept.set, voided: investigation.voided}">
		                <span class="test-name">{{investigation.concept.name}}</span>
		                <button class="icon-remove icon-white" ng-click="toggleInvestigation(investigation)"></button>
		            </span>
		        </div>
		    </fieldset>
		</form>
	</section>

</section>
<section class="last">
	<p ng-hide="hasTests()">There are no tests. Please setup tests</p>
	<section ng-show="filteredPanels.length">
		<header>Panels</header>
		<ul class="panels" >
			<li ng-repeat="panel in filteredPanels | orderBy:'name'" ng-click="panel.toggle()">
				<span class="icon-ok" ng-show="panel.isSelected()"></span>
				{{panel.name}}
			</li>
		</ul>
	</section>
	<ul class="categories">
		<li ng-repeat="category in categories | orderBy:'name'" ng-show="category.hasTests()">
			<header>{{category.name}}</header>
			<ul class="tests">
				<li ng-repeat="test in category.filteredTests | orderBy:'name'" ng-click="test.toggle()">
					<span class="icon-ok" ng-show="test.isSelected()"></span>
					{{test.name}}
				</li>
			</ul>
		</li>
	</ul>
</section>