<div class="investigation">
    <div id="tabButtonRow">
    	<button ng-repeat="tab in tabs" class="{{tab.klass}}" ng-click="activateTab(tab)">{{tab.name}} </button>
    </div>
    <div ng-switch="activeTab" class="investigation-selection">
        <div ng-switch-default>
		    <div investigations-selector class="two-column" tests-provider="activeTab.testsProvider" filter-column="{{activeTab.filterColumn}}" filter-header="{{activeTab.filterHeader}}" category-column="{{activeTab.categoryColumn}}" ng-model="consultation.investigations">
    		</div>
        </div>
    </div>
 </div>

