<article class="visit">
    <article bindonce="visitSummary">
        <div bo-hide="visitSummary.hasEncounters()" class="info-message">
                    <p>There are no encounter for this patient</p>
        </div>

        <div ng-include="'../consultation/modules/patient-dashboard/views/diagnosisSummary.html'"/>
        <div ng-include="'../consultation/modules/patient-dashboard/views/dispositionSummary.html'"/>
        <div ng-include="'../consultation/modules/patient-dashboard/views/visitDaySummary.html'"/>
    </article>
</article>