
@import "compass";
// dependencies from openmrs ui commons
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/vendor/normalize";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/variables";
$fontPath: "../components/openmrs-uicommons/omod/src/main/webapp/resources/fonts"; //overwritting the path of the fonts file to point to correct file location.
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fragments/base";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fragments/grid";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fragments/header";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fragments/buttons";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fonts/fonts";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fonts/font-awesome";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fonts/icomoon";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fragments/form-navigator-ui";
@import "../components/openmrs-uicommons/scss/src/main/resources/sass/reference/fragments/notifications";

// JSS css files
@import "opd/jss-ui-common";
@import "opd/layout";
@import "opd/patientSearch";
@import "opd/visit";
@import "opd/consultation";
@import "opd/investigation";
@import "opd/diagnosis";
@import "opd/treatment";
@import "opd/trends";
@import "bed-management/wardLayout";
@import "opd/vitals";
@import "opd/patientDashboard";
@import "opd/upload";


