<section ng-if="hasData" class="dashboard-section">
    <h2 class="section-title">{{displayName || diseaseName}}</h2>
    <table class="h-scroll pivot-table">
        <thead>
        <tr>
            <th>Visits</th>
            <th ng-repeat="conceptDetail in result.conceptDetails">
                <span>{{conceptDetail.name}}</span>
                <span class="range" ng-if="conceptDetail.lowNormal">
                    <span>({{conceptDetail.lowNormal}} - {{conceptDetail.hiNormal}})</span>
                    <span class="units">{{conceptDetail.units}}</span>
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(visitDate,values) in result.tabularData">
            <td>
                <strong>{{visitDate | date: 'dd MMM yy'}}</strong>
            </td>
            <td ng-repeat="conceptDetail in result.conceptDetails"
                ng-class="{'is-abnormal': result.tabularData[visitDate][conceptDetail.name].abnormal}">
                {{result.tabularData[visitDate][conceptDetail.name].value}}
            </td>
        </tr>
        </tbody>
    </table>
</section>