<div class="patient-info-fixed-postion-container" id="patientContext">
    <div class="patient-info-fixed">
        <ul class="hidden-mobile">
            <li class="patient-name-image-container">
                <img class="patient-image" ng-src="{{::patientContext.image}}" fallback-src='../images/blank-user.gif'>
                <span class="patient-name" ng-if="showNameAndImage" >
                  {{patientContext.givenName}} {{patientContext.familyName}}
                </span>
                <span class="patient-name">
                    ({{patientContext.identifier}})
                </span>
                <span class="custom-attr-icon" ng-if="showIcon">
                    <i class="ipd-indication context-icon-style" ng-class="iconAttributeConfig.icon" ng-style="{{iconAttributeConfig.iconStyle}}"></i>
                </span>
            </li>
            <li>{{patientContext.gender}}</li>
            <li>{{patientContext.birthdate | birthDateToAgeText}}</li>
            <li ng-repeat="(key, value) in patientContext.personAttributes">
                {{::value.description |translate}}: {{value.value}}
            </li>
            <li ng-repeat="(key, value) in patientContext.additionalPatientIdentifiers">
                {{::key |translate}}: {{value}}
            </li>
            <li ng-repeat="(key, value) in patientContext.programAttributes">
                {{::value.description |translate}}: {{value.value}}
            </li>
        </ul>
        <div class="patient-info hidden-tablet-above">
            <button type="button" class="prev-page" history-back ng-if="!allowNavigation">
                <i class="fa fa-arrow-left"></i>
            </button>
            <button type="button" class="prev-page" ng-if="allowNavigation" ng-click="navigate()">
                <i class="fa fa-arrow-left"></i>
            </button>
            <span class="name">{{patientContext.givenName}} {{patientContext.familyName}}</span>
            <span class="gender-age">({{patientContext.birthdate | birthDateToYears}}, {{patientContext.gender.slice(0,1)}})</span>
        </div> 
    </div>
</div>