name: Validate PR

on:
 pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 10.16.3
        uses: actions/setup-node@v1
        with:
          node-version: 10.16.3
      - name: Use Ruby 2.5
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5
      - run: npm install -g bower 
      - run: npm install -g grunt-cli 
      - run: gem install compass  
      - run: npm install --global yarn
      - name: Install dependencies
        run: cd ui && yarn install
      - name: Run tests
        run: cd ui && yarn test
      - name: Run linter
        run: cd ui && yarn lint
      - name: Build
        run: cd ui && yarn build
      - name: Package
        run : cd ui && yarn cache clean && /bin/bash ./scripts/package.sh
