<h2 class="has-toggle section-title" ng-if="config | titleTranslate" ng-click="toggleDisplay()">
    <i class="fa fa-caret-right" ng-hide="toggle"></i>
    <i class="fa fa-caret-down ng-hide" ng-show="toggle"></i>
    <span class="section-label">{{ config | titleTranslate}}</span>
</h2>
<p class="placeholder-text" ng-if="drugOrders && drugOrders.length == 0">{{'NO_DRUG_DETAILS_MESSAGE' | translate}} </p>
<table class="drug-order-table treatments-details-table" ng-show="toggle">
    <tr>
        <th ng-if="drugOrders.length > 0" ng-repeat="columnName in columnHeaders">{{columnName | translate}}</th>
    </tr>
    <tbody ng-if="drugOrders.length > 0" ng-repeat="drugOrder in drugOrders">
        <tr>
            <td ng-if="::shouldShow('drugName')" class="drug">
                <span>{{::drugOrder.getDrugOrderName(false)}}</span>
            </td>
            <td ng-if="::shouldShow('dosage')">
                {{::drugOrder.dosage}}
            </td>
            <td ng-if="::shouldShow('route')">
                {{::drugOrder.route}}
            </td>
            <td ng-if="::shouldShow('frequency')">
                <span>{{::drugOrder.getFrequency()}}</span>
            </td>
            <td ng-if="::shouldShow('startDate')">
                <span>{{::drugOrder.effectiveStartDate | bahmniDate}}</span>
            </td>
            <td ng-if="::shouldShow('stopDate')">
                <span ng-if="drugOrder.isDiscontinuedOrStopped()">{{::drugOrder.effectiveStopDate | bahmniDate}} </span>
            </td>
            <td ng-if="::shouldShow('stopReason')">
                <span ng-if="drugOrder.orderReasonConcept">{{::drugOrder.orderReasonConcept.display || drugOrder.orderReasonConcept.name}}</span>
            </td>
            <td ng-if="::shouldShow('stopReasonNotes')">
                <span ng-if="drugOrder.orderReasonText">{{::drugOrder.orderReasonText}}</span>
            </td>
        </tr>
    </tbody>
</table>