<section>
    <h2 class="has-toggle section-title" ng-if="config | titleTranslate" ng-click="toggleDisplay()">
        <i class="fa fa-caret-right" ng-hide="toggle"></i>
        <i class="fa fa-caret-down ng-hide" ng-show="toggle"></i>
        <span class="section-label">{{ config | titleTranslate }}</span>
    </h2>
    <div class="drugOrderTable" ng-if="toggle && drugOrders && drugOrders.length > 0">
        <p class="placeholder-text" ng-if="drugOrders && drugOrders.length == 0" ng-show="toggle">
            {{'NO_DRUG_DETAILS_MESSAGE' | translate}}
        </p>
        <div class="drugOrderTableScroll noOfActions-{{::config.actions.length}}-width">
            <table class="drug-order-table treatments-details-table"  ng-class="{'drug-order-table-discontinue' : drugOrder.isMarkedForDiscontinue }">
                <thead>
                <tr>
                    <th ng-repeat="columnName in columns" ng-class="{ 'active-drugs' : columns.length ===5 ,
                    '{{::columnName}}':true }"><span>{{columnHeaders[columnName] | translate}}</span></th>
                    <th class="empty-header noOfActions-{{::config.actions.length}}-width">{{ 'MEDICATIONS_ACTIONS_LABEL'|translate }}</th>
                </tr>
                </thead>
                <tbody ng-repeat="drugOrder in drugOrders">
                <tr ng-class="{'highlight' : drugOrder.isBeingEdited, 'edited' : drugOrder.isMarkedForDiscontinue}">
                    <td ng-repeat="columnName in columns" class="{{columnName}}" ng-class="{'drugNameStopForm' : drugOrder.isMarkedForDiscontinue && columnName === 'drugName' ,'drugNameAddNote': drugOrder.showAdditionalInstructions  && columnName === 'drugName' ,'drugNameStopFormAddNote':  drugOrder.isMarkedForDiscontinue && drugOrder.showAdditionalInstructions  && columnName === 'drugName'}">
                        <span ng-if="columnName === 'dosage'">{{::drugOrder.getDoseAndUnits()}}</span>
                    <span ng-if="columnName === 'drugName' && !isDrugOrderSet" title="{{::drugOrder.getDrugOrderName(false)}}">
                        {{::drugOrder.getDrugOrderName(false)}}
                    </span>
                    <span ng-if="columnName === 'drugName' && isDrugOrderSet" title="{{::drugOrder.drugNameDisplay}}">
                        <input type="checkbox" ng-model="drugOrder.include" ng-click="checkConflictingDrug(drugOrder)" class="fl orderSetStagingAreaCheckbox"/>
                        {{::drugOrder.drugNameDisplay}}
                    </span>
                        <span ng-if="columnName === 'route'">{{::drugOrder.route}}</span>
                        <span ng-if="columnName === 'duration'">{{::drugOrder.getDurationAndDurationUnits()}}</span>
                    <span ng-if="columnName === 'frequency'">
                        {{::drugOrder.getFrequency()}}
                        <span ng-if="drugOrder.asNeeded">
                            , {{::'MEDICATION_AS_NEEDED' | translate}}
                        </span>
                    </span>
                        <span ng-if="columnName === 'startDate'">{{::drugOrder.effectiveStartDate | bahmniDate}}</span>
                        <span ng-if="columnName === 'stopDate' && drugOrder.isDiscontinuedOrStopped()">{{::drugOrder.effectiveStopDate | bahmniDate}}</span>
                    <span ng-if="columnName === 'stopReason' && drugOrder.orderReasonConcept && drugOrder.isDiscontinuedOrStopped()">
                        {{::drugOrder.orderReasonConcept.display || drugOrder.orderReasonConcept.name}}
                        <span ng-if="drugOrder.orderReasonText"> - {{::drugOrder.orderReasonText}}</span>
                    </span>
                        <span ng-if="columnName === 'instructions'">{{::drugOrder.instructions}}</span>
                        <span ng-if="columnName === 'quantity'">{{::drugOrder.getQuantityWithUnit()}}</span>
                    </td>
                    <td class="buttonColumn"  ng-class="{'noActionColumn' :!config.actions ,
                            'noActionColumnAddNote' : !config.actions && drugOrder.showAdditionalInstructions ,
                            'buttonColumnStopForm' : drugOrder.isMarkedForDiscontinue ,
                            'buttonColumnAddNote': drugOrder.showAdditionalInstructions ,
                            'noOfActions-{{::config.actions.length}}-width' :true,
                            'buttonColumnStopFormAddNote' : drugOrder.isMarkedForDiscontinue && drugOrder.showAdditionalInstructions }">
                        <div class="button-group-wrapper">
                            <div class="button-group" ng-if="config.actions"  ng-repeat="actionName in config.actions">
                                <button ng-if="actionName=='void'" ng-confirm-click="remove(drugOrder)"
                                        confirm-message="{{ 'REMOVE_DRUG_ORDER_KEY' | translate: {drugName :drugOrder.drugNameDisplay} }}" ><i class="fa fa-remove"></i></button>
                                <button ng-if="actionName=='revise'" ng-disabled="!drugOrder.isActive() || !drugOrder.isEditAllowed" ng-click="revise(drugOrder, drugOrders)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button ng-if="actionName=='edit'" ng-disabled="!drugOrder.include || !drugOrder.isActive() || !drugOrder.isEditAllowed" ng-click="edit(drugOrder)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="undo-btn" ng-if=" actionName=='stop' && drugOrder.isMarkedForDiscontinue" ng-disabled="!drugOrder.isActive() || !drugOrder.isDiscontinuedAllowed" ng-click="undoDiscontinue(drugOrder)">
                                    <i class="fa fa-undo"></i>
                                </button>
                                <button class="stop-drug-btn" ng-if="actionName=='stop' && !drugOrder.isMarkedForDiscontinue" ng-disabled="!drugOrder.isActive() || !drugOrder.isDiscontinuedAllowed" ng-click="discontinue(drugOrder)">
                                    {{ 'MEDICATIONS_STOP_LABEL'|translate }}
                                </button>
                                <button class="refill-btn" ng-if="actionName=='refill'" ng-disabled="!drugOrder.effectiveStopDate || drugOrder.isDrugRetired" ng-click="refill(drugOrder)">
                                    {{ 'MEDICATIONS_REFILL_LABEL'|translate }}
                                </button>
                            </div>
                            <button class="toggle" ng-class="{'has-notes': drugOrder.additionalInstructions}" toggle="drugOrder.showAdditionalInstructions">
                                <i class="fa fa-plus-circle"></i>
                                <i class="fa fa-minus-circle"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr ng-if="drugOrder.showAdditionalInstructions" class="medicationDrugNotes">
                    <td colspan="{{columns.length + 1}}" class="form drug-stop-container">
                        <div ng-show="drugOrder.showAdditionalInstructions" class="notes inline-notes">
                            <span class="additionalInstructions fl">{{::drugOrder.additionalInstructions}}</span>
                            <div class="footer-note fl">
                            <span class="time-stamp">
                                <span class="time">{{drugOrder.dateActivated | bahmniDate}}</span>
                            </span>
                            <span class="provider">
                                <provider-directive creator-name="{{drugOrder.creatorName}}" provider-name="{{drugOrder.provider.name}}"></provider-directive>
                            </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="drugOrder.isMarkedForDiscontinue" ng-class="{'formStopReason' : drugOrder.isMarkedForDiscontinue}">
                    <td colspan="{{columns.length + 1}}" class="form drug-stop-container">
                        <article class="form-field">
                            <div class="field-attribute stop-date-label">
                                <label class="control-label">{{ 'DRUG_DETAILS_STOP_DATE'|translate }}</label>
                            </div>
                            <div class="field-value">
                                <input id="date-stopped" type="date" min="{{::getMinDateForDiscontinue(drugOrder)}}"
                                       max="{{::scheduledDate}}" ng-model="drugOrder.dateStopped"
                                       required="required">
                            </div>
                            <div class="field-value" ng-if="config.captureStopReason">
                                <select id="stopped-reason" class="form-field instruction" ng-change="updateFormConditions(drugOrder)" ng-model="drugOrder.orderReasonConcept" ng-options="item as item.display for item in stoppedOrderReasons">
                                    <option value="">{{ 'MEDICATION_RECENT_TAB_STOP_REASON' | translate }}</option>
                                </select>
                            </div>
                            <div class="field-value" ng-if="config.captureStopReason">
                            <textarea ng-disabled="!drugOrder.orderReasonNotesEnabled" rows="1" id="stopped-reason-non-coded" class="form-field drug-order-notes" placeholder="{{ 'MEDICATION_RECENT_TAB_STOP_NOTES' | translate}}"
                                      ng-model="drugOrder.orderReasonText"></textarea>
                            </div>
                        </article>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>